a{
    text-decoration: none;
    color: inherit;
}
a:link, a:visited, a:focus{
    text-decoration: none;
    color: inherit;
    font-size: 1em;
}
.product-wrapper{
    margin:0.5em 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.product-item{
    display: flex;
    height: 8em;
    width: 25%;
    justify-content: center;
    align-items: center;
    margin:2em;
    border: 3px solid black;
    min-width: 10em;
    cursor: pointer;
    box-sizing: border-box;
    padding: 0.5em;
}
.prod-item-title{
    width:100%;
    text-align: center;
    font-size: 1.3em;
}
.prod-item-description{
    font-size: 1em;
    text-align: center;
}
.prod-alignment-items{
    height: 0px;
    border:none;
    padding: 0px;
}
.product-item:hover .prod-item-title{
    color: #273cb6 !important;
    font-weight: bold !important;
    font-size: 1.5em;
}
