swagger: "2.0"
info:
  description: "Provides APIs to perform operations on Credit Notes"
  version: "1.0.0"
  title: "Credit Note APIs"
host: "api-plato.us.oracle.com:8080"
basePath: "/obscfcm-instruments-receivables-services"
consumes:
  - "application/json"
  - "application/xml"
produces:
  - "application/json"
  - "application/xml"
tags:
  - name: "CreditNoteService"
    description: "APIs for CreditNote Service layer Operations"

paths:
  /service/v1/createCreditNote:
    post:
      tags:
        - "CreditNoteService"
      summary: "Create new CreditNote from external channels"
      description: "Create new CreditNote from external channels"
      operationId: "createCreditNote"
      parameters:
        - name: "creditNoteCollection"
          in: "body"
          description: "Request Body that contains data required for creating a new CreditNote."
          required: true
          schema:
            $ref: "./CreditNoteDef.yaml#/definitions/CreditNoteCollection"
        - name: "appId"
          in: "header"
          description: "Application Id"
          type: "string"
          required: true
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "User Id"
        - name: "branchCode"
          in: "header"
          description: "Branch Code"
          type: "string"
          required: true
      responses:
        201:
          description: "Returns the details of the newly created credit note"
          schema:
              $ref: "./CreditNoteDef.yaml#/definitions/CreateCreditNoteResponseCollection"
        400:
          description: "Bad Request"
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
  /service/v2/createCreditNote:
    post:
      tags:
        - "CreditNoteService"
      summary: "Create new CreditNote V2 from external channels"
      description: "Create new CreditNote V2 from external channels"
      operationId: "createCreditNoteV2"
      parameters:
        - name: "creditNoteCollection"
          in: "body"
          description: "Request Body that contains data required for creating a new CreditNote."
          required: true
          schema:
            $ref: "./CreditNoteDef.yaml#/definitions/CreditNoteCollection"
        - name: "appId"
          in: "header"
          description: "Application Id"
          type: "string"
          required: true
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "User Id"
        - name: "branchCode"
          in: "header"
          description: "Branch Code"
          type: "string"
          required: true
      responses:
        200:
          description: "Returns the details of the newly created credit note"
          schema:
              $ref: "./CreditNoteDef.yaml#/definitions/CreateCreditNoteV2ResponseCollection"
        400:
          description: "Bad Request"
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"            
  /service/v1/creditNoteSearch:
    get:
      tags:
        - "CreditNoteService"
      summary: "Retrieves the list of existing Credit Notes."
      description: "Retrieves the list of existing Credit Notes."
      operationId: "getCreditNotes"
      parameters:
        - name: "appId"
          in: "header"
          description: "Application Id"
          type: "string"
          required: true
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "User Id"
        - name: "branchCode"
          in: "header"
          description: "Branch Code"
          type: "string"
          required: true
        - name: "cnNumber"
          in: "query"
          description: "Credit Note Number"
          type: "string"
          required: false
        - name: "creditNoteRefNo"
          in: "query"
          description: "Credit Note Reference Number"
          type: "string"
          required: false
        - name: "cnStatus"
          in: "query"
          description: "Credit Note Status"
          required: false
          type: "string"
        - name: "fileName"
          in: "query"
          description: "File name which created the Credit Note"
          required: false
          type: "string"
        - name: "transactionRefNo"
          in: "query"
          description: "Transaction Reference Number"
          required: false
          type: "string"
        - name: "programCode"
          in: "query"
          description: "Program Code"
          required: false
          type: "string"
        - name: "relationCode"
          in: "query"
          description: "Relation Code"
          required: false
          type: "string"
        - name: "buyerId"
          in: "query"
          description: "Buyer Id"
          required: false
          type: "string"
        - name: "supplierId"
          in: "query"
          description: "Supplier Id"
          required: false
          type: "string"
        - name: "remarks"
          in: "query"
          description: "Remarks"
          required: false
          type: "string"
        - name: "cnDateFrom"
          in: "query"
          description: "Credit Note Date From"
          required: false
          type: "string"
        - name: "cnDateTo"
          in: "query"
          description: "Credit Note Date To"
          required: false
          type: "string"
        - name: "cnExpiryDateFrom"
          in: "query"
          description: "Credit Note Expiry Date From"
          required: false
          type: "string"
        - name: "cnExpiryDateTo"
          in: "query"
          description: "Credit Note Expiry Date To"
          required: false
          type: "string"
        - name: "currency"
          in: "query"
          description: "Currency"
          required: false
          type: "string"
        - name: "cnAmountFrom"
          in: "query"
          description: "Credit Note Amount From"
          required: false
          type: "number"
        - name: "cnAmountTo"
          in: "query"
          description: "Credit Note Amount To"
          required: false
          type: "number"
        - name: "adjustmentReason"
          in: "query"
          description: "Adjustment Reason"
          required: false
          type: "string"
        - name: "forRecon"
          in: "query"
          description: "For Recon"
          required: false
          type: boolean
        - name: "cnReconcilationStatus"
          in: "query"
          description: "Credit Note Reconcilation Status"
          required: false
          type: "string"
        - name: "dateReferenceBasis"
          in: "query"
          description: "Date Reference Basis"
          required: false
          type: "string"
        - name: "dateFrom"
          in: "query"
          description: "Date From for Reference Basis"
          required: false
          type: "string"
        - name: "dateTo"
          in: "query"
          description: "Date To for Reference Basis"
          required: false
          type: "string"
        - name: "offset"
          in: "query"
          description: "Offset"
          required: false
          type: "integer"
        - name: "limit"
          in: "query"
          description: "Limit"
          required: false
          type: "integer"
        - name: "linkInvoiceNumber"
          in: "query"
          description: "Link Invoice Number"
          required: false
          type: "string"
        - name: "srcAppCd"
          in: "query"
          description: "Source Application Code"
          required: false
          type: "string"
        - name: "sourceTxnId"
          in: "query"
          description: "Source Transaction Id"
          required: false
          type: "string"                    
      responses:
        200:
          description: "Returns the details of the Credit Notes"
          schema:
            $ref: "./CreditNoteDef.yaml#/definitions/CreditNoteCollection"
        400:
          description: "Bad Request"
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
  /service/v1/purgeCrnTransaction:
      post:
         tags:
         - "CreditNoteService"
         summary: "Deletes corresponding data upon Transaction Purge"
         description: "Deletes corresponding data upon Transaction Purge"
         operationId: purgeCrnTransaction
         parameters:
         -  name: appId
            in: header
            description: "Application Id"
            type: string
            required: true
         -  name: userId
            in: header
            description: "User Id"
            type: string
            required: true
         -  name: branchCode
            in: header
            description: "Branch Code"
            type: string
            required: true
         -  name: conductorWorkflowModel
            in: body
            description: "Request Body with attributes picked from Workflow"
            required: true
            schema:
               $ref: './CommonDef.yaml#/definitions/ConductorWorkflowModel'
         responses:
            200:
               description: "Response To Workflow after Purging"
               schema:
                $ref: './CommonDef.yaml#/definitions/ConductorWorkflowModel'
            400:
               description: Bad Request
            401:
               description: Request does not have sufficient credentials.
            403:
               description: Request is not authorized.
            405:
               description: Invalid input
            500:
               description: Internal error
  /service/v1/updateCreditNote:
    put:
      tags:
        - "CreditNoteService"
      summary: "Updates the list of existing Credit Notes"
      description: "Updates the list of existing Credit Notes"
      operationId: "updateCreditNotes"
      parameters:
        - name: "appId"
          in: "header"
          description: "Application Id"
          type: "string"
          required: true
        - name: "userId"
          in: "header"
          description: "User Id"
          type: "string"
          required: true
        - name: "branchCode"
          in: "header"
          description: "Branch Code"
          type: "string"
          required: true
        - name: "creditNotes"
          in: "body"
          description: "Request Body that contains data required for updating CreditNotes"
          required: true
          schema:
            $ref: "./CreditNoteDef.yaml#/definitions/CreditNoteCollection"
      responses:
        200:
          description: "Response of the Update operation"
          schema:
            $ref: "./CommonDef.yaml#/definitions/ResponseDtoWrapper"
        400:
          description: "Bad Request"
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
  /service/v1/authorizeCreditNote:
    post:
      tags:
        - "CreditNoteService"
      summary: "Authorize Credit Note "
      description: "Authorize a Credit Note"
      operationId: "authorizeCreditNote"
      parameters:
        - name: "conductorWorkflowModel"
          in: "body"
          description: "Request Body that contains data required to authorize Credit Notes"
          required: true
          schema:
            $ref: './CommonDef.yaml#/definitions/ConductorWorkflowModel'
        - name: "appId"
          in: "header"
          description: "Application Id"
          type: "string"
          required: true
        - name: "userId"
          in: "header"
          description: "User Id"
          type: "string"
          required: true
        - name: "branchCode"
          in: "header"
          description: "Branch Code"
          type: "string"
          required: true
      responses:
        201:
          description: "Returns the authorized credit note status."
          schema:
            $ref: './CommonDef.yaml#/definitions/ConductorWorkflowModel'
        400:
          description: "Bad Request"
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
  /service/v1/getUnauthTwCreditNoteRecord:
    get:
      tags:
        - "CreditNoteService"
      summary: "Retrieves current Unauthorised Credit Note"
      description:  "Retrieves current Unauthorised Credit Note"
      operationId: "getUnauthTwCreditNoteRecord"
      parameters:
      - name: "appId"
        in: "header"
        description: "Application Id"
        type: "string"
        required: true
      - name: "userId"
        in: "header"
        description: "User Id"
        type: "string"
        required: true
      - name: "branchCode"
        in: "header"
        description: "Branch Code"
        type: "string"
        required: true
      - name: "creditNoteRefNo"
        in: "query"
        description: "Credit Note Reference Number"
        required: true
        type: "string"
      responses:
        200:
          description: "Successful performs the operation"
          schema:
            $ref: "./CreditNoteDef.yaml#/definitions/CreditNoteCollection"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"
  /service/v2/updateCreditNote:
    put:
      tags:
        - "CreditNoteService"
      summary: "Updates the list of existing Credit Notes."
      description: "Updates the list of existing Credit Notes."
      operationId: "updateCreditNotes2"
      parameters:
        - name: "appId"
          in: "header"
          description: "Application Id"
          type: "string"
          required: true
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "User Id"
        - name: "branchCode"
          in: "header"
          description: "Branch Code"
          type: "string"
          required: true
        - name: "creditNotes"
          in: "body"
          description: "Request Body that contains data required for updating CreditNotes"
          required: true
          schema:
            $ref: "./CreditNoteDef.yaml#/definitions/CreditNoteCollection"
      responses:
        200:
          description: "Returns the details of updated credit notes"
          schema:
            $ref: "./CreditNoteDef.yaml#/definitions/UpdateCreditNoteResponse"
        400:
          description: "Bad Request"
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error" 