swagger: "2.0"
info:
  description: "Provides APIs to perform operations on Discount Offers"
  version: "1.0.0"
  title: "Discount Offer Service APIs"
host: "api-plato.us.oracle.com:8080"
basePath: "/obscfcm-instruments-receivables-services"
consumes:
  - "application/json"
  - "application/xml"
produces:
  - "application/json"
  - "application/xml"
tags:
  - name: "DiscountOfferService"
    description: "APIs for Discount Offer Service layer Operations"

paths:
  /service/v1/createDiscountOffer:
    post:
      tags:
        - "DiscountOfferService"
      summary: "create the discount offers"
      description:  "Create the discount offers"
      operationId: "createDiscountOffer"
      parameters:
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "userId"
          in: "header"
          type: "string"
          required: true
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "discountOffer"
          in: "body"
          required: true
          schema:
            $ref: './discountOfferDef.yaml#/definitions/DiscountOffer'
      responses:
        200:
          description: "Successful performs the operation"
          schema:
            $ref: './discountOfferDef.yaml#/definitions/DiscountOfferResponseModel'
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"
  /service/v1/discountOfferHistroryByInvoiceNo:  
    get:
      tags:
        - "DiscountOfferService"
      summary: "Retrieves the list of Discount Offers history based on Invoice No "
      description:  "Retrieves the list of Discount Offers history based on Invoice No "
      operationId: "getDiscountOfferHistoryByInvoiceNo"
      parameters:
      - name: "appId"
        in: "header"
        description: "Application Id"
        type: "string"
        required: true
      - name: "userId"
        in: "header"
        description: "User Id"
        type: "string"
        required: true
      - name: "branchCode"
        in: "header"
        description: "Branch Code"
        type: "string"
        required: true
      - name: "invoiceNumber"
        in: "query"
        description: "Invoice Number"
        type: "string"
        required: true
      responses:
        200:
          description: "Successful performs the operation"
          schema:
            $ref: "#/definitions/DiscountOfferHistCollection"          
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"
  /service/v1/discountOffer:  
    post:
      tags:
        - "DiscountOfferService"
      summary: "Retrieves the list of Discount Offers"
      description:  "Retrieves the list of Discount Offers"
      operationId: "getDiscountOfferTwServiceAPI"
      parameters:
      - name: "appId"
        in: "header"
        description: "Application Id"
        type: "string"
        required: true
      - name: "userId"
        in: "header"
        description: "User Id"
        type: "string"
        required: true
      - name: "branchCode"
        in: "header"
        description: "Branch Code"
        type: "string"
        required: true
      - name: "discOfferSearchModel"
        in: "body"
        required: true
        schema:
          $ref: './discountOfferDef.yaml#/definitions/discOfferSearchModel'                                                                                                                       
      responses:
        200:
          description: "Successful performs the operation"
          schema:
            $ref: "#/definitions/DiscountOfferModelCollection"          
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"                   
          