swagger: "2.0"
info:
  description: "Provides APIs to perform Auto Debit transaction on Invoices"
  version: "1.0.0"
  title: "Invoicing Auto Debit Service APIs"
host: "api-plato.us.oracle.com:8080"
basePath: "/obscfcm-instruments-receivables-services"
consumes:
  - "application/json"
  - "application/xml"
produces:
  - "application/json"
  - "application/xml"
tags:
  - name: "AutoDebitService"
    description: "APIs for Invoice Auto Debit Operations"

paths:
  /service/v1/processAutoDebit:
      get:
         tags:
         - AutoDebitService
         summary: Process AutoDebit
         description: Process AutoDebit from EOD
         operationId: processAutoDebit
         parameters:
         -  name: appId
            in: header
            description: "Application Id"
            type: string
            required: true
         -  name: userId
            in: header
            description: "User Id"
            type: string
            required: true
         -  name: branchCode
            in: header
            description: "Branch Code"
            type: string
            required: true
         -  name: branchDate
            in: query
            description: "Branch Date"
            required: true
            type: string
         responses:
            200:
               description: "Returns true for Successful update"
               schema:
                  $ref: "#/definitions/AutoDebitDtoWrapper"
            400:
               description: Bad Request
            401:
               description: Request does not have sufficient credentials.
            403:
               description: Request is not authorized.
            405:
               description: Invalid input
            500:
               description: Internal error 
               
  /service/v1/processAutoDebitTransactionDetails:
      post:
         tags:
         - AutoDebitService
         summary: Process AutoDebit
         description: Process AutoDebit from EOD
         operationId: processAutoDebitTransactionDetails
         parameters:
         -  name: appId
            in: header
            type: string
            required: true
         -  name: userId
            in: header
            type: string
            required: true
         -  name: branchCode
            in: header
            type: string
            required: true
         -  name: "conductorWorkflowModel"
            in: "body"
            description: "Request Body that contains workflow model"
            required: true
            schema:
              $ref: "#/definitions/ConductorWorkflowModel"
         responses:
            200:
               description: "Returns true for Successful update"
               schema:
                  $ref: "#/definitions/ConductorWorkflowModel"
            400:
               description: Bad Request
            401:
               description: Request does not have sufficient credentials.
            403:
               description: Request is not authorized.
            405:
               description: Invalid input
            500:
               description: Internal error 
               
  /service/v1/generateAccounting:
      post:
         tags:
         - AutoDebitService
         summary: Process AutoDebit
         description: Process AutoDebit from EOD
         operationId: generateAccounting
         parameters:
         -  name: appId
            in: header
            type: string
            required: true
         -  name: userId
            in: header
            type: string
            required: true
         -  name: branchCode
            in: header
            type: string
            required: true
         -  name: "conductorWorkflowModel"
            in: "body"
            description: "Request Body that contains workflow model"
            required: true
            schema:
              $ref: "#/definitions/ConductorWorkflowModel"
         responses:
            200:
               description: "Returns true for Successful update"
               schema:
                  $ref: "#/definitions/ConductorWorkflowModel"
            400:
               description: Bad Request
            401:
               description: Request does not have sufficient credentials.
            403:
               description: Request is not authorized.
            405:
               description: Invalid input
            500:
               description: Internal error 
               
               
  /service/v1/createEca:
      post:
         tags:
         - AutoDebitService
         summary: Process AutoDebit
         description: Process AutoDebit from EOD
         operationId: createEca
         parameters:
         -  name: appId
            in: header
            type: string
            required: true
         -  name: userId
            in: header
            type: string
            required: true
         -  name: branchCode
            in: header
            type: string
            required: true
         -  name: "conductorWorkflowModel"
            in: "body"
            description: "Request Body that contains workflow model"
            required: true
            schema:
              $ref: "#/definitions/ConductorWorkflowModel"
         responses:
            200:
               description: "Returns true for Successful update"
               schema:
                  $ref: "#/definitions/ConductorWorkflowModel"
            400:
               description: Bad Request
            401:
               description: Request does not have sufficient credentials.
            403:
               description: Request is not authorized.
            405:
               description: Invalid input
            500:
               description: Internal error  
               
  /service/v1/postToFcubs:
      post:
         tags:
         - AutoDebitService
         summary: Process AutoDebit
         description: Process AutoDebit from EOD
         operationId: fcubsPosting
         parameters:
         -  name: appId
            in: header
            type: string
            required: true
         -  name: userId
            in: header
            type: string
            required: true
         -  name: branchCode
            in: header
            type: string
            required: true
         -  name: "conductorWorkflowModel"
            in: "body"
            description: "Request Body that contains workflow model"
            required: true
            schema:
              $ref: "#/definitions/ConductorWorkflowModel"
         responses:
            200:
               description: "Returns true for Successful update"
               schema:
                  $ref: "#/definitions/ConductorWorkflowModel"
            400:
               description: Bad Request
            401:
               description: Request does not have sufficient credentials.
            403:
               description: Request is not authorized.
            405:
               description: Invalid input
            500:
               description: Internal error  
               
  /service/v1/approveAccounting:
      post:
         tags:
         - AutoDebitService
         summary: Process AutoDebit
         description: Process AutoDebit from EOD
         operationId: approveAccounting
         parameters:
         -  name: appId
            in: header
            type: string
            required: true
         -  name: userId
            in: header
            type: string
            required: true
         -  name: branchCode
            in: header
            type: string
            required: true
         -  name: "conductorWorkflowModel"
            in: "body"
            description: "Request Body that contains workflow model"
            required: true
            schema:
              $ref: "#/definitions/ConductorWorkflowModel"
         responses:
            200:
               description: "Returns true for Successful update"
               schema:
                  $ref: "#/definitions/ConductorWorkflowModel"
            400:
               description: Bad Request
            401:
               description: Request does not have sufficient credentials.
            403:
               description: Request is not authorized.
            405:
               description: Invalid input
            500:
               description: Internal error 
               
  /service/v1/updateProcessedAutoDebitInvoices:
      post:
         tags:
         - AutoDebitService
         summary: Process AutoDebit
         description: Process AutoDebit from EOD
         operationId: updateProcessedAutoDebitInvoices
         parameters:
         -  name: appId
            in: header
            type: string
            required: true
         -  name: userId
            in: header
            type: string
            required: true
         -  name: branchCode
            in: header
            type: string
            required: true
         -  name: "conductorWorkflowModel"
            in: "body"
            description: "Request Body that contains workflow model"
            required: true
            schema:
              $ref: "#/definitions/ConductorWorkflowModel"
         responses:
            200:
               description: "Returns true for Successful update"
               schema:
                  $ref: "#/definitions/ConductorWorkflowModel"
            400:
               description: Bad Request
            401:
               description: Request does not have sufficient credentials.
            403:
               description: Request is not authorized.
            405:
               description: Invalid input
            500:
               description: Internal error
               
  /service/v1/updateAutoDebitMasterStatus:
      post:
         tags:
         - AutoDebitService
         summary: Process AutoDebit
         description: Process AutoDebit from EOD
         operationId: updateAutoDebitMasterStatus
         parameters:
         -  name: appId
            in: header
            type: string
            required: true
         -  name: userId
            in: header
            type: string
            required: true
         -  name: branchCode
            in: header
            type: string
            required: true
         -  name: "conductorWorkflowModel"
            in: "body"
            description: "Request Body that contains workflow model"
            required: true
            schema:
              $ref: "#/definitions/ConductorWorkflowModel"
         responses:
            200:
               description: "Returns true for Successful update"
               schema:
                  $ref: "#/definitions/ConductorWorkflowModel"
            400:
               description: Bad Request
            401:
               description: Request does not have sufficient credentials.
            403:
               description: Request is not authorized.
            405:
               description: Invalid input
            500:
               description: Internal error 
               
               
  /service/v1/cancelEcaForFailedInvoices:
      post:
         tags:
         - AutoDebitService
         summary: Process AutoDebit
         description: Process AutoDebit from EOD
         operationId: cancelEcaForFailedInvoices
         parameters:
         -  name: appId
            in: header
            type: string
            required: true
         -  name: userId
            in: header
            type: string
            required: true
         -  name: branchCode
            in: header
            type: string
            required: true
         -  name: "conductorWorkflowModel"
            in: "body"
            description: "Request Body that contains workflow model"
            required: true
            schema:
              $ref: "#/definitions/ConductorWorkflowModel"
         responses:
            200:
               description: "Returns true for Successful update"
               schema:
                  $ref: "#/definitions/ConductorWorkflowModel"
            400:
               description: Bad Request
            401:
               description: Request does not have sufficient credentials.
            403:
               description: Request is not authorized.
            405:
               description: Invalid input
            500:
               description: Internal error 
               
               
  /service/v1/removeFailedAndAuthorizeSuccessfulInvoices:
      post:
         tags:
         - AutoDebitService
         summary: Process AutoDebit
         description: Process AutoDebit from EOD
         operationId: removeFailedAndAuthorizeSuccessfulInvoices
         parameters:
         -  name: appId
            in: header
            type: string
            required: true
         -  name: userId
            in: header
            type: string
            required: true
         -  name: branchCode
            in: header
            type: string
            required: true
         -  name: "conductorWorkflowModel"
            in: "body"
            description: "Request Body that contains workflow model"
            required: true
            schema:
              $ref: "#/definitions/ConductorWorkflowModel"
         responses:
            200:
               description: "Returns true for Successful update"
               schema:
                  $ref: "#/definitions/ConductorWorkflowModel"
            400:
               description: Bad Request
            401:
               description: Request does not have sufficient credentials.
            403:
               description: Request is not authorized.
            405:
               description: Invalid input
            500:
               description: Internal error
               
  /service/v1/processLimits:
      post:
         tags:
         - AutoDebitService
         summary: Process AutoDebit
         description: Process AutoDebit from EOD
         operationId: processLimits
         parameters:
         -  name: appId
            in: header
            type: string
            required: true
         -  name: userId
            in: header
            type: string
            required: true
         -  name: branchCode
            in: header
            type: string
            required: true
         -  name: "conductorWorkflowModel"
            in: "body"
            description: "Request Body that contains workflow model"
            required: true
            schema:
              $ref: "#/definitions/ConductorWorkflowModel"
         responses:
            200:
               description: "Returns true for Successful update"
               schema:
                  $ref: "#/definitions/ConductorWorkflowModel"
            400:
               description: Bad Request
            401:
               description: Request does not have sufficient credentials.
            403:
               description: Request is not authorized.
            405:
               description: Invalid input
            500:
               description: Internal error
  /service/v1/getAutoDebitTxns/{executionId}:
      get:
         tags:
         - "AutoDebitService"
         summary: "Get auto debit transactions"
         description:  "Get auto debit transactions"
         operationId: "getAutoDebitTxns"
         parameters:
         - name: "executionId"
           in: "path"
           description: "Batch Job Execution Id"
           required: true
           type: "string"
         - name: "appId"
           in: "header"
           type: "string"
           required: true
           description: "Application Id"
         - name: "userId"
           in: "header"
           type: "string"
           required: true
           description: "User id for SMS"
         - name: "branchCode"
           in: "header"
           type: "string"
           required: true
           description: "Branch Code"
         - name: "contentType"
           in: "header"
           type: "string"
           required: false
           description: "Content Type"
         responses:
           200:
             description: "Successful performs the operation"
             schema:
               $ref: "#/definitions/AutoDebitTxnCollection"
           400:
             description: "Malformed syntax."
           401:
             description: "Request does not have sufficient credentials."
           403:
             description: "Request is not authorized."
           500:
             description: "Internal error"

definitions:       
  AutoDebitDtoWrapper:
    description: "CmcCurrency Utility Dto Wrapper"
    type: "object"
    properties:
      messages:
        $ref: "#/definitions/ResponseDto"
      data:
        $ref: "#/definitions/ConductorWorkflowModel"
  AutoDebitTxnDetailsDto:
    type: object
    properties:
      id:
        type: string
      autoDebitGrpType:
        type: string
      txnRefNo:
        type: string
      autoDebitPartyRole:
        type: string
      autoDebitCounterPartyRole:
        type: string
      autoDebitPartyId:
        type: string
      autoDebitCounterPartyId:
        type: string
      autoDebitPartyName:
        type: string
      autoDebitCounterPartyName:
        type: string
      autoDebitPartyDivCode:
        type: string
      autoDebitCounterPartyDivCode:
        type: string
      autoDebitAccType:
        type: string
      autoDebitAmtType:
        type: string
      autoDebitCcy:
        type: string
      autoDebitAmt:
        type: string
      groupId:
        type: string
      productCode:
        type: string
      accountRefNo:
        type: string
      executionId:
        type: string
      status:
        type: string
      allocatedAutoDebitAmt:
        type: string
      settlementReqId:
        type: string
  AutoDebitTxnDto:
    type: object
    properties:
      batchJobExecId:
        type: string
      timestamp:
        type: string
      branchCode:
        type: string
      userId:
        type: string
      businessDate:
        type: string
      status:
        type: string
      autoDebitTxnDetails:
       type: array
       items:
        $ref: '#/definitions/AutoDebitTxnDetailsDto'
  AutoDebitTxnCollection:
    type: "object"
    description: "Collection of Auto Debit Txns"
    properties:
      data:
        type: array
        items:
          $ref: '#/definitions/AutoDebitTxnDto'                           