swagger: "2.0"
info:
  description: "Provides APIs to perform operations on Invoices"
  version: "1.0.0"
  title: "Invoicing Service V2 APIs"
host: "api-plato.us.oracle.com:8080"
basePath: "/obscfcm-instruments-receivables-services"
consumes:
  - "application/json"
  - "application/xml"
produces:
  - "application/json"
  - "application/xml"
tags:
  - name: "InvoicingServicev2"
    description: "API for Invoice V2 Operations"

paths:
  /service/v2/finances/{invoiceRefNo}:
    get:
      tags:
        - "InvoicingServicev2"
      summary: "Retrieves the Invoice Finance Info for a particular Invoice."
      description:  "Retrieves the Invoice Finance Info for a particular Invoice."
      operationId: "getInvFinByInvoiceRefNo"
      parameters:
        - name: "invoiceRefNo"
          in: "path"
          description: "ReferenceNumber for which data needs to be fetched"
          required: true
          type: "string"
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "requestId"
          in: "query"
          description: "Request Id"
          type: "string"
      responses:
        200:
          description: "Successful performs the operation"
          schema:
            $ref: "./RecInstrumentInvoiceDef.yaml#/definitions/InvoiceFinanceModelCollection"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"
  /service/v2/invoiceFinance/{financeRefNo}:
    get:
      tags:
        - "InvoicingServicev2"
      summary: "Retrieves the Invoice Finance Info for a particular Invoice."
      description:  "Retrieves the Invoice Finance Info for a particular Invoice."
      operationId: "getInvFinByFinanceRefNo"
      parameters:
        - name: "financeRefNo"
          in: "path"
          description: "Finance Reference Number for which data needs to be fetched"
          required: true
          type: "string"
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
      responses:
        200:
          description: "Successful performs the operation"
          schema:
            $ref: "./RecInstrumentInvoiceDef.yaml#/definitions/InvoiceFinanceModelCollection"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"
  /service/v2/invoiceSearch:
    get:
      tags:
        - "InvoicingServicev2"
      summary: "Retrieves the list of existing Invoices."
      description:  "Retrieves the list of existing Invoices."
      operationId: "getInvoicesTw"
      parameters:
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "userId"
          in: "header"
          type: "string"
          required: true
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "invoiceNumber"
          in: "query"
          required: false
          type: "string"
        - name: "programCode"
          in: "query"
          required: false
          type: "string"
        - name: "buyerName"
          in: "query"
          required: false
          type: "string"
        - name: "supplierName"
          in: "query"
          required: false
          type: "string"
        - name: "buyerDivCode"
          in: "query"
          required: false
          type: "string"
        - name: "supplierDivCode"
          in: "query"
          required: false
          type: "string"
        - name: "invoiceDateFrom"
          in: "query"
          required: false
          type: "string"
        - name: "invoiceDateTo"
          in: "query"
          required: false
          type: "string"
        - name: "invoiceDueDateFrom"
          in: "query"
          required: false
          type: "string"
        - name: "invoiceDueDateTo"
          in: "query"
          required: false
          type: "string"
        - name: "invoiceProcessStatus"
          in: "query"
          required: false
          type: "string"
        - name: "fileName"
          in: "query"
          required: false
          type: "string"
        - name: "fileRef"
          in: "query"
          required: false
          type: "string"
        - name: "invoiceRefNo"
          in: "query"
          required: false
          type: "string"
        - name: "buyerId"
          in: "query"
          required: false
          type: "string"
        - name: "supplierId"
          in: "query"
          required: false
          type: "string"
        - name: "invoiceStatus"
          in: "query"
          required: false
          type: "string"
        - name: "invoiceAmountFrom"
          in: "query"
          required: false
          type: "number"
        - name: "invoiceAmountTo"
          in: "query"
          required: false
          type: "number"
        - name: "outstandingAmountFrom"
          in: "query"
          required: false
          type: "number"
        - name: "outstandingAmountTo"
          in: "query"
          required: false
          type: "number"
        - name: "paidAmountFrom"
          in: "query"
          required: false
          type: "number"
        - name: "paidAmountTo"
          in: "query"
          required: false
          type: "number"
        - name: "paymentStatus"
          in: "query"
          required: false
          type: "string"                  
        - name: "anchorId"
          in: "query"
          required: false
          type: "string"
        - name: "spokeId"
          in: "query"
          required: false
          type: "string"
        - name: "currency"
          in: "query"
          required: false
          type: "string"
        - name: "staleStatus"
          in: "query"
          required: false
          type: "string"
        - name: "isDisputed"
          in: "query"
          required: false
          type: "string"
        - name: "isDisputeResolvedWriteOff"
          in: "query"
          required: false
          type: "string"
        - name: "isFinanced"
          in: "query"
          required: false
          type: "string"
        - name: "isOverdue"
          in: "query"
          required: false
          type: "string"
        - name: "isAccepted"
          in: "query"
          required: false
          type: "string"
        - name: "isAssigned"
          in: "query"
          required: false
          type: "string"
        - name: "assignmentParty"
          in: "query"
          required: false
          type: "string"
        - name: "status"
          in: "query"
          required: true
          type: "string"
        - name: "recordStat"
          in: "query"
          required: false
          type: "string"
        - name: "linkedProgram"
          in: "query"
          required: false
          type: "string"
        - name: "indicator"
          in: "query"
          required: false
          type: "string"
        - name: offset
          in: query
          description: offset is starting no of records to be fetched
          required: false
          type: integer
        - name: limit
          in: query
          description: limit is maximum no of records to be fetched
          required: false
          type: integer
        - name: "finTxnStatus"
          in: "query"
          required: false
          type: "string"       
        - name: "fundingReqDateFrom"
          in: "query"
          required: false
          type: "string" 
        - name: "fundingReqDateTo"
          in: "query"
          required: false
          type: "string" 
        - name: "netAmountFrom"
          in: "query"
          required: false
          type: "number"
        - name: "netAmountTo"
          in: "query" 
          required: false
          type: "number"
        - name: "sourceTxnId"
          in: "query"
          type: "string"
        - name: "transactionRefNo"
          in: "query"
          type: "string"
        - name: "invoiceId"
          in: "query"
          type: "string"
        - name: "discountOfferStatus"
          in: "query"
          type: "string"
        - name: "requestorPartyId"
          in: "query"
          type: "string"
        - name: "anyOfferLinked"
          in: "query"
          type: "string"                                        
      responses:
        200:
          description: "Successful performs the operation"
          schema:
            $ref: "#/definitions/ServiceInvoiceResponse"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"     
  /service/v2/invoice:
    put:
      tags:
        - "InvoicingServicev2"
      summary: "Updates Invoices in Tw table."
      description: "Updates Invoices. "
      operationId: "updateInvoice"
      parameters:
        - name: "invoice"
          in: "body"
          description: "Request Body that contains data required for creating a new Invoice."
          required: true
          schema:
            $ref: "#/definitions/InvoicePutModel"
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
      responses:
        201:
          description: "Returns the Id of the newly created invoice"
          schema:
              $ref: "#/definitions/UpdateInvoiceResponse"
        400:
          description: "Bad Request"
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
    post:
      tags:
        - "InvoicingServicev2"
      summary: "Adds a new Invoice in main table."
      description: "Adds a new Invoice. "
      operationId: "postMainInvoiceV2"
      parameters:
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "invoiceCollection"
          in: "body"
          description: "Request Body that contains data required for creating a new Invoices."
          required: true
          schema:
            $ref: "./invoicingService.yaml#/definitions/InvoiceCollection"
      responses:
        200:
          description: "Returns the collection of the newly created invoices"
          schema:
              $ref: "#/definitions/CreateInvoiceResponseV2Collection"
        400:
          description: "Bad Request"
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"               
definitions:
  InvoicePutModel:
    description: "Invoice put model"
    type: "object"
    required:
      - action
      - processingDate
      - processingBranchCode
    properties:
      srcAppCd:
        type: string
        description: "Source Application Code"
      srcAppRefNo:
        type: string
        description: "Reference Number of Calling System"
      action:
        type: string
        description: "Action for which invoices are getting saved"
      processingDate:
        type: string
        description: "Processing Date"
      processingBranchCode:
        type: string
        description: "Branch Code"
      makerId:
        type: string
        description: "Maker Id from Portal"
      checkerId:
        type: string
        description: "Checker Id from Portal"
      invoiceList:
        type: array
        items:
          $ref: "#/definitions/InvoiceUpdateModel2"
      discountOfferPutModel:
        $ref: '#/definitions/DiscountOfferPutModel'
  InvoiceUpdateModel2:
    description: "Invoice Update model 2"
    type: "object"
    properties:
      transactionRefNo:
        type: string
      invoiceRefNo:
        type: string
        description: "Invoice Reference Number"
      oldInvoiceDueDate:
        type: string
        description: "Old Invoice Due Date"
      invoiceDueDate:
        type: string
        description: "Invoice Due Date"
      invoiceDate:
        type: string
        description: "Invoice Date"
      oldDisputeAmount:
        type: number
        description: "Old Dispute Amount"
      disputeAmount:
        type: number
        description: "Dispute Amount"
      oldAcceptanceAmount:
        type: number
        description: "Old Acceptance Amount"
      acceptanceAmount:
        type: number
        description: "Acceptance Amount"
      discrepancyCd:
        type: string
        description: "Discrepancy Cd"
      remarks:
        type: string
        description: "Remarks"
      linkedDocs:
        type: string
        description: "Linked Docs"
      isAutoAuth:
        type: string
        description: "Is Auto Authorized"
      fundingReqDate:
        type: string 
      newFundingReqDate:
        type: string
  UpdateInvoiceResponse:
    description: "Discrepancy Response model"
    type: "object"
    properties:
      srcAppRefNo:
        type: string
        description: "Src App Reference Number"
      trnStatus:
        type: string
        description: "Transaction Status"
      errorCode:
        type: string
        description: "Error Code"
      errorDesc:
        type: string
        description: "Error Description"
      processingDate:
        type: string
        description: "Processing Date"
      refNoList:
        type: array
        items: 
          $ref: '#/definitions/TransactionRefNoResponse'
  TransactionRefNoResponse:
    description: "List of Internal Reference Numbers"
    type: "object"
    properties:
      trnRefNo:
        type: string
        description: "Transaction Reference Number"
      trnStatus:
        type: string
        description: "Transaction Status"
      errorCode:
        type: string
        description: "Error Code"
      errorDesc:
        type: string
        description: "Error Description"
      invoiceRefNoList:
        type: array
        items: 
          $ref: '#/definitions/InvoiceRefNoResponse'
  InvoiceRefNoResponse:
    description: "List of Internal Reference Numbers"
    type: "object"
    properties:
      invoiceRefNo:
        type: string
        description: "Invoice Reference Number"
      trnStatus:
        type: string
        description: "Transaction Status"
      errorCode:
        type: string
        description: "Error Code"
      errorDesc:
        type: string
        description: "Error Description"
  ServiceInvoiceResponse:
    description: "Collection of Main Invoices."
    type: "object"
    properties:
      invoiceList:
        type: "array"
        items:
          $ref: "#/definitions/InvoiceModelResponse"
      paging:
        type: object
  InvoiceModelResponse:
    description: "Service Get API Invoice model"
    type: "object"
    properties:
      id:
        type: "string"
      seqNo:
        type: "integer"
        format: "int64"
      invoiceId:
        description: "Id of the Invoice "
        type: string
      acceptanceAmount:
        type: number
        description: "Acceptance Amount"
      amount:
        type: number
        description: "Amount"
      anchorId:
        type: string
        description: "Anchor Id"
      buyerId:
        type: string
        description: "Buyer Id"
      buyerName:
        type: string
        description: "Buyer Name"
      buyerAddress:
        type: "array"
        items: 
         $ref: "#/definitions/ScfNonCustomerAddressModel"
      buyerDivCode:
        type: string
        description: "Buyer Division Code"
      buyerDivName:
        type: string
        description: "Buyer Division Name"
      borrower:
        type: string
        description: "Borrower"  
      currency:
        type: string
        description: "Currency"
      isDisputed:
        type: string
        description: "Is Disputed"
      isDisputeResolvedWriteOff:
        type: string
        description: "Is Dispute Resolved Writeoff"
      isFinanced:
        type: string
        description: "Is Financed"
      isOverdue:
        type: string
        description: "Is Overdue"
      isAccepted:
        type: string
        description: "Is Accepted"
      isAssigned:
        type: string
        description: "Is Assigned"
      assignmentParty:
        type: string
        description: "Assignment Party"
      linkedDocs:
        type: string
        description: "Linked Docs"
      discrepancyCode:
        type: string
        description: "Discrepancy Code"
      disputeResolveRemarks:
        type: string
        description: "Dispute Resolve Remarks"
      fileRef:
        type: string
        description: "File Reference"
      fileName:
        type: string
        description: "File Name"
      filler1:
        type: string
        description: "Filler 1"
      filler2:
        type: string
        description: "Filler 2"
      filler3:
        type: string
        description: "Filler 3"
      filler4:
        type: string
        description: "Filler 4"
      financeAmount:
        type: number
      financePercentage:
        type: number
      indicator:
        type: string
        description: "Indicator"
      invoiceDate:
        type: string
        description: "Invoice Date"
      invoiceDueDate:
        type: string
        description: "Invoice Due Date"
      invoiceNumber:
        type: string
        description: "Invoice Number"
      invoiceProcessStatus:
        type: string
        description: "Invoice Process Status"
      invoiceRefNo:
        type: string
        description: "Invoice Reference Number"
      invoiceStatus:
        type: string
        description: "Invoice Status"
      invAcceptanceDate:
        type: string
        description: "Invoice Acceptance Date"
      maxFinancePercentage:
        type: number
        description: "Maximum Finance Percentage"
      minFinancePercentage:
        type: number
        description: "Minimum Finance Percentage"
      paidAmount:
        type: number
        description: "Paid Amount"
      paymentStatus:
        type: string
        description: "Payment Status"
      preAccepted:
        type: string
      poNumber:
        type: string
        description: "Po Number" 
      productCode:
        type: string
        description: "Product Code" 
      productType:
        type: string
        description: "Product Type"      
      programCode:
        type: string
        description: "Program Code"
      programName:
        type: string
      reasonCode:
        type: string
        description: "Reason Code"
      remarks:
        type: string
        description: "Remarks"
      spokeId:
        type: string
        description: "Spoke Id" 
      supplierId:
        type: string
        description: "Supplier Id"
      supplierName:
        type: string
        description: "Supplier Name"
      supplierAddress:
        type: "array"
        items: 
         $ref: "#/definitions/ScfNonCustomerAddressModel"
      supplierDivCode:
        type: string
        description: "Supplier Division Code"
      supplierDivName:
        type: string
        description: "Supplier Division Name"
      taxAmount:
        type: number
        description: "Tax Amount"
      totalInvoiceAmount:
        type: number
        description: "Total Invoice Amount"
      paymentTerms:
        type: string
      shipmentDate:
        type: string
      outstandingAmount:
        type: number
      discountAllowed:
        type: string
      discountPercentage:
        type: number
      discountAmount:
        type: number
      taxPercentage:
        type: number
      purchaseOrderDate:
        type: string
      staleStatus:
        type: string
      divisionCode:
        type: string
      shipmentAddress:
        type: string
      shipmentCountry:
        type: string
      shipmentNo:
        type: string
      reasonForExport:
        type: string
      termsOfSale:
        type: string
      countryOfOrigin:
        type: string
      miscCharge1:
        type: number
      miscCharge1Amount:
        type: number
      miscCharge1Desc:
        type: string
      miscCharge2:
        type: number
      miscCharge2Amount:
        type: number
      miscCharge2Desc:
        type: string
      netInvoiceAmount:
        type: number
      financeableAmount:
        type: number
      finTxnStatus:
        type: string
      transactionRefNo:
        type: string
      relationCode:
        type: string
        description: "Relation Code"
      supplierCode:
        type: string
      buyerCode:
        type: string
      shipmentRefNo:
        type: string
      repayAccountNo:
        type: string
      bank:
        type: string
      branch:
        type: string
      routingCode:
        type: number
      isAutoAuth:
       type: string
      channel:
       type: string
      sourceTxnId:
       type: string
      disputedAmount:
       type: number
      fundingReqAmt:
        type: number
      status:
       type: string
      adjustmentReason:
        type: string
      linkedInvoices:
       type: string
      shipmentCity:
        type: string
      shipmentZipCode:
        type: string
      shipmentPhoneNumber:
        type: integer
      shipmentTaxId:
        type: string
      fundingReqDate:
        type: string 
      newFundingReqDate:
        type: string
      action:
        type: string
      programParameters:
          $ref: '#/definitions/ProgramSpokeResponse'
      productParameters:
          $ref: '#/definitions/ProductMasterDTO'
      invoiceCommodityGridList:
        type: array
        items:
          $ref: '#/definitions/InvoiceCommodityGridServiceModel'
      linkedInvoiceList:
        type: array
        items:
          $ref: './RecInstrumentInvoiceDef.yaml#/definitions/LinkedInvoiceModel'
      invoiceOfferList:
        type: array
        items:
          $ref: './RecInstrumentInvoiceDef.yaml#/definitions/InvoiceOfferDTO'
      invoiceOfferTenorParameterList:
        type: array
        items:
          $ref: './RecInstrumentInvoiceDef.yaml#/definitions/InvoiceOfferTenorParameterModel'
  ScfNonCustomerAddressModel:
   type: object
   properties:
      addressLine1:
       type: string
       description: "Address Line 1"
      addressLine2:
       type: string
       description: "Address Line 2"
      addressLine3:
       type: string
       description: "Address Line 3"
      addressLine4:
       type: string
       description: "Address Line 4"
      country:
       type: string
       description: "Country"
      pin:
       type: string
       description: "Pin"
      street:
       type: string
       description: "Street"
  InvoiceCommodityGridServiceModel:
    type: object
    properties:
      id:
        type: "string"
      seqNo:
        type: "integer"
        format: "int64"
      commodityCode:
        type: string
        description: "Commodity Code"
      quantity:
        type: number
        description: "Quantity"
      commodityName:
        type: string
      commodityDesc:
        type: string
      costPerUnit:
        type: number
        description: "Cost Per Unit"
      totalCost:
        type: number
        description: "Total Cost"
      taxAmount:
        type: number
        description: "Tax Amount"
      netCost:
        type: number
        description: "Net Cost"
      invoiceCommodityGridId:
        description: "Id of the Invoice Commodity Grid"
        type: "string"
        readOnly: true
      invoiceNumber:
        type: string
        description: "Invoice Number"
      invoiceMasterId:
        type: string
        description: "Invoice Master Id"
      invoiceRefNo:
        type: string
        description: "Invoice Reference Number"
      descriptionOfGoods:
        type: string
      totalWeight:
        type: number
      unitWeight:
        type: number
      ccy:
        type: string
      discountPercentage:
        type: number
      discountAmount:
        type: number
      taxPercentage:
        type: number
      unit:
        type: string
      transactionRefNo:
        type: string
  ScfTmProgramSpokeResponse:
     description: "Scf Program Spoke Response"
     type: "object"
     properties:
       programCode:
         description: "Id of the Parameter"
         type: "string"
       programName:
         description: "Key for the parameter.This is a unique constraint"
         type: "string"
       anchorId:
         description: "Configured value which will be used in rest of application."
         type: "string"
       spokeId:
         description: "Configured value which will be used in rest of application."
         type: "string"
       programParams:
           $ref: '#/definitions/ProgramParamModel'
       spokeParams:
           $ref: '#/definitions/SpokeParamsModel'
  ProgramParamModel:
    description: "Collection of list of Parameters."
    type: "object"
    properties:
     anchorId:
      type: string
      description: "Anchor Id"
     anchorName:
      type: string
      description: "Anchor Name"
     authorizationRequired:
      type: string
      description: "Authorization Required"
     autoAcceptanceApplicable:
      type: string
      description: "Auto Acceptance Applicable"
     autoAcceptanceDays:
      type: number
      description: "Auto Acceptance Days"
     autoFinanceApplicable:
      type: string
      description: "Auto Finance Applicable"
     autoSettlementApplicable:
      type: string
      description: "Auto Settlement Applicable"
     autoDebitApplicable:
      type: string
      description: "Auto Debit Applicable"      
     disbursementCcy:
      type: string
      description: "Disbursement Ccy"
     effectiveFrom:
      type: string
      format: date
      description: "Effective From"
     expiresOn:
      type: string
      format: date
      description: "Expires On"
     maxFinancePercentage:
      type: number
      description: "Maximum Finance Percentage"
     maxTenorAllowed:
      type: number
      description: "Maximum Tenor Allowed"
     minFinancePercentage:
      type: number
      description: "Minimum Finance Percentage"
     minTenorAllowed:
      type: number
      description: "Minimum Tenor Allowed"
     preferredDisbursementMode:
      type: string
      description: "Preferred Disbursement Mode"
     preferredSettlementMode:
      type: string
      description: "Preferred Settlement Mode"
     productCode:
      type: string
      description: "Product Code"
     productDescription:
      type: string
      description: "Product Description"
     programCode:
      type: string
      description: "Program Code"
     programName:
      type: string
      description: "Program Name"
     reconciliationTowards:
      type: string
      description: "Reconciliation Towards"  
     withRecourse:
      type: string
      description: "With Recourse"
     graceDays: 
      type: number
     interestBearingParty:
      type: string
      description: "Interest Bearing Party"
     relationshipCode:
      type: string
      description: "Relationship Code" 
     txnControllerRefNo:
      type: string
      description: "Transaction Controller Reference Number" 
     twoFactorApp:
      type: string
      default: N
      description: "Two Factor App"
     insuranceApp:
      type: string
      default: N
      description: "Insurance App" 
     interestRefundHandling:
      type: string
      description: "Interest Refund Handling"
     interestRefundPaymentMode:
      type: string
      description: "Interest Refund Payment Mode"
     marginHandling:
      type: string
      description: "Margin Handling"
     marginPaymentMode:
      type: string
      description: "Margin Payment Mode"
     spokeList:
      type: array
      items:
        $ref: '#/definitions/SpokeModel'
  SpokeParamsModel:
    type: object
    properties:
      authorizationRequired:
       type: string
       description: "Authorization Required"
      autoFinanceApplicable:
       type: string
       description: "Auto Finance Applicable"
      autoSettlementApplicable:
       type: string
       description: "Auto Settlement Applicable"
      autoDebitApplicable:
       type: string
       description: "Auto Debit Applicable"      
      disbursementCcy:
       type: string
       description: "Disbursement Currency"
      id:
       type: string
       description: "Id"
      maxFinancePercentage:
       type: number
       description: "Maximum Finance Percentage"
      maxTenorAllowed:
       type: number
       description: "Maximum Tenor Allowed"
      minFinancePercentage:
       type: number
       description: "Minimum Finance Percentage"
      minTenorAllowed:
       type: number
       description: "Minimum Tenor Allowed"
      preferredDisbursementMode:
       type: string
       description: "Preferred Disbursement Mode"
      preferredSettlementMode:
       type: string
       description: "Preferred Settlement Mode"
      programCode:
       type: string
       description: "Program Code"
      programMasterId:
       type: string
       description: "Program Master Id"
      spokeId:
       type: string
       description: "Spoke Id"
      spokeName:
       type: string
       description: "Spoke Name"
      withRecourse:
       type: string
       description: "With Recourse"
      graceDays:
       type: number
      interestBearingParty:
       type: string
       description: "Interest Bearing Party"
      importFactorId:
       type: string
       description: "Import Factor Id"
      importFactorName:
       type: string
       description: "Import Factor Name"
      insuranceCoId:
       type: string
       description: "Insurance Co Id"
      insuranceCoName:
       type: string
       description: "Insurance Co Name"
      interestRefundHandling:
       type: string
       description: "Interest Refund Handling"
      interestRefundPaymentMode:
       type: string
       description: "Interest Refund Payment Mode"
      marginHandling:
       type: string
       description: "Margin Handling"
      marginPaymentMode:
       type: string
       description: "Margin Payment Mode"
      programSpokeCodeList:
       type: array
       items:
        $ref: '#/definitions/ProgramSpokeCodeModel'   
  ProgramSpokeCodeModel:
   type: object
   properties:
      id:
       type: string
       description: "Id"
      spokeMasterId:
       type: string
       description: "Spoke Master Id"
      programCode:
       type: string
       description: "Program Code"
      spokeId:
       type: string
       description: "Spoke Id"
      spokeName:
       type: string
       description: "Spoke Name"
      spokeExternalCode:
       type: string
       description: "Spoke External Code"
      spokeDivisionCode:
       type: string
       description: "Spoke Division Code"
      spokeDivisionName:
       type: string
       description: "Spoke Division Name"
      anchorDivisionCode:
       type: string
       description: "Anchor Division Code"
      anchorDivisionName:
       type: string
       description: "Anchor Division Name"  
  SpokeModel:
    description: "Collection of list of Parameters."
    type: "object"
    properties:
      spokeId:
        description: "Id of the Parameter"
        type: "string"
      spokeName:
        description: "Key for the parameter.This is a unique constraint"
        type: "string"      
  ProductMasterDTO:
   type: object
   allOf:
   - $ref: './CommonDef.yaml#/definitions/GenericDto'
   - type: object
     properties:
      appropriationSeqAftDueDate:
       type: string
       description: "Appropriation Sequence After Due Date"
      appropriationSeqBefDueDate:
       type: string
       description: "Appropriation Sequence Before Due Date"
      appropriationSeqOnDueDate:
       type: string
       description: "Appropriation Sequence On Due Date"
      autoDebitApplicable:
       type: string
       description: "Auto Debit Applicable"
      autoFinanceApplicable:
       type: string
       description: "Auto Finance Applicable"
      autoSettlementApplicable:
       type: string
       description: "Auto Settlement Applicable"
      branchCode:
       type: string
       description: "Branch Code"
      creditLimitUtilization:
       type: string
       description: "Credit Limit Utilization"
      debitAcctTypeAfterDueDate:
       type: string
       description: "Debit Account Type After Due Date"
      debitAcctTypeOnDueDate:
       type: string
       description: "Debit Account Type On Due Date"
      debitPartyAfterDueDate:
       type: string
       description: "Debit Party After Due Date"
      debitPartyOnDueDate:
       type: string
       description: "Debit Party On Due Date"
      debtor:
       type: string
       description: "Debtor"
      effectiveFrom:
       type: string
       format: date
       description: "Effective From"
      expiresOn:
       type: string
       format: date
       description: "Expires On"
      holidayTreatment:
       type: string
       description: "Holiday Treatment"
      maturityDateCalculation:
       type: string
       description: "Maturity Date Calculation"
      maxFinancePercentage:
       type: number
       description: "Maximum Finance Percentage"
      maxTenorAllowed:
       type: number
       description: "Maximum Tenor Allowed"
      minFinancePercentage:
       type: number
       description: "Minimum Finance Percentage"
      minTenorAllowed:
       type: number
       description: "Minimum Tenor Allowed"
      minWaitingPeriod:
       type: number
       description: "Minimum Waiting Period"
      multipleDisbursementAllowed:
       type: string
       description: "Multiple Disbursement Allowed"
      npaAppropriationSeq:
       type: string
       description: "Npa Appropriation Sequence"
      partRepaymentAllowed:
       type: string
       description: "Part Repayment Allowed"
      preferredDisbursementMode:
       type: string
       description: "Preferred Disbursement Mode"
      preferredSettlementMode:
       type: string
       description: "Preferred Settlement Mode"
      prePaymentAllowed:
       type: string
       description: "Pre Payment Allowed"
      productCategory:
       type: string
       description: "Product Category"
      productCode:
       type: string
       description: "Product Code"
      productDescription:
       type: string
       description: "Product Description"
      productType:
       type: string
       description: "Product Type"
      stalePeriod:
       type: number
       description: "Stale Period"
      withRecourse:
       type: string
       description: "With Recourse"
      graceDays:
       type: number
      interestRefundHandling:
       type: string
      interestRefundPaymentMode:
       type: string
      marginHandling:
       type: string
      marginPaymentMode:
       type: string
      isCreditLimitApplicable:
       type: string
       description: "Is Credit Limit Applicable" 
      isAccountingApplicable:
       type: string
       description: "Is Accounting Applicable" 
      isAssignmentApplicable:
       type: string
       description: "Is Assignment Applicable" 
      isAutoAssignment:
       type: string
       description: "Is Auto Assignment"   
      isAcceptanceApplicable:
       type: string
       description: "Is Acceptance Applicable" 
      isAutoAcceptance:
       type: string
       description: "Is Auto Acceptance"     
      isDisbursementAuthRequired:
       type: string
       description: "Is Disbursement Auth Required"
      isDisbursementAutoProcessing:
       type: string
       description: "Is Disbursement Auto Processing"
      isSettlementAuthRequired:
       type: string
       description: "Is Settlement Authorized Required" 
      isSettlementAutoProcessing:
       type: string
       description: "Is Settlement Auto Processing" 
      autoAcceptanceDays:
       type: number
       description: "Auto Acceptance Days"
      reconciliationTowards:
       type: string 
  ProgramSpokeResponse:
     description: "Scf Program Spoke Response"
     type: "object"
     properties:
       programCode:
         description: "Id of the Parameter"
         type: "string"
       programName:
         description: "Key for the parameter.This is a unique constraint"
         type: "string"
       anchorId:
         description: "Configured value which will be used in rest of application."
         type: "string"
       spokeId:
         description: "Configured value which will be used in rest of application."
         type: "string"
       spokeHierarchyParams:
           $ref: '#/definitions/SpokeHierarchyParamsModel'
  SpokeHierarchyParamsModel:
    type: object
    properties:
      authorizationRequired:
       type: string
       description: "Authorization Required"
      autoFinanceApplicable:
       type: string
       description: "Auto Finance Applicable"
      autoSettlementApplicable:
       type: string
       description: "Auto Settlement Applicable"
      autoDebitApplicable:
       type: string
       description: "Auto Debit Applicable"      
      disbursementCcy:
       type: string
       description: "Auto Debit Applicable"
      maxFinancePercentage:
       type: number
       description: "Maximum Finance Percentage"
      maxTenorAllowed:
       type: number
       description: "Maximum Tenor Allowed"
      minFinancePercentage:
       type: number
       description: "Minimum Finance Percentage"
      minTenorAllowed:
       type: number
       description: "Minimum Tenor Allowed"
      preferredDisbursementMode:
       type: string
       description: "Preferred Disbursement Mode"
      preferredSettlementMode:
       type: string
       description: "Preferred Settlement Mode"
      programCode:
       type: string
       description: "Program Code"
      spokeId:
       type: string
       description: "Spoke Id"
      spokeName:
       type: string
       description: "Spoke Name"
      withRecourse:
       type: string
       description: "With Recourse"
      graceDays:
       type: number
      interestBearingParty:
       type: string
       description: "Interest Bearing Party"
      importFactorId:
       type: string
       description: "Import Factor Id"
      importFactorName:
       type: string
       description: "Import Factor Name"
      insuranceCoId:
       type: string
       description: "Insurance Co Id"
      insuranceCoName:
       type: string
       description: "Insurance Co Name"
      interestRefundHandling:
       type: string
       description: "Interest Refund Handling"
      interestRefundPaymentMode:
       type: string
       description: "Interest Refund Payment Mode"
      marginHandling:
       type: string
       description: "Margin Handling"
      marginPaymentMode:
       type: string
       description: "Margin Payment Mode"
      programSpokeCodeList:
       type: array
       items:
        $ref: '#/definitions/ProgramSpokeCodeModel' 
  CreateInvoiceResponseV2Collection:
    description: List of Create Credit Note Service Response
    type: object
    properties:
      txnStatus:
        type: "string" 
      errCode:
        type: "string"
      errDesc:
        type: "string"    
      createInvoiceResList:
        type: array
        items: 
          $ref: "#/definitions/CreateInvoiceV2Response"
  CreateInvoiceV2Response:
    properties:
      sourceTxnId:
        type: "string"
      transactionRefNo:
        type: "string"        
      txnStatus:
        type: "string" 
      errCode:
        type: "string"
      errDesc:
        type: "string"
      invoiceResList:
        type: array
        items: 
          $ref: "#/definitions/InvoiceResponse"
  InvoiceResponse:
    properties:
      invoiceId:
        type: "string"
      invoiceNumber:
        type: "string"        
      txnStatus:
        type: "string"
      invoiceRefNo:
        type: "string"
      invoiceStatus:
        type: "string"                
      errCode:
        type: "string"
      errDesc:
        type: "string"
  DiscountOfferPutModel:
    type: object
    properties:
      discountRuleId:
        type: "string"
      discountRuleDesc:
        type: "string"
      applicabilityBasis:
        type: "string"
      earlyPaymentDate:
        type: "string"
      invoiceOfferAction:
        type: "string"
      invoiceOfferTenorParameterList:
        type: array
        items:
          $ref: './RecInstrumentInvoiceDef.yaml#/definitions/InvoiceOfferTenorParameterModel'
