swagger: "2.0"
info:
  description: "Provides APIs to perform operations on Invoices"
  version: "1.0.0"
  title: "Invoicing Service V3 APIs"
host: "api-plato.us.oracle.com:8080"
basePath: "/obscfcm-instruments-receivables-services"
consumes:
  - "application/json"
  - "application/xml"
produces:
  - "application/json"
  - "application/xml"
tags:
  - name: "InvoicingServicev3"
    description: "API for Invoice V3 Operations"

paths:
  /service/v3/invoiceSearch:
    post:
      tags:
        - "InvoicingServicev3"
      summary: "Retrieves the list of existing Invoices."
      description:  "Retrieves the list of existing Invoices."
      operationId: "getInvoicesTw"
      parameters:
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "userId"
          in: "header"
          type: "string"
          required: true
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: offset
          in: query
          description: offset is starting no of records to be fetched
          required: false
          type: integer
        - name: limit
          in: query
          description: limit is maximum no of records to be fetched
          required: false
          type: integer
        - name: "invoiceSearchDTO"
          in: "body"
          description: "Request Body that contains data required for searching invoices."
          required: true
          schema:
            $ref: "#/definitions/InvoiceSearchDTO"
      responses:
        200:
          description: "Successful performs the operation"
          schema:
            $ref: "#/definitions/ServiceInvoices"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"
definitions:
  InvoiceSearchDTO:
    description: "Collection of Main Invoices."
    type: "object"
    properties:
      invoiceNumber:    
        type: "string"
      programCode:    
        type: "string"
      buyerName:    
        type: "string"
      supplierName:    
        type: "string"
      buyerDivCode:    
        type: "string"
      supplierDivCode:    
        type: "string"
      invoiceDateFrom:    
        type: "string"
      invoiceDateTo:    
        type: "string"
      invoiceDueDateFrom:    
        type: "string"
      invoiceDueDateTo:    
        type: "string"
      invoiceProcessStatus:    
        type: "string"
      fileName:    
        type: "string"
      fileRef:    
        type: "string"
      invoiceRefNo:    
        type: "string"
      buyerId:    
        type: "string"
      supplierId:    
        type: "string"
      invoiceStatus:    
        type: "string"
      invoiceAmountFrom:    
        type: "number"
      invoiceAmountTo:    
        type: "number"
      outstandingAmountFrom:    
        type: "number"
      outstandingAmountTo:    
        type: "number"
      paidAmountFrom:    
        type: "number"
      paidAmountTo:    
        type: "number"
      paymentStatus:    
        type: "string"
      anchorId:
        type: string
        description: "Anchor Id"
      spokeId:    
        type: "string"
      currency:    
        type: "string"
      staleStatus:    
        type: "string"
      isDisputed:    
        type: "string"
      isDisputeResolvedWriteOff:    
        type: "string"
      isFinanced:    
        type: "string"
      isOverdue:    
        type: "string"
      isAccepted:    
        type: "string"
      isAssigned:    
        type: "string"
      assignmentParty:    
        type: "string"
      status:
        type: "string"
      recordStat:    
        type: "string"
      linkedProgram:    
        type: "string"
      indicator:    
        type: "string"
      finTxnStatus:    
        type: "string"
      fundingReqDateFrom:    
        type: "string"
      fundingReqDateTo:    
        type: "string"
      netAmountFrom:    
        type: "number"
      netAmountTo:    
        type: "number"
      sourceTxnId:
        type: "string"
      transactionRefNo:
        type: "string"
      invoiceId:
        type: "string"
      discountOfferStatus:
        type: "string"
      requestorPartyId:
        type: "string"
      anyOfferLinked:
        type: "string"
      discountOfferId:
        type: "string"
      minTenor:
        type: "number"
      maxTenor:
        type: "number"
      isDiscOfferAccepted:
        type: "string"
  ServiceInvoices:
    description: "Collection of Main Invoices."
    type: "object"
    properties:
      invoiceList:
        type: "array"
        items:
          $ref: "#/definitions/InvoiceResponseModel"
      paging:
        type: object
  InvoiceResponseModel:
    description: "Service Post API Invoice model"
    type: "object"
    properties:
      id:
        type: "string"
      seqNo:
        type: "integer"
        format: "int64"
      invoiceId:
        description: "Id of the Invoice "
        type: string
      acceptanceAmount:
        type: number
        description: "Acceptance Amount"
      amount:
        type: number
        description: "Amount"
      anchorId:
        type: string
        description: "Anchor Id"
      buyerId:
        type: string
        description: "Buyer Id"
      buyerName:
        type: string
        description: "Buyer Name"
      buyerAddress:
        type: "array"
        items:
          $ref: "#/definitions/ScfNonCustAddressModel"
      buyerDivCode:
        type: string
        description: "Buyer Division Code"
      buyerDivName:
        type: string
        description: "Buyer Division Name"
      borrower:
        type: string
        description: "Borrower"
      currency:
        type: string
        description: "Currency"
      isDisputed:
        type: string
        description: "Is Disputed"
      isDisputeResolvedWriteOff:
        type: string
        description: "Is Dispute Resolved Writeoff"
      isFinanced:
        type: string
        description: "Is Financed"
      isOverdue:
        type: string
        description: "Is Overdue"
      isAccepted:
        type: string
        description: "Is Accepted"
      isAssigned:
        type: string
        description: "Is Assigned"
      assignmentParty:
        type: string
        description: "Assignment Party"
      linkedDocs:
        type: string
        description: "Linked Docs"
      discrepancyCode:
        type: string
        description: "Discrepancy Code"
      disputeResolveRemarks:
        type: string
        description: "Dispute Resolve Remarks"
      fileRef:
        type: string
        description: "File Reference"
      fileName:
        type: string
        description: "File Name"
      filler1:
        type: string
        description: "Filler 1"
      filler2:
        type: string
        description: "Filler 2"
      filler3:
        type: string
        description: "Filler 3"
      filler4:
        type: string
        description: "Filler 4"
      financeAmount:
        type: number
      financePercentage:
        type: number
      indicator:
        type: string
        description: "Indicator"
      invoiceDate:
        type: string
        description: "Invoice Date"
      invoiceDueDate:
        type: string
        description: "Invoice Due Date"
      invoiceNumber:
        type: string
        description: "Invoice Number"
      invoiceProcessStatus:
        type: string
        description: "Invoice Process Status"
      invoiceRefNo:
        type: string
        description: "Invoice Reference Number"
      invoiceStatus:
        type: string
        description: "Invoice Status"
      invAcceptanceDate:
        type: string
        description: "Invoice Acceptance Date"
      maxFinancePercentage:
        type: number
        description: "Maximum Finance Percentage"
      minFinancePercentage:
        type: number
        description: "Minimum Finance Percentage"
      paidAmount:
        type: number
        description: "Paid Amount"
      paymentStatus:
        type: string
        description: "Payment Status"
      preAccepted:
        type: string
      poNumber:
        type: string
        description: "Po Number"
      productCode:
        type: string
        description: "Product Code"
      productType:
        type: string
        description: "Product Type"
      programCode:
        type: string
        description: "Program Code"
      programName:
        type: string
      reasonCode:
        type: string
        description: "Reason Code"
      remarks:
        type: string
        description: "Remarks"
      spokeId:
        type: string
        description: "Spoke Id"
      supplierId:
        type: string
        description: "Supplier Id"
      supplierName:
        type: string
        description: "Supplier Name"
      supplierAddress:
        type: "array"
        items:
          $ref: "#/definitions/ScfNonCustAddressModel"
      supplierDivCode:
        type: string
        description: "Supplier Division Code"
      supplierDivName:
        type: string
        description: "Supplier Division Name"
      taxAmount:
        type: number
        description: "Tax Amount"
      totalInvoiceAmount:
        type: number
        description: "Total Invoice Amount"
      paymentTerms:
        type: string
      shipmentDate:
        type: string
      outstandingAmount:
        type: number
      discountAllowed:
        type: string
      discountPercentage:
        type: number
      discountAmount:
        type: number
      taxPercentage:
        type: number
      purchaseOrderDate:
        type: string
      staleStatus:
        type: string
      divisionCode:
        type: string
      shipmentAddress:
        type: string
      shipmentCountry:
        type: string
      shipmentNo:
        type: string
      reasonForExport:
        type: string
      termsOfSale:
        type: string
      countryOfOrigin:
        type: string
      miscCharge1:
        type: number
      miscCharge1Amount:
        type: number
      miscCharge1Desc:
        type: string
      miscCharge2:
        type: number
      miscCharge2Amount:
        type: number
      miscCharge2Desc:
        type: string
      netInvoiceAmount:
        type: number
      financeableAmount:
        type: number
      finTxnStatus:
        type: string
      transactionRefNo:
        type: string
      relationCode:
        type: string
        description: "Relation Code"
      supplierCode:
        type: string
      buyerCode:
        type: string
      shipmentRefNo:
        type: string
      repayAccountNo:
        type: string
      bank:
        type: string
      branch:
        type: string
      routingCode:
        type: number
      isAutoAuth:
        type: string
      channel:
        type: string
      sourceTxnId:
        type: string
      disputedAmount:
        type: number
      fundingReqAmt:
        type: number
      status:
        type: string
      adjustmentReason:
        type: string
      linkedInvoices:
        type: string
      shipmentCity:
        type: string
      shipmentZipCode:
        type: string
      shipmentPhoneNumber:
        type: integer
      shipmentTaxId:
        type: string
      fundingReqDate:
        type: string
      newFundingReqDate:
        type: string
      action:
        type: string
      programParameters:
        $ref: '#/definitions/ProgramSpoke'
      productParameters:
        $ref: '#/definitions/ProductMasterDTO'
      invoiceCommodityGridList:
        type: array
        items:
          $ref: '#/definitions/InvoiceCommodityGridServiceModel'
      linkedInvoiceList:
        type: array
        items:
          $ref: './RecInstrumentInvoiceDef.yaml#/definitions/LinkedInvoiceModel'
      invoiceOfferList:
        type: array
        items:
          $ref: './RecInstrumentInvoiceDef.yaml#/definitions/InvoiceOfferDTO'
      invoiceOfferTenorParameterList:
        type: array
        items:
          $ref: './RecInstrumentInvoiceDef.yaml#/definitions/InvoiceOfferTenorParameterModel'
  ScfNonCustAddressModel:
    type: object
    properties:
      addressLine1:
        type: string
        description: "Address Line 1"
      addressLine2:
        type: string
        description: "Address Line 2"
      addressLine3:
        type: string
        description: "Address Line 3"
      addressLine4:
        type: string
        description: "Address Line 4"
      country:
        type: string
        description: "Country"
      pin:
        type: string
        description: "Pin"
      street:
        type: string
        description: "Street"
  InvoiceCommodityGridServiceModel:
    type: object
    properties:
      id:
        type: "string"
      seqNo:
        type: "integer"
        format: "int64"
      commodityCode:
        type: string
        description: "Commodity Code"
      quantity:
        type: number
        description: "Quantity"
      commodityName:
        type: string
      commodityDesc:
        type: string
      costPerUnit:
        type: number
        description: "Cost Per Unit"
      totalCost:
        type: number
        description: "Total Cost"
      taxAmount:
        type: number
        description: "Tax Amount"
      netCost:
        type: number
        description: "Net Cost"
      invoiceCommodityGridId:
        description: "Id of the Invoice Commodity Grid"
        type: "string"
        readOnly: true
      invoiceNumber:
        type: string
        description: "Invoice Number"
      invoiceMasterId:
        type: string
        description: "Invoice Master Id"
      invoiceRefNo:
        type: string
        description: "Invoice Reference Number"
      descriptionOfGoods:
        type: string
      totalWeight:
        type: number
      unitWeight:
        type: number
      ccy:
        type: string
      discountPercentage:
        type: number
      discountAmount:
        type: number
      taxPercentage:
        type: number
      unit:
        type: string
      transactionRefNo:
        type: string
  ProductMasterDTO:
    type: object
    allOf:
      - $ref: './CommonDef.yaml#/definitions/GenericDto'
      - type: object
        properties:
          appropriationSeqAftDueDate:
            type: string
            description: "Appropriation Sequence After Due Date"
          appropriationSeqBefDueDate:
            type: string
            description: "Appropriation Sequence Before Due Date"
          appropriationSeqOnDueDate:
            type: string
            description: "Appropriation Sequence On Due Date"
          autoDebitApplicable:
            type: string
            description: "Auto Debit Applicable"
          autoFinanceApplicable:
            type: string
            description: "Auto Finance Applicable"
          autoSettlementApplicable:
            type: string
            description: "Auto Settlement Applicable"
          branchCode:
            type: string
            description: "Branch Code"
          creditLimitUtilization:
            type: string
            description: "Credit Limit Utilization"
          debitAcctTypeAfterDueDate:
            type: string
            description: "Debit Account Type After Due Date"
          debitAcctTypeOnDueDate:
            type: string
            description: "Debit Account Type On Due Date"
          debitPartyAfterDueDate:
            type: string
            description: "Debit Party After Due Date"
          debitPartyOnDueDate:
            type: string
            description: "Debit Party On Due Date"
          debtor:
            type: string
            description: "Debtor"
          effectiveFrom:
            type: string
            format: date
            description: "Effective From"
          expiresOn:
            type: string
            format: date
            description: "Expires On"
          holidayTreatment:
            type: string
            description: "Holiday Treatment"
          maturityDateCalculation:
            type: string
            description: "Maturity Date Calculation"
          maxFinancePercentage:
            type: number
            description: "Maximum Finance Percentage"
          maxTenorAllowed:
            type: number
            description: "Maximum Tenor Allowed"
          minFinancePercentage:
            type: number
            description: "Minimum Finance Percentage"
          minTenorAllowed:
            type: number
            description: "Minimum Tenor Allowed"
          minWaitingPeriod:
            type: number
            description: "Minimum Waiting Period"
          multipleDisbursementAllowed:
            type: string
            description: "Multiple Disbursement Allowed"
          npaAppropriationSeq:
            type: string
            description: "Npa Appropriation Sequence"
          partRepaymentAllowed:
            type: string
            description: "Part Repayment Allowed"
          preferredDisbursementMode:
            type: string
            description: "Preferred Disbursement Mode"
          preferredSettlementMode:
            type: string
            description: "Preferred Settlement Mode"
          prePaymentAllowed:
            type: string
            description: "Pre Payment Allowed"
          productCategory:
            type: string
            description: "Product Category"
          productCode:
            type: string
            description: "Product Code"
          productDescription:
            type: string
            description: "Product Description"
          productType:
            type: string
            description: "Product Type"
          stalePeriod:
            type: number
            description: "Stale Period"
          withRecourse:
            type: string
            description: "With Recourse"
          graceDays:
            type: number
          interestRefundHandling:
            type: string
          interestRefundPaymentMode:
            type: string
          marginHandling:
            type: string
          marginPaymentMode:
            type: string
          isCreditLimitApplicable:
            type: string
            description: "Is Credit Limit Applicable"
          isAccountingApplicable:
            type: string
            description: "Is Accounting Applicable"
          isAssignmentApplicable:
            type: string
            description: "Is Assignment Applicable"
          isAutoAssignment:
            type: string
            description: "Is Auto Assignment"
          isAcceptanceApplicable:
            type: string
            description: "Is Acceptance Applicable"
          isAutoAcceptance:
            type: string
            description: "Is Auto Acceptance"
          isDisbursementAuthRequired:
            type: string
            description: "Is Disbursement Auth Required"
          isDisbursementAutoProcessing:
            type: string
            description: "Is Disbursement Auto Processing"
          isSettlementAuthRequired:
            type: string
            description: "Is Settlement Authorized Required"
          isSettlementAutoProcessing:
            type: string
            description: "Is Settlement Auto Processing"
          autoAcceptanceDays:
            type: number
            description: "Auto Acceptance Days"
          reconciliationTowards:
            type: string
  ProgramSpoke:
    description: "Scf Program Spoke Response"
    type: "object"
    properties:
      programCode:
        description: "Id of the Parameter"
        type: "string"
      programName:
        description: "Key for the parameter.This is a unique constraint"
        type: "string"
      anchorId:
        description: "Configured value which will be used in rest of application."
        type: "string"
      spokeId:
        description: "Configured value which will be used in rest of application."
        type: "string"
      spokeHierarchyParams:
        $ref: '#/definitions/SpokeHierarchyParamsModel'
  SpokeHierarchyParamsModel:
    type: object
    properties:
      authorizationRequired:
        type: string
        description: "Authorization Required"
      autoFinanceApplicable:
        type: string
        description: "Auto Finance Applicable"
      autoSettlementApplicable:
        type: string
        description: "Auto Settlement Applicable"
      autoDebitApplicable:
        type: string
        description: "Auto Debit Applicable"
      disbursementCcy:
        type: string
        description: "Auto Debit Applicable"
      maxFinancePercentage:
        type: number
        description: "Maximum Finance Percentage"
      maxTenorAllowed:
        type: number
        description: "Maximum Tenor Allowed"
      minFinancePercentage:
        type: number
        description: "Minimum Finance Percentage"
      minTenorAllowed:
        type: number
        description: "Minimum Tenor Allowed"
      preferredDisbursementMode:
        type: string
        description: "Preferred Disbursement Mode"
      preferredSettlementMode:
        type: string
        description: "Preferred Settlement Mode"
      programCode:
        type: string
        description: "Program Code"
      spokeId:
        type: string
        description: "Spoke Id"
      spokeName:
        type: string
        description: "Spoke Name"
      withRecourse:
        type: string
        description: "With Recourse"
      graceDays:
        type: number
      interestBearingParty:
        type: string
        description: "Interest Bearing Party"
      importFactorId:
        type: string
        description: "Import Factor Id"
      importFactorName:
        type: string
        description: "Import Factor Name"
      insuranceCoId:
        type: string
        description: "Insurance Co Id"
      insuranceCoName:
        type: string
        description: "Insurance Co Name"
      interestRefundHandling:
        type: string
        description: "Interest Refund Handling"
      interestRefundPaymentMode:
        type: string
        description: "Interest Refund Payment Mode"
      marginHandling:
        type: string
        description: "Margin Handling"
      marginPaymentMode:
        type: string
        description: "Margin Payment Mode"
      programSpokeCodeList:
        type: array
        items:
          $ref: '#/definitions/ProgramSpokeCodeModel'
  ProgramSpokeCodeModel:
    type: object
    properties:
      id:
        type: string
        description: "Id"
      spokeMasterId:
        type: string
        description: "Spoke Master Id"
      programCode:
        type: string
        description: "Program Code"
      spokeId:
        type: string
        description: "Spoke Id"
      spokeName:
        type: string
        description: "Spoke Name"
      spokeExternalCode:
        type: string
        description: "Spoke External Code"
      spokeDivisionCode:
        type: string
        description: "Spoke Division Code"
      spokeDivisionName:
        type: string
        description: "Spoke Division Name"
      anchorDivisionCode:
        type: string
        description: "Anchor Division Code"
      anchorDivisionName:
        type: string
        description: "Anchor Division Name"