swagger: "2.0"
info:
  description: "Provides APIs to perform various Operations on Invoices"
  version: "1.0.0"
  title: "Invoice Process Service APIs"
host: "api-plato.us.oracle.com:8080"
basePath: "/obscfcm-instruments-receivables-services"
consumes:
  - "application/json"
  - "application/xml"
produces:
  - "application/json"
  - "application/xml"
tags:
  - name: "InvoiceProcessService"
    description: "API for Invoice Operations"

paths:
  /service/v1/invoiceprocess:  
    post:
      tags:
        - "InvoiceProcessService"
      summary: "Performs Invoice Actions based on Workflow Task"
      description:  "Performs Invoice Actions based on Workflow Task"
      operationId: "invoiceProcesses"
      parameters:
      - name: "appId"
        in: "header"
        description: "Application Id"
        type: "string"
        required: true
      - name: "userId"
        in: "header"
        description: "User Id"
        type: "string"
        required: true
      - name: "branchCode"
        in: "header"
        description: "Branch Code"
        type: "string"
        required: true
      - name: "conductorWorkflowModel"
        in: "body"
        description: "Request Body that contains data required for updating an invoice based on Task"
        required: true
        schema:
          $ref: "./CommonDef.yaml#/definitions/ConductorWorkflowModel"
      responses:
        200:
          description: "Returns model"
          schema:
              $ref: "./CommonDef.yaml#/definitions/ConductorWorkflowModel"
        400:
          description: "Bad Request"
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"