swagger: "2.0"
info:
  description: "Provides APIs to perform operations on Invoices"
  version: "1.0.0"
  title: "Invoicing Service APIs"
host: "api-plato.us.oracle.com:8080"
basePath: "/obscfcm-instruments-receivables-services"
consumes:
  - "application/json"
  - "application/xml"
produces:
  - "application/json"
  - "application/xml"
tags:
  - name: "InvoicingService"
    description: "APIs for Invoice Operations"

paths:

  /service/v1/refreshBusinessDate:
    get:
      tags:
        - "InvoicingService"
      summary: "Evicts business date cache"
      description: "Evicts business date cache"
      operationId: "refreshBusinessDate"
      parameters:
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
      responses:
        200:
          description: "Returns API Status"
          schema:
            type: string 
        400:
          description: "Bad Request"
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
          
  /service/v1/invoiceMarginCalc:
    post:
      tags:
        - "InvoicingService"
      summary: "Creates a new Invoice Margin Record"
      description: "Creates a new Invoice Margin Record"
      operationId: "postInvoiceMarginCalculation"
      parameters:
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "obInvoiceMarginCalcDTO"
          in: "body"
          description: "Request Body that contains data required for creating a new ObInvoiceMarginCalcDTO."
          required: true
          schema:
            $ref: "#/definitions/ObInvoiceMarginCalcDTO"
      responses:
        200:
          description: "Returns File Status"
          schema:
            type: string 
        400:
          description: "Bad Request"
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
          
  /service/v1/generateFinanceRefNo:           
    get:
      tags:
        - "InvoicingService"
      summary: "Generates the finance ref number"
      description:  "Generates the finance ref number"
      operationId: "generateFinanceRefNo"
      parameters:
      - name: "appId"
        in: "header"
        type: "string"
        required: true
      - name: "userId"
        in: "header"
        type: "string"
        required: true
      - name: "branchCode"
        in: "header"
        type: "string"
        required: true
      - name: "branchDate"
        in: "query"
        type: "string"
        required: true
      - name: "productCode"
        in: "query"
        type: "string"
        required: true
      - name: "branchCode"
        in: "query"
        type: "string"
        required: true
      responses:
        200:
          description: "Successful performs the operation"
          schema:
            type: string
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error" 
          
  /service/v1/generateMarginRefNo:           
    get:
      tags:
        - "InvoicingService"
      summary: "Generates the margin ref number for a particular Invoice."
      description:  "Generates the margin ref number for a particular Invoice."
      operationId: "generateMarginRefNo"
      parameters:
      - name: "appId"
        in: "header"
        type: "string"
        required: true
      - name: "userId"
        in: "header"
        type: "string"
        required: true
      - name: "branchCode"
        in: "header"
        type: "string"
        required: true
      responses:
        200:
          description: "Successful performs the operation"
          schema:
            $ref: "#/definitions/GenerateMarginRefNoModel"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"             
  /service/v1/invoiceSearch:
    get:
      tags:
        - "InvoicingService"
      summary: "Retrieves the list of existing Invoices."
      description:  "Retrieves the list of existing Invoices."
      operationId: "getInvoices"
      parameters:
      - name: "appId"
        in: "header"
        type: "string"
        required: true
      - name: "userId"
        in: "header"
        type: "string"
        required: true
      - name: "branchCode"
        in: "header"
        type: "string"
        required: true
      - name: "invoiceNumber"
        in: "query"
        required: false
        type: "string"
      - name: "programCode"
        in: "query"
        required: false
        type: "string"
      - name: "buyerName"
        in: "query"
        required: false
        type: "string"
      - name: "supplierName"
        in: "query"
        required: false
        type: "string"
      - name: "buyerDivCode"
        in: "query"
        required: false
        type: "string"
      - name: "supplierDivCode"
        in: "query"
        required: false
        type: "string"
      - name: "invoiceDateFrom"
        in: "query"
        required: false
        type: "string"
      - name: "invoiceDateTo"
        in: "query"
        required: false
        type: "string"
      - name: "invoiceDueDateFrom"
        in: "query"
        required: false
        type: "string"
      - name: "invoiceDueDateTo"
        in: "query"
        required: false
        type: "string"
      - name: "invoiceProcessStatus"
        in: "query"
        required: false
        type: "string"
      - name: "fileName"
        in: "query"
        required: false
        type: "string"
      - name: "fileRef"
        in: "query"
        required: false
        type: "string"
      - name: "invoiceRefNo"
        in: "query"
        required: false
        type: "string"
      - name: "buyerId"
        in: "query"
        required: false
        type: "string"
      - name: "supplierId"
        in: "query"
        required: false
        type: "string"
      - name: "invoiceStatus"
        in: "query"
        required: false
        type: "string"
      - name: "invoiceAmountFrom"
        in: "query"
        required: false
        type: "number"
      - name: "invoiceAmountTo"
        in: "query"
        required: false
        type: "number"
      - name: "outstandingAmountFrom"
        in: "query"
        required: false
        type: "number"
      - name: "outstandingAmountTo"
        in: "query"
        required: false
        type: "number"
      - name: "paidAmountFrom"
        in: "query"
        required: false
        type: "number"
      - name: "paidAmountTo"
        in: "query"
        required: false
        type: "number"
      - name: "paymentStatus"
        in: "query"
        required: false
        type: "string"
      - name: "anchorId"
        in: "query"
        required: false
        type: "string"
      - name: "spokeId"
        in: "query"
        required: false
        type: "string"
      - name: "currency"
        in: "query"
        required: false
        type: "string"
      - name: "isDisputed"
        in: "query"
        required: false
        type: "string"
      - name: "recordStat"
        in: "query"
        required: false
        type: "string"
      - name: "linkedProgram"
        in: "query"
        required: false
        type: "string"
      - name: "indicator"
        in: "query"
        required: false
        type: "string"
      responses:
        200:
          description: "Successful performs the operation"
          schema:
            $ref: "#/definitions/ServiceInvoiceCollection"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"  
  /service/v1/processFutureDatedDisbursement:
    get:
      tags:
        - "InvoicingService"
      summary: "Retrieves the list of existing Invoices."
      description:  "Retrieves the list of existing Invoices."
      operationId: "getFutureDatedInvoices"
      parameters:
      - name: "appId"
        in: "header"
        type: "string"
        required: true
      - name: "userId"
        in: "header"
        type: "string"
        required: true
      - name: "branchCode"
        in: "header"
        type: "string"
        required: true
      responses:
        200:
          description: "Successful performs the operation"
          schema:
            type: "boolean"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"                 
  /service/v1/mainInvoice:
    patch:
      tags:
        - "InvoicingService"
      summary: "Update existing Invoices."
      description:  "Update existing Invoices. Add additional information here for the this endpoint."
      operationId: "updateInvoices"
      parameters:
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "userId"
          in: "header"
          type: "string"
          required: true
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "invoices"
          in: "body"
          description: "Request Body that contains invoiceList required for updating an existing Invoices"
          required: true
          schema:
            $ref: "#/definitions/InvoiceCollection"
      responses:
        200:
          description: "Success"
          schema:
              $ref: "#/definitions/ResponseDtoWrapper"
        400:
          description: "Bad Request"
          schema:
              $ref: "#/definitions/ResponseDtoWrapper"
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
  /service/v1/autoInvoiceBatch:
    post:
      tags:
        - "InvoicingService"
      summary: "Batches the selected Invoice files."
      description: "Batches the selected Invoice files. "
      operationId: "autoBatching"
      parameters:
        - name: "fileRefCollection"
          in: "body"
          description: "Request Body that contains data required for creating a new Invoice."
          required: true
          schema:
            $ref: "#/definitions/FileRefCollection"
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
      responses:
        201:
          description: "Returns the Id of the newly created bidding"
          schema:
              type: "object"
        400:
          description: "Bad Request"
          schema:
              $ref: "#/definitions/ResponseDtoWrapper"
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error" 
  /service/v1/stageInvoice:
    post:
      tags:
        - "InvoicingService"
      summary: "Adds a new Invoice in stage table."
      description: "Adds a new Invoice. "
      operationId: "addStageInvoice"
      parameters:
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "userId"
          in: "header"
          type: "string"
          required: true
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "invoice"
          in: "body"
          description: "Request Body that contains data required for creating a new Invoice."
          required: true
          schema:
            $ref: "./RecInstrumentInvoiceDef.yaml#/definitions/InvoiceModel"
      responses:
        201:
          description: "Returns the Id of the newly created bidding"
          schema:
              $ref: "#/definitions/ResponseDtoWrapper"
        400:
          description: "Bad Request"
          schema:
              $ref: "#/definitions/ResponseDtoWrapper"
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
  /service/v1/getFileStatusByFileName:
    get:
      tags:
        - "InvoicingService"
      summary: "get FileStatus By FileName."
      description:  "get FileStatus By FileName."
      operationId: "getFileStatusByFileName"
      parameters:
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "userId"
          in: "header"
          type: "string"
          required: true
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "fileName"
          in: "query"
          required: true
          type: "string"
      responses:
        200:
          description: "Returns File Status"
          schema:
            type: string  
        400:
          description: "Bad Request"
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error" 
  /service/v1/runInvoiceAcceptanceJob:
    get:    
      tags:
        - "InvoicingService"
      summary: "Runs Invoice Acceptance Job."
      description:  "Runs Invoice Acceptance Job."
      operationId: "runInvoiceAcceptanceJob"
      parameters:
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "userId"
          in: "header"
          type: "string"
          required: true
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "currentBusinessDate"
          in: "query"
          required: false
          type: "string"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad Request"
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"  
  /service/v1/invoice:
    post:
      tags:
        - "InvoicingService"
      summary: "Adds a new Invoice in main table."
      description: "Adds a new Invoice. "
      operationId: "postMainInvoice"
      parameters:
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "invoiceCollection"
          in: "body"
          description: "Request Body that contains data required for creating a new Invoices."
          required: true
          schema:
            $ref: "#/definitions/InvoiceCollection"
      responses:
        200:
          description: "Returns the collection of the newly created invoices"
          schema:
              $ref: "#/definitions/CreateInvoiceResponseCollection"
        400:
          description: "Bad Request"
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error" 
    get:
      tags:
        - "InvoicingService"
      summary: "Retrieves the list of existing Invoices."
      description:  "Retrieves the list of existing Invoices."
      operationId: "getInvoiceDetails"
      parameters:
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "userId"
          in: "header"
          type: "string"
          required: true
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: offset
          in: query
          description: offset is starting no of records to be fetched
          required: false
          type: integer
        - name: limit
          in: query
          description: limit is maximum no of records to be fetched
          required: false
          type: integer
        - name: "invoiceNumber"
          in: "query"
          required: false
          type: "string"
        - name: "buyerId"
          in: "query"
          required: false
          type: "string"
        - name: "supplierId"
          in: "query"
          required: false
          type: "string"
        - name: "invoiceDateFrom"
          in: "query"
          required: false
          type: "string"
        - name: "invoiceDateTo"
          in: "query"
          required: false
          type: "string"
        - name: "invoiceDueDateFrom"
          in: "query"
          required: false
          type: "string"
        - name: "invoiceDueDateTo"
          in: "query"
          required: false
          type: "string"
        - name: "currency"
          in: "query"
          required: false
          type: "string"
        - name: "invoiceRefNo"
          in: "query"
          required: false
          type: "string"
        - name: "paymentStatus"
          in: "query"
          required: false
          type: array
          items:
            type: string   
          collectionFormat: multi
        - name: "forRecon"
          in: "query"
          required: false
          type: boolean
        - name: "accountNumber"
          in: "query"
          required: false
          type: "string"
        - name: "virtualAcFlag"
          in: "query"
          required: false
          type: "string"
        - name: "relationCode"
          in: "query"
          required: false
          type: "string"
        - name: "programCode"
          in: "query"
          required: false
          type: "string"
        - name: "amountReferenceBasis"
          in: "query"
          required: false
          type: "string"
        - name: "amountFrom"
          in: "query"
          required: false
          type: "number"
        - name: "amountTo"
          in: "query"
          required: false
          type: "number"
      responses:
        200:
          description: "Successful performs the operation"
          schema:
            $ref: "./RecInstrumentInvoiceDef.yaml#/definitions/InvoiceCollectionDto"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"      
    put:
      tags:
        - "InvoicingService"
      summary: "Updates Invoices in main table."
      description: "Updates main Invoices. "
      operationId: "updateMainInvoicesColl"
      parameters:
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "invoiceUpdateModelColl"
          in: "body"
          description: "Request Body that contains data required for updating a new Invoice."
          required: true
          schema:
            $ref: "#/definitions/InvoiceUpdateModelCollection"
      responses:
        200:
          description: "Returns the body of updated invoice"
          schema:
              $ref: "#/definitions/InvoiceCollection"
        400:
          description: "Bad Request"
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
  /service/v1/invoice/{invoiceRefNo}:
    put:
      tags:
        - "InvoicingService"
      summary: "Updates a Invoice in main table."
      description: "Updates a main Invoice. "
      operationId: "updateMainInvoice"
      parameters:
        - name: "invoiceRefNo"
          in: "path"
          description: "invoiceRefNo for which data needs to be fetched"
          required: true
          type: "string"
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "invoiceUpdateModel"
          in: "body"
          description: "Request Body that contains data required for updating a new Invoice."
          required: true
          schema:
            $ref: "#/definitions/InvoiceUpdateModel"
      responses:
        200:
          description: "Returns the body of updated invoice"
          schema:
              $ref: "./RecInstrumentInvoiceDef.yaml#/definitions/InvoiceModel"
        400:
          description: "Bad Request"
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
  /service/v1/getInvoiceFinanceRefNos:
    get:
      tags:
        - "InvoicingService"
      summary: "Retrieves the list of Finance reference no.s for given RequestId."
      description:  "Retrieves the list of Finance reference no.s for given RequestId."
      operationId: "getInvoiceFinanceRefNoList"
      parameters:
      - name: "appId"
        in: "header"
        type: "string"
        required: true
      - name: "userId"
        in: "header"
        type: "string"
        required: true
      - name: "branchCode"
        in: "header"
        type: "string"
        required: true
      - name: "requestId"
        in: "query"
        required: true
        type: "string"
      responses:
        200:
          description: "Successful performs the operation"
          schema:
            $ref: "#/definitions/FinanceRefNoCollection"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"  
          
  /service/v1/overdueInvoice:
    get:
      tags:
        - "InvoicingService"
      summary: "Find overdue invoices"
      description: "Find overdue invoices"
      operationId: "getOverdueInvoice"
      parameters:
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "businessDate"
          in: "query"
          type: "string"
          required: false
      responses:
        201:
          description: "Returns the the newly created payment."
          schema:
              type: boolean
        400:
          description: "Bad Request"
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
          
  /service/v1/staleInvoice:
    get:
      tags:
        - "InvoicingService"
      summary: "Find stale invoices"
      description: "Find stale invoices"
      operationId: "getStaleInvoice"
      parameters:
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
      responses:
        201:
          description: "Returns the the newly created payment."
          schema:
              type: boolean
        400:
          description: "Bad Request"
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"          
  /service/v1/invoices/{financeRefNo}:
    get:
      tags:
        - "InvoicingService"
      summary: "Retrieves the Invoices for a particular Finance Transaction."
      description:  "Retrieves the Invoices for a particular Finance Transaction."
      operationId: "getInvByFinanceRefNo"
      parameters:
        - name: "financeRefNo"
          in: "path"
          description: "ReferenceNumber for which data needs to be fetched"
          required: true
          type: "string"
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
      responses:
        200:
          description: "Successful performs the operation"
          schema:
            $ref: "#/definitions/InvoiceCollection"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"
  /service/v1/finances/{invoiceRefNo}:
    get:
      tags:
        - "InvoicingService"
      summary: "Retrieves the Invoice Finance Info for a particular Invoice."
      description:  "Retrieves the Invoice Finance Info for a particular Invoice."
      operationId: "getInvFinByInvoiceRefNo"
      parameters:
        - name: "invoiceRefNo"
          in: "path"
          description: "ReferenceNumber for which data needs to be fetched"
          required: true
          type: "string"
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "requestId"
          in: "query"
          description: "Request Id"
          type: "string"
      responses:
        200:
          description: "Successful performs the operation"
          schema:
            $ref: "./RecInstrumentInvoiceDef.yaml#/definitions/InvoiceFinanceModelCollectionV1"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"
  /service/v1/initiateInvoiceFinance:
    post:
      tags:
        - "InvoicingService"
      summary: "Batches the selected Invoice files."
      description: "Batches the selected Invoice files. "
      operationId: "batchInvoiceFiles"
      parameters:
        - name: "invoiceReferenceNoCollection"
          in: "body"
          description: "Request Body that contains data required for creating new Finance."
          required: true
          schema:
            $ref: "#/definitions/InvoiceRefCollection"
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
      responses:
        201:
          description: "Returns the Id of the newly created Finance"
          schema:
              type: "object"
        400:
          description: "Bad Request"
          schema:
              $ref: "#/definitions/ResponseDtoWrapper"
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
  /service/v1/authorizeInvoices:
    put:
      tags:
        - "InvoicingService"
      summary: "Adds a main Invoices after validation."
      description: "Adds a main Invoices after validation "
      operationId: "authorizeInvoices"
      parameters:
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "userId"
          in: "header"
          type: "string"
          required: true
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "transactionRefNoCollection"
          in: "body"
          description: "Request Body that contains data required for creating a new Invoice."
          required: true
          schema:
            $ref: "#/definitions/TransactionRefNoCollection"
      responses:
        201:
          description: "Returns the Id of the newly created bidding"
          schema:
              $ref: "#/definitions/ResponseDtoWrapper"
        400:
          description: "Bad Request"
          schema:
              $ref: "#/definitions/ResponseDtoWrapper"
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
  /service/v1/linkPrograms:
    patch:
      tags:
        - "InvoicingService"
      summary: "Update existing Invoices."
      description:  "Update existing Invoices. Add additional information here for the this endpoint."
      operationId: "linkPrograms"
      parameters:
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "userId"
          in: "header"
          type: "string"
          required: true
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "invoices"
          in: "body"
          description: "Request Body that contains invoiceList required for updating an existing Invoices"
          required: true
          schema:
            $ref: "#/definitions/InvoiceCollection"
      responses:
        200:
          description: "Success"
          schema:
              $ref: "#/definitions/ResponseDtoWrapper"
        400:
          description: "Bad Request"
          schema:
              $ref: "#/definitions/ResponseDtoWrapper"
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
  /service/v1/authorizeInvoice:
    post:
      tags:
        - "InvoicingService"
      summary: "Authorise invoice from conductor"
      description: "Authorise invoice from conductor"
      operationId: "authorizeInvoice"
      parameters:
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "userId"
          in: "header"
          type: "string"
          required: true
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "conductorWorkflowModel"
          in: "body"
          description: "Request Body that contains data required for creating a new Invoice."
          required: true
          schema:
            $ref: "./CommonDef.yaml#/definitions/ConductorWorkflowModel"
      responses:
        201:
          description: "Returns the Id of the newly created bidding"
          schema:
              $ref: "./CommonDef.yaml#/definitions/ConductorWorkflowModel"
        400:
          description: "Bad Request"
          schema:
              $ref: "#/definitions/ResponseDtoWrapper"
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
  /service/v1/enrichment:
      post:
         tags:
         - InvoicingService
         summary: Enrich the invoice with necessary fields for creation
         description: Enrich the invoice with necessary fields for creation
         operationId: mlEnrichment
         parameters:
         -  name: appId
            in: header
            type: string
            required: true
         -  name: userId
            in: header
            type: string
            required: true
         -  name: branchCode
            in: header
            type: string
            required: true
         -  name: scfMLTagsModel
            in: body
            description: Request Body with ML attributes picked from model.
            required: true
            schema:
               $ref: './RecInstrumentInvoiceDef.yaml#/definitions/ScfMLTagsModel'
         responses:
            201:
               description: Enriched invoice Model with required fields
               schema:
                  $ref: '#/definitions/ResponseDtoWrapper'
            400:
               description: Bad Request
            401:
               description: Request does not have sufficient credentials.
            403:
               description: Request is not authorized.
            405:
               description: Invalid input
            500:
               description: Internal error
  /service/v1/tags:
    get:
      produces:
      - application/json
      - application/xml
      tags:
      - InvoicingService
      summary: Retrieves the list of existing Tags.
      description: Retrieves the list of existing Tags.
      operationId: getTags
      parameters:
      - name: appId
        in: header
        type: string
        required: true
      - name: userId
        in: header
        type: string
        required: true
      - name: branchCode
        in: header
        type: string
        required: true
      - name: docId
        in: query
        description: docId of the document of which tags needs to be fetched
        required: true
        type: string
      responses:
        200:
          description: Successful performs the operation
          schema:
            $ref: '#/definitions/GenericResponseModel'
        400:
          description: Malformed syntax.
        401:
          description: Request does not have sufficient credentials.
        403:
          description: Request is not authorized.
        500:
          description: Internal error
  /service/v1/getCurrentInvoceByInvRefNo:
    get:
      tags:
        - "InvoicingService"
      summary: "Retrieves the list of existing Invoices."
      description:  "Retrieves the list of existing Invoices."
      operationId: "getCurrentInvoceByInvRefNo"
      parameters:
      - name: "appId"
        in: "header"
        type: "string"
        required: true
      - name: "userId"
        in: "header"
        type: "string"
        required: true
      - name: "branchCode"
        in: "header"
        type: "string"
        required: true
      - name: "invoiceRefNo"
        in: "query"
        required: true
        type: "string"
      responses:
        200:
          description: "Successful performs the operation"
          schema:
            $ref: "#/definitions/InvoiceWebCollection"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"         
  /service/v1/purgeTransaction:
      post:
         tags:
         - InvoicingService
         summary: Reject instruments
         description: Reject instruments
         operationId: purgeTransaction
         parameters:
         -  name: appId
            in: header
            type: string
            required: true
         -  name: userId
            in: header
            type: string
            required: true
         -  name: branchCode
            in: header
            type: string
            required: true
         -  name: conductorWorkflowModel
            in: body
            description: Request Body with attributes picked from model.
            required: true
            schema:
               $ref: './CommonDef.yaml#/definitions/ConductorWorkflowModel'
         responses:
            200:
               description: Invoices rejected successfully
               schema:
                $ref: "./CommonDef.yaml#/definitions/ConductorWorkflowModel"
            400:
               description: Bad Request
            401:
               description: Request does not have sufficient credentials.
            403:
               description: Request is not authorized.
            405:
               description: Invalid input
            500:
               description: Internal error
  /service/v1/invStageApprove:
      post:
         tags:
         - InvoicingService
         summary: Approve instruments in workflow
         description: Approve instruments
         operationId: invStageApprove
         parameters:
         -  name: appId
            in: header
            type: string
            required: true
         -  name: userId
            in: header
            type: string
            required: true
         -  name: branchCode
            in: header
            type: string
            required: true
         -  name: invoiceModel
            in: body
            description: Request Body with attributes picked from model.
            required: true
            schema:
               $ref: "./RecInstrumentInvoiceDef.yaml#/definitions/InvoiceModel"
         responses:
            200:
               description: "Returns the Id of the newly created record"
               headers:
                 Location:
                   description: "URL of newly created record details"
                   type: "string"
               schema:
                 type: "string"
            400:
               description: Bad Request
            401:
               description: Request does not have sufficient credentials.
            403:
               description: Request is not authorized.
            405:
               description: Invalid input
            500:
               description: Internal error
  /service/v1/updateInvOutstandings:
      post:
         tags:
         - InvoicingService
         summary: Update outstanding values in invoice
         description: Update outstanding values in invoice
         operationId: updateInvOutstandings
         parameters:
         -  name: appId
            in: header
            type: string
            required: true
         -  name: userId
            in: header
            type: string
            required: true
         -  name: branchCode
            in: header
            type: string
            required: true
         -  name: financeTransactionModel
            in: body
            description: Request Body with attributes picked from model.
            required: true
            schema:
               $ref: './RecInstrumentInvoiceDef.yaml#/definitions/FinanceTransactionModel'
         responses:
            200:
               description: "Returns the Id of the newly created record"
               schema:
                 type: "boolean"
            400:
               description: Bad Request
            401:
               description: Request does not have sufficient credentials.
            403:
               description: Request is not authorized.
            405:
               description: Invalid input
            500:
               description: Internal error
  /service/v1/settlementStatusUpd:
      put:
         tags:
         - InvoicingService
         summary: Update invoice in settlement
         description: Update invoice in settlement
         operationId: settlementStatusUpdate
         parameters:
         -  name: appId
            in: header
            type: string
            required: true
         -  name: userId
            in: header
            type: string
            required: true
         -  name: branchCode
            in: header
            type: string
            required: true
         -  name: financeTransactionModel
            in: body
            description: Request Body with attributes picked from model.
            required: true
            schema:
               $ref: './RecInstrumentInvoiceDef.yaml#/definitions/FinanceTransactionModel'
         responses:
            200:
               description: "Returns the Id of the newly created record"
               schema:
                 type: "string"
            400:
               description: Bad Request
            401:
               description: Request does not have sufficient credentials.
            403:
               description: Request is not authorized.
            405:
               description: Invalid input
            500:
               description: Internal error
  /service/v1/genericUpdate:
      put:
         tags:
         - InvoicingService
         summary: Update invoice in settlement
         description: Update invoice in settlement
         operationId: genericUpdate
         parameters:
         -  name: appId
            in: header
            type: string
            required: true
         -  name: userId
            in: header
            type: string
            required: true
         -  name: branchCode
            in: header
            type: string
            required: true
         -  name: genericUpdateModel
            in: body
            description: Request Body with attributes for Update.
            required: true
            schema:
               $ref: '#/definitions/GenericUpdateModel'
         responses:
            200:
               description: "Returns true for Successful update"
               schema:
                 type: "boolean"
            400:
               description: Bad Request
            401:
               description: Request does not have sufficient credentials.
            403:
               description: Request is not authorized.
            405:
               description: Invalid input
            500:
               description: Internal error
  /service/v1/getDiscrepancyCode:
    get:    
      tags:
        - "InvoicingService"
      summary: "Returns Discrepancy Code."
      description:  "Returns Discrepancy Code."
      operationId: "getDiscrepancyCode"
      parameters:
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "userId"
          in: "header"
          type: "string"
          required: true
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "discrepancyCode"
          in: "query"
          required: false
          type: "string"
        - name: "discrepancyDesc"
          in: "query"
          required: false
          type: "string"
      responses:
        200:
          description: Successful performs the operation
          schema:
            $ref: '#/definitions/DiscrepancyResponseModel'
        400:
          description: "Bad Request"
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
          
  /service/v1/processMarginRefund:
    post:
        tags:
        - "InvoicingService"
        summary: Process margin refund
        description: Process margin refund
        operationId: processMarginRefund
        parameters:
          - name: appId
            in: header
            type: string
            required: true
          - name: userId
            in: header
            type: string
            required: true
          - name: branchCode
            in: header
            type: string
            required: true
          - name: conductorWorkflowModel
            in: body
            description: Request Body with conductor workflow model
            required: true
            schema:
               $ref: "./CommonDef.yaml#/definitions/ConductorWorkflowModel"
        responses:
            200:
               description: "Response To Workflow After Refund Process"
               schema:
                $ref: "./CommonDef.yaml#/definitions/ConductorWorkflowModel"
            400:
               description: Bad Request
            401:
               description: Request does not have sufficient credentials.
            403:
               description: Request is not authorized.
            405:
               description: Invalid input
            500:
               description: Internal error
               
  /service/v1/postMarginAccEntries:
    post:
        tags:
        - "InvoicingService"
        summary: Process margin refund
        description: Process margin refund
        operationId: postMarginAccEntries
        parameters:
          - name: appId
            in: header
            type: string
            required: true
          - name: userId
            in: header
            type: string
            required: true
          - name: branchCode
            in: header
            type: string
            required: true
          - name: conductorWorkflowModel
            in: body
            description: Request Body with conductor workflow model
            required: true
            schema:
               $ref: "./CommonDef.yaml#/definitions/ConductorWorkflowModel"
        responses:
            200:
               description: "Response To Workflow After Refund Process"
               schema:
                $ref: "./CommonDef.yaml#/definitions/ConductorWorkflowModel"
            400:
               description: Bad Request
            401:
               description: Request does not have sufficient credentials.
            403:
               description: Request is not authorized.
            405:
               description: Invalid input
            500:
               description: Internal error
  
  /service/v1/createMarginRefundPmt:
    post:
        tags:
        - "InvoicingService"
        summary: Process margin refund
        description: Process margin refund
        operationId: createMarginRefundPmt
        parameters:
          - name: appId
            in: header
            type: string
            required: true
          - name: userId
            in: header
            type: string
            required: true
          - name: branchCode
            in: header
            type: string
            required: true
          - name: isAutoRecon
            in: query
            type: string
            required: true
          - name: conductorWorkflowModel
            in: body
            description: Request Body with conductor workflow model
            required: true
            schema:
               $ref: "./CommonDef.yaml#/definitions/ConductorWorkflowModel"
        responses:
            200:
               description: "Response To Workflow After Refund Process"
               schema:
                $ref: "./CommonDef.yaml#/definitions/ConductorWorkflowModel"
            400:
               description: Bad Request
            401:
               description: Request does not have sufficient credentials.
            403:
               description: Request is not authorized.
            405:
               description: Invalid input
            500:
               description: Internal error
                            
  /service/v1/marginRefundPmt:
    post:
        tags:
        - "InvoicingService"
        summary: Process margin refund
        description: Process margin refund
        operationId: marginRefundPmt
        parameters:
          - name: appId
            in: header
            type: string
            required: true
          - name: userId
            in: header
            type: string
            required: true
          - name: branchCode
            in: header
            type: string
            required: true
          - name: conductorWorkflowModel
            in: body
            description: Request Body with conductor workflow model
            required: true
            schema:
               $ref: "./CommonDef.yaml#/definitions/ConductorWorkflowModel"
        responses:
            200:
               description: "Response To Workflow After Refund Process"
               schema:
                $ref: "./CommonDef.yaml#/definitions/ConductorWorkflowModel"
            400:
               description: Bad Request
            401:
               description: Request does not have sufficient credentials.
            403:
               description: Request is not authorized.
            405:
               description: Invalid input
            500:
               description: Internal error
                                         
  /service/v1/processMarginHandling:
    post:
        tags:
        - "InvoicingService"
        summary: Process margin handling
        description: Process margin handling
        operationId: processMarginHandling
        parameters:
          - name: appId
            in: header
            type: string
            required: true
          - name: userId
            in: header
            type: string
            required: true
          - name: branchCode
            in: header
            type: string
            required: true
          - name: "marginModel"
            in: "body"
            description: "Request Body that contains data required for process margin."
            required: true
            schema:
              $ref: "#/definitions/InvoiceMarginModel"
        responses:
            200:
               description: "Returns the Id of the newly created record"
               schema:
                 type: "string"
            400:
               description: Bad Request
            401:
               description: Request does not have sufficient credentials.
            403:
               description: Request is not authorized.
            405:
               description: Invalid input
            500:
               description: Internal error
  /service/v1/eod/limitsInvoiceApprovalMarking:           
    get:
      tags:
        - "InvoicingService"
      summary: "Invoice Approval Marking.."
      description:  "Invoice Approval Marking."
      operationId: "limitsInvoiceApprovalMarking"
      parameters:
         - name: "appId"
           in: "header"
           type: "string"
           required: true
         - name: "userId"
           in: "header"
           type: "string"
           required: true
         - name: "branchCode"
           in: "header"
           type: "string"
           required: true
      responses:
        200:
          description: "Successful performs the operation"
          schema: 
             type: "boolean"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"
  /service/v1/acquireInvoiceTask:
    get:
      tags:
        - "InvoicingService"
      summary: "Acquire invoice task."
      description: "Acquire invoice task."
      operationId: "acquireInvoiceTask"
      parameters:
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "userId"
          in: "header"
          type: "string"
          required: true
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "invRefNo"
          in: "query"
          required: false
          type: "string"
        - name: "cnRefNo"
          in: "query"
          required: false
          type: "string"
        - name: "manualReconTxnNo"
          in: "query"
          required: false
          type: "string"
      responses:
         200:
          description: "Success"
          schema:
            type: string
         400:
          description: "Malformed syntax."
         401:
          description: "Request does not have sufficient credentials."
         403:
          description: "Request is not authorized."
         405:
          description: "Invalid input"
         500:
          description: "Internal error" 
  /service/v1/paymentIncomingInvoiceValidation:           
    get:
      tags:
        - "InvoicingService"
      summary: "Payment Incoming 2nd stage Invoice Validation"
      description:  "Payment Incoming 2nd stage Invoice Validation"
      operationId: "paymentIncomingInvoiceValidation"
      parameters:
      - name: "appId"
        in: "header"
        type: "string"
        required: true
      - name: "userId"
        in: "header"
        type: "string"
        required: true
      - name: "branchCode"
        in: "header"
        type: "string"
        required: true
      - name: "invRefNo"
        in: "query"
        type: "string"
        required: false
      - name: "virtualAccNo"
        in: "query"
        type: "string"
        required: false
      - name: "creditAccNo"
        in: "query"
        type: "string"
        required: false
      - name: "supplierName"
        in: "query"
        type: "string"
        required: false
      responses:
        200:
          description: "Successful performs the operation"
          schema:
            $ref: "#/definitions/PaymentIncomingInvoiceValidationModel"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"
  /service/v1/debitNote:
    put:
      tags:
        - "InvoicingService"
      summary: "Updates Debit Note in Tw table."
      description: "Updates Debit note. "
      operationId: "updateDebitNote"
      parameters:
        - name: "debitNote"
          in: "body"
          description: "Request Body that contains data required for updating a new Debit note."
          required: true
          schema:
            $ref: "#/definitions/DebitNotePutModel"
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "userId"
          in: "header"
          type: "string"
          required: true
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
      responses:
        201:
          description: "Returns the collection of the updated debit note"
          schema:
              $ref: "#/definitions/UpdateDebitNoteResponse"
        400:
          description: "Bad Request"
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"               
  /service/v1/debitNoteSearch:
    get:
      tags:
        - "InvoicingService"
      summary: "Retrieves the list of existing debit notes."
      description:  "Retrieves the list of existing debit notes."
      operationId: "getDebitNotes"
      parameters:
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "debitNoteNumber"
          in: "query"
          required: false
          type: "string"
        - name: "programCode"
          in: "query"
          required: false
          type: "string"
        - name: "buyerName"
          in: "query"
          required: false
          type: "string"
        - name: "supplierName"
          in: "query"
          required: false
          type: "string"
        - name: "buyerDivCode"
          in: "query"
          required: false
          type: "string"
        - name: "supplierDivCode"
          in: "query"
          required: false
          type: "string"
        - name: "debitNoteDateFrom"
          in: "query"
          required: false
          type: "string"
        - name: "debitNoteDateTo"
          in: "query"
          required: false
          type: "string"
        - name: "debitNoteDueDateFrom"
          in: "query"
          required: false
          type: "string"
        - name: "debitNoteDueDateTo"
          in: "query"
          required: false
          type: "string"
        - name: "debitNoteProcessStatus"
          in: "query"
          required: false
          type: "string"
        - name: "fileName"
          in: "query"
          required: false
          type: "string"
        - name: "fileRef"
          in: "query"
          required: false
          type: "string"
        - name: "debitNoteRefNo"
          in: "query"
          required: false
          type: "string"
        - name: "buyerId"
          in: "query"
          required: false
          type: "string"
        - name: "supplierId"
          in: "query"
          required: false
          type: "string"
        - name: "debitNoteStatus"
          in: "query"
          required: false
          type: "string"
        - name: "debitNoteAmountFrom"
          in: "query"
          required: false
          type: "number"
        - name: "debitNoteAmountTo"
          in: "query"
          required: false
          type: "number"
        - name: "outstandingAmountFrom"
          in: "query"
          required: false
          type: "number"
        - name: "outstandingAmountTo"
          in: "query"
          required: false
          type: "number"
        - name: "paidAmountFrom"
          in: "query"
          required: false
          type: "number"
        - name: "paidAmountTo"
          in: "query"
          required: false
          type: "number"
        - name: "paymentStatus"
          in: "query"
          required: false
          type: "string"
        - name: "anchorId"
          in: "query"
          required: false
          type: "string"
        - name: "spokeId"
          in: "query"
          required: false
          type: "string"
        - name: "currency"
          in: "query"
          required: false
          type: "string"
        - name: "staleStatus"
          in: "query"
          required: false
          type: "string"
        - name: "isDisputed"
          in: "query"
          required: false
          type: "string"
        - name: "isDisputeResolvedWriteOff"
          in: "query"
          required: false
          type: "string"
        - name: "isFinanced"
          in: "query"
          required: false
          type: "string"
        - name: "isOverdue"
          in: "query"
          required: false
          type: "string"
        - name: "isAccepted"
          in: "query"
          required: false
          type: "string"
        - name: "isAssigned"
          in: "query"
          required: false
          type: "string"
        - name: "assignmentParty"
          in: "query"
          required: false
          type: "string"
        - name: "status"
          in: "query"
          required: true
          type: "string"
        - name: "recordStat"
          in: "query"
          required: false
          type: "string"
        - name: "relationCode"
          in: "query"
          required: false
          type: "string"
        - name: "srcAppCd"
          in: "query"
          required: false
          type: "string"
        - name: "sourceTxnId"
          in: "query"
          required: false
          type: "string"
        - name: "transactionRefNo"
          in: "query"
          type: "string"
        - name: "debitNoteId"
          in: "query"
          type: "string"
        - name: "linkedProgram"
          in: "query"
          required: false
          type: "string"
        - name: "linkInvoiceNumber"
          in: "query"
          required: false
          type: "string"
          description: "Coma/Pipe seperated invoice numbers"
        - name: offset
          in: query
          description: offset is starting no of records to be fetched
          required: false
          type: integer
        - name: limit
          in: query
          description: limit is maximum no of records to be fetched
          required: false
          type: integer
      responses:
        200:
          description: "Successful performs the operation"
          schema:
            $ref: "#/definitions/ServiceDebitNoteResponse"
        400:
          description: "Malformed syntax."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"                  
definitions:
  DebitNotePutModel:
    description: "Debit note put model"
    type: "object"
    required:
      - action
      - processingDate
      - processingBranchCode
    properties:
      srcAppCd:
        type: string
        description: "Source Application Code"
      srcAppRefNo:
        type: string
        description: "Reference Number of Calling System"
      action:
        type: string
        description: "Action for which debit note are getting saved"
      processingDate:
        type: string
        description: "Processing Date"
      processingBranchCode:
        type: string
        description: "Branch Code"
      makerId:
        type: string
        description: "Maker Id from Portal"
      checkerId:
        type: string
        description: "Checker Id from Portal"
      debitNoteList:
        type: array
        items:
          $ref: "#/definitions/DebitNoteUpdateModel2"
  DebitNoteUpdateModel2:
    description: "Debit note Update model 2"
    type: "object"
    properties:
      debitNoteRefNo:
        type: string
        description: ""
      oldDebitNoteDueDate:
        type: string
        description: ""
      debitNoteDueDate:
        type: string
        description: ""
      debitNoteDate:
        type: string        
        description: ""        
      oldDisputeAmount:
        type: number
        description: ""
      disputeAmount:
        type: number
        description: ""
      oldAcceptanceAmount:
        type: number
        description: ""
      acceptanceAmount:
        type: number
        description: ""
      discrepancyCd:
        type: string
        description: ""
      remarks:
        type: string
        description: ""
      linkedDocs:
        type: string
        description: ""
      isAutoAuth:
        type: string
        description: ""
      adjustmentReason:
        type: string
        description: ""
      linkInvoiceNumber:
        type: string
        description: ""
      transactionRefNo:
        type: string
        description: ""
      invoiceCommodityGridList:
        type: array
        items:
          $ref: './RecInstrumentInvoiceDef.yaml#/definitions/InvoiceCommodityGridModel'
  UpdateDebitNoteResponse:
    description: "Debit note Response model"
    type: "object"
    properties:
      srcAppRefNo:
        type: string
        description: ""
      trnStatus:
        type: string
        description: ""
      errorCode:
        type: string
        description: ""
      errorDesc:
        type: string
        description: ""
      processingDate:
        type: string
        description: ""
      refNoList:
        type: array
        items: 
          $ref: '#/definitions/DebitNoteTranRefNoResponse'
  DebitNoteTranRefNoResponse:
    description: "List of Internal Reference Numbers"
    type: "object"
    properties:
      trnRefNo:
        type: string
        description: ""
      trnStatus:
        type: string
        description: ""
      errorCode:
        type: string
        description: ""
      errorDesc:
        type: string
        description: ""
      debitNoteRefNoList:
        type: array
        items: 
          $ref: '#/definitions/DebitNoteRefNoResponse'
  DebitNoteRefNoResponse:
    description: "List of Internal Reference Numbers"
    type: "object"
    properties:
      debitNoteRefNo:
        type: string
        description: ""
      trnStatus:
        type: string
        description: ""
      errorCode:
        type: string
        description: ""
      errorDesc:
        type: string
        description: ""
  ServiceDebitNoteResponse:
    description: "Collection of Debit notes."
    type: "object"
    properties:
      debitNoteList:
        type: "array"
        items:
          $ref: "#/definitions/DebitNoteModelResponse"
      paging:
        type: object
  DebitNoteModelResponse:
    description: "Service Get API Debit Note model"
    type: "object"
    properties:
      id:
        type: "string"
      seqNo:
        type: "integer"
        format: "int64"
      debitNoteId:
        description: "Id of the debit note"
        type: string
      acceptanceAmount:
        type: number
        description: "Acceptance Amount"
      amount:
        type: number
        description: "Amount"
      anchorId:
        type: string
        description: "Anchor id"
      buyerId:
        type: string
        description: "Buyer Id"
      buyerName:
        type: string
        description: "Buyer Name"
      buyerAddress:
        type: "array"
        items: 
         $ref: "./invoicingServiceV2.yaml#/definitions/ScfNonCustomerAddressModel"
      buyerDivCode:
        type: string
        description: "Buyer Division Code"
      buyerDivName:
        type: string
        description: "Buyer Division Name"
      borrower:
        type: string
        description: "Borrower"  
      currency:
        type: string
        description: "Currency"
      isDisputed:
        type: string
        description: "Is Disputed"
      isDisputeResolvedWriteOff:
        type: string
        description: "Is Dispute Resolved Write Off"
      isFinanced:
        type: string
        description: "Is Financed"
      isOverdue:
        type: string
        description: "Is Overdue"
      isAccepted:
        type: string
        description: "Is Accepted"
      isAssigned:
        type: string
        description: "Is Assigned"
      assignmentParty:
        type: string
        description: "Assignment Party"
      linkedDocs:
        type: string
        description: "Linked Docs"
      discrepancyCode:
        type: string
        description: "Discrepancy Code"
      disputeResolveRemarks:
        type: string
        description: "Dispute Resolve Remarks"
      fileRef:
        type: string
        description: "File reference"
      fileName:
        type: string
        description: "File Name"
      filler1:
        type: string
        description: "Filler1"
      filler2:
        type: string
        description: "Filler2"
      filler3:
        type: string
        description: "Filler3"
      filler4:
        type: string
        description: "Filler4"
      financeAmount:
        type: number
      financePercentage:
        type: number
      indicator:
        type: string
        description: "Indicator"
      debitNoteDate:
        type: string
        description: "Debit Note Date"
      debitNoteDueDate:
        type: string
        description: "Debit Note Due Date"
      debitNoteNumber:
        type: string
        description: "Debit Note Number"
      debitNoteProcessStatus:
        type: string
        description: "Debit Note Process Status"
      debitNoteRefNo:
        type: string
        description: "Debit Note Reference Number"
      debitNoteStatus:
        type: string
        description: "Debit Note Status"
      dNoteAcceptanceDate:
        type: string
        description: "Debit Note Acceptance Date"
      maxFinancePercentage:
        type: number
        description: "Maximum Finance Percentage"
      minFinancePercentage:
        type: number
        description: "Minimum Finance Percentage"
      paidAmount:
        type: number
        description: "Paid Amount"
      paymentStatus:
        type: string
        description: "Payment Status"
      preAccepted:
        type: string
      poNumber:
        type: string
        description: "Po Number" 
      productCode:
        type: string
        description: "Product Code" 
      productType:
        type: string
        description: "Product Type"      
      programCode:
        type: string
        description: "Program Code"
      programName:
        type: string
      reasonCode:
        type: string
        description: "Reason Code"
      remarks:
        type: string
        description: "Remarks"
      spokeId:
        type: string
        description: "Spoke Id" 
      supplierId:
        type: string
        description: "Supplier Id"
      supplierName:
        type: string
        description: "Supplier Name"
      supplierAddress:
        type: "array"
        items: 
         $ref: "./invoicingServiceV2.yaml#/definitions/ScfNonCustomerAddressModel"
      supplierDivCode:
        type: string
        description: "Supplier Division Code"
      supplierDivName:
        type: string
        description: "Supplier Division Name"
      taxAmount:
        type: number
        description: "Tax Amount"
      totalDebitNoteAmount:
        type: number
        description: "Total Debit Note Amount"
      paymentTerms:
        type: string
      shipmentDate:
        type: string
      outstandingAmount:
        type: number
      discountAllowed:
        type: string
      discountPercentage:
        type: number
      discountAmount:
        type: number
      taxPercentage:
        type: number
      purchaseOrderDate:
        type: string
      staleStatus:
        type: string
      divisionCode:
        type: string
      shipmentAddress:
        type: string
      shipmentCountry:
        type: string
      shipmentNo:
        type: string
      reasonForExport:
        type: string
      termsOfSale:
        type: string
      countryOfOrigin:
        type: string
      miscCharge1:
        type: number
      miscCharge1Amount:
        type: number
      miscCharge1Desc:
        type: string
      miscCharge2:
        type: number
      miscCharge2Amount:
        type: number
      miscCharge2Desc:
        type: string
      netDebitNoteAmount:
        type: number
      financeableAmount:
        type: number
      finTxnStatus:
        type: string
      transactionRefNo:
        type: string
      relationCode:
        type: string
        description: "Relation Code"
      supplierCode:
        type: string
      buyerCode:
        type: string
      shipmentRefNo:
        type: string
      repayAccountNo:
        type: string
      bank:
        type: string
      branch:
        type: string
      routingCode:
        type: number
      isAutoAuth:
       type: string
      channel:
       type: string
      sourceTxnId:
       type: string	
      disputedAmount:
       type: number
      fundingReqAmt:
       type: number	
      status:
       type: string
      adjustmentReason:
        type: string
      shipmentCity:
        type: string
      shipmentZipCode:
        type: string
      shipmentPhoneNumber:
        type: integer
      shipmentTaxId:
        type: string                                
      linkedInvoices:
       type: string
      fundingReqDate:
       type: string 
      programParameters:
          $ref: './invoicingServiceV2.yaml#/definitions/ProgramSpokeResponse'
      productParameters:
          $ref: './invoicingServiceV2.yaml#/definitions/ProductMasterDTO'
      invoiceCommodityGridList:
        type: array
        items:
          $ref: './invoicingServiceV2.yaml#/definitions/InvoiceCommodityGridServiceModel'
      linkedInvoiceList:
        type: array
        items:
          $ref: './RecInstrumentInvoiceDef.yaml#/definitions/LinkedInvoiceModel'
  HistoricalStatusModel:
    description: "Historical status Model"
    type: "object"
    properties:
      invoiceStatus:
        type: string
        description: "Invoice Status"
      financeStatus:
        type: string
        description: "Finance Status"
      paymentStatus:
        type: string
        description: "Payment Status"
      remarks:
        type: string
        description: "Remarks"  

  DiscountOfferModel:
    description: "Finance Transaction Model"
    type: "object"
    allOf:
    - $ref: '#/definitions/GenericDto'
    - type: object
    properties:
       id:
         type: "string"
       seqNo:
         type: "integer"
         format: "int64"
       discountRuleId:
         type: "string"
       discountRuleDesc:
         type: "string"
       requestorPartyRole:
         type: "string"
       requestorParty:
         type: "string"
       relationshipCode:
         type: "string"
       counterpartyRole:
         type: "string"
       counterparty:
         type: "string"
       currency:
         type: "string"
       requestorPartyName:
         type: "string"
       counterPartyName:
         type: "string"
       effectiveDate:
         type: string
       expiryDate:
         type: string
       instrumentAmountFrom:
         type: "number"
       instrumentAmountTo:
         type: "number"
       discountType:
         type: string
       slidingScaleApplicable:
         type: string
       minTenor:
         type: "number"
       maxTenor:
         type: "number"
       discountRate:
         type: "number"
       makerDtStamp:
         type: string
         format: date       
         description: "Maker Dt Stamp" 
       makerId:
         type: "string"
       checkerDtStamp:
         type: string
         format: date       
         description: "Checker Dt Stamp" 
       checkerId:
         type: "string"
       chgPrcTemplateId:
         type: "string"
       chgPrcId:
         type: "string"
       applicabilityBasis:
         type: "string"
       autoApplicable:
         type: "string"
       autoApplicabilityBasis:
         type: "string"
       earlyPaymentDate:
         type: "string"
       discOfferRangeServiceModelList:
         type: array
         items:
           $ref: '#/definitions/DiscOfferRangeModel'    
           
  DiscOfferRangeModel:
     description: discount detail
     type: object
     properties:
       id:
         type: number
       seqNo:
         type: number        
       discountRuleId:
         type: number
       remainingTenorFrom:
         type: number
       remainingTenorTo:
         type: number
       discountRate:
         type: number
       upperDiscountRateThreshold:
         type: number
       lowerDiscountRateThreshold:
         type: number
       discountMasterId:
         type: string                                           
          
  InvoicingOfferDTO:
    type: object
    properties:
      id:
       type: string
       description: "Id"
      seqNo:
       type: "integer"
       format: "int64"
      transactionRefNo:
        type: string
        description: "Transaction Ref No"
      invoiceRefNo:
        type: string
        description: "Invoice Ref No"       
      earlyPaymentDate:
       type: string
       description: "Early Payment Date"
      discountPercentage:
       type: number
       description: "Discount Percentage"
      discountAmount:
       type: number
       description: "Discount Amount"
      notionalEarlyPayAmt:
       type: number
       description: "Notional Early Pay Amount"
      chgPriceTemplateId:
       type: string
       description: "charge Price Template Id"
      currency:
       type: string
       description: "Currency"
      invoiceMasterId:
        type: string
        description: "Invoice Master Id"  
      discountRuleId:
        type: string
        description: "Discount Rule Id" 
      discountRuleDescription:
        type: string
        description: "Discount Rule Description" 
      requestorPartyRole:
        type: string
        description: "Requestor Party Role" 
      discountOfferStatus:
        type: string
        description: "Discount Offer Status" 
      discountOfferActiveStatus:
        type: string
        description: "Discount Offer Active Status"                              

  HistoricalStatusCollection:
    description: "Collection of Historical statuses."
    type: "object"
    properties:
      HistStatusList:
       type: "array"
       items:
          $ref: "#/definitions/HistoricalStatusModel"

  InvoiceMarginModel:
    description: "Margin Model."
    type: "object"
    properties:
      marginRefNo: 
        type: string
        description: ""
  DiscrepancyResponseModel:
    description: "Discrepancy Response model"
    type: "object"
    properties:
      status:
        type: string
        description: "Status"
      errorCode:
        type: string
        description: "Error Code"
      errorDesc:
        type: string
        description: "Error Description"
      discrepancyList:
        type: "array"
        items:
          $ref: "#/definitions/DiscrepancyModel"
  DiscrepancyModel:
    description: "Discrepancy list Response model"
    type: "object" 
    properties:            
      discrepancyCode:
        type: string
        description: "Discrepancy Code"
      discrepancyDesc:
        type: string
        description: "Discrepancy Description"
  InvoiceFileModel:
    description: "Invoice File model"
    type: "object"
    properties:
      invoiceFileId:
        description: "Id of the Invoice File"
        type: "integer"
        format: "int64"
      channel:
        type: string
        description: "Channel"
      fileName:
        type: string
        description: "File Name"
      fileRef:
        type: string
        description: "File Reference"
      fileType:
        type: string
        description: "File Type"
      status:
        type: string
        description: "Status"
      totalRecords:
        type: number
        description: "Total Records"
      totalSuccessRecords:
        type: number
        description: "Total Success Records"
      uploadDate:
        type: string
        description: "Upload Date"
      uploadedFiles:
        type: array
        items:
          $ref: "#/definitions/UploadedFile"
      reasonCode:
        type: string
  UploadedFile:
    description: "File Need to be uploaded."
    type: "object"
    properties:
      fileName: 
        type: string
      fileContent: 
        type: string
  InvoiceFileCollection:
    description: "Collection of Invoice Files."
    type: "object"
    properties:
      invoiceFileList:
        type: "array"
        items:
          $ref: "#/definitions/InvoiceFileModel"
  InvoiceUpdateModelCollection:
    description: "Collection of Invoices."
    type: "object"
    properties:
      invoiceList:
        type: "array"
        items:
          $ref: "#/definitions/InvoiceUpdateModel"
  InvoiceUpdateModel:
    description: "Invoice Update model"
    type: "object"
    properties:
      invoiceStatus:
        type: string
        description: "Invoice Status"
      acceptanceAmount:
        type: number
        description: "Acceptance Amount"
      invoiceDueDate:
        type: string
        description: "Invoice Due Date"
      isAutoAuth:
        type: string
        description: "Is Auto Authorized"
      invoiceRefNo:
        type: string
        description: "Invoice Reference Number"
      remarks:
        type: string
        description: "Remarks"
      seqNo:
        type: "integer"
        format: "int64"         
  
      fundingReqDate:
        type: string
        description: "Funding Request Date"  
      newFundingReqDate:
        type: string
        description: "New Funding Request Date"      
  
  ObPaymentCustomTermsDTO:
   type: object
   properties:
     fromDay:
      type: string
      description: "From Day"
     id:
      type: string
      description: "Id"
     paymentDay:
      type: string
      description: "Payment Day"
     paymentTermsId:
      type: string
      description: "Payment Terms Id"
     toDay:
      type: string
      description: "To Day"
  ObPaymentTermsDTO:
   type: object
   allOf:
   - $ref: './CommonDef.yaml#/definitions/GenericDto'
   - type: object
     properties:
      id:
       type: string
       description: "Id"
      daysOfTheMonth:
       type: string
       description: "Days Of The Month"
      daysOfTheWeek:
       type: string
       description: "Days Of The Week"
      filterAttr1: 
       description: "Filter Attribute1"
       type: string
      filterAttr2: 
       description: "Filter Attribute2"
       type: string
      filterAttr3: 
       description: "Filter Attribute3"
       type: string
      filterAttr4: 
       description: "Filter Attribute4"
       type: string
      filterAttr5: 
       description: "Filter Attribute5"
       type: string
      filterAttr6: 
       description: "Filter Attribute6"
       type: string
      filterAttr7: 
       description: "Filter Attribute7"
       type: string
      filterAttr8: 
       description: "Filter Attribute8"
       type: string
      filterAttr9: 
       description: "Filter Attribute9"
       type: string
      filterAttr10: 
       description: "Filter Attribute10"
       type: string    
      filterCriteria:
       type: string
       description: "Filter Criteria"
      frequencyOfPayments:
       type: string
       description: "Frequency Of Payments"
      holidayTreatment:
       type: string
       description: "Holiday Treatment"
      minimumCreditPeriod:
       type: number
       description: "Minimum Credit Period"
      paymentDateCalculationBasis:
       type: string
       description: "Payment Date Calculation Basis"
      txnControllerRefNo:
       type: string
       description: "Transaction Controller Reference Number"   
      ObPaymentCustomTermsDTO:
       type: array
       items:
        $ref: '#/definitions/ObPaymentCustomTermsDTO'
  ObPaymentTermsCollection: 
   description: "Collection of termstm."
   type: "object"
   properties:
    data:
     type: "array"
     items: 
      $ref: "#/definitions/ObPaymentTermsDTO"
    paging:
     $ref: "#/definitions/PagingDto"
  InvoiceFilterModel:
    description: "Invoice model"
    type: "object"
    properties:
      id:
        type: "string"
      seqNo:
        type: "integer"
        format: "int64"
      invoiceId:
        description: "Id of the Invoice "
        type: "string"
      buyerId:
        type: string
        description: "Buyer Id"
      buyerName:
        type: string
        description: "Buyer Name"
      invoiceDate:
        type: string
        description: "Invoice Date"
      invoiceDueDate:
        type: string
        description: "Invoice Due Date"
      invoiceNumber:
        type: string
        description: "Invoice Number"
      invoiceRefNo:
        type: string
        description: "Invoice Reference Number"
      programCode:
        type: string
        description: "Program Code"
      programName:
        type: string
      reasonCode:
        type: string
        description: "Reason Code"
      supplierId:
        type: string
        description: "Supplier Id"
      supplierName:
        type: string
        description: "Supplier Name"
      supplierDivCode:
        type: string
        description: "Supplier Division Code"
      supplierDivName:
        type: string
        description: "Supplier Division Name"
      paymentTerms:
        type: string
      shipmentDate:
        type: string
      divisionCode:
        type: string
      transactionRefNo:
        type: string
      relationCode:
        type: string
        description: "Relation Code"
      supplierCode:
        type: string
      buyerCode:
        type: string
      paymentDate:
        type: string
      buyerDivCode:
        type: string
        description: "Buyer Division Code"
      buyerDivName:
        type: string      

  InvoiceCollection:
    description: "Collection of Invoices."
    type: "object"
    properties:
      sourceTxnId:
        type: "string"
      invoiceList:
        type: "array"
        items:
          $ref: "./RecInstrumentInvoiceDef.yaml#/definitions/InvoiceModel"
      paging:
        type: "object" 
  InvoiceBatchingCollection:
    description: "Collection of Invoices."
    type: "object"
    properties:
      invoiceList:
        type: "array"
        items:
          $ref: "./RecInstrumentInvoiceDef.yaml#/definitions/InvoiceModel"
      disbursementCcy:
        type: string
      maxFinancePercentage:
        type: number
      financeAmt:
        type: number
      programCode:
        type: string
      isProgramLinked:
        type: string
      sourceTxnId:
        type: "string"
      transactionRefNo:
        type: "string"
      financeRefNo:
        type: "string"
      docRefNo:
        type: "string"
    required:
      - isProgramLinked
  InvoiceRefCollection:
    description: "Collection of Invoice Reference Numbers."
    type: "object"
    properties:
      invoiceReferenceNoList:
        type: "array"
        items:
          type: "string"
      disbursementCcy:
        type: string
      maxFinancePercentage:
        type: number
      financeAmt:
        type: number
      programCode:
        type: string
      isProgramLinked:
        type: string
      sourceTxnId:
        type: "string"
      transactionRefNo:
        type: "string"
      financeRefNo:
        type: "string"
      docRefNo:
        type: "string"
  
    required:
      - isProgramLinked
  FileRefCollection:
    description: "Collection of File Ref Numbers."
    type: "object"
    properties:
      fileRefList:
        type: "array"
        items:
          type: "string"
  InvoiceSearchModel:
    description: "Invoice Search Model Class."
    type: "object"
    properties:
      invoiceNumber:
        type: string
      programCode:
        type: string
      buyerName: 
        type: string
      supplierName:
        type: string
      invoiceDateFrom:
        type: "string"
      invoiceDateTo:
        type: "string"
      invoiceDueDateFrom:
        type: "string"
      invoiceDueDateTo:
        type: "string"
      invoiceProcessStatus:
        type: string
      fileName:
        type: string
      fileRef:
        type: string
      invoiceRefNo:
        type: string
      accepted:
        type: string
      preAccepted:
        type: string
      isFileEnquiry:
        type: string
      buyerId:
        type: string
      supplierId:
        type: string
      invoiceStatus:
        type: string
      invoiceAmountFrom:
        type: number
      invoiceAmountTo:
        type: number
      outstandingAmountFrom:
        type: number
      outstandingAmountTo:
        type: number
      paidAmountFrom:
        type: number
      paidAmountTo:
        type: number
      paymentStatus:
        type: string
      currency:
        type: string
      buyerDivCode:
        type: string
        description: "Buyer Division Code"
      supplierDivCode:
        type: string
        description: "Supplier Division Code"
      isDisputed:
        type: string
        description: "Is Disputed"
      invoiceInquiryStatus:
        type: string
        description: "Invoice Inquiry Status"
      isFinanciable:
        type: string
        description: "Is Financiable"
      relationCode:
        type: string
        description: "Relation Code"
      linkedProgram:
        type: string
        description: "Linked Program"
      searchDateBy:
        type: string
      fromDate:
        type: string
      toDate:
        type: string
      action:
        type: string
      status:
        type: string
      staleStatus:
        type: string
      isDisputeResolvedWriteOff:
        type: string
      isFinanced:
        type: string
      isOverdue:
        type: string
      isAccepted:
        type: string
      isAssigned:
        type: string
      assignmentParty:
        type: string 
      dateRefBasis:
        type: string
      indicator:
        type: string
      searchByAmount:
        type: string
      fromAmount:
        type: string
      toAmount:
        type: string
      linkedInvoices:
       type: string
      channel:
       type: string
      sourceTxnId:
       type: string
      invoiceId:
        type: string
      transactionRefNo:
        type: string
      finTxnStatus:
       type: string
      fundingReqDateFrom:
       type: string   
      fundingReqDateTo:
       type: string                   
      netAmountFrom:
       type: number   
      netAmountTo:
       type: number  
      discountRuleId:
        type: string 
      forDynamicReg:
        type: boolean 
      forDynamicInvFilter:
        type: boolean
      programName:
        type: string
      invoiceStatus:
        type: string
      discountStatus:
        type: string
      paymentStatus:
        type: string
      discountOfferStatus:
        type: string
      requestorPartyId:
        type: string
        type: string
      amountRefBasis:
        type: string
        description: "Amount Reference Basis"
      financeStatus:
        type: string
        description: "Finance Status"
      discountOfferId:
        type: "string"
      minTenor:
        type: "number"
      maxTenor:
        type: "number"
      isDiscOfferAccepted:
        type: "string"
  ResponseDtoWrapper:
    type: object
    properties:
      messages:
        $ref: "#/definitions/ResponseDto"
      data:
        $ref: "#/definitions/ResponseResourceSupport"
  ResponseResourceSupport:
    type: object
  ResponseDto:
   type: object
   properties:
    id:
     type: string
    status:
     type: string
    codes:
     type: array
     items:
      $ref: "#/definitions/ResponseCode"
    requestId:
     type: string
  ResponseCode:
   type: object
   properties:
    Code:
     type: string
    Desc:
     type: string
    Type:
     type: string
    Language:
     type: string
    args:
     type: array
     items:
      type: object
    arg:
     type: string
  InvoiceBatchModel:
    type: object
    properties:
      requestId:
        type: string
      finRefNo:
        type: string
      fileId: 
        type: string
      invoiceDueDate:
        type: string
      programCode:
        type: "string"
      exchangeRate:
        type: number
      currency:
        type: "string"
      financeCcy:
        type: "string"
      buyerId:
        type: "string"
      buyerName:
        type: "string"
      buyerDivCode:
        type: string
      buyerDivName:
        type: string
      supplierId:
        type: "string"
      supplierName:
        type: "string"
      supplierDivCode:
        type: string
      supplierDivName:
        type: string
      batchStatus:
        type: "string"
      invoiceCount:
        type: "integer"
        format: "int64"
      totalInvoiceAmt:
        type: number
      totalFinanceAmt:
        type: number
      totalAmtToBeFinanced:
        type: number
      financiableAmt:
        type: number
      maxFinPCT:
        type: number
      minFinPCT:
        type: number
      minReFinPCT:
        type: number
      maxReFinPCT:
        type: number
      minFinanciableAmt:
        type: "number"
      maxFinanciableAmt:
        type: "number"
      staleStatus:
        type: "string"
      isProgramLinked:
        type: "string"
      paymentDueDate:
        type: string
      indicator:
        type: string
      poNumber:
        type: string
      programDTO:
        $ref: "#/definitions/ScfTmProgramMasterDTO"
      productDTO:
        $ref: "#/definitions/ScfTmProductMasterDTO"
      invoiceList:
        type: array
        items:
          $ref: "#/definitions/InvoiceFinanceDetails"
  InvoiceBatchParamModel:
    type: object
    properties:
      fileId:
        type: string
      programCode:
        type: "string"
      currency:
        type: "string"
      buyerId:
        type: "string"
      buyerName:
        type: "string"
      buyerDivCode:
        type: string
      buyerDivName:
        type: string
      supplierId:
        type: "string"
      supplierName:
        type: "string"
      supplierDivCode:
        type: string
      supplierDivName:
        type: string
      invoiceDueDate:
        type: string
      invoiceCount:
        type: "integer"
        format: "int64"
      totalInvoiceAmt:
        type: number
      totalFinanceAmt:
        type: number
      totalAmtToBeFinanced:
        type: number
      staleStatus:
        type: "string"
      paymentDueDate:
        type: string
      indicator:
        type: string
      poNumber:
        type: string
      invoiceList:
        type: array
        items:
          $ref: "#/definitions/InvoiceFinanceDetails"
  BasicFinanceInfoModel:
    description: "Finance Transaction Model"
    type: "object"
    properties:
      id:
        type: "string"
      financeRefNo:
        type: "string"
      seqNo:
         type: "integer"
         format: "int64"
      requestId:
        type: "string"
      branchCode:
        type: "string"
      productCode:
        type: "string"
      operationCode:
        type: "string"
      programCode:
        type: "string"
      programName:
        type: "string"
      buyerId:
        type: "string"
      buyerName:
        type: "string"
      buyerDivCode:
        type: string
      buyerDivName:
        type: string
      supplierId:
        type: "string"
      supplierName:
        type: "string"
      supplierDivCode:
        type: string
      supplierDivName:
        type: string
      debtor:
        type: "string"
      startDate:
        type: "string"
      tenor:
        type: "number"
      maturityDate:
        type: "string"
      totalInstrumentAmtCcy:
        type: "string"
      totalInstrumentAmt:
        type: "number"
      financePCT:
        type: "number"
      financeAmtCcy:
        type: "string"
      financeAmt:
        type: "number"
      exchangeRate:
        type: "number"
      processingDate:
        type: "string"
      makerId:
        type: "string"
      makerDateStamp:
        type: "string"
      authId:
        type: "string"
      authDateStamp:
        type: "string"
      financeStatus:
        type: "string"
      clRefNo:
        type: "string"
      productDescription:
        type: "string"
      productCategory:
        type: "string"
      maxTenorAllowed:
        type: "number"
      minTenorAllowed:
        type: "number"
      minFinPCT:
        type: "number"
      maxFinPCT:
        type: "number"
      holidayTreatment:
        type: "string"
      productType:
        type: "string"
      preferredDisbursementMode:
        type: "string"
      stageId:
        type: "string"
      staleStatus:
        type: "string"
      graceDays:
        type: "number"
      pastDueDate:
        type: "string"
      minFinanciableAmt:
        type: "number"
      maxFinanciableAmt:
        type: "number"
      minReFinPCT:
        type: "number"
      maxReFinPCT:
        type: "number"
      isProgramLinked:
        type: "string"
      withRecourse:
        type: "string"
      totalMarginAmount:
        type: "number"
      interestBearingPartyRole:
        type: "string"
  TransactionModel: 
    type: "object"
    title: "transaction"
    properties:
      txnIdentification:
        $ref: "#/definitions/TxnIdentification"
      transactionData:
        $ref: "#/definitions/TransactionData"
      exceptions:
        $ref: "#/definitions/Exceptions"
    xml: {
      namespace: "http://bpel.ofss.com"
      }
  Exceptions:
    type: "object"
    properties:
      error:
        type: "array"
        items:
          $ref: "#/definitions/Error"
      status:
        type: "string"
        xml:
          attribute: true
  Error:
    type: "object"
    properties:
      ecode:
        type: "string"
      etype:
        type: "string"
      edesc:
        type: "string"
  TransactionData:
    type: "object"
    properties:
      moduleData:
        $ref: "#/definitions/ModuleData"
  TxnIdentification:
    type: "object"
    properties:
      processRefNo:
        type: "string"
      branchCode:
        type: "string"
      instanceId:
        type: "string"
      taskPrioirty:
        type: "string"
      processName:
        type: "string"
        minLength: 4
        maxLength: 10
      currentStage:
        type: "string"
      taskCreationDate:
        type: "string"
        format: "date-time"
      moduleCode:
        type: "string"
      currentUser:
        type: "string"
      taskOutcome:
        type: "string"
      outcome:
        type: "string"
      externalSource:
        type: "string"
      sourceRefNo:
        type: "string"
      key1:
        type: "string"
      key2:
[...]
