swagger: "2.0"
info:
 description: "Provides APIs to perform operations on Purchase Orders" 
 version: "1.0.0"
 title: "Purchse Order Service APIs"
host: "api-plato.us.oracle.com:8080"
basePath: "/obscfcm-instruments-receivables-services"
consumes:
 - "application/json"
produces:
 - "application/json"
tags:
 - name: "poService"
   description: "APIs for Purchse Order Operations"

paths:

 /service/v1/po/authorizePo:
    post:
      tags:
        - "poService"
      summary: "Authorise po from conductor"
      description: "Authorise po from conductor"
      operationId: "authorizePo"
      parameters:
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "userId"
          in: "header"
          type: "string"
          required: true
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "conductorWorkflowModel"
          in: "body"
          description: "Request Body that contains data required for creating a new Invoice."
          required: true
          schema:
            $ref: "#/definitions/ConductorWorkflowModel"
      responses:
        201:
          description: "Returns the Id of the newly created bidding"
          schema:
              $ref: "#/definitions/ConductorWorkflowModel"
        400:
          description: "Bad Request"
          schema:
              $ref: "#/definitions/ResponseDtoWrapper"
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
 /service/v1/po/rejectPo:
   post:
      tags:
      - "poService"
      summary: Reject instruments
      description: Reject instruments
      operationId: "rejectPo"
      parameters:
      -  name: appId
         in: header
         type: string
         required: true
      -  name: userId
         in: header
         type: string
         required: true
      -  name: branchCode
         in: header
         type: string
         required: true
      -  name: conductorWorkflowModel
         in: body
         description: Request Body with attributes picked from model.
         required: true
         schema:
            $ref: '#/definitions/ConductorWorkflowModel'
      responses:
         200:
            description: Invoices rejected successfully
            schema:
             $ref: "#/definitions/ConductorWorkflowModel"
         400:
            description: Bad Request
         401:
            description: Request does not have sufficient credentials.
         403:
            description: Request is not authorized.
         405:
            description: Invalid input
         500:
            description: Internal error
 /service/v1/po/create:
   post:
      tags:
      - "poService"
      summary: Adds a new PO
      description: Adds a new PO. 
      operationId: "createPurchaseOrder"
      parameters:
      -  name: appId
         in: header
         type: string
         required: true
      -  name: userId
         in: header
         type: string
         required: true
      -  name: branchCode
         in: header
         type: string
         required: true
      -  name: po
         in: body
         description: Request Body that contains data required for creating a new po
         required: true
         schema:
           $ref: "#/definitions/PoServiceCollection"
      responses:
         200:
            description: Po Response
            schema:
             $ref: "#/definitions/PoServiceListResponse"
         400:
            description: Bad Request
         401:
            description: Request does not have sufficient credentials.
         403:
            description: Request is not authorized.
         405:
            description: Invalid input
         500:
            description: Internal error
 /service/v1/po/modify:
   post:
      tags:
      - "poService"
      summary: Modify a existing authorised PO
      description: Modify a existing authorised PO. 
      operationId: "modifyPurchaseOrder"
      parameters:
      -  name: appId
         in: header
         type: string
         required: true
      -  name: userId
         in: header
         type: string
         required: true
      -  name: branchCode
         in: header
         type: string
         required: true
      -  name: po
         in: body
         description: Request Body that contains data required for modifying a existing authorised po
         required: true
         schema:
           $ref: "#/definitions/PoModServiceCollection"
      responses:
         200:
            description: Po Response
            schema:
             $ref: "#/definitions/PoServiceListResponse"
         400:
            description: Bad Request
         401:
            description: Request does not have sufficient credentials.
         403:
            description: Request is not authorized.
         405:
            description: Invalid input
         500:
            description: Internal error
 /service/v1/po:
  get:
   tags:
    - "poService"
   summary: "Search for an existing purchase order"
   description:  "Search for an existing purchase order"
   operationId: "poSearch"
   parameters:
   - name: appId
     in: header
     type: string
     required: true
   - name: userId
     in: header
     type: string
     required: true
   - name: branchCode
     in: header
     type: string
     required: true
   - name: "poExternalNumber"
     in: "query"
     required: false
     type: "string"
   - name: "programId"
     in: "query"
     required: false
     type: "string"
   - name: "buyerName"
     in: "query"
     required: false
     type: "string"
   - name: "supplierName"
     in: "query"
     required: false
     type: "string"
   - name: "buyerId"
     in: "query"
     required: false
     type: "string"
   - name: "supplierId"
     in: "query"
     required: false
     type: "string"
   - name: "buyerDivCode"
     in: "query"
     required: false
     type: "string"
   - name: "supplierDivCode"
     in: "query"
     required: false
     type: "string"
   - name: "fromPoDate"
     in: "query"
     required: false
     type: "string"
   - name: "toPoDate"
     in: "query"
     required: false
     type: "string"
   - name: "fromPromisedDate"
     in: "query"
     required: false
     type: "string"
   - name: "toPromisedDate"
     in: "query"
     required: false
     type: "string"
   - name: "poStatus"
     in: "query"
     required: false
     type: "string"
   - name: "relationshipId"
     in: "query"
     required: false
     type: "string"
   - name: "fileRefName"
     in: "query"
     required: false
     type: "string"
   - name: "preAccepted"
     in: "query"
     required: false
     type: "string"
   - name: "poInternalNumber"
     in: "query"
     required: false
     type: "string"
   - name: "linkedProgram"
     in: "query"
     required: false
     type: "string"
   - name: "authStatus"
     in: "query"
     required: false
     type: "string"
   - name: "fromPoAmount"
     in: "query"
     required: false
     type: "number"
   - name: "toPoAmount"
     in: "query"
     required: false
     type: "number"
   - name: "fromPoNetAmount"
     in: "query"
     required: false
     type: "number"
   - name: "toPoNetAmount"
     in: "query"
     required: false
     type: "number"
   - name: "currency"
     in: "query"
     required: false
     type: "string"
   - name: "poTransactionRefNo"
     in: "query"
     type: string
     description: "Po Transaction Ref Number"
   - name: "channel"
     in: "query"
     type: string
     description: "channel"
   - name: "sourceTxnId"
     in: "query"
     type: string
   - name: "offset"
     in: "query"
     description: "offset is starting no of records to be fetched"
     required: false
     type: "integer"
   - name: "limit"
     in: "query"
     description: "limit is maximum no of records to be fetched"
     required: false
     type: "integer"
   responses:
    201:
     description: "Returns message of succes or failure"
     schema:
       $ref: "#/definitions/PoSearchResponse"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
 /service/v1/po/linkProgram:
  patch:
   tags:
    - "poService"
   summary: "Purchase Order Link Program"
   description:  "Purchase Order Link Program"
   operationId: "poLinkProgram"
   parameters:
   - name: appId
     in: header
     type: string
     required: true
   - name: userId
     in: header
     type: string
     required: true
   - name: branchCode
     in: header
     type: string
     required: true
   - name: po
     in: "body"
     required: true
     schema:
       $ref: "#/definitions/PoLinkedPrgRequest"
   responses:
    201:
     description: "Returns message of succes or failure"
     schema:
       $ref: "#/definitions/PoServiceResponse"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
 /service/v1/po/linkedPOs/{financeRefNo}:
    get:
      tags:
        - "poService"
      summary: "Retrieves the List of POs linked to the Finance"
      description:  "Retrieves the List of POs linked to the Finance"
      operationId: "getLinkedPOs"
      parameters:
        - name: "financeRefNo"
          in: "path"
          description: "ReferenceNumber for which data needs to be fetched"
          required: true
          type: "string"
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
      responses:
        200:
          description: "Successful performs the operation"
          schema:
            $ref: "#/definitions/PurchaseOrderCollection"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"
 /service/v1/po/enrichment:
    post:
      tags:
      - poService
      summary: Enrich the po with necessary fields for creation
      description: Enrich the po with necessary fields for creation
      operationId: mlEnrichment
      parameters:
      -  name: appId
         in: header
         type: string
         required: true
      -  name: userId
         in: header
         type: string
         required: true
      -  name: branchCode
         in: header
         type: string
         required: true
      -  name: scfMLTagsModel
         in: body
         description: Request Body with ML attributes picked from model.
         required: true
         schema:
            $ref: './RecInstrumentInvoiceDef.yaml#/definitions/ScfMLTagsModel'
      responses:
         201:
            description: Enriched invoice Model with required fields
            schema:
               $ref: '#/definitions/ResponseDtoWrapper'
         400:
            description: Bad Request
         401:
            description: Request does not have sufficient credentials.
         403:
            description: Request is not authorized.
         405:
            description: Invalid input
         500:
            description: Internal error
definitions:        
  ConductorWorkflowModel:
    description: "ConductorWorkflowModel"
    type: "object"
    properties:
      processCode:
        type: "string"
        description: "Process Code to identify workflow"
      processName:
        type: "string"
        description: "Process Name to identify workflow"
      userId:
        type: "string"
        description: "User Id"
      stageId:
        type: "string"
        description: "Stage Id"
      stageDescription:
        type: "string"
        description: "Stage desc"
      branchCode:     
        type: "string"
        description: "Branch Code"
      errorCode:
        type: "string"
        description: "Error Code"
      errorDesc:
        type: "string"
        description: "Error Desc"
      transactionReferenceNo:
        type: "string"
        description: "Transaction Referenec No"
      processingDate:
        description: "Processing Date"
        type: "string"
      businessDate:
        description: "Business Date"
        type: "string"
      workflowInstanceId:
        description: "Workflow Instance Id"
        type: "string"
      taskInstanceId:
        description: "Task Instance Id"
        type: "string"
      appId:
        description: "AppId of Workflow Service"
        type: "string"
      uri:
        description: "EndPoint of Workflow Service"
        type: "string"
      product:
        description: "Product type to identify service for instrument"
        type: "string"
      instrumentModel:
        $ref: "#/definitions/InstrumentModel"
      financeModel:
        $ref: "#/definitions/FinanceModel"
      applicationCode:
        type: "string"    
      workflowType:
        type: "string"    
      productCode:
        type: "string"    
      event:
        type: "string"
      priority:
        type: "string"
      amount:
        type: "number"
      customerNumber:
        type: "string"
      currencyCode:
        type: "string"
      productCategory:
        type: "string"
      applicationNumber:
        description: "Reference number without seqno"
        type: "string"
  InstrumentModel:
    description: "InstrumentModel"
    properties: 
      action:
        type: "string"
        description: "Action"
      isAutoAuth:
        type: "string"
        description: "IsAutoAuth"
      isFileUpload:
        type: "string"
        description: "isFileUpload"
      isFileAuthorized:
        type: "string"
        description: "isFileUpload"
      isPortalTxn:
        type: "string"
        description: "isPortalTxn"
      instrumentType:
        type: "string"
        description: "Instrument Type"
      partyId:
        type: "string"
        description: "Party id"
      invoiceRefNo:
        type: "string"
        description: "Invoice Ref No"
      isFromML:
        type: "string"
        description: "Check if txn is from ML"
      isMLHumanTaskReqd:
        type: "string"
        description: "Check if ml txn requires human task"
      executionId:
        type: "string"
        description: "Execution Id"
      iwpRefNo:
        type: "string"
        description: "iwpRefNo"
      fipRefNo:
        type: "string"
        description: "fipRefNo"
      nfipRefNo:
        type: "string"
        description: "nfipRefNo"
      iwpApplicable:
        type: "string"
        description: "iwpApplicable" 
      fipApplicable:
        type: "string"
        description: "fipApplicable"  
      nfipApplicable:
        type: "string"
        description: "nfipApplicable"     
      additionalDetails:
        type: object
      additionalProperties:
        type: object
       
  FinanceModel:
    description: "FinanceModel"
    properties:
      financeRefNo:
        type: "string"
        description: "financeRefNo"
      financeRefNoSeqNo:
        type: "string"
        description: "financeRefNoSeqNo"
      financeSeqNo:
        type: "integer"
        format: "int64"
      isAutoFinanced:
        type: "string"
        description: "isAutoFinanced flag"
      isLimitBlockReqd:
        type: "string"
        description: "isLimitBlockReqd flag"
      isAuthRequired:
        type: "string"
        description: "isAuthRequired flag"
      isAccEntriesPostRequired:
        type: "string"
        description: "isAccEntriesPostRequired flag"
      isLimitUtilReleaseRequired:
        type: "string"
        description: "isLimitUtilReleaseRequired flag"
      isUpdateFinanceMasterReqd:
        type: "string"
        description: "isUpdateFinanceMasterReqd flag"
      isInstrumentUpdateReqd:
        type: "string"
        description: "isInstrumentUpdateReqd flag"
      isObclTxnUpdateReqd:
        type: "string"
        description: "isObclTxnUpdateReqd flag"
      isAlertsAndNotificationReqd:
        type: "string"
        description: "isAlertsAndNotificationReqd flag"
      additionalDetails:
        type: object
        additionalProperties:
          type: object
  ResponseDtoWrapper:
    type: object
    properties:
      messages:
        $ref: "#/definitions/ResponseDto"
      data:
        $ref: "#/definitions/ResponseResourceSupport"
  ResponseDto:
   type: object
   properties:
    id:
     type: string
    status:
     type: string
    codes:
     type: array
     items:
      $ref: "./CommonDef.yaml#/definitions/ResponseCode"
    requestId:
     type: string
  ResponseResourceSupport:
    type: object
  PoTransactionRefNoCollection:
    description: List of Po Transaction Reference Nos
    type: object
    properties:
      poTransactionRefNo:
        type: array
        items:
          type: string
  PoServiceCollection: 
    description: "Collection of po."
    type: object
    properties:
      sourceTxnId:
        type: string
      authRequire:
        type: string
        description: "Authorization require Y/N"
      data:
        type: array
        items: 
          $ref: "#/definitions/PoServiceDTO"
  PoServiceDTO:
    type: object
    properties:
      buyerId:
        type: string
        description: "Buyer Id"
      buyerDivCode:
        type: string
        description: "Buyer Division Code"
      buyerName:
        type: string
        description: "Buyer Name"
      buyerDivName:
        type: string
        description: "Buyer Division Name"
      currency:
        type: string
        description: "Currency of PO"
      poDate:
        type: string
        description: "Purchase Order Date"
      poExternalNumber:
        type: string
        description: "Purchase Order External Number"
      programId:
        type: string
        description: "Program Code"
      supplierId:
        type: string
        description: "Supplier Id"
      supplierDivCode:
        type: string
        description: "Supplier Division Code"
      supplierDivName:
        type: string
        description: "Supplier Division Name"
      supplierName:
        type: string
        description: "Supplier Name"
      shipmentAddr:
        type: string
        description: "Shipment Address"
      shipmentAddr2:
        type: string
        description: "Shipment Address2"
      shipmentAddr3:
        type: string
        description: "Shipment Address3"
      city:
        type: string
        description: "City"
      shipmentCountry:
        type: string
        description: "Shipment Country"
      zipCode:
        type: string
        description: "Zipcode"
      promisedShipmentDate:
        type: string
        description: "Promised Shipment Date"
      oldPromisedShipmentDate:
        type: string
        description: "Old Promised Shipment Date"
      taxId:
        type: string
        description: "Tax Id"
      paymentTerms:
        type: string
        description: "Payment Term"
      miscChrg1Desc:
        type: string
        description: "Misc Charge 1 Description"
      miscChrg1Amt:
        type: number
        description: "Misc Charge 1 Amount"
      miscChrg2Desc:
        type: string
        description: "Misc Charge 2 Description"
      miscChrg2Amt:
        type: number
        description: "Misc Charge 2 Amount"
      commodityList:
        type: array
        items:
          $ref: "#/definitions/PoComServiceDTO"
      preAccepted:
        type: string
        description: "Pre Accepted"
      basePoAmount:
        type: number
        description: "Amount (Base PO Amount)"
      discountAmount:
        type: number
        description: "Discount Amount"
      discountPercent:
        type: number
        description: "Discount Percent"
      taxAmount:
        type: number
        description: "Tax Amount"
      taxPercent:
        type: number
        description: "Tax Percent"
      netPoAmount:
        type: number
        description: "Net PO Amount"      
      acceptanceAmount:
        type: number
        description: "Acceptance Amount"
      acceptanceDate:
        type: string
        description: "Acceptance Date"
      fundReqAmount:
        type: number
        description: "Funding Request Amount"
      raisedBy:
        type: string
        description: "Raised By"
      filler1:
        type: string
        description: "Filler 1"
      filler2:
        type: string
        description: "Filler 2"
      filler3:
        type: string
        description: "Filler 3"
      filler4:
        type: string
        description: "Filler 4"
      filler5:
        type: string
        description: "Filler 5"
      filler6:
        type: string
        description: "Filler 6"
      reasonForExport:
        type: string
      poTransactionRefNo:
        type: string
        description: "Po Transaction Ref Number"
      channel:
        type: string
        description: "channel"
      sourceTxnId:
        type: string
        description: "sourceTxnId"
  PoComServiceDTO:
    type: object
    properties:
      id:
        type: string
        description: "Id to modify"
      commodityCode:
        type: string
        description: "Commodity Code"
      commodityName:
        type: string
        description: "Commodity Name"
      currency:
        type: string
        description: "CCY for commodity"
      discountAmount:
        type: number
        description: "Dsicount Amt for Commodity"
      discountPercent:
        type: number
        description: "Discount percent for Commodity"
      goodsDescription:
        type: string
        description: "Description of Commodity"
      netCost:
        type: number
        description: "Net Cost of Commodity"
      quantity:
        type: number
        description: "Quantity of Commodity"
      taxAmount:
        type: number
        description: "Tax Amount of Commodity"
      taxPercent:
        type: number
        description: "Tax Percent of Commodity"
      totalCost:
        type: number
        description: "Total Cost Of Commodity"
      totalWeight:
        type: number
        description: "Total Weight of Commodity"
      unit:
        type: string
        description: "Unit of Commodity"
      unitCost:
        type: number
        description: "Unit Cost of Commodity"
      unitWeight:
        type: number
        description: "Unit wight Of Commodity"
  PoServiceListResponse:
    description: "Collection of po response."
    type: object
    properties:
      data:
        type: array
        items: 
          $ref: "#/definitions/PoServiceResponse"
  PoServiceResponse:
    type: object
    properties:
      poInternalNumber:
        type: string
        description: "Po Internal Number"
      poExternalNumber:
        type: string
        description: "Po External Number"
      buyerId:
        type: string
        description: "Buyer Id"
      poStatus:
        type: string
        description: "Po Status"
      processStatus:
        type: string
        description: "Process Status"
      poTransactionRefNo:
        type: string
        description: "Po Transaction Ref Number"
      sourceTxnId:
        type: string
        description: "sourceTxnId"
      errors:
        type: array
        description: "Error List"
        items:
          $ref: "#/definitions/ErrorDto"
  ErrorDto:
    type: object
    properties:
      errorCode:
        type: string
        description: "Error Code"
      errorDesc:
        type: string
        description: "Error Desc"
  PoModServiceCollection: 
    description: "Collection of Modify po."
    type: object
    properties:
      sourceTxnId:
        type: string
      authRequire:
        type: string
        description: "Authorization require Y/N"
      data:
        type: array
        items: 
          $ref: "#/definitions/PoModifyServiceDTO"
  PoSearchResponse:
    allOf:
      - $ref: "#/definitions/PurchaseOrderCollection"
      - type: object
        properties:
          message:
            type: object
            description: "Error Message"
            $ref: "#/definitions/ErrorDto"
          paging:
            $ref: "#/definitions/PagingDto"
  PagingDto:
   type: object
   properties:
    totalResults:
     type: integer
  PoModifyServiceDTO:
    type: object
    properties:
      poAction:
        type: string
        description: "PO Action. Blank indicates no status change for PO"
      buyerId:
        type: string
        description: "Buyer Id"
      buyerDivCode:
        type: string
        description: "Buyer Division Code"
      buyerName:
        type: string
        description: "Buyer Name"
      buyerDivName:
        type: string
        description: "Buyer Division Name"
      poDate:
        type: string
        description: "Purchase Order Date"
      poInternalNumber:
        type: string
        description: "Purchase Order Internal Number"
      poExternalNumber:
        type: string
        description: "Purchase Order External Number"
      supplierDivCode:
        type: string
        description: "Supplier Division Code"
      supplierDivName:
        type: string
        description: "Supplier Division Name"
      supplierName:
        type: string
        description: "Supplier Name"
      shipmentAddr:
        type: string
        description: "Shipment Address"
      shipmentAddr2:
        type: string
        description: "Shipment Address2"
      shipmentAddr3:
        type: string
        description: "Shipment Address3"
      city:
        type: string
        description: "City"
      shipmentCountry:
        type: string
        description: "Shipment Country"
      zipCode:
        type: string
        description: "Zipcode"
      promisedShipmentDate:
        type: string
        description: "Promised Shipment Date"
      oldPromisedShipmentDate:
        type: string
        description: "Old Promised Shipment Date"
      taxId:
        type: string
        description: "Tax Id"
      paymentTerms:
        type: string
        description: "Payment Term"
      miscChrg1Desc:
        type: string
        description: "Misc Charge 1 Description"
      miscChrg1Amt:
        type: number
        description: "Misc Charge 1 Amount"
      miscChrg2Desc:
        type: string
        description: "Misc Charge 2 Description"
      miscChrg2Amt:
        type: number
        description: "Misc Charge 2 Amount"
      commodityList:
        type: array
        items:
          $ref: "#/definitions/PoComServiceDTO"
      preAccepted:
        type: string
        description: "Pre Accepted"
      basePoAmount:
        type: number
        description: "Amount (Base PO Amount)"
      discountAmount:
        type: number
        description: "Discount Amount"
      discountPercent:
        type: number
        description: "Discount Percent"
      taxAmount:
        type: number
        description: "Tax Amount"
      taxPercent:
        type: number
        description: "Tax Percent"
      netPoAmount:
        type: number
        description: "Net PO Amount"      
      acceptanceAmount:
        type: number
        description: "Acceptance Amount"
      acceptanceDate:
        type: string
        description: "Acceptance Date"
      fundReqAmount:
        type: number
        description: "Funding Request Amount"
      filler1:
        type: string
        description: "Filler 1"
      filler2:
        type: string
        description: "Filler 2"
      filler3:
        type: string
        description: "Filler 3"
      filler4:
        type: string
        description: "Filler 4"
      filler5:
        type: string
        description: "Filler 5"
      filler6:
        type: string
        description: "Filler 6"
      reasonForExport:
        type: string
      poTransactionRefNo:
        type: string
        description: "Po Transaction Ref Number"
  PoLinkedPrgRequest:
    type: object
    properties:
      poInternalNumber:
        type: string
        description: "Purchase Order Internal Number"
      poExternalNumber:
        type: string
        description: "Purchase Order External Number"
      buyerId:
        type: string
        description: "Buyer Id"
      programId:
        type: string
        description: "Program Code"
  PurchaseOrderCollection:
    description: "Collection of po."
    type: "object"
    properties:
      data:
        type: "array"
        items: 
          $ref: "./RecInstrumentInvoiceDef.yaml#/definitions/PurchaseOrderDTO"