swagger: '2.0'
info:
   description: Maintenance service for oracle banking integration hub.
   version: 1.0.0
   title: OBIH Service
host: api-plato.us.oracle.com:8080
basePath: /api/1.0
consumes:
- application/json
produces:
- application/json
tags:
-  name: ServiceProviderImpl
   description: This service will be used for registering the serviceprovider with service and route information in order
      to integrate the 3rd party serviceproviders with OBDX. Collectively all services will be called as Integration Hub
schemes:
- https
paths:
   /serviceconsumer/{id}/serviceprovider/{serviceProviderId}/implementation:
      post:
         tags:
         - ServiceProviderImpl
         summary: Adds a new serviceprovider.
         description: Adds a new serviceprovider. Add additional information here for this endpoint.
         operationId: createRecord
         parameters:
         -  name: id
            in: path
            description: Id of the user that needs to be fetched
            required: true
            type: string
            maxLength: 36
         -  name: serviceProviderId
            in: path
            description: key of the serviceConsumerService Maintenance
            required: true
            type: string
            maxLength: 36
         -  name: serviceprovider
            in: body
            description: Request Body that contains data required for creating a new serviceprovider
            required: true
            schema:
               $ref: '#/definitions/ServiceProviderImplDTO'
         responses:
            201:
               description: 'Returns message of succes or failure '
               headers:
                  Location:
                     description: URL of newly created serviceprovider
                     type: string
               schema:
                  $ref: '#/definitions/ResponseDtoWrapper'
            400:
               description: Malformed syntax.
            401:
               description: Request does not have sufficient credentials.
            403:
               description: Request is not authorized.
            405:
               description: Invalid input
            500:
               description: Internal error
      get:
         tags:
         - ServiceProviderImpl
         summary: Get all valid serviceprovider.
         description: Get all valid serviceprovider. This endpoints will be used to Get all valid serviceprovider maintenance
            records.
         operationId: getAll
         parameters:
         -  name: id
            in: path
            description: Id of the user that needs to be fetched
            required: true
            type: string
            maxLength: 36
         -  name: serviceProviderId
            in: path
            description: key of the serviceConsumerService Maintenance
            required: true
            type: string
            maxLength: 36
         -  name: offset
            in: query
            description: offset is starting no of records to be fetched
            required: true
            type: integer
            minimum: 0
         -  name: limit
            in: query
            description: limit is maximum no of records to be fetched
            required: true
            type: integer
            minimum: 0
         -  name: filterBy
            in: query
            description: key of the serviceConsumer Maintenance
            required: false
            type: string
         -  name: filterValue
            in: query
            description: key of the serviceConsumer Maintenance
            required: false
            type: string
         -  name: filterExactMatch
            in: query
            description: key of the serviceConsumer Maintenance
            required: false
            type: boolean
         responses:
            201:
               description: Returns message of succes or failure
               headers:
                  Location:
                     description: ''
                     type: string
               schema:
                  $ref: '#/definitions/ServiceProviderImplCollection'
            400:
               description: Malformed syntax.
            401:
               description: Request does not have sufficient credentials.
            403:
               description: Request is not authorized.
            405:
               description: Invalid input
            500:
               description: Internal error
   /serviceconsumer/{id}/serviceprovider/{serviceProviderId}/implementation/{implementationId}:
      put:
         tags:
         - ServiceProviderImpl
         summary: Update an existing serviceprovider.
         description: Update an existing serviceprovider.
         operationId: modifyRecord
         parameters:
         -  name: id
            in: path
            description: Id of the user that needs to be fetched
            required: true
            type: string
            maxLength: 36
         -  name: serviceProviderId
            in: path
            description: key of the serviceConsumerService Maintenance
            required: true
            type: string
            maxLength: 36
         -  name: implementationId
            in: path
            description: key of the serviceprovider Maintenance
            required: true
            type: string
            maxLength: 36
         -  name: serviceprovider
            in: body
            description: Request Body that contains data required for updating an existing serviceprovider
            required: true
            schema:
               $ref: '#/definitions/ServiceProviderImplDTO'
         responses:
            200:
               description: Returns updated serviceprovider
               schema:
                  $ref: '#/definitions/ResponseDtoWrapper'
            400:
               description: Malformed syntax.
            401:
               description: Request does not have sufficient credentials.
            403:
               description: Request is not authorized.
            405:
               description: Invalid input
            500:
               description: Internal error
      get:
         tags:
         - ServiceProviderImpl
         summary: Retrieves the serviceprovider by ID.
         description: Retrieves the serviceprovider by ID.
         operationId: getById
         parameters:
         -  name: id
            in: path
            description: Id of the user that needs to be fetched
            required: true
            type: string
            maxLength: 36
         -  name: serviceProviderId
            in: path
            description: key of the serviceConsumerService Maintenance
            required: true
            type: string
            maxLength: 36
         -  name: implementationId
            in: path
            description: Id of the user that needs to be fetched
            required: true
            type: string
            maxLength: 36
         responses:
            200:
               description: Returns the serviceprovider based on given id.
               schema:
                  $ref: '#/definitions/ServiceProviderImplWrapperDTO'
            400:
               description: Malformed syntax.
            401:
               description: Request does not have sufficient credentials.
            403:
               description: Request is not authorized.
            500:
               description: Internal error
      delete:
         tags:
         - ServiceProviderImpl
         summary: Deletes the serviceprovider identified by given ID.
         description: Deletes the serviceprovider identified by given ID. Add additional information here for the this endpoint.
         operationId: deleteRecord
         parameters:
         -  name: id
            in: path
            description: Id of the user that needs to be fetched
            required: true
            type: string
            maxLength: 36
         -  name: serviceProviderId
            in: path
            description: key of the serviceConsumerService Maintenance
            required: true
            type: string
            maxLength: 36
         -  name: implementationId
            in: path
            description: Key of the serviceprovider maintenance
            required: true
            type: string
            maxLength: 36
         responses:
            200:
               description: Successful operation.
               schema:
                  $ref: '#/definitions/ResponseDtoWrapper'
            400:
               description: Malformed syntax.
            401:
               description: Request does not have sufficient credentials.
            403:
               description: Request is not authorized.
            500:
               description: Internal error
   /serviceconsumer/{id}/serviceprovider/{serviceProviderId}/implementation/{implementationId}/providedservice/{providedServiceId}/generaterequesttransformation:
      get:
         tags:
         - ServiceProviderImpl
         summary: Retrieves the serviceprovider by ID.
         description: Retrieves the serviceprovider by ID.
         operationId: generateRequestTransformation
         parameters:
         -  name: id
            in: path
            description: Id of the user that needs to be fetched
            required: true
            type: string
            maxLength: 36
         -  name: serviceProviderId
            in: path
            description: key of the serviceConsumerService Maintenance
            required: true
            type: string
            maxLength: 36
         -  name: implementationId
            in: path
            description: Key of the serviceprovider maintenance
            required: true
            type: string
            maxLength: 36
         -  name: providedServiceId
            in: path
            description: key of the serviceConsumerService Maintenance
            required: true
            type: string
            maxLength: 36
         responses:
            200:
               description: Returns the serviceprovider based on given id.
               schema:
                  $ref: '#/definitions/ProvidedServiceRequestTransformationWrapperDTO'
            400:
               description: Malformed syntax.
            401:
               description: Request does not have sufficient credentials.
            403:
               description: Request is not authorized.
            500:
               description: Internal error
   /serviceconsumer/{id}/serviceprovider/{serviceProviderId}/implementation/{implementationId}/export:
      get:
         tags:
         - ServiceProviderImpl
         summary: Update an existing serviceprovider.
         description: Update an existing serviceprovider.
         operationId: exportImplementation
         produces:
         - application/json
         - application/octet-stream
         parameters:
         -  name: id
            in: path
            description: Id of the user that needs to be fetched
            required: true
            type: string
            maxLength: 36
         -  name: serviceProviderId
            in: path
            description: key of the serviceConsumerService Maintenance
            required: true
            type: string
            maxLength: 36
         -  name: implementationId
            in: path
            description: key of the serviceprovider Maintenance
            required: true
            type: string
            maxLength: 36
         responses:
            200:
               description: Returns updated serviceprovider
               schema:
                  type: object
            400:
               description: Malformed syntax.
            401:
               description: Request does not have sufficient credentials.
            403:
               description: Request is not authorized.
            405:
               description: Invalid input
            500:
               description: Internal error
   /serviceconsumer/{id}/serviceprovider/{serviceProviderId}/implementation/import:
      post:
         tags:
         - ServiceProviderImpl
         summary: Update an existing serviceprovider.
         description: Update an existing serviceprovider.
         operationId: importImplementation
         consumes:
         - multipart/form-data
         parameters:
         -  name: id
            in: path
            description: Id of the user that needs to be fetched
            required: true
            type: string
            maxLength: 36
         -  name: serviceProviderId
            in: path
            description: key of the serviceConsumerService Maintenance
            required: true
            type: string
            maxLength: 36
         -  name: file
            in: formData
            description: Request Body that contains data required for creating a new serviceConsumer
            required: true
            type: file
         responses:
            200:
               description: 'Returns message of succes or failure '
               headers:
                  Location:
                     description: URL of newly created implementation
                     type: string
               schema:
                  $ref: '#/definitions/ResponseDtoWrapper'
            400:
               description: Malformed syntax.
            401:
               description: Request does not have sufficient credentials.
            403:
               description: Request is not authorized.
            405:
               description: Invalid input
            500:
               description: Internal error                              
definitions:
   ServiceProviderImplDTO:
      type: object
      allOf:
      -  $ref: '#/definitions/GenericDto'
      -  type: object
         properties:
            serviceProviderId:
               type: string
               description: ''
               maxLength: 36
            description:
               type: string
               description: ''
               maxLength: 1000
            name:
               type: string
               description: ''
               maxLength: 255
            isEurekaInstance:
               type: string
               description: ''
               maxLength: 1
            scheme:
               type: string
               description: ''
               maxLength: 10
            serviceName:
               type: string
               description: ''
               maxLength: 100
            host:
               type: string
               description: ''
               maxLength: 255
            port:
               type: integer
               description: ''
               maxLength: 6
            isDefault:
               type: string
               description: ''
               maxLength: 1
            authenticationType:
               type: string
               description: ''
               maxLength: 25
            username:
               type: string
               description: ''
               maxLength: 25
            password:
               type: string
               description: ''
               maxLength: 255
            headers:
               type: string
            ProvidedServiceCollection:
               type: array
               items:
                  $ref: '#/definitions/ProvidedServiceDTO'
            isFactoryShipped:
               type: string
               description: ''
               maxLength: 1
         required:
         - serviceProviderId
         - name
         - scheme
         - isEurekaInstance
         - isDefault
         - authenticationType
   ServiceProviderImplCollection:
      description: Collection of serviceprovider.
      type: object
      properties:
         data:
            type: array
            items:
               $ref: '#/definitions/ServiceProviderImplDTO'
         paging:
            $ref: '#/definitions/PagingDto'
         messages:
            $ref: '#/definitions/ResponseDto'
   ServiceProviderImplWrapperDTO:
      type: object
      properties:
         data:
            $ref: '#/definitions/ServiceProviderImplDTO'
         messages:
            $ref: '#/definitions/ResponseDto'
   GenericDto:
      allOf:
      -  type: object
         discriminator: resource_type