#  This source is part of the Oracle Banking Software Product. 
#  Copyright  2018 , 2018 , Oracle and/or its affiliates.  All rights reserved.
#  
#  No part of this work may be reproduced, stored in a retrieval system, adopted or transmitted in any form or by any means, electronic, mechanical, photographic, graphic, optic recording or otherwise, translated in any language or computer language, without the prior written permission of Oracle and/or its affiliates.
#  
#  Oracle Financial Services Software Limited.
#  Oracle Park, Off Western Express Highway,
#  Goregaon (East), 
#  Mumbai - 400 063, India. 
#  
#-----------------------------------------------------------------------------------------------------
#  **
#  ** File Name  : common.yaml
#  **
#  ** Module     : localholiday
#  ** 

#  -------------------------------------------------------------------------------------------------------
#
#  CHANGE HISTORY
#
#  Created By         :  System
#
#  Bug Number         :  
#  Changed By         :  
#  Change Description :  
#  Change On          :  
#  Search String      :  
#  
#  -------------------------------------------------------------------------------------------------------
  

swagger: "2.0"
info:
 description: "This is a sample server localholidays server." 
 version: "1.0.0"
 title: "localholidays Service"
host: "api-plato.us.oracle.com:8080"
basePath: "/api/1.0"
tags:
 - name: "localholidays"
   description: "API for localholidays Operations"
schemes:
- "https"

paths:

# path to create a new record and fetch all valid records or by intent
#
#  supprorted http methods POST and GET
#
# path example ../localholidays

 /localholidays:
  post:
   tags:
    - "localholidays"
   summary: "Adds a new localholidays."
   description: "Adds a new localholidays. Add additional information here for this endpoint."
   operationId: "saveRecord"
   consumes:
   - "application/json"
   - "application/xml"
   produces:
   - "application/json"
   - "application/xml"   
   parameters:
    - name: "localholidays" 
      in: "body" 
      description: "Request Body that contains data required for creating a new localholidays" 
      required: true
      schema:
       $ref: "#/definitions/CmcTmLocalHolidayMasterDto"
   responses:
    201: 
     description: "Returns message of succes or failure " 
     headers:
      Location:
       description: "URL of newly created localholidays" 
       type: "string"
     schema:
       $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "localholidays"
   summary: "Get all valid localholidays."
   description:  "Get all valid localholidays. This endpoints will be used to Get all valid localholidaysmaintanence records."
   operationId: "getAll"
   produces:
   - "application/json"
   - "application/xml"   
   parameters:
   - name: includecloseandunauth
     in: query
     description: includecloseandunauth need to be set to fetch summary record, defult value is false
     required: false
     type: boolean
   - name: offset
     in: query
     description: offset is starting no of records to be fetched
     required: false
     type: integer
   - name: limit
     in: query
     description: limit is maximum no of records to be fetched
     required: false
     type: integer
   - in: query
     name: authStatus
     required: false
     type: string
   - in: query
     name: branchCode
     required: false
     type: string
   - in: query
     name: year
     required: false
     type: integer
   - in: query
     name: recordStatus
     required: false
     type: string
   responses:
    201:
     description: "Returns message of succes or failure"
     headers: 
      Location:
       description: ""
       type: "string"
     schema:
       $ref: "#/definitions/CmcTmLocalHolidayMasterCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
 /localholidays/{inputDate}/calendarstartperiod/{period}:
  get: 
    tags:
     - "calendarstartperiod"
    summary: "Get calendar start period."
    description:  "Get calendar start period"
    operationId: "isCalendarBeginningOfPeriod"
    produces: 
    - "application/json"
    - "application/xml"
    parameters:
     - name: "inputDate"
       in: "path"
       description: "Input Date"
       required: true
       type: "string" 
     - name: "period"
       in: "path"
       description: "Input Period"
       required: true
       type: "string"   
    responses:
     201:
      description: "Returns message of succes or failure"
      headers: 
       Location:
        description: ""
        type: "string"
      schema:
       $ref: "#/definitions/ResponseDtoWrapper"
     400:
      description: "Malformed syntax."
     401:
      description: "Request does not have sufficient credentials."
     403:
      description: "Request is not authorized."
     405:
      description: "Invalid input"
     500:
      description: "Internal error"
 /localholidays/{inputDate}/calendarendperiod/{period}:
  get: 
    tags:
     - "calendarendperiod"
    summary: "Get calendar Calendar end Period"
    description:  "Get calendar Calendar end Period"
    operationId: "isCalendarEndOfPeriod"
    produces: 
    - "application/json"
    - "application/xml"
    parameters:
     - name: "inputDate"
       in: "path"
       description: "Input Date"
       required: true
       type: "string" 
     - name: "period"
       in: "path"
       description: "Input Period"
       required: true
       type: "string"   
    responses:
     201:
      description: "Returns message of succes or failure"
      headers: 
       Location:
        description: ""
        type: "string"
      schema:
       $ref: "#/definitions/ResponseDtoWrapper"
     400:
      description: "Malformed syntax."
     401:
      description: "Request does not have sufficient credentials."
     403:
      description: "Request is not authorized."
     405:
      description: "Invalid input"
     500:
      description: "Internal error"
 /localholidays/{inputDate}/beginningperiod/{period}:
  get: 
    tags:
     - "beginningperiod"
    summary: "Get Beginning of Period"
    description:  "Get Beginning of Period"
    operationId: "getDateBeginningOfPeriod"
    produces: 
    - "application/json"
    - "application/xml"
    parameters:
     - name: "inputDate"
       in: "path"
       description: "Input Date"
       required: true
       type: "string" 
     - name: "period"
       in: "path"
       description: "Input Period"
       required: true
       type: "string"   
    responses:
     201:
      description: "Returns message of succes or failure"
      headers: 
       Location:
        description: ""
        type: "string"
      schema:
       $ref: "#/definitions/ResponseDtoWrapper"
     400:
      description: "Malformed syntax."
     401:
      description: "Request does not have sufficient credentials."
     403:
      description: "Request is not authorized."
     405:
      description: "Invalid input"
     500:
      description: "Internal error"
 /localholidays/{inputDate}/endperiod/{period}:
  get: 
    tags:
     - "endperiod"
    summary: "Get End of Period"
    description:  "Get End of Period"
    operationId: "getDateEndOfPeriod"
    produces: 
    - "application/json"
    - "application/xml"
    parameters:
     - name: "inputDate"
       in: "path"
       description: "Input Date"
       required: true
       type: "string" 
     - name: "period"
       in: "path"
       description: "Input Period"
       required: true
       type: "string"   
    responses:
     201:
      description: "Returns message of succes or failure"
      headers: 
       Location:
        description: ""
        type: "string"
      schema:
       $ref: "#/definitions/ResponseDtoWrapper"
     400:
      description: "Malformed syntax."
     401:
      description: "Request does not have sufficient credentials."
     403:
      description: "Request is not authorized."
     405:
      description: "Invalid input"
     500:
      description: "Internal error"
 /localholidays/{inputDate}/beginworkingday/{period}:
  get: 
    tags:
     - "beginworkingday"
    summary: "Get Begin of Workingday"
    description:  "Get Get Begin of Workingday"
    operationId: "getWorkingDateBeginningOfPeriod"
    produces: 
    - "application/json"
    - "application/xml"
    parameters:
     - name: "inputDate"
       in: "path"
       description: "Input Date"
       required: true
       type: "string" 
     - name: "period"
       in: "path"
       description: "Input Period"
       required: true
       type: "string"   
    responses:
     201:
      description: "Returns message of succes or failure"
      headers: 
       Location:
        description: ""
        type: "string"
      schema:
       $ref: "#/definitions/ResponseDtoWrapper"
     400:
      description: "Malformed syntax."
     401:
      description: "Request does not have sufficient credentials."
     403:
      description: "Request is not authorized."
     405:
      description: "Invalid input"
     500:
      description: "Internal error"
 /localholidays/{inputDate}/endofworkingday/{period}:
  get: 
    tags:
     - "endofworkingday"
    summary: "Get End of Workingday."
    description:  "Get End of Workingday."
    operationId: "getWorkingDateEndOfPeriod"
    produces: 
    - "application/json"
    - "application/xml"
    parameters:
     - name: "inputDate"
       in: "path"
       description: "Input Date"
       required: true
       type: "string" 
     - name: "period"
       in: "path"
       description: "Input Period"
       required: true
       type: "string"   
    responses:
     201:
      description: "Returns message of succes or failure"
      headers: 
       Location:
        description: ""
        type: "string"
      schema:
       $ref: "#/definitions/ResponseDtoWrapper"
     400:
      description: "Malformed syntax."
     401:
      description: "Request does not have sufficient credentials."
     403:
      description: "Request is not authorized."
     405:
      description: "Invalid input"
     500:
      description: "Internal error"
 /localholidays/getbranchworkingDay/{branchCode}/{inputDate}/{nextPrev}/{offset}/{lowerlimitdate}/{upperlimitdate}:
  get: 
    tags:
     - "getbranchworkingDay"
    summary: "Get getbranchworkingDay."
    description:  "Get getbranchworkingDay."
    operationId: "getBranchWorkingDay"
    produces: 
    - "application/json"
    - "application/xml"
    - "text/html"
    parameters:
     - name: "inputDate"
       in: "path"
       description: "Input Date"
       required: true
       type: "string" 
     - name: "branchCode"
       in: "path"
       description: "BranchCode"
       required: true
       type: "string"
     - name: "nextPrev"
       in: "path"
       description: "nextPrev"
       required: true
       type: "string"
     - name: "offset"
       in: "path"
       description: "offset"
       required: true
       type: "string"
     - name: "lowerlimitdate"
       in: "path"
       description: "lowerlimitdate"
       required: true
       type: "string"
     - name: "upperlimitdate"
       in: "path"
       description: "upperlimitdate"
       required: true
       type: "string"   
    responses:
     201:
      description: "Returns message of succes or failure"
      headers: 
       Location:
        description: ""
        type: "string"
      schema:
       $ref: "#/definitions/ResponseDtoWrapper"
     400:
      description: "Malformed syntax."
     401:
      description: "Request does not have sufficient credentials."
     403:
      description: "Request is not authorized."
     405:
      description: "Invalid input"
     500:
      description: "Internal error"
 /localholidays/isbranchholiday/{branchCode}/{inputDate}:
  get: 
    tags:
     - "isBranchHoliday"
    summary: "Get End of IsBranchHoliday."
    description:  "Get End of IsBranchHoliday."
    operationId: "isBranchHoliday"
    produces: 
    - "application/json"
    - "application/xml"
    parameters:
     - name: "inputDate"
       in: "path"
       description: "Input Date"
       required: true
       type: "string" 
     - name: "branchCode"
       in: "path"
       description: "BranchCode"
       required: true
       type: "string"   
    responses:
     201:
      description: "Returns message of succes or failure"
      headers: 
       Location:
        description: ""
        type: "string"
      schema:
       $ref: "#/definitions/ResponseDtoWrapper"
     400:
      description: "Malformed syntax."
     401:
      description: "Request does not have sufficient credentials."
     403:
      description: "Request is not authorized."
     405:
      description: "Invalid input"
     500:
      description: "Internal error"                                                               

# path to modify existing record, delete existing record and fetch valid records by id or by intent( includes latestRecord, version no)
#
#  supprorted http methods PUT, DELETE and GET
#
# path examples----
#   PUT       .../localholidays/xxx
#   DELETE    .../localholidays/xxx
#   GET       .../localholidays/xxx
#   GET       .../localholidays/xxx?version=latestrecord
#   GET       .../localholidays/xxx?version=1

 /localholidays/{id}:
  put:
   tags:
    - "localholidays"
   summary: "Update an existing rule."
   description:  "Update an existing localholidays."
   operationId: "modifyRecord"
   consumes:
   - "application/json"
   - "application/xml"
   produces:
   - "application/json"
   - "application/xml"   
   parameters:
    - name: "id"
      in: "path"
      description: "key of the localholidays Maintenance"
      required: true
      type: "string"
    - name: "localholidays"
      in: "body"
      description: "Request Body that contains data required for updating an existing localholidays"
      required: true
      schema:
       $ref: "#/definitions/CmcTmLocalHolidayMasterDto"
   responses:
    200:
     description: "Returns updated localholidays"
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "localholidays"
   summary: "Retrieves the localholidays by ID."
   description:  "Retrieves the localholidays by ID."
   operationId: "getById"
   produces:
   - "application/json"
   - "application/xml"   
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
    - name: "version"
      in: "query"
      description: "Id of the user that needs to be fetched"
      required: false
      type: "string"
   responses:
    200:
     description: "Returns the localholidays based on given id."
     schema:
      $ref: "#/definitions/CmcTmLocalHolidayMasterWrapperDTO"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
  delete:
   tags:
    - "localholidays"
   summary: "Deletes the localholidays identified by given ID."
   description:  "Deletes the localholidays identified by given ID. Add additional information here for the this endpoint."
   operationId: "delete"
   consumes:
   - "application/json"
   - "application/xml"
   produces:
   - "application/json"
   - "application/xml"   
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the localholidays Maintenece"
      required: true
      type: "string"
    - name: "localholidays"
      in: "body"
      description: Request body contain localholidays and Modification no of localholidays Maintenece which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to Authorize existing record.
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../localholidays/xxx/approve

 /localholidays/{id}/approve:
  patch:
   tags:
    - "localholidays"
   summary: "Authorize the localholidays by given ID."
   description:  "Authorize the localholidays identified by given ID."
   operationId: "authorize"
   consumes:
   - "application/json"
   - "application/xml"
   produces:
   - "application/json"
   - "application/xml"   
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the localholidays Maintenece"
      required: true
      type: "string"
    - name: "localholidays"
      in: "body"
      description: Request body contain localholidays and Modification no of localholidays Maintenece which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to close existing record
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../localholidays/xxx/close
 /localholidays/{id}/close:
  patch:
   tags:
    - "localholidays"
   summary: "Close the localholidays by given ID."
   description:  "Close the localholidays identified by given ID."
   operationId: "closeRecord"
   consumes:
   - "application/json"
   - "application/xml"
   produces: 
   - "application/json"
   - "application/xml"   
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the localholidays maintenance"
      required: true
      type: "string"
    - name: "localholidays"
      in: "body"
      description: Request body contain localholidays and Modification no of localholidays maintenance which need to be closed"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to reopen existing record
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../localholidays/xxx/reopen

 /localholidays/{id}/reopen:
  patch:
   tags:
    - "localholidays"
   summary: "reopen the localholidays by given ID."
   description:  "reopen the localholidays identified by given ID."
   operationId: "reopenRecord"
   consumes:
   - "application/json"
   - "application/xml"
   produces: 
   - "application/json"
   - "application/xml"   
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the localholidays maintenance"
      required: true
      type: "string"
    - name: "localholidays"
      in: "body"
      description: Request body contain localholidays and Modification no of localholidays maintenance which need to be reopen"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to get all unauthorized records
#
#  supprorted http methods GET
#
# path examples----
#   GET       .../localholidays/xxx/unauthorized

 /localholidays/{id}/unauthorized:
  get:
   tags:
    - "localholidays"
   summary: "Retrives the localholidays by given ID."
   description:  "Retrives the localholidays identified by given ID."
   operationId: "authQuery"
   produces:
   - "application/json"
   - "application/xml"   
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the localholidays based on given id."
     schema:
       $ref: "#/definitions/CmcTmLocalHolidayMasterCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to  history record for remitterid
#
#  supprorted http methods GETS
#
# path examples----
#   GET       .../localholidays/xxx/history

 /localholidays/{id}/history:
  get:
   tags:
    - "localholidays"
   summary: "Retrives the localholidays by given ID."
   description:  "Retrives the localholidays by ID."
   operationId: "getHistory"
   produces:
   - "application/json"
   - "application/xml"   
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the localholidays based on given id."
     schema:
       $ref: "#/definitions/CmcTmLocalHolidayMasterCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
     
 # path to  view changes of  record
#
#  supprorted http methods GETS
#
# path examples----
#   GET       .../localholidays/xxx/viewchanges

 /localholidays/{id}/viewchanges:
  get:
   tags:
    - "localholidays"
   summary: "Retrives the localholidays by given ID."
   description:  "Retrives the localholidays by ID."
   operationId: "viewChanges"
   produces:
   - "application/json"
   - "application/xml"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
    - name: "version"
      in: "query"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the localholidays based on given id."      
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"     
 /systemdates:
  post:
   tags:
    - "systemdates"
   summary: "Adds a new systemdates."
   description: "Adds a new systemdates. Add additional information here for this endpoint."
   operationId: "saveRecord"
   consumes:
   - "application/json"
   - "application/xml"
   produces:
   - "application/json"
   - "application/xml"   
   parameters:
    - name: "systemdates" 
      in: "body" 
      description: "Request Body that contains data required for creating a new systemdates" 
      required: true
      schema:
       $ref: "#/definitions/CmcTmSystemDatesDto"
   responses:
    201: 
     description: "Returns message of succes or failure " 
     headers:
      Location:
       description: "URL of newly created systemdates" 
       type: "string"
     schema:
       $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "systemdates"
   summary: "Get all valid systemdates."
   description:  "Get all valid systemdates. This endpoints will be used to Get all valid systemdatesmaintanence records."
   operationId: "getAll"
   produces:
   - "application/json"
   - "application/xml"   
   parameters:
   - name: includecloseandunauth
     in: query
     description: includecloseandunauth need to be set to fetch summary record, defult value is false
     required: false
     type: boolean
   - name: offset
     in: query
     description: offset is starting no of records to be fetched
     required: false
     type: integer
   - name: limit
     in: query
     description: limit is maximum no of records to be fetched
     required: false
     type: integer
   - in: query
     name: branchCode
     required: false
     type: string
   - in: query
     name: recordStatus
     required: false
     type: string
   - in: query
     name: authStatus
     required: false
     type: string
   responses:
    201:
     description: "Returns message of succes or failure"
     headers: 
      Location:
       description: ""
       type: "string"
     schema:
       $ref: "#/definitions/CmcTmSystemDatesCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"

# path to modify existing record, delete existing record and fetch valid records by id or by intent( includes latestRecord, version no)
#
#  supprorted http methods PUT, DELETE and GET
#
# path examples----
#   PUT       .../systemdates/xxx
#   DELETE    .../systemdates/xxx
#   GET       .../systemdates/xxx
#   GET       .../systemdates/xxx?version=latestrecord
#   GET       .../systemdates/xxx?version=1

 /systemdates/{id}:
  put:
   tags:
    - "systemdates"
   summary: "Update an existing rule."
   description:  "Update an existing systemdates."
   operationId: "modifyRecord"
   consumes:
   - "application/json"
   - "application/xml"
   produces:
   - "application/json"
   - "application/xml"   
   parameters:
    - name: "id"
      in: "path"
      description: "key of the systemdates Maintenance"
      required: true
      type: "string"
    - name: "systemdates"
      in: "body"
      description: "Request Body that contains data required for updating an existing systemdates"
      required: true
      schema:
       $ref: "#/definitions/CmcTmSystemDatesDto"
   responses:
    200:
     description: "Returns updated systemdates"
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "systemdates"
   summary: "Retrieves the systemdates by ID."
   description:  "Retrieves the systemdates by ID."
   operationId: "getById"
   produces:
   - "application/json"
   - "application/xml"   
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
    - name: "version"
      in: "query"
      description: "Id of the user that needs to be fetched"
      required: false
      type: "string"
   responses:
    200:
     description: "Returns the systemdates based on given id."
     schema:
      $ref: "#/definitions/CmcTmSystemDatesWrapperDTO"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
  delete:
   tags:
    - "systemdates"
   summary: "Deletes the systemdates identified by given ID."
   description:  "Deletes the systemdates identified by given ID. Add additional information here for the this endpoint."
   operationId: "delete"
   consumes:
   - "application/json"
   - "application/xml"
   produces:
   - "application/json"
   - "application/xml"   
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the systemdates Maintenece"
      required: true
      type: "string"
    - name: "systemdates"
      in: "body"
      description: Request body contain systemdates and Modification no of systemdates Maintenece which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to Authorize existing record.
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../systemdates/xxx/approve

 /systemdates/{id}/approve:
  patch:
   tags:
    - "systemdates"
   summary: "Authorize the systemdates by given ID."
   description:  "Authorize the systemdates identified by given ID."
   operationId: "authorize"
   consumes:
   - "application/json"
   - "application/xml"
   produces:
   - "application/json"
   - "application/xml"   
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the systemdates Maintenece"
      required: true
      type: "string"
    - name: "systemdates"
      in: "body"
      description: Request body contain systemdates and Modification no of systemdates Maintenece which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to close existing record
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../systemdates/xxx/close
 /systemdates/{id}/close:
  patch:
   tags:
    - "systemdates"
   summary: "Close the systemdates by given ID."
   description:  "Close the systemdates identified by given ID."
   operationId: "closeRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the systemdates maintenance"
      required: true
      type: "string"
    - name: "systemdates"
      in: "body"
      description: Request body contain systemdates and Modification no of systemdates maintenance which need to be closed"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to reopen existing record
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../systemdates/xxx/reopen

 /systemdates/{id}/reopen:
  patch:
   tags:
    - "systemdates"
   summary: "reopen the systemdates by given ID."
   description:  "reopen the systemdates identified by given ID."
   operationId: "reopenRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the systemdates maintenance"
      required: true
      type: "string"
    - name: "systemdates"
      in: "body"
      description: Request body contain systemdates and Modification no of systemdates maintenance which need to be reopen"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to get all unauthorized records
#
#  supprorted http methods GET
#
# path examples----
#   GET       .../systemdates/xxx/unauthorized

 /systemdates/{id}/unauthorized:
  get:
   tags:
    - "systemdates"
   summary: "Retrives the systemdates by given ID."
   description:  "Retrives the systemdates identified by given ID."
   operationId: "authQuery"
   produces:
   - "application/json"
   - "application/xml"   
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the systemdates based on given id."
     schema:
       $ref: "#/definitions/CmcTmSystemDatesCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to  history record for remitterid
#
#  supprorted http methods GETS
#
# path examples----
#   GET       .../systemdates/xxx/history

 /systemdates/{id}/history:
  get:
   tags:
    - "systemdates"
   summary: "Retrives the systemdates by given ID."
   description:  "Retrives the systemdates by ID."
   operationId: "getHistory"
   produces:
   - "application/json"
   - "application/xml"   
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the systemdates based on given id."
     schema:
       $ref: "#/definitions/CmcTmSystemDatesCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
     
# path to  view changes of  record
#
#  supprorted http methods GETS
#
# path examples----
#   GET       .../systemdates/xxx/viewchanges

 /systemdates/{id}/viewchanges:
  get:
   tags:
    - "systemdates"
   summary: "Retrives the systemdates by given ID."
   description:  "Retrives the systemdates by ID."
   operationId: "viewChanges"
   produces:
   - "application/json"
   - "application/xml"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
    - name: "version"
      in: "query"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the systemdates based on given id."      
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"    
     
# getToday
#
#  supprorted http methods GETS
#
# path examples----
#   GET       .../systemdates/getToday

 /systemdates/getToday:
  get:
   tags:
    - "systemdates"
   summary: "Retrives the getToday by given Branch Code."
   description:  "Retrives the getToday by given Branch Code."
   operationId: "getToday"
   produces:
   - "application/json"
   - "application/xml"
   parameters:
    - name: "branchCode"
      in: "query"
      description: "Branch Code for which today require"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the systemdates based on given id."      
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"   
     
definitions:
 CmcTmLocalHolidayMasterDto:
  type: object
  allOf:
  - $ref: '#/definitions/GenericDto'
  - type: object
    properties:
     branchCode:
      type: string
      minLength: 0
      maxLength: 3
     year:
      type: number
      minLength: 0
      maxLength: 4
     weeklyHolidays:
      type: string
      minLength: 0
      maxLength: 7
     unexpHol:
      type: string
      minLength: 0
      maxLength: 1
     CmcTmLocalHolidayDto:
      type: array
      items:
       $ref: '#/definitions/CmcTmLocalHolidayDto'
    required:
     - branchCode
     - year
 CmcTmLocalHolidayDto:
  type: object
  properties:
     id:
      type: string
     branchCode:
      type: string
      minLength: 0
      maxLength: 3
     year:
      type: number
      minLength: 0
      maxLength: 4
     month:
      type: number
      minLength: 0
      maxLength: 2
     holidayList:
      type: string
      minLength: 0
      maxLength: 31
     localHolidayMasterId:
      type: string
  required:
   - month
 CmcTmSystemDatesDto:
  type: object
  allOf:
  - $ref: '#/definitions/GenericDto'
  - type: object
    properties:
     branchCode:
      type: string
      minLength: 0
      maxLength: 3
     today:
      type: string
     prevWorkingDay:
      type: string
     nextWorkingDay:
      type: string
    required:
     - branchCode
 ModListKeyDto:
  type: object
  properties:
   modNos:
    type: array
    items:
     type: integer
   remarks:
    type: string
 KeyDto:
  type: object
  properties:
   modNo:
    type: integer
   remarks:
    type: string
 ResponseDtoWrapper:
  type: object
  properties:
   id:
    type: string
   status:
    type: string
   codes:
    type: array
    items:
     $ref: "#/definitions/ResponseCode"
   requestId:
    type: string
 ResponseDto:
  type: object
  properties:
   id:
    type: string
   status:
    type: string
   codes:
    type: array
    items:
     $ref: "#/definitions/ResponseCode"
   requestId:
    type: string   
 ResponseCode:
  type: object
  properties:
   Code:
    type: string
   Desc:
    type: string
   Type:
    type: string
   Language:
    type: string
   args:
    type: array
    items:
     type: object
   arg:
    type: string
 GenericDto:
  allOf:
   - type: object
     discriminator: resource_type
 CmcTmLocalHolidayMasterCollection: 
  description: "Collection of localholiday."
  type: "object"
  properties:
   data:
    type: "array"
    items: 
     $ref: "#/definitions/CmcTmLocalHolidayMasterDto"
   paging:
    $ref: "#/definitions/PagingDto"
 PagingDto:
  type: object
  properties:
   totalResults:
    type: integer
 CmcTmSystemDatesCollection: 
  description: "Collection of systemdates."
  type: "object"
  properties:
   data:
    type: "array"
    items: 
     $ref: "#/definitions/CmcTmSystemDatesDto"
   paging:
    $ref: "#/definitions/PagingDto"
 ResponseResourceSupport:
  type: object
 CmcTmLocalHolidayMasterWrapperDTO:
  type: object
  properties:
   data:
    $ref: "#/definitions/CmcTmLocalHolidayMasterDto"
 CmcTmSystemDatesWrapperDTO:
  type: object
  properties:
   data:
    $ref: "#/definitions/CmcTmSystemDatesDto"      
 IcDateFlipRequest:
  type: object
  allOf:
  - type: object
    properties:
     branchCode:
      type: string
      description: ''
     today:
      type: string
      description: ''
     pcStartDate:
      type: string
      description: ''
     pcEndDate:
      type: string
      description: ''
     previousWorkingDay:
      type: string
      description: ''
     nextWorkingDay:  
      type: string
      description: '' 
    required:
     - branchCode
     - today   
     - nextWorkingDay
 ICResponseDTO:
  description: IC response DTO object
  allOf:
  - type: object
    properties:
     warnings:
      type: array
      items:
       $ref: '#/definitions/ICWarningDTO'
     errors:
      type: array
      items:
       $ref: '#/definitions/ICErrorDTO'
 ICWarningDTO:
  description: IC response Warning DTO
  allOf:
  - type: object
    properties:
     warningCode:
      type: string
      description: Warning Code
     warningDesc:
      type: string
      description: Warning Description
 ICErrorDTO:
  description: IC response Error DTO
  allOf:
  - type: object
    properties:
     errorCode:
      type: string
      description: Error Code
     errorDesc:
       type: string
       description: Error Description