#-----------------------------------------------------------------------------------------------------
#  **
#  ** File Name  : common.yaml
#  **
#  ** Module     : obcmtmvaultmaster
#  ** 
#  ** This source is part of the Oracle FLEXCUBE  and is copyrighted by Oracle Financial Services Software Limited.  ** 
#  ** 
#  ** All rights reserved. No part of this work may be reproduced, stored in a retrieval system,
#  ** adopted or transmitted in any form or by any means, electronic, mechanical, photographic,
#  ** graphic, optic recording or otherwise, translated in any language or computer language,
#  ** without the prior written permission of Oracle Financial Services Software Limited.
#  ** 
#  ** Oracle Financial Services Software Limited.
#  ** 10-11, SDF I, SEEPZ, Andheri (East),
#  ** Mumbai - 400 096.
#  ** India
#  ** Copyright 2017-2018 Oracle Financial Services Software Limited. All rights reserved.
#  -------------------------------------------------------------------------------------------------------
#
#  CHANGE HISTORY
#
#  Created By         :  System
#
#  Bug Number         :  
#  Changed By         :  
#  Change Description :  
#  Change On          :  
#  Search String      :  
#  
#  -------------------------------------------------------------------------------------------------------
  

swagger: "2.0"
info:
 description: "This is a sample server obcmtmvaultmaster server." 
 version: "1.0.0"
 title: "obcmtmvaultmaster Service"
host: "api-plato.us.oracle.com:8080"
basePath: "/api/1.0"
consumes:
 - "application/json"
produces:
 - "application/json"
tags:
 - name: "obcmtmvaultmaster"
   description: "this service is to manage crud operations in master datasegment  .........................................................................................................................................."

schemes:
- "https"

paths:

# path to create a new record and fetch all valid records or by intent
#
#  supprorted http methods POST and GET
#
# path example ../obcmtmvaultmaster

 /obcmtmvaultmaster:
  post:
   tags:
    - "obcmtmvaultmaster"
   summary: "Adds a new obcmtmvaultmaster."
   description: "Adds a new obcmtmvaultmaster. Add additional information here for this endpoint."
   operationId: "saveRecord"
   parameters:
    - name: "obcmtmvaultmaster" 
      in: "body" 
      description: "Request Body that contains data required for creating a new obcmtmvaultmaster" 
      required: true
      schema:
       $ref: "#/definitions/ObcmTmVaultMasterDTO"
   responses:
    201: 
     description: "Returns message of succes or failure " 
     headers:
      Location:
       description: "URL of newly created obcmtmvaultmaster" 
       type: "string"
     schema:
       $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "obcmtmvaultmaster"
   summary: "Get all valid obcmtmvaultmaster."
   description:  "Get all valid obcmtmvaultmaster. This endpoints will be used to Get all valid obcmtmvaultmaster maintenance records."
   operationId: "getAll"
   parameters:
   - name: includecloseandunauth
     in: query
     description: includecloseandunauth need to be set to fetch summary record, defult value is false
     required: false
     type: boolean
   - name: offset
     in: query
     description: offset is starting no of records to be fetched
     required: false
     type: integer
   - name: limit
     in: query
     description: limit is maximum no of records to be fetched
     required: false
     type: integer
   responses:
    201:
     description: "Returns message of success or failure"
     headers: 
      Location:
       description: ""
       type: "string"
     schema:
       $ref: "#/definitions/ObcmTmVaultMasterCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"

# path to modify existing record, delete existing record and fetch valid records by id or by intent( includes latestRecord, version no)
#
#  supprorted http methods PUT, DELETE and GET
#
# path examples----
#   PUT       .../obcmtmvaultmaster/xxx
#   DELETE    .../obcmtmvaultmaster/xxx
#   GET       .../obcmtmvaultmaster/xxx
#   GET       .../obcmtmvaultmaster/xxx?version=latestrecord
#   GET       .../obcmtmvaultmaster/xxx?version=1

 /obcmtmvaultmaster/{id}:
  put:
   tags:
    - "obcmtmvaultmaster"
   summary: "Update an existing obcmtmvaultmaster."
   description:  "Update an existing obcmtmvaultmaster."
   operationId: "modifyRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "key of the obcmtmvaultmaster Maintenance"
      required: true
      type: "string"
    - name: "obcmtmvaultmaster"
      in: "body"
      description: "Request Body that contains data required for updating an existing obcmtmvaultmaster"
      required: true
      schema:
       $ref: "#/definitions/ObcmTmVaultMasterDTO"
   responses:
    200:
     description: "Returns updated obcmtmvaultmaster"
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "obcmtmvaultmaster"
   summary: "Retrieves the obcmtmvaultmaster by ID."
   description:  "Retrieves the obcmtmvaultmaster by ID."
   operationId: "getById"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
    - name: "version"
      in: "query"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the obcmtmvaultmaster based on given id."
     schema:
      $ref: "#/definitions/ObcmTmVaultMasterWrapperModel"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
  delete:
   tags:
    - "obcmtmvaultmaster"
   summary: "Deletes the obcmtmvaultmaster identified by given ID."
   description:  "Deletes the obcmtmvaultmaster identified by given ID. Add additional information here for the this endpoint."
   operationId: "delete"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the obcmtmvaultmaster maintenance"
      required: true
      type: "string"
    - name: "obcmtmvaultmaster"
      in: "body"
      description: Request body contain obcmtmvaultmaster and Modification no of obcmtmvaultmaster maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to Authorize existing record.
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../obcmtmvaultmaster/xxx/approve

 /obcmtmvaultmaster/{id}/approve:
  patch:
   tags:
    - "obcmtmvaultmaster"
   summary: "Authorize the obcmtmvaultmaster by given ID."
   description:  "Authorize the obcmtmvaultmaster identified by given ID."
   operationId: "authorize"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the obcmtmvaultmaster maintenance"
      required: true
      type: "string"
    - name: "obcmtmvaultmaster"
      in: "body"
      description: Request body contain obcmtmvaultmaster and Modification no of obcmtmvaultmaster maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to close existing record
#
#  supported http methods PATCH
#
# path examples----
#   PATCH       .../obcmtmvaultmaster/xxx/close
 /obcmtmvaultmaster/{id}/close:
  patch:
   tags:
    - "obcmtmvaultmaster"
   summary: "Close the obcmtmvaultmaster by given ID."
   description:  "Close the obcmtmvaultmaster identified by given ID."
   operationId: "closeRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the obcmtmvaultmaster maintenance"
      required: true
      type: "string"
    - name: "obcmtmvaultmaster"
      in: "body"
      description: Request body contain obcmtmvaultmaster and Modification no of obcmtmvaultmaster maintenance which need to be closed"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to reopen existing record
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../obcmtmvaultmaster/xxx/reopen

 /obcmtmvaultmaster/{id}/reopen:
  patch:
   tags:
    - "obcmtmvaultmaster"
   summary: "reopen the obcmtmvaultmaster by given ID."
   description:  "reopen the obcmtmvaultmaster identified by given ID."
   operationId: "reopenRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the obcmtmvaultmaster maintenance"
      required: true
      type: "string"
    - name: "obcmtmvaultmaster"
      in: "body"
      description: Request body contain obcmtmvaultmaster and Modification no of obcmtmvaultmaster maintenance which need to be reopen"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to get all unauthorized records
#
#  supprorted http methods GET
#
# path examples----
#   GET       .../obcmtmvaultmaster/xxx/unauthorized

 /obcmtmvaultmaster/{id}/unauthorized:
  get:
   tags:
    - "obcmtmvaultmaster"
   summary: "Retrives the obcmtmvaultmaster by given ID."
   description:  "Retrives the obcmtmvaultmaster identified by given ID."
   operationId: "authQuery"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the obcmtmvaultmaster based on given id."
     schema:
       $ref: "#/definitions/ObcmTmVaultMasterCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to  history record for remitterid
#
#  supprorted http methods GETS
#
# path examples----
#   GET       .../obcmtmvaultmaster/xxx/history

 /obcmtmvaultmaster/{id}/history:
  get:
   tags:
    - "obcmtmvaultmaster"
   summary: "Retrives the obcmtmvaultmaster by given ID."
   description:  "Retrives the obcmtmvaultmaster by ID."
   operationId: "getHistory"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the obcmtmvaultmaster based on given id."
     schema:
       $ref: "#/definitions/ObcmTmVaultMasterCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
 /obcmtmvaultmaster/{id}/isValid:
  get:
   tags:
    - "obcmtmvaultmaster"
   summary: "Validate the ObcmTmVaultMaster by ResourceId"
   description:  "Validate the ObcmTmVaultMaster by ResourceId"
   operationId: "validateObcmTmVaultMaster"
   parameters:
    - name: "resourceId"
      in: "path"
      description: "resourceId of the user that needs to be validated"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the boolean based on validation of given resource id."
     schema:
       $ref: "#/definitions/boolean"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
definitions:
 ObcmTmVaultMasterDTO:
  type: object
  allOf:
  - $ref: '#/definitions/GenericDto'
  - type: object
    properties:
     id:
      type: string
      description: ""
     action:
      type: string
      description: ""
     autoAuth:
      type: string
      description: ""
     modificationStatus:
      type: string
      description: ""   
     datasegmentCode:
      type: string
      description: ''
     checkerRemarks:
      type: string
      description: '' 
     makerRemarks:
      type: string
      description: ''                            
     noOfInstrument:
      type: number
      description: ""
     presentationFromDay:
      type: number
      description: ""
     presentationMonth:
      type: string
      description: ""
     presentationToDay:
      type: number
      description: ""
     vaultActivationDate:
      type: string
      format: date
      description: ""
     vaultBoxDescription:
      type: string
      description: ""
     vaultBoxNumber:
      type: string
      description: ""
     vaultBranch:
      type: string
      description: ""
     vaultExpiryDate:
      type: string
      format: date
      description: ""
     vaultLocation:
      type: string
      description: ""
 ModListKeyDto:
  type: object
  properties:
   modNos:
    type: array
    items:
     type: integer
   remarks:
    type: string
 KeyDto:
  type: object
  properties:
   modNo:
    type: integer
   remarks:
    type: string
 ResponseDto:
  type: object
  properties:
   id:
    type: string
   status:
    type: string
   codes:
    type: array
    items:
     $ref: "#/definitions/ResponseCode"
   requestId:
    type: string
 ResponseCode:
  type: object
  properties:
   Code:
    type: string
   Desc:
    type: string
   Type:
    type: string
   Language:
    type: string
   args:
    type: array
    items:
     type: object
   arg:
    type: string
 GenericDto:
  allOf:
   - type: object
     discriminator: resource_type
 ObcmTmVaultMasterCollection: 
  description: "Collection of obcmtmvaultmaster."
  type: "object"
  properties:
   data:
    type: "array"
    items: 
     $ref: "#/definitions/ObcmTmVaultMasterDTO"
   paging:
    $ref: "#/definitions/PagingDto"
 PagingDto:
  type: object
  properties:
   totalResults:
    type: integer
 ResponseDtoWrapper:
  type: object
  properties:
   messages:
    $ref: "#/definitions/ResponseDto"
   data:
    $ref: "#/definitions/ResponseResourceSupport"
 ResponseResourceSupport:
  type: object
 ObcmTmVaultMasterWrapperModel:
  type: object
  properties:
   data:
    $ref: "#/definitions/ObcmTmVaultMasterDTO"
