#----------------------------- OFSS-COPYRIGHT-BEGIN ----------------------------- 
#  This source is part of the Oracle Banking Software Product. 
#  Copyright  2018 , 2018 , Oracle and/or its affiliates.  All rights reserved.
#  
#  No part of this work may be reproduced, stored in a retrieval system, adopted or transmitted in any form or by any means, electronic, mechanical, photographic, graphic, optic recording or otherwise, 
#  translated in any language or computer language, without the prior written permission of Oracle and/or its affiliates.
#  
#  Oracle Financial Services Software Limited.
#  Oracle Park, Off Western Express Highway,
#  Goregaon (East), 
#  Mumbai - 400 063, India. 
#  
# ------------------------------- OFSS-COPYRIGHT-END -----------------------------
#  CHANGE HISTORY
#
#  Created By         :  System
#
#  Bug Number         :  
#  Changed By         :  
#  Change Description :  
#  Change On          :  
#  Search String      :  
#  
#  -------------------------------------------------------------------------------------------------------
  

swagger: "2.0"
info:
 description: "This is a sample server externalchartaccounts server." 
 version: "1.0.0"
 title: "externalchartaccounts Service"
host: "api-plato.us.oracle.com:8080"
basePath: "/api/1.0"

tags:
 - name: "externalchartaccountsService"
   description: "API for externalchartaccounts Operations"

schemes:
- "https"

paths:

# path to create a new record and fetch all valid records or by intent
#
#  supprorted http methods POST and GET
#
# path example ../externalchartaccounts

 /service/externalchartaccounts:
  post:
   tags:
    - "externalchartaccountsService"
   summary: "Adds a new externalchartaccounts."
   description: "Adds a new externalchartaccounts. Add additional information here for this endpoint."
   operationId: "saveRecord"
   consumes:
   - "application/json"
   - "application/xml"
   produces:
   - "application/json"
   - "application/xml"   
   parameters:
    - name: "sourceCode"
      in: "header"
      description: "Source from which request is initiated"
      required: true
      type: "string"
    - name: "externalchartaccounts" 
      in: "body" 
      description: "Request Body that contains data required for creating a new externalchartaccounts" 
      required: true
      schema:
       $ref: "#/definitions/GlmasterDto"
   
   responses:
    201: 
     description: "Returns message of succes or failure " 
     headers:
      Location:
       description: "URL of newly created externalchartaccounts" 
       type: "string"
     schema:
       $ref: "#/definitions/GlmasterResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
     
 /service/externalchartaccounts/{glCode}:
  put:
   tags:
    - "externalchartaccountsService"
   summary: "Update an existing rule."
   description:  "Update an existing externalchartaccounts."
   operationId: "modifyRecord"
   consumes:
   - "application/json"
   - "application/xml"
   produces:
   - "application/json"
   - "application/xml"   
   parameters:
    - name: "glCode"
      in: "path"
      description: "glCode of the externalchartaccounts Maintenance"
      required: true
      type: "string"
    - name: "sourceCode"
      in: "header"
      description: "Source from which request is initiated"
      required: true
      type: "string"  
    - name: "externalchartaccounts"
      in: "body"
      description: "Request Body that contains data required for updating an existing externalchartaccounts"
      required: true
      schema:
       $ref: "#/definitions/GlmasterDto"
   
   responses:
    200:
     description: "Returns updated externalchartaccounts"
     schema:
      $ref: "#/definitions/GlmasterResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  
 /service/externalchartaccounts/{glCode}/close:
  patch:
   tags:
    - "externalchartaccountsService"
   summary: "Close the externalchartaccounts by given ID."
   description:  "Close the externalchartaccounts identified by given ID."
   operationId: "closeRecord"
   consumes:
   - "application/json"
   - "application/xml"
   produces:
   - "application/json"
   - "application/xml"   
   parameters:
    - name: "glCode"
      in: "path"
      description: "glCode of the externalchartaccounts maintenance"
      required: true
      type: "string"
    - name: "sourceCode"
      in: "header"
      description: "Source from which request is initiated"
      required: true
      type: "string"  
    - name: "externalchartaccounts"
      in: "body"
      description: Request body contain externalchartaccounts and Modification no of externalchartaccounts maintenance which need to be closed"
      required: true
      schema:
       $ref: "#/definitions/CloseDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/GlmasterResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to reopen existing record
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../externalchartaccounts/xxx/reopen

 /service/externalchartaccounts/{glCode}/reopen:
  patch:
   tags:
    - "externalchartaccountsService"
   summary: "reopen the externalchartaccounts by given ID."
   description:  "reopen the externalchartaccounts identified by given ID."
   operationId: "reopenRecord"
   consumes:
   - "application/json"
   - "application/xml"
   produces:
   - "application/json"
   - "application/xml"   
   parameters:
    - name: "glCode"
      in: "path"
      description: "glCode of the externalchartaccounts maintenance"
      required: true
      type: "string"
    - name: "sourceCode"
      in: "header"
      description: "Source from which request is initiated"
      required: true
      type: "string"  
    - name: "externalchartaccounts"
      in: "body"
      description: Request body contain externalchartaccounts and Modification no of externalchartaccounts maintenance which need to be reopen"
      required: true
      schema:
       $ref: "#/definitions/ReOpenDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/GlmasterResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"         
definitions:
 GlmasterDto:
  type: object
  allOf:
  - $ref: '#/definitions/GenericDto'
  - type: object
    properties:
     glCode:
      type: string
      minLength: 0
      maxLength: 20
      pattern: ^[A-Z0-9*_]*$
     glDesc:
      type: string
      minLength: 0
      maxLength: 105
     sourceSystem:
      type: string
      minLength: 0
      maxLength: 35
     sourceSystemGlCode:
      type: string
      minLength: 0
      maxLength: 35
     category:
      type: string
      minLength: 0
      maxLength: 1
      pattern: ^[0-9]$
     block:
      type: string
      minLength: 0
      maxLength: 1
      pattern: ^(?:Y|N)$
    required:
     - glCode
     - category
     - block
 CloseDto:
  type: object
  properties:
   modNo:
    type: integer  
   remarks:
    type: string
 ReOpenDto:
  type: object
  properties:
   modNo:
    type: integer  
   remarks:
    type: string
 NKValuesDto:
  type: object
  properties:
   id:
    type: string
   modNo:
    type: integer
   wrapper:
     $ref: "#/definitions/ResponseDto"
 GlmasterResponseDtoWrapper:
  type: object
  properties:
   messages:
    $ref: "#/definitions/ResponseDto"
   data:
    $ref: "#/definitions/GlmasterDto"
 ResponseDto:
  type: object
  properties:
   id:
    type: string
   status:
    type: string
   codes:
    type: array
    items:
     $ref: "#/definitions/ResponseCode"
   requestId:
    type: string   
 ResponseCode:
  type: object
  properties:
   Code:
    type: string
   Desc:
    type: string
   Type:
    type: string
   Language:
    type: string
   args:
    type: array
    items:
     type: object
   arg:
    type: string   