#----------------------------- OFSS-COPYRIGHT-BEGIN ----------------------------- 
#  This source is part of the Oracle Banking Software Product. 
#  Copyright  2018 , 2018 , Oracle and/or its affiliates.  All rights reserved.
#  
#  No part of this work may be reproduced, stored in a retrieval system, adopted or transmitted in any form or by any means, electronic, mechanical, photographic, graphic, optic recording or otherwise, 
#  translated in any language or computer language, without the prior written permission of Oracle and/or its affiliates.
#  
#  Oracle Financial Services Software Limited.
#  Oracle Park, Off Western Express Highway,
#  Goregaon (East), 
#  Mumbai - 400 063, India. 
#  
# ------------------------------- OFSS-COPYRIGHT-END -----------------------------
#  CHANGE HISTORY
#
#  Created By         :  System
#
#  Bug Number         :  
#  Changed By         :  
#  Change Description :  
#  Change On          :  
#  Search String      :  
#  
#  -------------------------------------------------------------------------------------------------------
  

swagger: "2.0"
info:
 description: "This is a sample server externalchartaccounts server." 
 version: "1.0.0"
 title: "externalchartaccounts Service"
host: "api-plato.us.oracle.com:8080"
basePath: "/api/1.0"

tags:
 - name: "externalchartaccounts"
   description: "API for externalchartaccounts Operations"

schemes:
- "https"

paths:

# path to create a new record and fetch all valid records or by intent
#
#  supprorted http methods POST and GET
#
# path example ../externalchartaccounts

 /externalchartaccounts:
  post:
   tags:
    - "externalchartaccounts"
   summary: "Adds a new externalchartaccounts."
   description: "Adds a new externalchartaccounts. Add additional information here for this endpoint."
   operationId: "saveRecord"
   consumes:
   - "application/json"
   - "application/xml"
   produces:
   - "application/json"
   - "application/xml"   
   parameters:
    - name: "externalchartaccounts" 
      in: "body" 
      description: "Request Body that contains data required for creating a new externalchartaccounts" 
      required: true
      schema:
       $ref: "#/definitions/GlmasterDto"
   
   responses:
    201: 
     description: "Returns message of succes or failure " 
     headers:
      Location:
       description: "URL of newly created externalchartaccounts" 
       type: "string"
     schema:
       $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "externalchartaccounts"
   summary: "Get all valid externalchartaccounts."
   description:  "Get all valid externalchartaccounts. This endpoints will be used to Get all valid externalchartaccountsmaintanence records."
   operationId: "getAll"
   produces:
   - "application/json"
   - "application/xml"   
   parameters:
   - name: includecloseandunauth
     in: query
     description: includecloseandunauth need to be set to fetch summary record, defult value is false
     required: false
     type: boolean
   - name: offset
     in: query
     description: offset is starting no of records to be fetched
     required: false
     type: integer
   - name: limit
     in: query
     description: limit is maximum no of records to be fetched
     required: false
     type: integer
   - in: query
     name: glCode
     required: false
     type: string
   - in: query
     name: recordStatus
     required: false
     type: string
   - in: query
     name: authStatus
     required: false
     type: string
   responses:
    201:
     description: "Returns message of succes or failure"
     headers: 
      Location:
       description: ""
       type: "string"
     schema:
       $ref: "#/definitions/GlmasterCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"

# path to modify existing record, delete existing record and fetch valid records by id or by intent( includes latestRecord, version no)
#
#  supprorted http methods PUT, DELETE and GET
#
# path examples----
#   PUT       .../externalchartaccounts/xxx
#   DELETE    .../externalchartaccounts/xxx
#   GET       .../externalchartaccounts/xxx
#   GET       .../externalchartaccounts/xxx?version=latestrecord
#   GET       .../externalchartaccounts/xxx?version=1

 /externalchartaccounts/{id}:
  put:
   tags:
    - "externalchartaccounts"
   summary: "Update an existing rule."
   description:  "Update an existing externalchartaccounts."
   operationId: "modifyRecord"
   consumes:
   - "application/json"
   - "application/xml"
   produces:
   - "application/json"
   - "application/xml"   
   parameters:
    - name: "id"
      in: "path"
      description: "key of the externalchartaccounts Maintenance"
      required: true
      type: "string"
    - name: "externalchartaccounts"
      in: "body"
      description: "Request Body that contains data required for updating an existing externalchartaccounts"
      required: true
      schema:
       $ref: "#/definitions/GlmasterDto"
   
   responses:
    200:
     description: "Returns updated externalchartaccounts"
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "externalchartaccounts"
   summary: "Retrieves the externalchartaccounts by ID."
   description:  "Retrieves the externalchartaccounts by ID."
   operationId: "getById"
   consumes:
   - "application/json"
   - "application/xml"   
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
    - name: "version"
      in: "query"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the externalchartaccounts based on given id."
     schema:
      $ref: "#/definitions/GlmasterWrapperDto"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
  delete:
   tags:
    - "externalchartaccounts"
   summary: "Deletes the externalchartaccounts identified by given ID."
   description:  "Deletes the externalchartaccounts identified by given ID. Add additional information here for the this endpoint."
   operationId: "delete"
   consumes:
   - "application/json"
   - "application/xml"
   produces:
   - "application/json"
   - "application/xml"   
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the externalchartaccounts Maintenece"
      required: true
      type: "string"
    - name: "externalchartaccounts"
      in: "body"
      description: Request body contain externalchartaccounts and Modification no of externalchartaccounts Maintenece which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to Authorize existing record.
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../externalchartaccounts/xxx/approve

 /externalchartaccounts/{id}/approve:
  patch:
   tags:
    - "externalchartaccounts"
   summary: "Authorize the externalchartaccounts by given ID."
   description:  "Authorize the externalchartaccounts identified by given ID."
   operationId: "authorize"
   consumes:
   - "application/json"
   - "application/xml"
   produces:
   - "application/json"
   - "application/xml"   
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the externalchartaccounts Maintenece"
      required: true
      type: "string"
    - name: "externalchartaccounts"
      in: "body"
      description: Request body contain externalchartaccounts and Modification no of externalchartaccounts Maintenece which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to close existing record
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../externalchartaccounts/xxx/close
 /externalchartaccounts/{id}/close:
  patch:
   tags:
    - "externalchartaccounts"
   summary: "Close the externalchartaccounts by given ID."
   description:  "Close the externalchartaccounts identified by given ID."
   operationId: "closeRecord"
   consumes:
   - "application/json"
   - "application/xml"
   produces:
   - "application/json"
   - "application/xml"   
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the externalchartaccounts maintenance"
      required: true
      type: "string"
    - name: "externalchartaccounts"
      in: "body"
      description: Request body contain externalchartaccounts and Modification no of externalchartaccounts maintenance which need to be closed"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to reopen existing record
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../externalchartaccounts/xxx/reopen

 /externalchartaccounts/{id}/reopen:
  patch:
   tags:
    - "externalchartaccounts"
   summary: "reopen the externalchartaccounts by given ID."
   description:  "reopen the externalchartaccounts identified by given ID."
   operationId: "reopenRecord"
   consumes:
   - "application/json"
   - "application/xml"
   produces:
   - "application/json"
   - "application/xml"   
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the externalchartaccounts maintenance"
      required: true
      type: "string"
    - name: "externalchartaccounts"
      in: "body"
      description: Request body contain externalchartaccounts and Modification no of externalchartaccounts maintenance which need to be reopen"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to get all unauthorized records
#
#  supprorted http methods GET
#
# path examples----
#   GET       .../externalchartaccounts/xxx/unauthorized

 /externalchartaccounts/{id}/unauthorized:
  get:
   tags:
    - "externalchartaccounts"
   summary: "Retrives the externalchartaccounts by given ID."
   description:  "Retrives the externalchartaccounts identified by given ID."
   operationId: "authQuery"
   produces:
   - "application/json"
   - "application/xml"   
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the externalchartaccounts based on given id."
     schema:
       $ref: "#/definitions/GlmasterCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to  history record for remitterid
#
#  supprorted http methods GETS
#
# path examples----
#   GET       .../externalchartaccounts/xxx/history

 /externalchartaccounts/{id}/history:
  get:
   tags:
    - "externalchartaccounts"
   summary: "Retrives the externalchartaccounts by given ID."
   description:  "Retrives the externalchartaccounts by ID."
   operationId: "getHistory"
   produces:
   - "application/json"
   - "application/xml"   
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the externalchartaccounts based on given id."
     schema:
       $ref: "#/definitions/GlmasterCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
# path to  view changes of  record
#
#  supprorted http methods GETS
#
# path examples----
#   GET       .../externalchartaccounts/xxx/history

 /externalchartaccounts/{id}/viewchanges:
  get:
   tags:
    - "externalchartaccounts"
   summary: "Retrives the externalchartaccounts by given ID."
   description:  "Retrives the externalchartaccounts by ID."
   operationId: "viewChanges"
   produces:
   - "application/json"
   - "application/xml"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
    - name: "version"
      in: "query"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the externalchartaccounts based on given id."      
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
# path to  view changes of  record
#
#  supprorted http methods GETS
#
# path examples----
#   GET       .../externalchartaccounts/xxx/history

 /externalchartaccounts/{id}/viewchanges:
  get:
   tags:
    - "externalchartaccounts"
   summary: "Retrives the externalchartaccounts by given ID."
   description:  "Retrives the externalchartaccounts by ID."
   operationId: "viewChanges"
   produces:
   - "application/json"
   - "application/xml"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
    - name: "version"
      in: "query"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the externalchartaccounts based on given id."      
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"          
definitions:
 GlmasterDto:
  type: object
  allOf:
  - $ref: '#/definitions/GenericDto'
  - type: object
    properties:
     glCode:
      type: string
      minLength: 0
      maxLength: 20
      pattern: ^[A-Z0-9*_]*$
     glDesc:
      type: string
      minLength: 0
      maxLength: 105
     sourceSystem:
      type: string
      minLength: 0
      maxLength: 35
     sourceSystemGlCode:
      type: string
      minLength: 0
      maxLength: 35
     category:
      type: string
      minLength: 0
      maxLength: 1
      pattern: ^[0-9]$
     block:
      type: string
      minLength: 0
      maxLength: 1
      pattern: ^(?:Y|N)$
    required:
     - glCode
     - category
     - block
 ModListKeyDto:
  type: object
  properties:
   modNos:
    type: array
    items:
     type: integer
   remarks:
    type: string
 KeyDto:
  type: object
  properties:
   modNo:
    type: integer
   remarks:
    type: string
 ResponseDtoWrapper:
  type: object
  properties:
   id:
    type: string
   status:
    type: string
   codes:
    type: array
    items:
     $ref: "#/definitions/ResponseCode"
   requestId:
    type: string
 ResponseDto:
  type: object
  properties:
   id:
    type: string
   status:
    type: string
   codes:
    type: array
    items:
     $ref: "#/definitions/ResponseCode"
   requestId:
    type: string   
 ResponseCode:
  type: object
  properties:
   Code:
    type: string
   Desc:
    type: string
   Type:
    type: string
   Language:
    type: string
   args:
    type: array
    items:
     type: object
   arg:
    type: string

 GenericDto:
  allOf:
   - type: object
     discriminator: resource_type
 GlmasterCollection: 
  description: "Collection of glmaster."
  type: "object"
  properties:
   data:
    type: "array"
    items: 
     $ref: "#/definitions/GlmasterDto"
   paging:
    $ref: "#/definitions/PagingDto"
 PagingDto:
  type: object
  properties:
   totalResults:
    type: integer
 ResponseDtoWrapper:
  type: object
  properties:
   messages:
    $ref: "#/definitions/ResponseDto"
   data:
    $ref: "#/definitions/ResponseResourceSupport"
 ResponseResourceSupport:
  type: object
 GlmasterWrapperDto:
  type: object
  properties:
   data:
    $ref: "#/definitions/GlmasterDto"