# /*******************************************************************************
# * This source is part of the Oracle Banking Software Product.
# * Copyright (c) 2018,2021, Oracle and/or its affiliates. All rights reserved.
# *
# * No part of this work may be reproduced, stored in a retrieval system, adopted or tr
# *
# * Oracle Financial Services Software Limited.
# * Oracle Park, Off Western Express Highway,
# * Goregaon (East),
# * Mumbai - 400 063, India.
# ******************************************************************************/
swagger: "2.0"
info:
  description: "This is a sample  server.  You can find out more about Swagger at [swagger.io](http://swagger.io) and about data types at [Swagger Data Types](https://swagger.io/docs/specification/data-models/data-types/)"
  version: "1.0.0"
  title: "Dashboard Service"
host: "api-plato.us.oracle.com:8080"
basePath: "/api/1.0"
consumes:
- "application/json"
- "application/xml"
produces:
- "application/json"
- "application/xml"
tags:
- name: "RmDashboardAPI"
  description: "API for RM Dashboard Operations"

schemes:
- "https"

paths:
  /rmdashboard:
    get:
      tags:
      - "RmDashboardAPI"
      summary: "Retrieves the data for rm dashboard."
      description:  "Retrieves the data for RM dashboard."
      operationId: "getData"
      parameters:
      - name: offset
        in: query
        description: offset is starting no of records to be fetched
        required: false
        type: integer
      - name: limit
        in: query
        description: limit is maximum no of records to be fetched
        required: false
        type: integer
      - name: customerId
        in: query
        description: fetch record according to customerId
        required: false
        type: string
      - name: structureId
        in: query
        description: fetch record according to structureId
        required: false
        type: string
      responses:
        200:
          description: "Successful performs the operation"
          schema:
            $ref: "#/definitions/RmDashboardCollection"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"

definitions:
  RmDashboardCollection:
    type: object
    properties:
      accountmap:
        type: array
        items:
            $ref: '#/definitions/LmdRdAccountMapDTO'
      currencybalance:
        type: array
        items:
            $ref: '#/definitions/LmdTbCurrencyBalanceDTO'
      scheduledsweeps:
        type: array
        items:
            $ref: '#/definitions/LmdTbScheduledSweepsDTO'
      effectivebalance:
        type: array
        items:
            $ref: '#/definitions/LmdTbEffectiveBalanceDTO'
      interestdetails:
        type: array
        items:
            $ref: '#/definitions/InterestDetailsDTO'
      investmentdetails:
        type: array
        items:
            $ref: '#/definitions/LmdRdInvestmentDetailsDTO'
  ResponseDto:
    type: object
    properties:
      id:
        type: string
      status:
        type: string
      codes:
        type: array
        items:
          $ref: '#/definitions/ResponseCode'
      requestId:
        type: string
  ResponseCode:
    type: object
    properties:
      Code:
        type: string
      Desc:
        type: string
      Type:
        type: string
      Language:
        type: string
      args:
        type: array
        items:
          type: object
      arg:
        type: string
  GenericDto:
    allOf:
    - type: object
      discriminator: resource_type