#-----------------------------------------------------------------------------------------------------
#  **
#  ** File Name  : common.yaml
#  **
#  ** Module     : obtmchgprefprc
#  ** 
#  ** This source is part of the Oracle FLEXCUBE  and is copyrighted by Oracle Financial Services Software Limited.  ** 
#  ** 
#  ** All rights reserved. No part of this work may be reproduced, stored in a retrieval system,
#  ** adopted or transmitted in any form or by any means, electronic, mechanical, photographic,
#  ** graphic, optic recording or otherwise, translated in any language or computer language,
#  ** without the prior written permission of Oracle Financial Services Software Limited.
#  ** 
#  ** Oracle Financial Services Software Limited.
#  ** 10-11, SDF I, SEEPZ, Andheri (East),
#  ** Mumbai - 400 096.
#  ** India
#  ** Copyright 2017-2018 Oracle Financial Services Software Limited. All rights reserved.
#  -------------------------------------------------------------------------------------------------------
#
#  CHANGE HISTORY
#
#  Created By         :  System
#
#  Bug Number         :  
#  Changed By         :  
#  Change Description :  
#  Change On          :  
#  Search String      :  
#  
#  -------------------------------------------------------------------------------------------------------
  

swagger: "2.0"
info:
 description: "This is a sample server obtmchgprefprc server." 
 version: "1.0.0"
 title: "obtmchgprefprc Service"
host: "api-plato.us.oracle.com:8080"
basePath: "/api/1.0"
consumes:
 - "application/json"
produces:
 - "application/json"
tags:
 - name: "obtmchgprefprc"
   description: "this service is to manage crud operations in master datasegment  .........................................................................................................................................."

schemes:
- "https"

paths:

# path to create a new record and fetch all valid records or by intent
#
#  supprorted http methods POST and GET
#
# path example ../obtmchgprefprc

 /obtmchgprefprc:
  post:
   tags:
    - "obtmchgprefprc"
   summary: "Adds a new obtmchgprefprc."
   description: "Adds a new obtmchgprefprc. Add additional information here for this endpoint."
   operationId: "saveRecord"
   parameters:
    - name: "obtmchgprefprc" 
      in: "body" 
      description: "Request Body that contains data required for creating a new obtmchgprefprc" 
      required: true
      schema:
       $ref: "#/definitions/ObTmChgPrefPrcDTO"
   responses:
    201: 
     description: "Returns message of succes or failure " 
     headers:
      Location:
       description: "URL of newly created obtmchgprefprc" 
       type: "string"
     schema:
       $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "obtmchgprefprc"
   summary: "Get all valid obtmchgprefprc."
   description:  "Get all valid obtmchgprefprc. This endpoints will be used to Get all valid obtmchgprefprc maintenance records."
   operationId: "getAll"
   parameters:
   - name: includecloseandunauth
     in: query
     description: includecloseandunauth need to be set to fetch summary record, defult value is false
     required: false
     type: boolean
   - name: offset
     in: query
     description: offset is starting no of records to be fetched
     required: false
     type: integer
   - name: limit
     in: query
     description: limit is maximum no of records to be fetched
     required: false
     type: integer
   responses:
    201:
     description: "Returns message of success or failure"
     headers: 
      Location:
       description: "Location"
       type: "string"
     schema:
       $ref: "#/definitions/ObTmChgPrefPrcCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"

# path to modify existing record, delete existing record and fetch valid records by id or by intent( includes latestRecord, version no)
#
#  supprorted http methods PUT, DELETE and GET
#
# path examples----
#   PUT       .../obtmchgprefprc/xxx
#   DELETE    .../obtmchgprefprc/xxx
#   GET       .../obtmchgprefprc/xxx
#   GET       .../obtmchgprefprc/xxx?version=latestrecord
#   GET       .../obtmchgprefprc/xxx?version=1

 /obtmchgprefprc/{id}:
  put:
   tags:
    - "obtmchgprefprc"
   summary: "Update an existing obtmchgprefprc."
   description:  "Update an existing obtmchgprefprc."
   operationId: "modifyRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "key of the obtmchgprefprc Maintenance"
      required: true
      type: "string"
    - name: "obtmchgprefprc"
      in: "body"
      description: "Request Body that contains data required for updating an existing obtmchgprefprc"
      required: true
      schema:
       $ref: "#/definitions/ObTmChgPrefPrcDTO"
   responses:
    200:
     description: "Returns updated obtmchgprefprc"
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "obtmchgprefprc"
   summary: "Retrieves the obtmchgprefprc by ID."
   description:  "Retrieves the obtmchgprefprc by ID."
   operationId: "getById"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
    - name: "version"
      in: "query"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the obtmchgprefprc based on given id."
     schema:
      $ref: "#/definitions/ObTmChgPrefPrcWrapperModel"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
  delete:
   tags:
    - "obtmchgprefprc"
   summary: "Deletes the obtmchgprefprc identified by given ID."
   description:  "Deletes the obtmchgprefprc identified by given ID. Add additional information here for the this endpoint."
   operationId: "delete"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the obtmchgprefprc maintenance"
      required: true
      type: "string"
    - name: "obtmchgprefprc"
      in: "body"
      description: Request body contain obtmchgprefprc and Modification no of obtmchgprefprc maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to Authorize existing record.
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../obtmchgprefprc/xxx/approve

 /obtmchgprefprc/{id}/approve:
  patch:
   tags:
    - "obtmchgprefprc"
   summary: "Authorize the obtmchgprefprc by given ID."
   description:  "Authorize the obtmchgprefprc identified by given ID."
   operationId: "authorize"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the obtmchgprefprc maintenance"
      required: true
      type: "string"
    - name: "obtmchgprefprc"
      in: "body"
      description: Request body contain obtmchgprefprc and Modification no of obtmchgprefprc maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to close existing record
#
#  supported http methods PATCH
#
# path examples----
#   PATCH       .../obtmchgprefprc/xxx/close
 /obtmchgprefprc/{id}/close:
  patch:
   tags:
    - "obtmchgprefprc"
   summary: "Close the obtmchgprefprc by given ID."
   description:  "Close the obtmchgprefprc identified by given ID."
   operationId: "closeRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the obtmchgprefprc maintenance"
      required: true
      type: "string"
    - name: "obtmchgprefprc"
      in: "body"
      description: Request body contain obtmchgprefprc and Modification no of obtmchgprefprc maintenance which need to be closed"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to reopen existing record
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../obtmchgprefprc/xxx/reopen

 /obtmchgprefprc/{id}/reopen:
  patch:
   tags:
    - "obtmchgprefprc"
   summary: "reopen the obtmchgprefprc by given ID."
   description:  "reopen the obtmchgprefprc identified by given ID."
   operationId: "reopenRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the obtmchgprefprc maintenance"
      required: true
      type: "string"
    - name: "obtmchgprefprc"
      in: "body"
      description: Request body contain obtmchgprefprc and Modification no of obtmchgprefprc maintenance which need to be reopen"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to get all unauthorized records
#
#  supprorted http methods GET
#
# path examples----
#   GET       .../obtmchgprefprc/xxx/unauthorized

 /obtmchgprefprc/{id}/unauthorized:
  get:
   tags:
    - "obtmchgprefprc"
   summary: "Retrives the obtmchgprefprc by given ID."
   description:  "Retrives the obtmchgprefprc identified by given ID."
   operationId: "authQuery"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the obtmchgprefprc based on given id."
     schema:
       $ref: "#/definitions/ObTmChgPrefPrcCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to  history record for remitterid
#
#  supprorted http methods GETS
#
# path examples----
#   GET       .../obtmchgprefprc/xxx/history

 /obtmchgprefprc/{id}/history:
  get:
   tags:
    - "obtmchgprefprc"
   summary: "Retrives the obtmchgprefprc by given ID."
   description:  "Retrives the obtmchgprefprc by ID."
   operationId: "getHistory"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the obtmchgprefprc based on given id."
     schema:
       $ref: "#/definitions/ObTmChgPrefPrcCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
 /obtmchgprefprc/{id}/isValid:
  get:
   tags:
    - "obtmchgprefprc"
   summary: "Validate the ObTmChgPrefPrc by ResourceId"
   description:  "Validate the ObTmChgPrefPrc by ResourceId"
   operationId: "validateObTmChgPrefPrc"
   parameters:
    - name: "resourceId"
      in: "path"
      description: "resourceId of the user that needs to be validated"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the boolean based on validation of given resource id."
     schema:
       $ref: "#/definitions/boolean"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
definitions:
 ObTmChgPrefPrcDTO:
  type: object
  allOf:
  - $ref: '#/definitions/GenericDto'
  - type: object
    properties:
     id:
      type: string
      description: "ID"
     action:
      type: string
      description: "Action"
     autoAuth:
      type: string
      description: "Auto Authorization"
     modificationStatus:
      type: string
      description: "Modification Status"
     datasegmentCode:
      type: string
      description: 'Datasegment Code'
     checkerRemarks:
      type: string
      description: 'Checker remarks'
     makerRemarks:
      type: string
      description: 'Maker remarks'
     applicationCode:
      type: string
      description: "Application Code"
     filterAttr1Name:
      type: string
      description: "Filter Attribute 1 Name"
     filterAttr1:
      type: string
      description: "Filter Attribute 1"
      default: "N/A"
     filterAttr1Label:
      type: string
      description: "Filter Attribute 1 Label"
     filterAttr1ColumnName:
      type: string
      description: "Filter Attribute 1 Column Name"
     filterAttr1Type:
      type: string
      description: "Filter Attribute 1 Type"
     filterAttr1EndpointValue:
      type: string
      description: "Filter Attribute 1 Endpoint Key"
     filterAttr1ReqParams:
      type: string
      description: "Filter Attribute 1 ReqParams"
     filterAttr1LovConfig:
      type: "array"
      description: "Filter Attribute 2 LOV Config Data"
      items:
       $ref: '#/definitions/Map'
     filterAttr2:
      type: string
      description: "Filter Attribute 2"
      default: "N/A"
     filterAttr2Name:
      type: string
      description: "Filter Attribute 2 Name"
     filterAttr2Label:
      type: string
      description: "Filter Attribute 2 Label"
     filterAttr2ColumnName:
      type: string
      description: "Filter Attribute 2 Column Name"
     filterAttr2Type:
      type: string
      description: "Filter Attribute 2 Type"
     filterAttr2EndpointValue:
      type: string
      description: "Filter Attribute 2 Endpoint Key"
     filterAttr2ReqParams:
      type: string
      description: "Filter Attribute 2 ReqParams"
     filterAttr2LovConfig:
      type: "array"
      description: "Filter Attribute 2 LOV Config Data"
      items:
       $ref: '#/definitions/Map'
     filterAttr3:
      type: string
      description: "Filter Attribute 3"
      default: "N/A"
     filterAttr3Name:
      type: string
      description: "Filter Attribute 3 Name"
     filterAttr3Label:
      type: string
      description: "Filter Attribute 3 Label"
     filterAttr3ColumnName:
      type: string
      description: "Filter Attribute 3 Column Name"
     filterAttr3Type:
      type: string
      description: "Filter Attribute 3 Type"
     filterAttr3EndpointValue:
      type: string
      description: "Filter Attribute 3 Endpoint Key"
     filterAttr3ReqParams:
      type: string
      description: "Filter Attribute 3 ReqParams"
     filterAttr3LovConfig:
      type: "array"
      description: "Filter Attribute 3 LOV Config Data"
      items:
       $ref: '#/definitions/Map'
     filterAttr4:
      type: string
      description: "Filter Attribute 4"
      default: "N/A"
     filterAttr4Name:
      type: string
      description: "Filter Attribute 4 Name"
     filterAttr4Label:
      type: string
      description: "Filter Attribute 4 Label"
     filterAttr4ColumnName:
      type: string
      description: "Filter Attribute 4 Column Name"
     filterAttr4Type:
      type: string
      description: "Filter Attribute 4 Type"
     filterAttr4EndpointValue:
      type: string
      description: "Filter Attribute 4 Endpoint Key"
     filterAttr4ReqParams:
      type: string
      description: "Filter Attribute 4 ReqParams"
     filterAttr4LovConfig:
      type: "array"
      description: "Filter Attribute 4 LOV Config Data"
      items:
       $ref: '#/definitions/Map'
     filterAttr5:
      type: string
      description: "Filter Attribute 5"
      default: "N/A"
     filterAttr5Name:
      type: string
      description: "Filter Attribute 5 Name"
     filterAttr5Label:
      type: string
      description: "Filter Attribute 5 Label"
     filterAttr5ColumnName:
      type: string
      description: "Filter Attribute 5 Column Name"
     filterAttr5Type:
      type: string
      description: "Filter Attribute 5 Type"
     filterAttr5EndpointValue:
      type: string
      description: "Filter Attribute 5 Endpoint Key"
     filterAttr5ReqParams:
      type: string
      description: "Filter Attribute 5 ReqParams"
     filterAttr5LovConfig:
      type: "array"
      description: "Filter Attribute 5 LOV Config Data"
      items:
       $ref: '#/definitions/Map'
     filterAttr6:
      type: string
      description: "Filter Attribute 6"
      default: "N/A"
     filterAttr6Name:
      type: string
      description: "Filter Attribute 6 Name"
     filterAttr6Label:
      type: string
      description: "Filter Attribute 6 Label"
     filterAttr6ColumnName:
      type: string
      description: "Filter Attribute 6 Column Name"
     filterAttr6Type:
      type: string
      description: "Filter Attribute 6 Type"
     filterAttr6EndpointValue:
      type: string
      description: "Filter Attribute 6 Endpoint Key"
     filterAttr6ReqParams:
      type: string
      description: "Filter Attribute 6 ReqParams"
     filterAttr6LovConfig:
      type: "array"
      description: "Filter Attribute 6 LOV Config Data"
      items:
       $ref: '#/definitions/Map'
     filterAttr7:
      type: string
      description: "Filter Attribute 7"
      default: "N/A"
     filterAttr7Name:
      type: string
      description: "Filter Attribute 7 Name"
     filterAttr7Label:
      type: string
      description: "Filter Attribute 7 Label"
     filterAttr7ColumnName:
      type: string
      description: "Filter Attribute 7 Column Name"
     filterAttr7Type:
      type: string
      description: "Filter Attribute 7 Type"
     filterAttr7EndpointValue:
      type: string
      description: "Filter Attribute 7 Endpoint Key"
     filterAttr7ReqParams:
      type: string
      description: "Filter Attribute 7 ReqParams"
     filterAttr7LovConfig:
      type: "array"
      description: "Filter Attribute 7 LOV Config Data"
      items:
       $ref: '#/definitions/Map'
     filterAttr8:
      type: string
      description: "Filter Attribute 8"
      default: "N/A"
     filterAttr8Name:
      type: string
      description: "Filter Attribute 8 Name"
     filterAttr8Label:
      type: string
      description: "Filter Attribute 8 Label"
     filterAttr8ColumnName:
      type: string
      description: "Filter Attribute 8 Column Name"
     filterAttr8Type:
      type: string
      description: "Filter Attribute 8 Type"
     filterAttr8EndpointValue:
      type: string
      description: "Filter Attribute 8 Endpoint Key"
     filterAttr8ReqParams:
      type: string
      description: "Filter Attribute 8 ReqParams"
     filterAttr8LovConfig:
      type: "array"
      description: "Filter Attribute 8 LOV Config Data"
      items:
       $ref: '#/definitions/Map'
     filterAttr9:
      type: string
      description: "Filter Attribute 9"
      default: "N/A"
     filterAttr9Name:
      type: string
      description: "Filter Attribute 9 Name"
     filterAttr9Label:
      type: string
      description: "Filter Attribute 9 Label"
     filterAttr9ColumnName:
      type: string
      description: "Filter Attribute 9 Column Name"
     filterAttr9Type:
      type: string
      description: "Filter Attribute 9 Type"
     filterAttr9EndpointValue:
      type: string
      description: "Filter Attribute 9 Endpoint Key"
     filterAttr9ReqParams:
      type: string
      description: "Filter Attribute 9 ReqParams"
     filterAttr9LovConfig:
      type: "array"
      description: "Filter Attribute 9 LOV Config Data"
      items:
       $ref: '#/definitions/Map'
     filterAttr10:
      type: string
      description: "Filter Attribute 10"
      default: "N/A"
     filterAttr10Name:
      type: string
      description: "Filter Attribute 10 Name"
     filterAttr10Label:
      type: string
      description: "Filter Attribute 10 Label"
     filterAttr10ColumnName:
      type: string
      description: "Filter Attribute 10 Column Name"
     filterAttr10Type:
      type: string
      description: "Filter Attribute 10 Type"
     filterAttr10EndpointValue:
      type: string
      description: "Filter Attribute 10 Endpoint Key"
     filterAttr10ReqParams:
      type: string
      description: "Filter Attribute 10 ReqParams"
     filterAttr10LovConfig:
      type: "array"
      description: "Filter Attribute 10 LOV Config Data"
      items:
       $ref: '#/definitions/Map'
     filterCriteria:
      type: string
      description: "Filter Criteria"
     chgPrefPrcId:
      type: string
      description: "Charge Preference Pricing Id"
     ObTmAddChgPrefprcDTO:
      type: array
      items:
       $ref: '#/definitions/ObTmAddChgPrefprcDTO'
 ObTmAddChgPrefprcDTO:
  type: object
  properties:
     id:
      type: string
      description: "ID"
     allowOverride:
      type: string
      description: "Allow Override"
     allowPrcModify:
      type: string
      description: "Allow Pricing Modify"
     allowWaive:
      type: string
      description: "Allow Waive"
     autoWaive:
      type: string
      description: "Auto Waive"
     calcFreq:
      type: string
      description: "Calculate Frequency"
     calcRefPeriod:
      type: string
      description: "Calculate Reference Period"
     calcType:
      type: string
      description: "Calculate Type"
     calcUnits:
      type: integer
      description: "Calculate Units"
     chgApplication:
      type: string
      description: "Charge Application"
     chgCode:
      type: string
      description: "Charge Code"
     chgCriteria:
      type: string
      description: "Charge Criteria"
     chgDecMasterId:
      type: string
      description: "Charge Dec Master Id"
     chgPrcTemplateId:
      type: string
      description: "Charge Pricing Template Id"
     collectionType:
      type: string
      description: "Collection Type"
     collFreq:
      type: string
      description: "Collection Frequency"
     collRefPeriod:
      type: string
      description: "Collection Reference Period"
     collUnits:
      type: integer
      description: "Collection Units"
     effectiveDate:
      type: string
      description: "Effective Date"
     expiryDate:
      type: string
      description: "Expiry Date"
     parentChgCode:
      type: string
      description: "Parent Charge Code"
     refTenorEndDt:
      type: string
      description: "Reference Tenor End Date"
     refTenorStartDt:
      type: string
      description: "Reference Tenor Start Date"
 ModListKeyDto:
  type: object
  properties:
   modNos:
    type: array
    items:
     type: integer
   remarks:
    type: string
 KeyDto:
  type: object
  properties:
   modNo:
    type: integer
   remarks:
    type: string
 ResponseDto:
  type: object
  properties:
   id:
    type: string
   status:
    type: string
   codes:
    type: array
    items:
     $ref: "#/definitions/ResponseCode"
   requestId:
    type: string
 ResponseCode:
  type: object
  properties:
   Code:
    type: string
   Desc:
    type: string
   Type:
    type: string
   Language:
    type: string
   args:
    type: array
    items:
     type: object
   arg:
    type: string
 GenericDto:
  allOf:
   - type: object
     discriminator: resource_type
 ObTmChgPrefPrcCollection: 
  description: "Collection of obtmchgprefprc."
  type: "object"
  properties:
   data:
    type: "array"
    items: 
     $ref: "#/definitions/ObTmChgPrefPrcDTO"
   paging:
    $ref: "#/definitions/PagingDto"
 PagingDto:
  type: object
  properties:
   totalResults:
    type: integer
 ResponseDtoWrapper:
  type: object
  properties:
   messages:
    $ref: "#/definitions/ResponseDto"
   data:
    $ref: "#/definitions/ResponseResourceSupport"
 ResponseResourceSupport:
  type: object
 ObTmChgPrefPrcWrapperModel:
  type: object
  properties:
   data:
    $ref: "#/definitions/ObTmChgPrefPrcDTO"
 StringStringMap:
   type: object
   additionalProperties:
     type: string
