swagger: "2.0"
info:
  description: "Model Definitions required for integration with OBCL"
  version: "1.0.0"
  title: "OBCLInterface"
host: "api-plato.us.oracle.com:8080"
basePath: "/api/1.0"
consumes:
  - "application/json"
  - "application/xml"
produces:
  - "application/json"
  - "application/xml"
tags:
  - name: "OBCLInterface"
    
schemes:
- "https"

paths: {}

definitions:
  QueryContractResponse:
    description: "Compounding ICCF Model"
    type: "object"
    properties:
      loanDetails:
        $ref: "#/definitions/LoanDetails"
      amountDueDetail:
        type: array
        items:
          $ref: '#/definitions/AmountDueDetail'
      status:
        type: 'string'
        description: "Status"
      warningCode:
        type: array
        items:
          $ref: '#/definitions/WarningCode'
      errorCode:
        type: array
        items:
          $ref: '#/definitions/ErrorCode'
  WarningCode:
    description: "Warning Code"
    type: "object"
    properties:
      warningCode:
        type: "string"
        description: "Warning Code"
      warningDesc:
        type: "string"
        description: "Warning Description"  
  ErrorCode:
    description: "Warning Code"
    type: "object"
    properties:
      errorCode:
        type: "string"
        description: "Error Code"
      errorDesc:
        type: "string"
        description: "Error Description"     
  LoanDetails:
    description: "Loan Details"
    type: "object"
    properties:
      branch:
        type: "string"
        description: "Branch Code"
      loanReferenceNumber:
        type: "string"
        description: "Loan Reference Number"
  AmountDueDetail:
    description: "Amount Due"
    type: "object"
    properties:
      totalAmountDues:
        type: "number"
        description: "Total Amount Dues"
      amountDue:
        type: array
        items:
          $ref: '#/definitions/AmountDue'
  AmountDue:
    description: "Amount Due"
    type: "object"
    properties:
      component:
        type: "string"
        description: "Component"
      contractIccfView:
        type: array
        items:
          $ref: '#/definitions/CompoundingICCFModel'
  CompoundingICCFModel:
    description: "Compounding ICCF Model"
    type: "object"
    properties:
      rateSofr:
        type: "number"
        description: "Rate So Far"
      contractRefNo:
        type: "string"
        description: "Contract Reference Number"
      dailyAccSofr:
        type: "number"
        description: "Daily Accural So Far"
      component:
        type: "string"
        description: "Component"
      pAcuInterestSofr:
        type: "number"
        description: "Principal Accured Interest So Far"
      currency:
        type: "string"
        description: "Currency"
      spreadAdjustmentSofr:
        type: "number"
        description: "Spread Adjustment So Far"
      scheduleDate:
        type: "string"
        description: "Schedule Date"
      marginSofr:
        type: "number"
        description: "Margin So Far"
      calculationDateSofr:
        type: "string"
        description: "Calculation Date So Far"
      interestAmountSofr:
        type: "number"
        description: "Interest Amount So Far"
      totalSimpleIntSofr:
        type: "number"
        description: "Total Simple Int So Far"
      rateType:
        type: "string"
        description: "Rate Type"
      finalRate:
        type: "number"
        description: "Final Rate"
      noOfDaysSofr:
        type: "number"
        description: "No Of Days So Far"
      rateUi:
        type: "string"
        description: "Rate Ui"