swagger: "2.0"
info:
 description: "Provides APIs to get price categories & methods" 
 version: "1.0.0"
 title: "Price Method Service"
host: "api-plato.us.oracle.com:8080"
basePath: "/cmc-charges-calculation-services"
consumes:
 - "application/json"
produces:
 - "application/json"
tags:
 - name: "chargeWebAPI"
   description: "Provides web APIs to get price categories & methods"
   
paths:   
  
  /web/v1/prcMethods:
   get:
     tags:
       - "chargeWeb"
     summary: "Provides price methods for given price category"
     description: "Provides price methods for given price category"
     operationId: "getPrcMethods"
     parameters:
     - name: "userId"
       in: "header"
       description: "User Id"
       required: true
       type: "string"
     - name: "branchCode"
       in: "header"
       description: "Branch Code"
       required: true
       type: "string"
     - name: "appId"
       in: "header"
       description: "Application Id"
       type: "string"
       required: true
     - name: "applicationCode" 
       in: "query" 
       description: "Application Code" 
       required: true
       type: "string"
     - name: "prcCategory" 
       in: "query" 
       description: "Pricing Category" 
       type: "string"
       required: true
     - name: "category" 
       in: "query" 
       description: "Category(Charge/Discount)" 
       type: "string"
       required: false
     responses:
       200:
         description: "List of price methods for given price category"
         schema:
           $ref: "./chgDef.yaml#/definitions/CmcPrcMethodsCollection"
       400:
         description: "Malformed syntax."
       401:
         description: "Request does not have sufficient credentials."
       403:
         description: "Request is not authorized."
       500:
         description: "Internal error"
         
  /web/v1/prcCategory:
   get:
     tags:
       - "chargeWeb"
     summary: "Provides all  pricing categories"
     description: "Provides all  pricing categories"
     operationId: "getPrcCategory"
     parameters:
     - name: "userId"
       in: "header"
       description: "User Id"
       required: true
       type: "string"
     - name: "branchCode"
       in: "header"
       description: "Branch Code"
       required: true
       type: "string"
     - name: "appId"
       in: "header"
       description: "Application Id"
       type: "string"
       required: true
     - name: "applicationCode" 
       in: "query" 
       description: "Application Code" 
       required: false
       type: "string"
     - name: "category" 
       in: "query" 
       description: "Category(Charge/Discount)" 
       type: "string"
       required: false
     responses:
       200:
         description: "List of pricing categories"
         schema:
           $ref: "./chgDef.yaml#/definitions/CmcPrcCategoryCollection"
       400:
         description: "Malformed syntax."
       401:
         description: "Request does not have sufficient credentials."
       403:
         description: "Request is not authorized."
       500:
         description: "Internal error"