#-----------------------------------------------------------------------------------------------------
#  **
#  ** File Name  : common.yaml
#  **
#  ** Module     : RpPricingSystem
#  ** 
#  ** This source is part of the Oracle FLEXCUBE  and is copyrighted by Oracle Financial Services Software Limited.  ** 
#  ** 
#  ** All rights reserved. No part of this work may be reproduced, stored in a retrieval system,
#  ** adopted or transmitted in any form or by any means, electronic, mechanical, photographic,
#  ** graphic, optic recording or otherwise, translated in any language or computer language,
#  ** without the prior written permission of Oracle Financial Services Software Limited.
#  ** 
#  ** Oracle Financial Services Software Limited.
#  ** 10-11, SDF I, SEEPZ, Andheri (East),
#  ** Mumbai - 400 096.
#  ** India
#  ** Copyright 2017-2018 Oracle Financial Services Software Limited. All rights reserved.
#  -------------------------------------------------------------------------------------------------------
#
#  CHANGE HISTORY
#
#  Created By         :  System
#
#  Bug Number         :  
#  Changed By         :  
#  Change Description :  
#  Change On          :  
#  Search String      :  
#  
#  -------------------------------------------------------------------------------------------------------
  

swagger: "2.0"
info:
 description: "This is a sample server rppricingsystem server." 
 version: "1.0.0"
 title: "rppricingsystem Service"
host: "api-plato.us.oracle.com:8080"
basePath: "/api/1.0"
consumes:
 - "application/json"
produces:
 - "application/json"
tags:
 - name: "rppricingsystem"
   description: "rppricingsystem"

schemes:
- "https"

paths:

# path to create a new record and fetch all valid records or by intent
#
#  supprorted http methods POST and GET
#
# path example ../rppricingsystem

 /rppricingsystem:
  post:
   tags:
    - "rppricingsystem"
   summary: "Adds a new rppricingsystem."
   description: "Adds a new rppricingsystem. Add additional information here for this endpoint."
   operationId: "saveRecord"
   parameters:
    - name: "rppricingsystem" 
      in: "body" 
      description: "Request Body that contains data required for creating a new rppricingsystem" 
      required: true
      schema:
       $ref: "#/definitions/CmcTmPricingSystemDTO"
   responses:
    201: 
     description: "Returns message of succes or failure " 
     headers:
      Location:
       description: "URL of newly created rppricingsystem" 
       type: "string"
     schema:
       $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "rppricingsystem"
   summary: "Get all valid rppricingsystem."
   description:  "Get all valid rppricingsystem. This endpoints will be used to Get all valid rppricingsystem maintenance records."
   operationId: "getAll"
   parameters:
   - name: includecloseandunauth
     in: query
     description: includecloseandunauth need to be set to fetch summary record, defult value is false
     required: false
     type: boolean
   - name: offset
     in: query
     description: offset is starting no of records to be fetched
     required: false
     type: integer
   - name: limit
     in: query
     description: limit is maximum no of records to be fetched
     required: false
     type: integer
   - name: pricingSrcCode
     in: query
     description: pricingSrcCode to be fetched
     required: false
     type: string
   responses:
    201:
     description: "Returns message of succes or failure"
     headers: 
      Location:
       description: "Location"
       type: "string"
     schema:
       $ref: "#/definitions/CmcTmPricingSystemCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"

# path to modify existing record, delete existing record and fetch valid records by id or by intent( includes latestRecord, version no)
#
#  supprorted http methods PUT, DELETE and GET
#
# path examples----
#   PUT       .../rppricingsystem/xxx
#   DELETE    .../rppricingsystem/xxx
#   GET       .../rppricingsystem/xxx
#   GET       .../rppricingsystem/xxx?version=latestrecord
#   GET       .../rppricingsystem/xxx?version=1

 /rppricingsystem/{id}:
  put:
   tags:
    - "rppricingsystem"
   summary: "Update an existing rppricingsystem."
   description:  "Update an existing rppricingsystem."
   operationId: "modifyRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "key of the rppricingsystem Maintenance"
      required: true
      type: "string"
    - name: "rppricingsystem"
      in: "body"
      description: "Request Body that contains data required for updating an existing rppricingsystem"
      required: true
      schema:
       $ref: "#/definitions/CmcTmPricingSystemDTO"
   responses:
    200:
     description: "Returns updated rppricingsystem"
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "rppricingsystem"
   summary: "Retrieves the rppricingsystem by ID."
   description:  "Retrieves the rppricingsystem by ID."
   operationId: "getById"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
    - name: "version"
      in: "query"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the rppricingsystem based on given id."
     schema:
      $ref: "#/definitions/CmcTmPricingSystemWrapperDTO"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
  delete:
   tags:
    - "rppricingsystem"
   summary: "Deletes the rppricingsystem identified by given ID."
   description:  "Deletes the rppricingsystem identified by given ID. Add additional information here for the this endpoint."
   operationId: "delete"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the rppricingsystem maintenance"
      required: true
      type: "string"
    - name: "rppricingsystem"
      in: "body"
      description: Request body contain rppricingsystem and Modification no of rppricingsystem maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to Authorize existing record.
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../rppricingsystem/xxx/approve

 /rppricingsystem/{id}/approve:
  patch:
   tags:
    - "rppricingsystem"
   summary: "Authorize the rppricingsystem by given ID."
   description:  "Authorize the rppricingsystem identified by given ID."
   operationId: "authorize"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the rppricingsystem maintenance"
      required: true
      type: "string"
    - name: "rppricingsystem"
      in: "body"
      description: Request body contain rppricingsystem and Modification no of rppricingsystem maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to close existing record
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../rppricingsystem/xxx/close
 /rppricingsystem/{id}/close:
  patch:
   tags:
    - "rppricingsystem"
   summary: "Close the rppricingsystem by given ID."
   description:  "Close the rppricingsystem identified by given ID."
   operationId: "closeRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the rppricingsystem maintenance"
      required: true
      type: "string"
    - name: "rppricingsystem"
      in: "body"
      description: Request body contain rppricingsystem and Modification no of rppricingsystem maintenance which need to be closed"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to reopen existing record
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../rppricingsystem/xxx/reopen

 /rppricingsystem/{id}/reopen:
  patch:
   tags:
    - "rppricingsystem"
   summary: "reopen the rppricingsystem by given ID."
   description:  "reopen the rppricingsystem identified by given ID."
   operationId: "reopenRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the rppricingsystem maintenance"
      required: true
      type: "string"
    - name: "rppricingsystem"
      in: "body"
      description: Request body contain rppricingsystem and Modification no of rppricingsystem maintenance which need to be reopen"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to get all unauthorized records
#
#  supprorted http methods GET
#
# path examples----
#   GET       .../rppricingsystem/xxx/unauthorized

 /rppricingsystem/{id}/unauthorized:
  get:
   tags:
    - "rppricingsystem"
   summary: "Retrives the rppricingsystem by given ID."
   description:  "Retrives the rppricingsystem identified by given ID."
   operationId: "authQuery"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the rppricingsystem based on given id."
     schema:
       $ref: "#/definitions/CmcTmPricingSystemCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to  history record for remitterid
#
#  supprorted http methods GETS
#
# path examples----
#   GET       .../rppricingsystem/xxx/history

 /rppricingsystem/{id}/history:
  get:
   tags:
    - "rppricingsystem"
   summary: "Retrives the rppricingsystem by given ID."
   description:  "Retrives the rppricingsystem by ID."
   operationId: "getHistory"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the rppricingsystem based on given id."
     schema:
       $ref: "#/definitions/CmcTmPricingSystemCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
definitions:
 CmcTmPricingSystemDTO:
  type: object
  allOf:
  - $ref: '#/definitions/GenericDto'
  - type: object
    properties:
     action:
      type: string
      description: "Action"
     checkerRemarks:
      type: string
      description: "CHecker Remarks"
     keyId:
      type: string
      description: "Key Id"
     makerRemarks:
      type: string
      description: "Maker Remarks"
     pricingSrcCode:
      type: string
      description: "Pricing Source Code"
     pricingSrcDesc:
      type: string
      description: "Pricing Source Description"
 ModListKeyDto:
  type: object
  properties:
   modNos:
    type: array
    items:
     type: integer
   remarks:
    type: string
 KeyDto:
  type: object
  properties:
   modNo:
    type: integer
   remarks:
    type: string
 ResponseDto:
  type: object
  properties:
   id:
    type: string
   status:
    type: string
   codes:
    type: array
    items:
     $ref: "#/definitions/ResponseCode"
   requestId:
    type: string
 ResponseCode:
  type: object
  properties:
   Code:
    type: string
   Desc:
    type: string
   Type:
    type: string
   Language:
    type: string
   args:
    type: array
    items:
     type: object
   arg:
    type: string
 BindingResult:
  type: object
 GenericDto:
  allOf:
   - type: object
     discriminator: resource_type
 CmcTmPricingSystemCollection: 
  description: "Collection of pricingsystem."
  type: "object"
  properties:
   data:
    type: "array"
    items: 
     $ref: "#/definitions/CmcTmPricingSystemDTO"
   paging:
    $ref: "#/definitions/PagingDto"
 PagingDto:
  type: object
  properties:
   totalResults:
    type: integer
 ResponseDtoWrapper:
  type: object
  properties:
   messages:
    $ref: "#/definitions/ResponseDto"
   data:
    $ref: "#/definitions/ResponseResourceSupport"
 ResponseResourceSupport:
  type: object
 CmcTmPricingSystemWrapperDTO:
  type: object
  properties:
   data:
    $ref: "#/definitions/CmcTmPricingSystemDTO"