#  * ******************************************************************************
#  *  * This source is part of the Oracle Banking Software Product.
#  *  * Copyright (c) 2018,2021, Oracle and/or its affiliates. All rights reserved.
#  *  *
#  *  * No part of this work may be reproduced, stored in a retrieval system, adopted
#  *  * or transmitted in any form or by any means, electronic, mechanical, photographic,
#  *  * graphic, optic recording or otherwise, translated in any language or computer
#  *  * language, without the prior written permission of Oracle and/or its affiliates.
#  *  *
#  *  * Oracle Financial Services Software Limited.
#  *  * Oracle Park, Off Western Express Highway,
#  *  * Goregaon (East),
#  *  * Mumbai - 400 063, India.
#  *  *****************************************************************************
swagger: '2.0'
info:
  description: This is a sample server Contribution server.  You can find out more about Swagger at [swagger.io](http://swagger.io) and about data types at [Swagger Data Types](https://swagger.io/docs/specification/data-models/data-types/)
  version: 1.0.0
  title: Contribution
host: api-plato.us.oracle.com:8080
basePath: /api/1.0
consumes:
- application/json
- application/xml
produces:
- application/json
- application/xml
tags:
- name: ContributionAPI
  description: API for contribution Operations
schemes:
- https
paths:
  /contribution:
    get:
      tags:
      - contribution
      summary: Get all valid contribution.
      description: Get all valid contribution. This endpoints will be used to Get all valid contribution maintenance records.
      operationId: getAll
      parameters:
      - name: includecloseandunauth
        in: query
        description: includecloseandunauth need to be set to fetch summary record, defult value is false
        required: false
        type: boolean
      - name: offset
        in: query
        description: offset is starting no of records to be fetched
        required: false
        type: integer
      - name: limit
        in: query
        description: limit is maximum no of records to be fetched
        required: false
        type: integer
      responses:
        201:
          description: Returns message of succes or failure
          headers:
            Location:
              description: ''
              type: string
          schema:
            $ref: '#/definitions/LmsTbContributionCollection'
        400:
          description: Malformed syntax.
        401:
          description: Request does not have sufficient credentials.
        403:
          description: Request is not authorized.
        405:
          description: Invalid input
        500:
          description: Internal error
    post:
      tags:
      - contribution
      summary: Add new data for contribution.
      description: Adds a new contribution. Add additional information here for this endpoint.
      operationId: save
      parameters:
      - name: contributionDTO
        in: body
        description: Request Body that contains data required for creating a new contribution monitor
        required: true
        schema:
          $ref: '#/definitions/LmsTbContributionDTO'
      responses:
        201:
          description: Returns message of succes or failure
          headers:
            Location:
              description: URL of newly created contribution data
              type: string
          schema:
            $ref: '#/definitions/ResponseDtoWrapper'
        400:
          description: Malformed syntax.
        401:
          description: Request does not have sufficient credentials.
        403:
          description: Request is not authorized.
        405:
          description: Invalid input
        500:
          description: Internal error
  /contribution/{id}:
    put:
      tags:
      - contribution
      summary: Update an existing contribution data.
      description: Update an existing contribution data.
      operationId: modifyRecord
      parameters:
      - name: id
        in: path
        description: key of the contribution data
        required: true
        type: string
      - name: contributionDTO
        in: body
        description: Request Body that contains data required for updating an existing contribution
        required: true
        schema:
          $ref: '#/definitions/LmsTbContributionDTO'
      responses:
        200:
          description: Returns updated contribution data
          schema:
            $ref: '#/definitions/ResponseDtoWrapper'
        400:
          description: Malformed syntax.
        401:
          description: Request does not have sufficient credentials.
        403:
          description: Request is not authorized.
        405:
          description: Invalid input
        500:
          description: Internal error
  /contribution/valuedate/{structureId}:
    get:
      tags:
      - contribution
      summary: Retrieves minimum contribution value date for given structure.
      description: Retrieves minimum contribution value date for given structure.
      operationId: getMinValueDate
      parameters:
      - name: structureId
        in: path
        description: Structure Id
        required: true
        type: string
      responses:
        200:
          description: Retrieves minimum contribution value date for given structure.
          schema:
            $ref: '#/definitions/LmsTbContributionCollection'
        400:
          description: Malformed syntax.
        401:
          description: Request does not have sufficient credentials.
        403:
          description: Request is not authorized.
        500:
          description: Internal error
  /contribution/dailyContribution:
    get:
      tags:
      - contribution
      summary: Get all valid contribution.
      description: Get all valid contribution. This endpoints will be used to Get all valid contribution maintenance records.
      operationId: getDailyContribution
      parameters:
      - name: parentAccountNumber
        in: query
        description: parentAccountNumber
        required: true
        type: string
      - name: parentAccountBranch
        in: query
        description: parentAccountBranch
        required: true
        type: string
      - name: dailyAccDate
        in: query
        description: dailyAccDate
        required: true
        type: string        
      responses:
        201:
          description: Returns message of succes or failure
          headers:
            Location:
              description: ''
              type: string
          schema:
            $ref: '#/definitions/LmsTbStructureDetailsCollection'
        400:
          description: Malformed syntax.
        401:
          description: Request does not have sufficient credentials.
        403:
          description: Request is not authorized.
        405:
          description: Invalid input
        500:
          description: Internal error
  /contribution/contributionSum:
    get:
      tags:
      - contribution
      summary: Get all valid contribution.
      description: Get all valid contribution. This endpoints will be used to Get all valid contribution maintenance records.
      operationId: getContributionSum
      parameters:
      - name: sumType
        in: query
        description: sumType
        required: true
        type: string      
      - name: parentAccountNumber
        in: query
        description: parentAccountNumber
        required: true
        type: string
      - name: parentAccountBranch
        in: query
        description: parentAccountBranch
        required: true
        type: string
      - name: dailyAccDate
        in: query
        description: dailyAccDate
        required: true
        type: string
      - name: parentAccountCurrency
        in: query
        description: parentAccountCurrency
        required: true
        type: string        
      responses:
        201:
          description: Returns message of succes or failure
          headers:
            Location:
              description: ''
              type: string
          schema:
            $ref: '#/definitions/LmsTbStructureDetailsDTO'
        400:
          description: Malformed syntax.
        401:
          description: Request does not have sufficient credentials.
        403:
          description: Request is not authorized.
        405:
          description: Invalid input
        500:
          description: Internal error
  /contribution/absContribution:
    get:
      tags:
      - contribution
      summary: Get all valid contribution.
      description: Get all valid contribution. This endpoints will be used to Get all valid contribution maintenance records.
      operationId: getAbsContribution
      parameters:
      - name: parentAccountNumber
        in: query
        description: parentAccountNumber
        required: true
        type: string
      - name: parentAccountBranch
        in: query
        description: parentAccountBranch
        required: true
        type: string
      - name: dailyAccDate
        in: query
        description: dailyAccDate
        required: true
        type: string        
      responses:
        201:
          description: Returns message of succes or failure
          headers:
            Location:
              description: ''
              type: string
          schema:
            $ref: '#/definitions/LmsTbStructureDetailsDTO'
        400:
          description: Malformed syntax.
        401:
          description: Request does not have sufficient credentials.
        403:
          description: Request is not authorized.
        405:
          description: Invalid input
        500:
          description: Internal error
  /contribution/parentContribution:
    get:
      tags:
      - contribution
      summary: Get all valid contribution.
      description: Get all valid contribution. This endpoints will be used to Get all valid contribution maintenance records.
      operationId: getParentContribution
      parameters:
      - name: parentAccountNumber
        in: query
        description: parentAccountNumber
        required: true
        type: string
      - name: parentAccountBranch
        in: query
        description: parentAccountBranch
        required: true
        type: string
      - name: dailyAccDate
        in: query
        description: dailyAccDate
        required: true
        type: string
      responses:
        201:
          description: Returns message of succes or failure
          headers:
            Location:
              description: ''
              type: string
          schema:
            $ref: '#/definitions/LmsTbStructureDetailsDTO'
        400:
          description: Malformed syntax.
        401:
          description: Request does not have sufficient credentials.
        403:
          description: Request is not authorized.
        405:
          description: Invalid input
        500:
          description: Internal error          
definitions:
  LmsTbContributionDTO:
    type: object
    allOf:
    - $ref: '#/definitions/GenericDto'
    - type: object
      properties:
        executionId:
          type: string
          description: ''
        structureId:
          type: string
          description: ''
        toAccountNumber:
          type: string
          description: ''
        toAccountBranch:
          type: string
          description: ''
        toAccountCurrency:
          type: string
          description: ''
        fromAccountNumber:
          type: string
          description: ''
        fromAccountBranch:
          type: string
          description: ''
        fromAccountCurrency:
          type: string
          description: ''
        contributionAmount:
          type: number
          description: ''
        fromCurrencyAmount:
          type: number
          description: ''
        valueDate:
          type: string
#          format: date
          description: ''
        fxrate:
          type: number
          description: ''
        status:
          type: string
          description: ''
  LmsTbStructureDetailsDTO:
    type: object
    properties:
      parentAccNo:
        type: string
        description: ''
      parentBranch:
        type: string
        description: ''
      parentCcy:
        type: string
        description: ''
      childAccNo:
        type: string
        description: ''
      childBranch:
        type: string
        description: ''
      childCcy:
        type: string
        description: ''
      valueDate:
        type: string
        description: ''
      dailyAccrDate:
        type: string
        description: ''        
      dailyContriAmnt:
        type: number
        description: ''
  LmsTbStructureDetailsCollection:
    description: Collection of Contribution.
    type: object
    properties:
      data:
        type: array
        items:
          $ref: '#/definitions/LmsTbStructureDetailsDTO'
  ResponseDto:
    type: object
    properties:
      id:
        type: string
      status:
        type: string
      codes:
        type: array
        items:
          $ref: '#/definitions/ResponseCode'
      requestId:
        type: string
  ResponseCode:
    type: object
    properties:
      Code:
        type: string
      Desc:
        type: string
      Type:
        type: string
      Language:
        type: string
      args:
        type: array
        items:
          type: object
      arg:
        type: string
  GenericDto:
    allOf:
    - type: object
      discriminator: resource_type
  LmsTbContributionCollection:
    description: Collection of Contribution.
    type: object
    properties:
      data:
        type: array
        items:
          $ref: '#/definitions/LmsTbContributionDTO'
      paging:
        $ref: '#/definitions/PagingDto'
  PagingDto:
    type: object
    properties:
      totalResults:
        type: integer
  ResponseDtoWrapper:
    type: object
    properties:
      messages:
        $ref: '#/definitions/ResponseDto'
      data:
        $ref: '#/definitions/ResponseResourceSupport'
  ResponseResourceSupport:
    type: object