#-----------------------------------------------------------------------------------------------------
#  **
#  ** File Name  : common.yaml
#  **
#  ** Module     : oblm
#  ** 
#  * ******************************************************************************
#  *  * This source is part of the Oracle Banking Software Product.
#  *  * Copyright (c) 2018,2021, Oracle and/or its affiliates. All rights reserved.
#  *  *
#  *  * No part of this work may be reproduced, stored in a retrieval system, adopted
#  *  * or transmitted in any form or by any means, electronic, mechanical, photographic,
#  *  * graphic, optic recording or otherwise, translated in any language or computer
#  *  * language, without the prior written permission of Oracle and/or its affiliates.
#  *  *
#  *  * Oracle Financial Services Software Limited.
#  *  * Oracle Park, Off Western Express Highway,
#  *  * Goregaon (East),
#  *  * Mumbai - 400 063, India.
#  *  *****************************************************************************
#
#  CHANGE HISTORY
#
#  Created By         :  hbhattac
#
#  Bug Number         :  
#  Changed By         :  
#  Change Description :  
#  Change On          :  
#  Search String      :  
#  
#  -------------------------------------------------------------------------------------------------------
swagger: "2.0"
info:
  description: "This is a sample server reversesweepmonitor server.  You can find out more about Swagger at [swagger.io](http://swagger.io) and about data types at [Swagger Data Types](https://swagger.io/docs/specification/data-models/data-types/)"
  version: "1.0.0"
  title: "Reverse Sweep Monitor"
host: "api-plato.us.oracle.com:8080"
basePath: "/api/1.0"
consumes:
  - "application/json"
  - "application/xml"
produces:
  - "application/json"
  - "application/xml"
tags:
  - name: "reversesweepmonitorAPI"
    description: "API for reversesweepmonitor Operations"
    
schemes:
- "https"

paths:

# path to create a new record and fetch all valid records or by intent
#
#  supprorted http methods POST and GET
#
# path example ../reversesweepmonitor

 /reversesweepmonitor:
  get:
   tags:
    - "reversesweepmonitor"
   summary: "Get all valid reversesweepmonitor."
   description:  "Get all valid reversesweepmonitor. This endpoints will be used to Get all valid reversesweepmonitor maintenance records."
   operationId: "getAll"
   parameters:
   - name: includecloseandunauth
     in: query
     description: includecloseandunauth need to be set to fetch summary record, defult value is false
     required: false
     type: boolean
   - name: offset
     in: query
     description: offset is starting no of records to be fetched
     required: false
     type: integer
   - name: limit
     in: query
     description: limit is maximum no of records to be fetched
     required: false
     type: integer
   - name: structureId
     in: query
     required: false
     type: string
   - name: fromDate
     in: query
     required: false
     type: string
   - name: toDate
     in: query
     required: false
     type: string
   - name: filterBy
     in: query
     required: false
     type: string
   - name: reversesweepmasterid
     in: query
     required: false
     type: string
   responses:
    201:
     description: "Returns message of succes or failure"
     headers: 
      Location:
       description: ""
       type: "string"
     schema:
       $ref: "#/definitions/LmsTbReverseSweepLogCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
definitions:
 LmsTbReverseSweepMasterDTO:
   type: object
   properties:
    id:
     type: string
     description: ""
    accountnumber:
     type: string
     description: ""
    branchcode:
     type: string
     description: ""
    currencycode:
     type: string
     description: ""
    executionId:
     type: string
     description: ""
    structureId:
     type: string
     description: ""
    lastExecutionTime:
     type: string
     format: date
     description: ""
    nextExecutionDate:
     type: string
     format: date
     description: ""
    reverseSweepFrequency:
     type: string
     description: ""
    LmsTbReverseSweepLogDTO:
     type: array
     items:
       $ref: '#/definitions/LmsTbReverseSweepLogDTO'
 LmsTbReverseSweepLogDTO:
   type: object
   properties:
    id:
     type: string
     description: ""
    reversesweepmasterid:
     type: string
     description: ""
    bvtid:
     type: string
     description: ""
    customerid:
     type: string
     description: ""
    executionid:
     type: string
     description: ""
    extTransactionNo:
     type: string
     description: ""
    fromAccountBalance:
     type: number
     description: ""
    fromAccountNumber:
     type: string
     description: ""
    fromAccountPostBal:
     type: number
     description: ""
    fromAmount:
     type: number
     description: ""
    fromBicCode:
     type: string
     description: ""
    fromBranchCode:
     type: string
     description: ""
    fromCurrencyCode:
     type: string
     description: ""
    fxRate:
     type: number
     description: ""
    instructionId:
     type: string
     description: ""
    isTwoway:
     type: string
     description: ""
    logTime:
     type: string
     description: ""
    modNo:
     type: number
     description: ""
    reversalAmount:
     type: number
     description: ""
    reversalDate:
     type: string
     format: date
     description: ""
    status:
     type: string
     description: ""
    statusMessage:
     type: string
     description: ""
    structureId:
     type: string
     description: ""
    sweepProduct:
     type: string
     description: ""
    toAccountBalance:
     type: number
     description: ""
    toAccountNumber:
     type: string
     description: ""
    toAccountPostBal:
     type: number
     description: ""
    toAmount:
     type: number
     description: ""
    toBicCode:
     type: string
     description: ""
    toBranchCode:
     type: string
     description: ""
    toCurrencyCode:
     type: string
     description: ""
 ResponseDto:
  type: object
  properties:
   id:
    type: string
   status:
    type: string
   codes:
    type: array
    items:
     $ref: "#/definitions/ResponseCode"
   requestId:
    type: string
 ResponseCode:
  type: object
  properties:
   Code:
    type: string
   Desc:
    type: string
   Type:
    type: string
   Language:
    type: string
   args:
    type: array
    items:
     type: object
   arg:
    type: string
 LmsTbReverseSweepLogCollection: 
  description: "Collection of reversesweeplog."
  type: "object"
  properties:
   data:
    type: "array"
    items: 
     $ref: "#/definitions/LmsTbReverseSweepMasterDTO"
   paging:
    $ref: "#/definitions/PagingDto"
 PagingDto:
  type: object
  properties:
   totalResults:
    type: integer