#  * ******************************************************************************
#  *  * This source is part of the Oracle Banking Software Product.
#  *  * Copyright (c) 2018,2021, Oracle and/or its affiliates. All rights reserved.
#  *  *
#  *  * No part of this work may be reproduced, stored in a retrieval system, adopted
#  *  * or transmitted in any form or by any means, electronic, mechanical, photographic,
#  *  * graphic, optic recording or otherwise, translated in any language or computer
#  *  * language, without the prior written permission of Oracle and/or its affiliates.
#  *  *
#  *  * Oracle Financial Services Software Limited.
#  *  * Oracle Park, Off Western Express Highway,
#  *  * Goregaon (East),
#  *  * Mumbai - 400 063, India.
#  *  *****************************************************************************
swagger: '2.0'
info:
  description: This is a sample server Sweep server.  You can find out more about Swagger at [swagger.io](http://swagger.io) and about data types at [Swagger Data Types](https://swagger.io/docs/specification/data-models/data-types/)
  version: 1.0.0
  title: SweepService
host: api-plato.us.oracle.com:8080
basePath: /api/1.0
consumes:
- application/json
- application/xml
produces:
- application/json
- application/xml
tags:
- name: SweepServiceAPI
  description: API for Sweep Service Operations
schemes:
- https
paths:
  /sweepservice:
    post:
      tags:
      - sweepservice
      summary: Run sweep service for a structure.
      description: Run manual sweep service for a structure.
      operationId: executesweep
      parameters:
      - name: SweepStructuresDTO
        in: body
        description: Request Body that contains data required for running a sweep batch
        required: true
        schema:
          $ref: '#/definitions/LmsSweepStructuresDTO'
      responses:
        201:
          description: Returns message of succes or failure
          headers:
            Location:
              description: URL of newly created sweepmaster data
              type: string
          schema:
            $ref: '#/definitions/ResponseDtoWrapper'
        400:
          description: Malformed syntax.
        401:
          description: Request does not have sufficient credentials.
        403:
          description: Request is not authorized.
        405:
          description: Invalid input
        500:
          description: Internal error
  /sweepservice/simulatesweep:
    post:
      tags:
      - sweepservice
      summary: Run sweep service for a structure.
      description: Run manual sweep service for a structure.
      operationId: simulateSweep
      parameters:
      - name: SweepStructuresDTO
        in: body
        description: Request Body that contains data required for running a sweep batch
        required: true
        schema:
          $ref: '#/definitions/LmsSweepStructuresDTO'
      responses:
        201:
          description: Returns message of succes or failure
          headers:
            Location:
              description: URL of newly created sweepmaster data
              type: string
          schema:
            $ref: '#/definitions/SweepSimulateReportDTOCollection'
        400:
          description: Malformed syntax.
        401:
          description: Request does not have sufficient credentials.
        403:
          description: Request is not authorized.
        405:
          description: Invalid input
        500:
          description: Internal error          
  /sweepservice/executesweepobdx:
    post:
      tags:
      - sweepservice
      summary: Run sweep service for a structure.
      description: Run manual sweep service for a structure.
      operationId: executeSweepObdx
      parameters:
      - name: SweepStructuresDTO
        in: body
        description: Request Body that contains data required for running a sweep batch
        required: true
        schema:
          $ref: '#/definitions/LmsSweepStructuresDTO'
      responses:
        201:
          description: Returns message of succes or failure
          headers:
            Location:
              description: URL of newly created sweepmaster data
              type: string
          schema:
            $ref: '#/definitions/ResponseDtoWrapper'
        400:
          description: Malformed syntax.
        401:
          description: Request does not have sufficient credentials.
        403:
          description: Request is not authorized.
        405:
          description: Invalid input
        500:
          description: Internal error          
          
  /sweepservice/accpair:
    post:
      tags:
      - sweepaccpairservice
      summary: Run sweep service for a structure.
      description: Run  sweep service for a acount pair.
      operationId: executeAccountPairSweep
      parameters:
      - name: SweepStructuresDTO
        in: body
        description: Request Body that contains data required for running a sweep batch
        required: true
        schema:
          $ref: '#/definitions/LmsSweepStructuresDTO'
      responses:
        201:
          description: Returns message of succes or failure
          headers:
            Location:
              description: URL of newly created sweepmaster data
              type: string
          schema:
            $ref: '#/definitions/ResponseDtoWrapper'
        400:
          description: Malformed syntax.
        401:
          description: Request does not have sufficient credentials.
        403:
          description: Request is not authorized.
        405:
          description: Invalid input
        500:
          description: Internal error
          
  /sweepservice/accpairasync:
    post:
      tags:
      - sweepaccpairservice
      summary: Run sweep service for a structure.
      description: Run  sweep service for a acount pair.
      operationId: executeAccountPairSweepAsync
      parameters:
      - name: SweepStructuresDTO
        in: body
        description: Request Body that contains data required for running a sweep batch
        required: true
        schema:
          $ref: '#/definitions/LmsSweepStructuresDTO'
      responses:
        201:
          description: Returns message of succes or failure
          headers:
            Location:
              description: URL of newly created sweepmaster data
              type: string
          schema:
            $ref: '#/definitions/ResponseDtoWrapper'
        400:
          description: Malformed syntax.
        401:
          description: Request does not have sufficient credentials.
        403:
          description: Request is not authorized.
        405:
          description: Invalid input
        500:
          description: Internal error
          
          
  /sweepservice/structureasync:
    post:
      tags:
      - sweepservice
      summary: Run sweep service for a structure.
      description: Run manual sweep service for a structure.
      operationId: executeSweepAsync
      parameters:
      - name: SweepStructuresDTO
        in: body
        description: Request Body that contains data required for running a sweep batch
        required: true
        schema:
          $ref: '#/definitions/LmsSweepStructuresDTO'
      responses:
        201:
          description: Returns message of succes or failure
          headers:
            Location:
              description: URL of newly created sweepmaster data
              type: string
          schema:
            $ref: '#/definitions/ResponseDtoWrapper'
        400:
          description: Malformed syntax.
        401:
          description: Request does not have sufficient credentials.
        403:
          description: Request is not authorized.
        405:
          description: Invalid input
        500:
          description: Internal error
  /sweepservice/adhoc/initiateSweep:
     post:
      tags:
      - adhocsweep
      summary: Initiate sweep structure.
      description: Initiate sweep structure for checker to authorize.
      operationId: initiateSave
      parameters:
      - name: lmsTbAdhocStrSweepCollection
        in: body
        description: Request Body that contains data required for initiating structure
        required: true
        schema:
          $ref: '#/definitions/LmsTbAdhocStrSweepCollection'
      responses:
        201:
          description: 'Returns message of succes or failure '
          headers:
            Location:
              description: URL of newly initated structure
              type: string
          schema:
            $ref: '#/definitions/ResponseDtoWrapper'
        400:
          description: Malformed syntax.
        401:
          description: Request does not have sufficient credentials.
        403:
          description: Request is not authorized.
        405:
          description: Invalid input
        500:
          description: Internal error
  /sweepservice/adhoc/strsweepquery:
    get:
      tags:
      - adhocsweep
      summary: Get all valid structure for authorize.
      description: Get all valid structure.
      operationId: adhocStrAuthQuery
      parameters:
      - name: offset
        in: query
        description: offset is starting no of records to be fetched
        required: false
        type: integer
      - name: limit
        in: query
        description: limit is maximum no of records to be fetched
        required: false
        type: integer
      - name: userId
        in: header
        description: Logged In User Id
        required: false
        type: string 
      - name: structureId
        in: query
        description: structureId need to be set to fetch structures for particular customer
        required: false
        type: string
      - name: structureDescription
        in: query
        description: structure description need to be set to fetch structures for particular customer
        required: false
        type: string
      # - name: executionType
      #   in: query
      #   description: executionType need to be set to fetch structures based on executionType
      #   required: false
      #   type: string        
      # - name: authStat
      #   in: query
      #   description: authStat need to be set to fetch structures based on authStat
      #   required: false
      #   type: string
      # - name: recordStat
      #   in: query
      #   description: recordStat need to be set to fetch structures based on recordStat
      #   required: false
      #   type: string        
      responses:
        201:
          description: Returns message of succes or failure
          headers:
            Location:
              description: ''
              type: string
          schema:
            $ref: '#/definitions/LmsTbAdhocStrSweepCollection'
        400:
          description: Malformed syntax.
        401:
          description: Request does not have sufficient credentials.
        403:
          description: Request is not authorized.
        405:
          description: Invalid input
        500:
          description: Internal error
  /sweepservice/adhoc/accpairsweepquery:
    get:
      tags:
      - adhocsweep
      summary: Get all valid acc pair for authorize.
      description: Get all valid acc pair.
      operationId: adhocAccPairAuthQuery
      parameters:
      - name: offset
        in: query
        description: offset is starting no of records to be fetched
        required: false
        type: integer
      - name: limit
        in: query
        description: limit is maximum no of records to be fetched
        required: false
        type: integer
      - name: userId
        in: header
        description: Logged In User Id
        required: false
        type: string 
      - name: structureId
        in: query
        description: structureId need to be set to fetch structures for particular customer
        required: false
        type: string
      - name: structureDescription
        in: query
        description: structure description need to be set to fetch structures for particular customer
        required: false
        type: string  
      # - name: executionType
      #   in: query
      #   description: executionType need to be set to fetch structures based on executionType
      #   required: false
      #   type: string        
      # - name: authStat
      #   in: query
      #   description: authStat need to be set to fetch structures based on authStat
      #   required: false
      #   type: string
      # - name: recordStat
      #   in: query
      #   description: recordStat need to be set to fetch structures based on recordStat
      #   required: false
      #   type: string        
      responses:
        201:
          description: Returns message of succes or failure
          headers:
            Location:
              description: ''
              type: string
          schema:
            $ref: '#/definitions/LmsTbAdhocStrSweepCollection'
        400:
          description: Malformed syntax.
        401:
          description: Request does not have sufficient credentials.
        403:
          description: Request is not authorized.
        405:
          description: Invalid input
        500:
          description: Internal error          
  /sweepservice/adhoc/{id}/reject:
   patch:
    tags:
     - "adhocsweep"
    summary: "Reject the structure by given ID."
    description:  "Reject the structure identified by given ID."
    operationId: "rejectRecord"
    parameters:
     - name: "id"
       in: "path"
       description: "Key of the structure maintenance"
       required: true
       type: "string"
     - name: "rejectDTO"
       in: "body"
       description: Request body contain structure and Modification no of structure maintenance  which need to be closed
       required: true
       schema:
        $ref: "#/definitions/KeyDto"
    responses:
     200:
      description: "Successful operation."
      schema:
       $ref: "#/definitions/ResponseDtoWrapper"
     400:
      description: "Malformed syntax."
     401:
      description: "Request does not have sufficient credentials."
     403:
      description: "Request is not authorized."
     500:
      description: "Internal error"
  /sweepservice/adhoc/{id}/approve:
    patch:
      tags:
      - adhocsweep
      summary: Authorize the structure by given ID.
      description: Authorize the structure identified by given ID.
      operationId: authorizeRecord
      parameters:
      - name: id
        in: path
        description: Key of the structure
        required: true
        type: string
      - name: sweepStatus
        in: query
        description: sweep execution status
        required: false
        type: string
      - name: authDTO
        in: body
        description: Request body contain structure and Modification no of structure which need to be deleted
        required: true
        schema:
          $ref: '#/definitions/KeyDto'
      responses:
        200:
          description: Successful operation.
          schema:
            $ref: '#/definitions/ResponseDtoWrapper'
        400:
          description: Malformed syntax.
        401:
          description: Request does not have sufficient credentials.
        403:
          description: Request is not authorized.
        500:
          description: Internal error
  /sweepservice/adhoc/strsweepview:
    get:
      tags:
      - adhocsweep
      summary: Get all valid structure for authorize.
      description: Get all valid structure.
      operationId: adhocStrSweepView
      parameters:
      - name: branchDate
        in: header
        description: Branch date
        required: false
        type: string
      - name: offset
        in: query
        description: offset is starting no of records to be fetched
        required: false
        type: integer
      - name: limit
        in: query
        description: limit is maximum no of records to be fetched
        required: false
        type: integer
      - name: structureId
        in: query
        description: structureId need to be set to fetch structures for particular customer
        required: false
        type: string
      - name: structureDescription
        in: query
        description: structure description need to be set to fetch structures for particular customer
        required: false
        type: string
      - name: recordStat
        in: query
        description: recordStat need to be set to fetch structures based on recordStat
        required: false
        type: string
      - name: fromDate
        in: query
        required: false
        type: string
      - name: toDate
        in: query
        required: false
        type: string
      - name: authStat
        in: query
        description: authStat need to be set to fetch structures based on authStat
        required: false
        type: string
      responses:
        201:
          description: Returns message of succes or failure
          headers:
            Location:
              description: ''
              type: string
          schema:
            $ref: '#/definitions/LmsTbAdhocStrSweepCollection'
        400:
          description: Malformed syntax.
        401:
          description: Request does not have sufficient credentials.
        403:
          description: Request is not authorized.
        405:
          description: Invalid input
        500:
          description: Internal error
  /sweepservice/adhoc/{id}:
    get:
      tags:
      - adhocsweep
      summary: Retrieves the structure by ID.
      description: Retrieves the structure by ID.
      operationId: getById
      parameters:
      - name: id
        in: path
        description: Id of the structure that needs to be fetched
        required: true
        type: string
      - name: version
        in: query
        description: version of the structure that needs to be fetched
        required: false
        type: string
      responses:
        200:
          description: Returns the structure based on given id.
          schema:
            $ref: '#/definitions/LmsTbAdhocStrSweepDTO'
        400:
          description: Malformed syntax.
        401:
          description: Request does not have sufficient credentials.
        403:
          description: Request is not authorized.
        500:
          description: Internal error
  /sweepservice/adhoc/eodcheck:
    get:
      tags:
      - adhocsweep
      summary: Retrieves all unauthorized structures.
      description: Retrieves all unauthorized structures.
      operationId: getAll
      parameters:
      - name: headerBranchCode
        in: query
        description: headerBranchCode need to be set to fetch structures for particular Branch code
        required: false
        type: string
      - name: offset
        in: query
        description: offset is starting no of records to be fetched
        required: false
        type: integer
      - name: limit
        in: query
        description: limit is maximum no of records to be fetched
        required: false
        type: integer
      responses:
        200:
          description: Retrieves all unauthorized structures.
          schema:
            $ref: '#/definitions/LmsTbAdhocStrSweepCollection'
        400:
          description: Malformed syntax.
        401:
          description: Request does not have sufficient credentials.
        403:
          description: Request is not authorized.
        500:
          description: Internal error
  /sweepservice/adhoc/accpairsweepview:
    get:
      tags:
      - adhocsweep
      summary: Get all valid structure for authorize.
      description: Get all valid structure.
      operationId: adhocAccPairSweepView
      parameters:
      - name: branchDate
        in: header
        description: Branch date
        required: false
        type: string
      - name: offset
        in: query
        description: offset is starting no of records to be fetched
        required: false
        type: integer
      - name: limit
        in: query
        description: limit is maximum no of records to be fetched
        required: false
        type: integer
      - name: structureId
        in: query
        description: structureId need to be set to fetch structures for particular customer
        required: false
        type: string
      - name: structureDescription
        in: query
        description: structure description need to be set to fetch structures for particular customer
        required: false
        type: string
      - name: status
        in: query
        description: recordStat need to be set to fetch structures based on recordStat
        required: false
        type: string
      - name: fromDate
        in: query
        required: false
        type: string
      - name: toDate
        in: query
        required: false
        type: string
      - name: authStat
        in: query
        description: authStat need to be set to fetch structures based on authStat
        required: false
        type: string
      responses:
        201:
          description: Returns message of succes or failure
          headers:
            Location:
              description: ''
              type: string
          schema:
            $ref: '#/definitions/LmsTbAdhocStrSweepCollection'
        400:
          description: Malformed syntax.
        401:
          description: Request does not have sufficient credentials.
        403:
          description: Request is not authorized.
        405:
          description: Invalid input
        500:
          description: Internal error          
definitions:
  LmsSweepStructuresDTO:
    type: object
    allOf:
    - type: object
      properties:
        customerId:
          type: string
          description: ''
        mode:
          type: string
          description: ''
        overRidePending:
          type: string
          description: ''
        branchCode:
          type: string
          description: ''
        jobschedulerId:
          type: string
          description: ''
        allowMBCCAccPair:
          type: string
          description: ''
        simulate:
          type: string
          description: ''
        simulateFromDt:
          type: string
          format: date
          description: ''
        simulateToDt:
          type: string
          format: date
          description: ''    
        simulateExecDt:
          type: string
          format: date
          description: ''                           
        adhocId:
          type: string
          description: ''
        remarks:
          type: string
          description: ''  
        allStructure:
          type: string
          description: ''
        checkAccPairSweep:
          type: string
          description: ''
        structureList:
          type: array
          items:
            $ref: '#/definitions/StructureListDTO'  
        branchMap:
         $ref: "#/definitions/BranchMap" 
  ResponseDto:
    type: object
    properties:
      id:
        type: string
      status:
        type: string
      codes:
        type: array
        items:
          $ref: '#/definitions/ResponseCode'
      requestId:
        type: string
  ResponseCode:
    type: object
    properties:
      Code:
        type: string
      Desc:
        type: string
      Type:
        type: string
      Language:
        type: string
      args:
        type: array
        items:
          type: object
      arg:
        type: string
  GenericDto:
    allOf:
    - type: object
      discriminator: resource_type
  ResponseDtoWrapper:
    type: object
    properties:
      messages:
        $ref: '#/definitions/ResponseDto'
      data:
        $ref: '#/definitions/ResponseResourceSupport'
  ResponseResourceSupport:
    type: object
  KeyDto:
    type: object
    properties:
      modNo:
        type: integer
      remarks:
        type: string
  LmbTvBatchDataDTO:
    type: object
    properties:
      id:
        type: string
      seqNo:
        type: integer
      structureId:
        type: string
      accountNo:
        type: string
      branchCode:
        type: string
      currencyCode:
        type: string
      parentAccountNumber:
        type: string
      parentAccountBranch:
        type: string
      parentAccountCurrency:
        type: string
      isHold:
        type: string  
      isTwoWay:
        type: string                                    
  LmbTvBatchDataCollection: 
    description: "Collection of account."
    type: "object"
    properties:
      data:
        type: "array"
        items: 
          $ref: "#/definitions/LmbTvBatchDataDTO"
  StructureListDTO:
    type: object
    properties:
      structureId:
        type: string
      versionNo:
        type: integer
      lastSuccessfulSweepDate:
        type: string
        format: date
        description: ''
      accountList:
          type: array
          items:
            $ref: '#/definitions/LmsSweepAccountDTO'   
  BranchMap:
    additionalProperties:
      $ref: "#/definitions/LmmTmBranchParametersDTO"
       
  LmsSweepAccountDTO:
    type: object
    properties:
      id:
        type: string
        description: ''
      structureMasterId:
        type: string
        description: ''
      accountNumber:
        type: string
        description: ''
      branchCode:
        type: string
        description: ''
      batchDataId:
        type: string
        description: ''
      accountCurrency:
        type: string
        description: ''         
      instructionId:
        type: string
        description: ''
      frequencyId:
        type: string
        description: ''
      lastSuccessfulSweepDate:
        type: string
        format: date
        description: ''
      fromDate:
        description: "starting Date"
        type: string
      toDate:
        description: "ending Date"
        type: string
      extTransactionNo:
        description: "Sweep Log ID"
        type: string
  CmcCurrencyUtilityDtoWrapper:
    description: "CmcCurrency Utility Dto Wrapper"
    type: "object"
    properties:
      messages:
        $ref: "#/definitions/ResponseDto"
      data:
        $ref: "#/definitions/CurrencyUtilityDto"
  CurrencyUtilityDto:
   type: object
   properties:
     amount:
      type: number
      minLength: 0
      maxLength: 50
     rate:
      type: number
      minLength: 0
      maxLength: 3
  
  LmxTmInterfaceMasterCollection:
   description: "Collection of interface."
   type: "object"
   properties:
    data:
     type: "array"
     items:
      $ref: "#/definitions/LmxTmInterfaceMasterDTO"      

  LmxTmInterfaceMasterDTO:
   type: object
   allOf:
   - $ref: '#/definitions/GenericDto'
   - type: object
     properties:
      externalSystemDetailsId:
       type: string
       description: ""
      externalSystemId:
       type: string
       description: ""
      serviceName:
       type: string
       description: ""
  SweepSummaryDTO:
   type: object
   properties:
    SweepSummaryReportheaderDTO:
     $ref: "#/definitions/SweepSummaryReportHeaderDTO"
    SweepSummaryReportbodyDTO:
     type: "array"
     items: 
      $ref: "#/definitions/SweepSummaryReportBodyDTO"
  SweepSummaryReportHeaderDTO:
   type: object
   properties:
    toDate:
     description: "ending Date"
     type: string
     format: date
    fromDate:
     description: "starting Date"
     type: string
     format: date
    structureID:
     type: string
    CustomerID:
     type: string      
  SweepSummaryReportBodyDTO:
   type: object
   properties:
    LogID:
     type: string
    customerid:
     type: string
    customerName:
     type: string
    structureid:
     type: string
    structureDesc:
     type: string 
    childAccNo:
     type: string
    childAccDesc:
     type: string
    childBranchCode:
     type: string
    childBranchName:
     type: string
    childCurrencyCode:
     type: string
    childExtAccount:
     type: string
    childExtBranch:
     type: string
    parentAccNo:
     type: string
    parentAccDesc:
     type: string 
    parentBrCode:
     type: string
    parentBrName:
     type: string
    parentCurrCode:
     type: string
    parentExtAcc:
     type: string
    parentExtBr:
     type: string
    prodDesc:
     type: string
    sweepAmt:
     type: integer
    sweepDirec:
     type: string
    valueDt:
     type: string
     format: date
    statusMsg:
     type: string
    sweepMode:
     type: string
    logTime:
     type: string
    balTime:
     type: string
    revFreqCheck:
     type: string
    fxRate:
     type: integer
    isBVT:
     type: string
    bvtID:
     type: string
    custExtRef:
     type: string
    status:
     type: string
    user:
     type: string
  SweepSummaryDTOCollection: 
   description: "Collection of entries."
   type: "object"
   properties:
    data:
     type: array
     items:
        $ref: "#/definitions/SweepSummaryDTO"
  ReportContributionDTO:
   type: object
   properties:
    LmrTbContributionDTO:
     type: "array"
     items:    
      $ref: "#/definitions/LmrTbContributionDTO"   
  LmrTbContributionDTO:
    type: object
    allOf:
    - $ref: '#/definitions/GenericDto'
    - type: object
      properties:
        executionId:
          type: string
          description: ''
        structureId:
          type: string
          description: ''
        toAccountNumber:
          type: string
          description: ''
        toAccountBranch:
          type: string
          description: ''
        toAccountCurrency:
          type: string
          description: ''
        fromAccountNumber:
          type: string
          description: ''
        fromAccountBranch:
          type: string
          description: ''
        fromAccountCurrency:
          type: string
          description: ''
        contributionAmount:
          type: number
          description: ''
        fromCurrencyAmount:
          type: number
          description: ''
        valueDate:
          type: string
          format: date
          description: ''
        fxrate:
          type: number
          description: ''
        status:
          type: string
          description: ''
        modNumber:
          type: string
          description: ''      
  LmdTbTopCrossborderSweepsDTO:
    description: "CrossborderSweeps DTO"
    type: "object"
    allOf:
    - $ref: '#/definitions/GenericDto'
    - type: object
      properties:
        fromAccountNumber:
          description: "fromAccountNumber"
          type: string
        fromCountryCode:
          description: "fromCountryCode"
          type: string
        fromCurrencyCode:
          description: "fromCurrencyCode"
          type: string
        structureId:
          description: "structureId"
          type: string
        toAccountNumber:
          description: "toAccountNumber"
          type: string
        toCountryCode:
          description: "toCountryCode"
          type: string
        toCurrencyCode:
          description: "toCurrencyCode"
          type: string
        fromAmount:
          description: "fromAmount"
          type: number
        toAmount:
          description: "toAmount"
          type: number
        lcyAmount:
          description: "lcyAmount"
          type: number
        customerId:
          description: "customerId"
          type: string
        customerName:
          description: "customerName"
          type: string
        userId:
          description: "userId"
          type: string
        valueDate:
          description: "value Date"
          type: string
          format: date
  LmdTbTopCrossborderSweepsCollection:
    description: Collection of CrossborderSweeps
    type: object
    properties:
      data:
        type: array
        items:
          $ref: '#/definitions/LmdTbTopCrossborderSweepsDTO'
  CmcTmLocalHolidayMasterDto:
    type: object
    allOf:
    - $ref: '#/definitions/GenericDto'
    - type: object
      properties:
       branchCode:
        type: string
        minLength: 0
        maxLength: 3
       year:
        type: number
        minLength: 0
        maxLength: 4
       weeklyHolidays:
        type: string
        minLength: 0
        maxLength: 7
       unexpHol:
        type: string
        minLength: 0
        maxLength: 1
       CmcTmLocalHolidayDto:
        type: array
        items:
         $ref: '#/definitions/CmcTmLocalHolidayDto'
  CmcTmLocalHolidayDto:
    type: object
    properties:
     id:
      type: string
     branchCode:
      type: string
      minLength: 0
      maxLength: 3
     year:
      type: number
      minLength: 0
      maxLength: 4
     month:
      type: number
      minLength: 0
      maxLength: 2
     holidayList:
      type: string
      minLength: 0
      maxLength: 31
     localHolidayMasterId:
      type: string            
  CmcTmLocalHolidayMasterCollection: 
   description: "Collection of localholiday."
   type: "object"
   properties:
    data:
     type: "array"
     items: 
      $ref: "#/definitions/CmcTmLocalHolidayMasterDto"
  CmcTmSystemDatesCollection:
    description: "Collection of systemdates."
    type: "object"
    properties:
      data:
        type: "array"
        items:
          $ref: "#/definitions/CmcTmSystemDatesDto"
      paging:
        $ref: "#/definitions/PagingDto"
  CmcTmSystemDatesDto:
    type: object
    allOf:
      - $ref: '#/definitions/GenericDto'
      - type: object
        properties:
          branchCode:
            type: string
            minLength: 0
            maxLength: 3
          today:
            type: string
          prevWorkingDay:
            type: string
          nextWorkingDay:
            type: string
          modNo:
            type: integer
        required:
          - branchCode
  CoreAccountDTO:
    type: object
    allOf:
      - $ref: '#/definitions/GenericDto'
      - type: object
        properties:
          address4:
            type: string
            description: "Fourth line of the customer?s address"
            minLength: 0
            maxLength: 105
          address3:
            type: string
            description: "Third line of the customer?s address"
            minLength: 0
            maxLength: 105
          address2:
            type: string
            description: "Second line of the customer?s address"
            minLength: 0
            maxLength: 105
          address1:
            type: string
            description: "First line of the customer?s address"
            minLength: 0
            maxLength: 105
          customerNo:
            type: string
            description: "Customer  Number"
            minLength: 0
            maxLength: 105
  CoreAccountCollection: 
   description: "Collection of coreaccount."
   type: "object"
   properties:
    data:
     type: "array"
     items: 
      $ref: "#/definitions/CoreAccountDTO"
    paging:
     $ref: "#/definitions/PagingDto"
  PagingDto:
   type: object
   properties:
    totalResults:
     type: integer
  CmcTmCurrencyHolidayMasterCollection: 
   description: "Collection of localholiday."
   type: "object"
   properties:
    data:
     type: "array"
     items: 
      $ref: "#/definitions/CmcTmCurrencyHolidayMasterDto"
    paging:
     $ref: "#/definitions/PagingDto"         
  CmcTmCurrencyHolidayMasterDto:
    type: object
    allOf:
    - $ref: '#/definitions/GenericDto'
    - type: object
      properties:
       currency:
        type: string
        minLength: 0
        maxLength: 3
       year:
        type: number
        minLength: 0
        maxLength: 4
       weeklyHolidays:
        type: string
        minLength: 0
        maxLength: 7
       CmcTmCurrencyHolidayDto:
        type: array
        items:
         $ref: '#/definitions/CmcTmCurrencyHolidayDto'
  CmcTmCurrencyHolidayDto:
    type: object
    properties:
      currency:
       type: string
       minLength: 0
       maxLength: 3
      year:
       type: number
       minLength: 0
       maxLength: 4
      month:
       type: number
       minLength: 0
       maxLength: 2
      holidayList:
       type: string
       minLength: 0
       maxLength: 31
      id:
       type: string
      currencyHolidayMasterId:
       type: string     
  LmsTbAdhocStrSweepDTO:
    type: object
    allOf:
    - $ref: '#/definitions/GenericDto'    
    - type: object
      properties:
        structureId:
          type: string
          description: ''
        structureDescription:
          type: string
          description: ''
        structureMasterId:
          type: string
          description: ''
        versionNo:
          type: integer
          description: ''
        effectiveDate:
          type: string
          description: ''
        overRidePendingSweep:
          type: string
          description: ''
        includeExternalAccount:
          type: string
          description: ''          
        customerId:
          type: string
          description: ''
        customerName:
          type: string
          description: ''
        executionType:
          type: string
          description: ''
        status:
          type: string
          description: ''
        sweepStatus:
          type: string
          description: ''
        sweepId:
          type: string
          description: ''
        headerBranchCode:
          type: string
          description: ''
        LmsTbAdhocAccpairSweepDTO:
          type: array
          items:
            $ref: '#/definitions/LmsTbAdhocAccpairSweepDTO'          
  LmsTbAdhocAccpairSweepDTO:
    type: object
    properties:
      id:
        type: string
        description: ''
      adhocSweepStrMasterId:
        type: string
        description: ''        
      accountNumber:
        type: string
        description: ''
      instructionId:
        type: string
        description: ''
      instructionPriority:
        type: string
        description: ''        
      branchCode:
        type: string
        description: ''
      currencyCode:
        type: string
        description: ''
      parentAccountNumber:
        type: string
        description: ''
      parentAccountBranch:
        type: string
        description: ''
      parentAccountCurrency:
        type: string
        description: ''
  LmsTbAdhocStrSweepCollection:
    description: Collection of structures.
    type: object
    properties:
      data:
        type: array
        items:
          $ref: '#/definitions/LmsTbAdhocStrSweepDTO'
      paging:
        $ref: '#/definitions/PagingDto'
  LmsTbAdhocStrSweepWrapperDTO:
    type: object
    properties:
      data:
        $ref: '#/definitions/LmsTbAdhocStrSweepDTO'
  SweepErrorDTO:
    description: "DTO containing sweep failure error code and message"
    type: "object"
    properties:
      errorCode:
        type: string
        description: "Error Code"
      errorMessage:
        type: string
        description: "Error Message"        
#  IclLimitDTO:
#    type: object
#    properties:
#      lenderCustomerId:
#        type: string
#        description: 'Lender customer ID'
#      lenderCcy:
#        type: string
#        description: 'Lender currency'
#      borrowerCustomerId:
#        type: string
#        description: 'Borrower customer ID'
#      borrowerCcy:
#        type: string
#        description: 'Borrower currency'
#      lendAmount:
#        type: number
#        description: 'Lend amount'
#      lendCcy:
#        type: string
#        description: 'Lend currency'
  IclLimitResponseDTO:
    type: object
    properties:
      isLimitAvailable:
        type: string
        description: 'Is limit available'
      message:
        type: string
        description: 'Error message'
  LmmTbEventsWrapperDTO:
    type: object
    allOf:
    - $ref: '#/definitions/GenericDto'
    - type: object
      properties:
        evtCode:
          type: string
          description: ""
        evtCategory:
          type: string
          description: ""
        evtDesc:
          type: string
          description: ""
        evtTopic:
          type: string
          description: ""
        evtIsEnabled:
          type: string
          description: ""
      required:
      - id
      - evtCode    
  LmxTbEventLogDTO:
    type: object
    allOf:
    - $ref: '#/definitions/GenericDto'
    - type: object
      properties:
        evtCode:
          type: string
          description: ""
        evtKey:
          type: string
          description: ""
        evtTopic:
          type: string
          description: ""
        logType:
          type: string
          description: ""
        logDescription:
          type: string
          description: ""
        logTime:
          type: string
          description: ""
        serviceData:
          type: string
          description: ""
        publishedTime:
          type: string
          description: ""
        isPublished:
          type: string
          description: ""
        retryCount:
          type: integer
          description: ""
  CmcTmCurrencyDefinitionDto:
   type: object
   allOf:
   - $ref: '#/definitions/GenericDto'
   - type: object
     properties:
      currencyCode:
       type: string
       description: "currencyCode"
       minLength: 0
       maxLength: 3
       pattern: ^[A-Z]*$
      currencyName:
       type: string
       description: "currencyName"
       minLength: 0
       maxLength: 105
       pattern: ^[A-Za-z ]*$
      country:
       type: string
       description: "country"
       minLength: 0
       maxLength: 3
       pattern: ^[A-Z]*$
      currencyDecimals:
       type: number
       description: "currencyDecimals"
       minLength: 0
       maxLength: 1
      currencyRoundRule:
       type: string
       description: "Currency Round Rule"
       minLength: 0
       maxLength: 1
       pattern: "^(?:T|U|D|R)$"
      currencyRoundUnit:
       type: number
       description: "Currency Round Unit"
      currencyFormatMask:
       type: string
       description: "currencyFormatMask"
       minLength: 0
       maxLength: 1
       pattern: "^(?:I|N)$"
      currencySpotDays:
       type: number
       description: "currencySpotDays"
       minLength: 0
       maxLength: 3
      currencyIntMethod:
       type: number
       description: "Currency Interest Method"
       minLength: 0
       maxLength: 1
       pattern: "^(?:0|1|2|3|4|5|6|7|8|9)$"
      positionGl:
       type: string
       description: "positionGl"
       minLength: 0
       maxLength: 9
      positionEqvgl:
       type: string
       description: "Position Equivalent GL"
       minLength: 0
       maxLength: 9
      currencyEurType:
       type: string
       description: "Currency Euro type"
       minLength: 0
       maxLength: 1
       pattern: "^(?:E|I|O|C)$"
      currencyTolLimit:
       type: number
       description: "Currency Total Limits"
      settlementMsgDays:
       type: number
       description: "Settlement Days"
       minLength: 0
       maxLength: 3
      indexFlag:
       type: string
       description: "Index Flag"
       minLength: 0
       maxLength: 1
       pattern: "^(?:Y|N)$"
      indexBaseCurrency:
       type: string
       description: "Index Base Currency"
       minLength: 0
       maxLength: 3
      cutOffHr:
       type: number
       description: "Cut off Hours"
       minLength: 0
       maxLength: 2
      cutOffMin:
       type: number
       description: "Cut off Minutes"
       minLength: 0
       maxLength: 2
      altCurrencyCode:
       type: string
       description: "altCurrencyCode"
       minLength: 0
       maxLength: 10
       pattern: ^[A-Z0-9]*$
      eurConversionReqd:
       type: string
       description: "Euro Conversion Required"
       minLength: 0
       maxLength: 1
       pattern: "^(?:Y|N)$"
      cutOffDays:
       type: number
       description: "cutOffDays"
       minLength: 0
       maxLength: 2
      crAutoExRateLmt:
       type: number
       description: "Credit Auto Exchange Rate Limit"
       minLength: 0
       maxLength: 3
      drAutoExRateLmt:
       type: number
       description: "Debit Auto Exchange Rate Limit"
      currencyType:
       type: string
       description: "currencyType"
       minLength: 0
       maxLength: 3
      gen103p:
       type: string
       description: "Generate 103+"
       minLength: 0
       maxLength: 1
       pattern: "^(?:Y|N)$"
      clsCurrency:
       type: string
       description: "CLS Currency"
       minLength: 0
       maxLength: 1
       pattern: "^(?:Y|N)$"
      fxNettingDays:
       type: number
       description: "Foreign Exchange Netting Days"
       minLength: 0
       maxLength: 3
      isoNumCurrencyCode:
       type: string
       description: "isoNumCurrencyCode"
       minLength: 0
       maxLength: 3
       pattern: ^[0-9]*$
      genCustCov:
       type: string
       description: "genCustCov"
       minLength: 0
       maxLength: 1
       pattern: "^(?:Y|N)$"
      validate50f:
       type: string
       description: "validate50f"
       minLength: 0
       maxLength: 1
       pattern: "^(?:Y|N)$"
      maintenanceCountry:
       type: string
       description: "maintenanceCountry"
       minLength: 0
       maxLength: 3
      commodityCode:
       type: string
       description: "commodityCode"
       minLength: 0
       maxLength: 1
       pattern: "^(?:Y|N)$"
      CmcTmCurrencyCountryMapDto:
       type: array
       items:
        $ref: '#/definitions/CmcTmCurrencyCountryMapDto'
     required:
     - currencyCode
     - maintenanceCountry
  CmcTmCurrencyDefinitionCollection: 
   description: "Collection of currencydefinition."
   type: "object"
   properties:
    data:
     type: "array"
     items: 
      $ref: "#/definitions/CmcTmCurrencyDefinitionDto"
    paging:
     $ref: "#/definitions/PagingDto"
  CmcTmCurrencyCountryMapDto:
   type: object
   properties:
      maintenanceCountry:
       type: string
       description: "maintenanceCountry"
       minLength: 0
       maxLength: 3
      id:
       type: string
       description: "id"
      countryCode:
       type: string
       description: "countryCode"
       minLength: 0
       maxLength: 3
      countryDesc:
       type: string
       description: "countryDesc"
       minLength: 0
       maxLength: 105
      currencyCode:
       type: string
       description: "currencyCode"
       minLength: 0
       maxLength: 3
      currencyDefinitionId:
       type: string
       description: "currencyDefinitionId"
   required:
    - countryCode
  IcProductDetailsListResponseDTO:
    description: "Collection of account."
    type: "object"
    properties:
      data:
        type: "object"
        $ref: "#/definitions/IcProductDetailsListDTO"
      errors:
        type: string
        description: ""
  IcProductDetailsListDTO:
    type: "object"
    properties:
      extAccGrp:
        type: string
        description: ""
      extAccGrpType:
        type: string
        description: ""
      aclass:
        type: string
        description: ""
      prodList:
        type: array
        items:
          $ref: '#/definitions/IcProductDetailsDTO'
  IcProductDetailsDTO:
    type: "object"
    properties:
      productCode:
        type: string
        description: ""
      productDescription:
        type: string
        description: ""
      rule:
        type: string
        description: ""
      prodUdeList:
        type: array
        items:
          $ref: '#/definitions/IcProductUdeDTO'
  IcProductUdeDTO:
    type: object
    properties:
      udeId:
        type: string
        description: ""
      udeDesc:
        type: string
        description: ""
      udeType:
        type: string
        description: ""
  AccCalcInterestOnlineRequestDTO:
    type: object
    allOf:
    - type: object
      properties:
        branchCode:
          type: string
          description: ""
        accountNumber:
          type: string
          description: ""
        productCode:
          type: string
          description: ""
        fromDate:
          type: string
          description: ""
        toDate:
          type: string
          description: ""
        aclass:
          type: string
          description: ""
        ccy:
          type: string
          description: ""
        custNo:
          type: string
          description: ""
  AccCalcInterestOnlineResponseDTO:
    type: object
    allOf:
    - type: object
      properties:
        intCalc:
          type: object
          $ref: '#/definitions/InterestCalculationDTO'
        intCalcDetails:
          type: array
          items:
            $ref: '#/definitions/InterestCalcDetailsDTO'
        warnings:
          type: array
          items:
            $ref: '#/definitions/IcWarningsDTO'
        errors:
          type: string
          description: ""
  InterestCalcDetailsDTO:
    type: object
    properties:
      formulaNumber:
        type: string
        description: ""
      tax:
        type: string
        description: ""
      debitOrCredit:
        type: string
        description: ""
      amount:
        type: string
        description: ""
  InterestCalculationDTO:
    type: object
    properties:
      calcIctbAccPrModel:
        type: object
        $ref: '#/definitions/CalcIctbAccPrModelDTO'
      calcIctmAccModel:
        type: object
        $ref: '#/definitions/CalcIctmAccModelDTO'
      branchCode:
        type: string
        description: ""
      accountNumber:
        type: string
        description: ""
      productCode:
        type: string
        description: ""
      fromDate:
        type: string
        description: ""
      toDate:
        type: string
        description: ""
  CalcIctmAccModelDTO:
    type: object
    properties:
      brn:
        type: string
        description: ""
      acc:
        type: string
        description: ""
      intStartDate:
        type: string
        description: ""
      accType:
        type: string
        description: ""
      autoRollover:
        type: string
        description: ""
      maturityDate:
        type: string
        description: ""
      bookCcy:
        type: string
        description: ""
      processNo:
        type: number
        description: ""
      accountClass:
        type: string
        description: ""
      custNo:
        type: string
        description: ""
      ccy:
        type: string
        description: ""
      acOpenDate:
        type: string
        description: ""
  CalcIctbAccPrModelDTO:
    type: object
    properties:
      id:
        type: string
        description: ""
      acc:
        type: string
        description: ""
      accountType:
        type: string
        description: ""
      aclass:
        type: string
        description: ""
      acClassType:
        type: string
        description: ""
      billingProd:
        type: string
        description: ""
      billAccType:
        type: string
        description: ""
      billProductCode:
        type: string
        description: ""
      bkvalMincalcDate:
        type: string
        description: ""
      bkvalRecalcFlag:
        type: string
        description: ""
      brn:
        type: string
        description: ""
      ccy:
        type: string
        description: ""
      deferLiqDt:
        type: string
        description: ""
      deposit:
        type: string
        description: ""
      firstCalcDt:
        type: string
        description: ""
      firstFirstCalcDate:
        type: string
        description: ""
      gcMapDt:
        type: string
        description: ""
      hasAccr:
        type: string
        description: ""
      hasProblems:
        type: string
        description: ""
      imatProblems:
        type: string
        description: ""
      incMth:
        type: string
        description: ""
      lastAccrDt:
        type: string
        description: ""
      lastCalcDt:
        type: string
        description: ""
      lastInvGenDate:
        type: string
        description: ""
      lastLiqDt:
        type: string
        description: ""
      lastSchdLiqDt:
        type: string
        description: ""
      nextAccrDt:
        type: string
        description: ""
      nextCalcDt:
        type: string
        description: ""
      nextEventDt:
        type: string
        description: ""
      nextInvGenDate:
        type: string
        description: ""
      nextLiqDt:
        type: string
        description: ""
      nextSchdAccrDt:
        type: string
        description: ""
      nextSchdLiqDt:
        type: string
        description: ""
      process:
        type: number
        description: ""
      prod:
        type: string
        description: ""
      prodAccr:
        type: string
        description: ""
      prodType:
        type: string
        description: ""
      recalcAccrOnLiqn:
        type: string
        description: ""
      scMapDt:
        type: string
        description: ""
      stopIc:
        type: string
        description: ""
      sublevel:
        type: string
        description: ""
      systemAccount:
        type: string
        description: ""
      sysAcLevel:
        type: string
        description: ""
      taxProduct:
        type: string
        description: ""
      multiCycle:
        type: string
        description: ""
  IcWarningsDTO:
    type: object
    properties:
      warningCode:
        type: string
        description: ""
      warningDesc:
        type: string
        description: ""
  LmrSimulationSweepReportDTO:
    type: object
    properties:
      benefitReportHeader:
        type: object
        $ref: '#/definitions/BenefitReportHeaderDTO'
      benefitReportBody:
            type: array
            items:
              $ref: '#/definitions/BenefitReportBodyDTO'
      sweepLogReportHeader:
        type: object
        $ref: '#/definitions/SweepLogReportHeaderDTO'
      sweepLogReportBody:
            type: array
            items:
              $ref: '#/definitions/SweepLogReportBodyDTO'      
      benefitSummary:
        type: object
        $ref: '#/definitions/BenefitSummaryDTO'       
        
  BenefitReportHeaderDTO:
    type: object
    properties:
      structureId:
        type: string
        description: ""
      structureDesc:
        type: string
        description: ""
      structureType:
        type: string
        description: ""
      simulationId:
        type: string
        description: ""
      fromDt:
        type: string
        description: ""
      toDt:
        type: string
        description: ""
      headerAccount:
        type: string
        description: ""
      headerCcy:
        type: string
        description: ""
      generatedOn:
        type: string
        description: ""
      generatedBy:
        type: string
        description: ""
  BenefitReportBodyDTO:
    type: object
    properties:
      accountNo:
        type: string
        description: ""
      accountDesc:
        type: string
        description: ""
      ccy:
        type: string
        description: ""
      headerCcy:
        type: string
        description: ""
      branch:
        type: string
        description: ""
      branchDesc:
        type: string
        description: ""
      preSweepIntAccCcy:
        type: number
        description: ""
      preSweepIntHeaderCcy:
        type: number
        description: ""
      postSweepIntAccCcy:
        type: number
        description: ""
      postSweepIntHeaderCcy:
        type: number
        description: ""   
  SweepLogReportHeaderDTO:
    properties:
     simulationId:
       type: string
       description: ""
     simulationDesc:
       type: string
       description: ""  
     customerId:
       type: string
       description: ""  
     customerName:
       type: string
       description: ""              
     fromDate:
       type: string
       description: "" 
     toDate:
       type: string
       description: ""       
  SweepLogReportBodyDTO:
    type: object
    properties:
      logId:
        type: string
        description: ""
      prodDesc:
        type: string
        description: ""
      valueDt:
        type: string
        description: ""
      fromAccountNo:
        type: string
        description: ""
      fromBranch:
        type: string
        description: ""
      fromCcy:
        type: string
        description: ""
      fromAccountBal:
        type: number
        description: ""
      fromAcPostSweepAcBal:
        type: number
        description: ""
      toAccountNo:
        type: string
        description: ""
      toBranch:
        type: string
        description: ""      
      toCcy:
        type: string
        description: "" 
      toAccountBal:
        type: number
        description: "" 
      toAcPostSweepAcBal:
        type: number
        description: "" 
      sweepDirection:
        type: string
        description: ""         
  BenefitSummaryDTO:
    type: object
    properties:
      totalPostSweepIntHdrCcy:
        type: number
        description: ""
      totalPreSweepIntHdrCcy:
        type: number
        description: ""   
      simulationBenefit:
        type: number
        description: ""                  
  LmrBenefitReportDTO:
    type: object
    properties:
      id:
        type: string
        description: ""
      reportId:
        type: string
        description: ""
      customerId:
        type: string
        description: ""
      customerName:
        type: string
        description: ""
      structureId:
        type: string
        description: ""
      structureType:
        type: string
        description: ""
      structureDesc:
        type: string
        description: ""
      simulationId:
        type: string
        description: ""
      fromDate:
        type: string
        description: ""
      toDate:
        type: string
        description: ""
      interestMethod:
        type: string
        description: ""
      reallocationMethod:
        type: string
        description: ""
      headerAccount:
        type: string
        description: ""
      headerCcy:
        type: string
        description: ""
      intBenefit:
        type: string
        description: ""
  LmrBenefitReportDetailsDTO:
    type: object
    properties:
      id:
        type: string
        description: ""
      reportId:
        type: string
        description: ""
      accountNo:
        type: string
        description: ""
      accountCcy:
        type: string
        description: ""
      branchCode:
        type: string
        description: ""
      drCrInd:
        type: string
        description: ""
      preIntInAcccy:
        type: number
        description: ""
      preIntInHdrcy:
        type: number
        description: ""
      postIntInAcccy:
        type: number
        description: ""
      postIntInHdrcy:
        type: number
        description: ""
  SweepSimulateReportDTOCollection:
    description: "Collection of report output."
    type: "object"
    properties:
      data:
        $ref: "#/definitions/ReportResponse"
      messages:
        $ref: "#/definitions/ResponseDto"
  ReportResponse:
    description: "Report Response"
    type: "object"
    properties:
      documentId:
        description: "Document Id for the document"
        type: "string"
      documentInbase64:
        description: "Document in Base64"
        type: "string"
      reportContentType:
        description: "Report Content Type for the document"
        type: "string"