#-----------------------------------------------------------------------------------------------------
#  **
#  ** File Name  : common.yaml
#  **
#  ** Module     : obtmchgmaster
#  ** 
#  ** This source is part of the Oracle FLEXCUBE  and is copyrighted by Oracle Financial Services Software Limited.  ** 
#  ** 
#  ** All rights reserved. No part of this work may be reproduced, stored in a retrieval system,
#  ** adopted or transmitted in any form or by any means, electronic, mechanical, photographic,
#  ** graphic, optic recording or otherwise, translated in any language or computer language,
#  ** without the prior written permission of Oracle Financial Services Software Limited.
#  ** 
#  ** Oracle Financial Services Software Limited.
#  ** 10-11, SDF I, SEEPZ, Andheri (East),
#  ** Mumbai - 400 096.
#  ** India
#  ** Copyright 2017-2018 Oracle Financial Services Software Limited. All rights reserved.
#  -------------------------------------------------------------------------------------------------------
#
#  CHANGE HISTORY
#
#  Created By         :  System
#
#  Bug Number         :  
#  Changed By         :  
#  Change Description :  
#  Change On          :  
#  Search String      :  
#  
#  -------------------------------------------------------------------------------------------------------
  

swagger: "2.0"
info:
 description: "This is a sample server obtmchgmaster server." 
 version: "1.0.0"
 title: "obtmchgmaster Service"
host: "api-plato.us.oracle.com:8080"
basePath: "/api/1.0"
consumes:
 - "application/json"
produces:
 - "application/json"
tags:
 - name: "obtmchgmaster"
   description: "this service is to manage crud operations in master datasegment  .........................................................................................................................................."

schemes:
- "https"

paths:

# path to create a new record and fetch all valid records or by intent
#
#  supprorted http methods POST and GET
#
# path example ../obtmchgmaster

 /obtmchgmaster:
  post:
   tags:
    - "obtmchgmaster"
   summary: "Adds a new obtmchgmaster."
   description: "Adds a new obtmchgmaster. Add additional information here for this endpoint."
   operationId: "saveRecord"
   parameters:
    - name: "obtmchgmaster" 
      in: "body" 
      description: "Request Body that contains data required for creating a new obtmchgmaster" 
      required: true
      schema:
       $ref: "#/definitions/ObTmChgMasterDTO"
   responses:
    201: 
     description: "Returns message of succes or failure " 
     headers:
      Location:
       description: "URL of newly created obtmchgmaster" 
       type: "string"
     schema:
       $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "obtmchgmaster"
   summary: "Get all valid obtmchgmaster."
   description:  "Get all valid obtmchgmaster. This endpoints will be used to Get all valid obtmchgmaster maintenance records."
   operationId: "getAll"
   parameters:
   - name: includecloseandunauth
     in: query
     description: includecloseandunauth need to be set to fetch summary record, defult value is false
     required: false
     type: boolean
   - name: offset
     in: query
     description: offset is starting no of records to be fetched
     required: false
     type: integer
   - name: limit
     in: query
     description: limit is maximum no of records to be fetched
     required: false
     type: integer
   responses:
    201:
     description: "Returns message of success or failure"
     headers: 
      Location:
       description: "Location"
       type: "string"
     schema:
       $ref: "#/definitions/ObTmChgMasterCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"

# path to modify existing record, delete existing record and fetch valid records by id or by intent( includes latestRecord, version no)
#
#  supprorted http methods PUT, DELETE and GET
#
# path examples----
#   PUT       .../obtmchgmaster/xxx
#   DELETE    .../obtmchgmaster/xxx
#   GET       .../obtmchgmaster/xxx
#   GET       .../obtmchgmaster/xxx?version=latestrecord
#   GET       .../obtmchgmaster/xxx?version=1

 /obtmchgmaster/{id}:
  put:
   tags:
    - "obtmchgmaster"
   summary: "Update an existing obtmchgmaster."
   description:  "Update an existing obtmchgmaster."
   operationId: "modifyRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "key of the obtmchgmaster Maintenance"
      required: true
      type: "string"
    - name: "obtmchgmaster"
      in: "body"
      description: "Request Body that contains data required for updating an existing obtmchgmaster"
      required: true
      schema:
       $ref: "#/definitions/ObTmChgMasterDTO"
   responses:
    200:
     description: "Returns updated obtmchgmaster"
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "obtmchgmaster"
   summary: "Retrieves the obtmchgmaster by ID."
   description:  "Retrieves the obtmchgmaster by ID."
   operationId: "getById"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
    - name: "version"
      in: "query"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the obtmchgmaster based on given id."
     schema:
      $ref: "#/definitions/ObTmChgMasterWrapperModel"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
  delete:
   tags:
    - "obtmchgmaster"
   summary: "Deletes the obtmchgmaster identified by given ID."
   description:  "Deletes the obtmchgmaster identified by given ID. Add additional information here for the this endpoint."
   operationId: "delete"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the obtmchgmaster maintenance"
      required: true
      type: "string"
    - name: "obtmchgmaster"
      in: "body"
      description: Request body contain obtmchgmaster and Modification no of obtmchgmaster maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to Authorize existing record.
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../obtmchgmaster/xxx/approve

 /obtmchgmaster/{id}/approve:
  patch:
   tags:
    - "obtmchgmaster"
   summary: "Authorize the obtmchgmaster by given ID."
   description:  "Authorize the obtmchgmaster identified by given ID."
   operationId: "authorize"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the obtmchgmaster maintenance"
      required: true
      type: "string"
    - name: "obtmchgmaster"
      in: "body"
      description: Request body contain obtmchgmaster and Modification no of obtmchgmaster maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to close existing record
#
#  supported http methods PATCH
#
# path examples----
#   PATCH       .../obtmchgmaster/xxx/close
 /obtmchgmaster/{id}/close:
  patch:
   tags:
    - "obtmchgmaster"
   summary: "Close the obtmchgmaster by given ID."
   description:  "Close the obtmchgmaster identified by given ID."
   operationId: "closeRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the obtmchgmaster maintenance"
      required: true
      type: "string"
    - name: "obtmchgmaster"
      in: "body"
      description: Request body contain obtmchgmaster and Modification no of obtmchgmaster maintenance which need to be closed"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to reopen existing record
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../obtmchgmaster/xxx/reopen

 /obtmchgmaster/{id}/reopen:
  patch:
   tags:
    - "obtmchgmaster"
   summary: "reopen the obtmchgmaster by given ID."
   description:  "reopen the obtmchgmaster identified by given ID."
   operationId: "reopenRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the obtmchgmaster maintenance"
      required: true
      type: "string"
    - name: "obtmchgmaster"
      in: "body"
      description: Request body contain obtmchgmaster and Modification no of obtmchgmaster maintenance which need to be reopen"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to get all unauthorized records
#
#  supprorted http methods GET
#
# path examples----
#   GET       .../obtmchgmaster/xxx/unauthorized

 /obtmchgmaster/{id}/unauthorized:
  get:
   tags:
    - "obtmchgmaster"
   summary: "Retrives the obtmchgmaster by given ID."
   description:  "Retrives the obtmchgmaster identified by given ID."
   operationId: "authQuery"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the obtmchgmaster based on given id."
     schema:
       $ref: "#/definitions/ObTmChgMasterCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to  history record for remitterid
#
#  supprorted http methods GETS
#
# path examples----
#   GET       .../obtmchgmaster/xxx/history

 /obtmchgmaster/{id}/history:
  get:
   tags:
    - "obtmchgmaster"
   summary: "Retrives the obtmchgmaster by given ID."
   description:  "Retrives the obtmchgmaster by ID."
   operationId: "getHistory"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the obtmchgmaster based on given id."
     schema:
       $ref: "#/definitions/ObTmChgMasterCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
 /obtmchgmaster/{id}/isValid:
  get:
   tags:
    - "obtmchgmaster"
   summary: "Validate the ObTmChgMaster by ResourceId"
   description:  "Validate the ObTmChgMaster by ResourceId"
   operationId: "validateObTmChgMaster"
   parameters:
    - name: "resourceId"
      in: "path"
      description: "resourceId of the user that needs to be validated"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the boolean based on validation of given resource id."
     schema:
       $ref: "#/definitions/boolean"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
definitions:
 ObTmChgMasterDTO:
  type: object
  allOf:
  - $ref: '#/definitions/GenericDto'
  - type: object
    properties:
     id:
      type: string
      description: "id"
     action:
      type: string
      description: "Action"
     autoAuth:
      type: string
      description: "Auto Authorization"
     modificationStatus:
      type: string
      description: "Modification Status"
     datasegmentCode:
      type: string
      description: 'Datasegment Code'
     checkerRemarks:
      type: string
      description: 'Checker remarks'
     makerRemarks:
      type: string
      description: 'Maker remarks'
     applicationCode:
      type: string
      description: "Application Code"
     chargeCategory:
      type: string
      description: "Charge Category"
     chargeCode:
      type: string
      description: "Charge Code"
     chargeCodeDesc:
      type: string
      description: "Charge Code Description"
     chargeGroup:
      type: string
      description: "Charge Group"
     chargeType:
      type: string
      description: "Charge Type"
     effectiveDate:
      type: string
      description: "Effective Date"
     expiryDate:
      type: string
      description: "Expiry Date"
 ModListKeyDto:
  type: object
  properties:
   modNos:
    type: array
    items:
     type: integer
   remarks:
    type: string
 KeyDto:
  type: object
  properties:
   modNo:
    type: integer
   remarks:
    type: string
 ResponseDto:
  type: object
  properties:
   id:
    type: string
   status:
    type: string
   codes:
    type: array
    items:
     $ref: "#/definitions/ResponseCode"
   requestId:
    type: string
 ResponseCode:
  type: object
  properties:
   Code:
    type: string
   Desc:
    type: string
   Type:
    type: string
   Language:
    type: string
   args:
    type: array
    items:
     type: object
   arg:
    type: string
 GenericDto:
  allOf:
   - type: object
     discriminator: resource_type
 ObTmChgMasterCollection: 
  description: "Collection of obtmchgmaster."
  type: "object"
  properties:
   data:
    type: "array"
    items: 
     $ref: "#/definitions/ObTmChgMasterDTO"
   paging:
    $ref: "#/definitions/PagingDto"
 PagingDto:
  type: object
  properties:
   totalResults:
    type: integer
 ResponseDtoWrapper:
  type: object
  properties:
   messages:
    $ref: "#/definitions/ResponseDto"
   data:
    $ref: "#/definitions/ResponseResourceSupport"
 ResponseResourceSupport:
  type: object
 ObTmChgMasterWrapperModel:
  type: object
  properties:
   data:
    $ref: "#/definitions/ObTmChgMasterDTO"
