#-----------------------------------------------------------------------------------------------------
#  **
#  ** File Name  : common.yaml
#  **
#  ** Module     : obscf
#  ** 
#  ** This source is part of the Oracle FLEXCUBE  and is copyrighted by Oracle Financial Services Software Limited.  ** 
#  ** 
#  ** All rights reserved. No part of this work may be reproduced, stored in a retrieval system,
#  ** adopted or transmitted in any form or by any means, electronic, mechanical, photographic,
#  ** graphic, optic recording or otherwise, translated in any language or computer language,
#  ** without the prior written permission of Oracle Financial Services Software Limited.
#  ** 
#  ** Oracle Financial Services Software Limited.
#  ** 10-11, SDF I, SEEPZ, Andheri (East),
#  ** Mumbai - 400 096.
#  ** India
#  ** Copyright 2017-2018 Oracle Financial Services Software Limited. All rights reserved.
#  -------------------------------------------------------------------------------------------------------
#
#  CHANGE HISTORY
#
#  Created By         :  System
#
#  Bug Number         :  
#  Changed By         :  
#  Change Description :  
#  Change On          :  
#  Search String      :  
#  
#  -------------------------------------------------------------------------------------------------------
  

swagger: "2.0"
info:
 description: "This is a sample server obscf-accounting WEB server." 
 version: "1.0.0"
 title: "Accounting Web"
host: "api-plato.us.oracle.com:8080"
basePath: "/obscfcm-account-maintenance-services"
consumes:
 - "application/json"
produces:
 - "application/json"
tags:
 - name: "accounting-web"
   description: "API for accounting operations"
 - name: "virtual-account-web"
   description: "API for virtual accounting operations"
   
paths:

# /web/v1/filterParams:
#    get:
#      tags:
#        - "Accounting-Filter-Web"
#      summary: "Retrieves Scf Accounting Filter Parameters"
#      description:  "Retrieves the Scf Accounting Filter Parameters."
#      operationId: "getParam"
#      parameters:
#      - name: "userId"
#        in: "header"
#        description: User Id
#        type: "string"
#        required: true
#      - name: "appId"
#        in: "header"
#        type: "string"
#        required: true
#        description: Application id
#      - name: "branchCode"
#        in: "header"
#        type: "string"
#        required: true
#        description: Branch Code          
#      - name: "category"
#        in: "query"
#        description: "Category of the parameter that needs to be fetched"
#        required: false
#        type: "string"
#      responses:
#        200:
#          description: "Successful performs the operation"
#          schema:
#            $ref: "./obscfcm-accounting-def.yaml#/definitions/ScfFilterCriteriaModelCollection"
#        400:
#          description: "Malformed syntax."
#        401:
#          description: "Request does not have sufficient credentials."
#        403:
#          description: "Request is not authorized."
#        500:
#          description: "Internal error"

# path to  history record for remitterid
# /web/v1/poolingAccountNumber:     
#    get:
#      tags:
#      - "accounting-web"
#      summary: "Get all accounting entries with their details based on filter(query param) criterias."
#      description: "Get all accounting entries."
#      operationId: "getAllAccountingNumbers"
#      produces:
#        - "application/json"
#        - "application/xml"
#      parameters:
#      - name: "branchCode"
#        in: "header"
#        required: true
#        type: "string"
#      - name: "appId"
#        in: "header"
#        description: "appId"
#        required: true
#        type: "string"
#      - name: "userId"
#        in: "header"
#        description: "userId"
#        required: true
#        type: "string"
#      - name: offset
#        in: query
#        description: offset is starting no of records to be fetched
#        required: false
#        type: integer
#      - name: limit
#        in: query
#        description: limit is maximum no of records to be fetched
#        required: false
#        type: integer
#      - name: includecloseandunauth
#        in: query
#        description: includecloseandunauth need to be set to fetch summary record, defult value is false
#        required: false
#        type: boolean
#      - name: productCode
#        in: query
#        description: product code of the account
#        required: false
#        type: string
#      - name: accountNumber
#        in: query
#        description: accountNumber of the record
#        required: false
#        type: string
#      - name: eventCode
#        in: query
#        description: event code of the account
#        required: false
#        type: string
#      - name: poolingAcntType
#        in: query
#        description: pooling account type  of the account can be E/C/V
#        required: true
#        type: string
#      - name: poolingLevelType
#        in: query
#        description: pooling account type  of the account can be batch or deposit
#        required: false
#        type: string
#      - name: corporateDivisionCode
#        in: query
#        description: division code of the account
#        required: false
#        type: string
#      - name: corporateId
#        in: query
#        description: corporateId of the account
#        required: false
#        type: string
#      - name: applicationName
#        in: query
#        description: application Name from where the call in coming 
#        required: true
#        type: string 
#      - name: refNo
#        in: query
#        description: refno of the record
#        required: false
#        type: string
#      - name: recordStat
#        in: query
#        description: recordStat of the record
#        required: false
#        type: string
#      responses:
#        201:
#          description: "Returns message of success or failure"
#          schema:
#            $ref: "./obscfcm-accounting-def.yaml#/definitions/PoolingAccountCollection"
#        400:
#          description: "Malformed syntax."
#        401:
#          description: "Request does not have sufficient credentials."
#        403:
#          description: "Request is not authorized."
#        405:
#          description: "Invalid input"
#        500:
#          description: "Internal error"
          
          
 /web/v1/accounting:     
    post:
      tags:
      - "accounting-web"
      summary: "Get all accounting entries with their details based on filter(query param) criterias."
      description: "Get all accounting entries."
      operationId: "getAllAccountingDetails"
      produces:
        - "application/json"
        - "application/xml"
      parameters:
      - name: "branchCode"
        in: "header"
        description: "Branch Code"
        required: true
        type: "string"
      - name: "appId"
        in: "header"
        description: "Application Id"
        required: true
        type: "string"
      - name: "userId"
        in: "header"
        description: "User Id"
        required: true
        type: "string"
      - name: offset
        in: query
        description: "offset is starting no of records to be fetched"
        required: false
        type: integer
      - name: limit
        in: query
        description: "limit is maximum no of records to be fetched"
        required: false
        type: integer     
      - name: "rquestDto" 
        in: "body" 
        description: "Request Body that contains data required for creating a new accentrycode" 
        required: true
        schema:
            $ref: "./obscfcm-accounting-def.yaml#/definitions/GenericObscfCmAccountDTO"
      responses:
        201:
          description: "Returns message of success or failure"
          schema:
             $ref: "./obscfcm-accounting-def.yaml#/definitions/AccountingTransactionCollection"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
          
 /web/v1/accountingpost:
     post:
       tags:
        - "accounting-web"
       summary: "Adds a new accentrycode."
       description: "Adds a new accounting entry code."
       operationId: "saveRecord"
       parameters:
        - name: "appId"
          in: "header"
          type: "string"
          required: true
          description: "Application Id"        
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "User Id"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
          description: "Branch Code"
        - name: "accontingTransactionModelcollection" 
          in: "body" 
          description: "Request Body that contains data required for creating a new accounting" 
          required: true
          schema:
           $ref: "./obscfcm-accounting-def.yaml#/definitions/AccountingTransactionCollection"
       responses:
        201: 
         description: "Returns message of succes or failure " 
         headers:
          Location:
           description: "URL of newly created accentrycode" 
           type: "string"
         schema:
           $ref: "./obscfcm-accounting-def.yaml#/definitions/ResponseDtoWrapper"
        400:
         description: "Malformed syntax."
        401:
         description: "Request does not have sufficient credentials."
        403:
         description: "Request is not authorized."
        405:
         description: "Invalid input"
        500:
         description: "Internal error"
          
 /web/v1/virtualAccounts:
  get:
   tags:
    - "virtual-account-web"
   summary: "Retrives the intaccmap by given ID."
   description:  "Retrives the internal account mapping by ID."
   operationId: "getVirtualAccountDetails"
   parameters:
    - name: "appId"
      in: "header"
      type: "string"
      required: true
      description: "Application Id"        
    - name: "userId"
      in: "header"
      type: "string"
      required: true
      description: "User Id"
    - name: "branchCode"
      in: "header"
      type: "string"
      required: true
      description: "Branch Code"
    - name: "limit"
      in: "query"
      description: "Limit"
      required: false
      type: "integer"
    - name: "offset"
      in: "query"
      description: "Offset"
      required: false
      type: "integer"
    - name: "virtualAccountNo"
      in: "query"
      description: "Virtual Account No"
      required: false
      type: "string"
    - name: "virtualAccountName"
      in: "query"
      description: "Virtual Account Name"
      required: false
      type: "string"
    - name: "realAccountNo"
      in: "query"
      description: "Real Account No"
      required: false
      type: "string"
    - name: "realCustomerNo"
      in: "query"
      description: "Real Customer No"
      required: false
      type: "string"
    - name: "virtualAccReqParams"
      in: "query"
      description: "Request parameters to get virtual account details"
      required: false
      type: "array"
      items:
        type: string
      collectionFormat: csv
   responses:
    200:
     description: "Returns the intaccmap based on given id."
     schema:
       $ref: "./obscfcm-accounting-def.yaml#/definitions/VirtualAccountDetailsResponse"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
          
 /web/v1/getAccountingWorkDet:
     get:
       tags:
        - "accounting-web"
       summary: "Get accounting work entry details"
       description:  "Get accounting work entry details"
       operationId: "getAccountingWorkDet"
       parameters:
       - name: "appId"
         in: "header"
         type: "string"
         required: true
         description: "Application Id"        
       - name: "userId"
         in: "header"
         type: "string"
         required: true
         description: "User Id"
       - name: "branchCode"
         in: "header"
         type: "string"
         required: true
         description: "Branch Code"
       - name: txnRefNo
         in: query
         description: "Transaction Reference No"
         required: false
         type: "string"  
       - name: refNo
         in: query
         description: "Reference No"
         required: false
         type: "string"
       - name: seqNo
         in: query
         description: "Sequence Number"
         required: false
         type: "integer"
         format: "int64"
       responses:
        201:
         description: "Returns message of succes or failure"
         headers: 
          Location:
           description: "Location"
           type: "string"
         schema:
           $ref: "./obscfcm-accounting-def.yaml#/definitions/AccountingTransactionCollection"
        400:
         description: "Malformed syntax."
        401:
         description: "Request does not have sufficient credentials."
        403:
         description: "Request is not authorized."
        405:
         description: "Invalid input"
        500:
         description: "Internal error"
         
 /web/v1/accountingenquiry:
     get:
       tags:
        - "accounting-web"
       summary: "Get all valid accentrycode."
       description:  "Get all valid accounting entry code details."
       operationId: "getAllAccountingEnquiry"
       parameters:
       - name: includecloseandunauth
         in: query
         description: includecloseandunauth need to be set to fetch summary record, defult value is false
         required: false
         type: boolean
       - name: "appId"
         in: "header"
         type: "string"
         required: true
         description: "Application Id"        
       - name: "userId"
         in: "header"
         type: "string"
         required: true
         description: "User Id"
       - name: "branchCode"
         in: "header"
         type: "string"
         required: true
         description: "Branch Code"  
       - name: offset
         in: query
         description: offset is starting no of records to be fetched
         required: false
         type: integer
       - name: id
         in: query
         description: "Id"
         required: false
         type: string
       - name: refNo
         in: query
         description: "Reference No"
         required: false
         type: "string"
         
       - name: seqNo
         in: query
         description: "Sequence Number"
         required: false
         type: "integer"
         format: "int64"
         
       - name: drCrIndicator
         in: query
         description: "Debit Credit Indicator"
         required: false
         type: "string"
         
       - name: amountCcy
         in: query
         description: "Amount Currency"
         required: false
         type: "string"
         
       - name: amountType
         in: query
         description: "Amount Type"
         required: false
         type: "string"
         
       - name: accountNo
         in: query
         description: "Account No"
         required: false
         type: "string"
         
       - name: status
         in: query
         description: "Status"
         required: false
         type: "string"
         
       - name: accRoleCode
         in: query
         description: "Accounting Role Code"
         required: false
         type: "string"
         
       - name: accPartyType
         in: query
         description: "Party Type"
         required: false
         type: "string"
         
       - name: accPartyId
         in: query
         description: "Party Id"
         required: false
         type: "string"
         
       - name: accSettMethod
         in: query
         description: "Settlement Method"
         required: false
         type: "string"
         
         
       - name: accRoleDesc
         in: query
         description: "Accounting Role Description"
         required: false
         type: "string"
         
       - name: accEntryDesc
         in: query
         description: "Accounting Entry Description"
         required: false
         type: "string"
         
       - name: accType
         in: query
         description: "Account Type"
         required: false
         type: "string"
         
       - name: eventSrNo
         in: query
         description: "Event Sr No."
         required: false
         type: "string"
         
       - name: ecaRefNo
         in: query
         description: "ECA Ref No."
         required: false
         type: "string"
         
       - name: externalAccount
         in: query
         description: "External Account"
         required: false
         type: "string"
         
       - name: paymentMode
         in: query
         description: "Payment Mode"
         required: false
         type: "string"
         
       - name: externalAccountCcy
         in: query
         description: "External Account Currency"
         required: false
         type: "string"
         
       - name: externalBankId
         in: query
         description: "External Bank Id"
         required: false
         type: "string"
         
       - name: externalBankName
         in: query
         description: "External Bank Name"
         required: false
         type: "string"
         
       - name: externalBranchCode
         in: query
         description: "External Branch Code"
         required: false
         type: "string"
         
       - name: externalBranchName
         in: query
         description: "External Branch Name"
         required: false
         type: "string"
         
       - name: externalBranchRoutingCode
         in: query
         description: "External Branch RoutingCode"
         required: false
         type: "integer"
         format: "int64"
     
       - name: accEntryDescription
         in: query
         description: "AccEntryDescription is the description of AccEntryCode."
         required: false
         type: "string"
         
       - name: limit
         in: query
         description: "limit is maximum no of records to be fetched"
         required: false
         type: integer
         
       - name: dateRefBasis
         in: query
         description: "Date Type"
         required: false
         type: string
         
       - name: dateFrom
         in: query
         description: "Date From"
         required: false
         type: string
         pattern: '^\d{4}-\d{2}-\d{2}$'
         
       - name: dateTo
         in: query
         description: "Date to"
         required: false
         type: string
         pattern: '^\d{4}-\d{2}-\d{2}$'
         
       - name: postingStatus
         in: query
         description: "Posting Status"
         required: false
         type: string
         
       - name: eventCode
         in: query
         description: "Event Code"
         required: false
         type: string
         
       - name: applicationCode
         in: query
         description: "Application Code"
         required: false
         type: string
         
       - name: productCode
         in: query
         description: "Product Code"
         required: false
         type: string

       - name: authorizationStatus
         in: query
         description: "Authorization Status"
         required: false
         type: string
         
       responses:
        201:
         description: "Returns message of succes or failure"
         headers: 
          Location:
           description: "Location"
           type: "string"
         schema:
           $ref: "./obscfcm-accounting-def.yaml#/definitions/AccountingTransactionCollection"
        400:
         description: "Malformed syntax."
        401:
         description: "Request does not have sufficient credentials."
        403:
         description: "Request is not authorized."
        405:
         description: "Invalid input"
        500:
         description: "Internal error"
