#-----------------------------------------------------------------------------------------------------
#  **
#  ** File Name  : common.yaml
#  **
#  ** Module     : obscf
#  ** 
#  ** This source is part of the Oracle FLEXCUBE  and is copyrighted by Oracle Financial Services Software Limited.  ** 
#  ** 
#  ** All rights reserved. No part of this work may be reproduced, stored in a retrieval system,
#  ** adopted or transmitted in any form or by any means, electronic, mechanical, photographic,
#  ** graphic, optic recording or otherwise, translated in any language or computer language,
#  ** without the prior written permission of Oracle Financial Services Software Limited.
#  ** 
#  ** Oracle Financial Services Software Limited.
#  ** 10-11, SDF I, SEEPZ, Andheri (East),
#  ** Mumbai - 400 096.
#  ** India
#  ** Copyright 2017-2018 Oracle Financial Services Software Limited. All rights reserved.
#  -------------------------------------------------------------------------------------------------------
#
#  CHANGE HISTORY
#
#  Created By         :  System
#
#  Bug Number         :  
#  Changed By         :  
#  Change Description :  
#  Change On          :  
#  Search String      :  
#  
#  -------------------------------------------------------------------------------------------------------
   
 
swagger: "2.0"
info:
 description: "This is a sample server obscf-accounting WEB server." 
 version: "1.0.0"
 title: "Accounting Definitions"
host: "api-plato.us.oracle.com:8080"
basePath: "/obscfcm-account-maintenance-services"
consumes:
 - "application/json"
produces:
 - "application/json"

paths:
  /:
    get:
      responses:
        201:
          description: ""
  
definitions:
  EcaBlockAmountDetailsCollection:
    description: "Eca blocked amount response collection"
    type: "object"
    properties:
      status:
        description: "Eca block status"
        type: "string"
      ecaAccAmtDetails:
        description: "Eca account amount details"
        type: "array"
        items:
          $ref: "#/definitions/EcaBlockAmountDetails"
      ecaErrorDetails:
        description: "Eca error details"
        type: "array"
        items:
          $ref: "#/definitions/EcaErrorDetails"
    
  EcaBlockAmountDetails:
    description: "Eca blocked amount response collection"
    type: "object"
    properties:
      refNo:
        description: "Transaction reference number"
        type: "string"
      accountNo:
        description: "Account number"
        type: "string"
      requestedBlkAmount:
        description: "Requested blocked amount"
        type: "number"
      approvedBlkAmount:
        description: "Approved blocked amount"
        type: "number"
      ecaRefNo:
        description: "ECA Ref No"
        type: "string"
      effectiveDate:
        description: "Effective Date"
        type: "string"
        
  EcaErrorDetails:
    description: "Eca error code collection"
    type: "object"
    properties:
      errorCode:
        description: "Error code"
        type: "string"
      errorDesc:
        description: "Error description"
        type: "string"

  GenericObscfCmAccountDTO:
    type: object
    required:
      - applicationType
    properties:
      refNo:
       type: string
       description: "Reference Number"
      seqNo:
       type: "integer"
       format: "int64"
       description: "Sequence Number"
      applicationName:
       type: string
       description: "Application Name"
      recordStat:
       type: "string"
       description: "Record Status"
      otherDetails:
       type: object
       additionalProperties:
        type: string
        
  AccountingTransactionModel:
    description: "Accounting Transaction Model"
    type: "object"
    properties:
      id:
        type: "string"
        description: "Id"
      refNo:
        type: "string"    
        description: "Reference Number"  
      seqNo:
        type: "integer"
        format: "int64"
        description: "Sequence Number"
      accountingEntryCode:
        type: "string"
        description: "Accounting Entry Code"
      drCrIndicator:
        type: "string"
        description: "Debit Credit Indicator"
      amountCcy:
        type: "string"
        description: "Amount Currency"
      eventCode:
        type: "string"
        description: "Event Code"
      amount:
        type: "number"
        description: "Amount"
      amountType:
        type: "string"
        description: "Amount Type"
      accountCcy:
        type: "string"
        description: "Account Currency"
      amountAccCcy:
        type: "number"
        description: "Amount Account Currency"
      accountNo:
        type: "string"
        description: "Account Number"
      exchangeRate:
        type: "number"
        description: "Exchange Rate"
      status:
        type: "string"
        description: "Status"
      accRoleCode:
        type: "string"
        description: "Account Role Code"
      accPartyType:
        type: "string"
        description: "Account Party Type"
      accPartyId:
        type: "string"
        description: "Account Party Id"
      accSettMethod:
        type: "string"
        description: "Account Settlement Method"
      accEntrySeq:
        type: "integer"
        format: "int64"
        description: "Account Entry Sequence"
      accRoleDesc:
        type: "string"
        description: "Account Role Description"
      accEntryDesc:
        type: "string"
        description: "Account Entry Description"
      accType:
        type: "string"
        description: "Account Type"
      eventSrNo:
        type: "number"
        description: "Event Serial Number"
      ecaRefNo:
        type: "string"
        description: "Eca Reference Number"
      externalAccount:
        type: "string"
        description: "External Account"
      paymentMode:
        type: "string"
        description: "Payment Mode"
      externalAccountCcy:
        type: "string"
        description: "External Account Currency"
      externalBankId:
        type: "string"
        description: "External Bank Id"
      externalBankName:
        type: "string"
        description: "External Bank Name"
      externalBranchCode:
        type: "string"
        description: "External Branch Code"
      externalBranchName:
        type: "string"
        description: "External Branch Name"
      externalBranchRoutingCode:
        type: "string"
        description: "External Branch Routing Code"
      stage:
        type: "string"
        description: "Stage"
      additionalField1:
        type: "string"
        description: "Additional Field1"
      additionalField2:
        type: "string"
        description: "Additional Field2"
      additionalField3:
        type: "string"
        description: "Additional Field3"
      additionalField4:
        type: "string"
        description: "Additional Field4"
      additionalField5:
        type: "string"
        description: "Additional Field5"
      additionalField6:
        type: "string"
        description: "Additional Field6"
      additionalField7:
        type: "string"
        description: "Additional Field7"
      additionalField8:
        type: "string"
        description: "Additional Field8"
      additionalField9:
        type: "string"
        description: "Additional Field9"
      additionalField10:
        type: "string"
        description: "Additional Field10"
      applicationCode:
        type: "string"
        description: "Application Code"
      valueDate:
        type: "string"
        description: "Value Date"
      processingDate:
        type: "string"
        description: "Processing date"
      txnBranchCode:
        type: "string"
        description: "Transaction Branch Code"
      productCode:
        type: "string"
        description: "Product code"
      vaFlagYN:
        type: string
        description: "Virtual Account flag as Y or N"
      actualPostingAmt:
        type: "number"
        description: "Actual Posting Amount"
      makerId:
        type: "string"
        description: "Maker Id"
      makererDateStamp:
        type: "string"
        description: "Maker Datestamp"
      checkerDateStamp:
        type: "string"
        description: "Checker Datestamp"
      checkerId:
        type: "string"
        description: "Checker Id"
      postingRefNo:
        type: "string"
        description: "Psting Ref No"
      postingStatus:
        type: "string"
        description: "Posting Status"
      ecaStatus:
        type: "string"
        description: "ECA Status"
      postingErrorCode:
        type: "string"
        description: "Posting Error Code"
      ecaErrorCode:
        type: "string"
        description: "ECA Error Code"
      blkRefNo:
        type: "string"
        description: "Block Ref No"
      accClass:
        type: "string"
        description: "Account Class"
      vaContraAccountNo:
        type: "string"
        description: "VA Contra Account Number"
      vamPostingRefNo:
        type: "string"
        description: "VAM Posting Ref No"
      vamPostingStatus:
        type: "string"
        description: "VAM Posting Status"
      clearingRefNo:
        type: "string"
        description: "Clearing Ref No"
      paymentStatus:
        type: "string"
        description: "Payment Status"
      paymentRefNo:
        type: "string"
        description: "Payment Ref No"
      extPmtErrorCode:
        type: "string"
        description: "Payment Error Code"
      creditIntAcntList:
        type: array
        items:
          type: "string"
      debitIntAcntList:
        type: array
        items:
          type: "string"
      accEntryAttributeList:
        type: "array"
        items:
          $ref: "#/definitions/Attribute"
      creditInternalAttributeList:
        type: "array"
        items:
          $ref: "#/definitions/Attribute"
      debitInternalAttributeList:
        type: "array"
        items:
          $ref: "#/definitions/Attribute"
      creditExternalAttributeList:
        type: "array"
        items:
          $ref: "#/definitions/Attribute"
      debitExternalAttributeList:
        type: "array"
        items:
          $ref: "#/definitions/Attribute"
      extPmtErrorCodeDesc :
        type: "string"
        description: "External Payment Error description"
  Attribute:
    description: "Represents each attribute of the records filtered in calling service using filter query"
    type: "object"
    properties:
      attributeName:
        description: "Name of the attribute representing DB column name"
        type: "string"
      attributeValue:
        description: "Value of the corresponding column in DB"
        type: "string"

  PagingDto:
    type: object
    properties:
     totalResults:
      type: integer       
          
  AccountingTransactionCollection:
    description: "Collection of Accounting Transaction Models."
    type: "object"
    properties:
      data:
        type: "array"
        items:
          $ref: "#/definitions/AccountingTransactionModel"
      paging:
        $ref: "#/definitions/PagingDto" 
        
#  ScfFilterCriteriaModel:
#     description: "Scf Scf Filter Criteria model"
#     type: "object"
#     properties:
#       category:
#         description: "category of the param"
#         type: "string"
#       type:
#         description: "type of the Param"
#         type: "string"
#       parameters:
#         description: "parameters of the filter criteria"
#         type: "string"
#       description:
#         description: "description of the filter"
#         type: "string"
#       hierarchy:
#         description: "hierarchy of the filter."
#         type: integer
  
#  ScfFilterCriteriaKeyModel:
#     description: "Scf Application Param model"
#     type: "object"
#     properties:
#       type:
#         description: "type of the Param"
#         type: "string"
#       parameters:
#         description: "parameters of the filter criteria"
#         type: "string"
#       description:
#         description: "description of the filter"
#         type: "string"
#       hierarchy:
#         description: "hierarchy of the filter."
#         type: integer
  
#  ScfFilterCriteriaModelKeyCollection:
#     description: "Collection of list of Parameters."
#     type: "object"
#     properties:
#       category:
#         description: "category of the param"
#         type: "string"
#       ScfFilterCriteriaKeyModel:
#         type: "array"
#         items:
#           $ref: "#/definitions/ScfFilterCriteriaKeyModel" 
          
#  ScfFilterCriteriaModelCollection:
#     description: "Collection of ScfApplicationParamModelKeyCollection."
#     type: "object"
#     properties:
#       ScfFilterCriteriaModelKeyCollection:
#         type: "array"
#         items:
#           $ref: "#/definitions/ScfFilterCriteriaModelKeyCollection"  
          
  ModListKeyDto:
    type: object
    properties:
      modNos:
        type: array
        items:
          type: integer
      remarks:
        type: string
  KeyDto:
    type: object
    properties:
      modNo:
        type: integer
      remarks:
        type: string
  ResponseDto:
    type: object
    properties:
      id:
        type: string
      status:
        type: string
      codes:
        type: array
        items:
          $ref: "#/definitions/ResponseCode"
      requestId:
        type: string
  ResponseCode:
    type: object
    properties:
      Code:
        type: string
      Desc:
        type: string
      Type:
        type: string
      Language:
        type: string
      args:
        type: array
        items:
          type: object
      arg:
        type: string
  GenericDto:
    allOf:
      - type: object
        discriminator: resource_type
  ResponseDtoWrapper:
    type: object
    properties:
      messages:
        $ref: "#/definitions/ResponseDto"
      data:
        $ref: "#/definitions/ResponseResourceSupport"
  ResponseResourceSupport:
    type: object

  OrchestratorDTO:
    type: "object"
    properties:
      resourceId:
        type: string
        description: "Id of the Orchestrator Resource"
      modNos:
        type: array
        items:
          type: integer
      remarks:
        type: string
        description: "Remark on Orchestrator"
 
  AccNoAndCurrencyModel:
    type: object
    properties:
      accountCcy:
        type: string
        description: "Account Currency"
      accNo:
        type: string
        description: "Account Number"
 
  ScfFilterParamModel:
    description: "Scf Filter Parameters model"
    type: "object"
    properties:
      parameter:
        description: "Name of the parameter"
        type: "string"
      label:
        description: "Label of the parameter for given language"
        type: "string"
      columnName:
        description: "Name of the mapped column for given parameter"
        type: "string"
      fieldType:
        description: "Field Type"
        type: "string"
      endpointValue:
        description: "Endpoint Value"
        type: "string"
      reqParams:
        description: "Request Parameters"
        type: "string"
      lovConfig:
        type: "array"
        description: "LOV Config Data"
        items:
         $ref: '#/definitions/Map'
  ScfFilterParamModelCollection:
    description: "Collection of Scf filter parameters"
    type: "object"
    properties:
      type:
        description: "Filter criteria"
        type: "string"
      description:
        description: "Filter Description"
        type: "string"
      hierarchy:
        description: "hierarchy of the criteria"
        type: "string"
      ScfFilterParamModel:
        type: "array"
        items:
          $ref: "#/definitions/ScfFilterParamModel"
  ScfFilterParamModelKeyCollection:
    description: "Collection of list of Parameters."
    type: "object"
    properties:
      category:
        description: "category of the param"
        type: "string"
      ScfFilterParamModelCollection:
        type: "array"
        items:
          $ref: "#/definitions/ScfFilterParamModelCollection"
 
  StringStringMap:
    type: object
    additionalProperties:
      type: string
 
  StringObjectMap:
    type: object
    additionalProperties:
      type: object
 
  PoolingAccountResponse:
    description: "Details of account no and currency"
    type: object
    properties:
      accountNumber:
        description: "category of the param"
        type: "string"
      accountCcy:
        description: "category of the param"
        type: "string"
 
  PoolingAccountCollection:
    description: "Collection of PoolingAccountResponse"
    type: "object"
    properties:
      data:
        type: "array"
        items:
          $ref: "#/definitions/PoolingAccountResponse"
      paging:
        $ref: "#/definitions/PagingDto"
 
  VirtualAccountDetailsResponse:
    description: "Collection of accentrycode."
    type: "object"
    properties:
      data:
        type: "array"
        items:
          $ref: "#/definitions/VirtualAccountDetails"
      paging:
        $ref: "#/definitions/PagingDto"
 
  VirtualAccountRequestDTO:
    description: "Virtual Account Details"
    type: "object"
    properties:
      offset:
        type: "integer"
        description: "Offset"
      limit:
        type: "integer"
        description: "Limit"
      realCustomerNo:
        type: "string"
        description: "Real Customer Number"
      virtualAccountNo:
        type: "string"
        description: "Virtual Account Number"
      virtualAccountName:
        type: "string"
        description: "Virtual Account Name"
      virtualEntityId:
        type: "string"
        description: "Virtual Entity Id"
      realAccountNo:
        type: "string"
        description: "Real Account Number"
      vaFlag:
        type: "string"
        description: "Va Flag"
 
  VirtualAccountDetails:
    description: "Virtual Account Details"
    type: "object"
    properties:
      realCustomerNo:
        type: "string"
        description: "Real Customer Number"
      virtualAccountNo:
        type: "string"
        description: "Virtual Account Number"
      virtualAccountName:
        type: "string"
        description: "Virtual Account Name"
      branchCode:
        type: "string"
        description: "Branch Code"
      virtualEntityId:
        type: "string"
        description: "Virtual Entity Id"
      virtualEntityName:
        type: "string"
        description: "Virtual Entity Name"
      virtualAccCcy:
        type: "string"
        description: "Virtual Account Currency"
      virtualAccProduct:
        type: "string"
        description: "Virtual Account Product"
      ibanAccNo:
        type: "string"
        description: "Iban Account Number"
      realAccountNo:
        type: "string"
        description: "Real Account Number"
      fixedAmtFromPool:
        type: "number"
        description: "Fixed Amount From Pool"
      fixedAmount:
        type: "number"
        description: "Fixed Amount"
      creditTxnsAllowed:
        type: "string"
        description: "Credit Transactions Allowed"
      debitTxnsAllowed:
        type: "string"
        description: "Debit Transactions Allowed"
      realAccountCcy:
        type: "string"
        description: "Real Account Currency"
      realAccountBrn:
        type: "string"
        description: "Real Account Brn"
      status:
        type: "string"
        description: "Status"
        
  AccountingTxnDetailsFetchReqModel:
    description: "Request body to fetch Accounting Transaction Details"
    type: "object"
    properties:
      referenceNumbers:
        description: "List of Reference Numbers"
        type: array
        items:
          type: string
          
  AccountingTxnDetailsResponseCollection:
    description: "Collection of Accounting Transaction Response Models."
    type: "object"
    properties:
      data:
        type: "array"
        items:
          $ref: "#/definitions/AccountingTxnDetailsResponseModel"
      paging:
        $ref: "#/definitions/PagingDto"
  
  AccountingTxnDetailsResponseModel:
    description: "Accounting Transaction Details Response Model"
    type: "object"
    properties:
      id:
        type: "string"
        description: "Id"
      refNo:
        type: "string"    
        description: "Reference Number"  
      seqNo:
        type: "integer"
        format: "int64"
        description: "Sequence Number"
      accountingEntryCode:
        type: "string"
        description: "Accounting Entry Code"
      drCrIndicator:
        type: "string"
        description: "Debit Credit Indicator"
      amountCcy:
        type: "string"
        description: "Amount Currency"
      eventCode:
        type: "string"
        description: "Event Code"
      amount:
        type: "number"
        description: "Amount"
      amountType:
        type: "string"
        description: "Amount Type"
      accountCcy:
        type: "string"
        description: "Account Currency"
      amountAccCcy:
        type: "number"
        description: "Amount Account Currency"
      accountNo:
        type: "string"
        description: "Account Number"
      exchangeRate:
        type: "number"
        description: "Exchange Rate"
      status:
        type: "string"
        description: "Status"
      accRoleCode:
        type: "string"
        description: "Account Role Code"
      accPartyType:
        type: "string"
        description: "Account Party Type"
      accPartyId:
        type: "string"
        description: "Account Party Id"
      accSettMethod:
        type: "string"
        description: "Account Settlement Method"
      accEntrySeq:
        type: "integer"
        format: "int64"
        description: "Account Entry Sequence"
      accRoleDesc:
        type: "string"
        description: "Account Role Description"
      accEntryDesc:
        type: "string"
        description: "Account Entry Description"
      accType:
        type: "string"
        description: "Account Type"
      eventSrNo:
        type: "number"
        description: "Event Serial Number"
      ecaRefNo:
        type: "string"
        description: "Eca Reference Number"
      externalAccount:
        type: "string"
        description: "External Account"
      paymentMode:
        type: "string"
        description: "Payment Mode"
      externalAccountCcy:
        type: "string"
        description: "External Account Currency"
      externalBankId:
        type: "string"
        description: "External Bank Id"
      externalBankName:
        type: "string"
        description: "External Bank Name"
      externalBranchCode:
        type: "string"
        description: "External Branch Code"
      externalBranchName:
        type: "string"
        description: "External Branch Name"
      externalBranchRoutingCode:
        type: "string"
        description: "External Branch Routing Code"
      stage:
        type: "string"
        description: "Stage"
      additionalField1:
        type: "string"
        description: "Additional Field1"
      additionalField2:
        type: "string"
        description: "Additional Field2"
      additionalField3:
        type: "string"
        description: "Additional Field3"
      additionalField4:
        type: "string"
        description: "Additional Field4"
      additionalField5:
        type: "string"
        description: "Additional Field5"
      additionalField6:
        type: "string"
        description: "Additional Field6"
      additionalField7:
        type: "string"
        description: "Additional Field7"
      additionalField8:
        type: "string"
        description: "Additional Field8"
      additionalField9:
        type: "string"
        description: "Additional Field9"
      additionalField10:
        type: "string"
        description: "Additional Field10"
      applicationCode:
        type: "string"
        description: "Application Code"
      valueDate:
        type: "string"
        description: "Value Date"
      processingDate:
        type: "string"
        description: "Processing date"
      txnBranchCode:
        type: "string"
        description: "Transaction Branch Code"
      productCode:
        type: "string"
        description: "Product code"
      actualPostingAmt:
        type: "number"
        description: "Actual Posting Amount"
      postingRefNo:
        type: "string"
        description: "Posting Reference Number"
      postingStatus:
        type: "string"
        description: "Posting Status"
      ecaStatus:
        type: "string"
        description: "ECA Status"
      postingErrorCode:
        type: "string"
        description: "Posting Error Code"
      ecaErrorCode:
        type: "string"
        description: "ECA Error Code"
      blkRefNo:
        type: "string"
        description: "BLK Reference Number"
      accClass:
        type: "string"
        description: "ACC Class"
      vaContraAccountNo:
        type: "string"
        description: "VA Contra Account No"
      vamPostingRefNo:
        type: "string"
        description: "VAM Posting RefNo"
      vamPostingStatus:
        type: "string"
        description: "VAM Posting Status"
      clearingRefNo:
        type: "string"
        description: "Clearing RefNo"
      paymentStatus:
        type: "string"
        description: "Payment Status"
      paymentRefNo:
        type: "string"
        description: "Payment Reference Number"
      extPmtErrorCode:
        type: "string"
        description: "External Payment Error Code"
      extPmtErrorCodeDesc :
        type: "string"
        description: "External Payment Error description"
      
