#-----------------------------------------------------------------------------------------------------
#  **
#  ** File Name  : common.yaml
#  **
#  ** Module     : scftminsurancecompmaster
#  ** 
#  ** This source is part of the Oracle FLEXCUBE  and is copyrighted by Oracle Financial Services Software Limited.  ** 
#  ** 
#  ** All rights reserved. No part of this work may be reproduced, stored in a retrieval system,
#  ** adopted or transmitted in any form or by any means, electronic, mechanical, photographic,
#  ** graphic, optic recording or otherwise, translated in any language or computer language,
#  ** without the prior written permission of Oracle Financial Services Software Limited.
#  ** 
#  ** Oracle Financial Services Software Limited.
#  ** 10-11, SDF I, SEEPZ, Andheri (East),
#  ** Mumbai - 400 096.
#  ** India
#  ** Copyright 2017-2018 Oracle Financial Services Software Limited. All rights reserved.
#  -------------------------------------------------------------------------------------------------------
#
#  CHANGE HISTORY
#
#  Created By         :  System
#
#  Bug Number         :  
#  Changed By         :  
#  Change Description :  
#  Change On          :  
#  Search String      :  
#  
#  -------------------------------------------------------------------------------------------------------


swagger: "2.0"
info:
 description: "This is a sample server scftminsurancecompmaster server."
 version: "1.0.0"
 title: "scftminsurancecompmaster Service"
host: "api-plato.us.oracle.com:8080"
basePath: "/api/1.0"
consumes:
 - "application/json"
produces:
 - "application/json"
tags:
 - name: "scftminsurancecompmaster"
   description: "this service is to manage crud operations in master datasegment  .........................................................................................................................................."

schemes:
 - "https"

paths:

 # path to create a new record and fetch all valid records or by intent
 #
 #  supprorted http methods POST and GET
 #
 # path example ../scftminsurancecompmaster

 /scftminsurancecompmaster:
  post:
   tags:
    - "scftminsurancecompmaster"
   summary: "Adds a new scftminsurancecompmaster."
   description: "Adds a new scftminsurancecompmaster. Add additional information here for this endpoint."
   operationId: "saveRecord"
   parameters:
    - name: "scftminsurancecompmaster"
      in: "body"
      description: "Request Body that contains data required for creating a new scftminsurancecompmaster"
      required: true
      schema:
       $ref: "#/definitions/ScfTmInsuranceCompMasterDTO"
   responses:
    201:
     description: "Returns message of succes or failure "
     headers:
      Location:
       description: "URL of newly created scftminsurancecompmaster"
       type: "string"
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "scftminsurancecompmaster"
   summary: "Get all valid scftminsurancecompmaster."
   description:  "Get all valid scftminsurancecompmaster. This endpoints will be used to Get all valid scftminsurancecompmaster maintenance records."
   operationId: "getAll"
   parameters:
    - name: includecloseandunauth
      in: query
      description: includecloseandunauth need to be set to fetch summary record, defult value is false
      required: false
      type: boolean
    - name: offset
      in: query
      description: offset is starting no of records to be fetched
      required: false
      type: integer
    - name: limit
      in: query
      description: limit is maximum no of records to be fetched
      required: false
      type: integer
   responses:
    201:
     description: "Returns message of success or failure"
     headers:
      Location:
       description: ""
       type: "string"
     schema:
      $ref: "#/definitions/ScfTmInsuranceCompMasterCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"

 # path to modify existing record, delete existing record and fetch valid records by id or by intent( includes latestRecord, version no)
 #
 #  supprorted http methods PUT, DELETE and GET
 #
 # path examples----
 #   PUT       .../scftminsurancecompmaster/xxx
 #   DELETE    .../scftminsurancecompmaster/xxx
 #   GET       .../scftminsurancecompmaster/xxx
 #   GET       .../scftminsurancecompmaster/xxx?version=latestrecord
 #   GET       .../scftminsurancecompmaster/xxx?version=1

 /scftminsurancecompmaster/{id}:
  put:
   tags:
    - "scftminsurancecompmaster"
   summary: "Update an existing scftminsurancecompmaster."
   description:  "Update an existing scftminsurancecompmaster."
   operationId: "modifyRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "key of the scftminsurancecompmaster Maintenance"
      required: true
      type: "string"
    - name: "scftminsurancecompmaster"
      in: "body"
      description: "Request Body that contains data required for updating an existing scftminsurancecompmaster"
      required: true
      schema:
       $ref: "#/definitions/ScfTmInsuranceCompMasterDTO"
   responses:
    200:
     description: "Returns updated scftminsurancecompmaster"
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "scftminsurancecompmaster"
   summary: "Retrieves the scftminsurancecompmaster by ID."
   description:  "Retrieves the scftminsurancecompmaster by ID."
   operationId: "getById"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
    - name: "version"
      in: "query"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the scftminsurancecompmaster based on given id."
     schema:
      $ref: "#/definitions/ScfTmInsuranceCompMasterWrapperModel"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
  delete:
   tags:
    - "scftminsurancecompmaster"
   summary: "Deletes the scftminsurancecompmaster identified by given ID."
   description:  "Deletes the scftminsurancecompmaster identified by given ID. Add additional information here for the this endpoint."
   operationId: "delete"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the scftminsurancecompmaster maintenance"
      required: true
      type: "string"
    - name: "scftminsurancecompmaster"
      in: "body"
      description: Request body contain scftminsurancecompmaster and Modification no of scftminsurancecompmaster maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

 # path to Authorize existing record.
 #
 #  supprorted http methods PATCH
 #
 # path examples----
 #   PATCH       .../scftminsurancecompmaster/xxx/approve

 /scftminsurancecompmaster/{id}/approve:
  patch:
   tags:
    - "scftminsurancecompmaster"
   summary: "Authorize the scftminsurancecompmaster by given ID."
   description:  "Authorize the scftminsurancecompmaster identified by given ID."
   operationId: "authorize"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the scftminsurancecompmaster maintenance"
      required: true
      type: "string"
    - name: "scftminsurancecompmaster"
      in: "body"
      description: Request body contain scftminsurancecompmaster and Modification no of scftminsurancecompmaster maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

 # path to close existing record
 #
 #  supported http methods PATCH
 #
 # path examples----
 #   PATCH       .../scftminsurancecompmaster/xxx/close
 /scftminsurancecompmaster/{id}/close:
  patch:
   tags:
    - "scftminsurancecompmaster"
   summary: "Close the scftminsurancecompmaster by given ID."
   description:  "Close the scftminsurancecompmaster identified by given ID."
   operationId: "closeRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the scftminsurancecompmaster maintenance"
      required: true
      type: "string"
    - name: "scftminsurancecompmaster"
      in: "body"
      description: Request body contain scftminsurancecompmaster and Modification no of scftminsurancecompmaster maintenance which need to be closed"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

 # path to reopen existing record
 #
 #  supprorted http methods PATCH
 #
 # path examples----
 #   PATCH       .../scftminsurancecompmaster/xxx/reopen

 /scftminsurancecompmaster/{id}/reopen:
  patch:
   tags:
    - "scftminsurancecompmaster"
   summary: "reopen the scftminsurancecompmaster by given ID."
   description:  "reopen the scftminsurancecompmaster identified by given ID."
   operationId: "reopenRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the scftminsurancecompmaster maintenance"
      required: true
      type: "string"
    - name: "scftminsurancecompmaster"
      in: "body"
      description: Request body contain scftminsurancecompmaster and Modification no of scftminsurancecompmaster maintenance which need to be reopen"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

 # path to get all unauthorized records
 #
 #  supprorted http methods GET
 #
 # path examples----
 #   GET       .../scftminsurancecompmaster/xxx/unauthorized

 /scftminsurancecompmaster/{id}/unauthorized:
  get:
   tags:
    - "scftminsurancecompmaster"
   summary: "Retrives the scftminsurancecompmaster by given ID."
   description:  "Retrives the scftminsurancecompmaster identified by given ID."
   operationId: "authQuery"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the scftminsurancecompmaster based on given id."
     schema:
      $ref: "#/definitions/ScfTmInsuranceCompMasterCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

 # path to  history record for remitterid
 #
 #  supprorted http methods GETS
 #
 # path examples----
 #   GET       .../scftminsurancecompmaster/xxx/history

 /scftminsurancecompmaster/{id}/history:
  get:
   tags:
    - "scftminsurancecompmaster"
   summary: "Retrives the scftminsurancecompmaster by given ID."
   description:  "Retrives the scftminsurancecompmaster by ID."
   operationId: "getHistory"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the scftminsurancecompmaster based on given id."
     schema:
      $ref: "#/definitions/ScfTmInsuranceCompMasterCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
 /scftminsurancecompmaster/{id}/isValid:
  get:
   tags:
    - "scftminsurancecompmaster"
   summary: "Validate the ScfTmInsuranceCompMaster by ResourceId"
   description:  "Validate the ScfTmInsuranceCompMaster by ResourceId"
   operationId: "validateScfTmInsuranceCompMaster"
   parameters:
    - name: "resourceId"
      in: "path"
      description: "resourceId of the user that needs to be validated"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the boolean based on validation of given resource id."
     schema:
      $ref: "#/definitions/boolean"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
definitions:
 ScfTmInsuranceCompMasterDTO:
  type: object
  allOf:
   - $ref: '#/definitions/GenericDto'
   - type: object
     properties:
      id:
       type: string
       description: "ID"
      action:
       type: string
       description: "Action"
      autoAuth:
       type: string
       description: "Auto Authorization"
      modificationStatus:
       type: string
       description: "Modification Status"
      datasegmentCode:
       type: string
       description: 'Datasegment Code'
      checkerRemarks:
       type: string
       description: 'Checker Remarks'
      makerRemarks:
       type: string
       description: 'Maker Remarks'
      addressLine1:
       type: string
       description: "Address Line 1"
      addressLine2:
       type: string
       description: "Address Line 2"
      addressLine3:
       type: string
       description: "Address Line 3"
      contactNumber:
       type: string
       description: "Contact Number"
      contactPerson:
       type: string
       description: "Contact Person"
      contactPersonEmail:
       type: string
       description: "Contact Person Email"
      contactPersonNumber:
       type: string
       description: "Contact Person Number"
      country:
       type: string
       description: "Country"
      countryName:
       type: string
       description: "Country Name"
      email:
       type: string
       description: "Email"
      faxNumber:
       type: string
       description: "FAX Number"
      insuranceCompId:
       type: string
       description: "Insurance Comp Id"
      insuranceCompName:
       type: string
       description: "Insurance Comp Name"
      insurerAllocatedAmt:
       type: integer
       description: "Insurer Allocated Amount"
      insurerAvailableAmt:
       type: integer
       description: "Insurer Available Amount"
      insurerLimit:
       type: integer
       description: "Insurer Limit"
      policyCcy:
       type: string
       description: "Policy Currency"
      shortName:
       type: string
       description: "Short Name"
      zipCode:
       type: string
       description: "ZipCode"
      ScfTmInsurancePolicyDetailsDTO:
       type: array
       items:
        $ref: '#/definitions/ScfTmInsurancePolicyDetailsDTO'
 ScfTmInsurancePolicyDetailsDTO:
  type: object
  properties:
   id:
    type: string
    description: "Id"
   insuranceCompMasterId:
    type: string
    description: "Insurance Comp Master Id"
   insurancePolicyNumber:
    type: string
    description: "Insurance Policy Number"
   policyAllocatedAmt:
    type: integer
    description: "Policy Allocated Amount"
   policyAmt:
    type: integer
    description: "Policy Amount"
   policyAvailableAmt:
    type: integer
    description: "Policy Available Amount"
   policyClaimedAmt:
    type: integer
    description: "Policy Claimed Amount"
   policyEffectiveFrom:
    type: string
    format: date
    description: "Policy Effective From"
   policyExpiresOn:
    type: string
    format: date
    description: "Policy Expires On"
 ModListKeyDto:
  type: object
  properties:
   modNos:
    type: array
    items:
     type: integer
   remarks:
    type: string
 KeyDto:
  type: object
  properties:
   modNo:
    type: integer
   remarks:
    type: string
 ResponseDto:
  type: object
  properties:
   id:
    type: string
   status:
    type: string
   codes:
    type: array
    items:
     $ref: "#/definitions/ResponseCode"
   requestId:
    type: string
 ResponseCode:
  type: object
  properties:
   Code:
    type: string
   Desc:
    type: string
   Type:
    type: string
   Language:
    type: string
   args:
    type: array
    items:
     type: object
   arg:
    type: string
 GenericDto:
  allOf:
   - type: object
     discriminator: resource_type
 ScfTmInsuranceCompMasterCollection:
  description: "Collection of scftminsurancecompmaster."
  type: "object"
  properties:
   data:
    type: "array"
    items:
     $ref: "#/definitions/ScfTmInsuranceCompMasterDTO"
   paging:
    $ref: "#/definitions/PagingDto"
 ScfTmPolicyMasterCollection:
  description: "Collection of Policy."
  type: "object"
  properties:
   data:
    type: "array"
    items:
     $ref: "#/definitions/ScfTmInsurancePolicyDetailsDTO"
   paging:
    $ref: "#/definitions/PagingDto"
 PagingDto:
  type: object
  properties:
   totalResults:
    type: integer
 ResponseDtoWrapper:
  type: object
  properties:
   messages:
    $ref: "#/definitions/ResponseDto"
   data:
    $ref: "#/definitions/ResponseResourceSupport"
 ResponseResourceSupport:
  type: object
 ScfTmInsuranceCompMasterWrapperModel:
  type: object
  properties:
   data:
    $ref: "#/definitions/ScfTmInsuranceCompMasterDTO"
