#-----------------------------------------------------------------------------------------------------
#  **
#  ** File Name  : common.yaml
#  **
#  ** Module     : obscf
#  ** 
#  ** This source is part of the Oracle FLEXCUBE  and is copyrighted by Oracle Financial Services Software Limited.  ** 
#  ** 
#  ** All rights reserved. No part of this work may be reproduced, stored in a retrieval system,
#  ** adopted or transmitted in any form or by any means, electronic, mechanical, photographic,
#  ** graphic, optic recording or otherwise, translated in any language or computer language,
#  ** without the prior written permission of Oracle Financial Services Software Limited.
#  ** 
#  ** Oracle Financial Services Software Limited.
#  ** 10-11, SDF I, SEEPZ, Andheri (East),
#  ** Mumbai - 400 096.
#  ** India
#  ** Copyright 2017-2018 Oracle Financial Services Software Limited. All rights reserved.
#  -------------------------------------------------------------------------------------------------------
#
#  CHANGE HISTORY
#
#  Created By         :  System
#
#  Bug Number         :  
#  Changed By         :  
#  Change Description :  
#  Change On          :  
#  Search String      :  
#  
#  -------------------------------------------------------------------------------------------------------
  

swagger: "2.0"
info:
 description: "This is a sample server noncustomer server." 
 version: "1.0.0"
 title: "NonCustomer Service"
host: "api-plato.us.oracle.com:8080"
basePath: "/api/1.0"
consumes:
 - "application/json"
produces:
 - "application/json"
tags:
 - name: "NonCustomerWeb"
   description: "With Non-Customer services , user will be able to create new Non-Customer with its basic information , address information , tax information and supporting documents . It allows the user to search Non-Customers , delete invalid Non-Customers and modify them"

schemes:
- "https"

paths:
  /:
    get:
      responses:
        201:
          description: ""
          
definitions:
 ScfTmNonCustomerMasterDTO:
  type: object
  allOf:
  - $ref: '#/definitions/GenericDto'
  - type: object
    properties:
     category:
      type: string
      description: "Category"
     cif:
      type: string
      description: "Cif"
     countryCode:
      type: string
      description: "Country Code"
     email:
      type: string
      description: "Email"
     faxNumber:
      type: string
      description: "Fax Number"
     giin:
      type: string
      description: "Giin"
     industry:
      type: string
      description: "Industry"
     mobileNumber:
      type: string
      description: "Mobile Number"
     name:
      type: string
      description: "Name"
     nonCustomerId:
      type: string
      description: "Non Customer Id"
     phoneNumber:
      type: string
      description: "Phone Number"
     prefferedCommMode:
      type: string
      description: "Preffered Comm Mode"
     registrationNumber:
      type: string
      description: "Registration Number"
     shortName:
      type: string
      description: "Short Name"
     taxRefNo1:
      type: string
      description: "Tax Reference Number1"
     taxRefNo2:
      type: string
      description: "Tax Reference Number2"
     fatca:
      type: string
      description: "Fatca"
     relationshipRefNo:
      type: string
      description: "Relationship Reference Number"
     channel:
      type: string
      description: "Channel"
     docMgmtSystemId:
      type: string
      description: "Doc Management System Id"
     action:
      type: string
      description: "Action"
     ScfTmNcAddressMasterDTO:
      type: array
      items:
       $ref: '#/definitions/ScfTmNcAddressMasterDTO'
     ScfTmNcRequestMasterDTO:
      type: array
      items:
       $ref: '#/definitions/ScfTmNcRequestMasterDTO'
     ScfDivisionDetailsDTO:
      type: array
      items:
       $ref: '#/definitions/ScfDivisionDetailsDTO'
 ScfDivisionDetailsDTO:
  type: object
  properties:
     externalCode:
      type: string
      description: "External Code"
     buyerCode:
      type: string
      description: "Buyer Code"
     buyerDivision:
      type: string
      description: "Buyer Division"
     sellerCode:
      type: string
      description: "Seller Code"
     sellerDivision:
      type: string
      description: "Seller Division"
 ScfTmNcAddressMasterDTO:
  type: object
  properties:
     addressLine1:
      type: string
      description: "Address Line1"
     addressLine2:
      type: string
      description: "Address Line2"
     addressLine3:
      type: string
      description: "Address Line3"
     addressLine4:
      type: string
      description: "Address Line4"
     addressType:
      type: string
      description: "Address Type"
     country:
      type: string
      description: "Country"
     countryName:
      type: string
      description: "Country Name"
     id:
      type: string
      description: "Id"
     nonCustMasterId:
      type: string
      description: "Non Customer Master Id"
     pin:
      type: string
      description: "Pin"
     street:
      type: string
      description: "Street"
     nonCustomerId:
      type: string
      description: "Non Customer Id"
 ScfTmNcRequestMasterDTO:
  type: object
  properties:
     anchorId:
      type: string
      description: "Anchor Id"
     anchorName:
      type: string
      description: "Anchor Name"
     id:
      type: string
      description: "Id"
     nonCustomerCode:
      type: string
      description: "Non Customer Code"
     nonCustMasterId:
      type: string
      description: "Non Customer Master Id"
     status:
      type: string
      description: "Status"
     nonCustomerId:
      type: string
      description: "Non Customer Id"
  required:
   - anchorId
 ModListKeyDto:
  type: object
  properties:
   modNos:
    type: array
    items:
     type: integer
   remarks:
    type: string
 KeyDto:
  type: object
  properties:
   modNo:
    type: integer
   remarks:
    type: string
 ResponseDto:
  type: object
  properties:
   id:
    type: string
   status:
    type: string
   codes:
    type: array
    items:
     $ref: "#/definitions/ResponseCode"
   requestId:
    type: string
 ResponseCode:
  type: object
  properties:
   Code:
    type: string
   Desc:
    type: string
   Type:
    type: string
   Language:
    type: string
   args:
    type: array
    items:
     type: object
   arg:
    type: string
 GenericDto:
  allOf:
   - type: object
     discriminator: resource_type
 ScfTmNonCustomerMasterCollection: 
  description: "Collection of noncustomer."
  type: "object"
  properties:
   data:
    type: "array"
    items: 
     $ref: "#/definitions/ScfTmNonCustomerMasterDTO"
   paging:
    $ref: "#/definitions/PagingDto"
 ScfTmNonCustomerCodeCollection: 
  description: "Collection of unique non-customer codes."
  type: "object"
  properties:
   data:
    type: "array"
    items: 
     type: "string"
   paging:
    $ref: "#/definitions/PagingDto"
 PagingDto:
  type: object
  properties:
   totalResults:
    type: integer
 ResponseDtoWrapper:
  type: object
  properties:
   messages:
    $ref: "#/definitions/ResponseDto"
   data:
    $ref: "#/definitions/ResponseResourceSupport"
 ResponseResourceSupport:
  type: object
 ScfTmNonCustomerMasterWrapperDTO:
  type: object
  properties:
   data:
    $ref: "#/definitions/ScfTmNonCustomerMasterDTO"
 ScfTmNonCustomerRequestDTO:
  type: object
  properties:
    data:
     $ref: "#/definitions/ScfTmNonCustomerMasterDTO"
    autoApproval:
     type: string
     description: "Auto Approval"
 ScfTmNonCustomerMasterRequestList:
  type: object
  allOf:
  - $ref: '#/definitions/GenericDto'
  - type: object
    properties :
     data:
      type: array
      items:
       $ref: '#/definitions/ScfTmNonCustomerMasterDTO'
 NonCustIdResponse:
  type: object
  properties:
    nonCustomerId:
     type: "string" 
     description: "Non Customer Id"
 ScfTmNonCustomerMasterOldCollection: 
  description: "Collection of Spokes."
  type: "object"
  properties:
   data:
    type: "array"
    items: 
     $ref: "#/definitions/ScfTmNonCustomerDTO"
   paging:
    $ref: "#/definitions/PagingDto"
 ScfTmNonCustomerDTO:
  type: object
  allOf:
  - $ref: '#/definitions/GenericDto'
  - type: object
    properties:
     category:
      type: string
      description: "Category"
     cif:
      type: string
      description: "Cif"
     countryCode:
      type: string
      description: "Country Code"
     email:
      type: string
      description: "Email"
     faxNumber:
      type: string
      description: "Fax Number"
     giin:
      type: string
      description: "Giin"
     industry:
      type: string
      description: "Industry"
     mobileNumber:
      type: string
      description: "Mobile Number"
     name:
      type: string
      description: "Name"
     nonCustomerId:
      type: string
      description: "Non Customer Id"
     phoneNumber:
      type: string
      description: "Phone Number"
     prefferedCommMode:
      type: string
      description: "Preferred Comm Mode"
     registrationNumber:
      type: string
      description: "Registration Number"
     shortName:
      type: string
      description: "Short Name"
     taxRefNo1:
      type: string
      description: "Tax Reference Number1"
     taxRefNo2:
      type: string
      description: "Tax Reference Number2"
     fatca:
      type: string
      description: "Fatca"
     action:
      type: string
      description: "Action"
     counterPartyCategory:
      type: string
      description: "Counter Party Category"
     ScfTmNcAddressMasterDTO:
      type: array
      items:
       $ref: '#/definitions/ScfTmNcAddressMasterDTO'
     ScfTmNcRequestMasterDTO:
      type: array
      items:
       $ref: '#/definitions/ScfTmNcRequestMasterDTO'
 
 ScfTmNonCustRequestDTO:
  type: object
  properties:
   data:
    $ref: "#/definitions/ScfTmNonCustomerDTO"
   autoApproval:
    type: string
    description: "Auto Approval"