#-----------------------------------------------------------------------------------------------------
#  **
#  ** File Name  : common.yaml
#  **
#  ** Module     : obscfcmtmsuppliercommoditymaster
#  ** 
#  ** This source is part of the Oracle FLEXCUBE  and is copyrighted by Oracle Financial Services Software Limited.  ** 
#  ** 
#  ** All rights reserved. No part of this work may be reproduced, stored in a retrieval system,
#  ** adopted or transmitted in any form or by any means, electronic, mechanical, photographic,
#  ** graphic, optic recording or otherwise, translated in any language or computer language,
#  ** without the prior written permission of Oracle Financial Services Software Limited.
#  ** 
#  ** Oracle Financial Services Software Limited.
#  ** 10-11, SDF I, SEEPZ, Andheri (East),
#  ** Mumbai - 400 096.
#  ** India
#  ** Copyright 2017-2018 Oracle Financial Services Software Limited. All rights reserved.
#  -------------------------------------------------------------------------------------------------------
#
#  CHANGE HISTORY
#
#  Created By         :  System
#
#  Bug Number         :  
#  Changed By         :  
#  Change Description :  
#  Change On          :  
#  Search String      :  
#  
#  -------------------------------------------------------------------------------------------------------
  

swagger: "2.0"
info:
 description: "This is a sample server obscfcmtmsuppliercommoditymaster server." 
 version: "1.0.0"
 title: "obscfcmtmsuppliercommoditymaster Service"
host: "api-plato.us.oracle.com:8080"
basePath: "/api/1.0"
consumes:
 - "application/json"
produces:
 - "application/json"
tags:
 - name: "obscfcmtmsuppliercommoditymaster"
   description: "this service is to manage crud operations in master datasegment  .........................................................................................................................................."

schemes:
- "https"

paths:

# path to create a new record and fetch all valid records or by intent
#
#  supprorted http methods POST and GET
#
# path example ../obscfcmtmsuppliercommoditymaster

 /obscfcmtmsuppliercommoditymaster:
  post:
   tags:
    - "obscfcmtmsuppliercommoditymaster"
   summary: "Adds a new obscfcmtmsuppliercommoditymaster."
   description: "Adds a new obscfcmtmsuppliercommoditymaster. Add additional information here for this endpoint."
   operationId: "saveRecord"
   parameters:
    - name: "obscfcmtmsuppliercommoditymaster" 
      in: "body" 
      description: "Request Body that contains data required for creating a new obscfcmtmsuppliercommoditymaster" 
      required: true
      schema:
       $ref: "#/definitions/ObscfcmTmSupplierCommodityMasterDTO"
   responses:
    201: 
     description: "Returns message of succes or failure " 
     headers:
      Location:
       description: "URL of newly created obscfcmtmsuppliercommoditymaster" 
       type: "string"
     schema:
       $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "obscfcmtmsuppliercommoditymaster"
   summary: "Get all valid obscfcmtmsuppliercommoditymaster."
   description:  "Get all valid obscfcmtmsuppliercommoditymaster. This endpoints will be used to Get all valid obscfcmtmsuppliercommoditymaster maintenance records."
   operationId: "getAll"
   parameters:
   - name: includecloseandunauth
     in: query
     description: includecloseandunauth need to be set to fetch summary record, defult value is false
     required: false
     type: boolean
   - name: offset
     in: query
     description: offset is starting no of records to be fetched
     required: false
     type: integer
   - name: limit
     in: query
     description: limit is maximum no of records to be fetched
     required: false
     type: integer
   responses:
    201:
     description: "Returns message of success or failure"
     headers: 
      Location:
       description: ""
       type: "string"
     schema:
       $ref: "#/definitions/ObscfcmTmSupplierCommodityMasterCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"

# path to modify existing record, delete existing record and fetch valid records by id or by intent( includes latestRecord, version no)
#
#  supprorted http methods PUT, DELETE and GET
#
# path examples----
#   PUT       .../obscfcmtmsuppliercommoditymaster/xxx
#   DELETE    .../obscfcmtmsuppliercommoditymaster/xxx
#   GET       .../obscfcmtmsuppliercommoditymaster/xxx
#   GET       .../obscfcmtmsuppliercommoditymaster/xxx?version=latestrecord
#   GET       .../obscfcmtmsuppliercommoditymaster/xxx?version=1

 /obscfcmtmsuppliercommoditymaster/{id}:
  put:
   tags:
    - "obscfcmtmsuppliercommoditymaster"
   summary: "Update an existing obscfcmtmsuppliercommoditymaster."
   description:  "Update an existing obscfcmtmsuppliercommoditymaster."
   operationId: "modifyRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "key of the obscfcmtmsuppliercommoditymaster Maintenance"
      required: true
      type: "string"
    - name: "obscfcmtmsuppliercommoditymaster"
      in: "body"
      description: "Request Body that contains data required for updating an existing obscfcmtmsuppliercommoditymaster"
      required: true
      schema:
       $ref: "#/definitions/ObscfcmTmSupplierCommodityMasterDTO"
   responses:
    200:
     description: "Returns updated obscfcmtmsuppliercommoditymaster"
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "obscfcmtmsuppliercommoditymaster"
   summary: "Retrieves the obscfcmtmsuppliercommoditymaster by ID."
   description:  "Retrieves the obscfcmtmsuppliercommoditymaster by ID."
   operationId: "getById"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
    - name: "version"
      in: "query"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the obscfcmtmsuppliercommoditymaster based on given id."
     schema:
      $ref: "#/definitions/ObscfcmTmSupplierCommodityMasterWrapperModel"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
  delete:
   tags:
    - "obscfcmtmsuppliercommoditymaster"
   summary: "Deletes the obscfcmtmsuppliercommoditymaster identified by given ID."
   description:  "Deletes the obscfcmtmsuppliercommoditymaster identified by given ID. Add additional information here for the this endpoint."
   operationId: "delete"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the obscfcmtmsuppliercommoditymaster maintenance"
      required: true
      type: "string"
    - name: "obscfcmtmsuppliercommoditymaster"
      in: "body"
      description: Request body contain obscfcmtmsuppliercommoditymaster and Modification no of obscfcmtmsuppliercommoditymaster maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to Authorize existing record.
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../obscfcmtmsuppliercommoditymaster/xxx/approve

 /obscfcmtmsuppliercommoditymaster/{id}/approve:
  patch:
   tags:
    - "obscfcmtmsuppliercommoditymaster"
   summary: "Authorize the obscfcmtmsuppliercommoditymaster by given ID."
   description:  "Authorize the obscfcmtmsuppliercommoditymaster identified by given ID."
   operationId: "authorize"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the obscfcmtmsuppliercommoditymaster maintenance"
      required: true
      type: "string"
    - name: "obscfcmtmsuppliercommoditymaster"
      in: "body"
      description: Request body contain obscfcmtmsuppliercommoditymaster and Modification no of obscfcmtmsuppliercommoditymaster maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to close existing record
#
#  supported http methods PATCH
#
# path examples----
#   PATCH       .../obscfcmtmsuppliercommoditymaster/xxx/close
 /obscfcmtmsuppliercommoditymaster/{id}/close:
  patch:
   tags:
    - "obscfcmtmsuppliercommoditymaster"
   summary: "Close the obscfcmtmsuppliercommoditymaster by given ID."
   description:  "Close the obscfcmtmsuppliercommoditymaster identified by given ID."
   operationId: "closeRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the obscfcmtmsuppliercommoditymaster maintenance"
      required: true
      type: "string"
    - name: "obscfcmtmsuppliercommoditymaster"
      in: "body"
      description: Request body contain obscfcmtmsuppliercommoditymaster and Modification no of obscfcmtmsuppliercommoditymaster maintenance which need to be closed"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to reopen existing record
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../obscfcmtmsuppliercommoditymaster/xxx/reopen

 /obscfcmtmsuppliercommoditymaster/{id}/reopen:
  patch:
   tags:
    - "obscfcmtmsuppliercommoditymaster"
   summary: "reopen the obscfcmtmsuppliercommoditymaster by given ID."
   description:  "reopen the obscfcmtmsuppliercommoditymaster identified by given ID."
   operationId: "reopenRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the obscfcmtmsuppliercommoditymaster maintenance"
      required: true
      type: "string"
    - name: "obscfcmtmsuppliercommoditymaster"
      in: "body"
      description: Request body contain obscfcmtmsuppliercommoditymaster and Modification no of obscfcmtmsuppliercommoditymaster maintenance which need to be reopen"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to get all unauthorized records
#
#  supprorted http methods GET
#
# path examples----
#   GET       .../obscfcmtmsuppliercommoditymaster/xxx/unauthorized

 /obscfcmtmsuppliercommoditymaster/{id}/unauthorized:
  get:
   tags:
    - "obscfcmtmsuppliercommoditymaster"
   summary: "Retrives the obscfcmtmsuppliercommoditymaster by given ID."
   description:  "Retrives the obscfcmtmsuppliercommoditymaster identified by given ID."
   operationId: "authQuery"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the obscfcmtmsuppliercommoditymaster based on given id."
     schema:
       $ref: "#/definitions/ObscfcmTmSupplierCommodityMasterCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to  history record for remitterid
#
#  supprorted http methods GETS
#
# path examples----
#   GET       .../obscfcmtmsuppliercommoditymaster/xxx/history

 /obscfcmtmsuppliercommoditymaster/{id}/history:
  get:
   tags:
    - "obscfcmtmsuppliercommoditymaster"
   summary: "Retrives the obscfcmtmsuppliercommoditymaster by given ID."
   description:  "Retrives the obscfcmtmsuppliercommoditymaster by ID."
   operationId: "getHistory"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the obscfcmtmsuppliercommoditymaster based on given id."
     schema:
       $ref: "#/definitions/ObscfcmTmSupplierCommodityMasterCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
 /obscfcmtmsuppliercommoditymaster/{id}/isValid:
  get:
   tags:
    - "obscfcmtmsuppliercommoditymaster"
   summary: "Validate the ObscfcmTmSupplierCommodityMaster by ResourceId"
   description:  "Validate the ObscfcmTmSupplierCommodityMaster by ResourceId"
   operationId: "validateObscfcmTmSupplierCommodityMaster"
   parameters:
    - name: "resourceId"
      in: "path"
      description: "resourceId of the user that needs to be validated"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the boolean based on validation of given resource id."
     schema:
       $ref: "#/definitions/boolean"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
definitions:
 ObscfcmTmSupplierCommodityMasterDTO:
  type: object
  allOf:
  - $ref: '#/definitions/GenericDto'
  - type: object
    properties:
     id:
      type: string
      description: ""
     action:
      type: string
      description: ""
     autoAuth:
      type: string
      description: ""
     modificationStatus:
      type: string
      description: ""   
     datasegmentCode:
      type: string
      description: ''
     checkerRemarks:
      type: string
      description: '' 
     makerRemarks:
      type: string
      description: ''                            
     supplierId:
      type: string
      description: ""
     supplierName:
      type: string
      description: ""
     ObscfcmTmSupplierCommodityDetailsDTO:
      type: array
      items:
       $ref: '#/definitions/ObscfcmTmSupplierCommodityDetailsDTO'
 ObscfcmTmSupplierCommodityDetailsDTO:
  type: object
  properties:
     id:
      type: string
      description: "ID"
     commodityCode:
      type: string
      description: "Commodity Code"
     commodityName:
      type: string
      description: "Commodity Name"
     countryOfOrigin:
      type: string
      description: "Country of origin"
     description:
      type: string
      description: "Description"
     discount:
      type: number
      description: "Discount"
     supplierCommodityMasterId:
      type: string
      description: "Supplier Commodity Master Id"
     tax:
      type: number
      description: "Tax"
     year:
      type: number
      description: "Year"
     ObscfcmTmCommodityUnitsDTO:
       type: array
       items:
         $ref: '#/definitions/ObscfcmTmCommodityUnitsDTO'
 ObscfcmTmCommodityUnitsDTO:
  type: object
  properties:
     id:
      type: string
      description: "Id"
     supplierCommodityDetailsId:
      type: string
      description: "Supplier Commodity Details Id"
     maximumUnit:
      type: number
      description: "Maximum Unit"
     minimumUnit:
      type: number
      description: "Minimum Unit"
     unit:
      type: string
      description: "Unit"
     unitPrice:
      type: number
      description: "Unit Price"
 ModListKeyDto:
  type: object
  properties:
   modNos:
    type: array
    items:
     type: integer
   remarks:
    type: string
 KeyDto:
  type: object
  properties:
   modNo:
    type: integer
   remarks:
    type: string
 ResponseDto:
  type: object
  properties:
   id:
    type: string
   status:
    type: string
   codes:
    type: array
    items:
     $ref: "#/definitions/ResponseCode"
   requestId:
    type: string
 ResponseCode:
  type: object
  properties:
   Code:
    type: string
   Desc:
    type: string
   Type:
    type: string
   Language:
    type: string
   args:
    type: array
    items:
     type: object
   arg:
    type: string
 GenericDto:
  allOf:
   - type: object
     discriminator: resource_type
 ObscfcmTmSupplierCommodityMasterCollection: 
  description: "Collection of obscfcmtmsuppliercommoditymaster."
  type: "object"
  properties:
   data:
    type: "array"
    items: 
     $ref: "#/definitions/ObscfcmTmSupplierCommodityMasterDTO"
   paging:
    $ref: "#/definitions/PagingDto"
 PagingDto:
  type: object
  properties:
   totalResults:
    type: integer
 ResponseDtoWrapper:
  type: object
  properties:
   messages:
    $ref: "#/definitions/ResponseDto"
   data:
    $ref: "#/definitions/ResponseResourceSupport"
 ResponseResourceSupport:
  type: object
 ObscfcmTmSupplierCommodityMasterWrapperModel:
  type: object
  properties:
   data:
    $ref: "#/definitions/ObscfcmTmSupplierCommodityMasterDTO"
 ObscfcmTmSupCommodityDetailsCollection:
   description: "Collection of commodity."
   type: "object"
   properties:
     data:
       type: "array"
       items:
         $ref: "#/definitions/ObscfcmTmSupplierCommodityDetailsDTO"
     paging:
       $ref: "#/definitions/PagingDto"
