#-----------------------------------------------------------------------------------------------------
#  **
#  ** File Name  : common.yaml
#  **
#  ** Module     : scftmcustdivisionmaster
#  ** 
#  ** This source is part of the Oracle FLEXCUBE  and is copyrighted by Oracle Financial Services Software Limited.  ** 
#  ** 
#  ** All rights reserved. No part of this work may be reproduced, stored in a retrieval system,
#  ** adopted or transmitted in any form or by any means, electronic, mechanical, photographic,
#  ** graphic, optic recording or otherwise, translated in any language or computer language,
#  ** without the prior written permission of Oracle Financial Services Software Limited.
#  ** 
#  ** Oracle Financial Services Software Limited.
#  ** 10-11, SDF I, SEEPZ, Andheri (East),
#  ** Mumbai - 400 096.
#  ** India
#  ** Copyright 2017-2018 Oracle Financial Services Software Limited. All rights reserved.
#  -------------------------------------------------------------------------------------------------------
#
#  CHANGE HISTORY
#
#  Created By         :  System
#
#  Bug Number         :  
#  Changed By         :  
#  Change Description :  
#  Change On          :  
#  Search String      :  
#  
#  -------------------------------------------------------------------------------------------------------
  

swagger: "2.0"
info:
 description: "This is a sample server scftmcustdivisionmaster server." 
 version: "1.0.0"
 title: "scftmcustdivisionmaster Service"
host: "api-plato.us.oracle.com:8080"
basePath: "/api/1.0"
consumes:
 - "application/json"
produces:
 - "application/json"
tags:
 - name: "scftmcustdivisionmaster"
   description: "this service is to manage crud operations in master datasegment  .........................................................................................................................................."

schemes:
- "https"

paths:

# path to create a new record and fetch all valid records or by intent
#
#  supprorted http methods POST and GET
#
# path example ../scftmcustdivisionmaster

 /scftmcustdivisionmaster:
  post:
   tags:
    - "scftmcustdivisionmaster"
   summary: "Adds a new scftmcustdivisionmaster."
   description: "Adds a new scftmcustdivisionmaster. Add additional information here for this endpoint."
   operationId: "saveRecord"
   parameters:
    - name: "scftmcustdivisionmaster" 
      in: "body" 
      description: "Request Body that contains data required for creating a new scftmcustdivisionmaster" 
      required: true
      schema:
       $ref: "#/definitions/ScfTmCustDivisionMasterDTO"
   responses:
    201: 
     description: "Returns message of succes or failure " 
     headers:
      Location:
       description: "URL of newly created scftmcustdivisionmaster" 
       type: "string"
     schema:
       $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "scftmcustdivisionmaster"
   summary: "Get all valid scftmcustdivisionmaster."
   description:  "Get all valid scftmcustdivisionmaster. This endpoints will be used to Get all valid scftmcustdivisionmaster maintenance records."
   operationId: "getAll"
   parameters:
   - name: includecloseandunauth
     in: query
     description: includecloseandunauth need to be set to fetch summary record, defult value is false
     required: false
     type: boolean
   - name: offset
     in: query
     description: offset is starting no of records to be fetched
     required: false
     type: integer
   - name: limit
     in: query
     description: limit is maximum no of records to be fetched
     required: false
     type: integer
   responses:
    201:
     description: "Returns message of success or failure"
     headers: 
      Location:
       description: "Location"
       type: "string"
     schema:
       $ref: "#/definitions/ScfTmCustDivisionMasterCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"

# path to modify existing record, delete existing record and fetch valid records by id or by intent( includes latestRecord, version no)
#
#  supprorted http methods PUT, DELETE and GET
#
# path examples----
#   PUT       .../scftmcustdivisionmaster/xxx
#   DELETE    .../scftmcustdivisionmaster/xxx
#   GET       .../scftmcustdivisionmaster/xxx
#   GET       .../scftmcustdivisionmaster/xxx?version=latestrecord
#   GET       .../scftmcustdivisionmaster/xxx?version=1

 /scftmcustdivisionmaster/{id}:
  put:
   tags:
    - "scftmcustdivisionmaster"
   summary: "Update an existing scftmcustdivisionmaster."
   description:  "Update an existing scftmcustdivisionmaster."
   operationId: "modifyRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "key of the scftmcustdivisionmaster Maintenance"
      required: true
      type: "string"
    - name: "scftmcustdivisionmaster"
      in: "body"
      description: "Request Body that contains data required for updating an existing scftmcustdivisionmaster"
      required: true
      schema:
       $ref: "#/definitions/ScfTmCustDivisionMasterDTO"
   responses:
    200:
     description: "Returns updated scftmcustdivisionmaster"
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "scftmcustdivisionmaster"
   summary: "Retrieves the scftmcustdivisionmaster by ID."
   description:  "Retrieves the scftmcustdivisionmaster by ID."
   operationId: "getById"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
    - name: "version"
      in: "query"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the scftmcustdivisionmaster based on given id."
     schema:
      $ref: "#/definitions/ScfTmCustDivisionMasterWrapperModel"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
  delete:
   tags:
    - "scftmcustdivisionmaster"
   summary: "Deletes the scftmcustdivisionmaster identified by given ID."
   description:  "Deletes the scftmcustdivisionmaster identified by given ID. Add additional information here for the this endpoint."
   operationId: "delete"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the scftmcustdivisionmaster maintenance"
      required: true
      type: "string"
    - name: "scftmcustdivisionmaster"
      in: "body"
      description: Request body contain scftmcustdivisionmaster and Modification no of scftmcustdivisionmaster maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to Authorize existing record.
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../scftmcustdivisionmaster/xxx/approve

 /scftmcustdivisionmaster/{id}/approve:
  patch:
   tags:
    - "scftmcustdivisionmaster"
   summary: "Authorize the scftmcustdivisionmaster by given ID."
   description:  "Authorize the scftmcustdivisionmaster identified by given ID."
   operationId: "authorize"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the scftmcustdivisionmaster maintenance"
      required: true
      type: "string"
    - name: "scftmcustdivisionmaster"
      in: "body"
      description: Request body contain scftmcustdivisionmaster and Modification no of scftmcustdivisionmaster maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to close existing record
#
#  supported http methods PATCH
#
# path examples----
#   PATCH       .../scftmcustdivisionmaster/xxx/close
 /scftmcustdivisionmaster/{id}/close:
  patch:
   tags:
    - "scftmcustdivisionmaster"
   summary: "Close the scftmcustdivisionmaster by given ID."
   description:  "Close the scftmcustdivisionmaster identified by given ID."
   operationId: "closeRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the scftmcustdivisionmaster maintenance"
      required: true
      type: "string"
    - name: "scftmcustdivisionmaster"
      in: "body"
      description: Request body contain scftmcustdivisionmaster and Modification no of scftmcustdivisionmaster maintenance which need to be closed"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to reopen existing record
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../scftmcustdivisionmaster/xxx/reopen

 /scftmcustdivisionmaster/{id}/reopen:
  patch:
   tags:
    - "scftmcustdivisionmaster"
   summary: "reopen the scftmcustdivisionmaster by given ID."
   description:  "reopen the scftmcustdivisionmaster identified by given ID."
   operationId: "reopenRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the scftmcustdivisionmaster maintenance"
      required: true
      type: "string"
    - name: "scftmcustdivisionmaster"
      in: "body"
      description: Request body contain scftmcustdivisionmaster and Modification no of scftmcustdivisionmaster maintenance which need to be reopen"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to get all unauthorized records
#
#  supprorted http methods GET
#
# path examples----
#   GET       .../scftmcustdivisionmaster/xxx/unauthorized

 /scftmcustdivisionmaster/{id}/unauthorized:
  get:
   tags:
    - "scftmcustdivisionmaster"
   summary: "Retrives the scftmcustdivisionmaster by given ID."
   description:  "Retrives the scftmcustdivisionmaster identified by given ID."
   operationId: "authQuery"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the scftmcustdivisionmaster based on given id."
     schema:
       $ref: "#/definitions/ScfTmCustDivisionMasterCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to  history record for remitterid
#
#  supprorted http methods GETS
#
# path examples----
#   GET       .../scftmcustdivisionmaster/xxx/history

 /scftmcustdivisionmaster/{id}/history:
  get:
   tags:
    - "scftmcustdivisionmaster"
   summary: "Retrives the scftmcustdivisionmaster by given ID."
   description:  "Retrives the scftmcustdivisionmaster by ID."
   operationId: "getHistory"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the scftmcustdivisionmaster based on given id."
     schema:
       $ref: "#/definitions/ScfTmCustDivisionMasterCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
 /scftmcustdivisionmaster/{id}/isValid:
  get:
   tags:
    - "scftmcustdivisionmaster"
   summary: "Validate the ScfTmCustDivisionMaster by ResourceId"
   description:  "Validate the ScfTmCustDivisionMaster by ResourceId"
   operationId: "validateScfTmCustDivisionMaster"
   parameters:
    - name: "resourceId"
      in: "path"
      description: "resourceId of the user that needs to be validated"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the boolean based on validation of given resource id."
     schema:
       $ref: "#/definitions/boolean"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
definitions:
 ScfTmCustDivisionMasterDTO:
  type: object
  allOf:
  - $ref: '#/definitions/GenericDto'
  - type: object
    properties:
     id:
      type: string
      description: "ID"
     action:
      type: string
      description: "Action"
     autoAuth:
      type: string
      description: "Auto Authorization"
     modificationStatus:
      type: string
      description: "Modification Status"
     datasegmentCode:
      type: string
      description: 'Datasegment Code'
     checkerRemarks:
      type: string
      description: 'Checker Remarks'
     makerRemarks:
      type: string
      description: 'Maker Remarks'
     partyId:
      type: string
      description: "Party ID"
     partyName:
      type: string
      description: "Party Name"
     ScfTmCustDivisionCodeDTO:
      type: array
      items:
       $ref: '#/definitions/ScfTmCustDivisionCodeDTO'
 ScfTmCustDivisionCodeDTO:
  type: object
  properties:
     id:
      type: string
      description: "ID"
     countryCode:
      type: string
      description: "Country Code"
     countryName:
      type: string
      description: "Country Name"
     custDivisionMasterId:
      type: string
      description: "Customer Division Master ID"
     divisionAddressLine1:
      type: string
      description: "Address Line 1"
     divisionAddressLine2:
      type: string
      description: "Address Line 2"
     divisionAddressLine3:
      type: string
      description: "Address Line 3"
     divisionAddressLine4:
      type: string
      description: "Address Line 4"
     divisionCode:
      type: string
      description: "Division Code"
     divisionName:
      type: string
      description: "Division Name"
     email:
      type: string
      description: "Email"
     partyId:
      type: string
      description: "Party ID"
     partyName:
      type: string
      description: "Party Name"
     telNo:
      type: string
      description: "Tell number"
     authStatus:
      type: string
      description: "Auth Status"
 ModListKeyDto:
  type: object
  properties:
   modNos:
    type: array
    items:
     type: integer
   remarks:
    type: string
 KeyDto:
  type: object
  properties:
   modNo:
    type: integer
   remarks:
    type: string
 ResponseDto:
  type: object
  properties:
   id:
    type: string
   status:
    type: string
   codes:
    type: array
    items:
     $ref: "#/definitions/ResponseCode"
   requestId:
    type: string
 ResponseCode:
  type: object
  properties:
   Code:
    type: string
   Desc:
    type: string
   Type:
    type: string
   Language:
    type: string
   args:
    type: array
    items:
     type: object
   arg:
    type: string
 GenericDto:
  allOf:
   - type: object
     discriminator: resource_type
 ScfTmCustDivisionMasterCollection: 
  description: "Collection of scftmcustdivisionmaster."
  type: "object"
  properties:
   data:
    type: "array"
    items: 
     $ref: "#/definitions/ScfTmCustDivisionMasterDTO"
   paging:
    $ref: "#/definitions/PagingDto"
 PagingDto:
  type: object
  properties:
   totalResults:
    type: integer
 ResponseDtoWrapper:
  type: object
  properties:
   messages:
    $ref: "#/definitions/ResponseDto"
   data:
    $ref: "#/definitions/ResponseResourceSupport"
 ResponseResourceSupport:
  type: object
 ScfTmCustDivisionMasterWrapperModel:
  type: object
  properties:
   data:
    $ref: "#/definitions/ScfTmCustDivisionMasterDTO"
