#-----------------------------------------------------------------------------------------------------
#  **
#  ** File Name  : common.yaml
#  **
#  ** Module     : scfcmtmaccentrycodemaster
#  ** 
#  ** This source is part of the Oracle FLEXCUBE  and is copyrighted by Oracle Financial Services Software Limited.  ** 
#  ** 
#  ** All rights reserved. No part of this work may be reproduced, stored in a retrieval system,
#  ** adopted or transmitted in any form or by any means, electronic, mechanical, photographic,
#  ** graphic, optic recording or otherwise, translated in any language or computer language,
#  ** without the prior written permission of Oracle Financial Services Software Limited.
#  ** 
#  ** Oracle Financial Services Software Limited.
#  ** 10-11, SDF I, SEEPZ, Andheri (East),
#  ** Mumbai - 400 096.
#  ** India
#  ** Copyright 2017-2018 Oracle Financial Services Software Limited. All rights reserved.
#  -------------------------------------------------------------------------------------------------------
#
#  CHANGE HISTORY
#
#  Created By         :  System
#
#  Bug Number         :  
#  Changed By         :  
#  Change Description :  
#  Change On          :  
#  Search String      :  
#  
#  -------------------------------------------------------------------------------------------------------
  

swagger: "2.0"
info:
 description: "This is a sample server scfcmtmaccentrycodemaster server." 
 version: "1.0.0"
 title: "scfcmtmaccentrycodemaster Service"
host: "api-plato.us.oracle.com:8080"
basePath: "/api/1.0"
consumes:
 - "application/json"
produces:
 - "application/json"
tags:
 - name: "scfcmtmaccentrycodemaster"
   description: "this service is to manage crud operations in master datasegment  .........................................................................................................................................."

schemes:
- "https"

paths:

# path to create a new record and fetch all valid records or by intent
#
#  supprorted http methods POST and GET
#
# path example ../scfcmtmaccentrycodemaster

 /scfcmtmaccentrycodemaster:
  post:
   tags:
    - "scfcmtmaccentrycodemaster"
   summary: "Adds a new scfcmtmaccentrycodemaster."
   description: "Adds a new scfcmtmaccentrycodemaster. Add additional information here for this endpoint."
   operationId: "saveRecord"
   parameters:
    - name: "scfcmtmaccentrycodemaster" 
      in: "body" 
      description: "Request Body that contains data required for creating a new scfcmtmaccentrycodemaster" 
      required: true
      schema:
       $ref: "#/definitions/ScfTmAccEntryCodeMasterDTO"
   responses:
    201: 
     description: "Returns message of succes or failure " 
     headers:
      Location:
       description: "URL of newly created scfcmtmaccentrycodemaster" 
       type: "string"
     schema:
       $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "scfcmtmaccentrycodemaster"
   summary: "Get all valid scfcmtmaccentrycodemaster."
   description:  "Get all valid scfcmtmaccentrycodemaster. This endpoints will be used to Get all valid scfcmtmaccentrycodemaster maintenance records."
   operationId: "getAll"
   parameters:
   - name: includecloseandunauth
     in: query
     description: includecloseandunauth need to be set to fetch summary record, defult value is false
     required: false
     type: boolean
   - name: offset
     in: query
     description: offset is starting no of records to be fetched
     required: false
     type: integer
   - name: limit
     in: query
     description: limit is maximum no of records to be fetched
     required: false
     type: integer
   responses:
    201:
     description: "Returns message of success or failure"
     headers: 
      Location:
       description: ""
       type: "string"
     schema:
       $ref: "#/definitions/ScfcmTmAccEntryCodeMasterCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"

# path to modify existing record, delete existing record and fetch valid records by id or by intent( includes latestRecord, version no)
#
#  supprorted http methods PUT, DELETE and GET
#
# path examples----
#   PUT       .../scfcmtmaccentrycodemaster/xxx
#   DELETE    .../scfcmtmaccentrycodemaster/xxx
#   GET       .../scfcmtmaccentrycodemaster/xxx
#   GET       .../scfcmtmaccentrycodemaster/xxx?version=latestrecord
#   GET       .../scfcmtmaccentrycodemaster/xxx?version=1

 /scfcmtmaccentrycodemaster/{id}:
  put:
   tags:
    - "scfcmtmaccentrycodemaster"
   summary: "Update an existing scfcmtmaccentrycodemaster."
   description:  "Update an existing scfcmtmaccentrycodemaster."
   operationId: "modifyRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "key of the scfcmtmaccentrycodemaster Maintenance"
      required: true
      type: "string"
    - name: "scfcmtmaccentrycodemaster"
      in: "body"
      description: "Request Body that contains data required for updating an existing scfcmtmaccentrycodemaster"
      required: true
      schema:
       $ref: "#/definitions/ScfTmAccEntryCodeMasterDTO"
   responses:
    200:
     description: "Returns updated scfcmtmaccentrycodemaster"
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "scfcmtmaccentrycodemaster"
   summary: "Retrieves the scfcmtmaccentrycodemaster by ID."
   description:  "Retrieves the scfcmtmaccentrycodemaster by ID."
   operationId: "getById"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
    - name: "version"
      in: "query"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the scfcmtmaccentrycodemaster based on given id."
     schema:
      $ref: "#/definitions/ScfcmTmAccEntryCodeMasterWrapperModel"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
  delete:
   tags:
    - "scfcmtmaccentrycodemaster"
   summary: "Deletes the scfcmtmaccentrycodemaster identified by given ID."
   description:  "Deletes the scfcmtmaccentrycodemaster identified by given ID. Add additional information here for the this endpoint."
   operationId: "delete"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the scfcmtmaccentrycodemaster maintenance"
      required: true
      type: "string"
    - name: "scfcmtmaccentrycodemaster"
      in: "body"
      description: Request body contain scfcmtmaccentrycodemaster and Modification no of scfcmtmaccentrycodemaster maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to Authorize existing record.
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../scfcmtmaccentrycodemaster/xxx/approve

 /scfcmtmaccentrycodemaster/{id}/approve:
  patch:
   tags:
    - "scfcmtmaccentrycodemaster"
   summary: "Authorize the scfcmtmaccentrycodemaster by given ID."
   description:  "Authorize the scfcmtmaccentrycodemaster identified by given ID."
   operationId: "authorize"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the scfcmtmaccentrycodemaster maintenance"
      required: true
      type: "string"
    - name: "scfcmtmaccentrycodemaster"
      in: "body"
      description: Request body contain scfcmtmaccentrycodemaster and Modification no of scfcmtmaccentrycodemaster maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to close existing record
#
#  supported http methods PATCH
#
# path examples----
#   PATCH       .../scfcmtmaccentrycodemaster/xxx/close
 /scfcmtmaccentrycodemaster/{id}/close:
  patch:
   tags:
    - "scfcmtmaccentrycodemaster"
   summary: "Close the scfcmtmaccentrycodemaster by given ID."
   description:  "Close the scfcmtmaccentrycodemaster identified by given ID."
   operationId: "closeRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the scfcmtmaccentrycodemaster maintenance"
      required: true
      type: "string"
    - name: "scfcmtmaccentrycodemaster"
      in: "body"
      description: Request body contain scfcmtmaccentrycodemaster and Modification no of scfcmtmaccentrycodemaster maintenance which need to be closed"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to reopen existing record
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../scfcmtmaccentrycodemaster/xxx/reopen

 /scfcmtmaccentrycodemaster/{id}/reopen:
  patch:
   tags:
    - "scfcmtmaccentrycodemaster"
   summary: "reopen the scfcmtmaccentrycodemaster by given ID."
   description:  "reopen the scfcmtmaccentrycodemaster identified by given ID."
   operationId: "reopenRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the scfcmtmaccentrycodemaster maintenance"
      required: true
      type: "string"
    - name: "scfcmtmaccentrycodemaster"
      in: "body"
      description: Request body contain scfcmtmaccentrycodemaster and Modification no of scfcmtmaccentrycodemaster maintenance which need to be reopen"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to get all unauthorized records
#
#  supprorted http methods GET
#
# path examples----
#   GET       .../scfcmtmaccentrycodemaster/xxx/unauthorized

 /scfcmtmaccentrycodemaster/{id}/unauthorized:
  get:
   tags:
    - "scfcmtmaccentrycodemaster"
   summary: "Retrives the scfcmtmaccentrycodemaster by given ID."
   description:  "Retrives the scfcmtmaccentrycodemaster identified by given ID."
   operationId: "authQuery"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the scfcmtmaccentrycodemaster based on given id."
     schema:
       $ref: "#/definitions/ScfcmTmAccEntryCodeMasterCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to  history record for remitterid
#
#  supprorted http methods GETS
#
# path examples----
#   GET       .../scfcmtmaccentrycodemaster/xxx/history

 /scfcmtmaccentrycodemaster/{id}/history:
  get:
   tags:
    - "scfcmtmaccentrycodemaster"
   summary: "Retrives the scfcmtmaccentrycodemaster by given ID."
   description:  "Retrives the scfcmtmaccentrycodemaster by ID."
   operationId: "getHistory"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the scfcmtmaccentrycodemaster based on given id."
     schema:
       $ref: "#/definitions/ScfcmTmAccEntryCodeMasterCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
 /scfcmtmaccentrycodemaster/{id}/isValid:
  get:
   tags:
    - "scfcmtmaccentrycodemaster"
   summary: "Validate the ScfcmTmAccEntryCodeMaster by ResourceId"
   description:  "Validate the ScfcmTmAccEntryCodeMaster by ResourceId"
   operationId: "validateScfcmTmAccEntryCodeMaster"
   parameters:
    - name: "resourceId"
      in: "path"
      description: "resourceId of the user that needs to be validated"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the boolean based on validation of given resource id."
     schema:
       $ref: "#/definitions/boolean"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
definitions:
 ScfTmAccEntryCodeMasterDTO:
  type: object
  allOf:
  - $ref: '#/definitions/GenericDto'
  - type: object
    properties:
     id:
      type: string
      description: "Id"
     action:
      type: string
      description: "Action"
     autoAuth:
      type: string
      description: "Auto Auth"
     modificationStatus:
      type: string
      description: "Modification Status"   
     datasegmentCode:
      type: string
      description: "Data Segment Code"
     checkerRemarks:
      type: string
      description: "Checker Remarks" 
     makerRemarks:
      type: string
      description: "Maker Remarks"                                                       
     accEntryCode:
      type: string
      description: "Account Entry Code"
     accEntryDescription:
      type: string
      description: "Account Entry Description"
     applicationCode:
      type: string
      description: "Application Code"
     sequence:
      type: number
      description: "Sequence"
     ScfTmAccEntryCodeDetailsDTO:
      type: array
      items:
       $ref: '#/definitions/ScfTmAccEntryCodeDetailsDTO'
 ScfTmAccEntryCodeDetailsDTO:
  type: object
  properties:
     id:
      type: string
      description: "Id"
     accEntryCode:
      type: string
      description: "Account Entry Code"
     accEntryCodeMasterId:
      type: string
      description: "Account Entry Code Master Id"
     creditAccRoleCode:
      type: string
      description: "Credit Account Role Code"
     creditAmountType:
      type: string
      description: "Credit Amount Type"
     creditPartyType:
      type: string
      description: "Credit Party Type"
     creditSettlementMethod:
      type: string
      description: "Credit Settlement Method"
     debitAccRoleCode:
      type: string
      description: "Debit Account Role Code"
     debitAmountType:
      type: string
      description: "Debit Amount Type"
     debitPartyType:
      type: string
      description: "Debit Party Type"
     debitSettlementMethod:
      type: string
      description: "Debit Settlement Method"
 ModListKeyDto:
  type: object
  properties:
   modNos:
    type: array
    items:
     type: integer
   remarks:
    type: string
 KeyDto:
  type: object
  properties:
   modNo:
    type: integer
   remarks:
    type: string
 ResponseDto:
  type: object
  properties:
   id:
    type: string
   status:
    type: string
   codes:
    type: array
    items:
     $ref: "#/definitions/ResponseCode"
   requestId:
    type: string
 ResponseCode:
  type: object
  properties:
   Code:
    type: string
   Desc:
    type: string
   Type:
    type: string
   Language:
    type: string
   args:
    type: array
    items:
     type: object
   arg:
    type: string
 GenericDto:
  allOf:
   - type: object
     discriminator: resource_type
 ScfcmTmAccEntryCodeMasterCollection: 
  description: "Collection of scfcmtmaccentrycodemaster."
  type: "object"
  properties:
   data:
    type: "array"
    items: 
     $ref: "#/definitions/ScfTmAccEntryCodeMasterDTO"
   paging:
    $ref: "#/definitions/PagingDto"
 PagingDto:
  type: object
  properties:
   totalResults:
    type: integer
 ResponseDtoWrapper:
  type: object
  properties:
   messages:
    $ref: "#/definitions/ResponseDto"
   data:
    $ref: "#/definitions/ResponseResourceSupport"
 ResponseResourceSupport:
  type: object
 ScfcmTmAccEntryCodeMasterWrapperModel:
  type: object
  properties:
   data:
    $ref: "#/definitions/ScfTmAccEntryCodeMasterDTO"
