#-----------------------------------------------------------------------------------------------------
#  **
#  ** File Name  : common.yaml
#  **
#  ** Module     : scftmreconruledefinition
#  ** 
#  ** This source is part of the Oracle FLEXCUBE  and is copyrighted by Oracle Financial Services Software Limited.  ** 
#  ** 
#  ** All rights reserved. No part of this work may be reproduced, stored in a retrieval system,
#  ** adopted or transmitted in any form or by any means, electronic, mechanical, photographic,
#  ** graphic, optic recording or otherwise, translated in any language or computer language,
#  ** without the prior written permission of Oracle Financial Services Software Limited.
#  ** 
#  ** Oracle Financial Services Software Limited.
#  ** 10-11, SDF I, SEEPZ, Andheri (East),
#  ** Mumbai - 400 096.
#  ** India
#  ** Copyright 2017-2018 Oracle Financial Services Software Limited. All rights reserved.
#  -------------------------------------------------------------------------------------------------------
#
#  CHANGE HISTORY
#
#  Created By         :  System
#
#  Bug Number         :  
#  Changed By         :  
#  Change Description :  
#  Change On          :  
#  Search String      :  
#  
#  -------------------------------------------------------------------------------------------------------
  

swagger: "2.0"
info:
 description: "This is a sample server scftmreconruledefinition server." 
 version: "1.0.0"
 title: "scftmreconruledefinition Service"
host: "api-plato.us.oracle.com:8080"
basePath: "/api/1.0"
consumes:
 - "application/json"
produces:
 - "application/json"
tags:
 - name: "scftmreconruledefinition"
   description: "this service is to manage crud operations in master datasegment  .........................................................................................................................................."

schemes:
- "https"

paths:

# path to create a new record and fetch all valid records or by intent
#
#  supprorted http methods POST and GET
#
# path example ../scftmreconruledefinition

 /scftmreconruledefinition:
  post:
   tags:
    - "scftmreconruledefinition"
   summary: "Adds a new scftmreconruledefinition."
   description: "Adds a new scftmreconruledefinition. Add additional information here for this endpoint."
   operationId: "saveRecord"
   parameters:
    - name: "scftmreconruledefinition" 
      in: "body" 
      description: "Request Body that contains data required for creating a new scftmreconruledefinition" 
      required: true
      schema:
       $ref: "#/definitions/ScfTmReconRuleDefinitionDtoNew"
   responses:
    201: 
     description: "Returns message of succes or failure " 
     headers:
      Location:
       description: "URL of newly created scftmreconruledefinition" 
       type: "string"
     schema:
       $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "scftmreconruledefinition"
   summary: "Get all valid scftmreconruledefinition."
   description:  "Get all valid scftmreconruledefinition. This endpoints will be used to Get all valid scftmreconruledefinition maintenance records."
   operationId: "getAll"
   parameters:
   - name: includecloseandunauth
     in: query
     description: includecloseandunauth need to be set to fetch summary record, defult value is false
     required: false
     type: boolean
   - name: offset
     in: query
     description: offset is starting no of records to be fetched
     required: false
     type: integer
   - name: limit
     in: query
     description: limit is maximum no of records to be fetched
     required: false
     type: integer
   responses:
    201:
     description: "Returns message of success or failure"
     headers: 
      Location:
       description: ""
       type: "string"
     schema:
       $ref: "#/definitions/ScfTmReconRuleDefinitionCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"

# path to modify existing record, delete existing record and fetch valid records by id or by intent( includes latestRecord, version no)
#
#  supprorted http methods PUT, DELETE and GET
#
# path examples----
#   PUT       .../scftmreconruledefinition/xxx
#   DELETE    .../scftmreconruledefinition/xxx
#   GET       .../scftmreconruledefinition/xxx
#   GET       .../scftmreconruledefinition/xxx?version=latestrecord
#   GET       .../scftmreconruledefinition/xxx?version=1

 /scftmreconruledefinition/{id}:
  put:
   tags:
    - "scftmreconruledefinition"
   summary: "Update an existing scftmreconruledefinition."
   description:  "Update an existing scftmreconruledefinition."
   operationId: "modifyRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "key of the scftmreconruledefinition Maintenance"
      required: true
      type: "string"
    - name: "scftmreconruledefinition"
      in: "body"
      description: "Request Body that contains data required for updating an existing scftmreconruledefinition"
      required: true
      schema:
       $ref: "#/definitions/ScfTmReconRuleDefinitionDtoNew"
   responses:
    200:
     description: "Returns updated scftmreconruledefinition"
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "scftmreconruledefinition"
   summary: "Retrieves the scftmreconruledefinition by ID."
   description:  "Retrieves the scftmreconruledefinition by ID."
   operationId: "getById"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
    - name: "version"
      in: "query"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the scftmreconruledefinition based on given id."
     schema:
      $ref: "#/definitions/ScfTmReconRuleDefinitionWrapperModel"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
  delete:
   tags:
    - "scftmreconruledefinition"
   summary: "Deletes the scftmreconruledefinition identified by given ID."
   description:  "Deletes the scftmreconruledefinition identified by given ID. Add additional information here for the this endpoint."
   operationId: "delete"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the scftmreconruledefinition maintenance"
      required: true
      type: "string"
    - name: "scftmreconruledefinition"
      in: "body"
      description: Request body contain scftmreconruledefinition and Modification no of scftmreconruledefinition maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to Authorize existing record.
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../scftmreconruledefinition/xxx/approve

 /scftmreconruledefinition/{id}/approve:
  patch:
   tags:
    - "scftmreconruledefinition"
   summary: "Authorize the scftmreconruledefinition by given ID."
   description:  "Authorize the scftmreconruledefinition identified by given ID."
   operationId: "authorize"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the scftmreconruledefinition maintenance"
      required: true
      type: "string"
    - name: "scftmreconruledefinition"
      in: "body"
      description: Request body contain scftmreconruledefinition and Modification no of scftmreconruledefinition maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to close existing record
#
#  supported http methods PATCH
#
# path examples----
#   PATCH       .../scftmreconruledefinition/xxx/close
 /scftmreconruledefinition/{id}/close:
  patch:
   tags:
    - "scftmreconruledefinition"
   summary: "Close the scftmreconruledefinition by given ID."
   description:  "Close the scftmreconruledefinition identified by given ID."
   operationId: "closeRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the scftmreconruledefinition maintenance"
      required: true
      type: "string"
    - name: "scftmreconruledefinition"
      in: "body"
      description: Request body contain scftmreconruledefinition and Modification no of scftmreconruledefinition maintenance which need to be closed"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to reopen existing record
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../scftmreconruledefinition/xxx/reopen

 /scftmreconruledefinition/{id}/reopen:
  patch:
   tags:
    - "scftmreconruledefinition"
   summary: "reopen the scftmreconruledefinition by given ID."
   description:  "reopen the scftmreconruledefinition identified by given ID."
   operationId: "reopenRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the scftmreconruledefinition maintenance"
      required: true
      type: "string"
    - name: "scftmreconruledefinition"
      in: "body"
      description: Request body contain scftmreconruledefinition and Modification no of scftmreconruledefinition maintenance which need to be reopen"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to get all unauthorized records
#
#  supprorted http methods GET
#
# path examples----
#   GET       .../scftmreconruledefinition/xxx/unauthorized

 /scftmreconruledefinition/{id}/unauthorized:
  get:
   tags:
    - "scftmreconruledefinition"
   summary: "Retrives the scftmreconruledefinition by given ID."
   description:  "Retrives the scftmreconruledefinition identified by given ID."
   operationId: "authQuery"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the scftmreconruledefinition based on given id."
     schema:
       $ref: "#/definitions/ScfTmReconRuleDefinitionCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to  history record for remitterid
#
#  supprorted http methods GETS
#
# path examples----
#   GET       .../scftmreconruledefinition/xxx/history

 /scftmreconruledefinition/{id}/history:
  get:
   tags:
    - "scftmreconruledefinition"
   summary: "Retrives the scftmreconruledefinition by given ID."
   description:  "Retrives the scftmreconruledefinition by ID."
   operationId: "getHistory"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the scftmreconruledefinition based on given id."
     schema:
       $ref: "#/definitions/ScfTmReconRuleDefinitionCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
 /scftmreconruledefinition/{id}/isValid:
  get:
   tags:
    - "scftmreconruledefinition"
   summary: "Validate the ScfTmReconRuleDefinition by ResourceId"
   description:  "Validate the ScfTmReconRuleDefinition by ResourceId"
   operationId: "validateScfTmReconRuleDefinition"
   parameters:
    - name: "resourceId"
      in: "path"
      description: "resourceId of the user that needs to be validated"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the boolean based on validation of given resource id."
     schema:
       $ref: "#/definitions/boolean"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
definitions:
 ScfTmReconRuleDefinitionDtoNew:
  type: object
  allOf:
  - $ref: '#/definitions/GenericDto'
  - type: object
    properties:    
     action:
      type: string
      description: ""
     autoAuth:
      type: string
      description: ""
     modificationStatus:
      type: string
      description: ""   
     datasegmentCode:
      type: string
      description: ''
     checkerRemarks:
      type: string
      description: '' 
     makerRemarks:
      type: string
      description: ''                            
     allocationBasis:
      type: string
      description: ""
     baseEntity:
      type: string
      description: ""
     baseOnAttr:
      type: string
      description: ""
     genericCriteria:
      type: string
      description: ""
     reconCategory:
      type: string
      description: ""
     reconType:
      type: string
      description: ""
     ruleDescription:
      type: string
      description: ""
     ruleId:
      type: string
      description: ""
     txnControllerRefNo:
      type: string
      description: "Transaction Controller Reference Number"
     keyId:
      type: string
      description: "Key Id" 
     corporateId:
      type: string 
     groupsAndConditions:
      type: array
      items:
       $ref: '#/definitions/RuleElementsDTO'
     reconAllocationDTO:
      type: array
      items:
       $ref: '#/definitions/ReconAllocationDTO'
       
 RuleElementsDTO:
  type: object
  properties:
     id:
      type: string
      description: ""
     connectingOperator:
      type: string
      description: ""     
     depth:
      type: number
      description: ""
     parentIdentifier:
      type: string
      description: ""
     reconRuleDefinitionId:
      type: string
      description: ""
     ruleId:
      type: string
      description: ""
     typeIdentifier:
      type: string
      description: ""
     isGroup:
      type: boolean
      description: "Boolean value to identify whether this child is a group or condition" 
     level:
      type: number
      description: "This helps to identify the nesting level."  
     matchingCriteria:
      type: string
      description: "Matching Criteria"
     reconEntityLHS:
      type: string
      description: "Should be null or not present if isGroup is true" 
     reconEntityAttribLHS:
      type: string
      description: "Will be provided if Single entity is LHS entity or if single entity is N. Attribute which user wants to use for recon"
     reconEntityRHS:
      type: string
      description: "Should be null or not present if isGroup is true"     
     reconEntityAttribRHS:
      type: string
      description: "Will be provided if Single entity is RHS entity or if single entity is N. Attribute which user wants to use for recon"
     patternTypeLHS:
      $ref: "#/definitions/PatternTypeDTO"
     patternTypeRHS:
      $ref: "#/definitions/PatternTypeDTO"
     groupsAndConditions:
      type: "array"
      items:
        $ref: "#/definitions/RuleElementsDTO"
        
 PatternTypeDTO:
  type: object
  properties:
   type:
    type: string
    description: "Type"
   inputValue1:
    type: string
    description: "Input Value1"
   inputValue2:
    type: string
    description: "Input Value2"   
          
 ReconAllocationDTO:
  type: object
  properties:
     id:
      type: string
      description: "Id"  
     action:
      type: string
      description: ""
     allocationParameter:
      type: string
      description: ""     
     percentage:
      type: number
      description: ""
     reconRuleDefinitionId:
      type: string
      description: ""
     customerId:
      type: string
      description: ""     
      
 ScfTmRuleConditionModel:
  type: object
  properties:
     id:
      type: string
      description: ""
     baseEntity:
      type: string
      description: ""
     reconRuleGroupId:
      type: string
      description: ""
     expression:
      type: string
      description: ""
     expressionId:
      type: string
      description: ""     
     parentExpressionId:
      type: string
      description: ""
     ruleId:
      type: string
      description: ""
     sequence:
      type: number
      description: ""
     type:
      type: string
      description: ""
     typeIdentifier:
      type: string
      description: ""
     attribute:
      type: string
      description: ""
     conditionId:
      type: string
      description: ""
 ModListKeyDto:
  type: object
  properties:
   modNos:
    type: array
    items:
     type: integer
   remarks:
    type: string
 KeyDto:
  type: object
  properties:
   modNo:
    type: integer
   remarks:
    type: string
 ResponseDto:
  type: object
  properties:
   id:
    type: string
   status:
    type: string
   codes:
    type: array
    items:
     $ref: "#/definitions/ResponseCode"
   requestId:
    type: string
 ResponseCode:
  type: object
  properties:
   Code:
    type: string
   Desc:
    type: string
   Type:
    type: string
   Language:
    type: string
   args:
    type: array
    items:
     type: object
   arg:
    type: string
 GenericDto:
  allOf:
   - type: object
     discriminator: resource_type
 ScfTmReconRuleDefinitionCollection: 
  description: "Collection of scftmreconruledefinition."
  type: "object"
  properties:
   data:
    type: "array"
    items: 
     $ref: "#/definitions/ScfTmReconRuleDefinitionDTO"
   paging:
    $ref: "#/definitions/PagingDto"
 PagingDto:
  type: object
  properties:
   totalResults:
    type: integer
 ResponseDtoWrapper:
  type: object
  properties:
   messages:
    $ref: "#/definitions/ResponseDto"
   data:
    $ref: "#/definitions/ResponseResourceSupport"
 ResponseResourceSupport:
  type: object
 ScfTmReconRuleDefinitionWrapperModel:
  type: object
  properties:
   data:
    $ref: "#/definitions/ScfTmReconRuleDefinitionDtoNew"
    
    
 ScfTmReconRuleDefinitionDTO:
  type: object
  allOf:
  - $ref: '#/definitions/GenericDto'
  - type: object
    properties:
     allocationBasis:
      type: string
      description: "Allocation Basis"
     baseEntity:
      type: string
      description: "Base entity"
     baseOnAttr:
      type: string
      description: "Base On Attribute"
     genericCriteria:
      type: string
      description: "Generic Criteria"
     reconCategory:
      type: string
      description: "Recon Category"
     reconType:
      type: string
      description: "Recon Type"
     ruleDescription:
      type: string
      description: "Rule Description"
     ruleId:
      type: string
      description: "Rule Id"
     txnControllerRefNo:
      type: string
      description: "Transaction Controller Reference Number"
     ScfTmReconRuleGroupDTO:
      type: array
      items:
       $ref: '#/definitions/ScfTmReconRuleGroupDTO'
     ScfTmAllocationDTO:
      type: array
      items:
       $ref: '#/definitions/ScfTmAllocationDTO'
       
 ScfTmReconRuleGroupDTO:
   type: object
   properties:
     connectingOperator:
      type: string
      description: "Connecting Operator"
     id:
      type: string
      description: "Id"
     level:
      type: number
      description: "Level"
     parentIdentifier:
      type: string
      description: "Parent Identifier"
     reconRuleDefinitionId:
      type: string
      description: "Recon Rule Definition Id"
     ruleId:
      type: string
      description: "Rule Id"
     type:
      type: string
      description: "Type"
     typeIdentifier:
      type: string
      description: "Type Identifier"
     ScfTmRuleConditionDTO:
      type: array
      items:
       $ref: '#/definitions/ScfTmRuleConditionDTO'
       
 ScfTmAllocationDTO:
   type: object
   properties:
     action:
      type: string
      description: "Action"
     allocationParameter:
      type: string
      description: "Allocation Parameter"
     id:
      type: string
      description: "Id"
     percentage:
      type: number
      description: "Percentage"
     reconRuleDefinitionId:
      type: string
      description: "Recon Rule Definition Id"
     customerId:
      type: string   
          
 ScfTmRuleConditionDTO:
   type: object
   properties:
     baseEntity:
      type: string
      description: "Base Entity"
     reconRuleGroupId:
      type: string
      description: "Recon Rule Group Id"
     expression:
      type: string
      description: "Expression"
     expressionId:
      type: string
      description: "Expression Id"
     id:
      type: string
      description: "Id"
     parentExpressionId:
      type: string
      description: "Parent Expression Id"
     ruleId:
      type: string
      description: "Rule Id"
     sequence:
      type: number
      description: "Sequence"
     type:
      type: string
      description: "Type"
     typeIdentifier:
      type: string
      description: "Type Identifier"
     conditionId:
      type: string
      description: "Condition Id"
     attribute:
      type: string
      description: "Attribute"     