#-----------------------------------------------------------------------------------------------------
#  **
#  ** File Name  : common.yaml
#  **
#  ** Module     : cmtmproductmaster
#  ** 
#  ** This source is part of the Oracle FLEXCUBE  and is copyrighted by Oracle Financial Services Software Limited.  ** 
#  ** 
#  ** All rights reserved. No part of this work may be reproduced, stored in a retrieval system,
#  ** adopted or transmitted in any form or by any means, electronic, mechanical, photographic,
#  ** graphic, optic recording or otherwise, translated in any language or computer language,
#  ** without the prior written permission of Oracle Financial Services Software Limited.
#  ** 
#  ** Oracle Financial Services Software Limited.
#  ** 10-11, SDF I, SEEPZ, Andheri (East),
#  ** Mumbai - 400 096.
#  ** India
#  ** Copyright 2017-2018 Oracle Financial Services Software Limited. All rights reserved.
#  -------------------------------------------------------------------------------------------------------
#
#  CHANGE HISTORY
#
#  Created By         :  System
#
#  Bug Number         :  
#  Changed By         :  
#  Change Description :  
#  Change On          :  
#  Search String      :  
#  
#  -------------------------------------------------------------------------------------------------------
  

swagger: "2.0"
info:
 description: "This is a sample server cmtmproductmaster server." 
 version: "1.0.0"
 title: "cmtmproductmaster Service"
host: "api-plato.us.oracle.com:8080"
basePath: "/api/1.0"
consumes:
 - "application/json"
produces:
 - "application/json"
tags:
 - name: "cmtmproductmaster"
   description: "this service is to manage crud operations in master datasegment  .........................................................................................................................................."

schemes:
- "https"

paths:

# path to create a new record and fetch all valid records or by intent
#
#  supprorted http methods POST and GET
#
# path example ../cmtmproductmaster

 /cmtmproductmaster:
  post:
   tags:
    - "cmtmproductmaster"
   summary: "Adds a new cmtmproductmaster."
   description: "Adds a new cmtmproductmaster. Add additional information here for this endpoint."
   operationId: "saveRecord"
   parameters:
    - name: "cmtmproductmaster" 
      in: "body" 
      description: "Request Body that contains data required for creating a new cmtmproductmaster" 
      required: true
      schema:
       $ref: "#/definitions/CmTmProductMasterDTO"
   responses:
    201: 
     description: "Returns message of succes or failure " 
     headers:
      Location:
       description: "URL of newly created cmtmproductmaster" 
       type: "string"
     schema:
       $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "cmtmproductmaster"
   summary: "Get all valid cmtmproductmaster."
   description:  "Get all valid cmtmproductmaster. This endpoints will be used to Get all valid cmtmproductmaster maintenance records."
   operationId: "getAll"
   parameters:
   - name: includecloseandunauth
     in: query
     description: includecloseandunauth need to be set to fetch summary record, defult value is false
     required: false
     type: boolean
   - name: offset
     in: query
     description: offset is starting no of records to be fetched
     required: false
     type: integer
   - name: limit
     in: query
     description: limit is maximum no of records to be fetched
     required: false
     type: integer
   responses:
    201:
     description: "Returns message of success or failure"
     headers: 
      Location:
       description: ""
       type: "string"
     schema:
       $ref: "#/definitions/CmTmProductMasterCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"

# path to modify existing record, delete existing record and fetch valid records by id or by intent( includes latestRecord, version no)
#
#  supprorted http methods PUT, DELETE and GET
#
# path examples----
#   PUT       .../cmtmproductmaster/xxx
#   DELETE    .../cmtmproductmaster/xxx
#   GET       .../cmtmproductmaster/xxx
#   GET       .../cmtmproductmaster/xxx?version=latestrecord
#   GET       .../cmtmproductmaster/xxx?version=1

 /cmtmproductmaster/{id}:
  put:
   tags:
    - "cmtmproductmaster"
   summary: "Update an existing cmtmproductmaster."
   description:  "Update an existing cmtmproductmaster."
   operationId: "modifyRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "key of the cmtmproductmaster Maintenance"
      required: true
      type: "string"
    - name: "cmtmproductmaster"
      in: "body"
      description: "Request Body that contains data required for updating an existing cmtmproductmaster"
      required: true
      schema:
       $ref: "#/definitions/CmTmProductMasterDTO"
   responses:
    200:
     description: "Returns updated cmtmproductmaster"
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "cmtmproductmaster"
   summary: "Retrieves the cmtmproductmaster by ID."
   description:  "Retrieves the cmtmproductmaster by ID."
   operationId: "getById"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
    - name: "version"
      in: "query"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the cmtmproductmaster based on given id."
     schema:
      $ref: "#/definitions/CmTmProductMasterWrapperDTO"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
  delete:
   tags:
    - "cmtmproductmaster"
   summary: "Deletes the cmtmproductmaster identified by given ID."
   description:  "Deletes the cmtmproductmaster identified by given ID. Add additional information here for the this endpoint."
   operationId: "delete"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the cmtmproductmaster maintenance"
      required: true
      type: "string"
    - name: "cmtmproductmaster"
      in: "body"
      description: Request body contain cmtmproductmaster and Modification no of cmtmproductmaster maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to Authorize existing record.
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../cmtmproductmaster/xxx/approve

 /cmtmproductmaster/{id}/approve:
  patch:
   tags:
    - "cmtmproductmaster"
   summary: "Authorize the cmtmproductmaster by given ID."
   description:  "Authorize the cmtmproductmaster identified by given ID."
   operationId: "authorize"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the cmtmproductmaster maintenance"
      required: true
      type: "string"
    - name: "cmtmproductmaster"
      in: "body"
      description: Request body contain cmtmproductmaster and Modification no of cmtmproductmaster maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to close existing record
#
#  supported http methods PATCH
#
# path examples----
#   PATCH       .../cmtmproductmaster/xxx/close
 /cmtmproductmaster/{id}/close:
  patch:
   tags:
    - "cmtmproductmaster"
   summary: "Close the cmtmproductmaster by given ID."
   description:  "Close the cmtmproductmaster identified by given ID."
   operationId: "closeRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the cmtmproductmaster maintenance"
      required: true
      type: "string"
    - name: "cmtmproductmaster"
      in: "body"
      description: Request body contain cmtmproductmaster and Modification no of cmtmproductmaster maintenance which need to be closed"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to reopen existing record
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../cmtmproductmaster/xxx/reopen

 /cmtmproductmaster/{id}/reopen:
  patch:
   tags:
    - "cmtmproductmaster"
   summary: "reopen the cmtmproductmaster by given ID."
   description:  "reopen the cmtmproductmaster identified by given ID."
   operationId: "reopenRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the cmtmproductmaster maintenance"
      required: true
      type: "string"
    - name: "cmtmproductmaster"
      in: "body"
      description: Request body contain cmtmproductmaster and Modification no of cmtmproductmaster maintenance which need to be reopen"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to get all unauthorized records
#
#  supprorted http methods GET
#
# path examples----
#   GET       .../cmtmproductmaster/xxx/unauthorized

 /cmtmproductmaster/{id}/unauthorized:
  get:
   tags:
    - "cmtmproductmaster"
   summary: "Retrives the cmtmproductmaster by given ID."
   description:  "Retrives the cmtmproductmaster identified by given ID."
   operationId: "authQuery"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the cmtmproductmaster based on given id."
     schema:
       $ref: "#/definitions/CmTmProductMasterCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to  history record for remitterid
#
#  supprorted http methods GETS
#
# path examples----
#   GET       .../cmtmproductmaster/xxx/history

 /cmtmproductmaster/{id}/history:
  get:
   tags:
    - "cmtmproductmaster"
   summary: "Retrives the cmtmproductmaster by given ID."
   description:  "Retrives the cmtmproductmaster by ID."
   operationId: "getHistory"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the cmtmproductmaster based on given id."
     schema:
       $ref: "#/definitions/CmTmProductMasterCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
 /cmtmproductmaster/{id}/isValid:
  get:
   tags:
    - "cmtmproductmaster"
   summary: "Validate the CmTmProductMaster by ResourceId"
   description:  "Validate the CmTmProductMaster by ResourceId"
   operationId: "validateCmTmProductMaster"
   parameters:
    - name: "resourceId"
      in: "path"
      description: "resourceId of the user that needs to be validated"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the boolean based on validation of given resource id."
     schema:
       $ref: "#/definitions/boolean"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
definitions:
 CmTmProductMasterDTO:
  type: object
  allOf:
  - $ref: '#/definitions/GenericDto'
  - type: object
    properties:
     id:
      type: string
      description: ""
     action:
      type: string
      description: ""
     autoAuth:
      type: string
      description: ""
     modificationStatus:
      type: string
      description: ""   
     datasegmentCode:
      type: string
      description: ''
     checkerRemarks:
      type: string
      description: '' 
     makerRemarks:
      type: string
      description: ''                            
     branchCode:
      type: string
      description: ""
     clearingDays:
      type: number
      description: ""
     currency:
      type: string
      description: ""
     cutOffTime:
      type: string
      description: ""
     effectiveDate:
      type: string
      description: ""
     expiryDate:
      type: string
      description: ""
     maxTxnAmt:
      type: number
      description: ""
     minTxnAmt:
      type: number
      description: ""
     networkType:
      type: string
      description: ""
     productCategory:
      type: string
      description: ""
     productCode:
      type: string
      description: ""
     productDescription:
      type: string
      description: ""
     productExposureLimit:
      type: number
      description: ""
     productType:
      type: string
      description: ""
 ModListKeyDto:
  type: object
  properties:
   modNos:
    type: array
    items:
     type: integer
   remarks:
    type: string
 KeyDto:
  type: object
  properties:
   modNo:
    type: integer
   remarks:
    type: string
 ResponseDto:
  type: object
  properties:
   id:
    type: string
   status:
    type: string
   codes:
    type: array
    items:
     $ref: "#/definitions/ResponseCode"
   requestId:
    type: string
 ResponseCode:
  type: object
  properties:
   Code:
    type: string
   Desc:
    type: string
   Type:
    type: string
   Language:
    type: string
   args:
    type: array
    items:
     type: object
   arg:
    type: string
 GenericDto:
  allOf:
   - type: object
     discriminator: resource_type
 CmTmProductMasterCollection: 
  description: "Collection of cmtmproductmaster."
  type: "object"
  properties:
   data:
    type: "array"
    items: 
     $ref: "#/definitions/CmTmProductMasterDTO"
   paging:
    $ref: "#/definitions/PagingDto"
 PagingDto:
  type: object
  properties:
   totalResults:
    type: integer
 ResponseDtoWrapper:
  type: object
  properties:
   messages:
    $ref: "#/definitions/ResponseDto"
   data:
    $ref: "#/definitions/ResponseResourceSupport"
 ResponseResourceSupport:
  type: object
 CmTmProductMasterWrapperDTO:
  type: object
  properties:
   data:
    $ref: "#/definitions/CmTmProductMasterDTO"
