#-----------------------------------------------------------------------------------------------------
#  **
#  ** File Name  : common.yaml
#  **
#  ** Module     : obscfcmtmtolerancemaster
#  ** 
#  ** This source is part of the Oracle FLEXCUBE  and is copyrighted by Oracle Financial Services Software Limited.  ** 
#  ** 
#  ** All rights reserved. No part of this work may be reproduced, stored in a retrieval system,
#  ** adopted or transmitted in any form or by any means, electronic, mechanical, photographic,
#  ** graphic, optic recording or otherwise, translated in any language or computer language,
#  ** without the prior written permission of Oracle Financial Services Software Limited.
#  ** 
#  ** Oracle Financial Services Software Limited.
#  ** 10-11, SDF I, SEEPZ, Andheri (East),
#  ** Mumbai - 400 096.
#  ** India
#  ** Copyright 2017-2018 Oracle Financial Services Software Limited. All rights reserved.
#  -------------------------------------------------------------------------------------------------------
#
#  CHANGE HISTORY
#
#  Created By         :  System
#
#  Bug Number         :  
#  Changed By         :  
#  Change Description :  
#  Change On          :  
#  Search String      :  
#  
#  -------------------------------------------------------------------------------------------------------
  

swagger: "2.0"
info:
 description: "This is a sample server obscfcmtmtolerancemaster server." 
 version: "1.0.0"
 title: "obscfcmtmtolerancemaster Service"
host: "api-plato.us.oracle.com:8080"
basePath: "/api/1.0"
consumes:
 - "application/json"
produces:
 - "application/json"
tags:
 - name: "obscfcmtmtolerancemaster"
   description: "this service is to manage crud operations in master datasegment  .........................................................................................................................................."

schemes:
- "https"

paths:

# path to create a new record and fetch all valid records or by intent
#
#  supprorted http methods POST and GET
#
# path example ../obscfcmtmtolerancemaster

 /obscfcmtmtolerancemaster:
  post:
   tags:
    - "obscfcmtmtolerancemaster"
   summary: "Adds a new obscfcmtmtolerancemaster."
   description: "Adds a new obscfcmtmtolerancemaster. Add additional information here for this endpoint."
   operationId: "saveRecord"
   parameters:
    - name: "obscfcmtmtolerancemaster" 
      in: "body" 
      description: "Request Body that contains data required for creating a new obscfcmtmtolerancemaster" 
      required: true
      schema:
       $ref: "#/definitions/ObscfcmTmToleranceMasterDTO"
   responses:
    201: 
     description: "Returns message of succes or failure " 
     headers:
      Location:
       description: "URL of newly created obscfcmtmtolerancemaster" 
       type: "string"
     schema:
       $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "obscfcmtmtolerancemaster"
   summary: "Get all valid obscfcmtmtolerancemaster."
   description:  "Get all valid obscfcmtmtolerancemaster. This endpoints will be used to Get all valid obscfcmtmtolerancemaster maintenance records."
   operationId: "getAll"
   parameters:
   - name: includecloseandunauth
     in: query
     description: includecloseandunauth need to be set to fetch summary record, defult value is false
     required: false
     type: boolean
   - name: offset
     in: query
     description: offset is starting no of records to be fetched
     required: false
     type: integer
   - name: limit
     in: query
     description: limit is maximum no of records to be fetched
     required: false
     type: integer
   responses:
    201:
     description: "Returns message of success or failure"
     headers: 
      Location:
       description: ""
       type: "string"
     schema:
       $ref: "#/definitions/ObscfcmTmToleranceMasterCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"

# path to modify existing record, delete existing record and fetch valid records by id or by intent( includes latestRecord, version no)
#
#  supprorted http methods PUT, DELETE and GET
#
# path examples----
#   PUT       .../obscfcmtmtolerancemaster/xxx
#   DELETE    .../obscfcmtmtolerancemaster/xxx
#   GET       .../obscfcmtmtolerancemaster/xxx
#   GET       .../obscfcmtmtolerancemaster/xxx?version=latestrecord
#   GET       .../obscfcmtmtolerancemaster/xxx?version=1

 /obscfcmtmtolerancemaster/{id}:
  put:
   tags:
    - "obscfcmtmtolerancemaster"
   summary: "Update an existing obscfcmtmtolerancemaster."
   description:  "Update an existing obscfcmtmtolerancemaster."
   operationId: "modifyRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "key of the obscfcmtmtolerancemaster Maintenance"
      required: true
      type: "string"
    - name: "obscfcmtmtolerancemaster"
      in: "body"
      description: "Request Body that contains data required for updating an existing obscfcmtmtolerancemaster"
      required: true
      schema:
       $ref: "#/definitions/ObscfcmTmToleranceMasterDTO"
   responses:
    200:
     description: "Returns updated obscfcmtmtolerancemaster"
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "obscfcmtmtolerancemaster"
   summary: "Retrieves the obscfcmtmtolerancemaster by ID."
   description:  "Retrieves the obscfcmtmtolerancemaster by ID."
   operationId: "getById"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
    - name: "version"
      in: "query"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the obscfcmtmtolerancemaster based on given id."
     schema:
      #$ref: "#/definitions/ObscfcmTmToleranceMasterWrapperModel"
      $ref: "#/definitions/ObscfcmTmToleranceMasterDTO"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
  delete:
   tags:
    - "obscfcmtmtolerancemaster"
   summary: "Deletes the obscfcmtmtolerancemaster identified by given ID."
   description:  "Deletes the obscfcmtmtolerancemaster identified by given ID. Add additional information here for the this endpoint."
   operationId: "delete"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the obscfcmtmtolerancemaster maintenance"
      required: true
      type: "string"
    - name: "obscfcmtmtolerancemaster"
      in: "body"
      description: Request body contain obscfcmtmtolerancemaster and Modification no of obscfcmtmtolerancemaster maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to Authorize existing record.
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../obscfcmtmtolerancemaster/xxx/approve

 /obscfcmtmtolerancemaster/{id}/approve:
  patch:
   tags:
    - "obscfcmtmtolerancemaster"
   summary: "Authorize the obscfcmtmtolerancemaster by given ID."
   description:  "Authorize the obscfcmtmtolerancemaster identified by given ID."
   operationId: "authorize"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the obscfcmtmtolerancemaster maintenance"
      required: true
      type: "string"
    - name: "obscfcmtmtolerancemaster"
      in: "body"
      description: Request body contain obscfcmtmtolerancemaster and Modification no of obscfcmtmtolerancemaster maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to close existing record
#
#  supported http methods PATCH
#
# path examples----
#   PATCH       .../obscfcmtmtolerancemaster/xxx/close
 /obscfcmtmtolerancemaster/{id}/close:
  patch:
   tags:
    - "obscfcmtmtolerancemaster"
   summary: "Close the obscfcmtmtolerancemaster by given ID."
   description:  "Close the obscfcmtmtolerancemaster identified by given ID."
   operationId: "closeRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the obscfcmtmtolerancemaster maintenance"
      required: true
      type: "string"
    - name: "obscfcmtmtolerancemaster"
      in: "body"
      description: Request body contain obscfcmtmtolerancemaster and Modification no of obscfcmtmtolerancemaster maintenance which need to be closed"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to reopen existing record
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../obscfcmtmtolerancemaster/xxx/reopen

 /obscfcmtmtolerancemaster/{id}/reopen:
  patch:
   tags:
    - "obscfcmtmtolerancemaster"
   summary: "reopen the obscfcmtmtolerancemaster by given ID."
   description:  "reopen the obscfcmtmtolerancemaster identified by given ID."
   operationId: "reopenRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the obscfcmtmtolerancemaster maintenance"
      required: true
      type: "string"
    - name: "obscfcmtmtolerancemaster"
      in: "body"
      description: Request body contain obscfcmtmtolerancemaster and Modification no of obscfcmtmtolerancemaster maintenance which need to be reopen"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to get all unauthorized records
#
#  supprorted http methods GET
#
# path examples----
#   GET       .../obscfcmtmtolerancemaster/xxx/unauthorized

 /obscfcmtmtolerancemaster/{id}/unauthorized:
  get:
   tags:
    - "obscfcmtmtolerancemaster"
   summary: "Retrives the obscfcmtmtolerancemaster by given ID."
   description:  "Retrives the obscfcmtmtolerancemaster identified by given ID."
   operationId: "authQuery"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the obscfcmtmtolerancemaster based on given id."
     schema:
       $ref: "#/definitions/ObscfcmTmToleranceMasterCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to  history record for remitterid
#
#  supprorted http methods GETS
#
# path examples----
#   GET       .../obscfcmtmtolerancemaster/xxx/history

 /obscfcmtmtolerancemaster/{id}/history:
  get:
   tags:
    - "obscfcmtmtolerancemaster"
   summary: "Retrives the obscfcmtmtolerancemaster by given ID."
   description:  "Retrives the obscfcmtmtolerancemaster by ID."
   operationId: "getHistory"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the obscfcmtmtolerancemaster based on given id."
     schema:
       $ref: "#/definitions/ObscfcmTmToleranceMasterCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
 /obscfcmtmtolerancemaster/{id}/isValid:
  get:
   tags:
    - "obscfcmtmtolerancemaster"
   summary: "Validate the ObscfcmTmToleranceMaster by ResourceId"
   description:  "Validate the ObscfcmTmToleranceMaster by ResourceId"
   operationId: "validateObscfcmTmToleranceMaster"
   parameters:
    - name: "resourceId"
      in: "path"
      description: "resourceId of the user that needs to be validated"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the boolean based on validation of given resource id."
     schema:
       $ref: "#/definitions/boolean"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
definitions:
 ObscfcmTmToleranceMasterDTO:
  type: object
  allOf:
  - $ref: '#/definitions/GenericDto'
  - type: object
    properties:
     id:
      type: string
      description: ""
     action:
      type: string
      description: ""
     autoAuth:
      type: string
      description: ""
     modificationStatus:
      type: string
      description: ""   
     datasegmentCode:
      type: string
      description: ''
     checkerRemarks:
      type: string
      description: '' 
     makerRemarks:
      type: string
      description: ''                              
     applicationCode:
      type: string
      description: ""
     filterAttr1:
      type: string
      description: "Filter Attribute 1"
     filterAttr1Name:
      type: string
      description: "Filter Attribute 1 Name"
     filterAttr1Label:
      type: string
      description: "Filter Attribute 1 Label"
     filterAttr1ColumnName:
      type: string
      description: "Filter Attribute 1 Column Name"
     filterAttr1Type:
      type: string
      description: "Filter Attribute 1 Type"
     filterAttr1EndpointValue:
      type: string
      description: "Filter Attribute 1 Endpoint Key"
     filterAttr1ReqParams:
      type: string
      description: "Filter Attribute 1 ReqParams"
     filterAttr1LovConfig:
      type: "array"
      description: "Filter Attribute 1 LOV Config Data"
      items:
       $ref: '#/definitions/Map'
     filterAttr2:
      type: string
      description: "Filter Attribute 2"
     filterAttr2Name:
      type: string
      description: "Filter Attribute 2 Name"
     filterAttr2Label:
      type: string
      description: "Filter Attribute 2 Label"
     filterAttr2ColumnName:
      type: string
      description: "Filter Attribute 2 Column Name"
     filterAttr2Type:
      type: string
      description: "Filter Attribute 2 Type"
     filterAttr2EndpointValue:
      type: string
      description: "Filter Attribute 2 Endpoint Key"
     filterAttr2ReqParams:
      type: string
      description: "Filter Attribute 2 ReqParams"
     filterAttr2LovConfig:
      type: "array"
      description: "Filter Attribute 2 LOV Config Data"
      items:
       $ref: '#/definitions/Map'
     filterAttr3:
      type: string
      description: "Filter Attribute 3"
     filterAttr3Name:
      type: string
      description: "Filter Attribute 3 Name"
     filterAttr3Label:
      type: string
      description: "Filter Attribute 3 Label"
     filterAttr3ColumnName:
      type: string
      description: "Filter Attribute 3 Column Name"
     filterAttr3Type:
      type: string
      description: "Filter Attribute 3 Type"
     filterAttr3EndpointValue:
      type: string
      description: "Filter Attribute 3 Endpoint Key"
     filterAttr3ReqParams:
      type: string
      description: "Filter Attribute 3 ReqParams"
     filterAttr3LovConfig:
      type: "array"
      description: "Filter Attribute 3 LOV Config Data"
      items:
       $ref: '#/definitions/Map'
     filterAttr4:
      type: string
      description: "Filter Attribute 4"
     filterAttr4Name:
      type: string
      description: "Filter Attribute 4 Name"
     filterAttr4Label:
      type: string
      description: "Filter Attribute 4 Label"
     filterAttr4ColumnName:
      type: string
      description: "Filter Attribute 4 Column Name"
     filterAttr4Type:
      type: string
      description: "Filter Attribute 4 Type"
     filterAttr4EndpointValue:
      type: string
      description: "Filter Attribute 4 Endpoint Key"
     filterAttr4ReqParams:
      type: string
      description: "Filter Attribute 4 ReqParams"
     filterAttr4LovConfig:
      type: "array"
      description: "Filter Attribute 4 LOV Config Data"
      items:
       $ref: '#/definitions/Map'
     filterAttr5:
      type: string
      description: "Filter Attribute 5"
     filterAttr5Name:
      type: string
      description: "Filter Attribute 5 Name"
     filterAttr5Label:
      type: string
      description: "Filter Attribute 5 Label"
     filterAttr5ColumnName:
      type: string
      description: "Filter Attribute 5 Column Name"
     filterAttr5Type:
      type: string
      description: "Filter Attribute 5 Type"
     filterAttr5EndpointValue:
      type: string
      description: "Filter Attribute 5 Endpoint Key"
     filterAttr5ReqParams:
      type: string
      description: "Filter Attribute 5 ReqParams"
     filterAttr5LovConfig:
      type: "array"
      description: "Filter Attribute 5 LOV Config Data"
      items:
       $ref: '#/definitions/Map'
     filterAttr6:
      type: string
      description: "Filter Attribute 6"
     filterAttr6Name:
      type: string
      description: "Filter Attribute 6 Name"
     filterAttr6Label:
      type: string
      description: "Filter Attribute 6 Label"
     filterAttr6ColumnName:
      type: string
      description: "Filter Attribute 6 Column Name"
     filterAttr6Type:
      type: string
      description: "Filter Attribute 6 Type"
     filterAttr6EndpointValue:
      type: string
      description: "Filter Attribute 6 Endpoint Key"
     filterAttr6ReqParams:
      type: string
      description: "Filter Attribute 6 ReqParams"
     filterAttr6LovConfig:
      type: "array"
      description: "Filter Attribute 6 LOV Config Data"
      items:
       $ref: '#/definitions/Map'
     filterAttr7:
      type: string
      description: "Filter Attribute 7"
     filterAttr7Name:
      type: string
      description: "Filter Attribute 7 Name"
     filterAttr7Label:
      type: string
      description: "Filter Attribute 7 Label"
     filterAttr7ColumnName:
      type: string
      description: "Filter Attribute 7 Column Name"
     filterAttr7Type:
      type: string
      description: "Filter Attribute 7 Type"
     filterAttr7EndpointValue:
      type: string
      description: "Filter Attribute 7 Endpoint Key"
     filterAttr7ReqParams:
      type: string
      description: "Filter Attribute 7 ReqParams"
     filterAttr7LovConfig:
      type: "array"
      description: "Filter Attribute 7 LOV Config Data"
      items:
       $ref: '#/definitions/Map'
     filterAttr8:
      type: string
      description: "Filter Attribute 8"
     filterAttr8Name:
      type: string
      description: "Filter Attribute 8 Name"
     filterAttr8Label:
      type: string
      description: "Filter Attribute 8 Label"
     filterAttr8ColumnName:
      type: string
      description: "Filter Attribute 8 Column Name"
     filterAttr8Type:
      type: string
      description: "Filter Attribute 8 Type"
     filterAttr8EndpointValue:
      type: string
      description: "Filter Attribute 8 Endpoint Key"
     filterAttr8ReqParams:
      type: string
      description: "Filter Attribute 8 ReqParams"
     filterAttr8LovConfig:
      type: "array"
      description: "Filter Attribute 8 LOV Config Data"
      items:
       $ref: '#/definitions/Map'
     filterAttr9:
      type: string
      description: "Filter Attribute 9"
     filterAttr9Name:
      type: string
      description: "Filter Attribute 9 Name"
     filterAttr9Label:
      type: string
      description: "Filter Attribute 9 Label"
     filterAttr9ColumnName:
      type: string
      description: "Filter Attribute 9 Column Name"
     filterAttr9Type:
      type: string
      description: "Filter Attribute 9 Type"
     filterAttr9EndpointValue:
      type: string
      description: "Filter Attribute 9 Endpoint Key"
     filterAttr9ReqParams:
      type: string
      description: "Filter Attribute 9 ReqParams"
     filterAttr9LovConfig:
      type: "array"
      description: "Filter Attribute 9 LOV Config Data"
      items:
       $ref: '#/definitions/Map'
     filterAttr10:
      type: string
      description: "Filter Attribute 10"
     filterAttr10Name:
      type: string
      description: "Filter Attribute 10 Name"
     filterAttr10Label:
      type: string
      description: "Filter Attribute 10 Label"
     filterAttr10ColumnName:
      type: string
      description: "Filter Attribute 10 Column Name"
     filterAttr10Type:
      type: string
      description: "Filter Attribute 10 Type"
     filterAttr10EndpointValue:
      type: string
      description: "Filter Attribute 10 Endpoint Key"
     filterAttr10ReqParams:
      type: string
      description: "Filter Attribute 10 ReqParams"
     filterAttr10LovConfig:
      type: "array"
      description: "Filter Attribute 10 LOV Config Data"
      items:
       $ref: '#/definitions/Map'
     filterCriteria:
      type: string
      description: ""
     ObscfcmTmToleranceDetailsDTO:
      type: array
      items:
       $ref: '#/definitions/ObscfcmTmToleranceDetailsDTO'
 ObscfcmTmToleranceDetailsDTO:
  type: object
  properties:
     id:
      type: string
      description: ""
     cashflowCategory:
      type: string
      description: ""
     commodity:
      type: string
      description: ""
     currency:
      type: string
      description: ""
     lowerAbsoluteThreshold:
      type: number
      description: ""
     lowerPercentageThreshold:
      type: number
      description: ""
     matchBasis:
      type: string
      description: ""
     #modNo:
     # type: integer
     # description: ""
     reconCategory:
      type: string
      description: ""
     toleranceMasterId:
      type: string
      description: ""
     upperAbsoluteThreshold:
      type: number
      description: ""
     upperPercentageThreshold:
      type: number
      description: ""
 ModListKeyDto:
  type: object
  properties:
   modNos:
    type: array
    items:
     type: integer
   remarks:
    type: string
 KeyDto:
  type: object
  properties:
   modNo:
    type: integer
   remarks:
    type: string
 ResponseDto:
  type: object
  properties:
   id:
    type: string
   status:
    type: string
   codes:
    type: array
    items:
     $ref: "#/definitions/ResponseCode"
   requestId:
    type: string
 ResponseCode:
  type: object
  properties:
   Code:
    type: string
   Desc:
    type: string
   Type:
    type: string
   Language:
    type: string
   args:
    type: array
    items:
     type: object
   arg:
    type: string
 GenericDto:
  allOf:
   - type: object
     discriminator: resource_type
 ObscfcmTmToleranceMasterCollection: 
  description: "Collection of obscfcmtmtolerancemaster."
  type: "object"
  properties:
   data:
    type: "array"
    items: 
     $ref: "#/definitions/ObscfcmTmToleranceMasterDTO"
   paging:
    $ref: "#/definitions/PagingDto"
 PagingDto:
  type: object
  properties:
   totalResults:
    type: integer
 ResponseDtoWrapper:
  type: object
  properties:
   messages:
    $ref: "#/definitions/ResponseDto"
   data:
    $ref: "#/definitions/ResponseResourceSupport"
 ResponseResourceSupport:
  type: object
 ObscfcmTmToleranceMasterWrapperDTO:
  type: object
  properties:
   data:
    $ref: "#/definitions/ObscfcmTmToleranceMasterDTO"
             
