#-----------------------------------------------------------------------------------------------------
#  **
#  ** File Name  : common.yaml
#  **
#  ** Module     : obcmtmcashdenommaintmaster
#  ** 
#  ** This source is part of the Oracle FLEXCUBE  and is copyrighted by Oracle Financial Services Software Limited.  ** 
#  ** 
#  ** All rights reserved. No part of this work may be reproduced, stored in a retrieval system,
#  ** adopted or transmitted in any form or by any means, electronic, mechanical, photographic,
#  ** graphic, optic recording or otherwise, translated in any language or computer language,
#  ** without the prior written permission of Oracle Financial Services Software Limited.
#  ** 
#  ** Oracle Financial Services Software Limited.
#  ** 10-11, SDF I, SEEPZ, Andheri (East),
#  ** Mumbai - 400 096.
#  ** India
#  ** Copyright 2017-2018 Oracle Financial Services Software Limited. All rights reserved.
#  -------------------------------------------------------------------------------------------------------
#
#  CHANGE HISTORY
#
#  Created By         :  System
#
#  Bug Number         :  
#  Changed By         :  
#  Change Description :  
#  Change On          :  
#  Search String      :  
#  
#  -------------------------------------------------------------------------------------------------------
  

swagger: "2.0"
info:
 description: "This is a sample server obcmtmcashdenommaintmaster server." 
 version: "1.0.0"
 title: "obcmtmcashdenommaintmaster Service"
host: "api-plato.us.oracle.com:8080"
basePath: "/api/1.0"
consumes:
 - "application/json"
produces:
 - "application/json"
tags:
 - name: "obcmtmcashdenommaintmaster"
   description: "this service is to manage crud operations in master datasegment  .........................................................................................................................................."

schemes:
- "https"

paths:

# path to create a new record and fetch all valid records or by intent
#
#  supprorted http methods POST and GET
#
# path example ../obcmtmcashdenommaintmaster

 /obcmtmcashdenommaintmaster:
  post:
   tags:
    - "obcmtmcashdenommaintmaster"
   summary: "Adds a new obcmtmcashdenommaintmaster."
   description: "Adds a new obcmtmcashdenommaintmaster. Add additional information here for this endpoint."
   operationId: "saveRecord"
   parameters:
    - name: "obcmtmcashdenommaintmaster" 
      in: "body" 
      description: "Request Body that contains data required for creating a new obcmtmcashdenommaintmaster" 
      required: true
      schema:
       $ref: "#/definitions/ObcmTmCashDenomMaintMasterDTO"
   responses:
    201: 
     description: "Returns message of succes or failure " 
     headers:
      Location:
       description: "URL of newly created obcmtmcashdenommaintmaster" 
       type: "string"
     schema:
       $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "obcmtmcashdenommaintmaster"
   summary: "Get all valid obcmtmcashdenommaintmaster."
   description:  "Get all valid obcmtmcashdenommaintmaster. This endpoints will be used to Get all valid obcmtmcashdenommaintmaster maintenance records."
   operationId: "getAll"
   parameters:
   - name: includecloseandunauth
     in: query
     description: includecloseandunauth need to be set to fetch summary record, defult value is false
     required: false
     type: boolean
   - name: offset
     in: query
     description: offset is starting no of records to be fetched
     required: false
     type: integer
   - name: limit
     in: query
     description: limit is maximum no of records to be fetched
     required: false
     type: integer
   responses:
    201:
     description: "Returns message of success or failure"
     headers: 
      Location:
       description: ""
       type: "string"
     schema:
       $ref: "#/definitions/ObcmTmCashDenomMaintMasterCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"

# path to modify existing record, delete existing record and fetch valid records by id or by intent( includes latestRecord, version no)
#
#  supprorted http methods PUT, DELETE and GET
#
# path examples----
#   PUT       .../obcmtmcashdenommaintmaster/xxx
#   DELETE    .../obcmtmcashdenommaintmaster/xxx
#   GET       .../obcmtmcashdenommaintmaster/xxx
#   GET       .../obcmtmcashdenommaintmaster/xxx?version=latestrecord
#   GET       .../obcmtmcashdenommaintmaster/xxx?version=1

 /obcmtmcashdenommaintmaster/{id}:
  put:
   tags:
    - "obcmtmcashdenommaintmaster"
   summary: "Update an existing obcmtmcashdenommaintmaster."
   description:  "Update an existing obcmtmcashdenommaintmaster."
   operationId: "modifyRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "key of the obcmtmcashdenommaintmaster Maintenance"
      required: true
      type: "string"
    - name: "obcmtmcashdenommaintmaster"
      in: "body"
      description: "Request Body that contains data required for updating an existing obcmtmcashdenommaintmaster"
      required: true
      schema:
       $ref: "#/definitions/ObcmTmCashDenomMaintMasterDTO"
   responses:
    200:
     description: "Returns updated obcmtmcashdenommaintmaster"
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "obcmtmcashdenommaintmaster"
   summary: "Retrieves the obcmtmcashdenommaintmaster by ID."
   description:  "Retrieves the obcmtmcashdenommaintmaster by ID."
   operationId: "getById"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
    - name: "version"
      in: "query"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the obcmtmcashdenommaintmaster based on given id."
     schema:
      $ref: "#/definitions/ObcmTmCashDenomMaintMasterWrapperModel"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
  delete:
   tags:
    - "obcmtmcashdenommaintmaster"
   summary: "Deletes the obcmtmcashdenommaintmaster identified by given ID."
   description:  "Deletes the obcmtmcashdenommaintmaster identified by given ID. Add additional information here for the this endpoint."
   operationId: "delete"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the obcmtmcashdenommaintmaster maintenance"
      required: true
      type: "string"
    - name: "obcmtmcashdenommaintmaster"
      in: "body"
      description: Request body contain obcmtmcashdenommaintmaster and Modification no of obcmtmcashdenommaintmaster maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to Authorize existing record.
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../obcmtmcashdenommaintmaster/xxx/approve

 /obcmtmcashdenommaintmaster/{id}/approve:
  patch:
   tags:
    - "obcmtmcashdenommaintmaster"
   summary: "Authorize the obcmtmcashdenommaintmaster by given ID."
   description:  "Authorize the obcmtmcashdenommaintmaster identified by given ID."
   operationId: "authorize"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the obcmtmcashdenommaintmaster maintenance"
      required: true
      type: "string"
    - name: "obcmtmcashdenommaintmaster"
      in: "body"
      description: Request body contain obcmtmcashdenommaintmaster and Modification no of obcmtmcashdenommaintmaster maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to close existing record
#
#  supported http methods PATCH
#
# path examples----
#   PATCH       .../obcmtmcashdenommaintmaster/xxx/close
 /obcmtmcashdenommaintmaster/{id}/close:
  patch:
   tags:
    - "obcmtmcashdenommaintmaster"
   summary: "Close the obcmtmcashdenommaintmaster by given ID."
   description:  "Close the obcmtmcashdenommaintmaster identified by given ID."
   operationId: "closeRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the obcmtmcashdenommaintmaster maintenance"
      required: true
      type: "string"
    - name: "obcmtmcashdenommaintmaster"
      in: "body"
      description: Request body contain obcmtmcashdenommaintmaster and Modification no of obcmtmcashdenommaintmaster maintenance which need to be closed"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to reopen existing record
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../obcmtmcashdenommaintmaster/xxx/reopen

 /obcmtmcashdenommaintmaster/{id}/reopen:
  patch:
   tags:
    - "obcmtmcashdenommaintmaster"
   summary: "reopen the obcmtmcashdenommaintmaster by given ID."
   description:  "reopen the obcmtmcashdenommaintmaster identified by given ID."
   operationId: "reopenRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the obcmtmcashdenommaintmaster maintenance"
      required: true
      type: "string"
    - name: "obcmtmcashdenommaintmaster"
      in: "body"
      description: Request body contain obcmtmcashdenommaintmaster and Modification no of obcmtmcashdenommaintmaster maintenance which need to be reopen"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to get all unauthorized records
#
#  supprorted http methods GET
#
# path examples----
#   GET       .../obcmtmcashdenommaintmaster/xxx/unauthorized

 /obcmtmcashdenommaintmaster/{id}/unauthorized:
  get:
   tags:
    - "obcmtmcashdenommaintmaster"
   summary: "Retrives the obcmtmcashdenommaintmaster by given ID."
   description:  "Retrives the obcmtmcashdenommaintmaster identified by given ID."
   operationId: "authQuery"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the obcmtmcashdenommaintmaster based on given id."
     schema:
       $ref: "#/definitions/ObcmTmCashDenomMaintMasterCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to  history record for remitterid
#
#  supprorted http methods GETS
#
# path examples----
#   GET       .../obcmtmcashdenommaintmaster/xxx/history

 /obcmtmcashdenommaintmaster/{id}/history:
  get:
   tags:
    - "obcmtmcashdenommaintmaster"
   summary: "Retrives the obcmtmcashdenommaintmaster by given ID."
   description:  "Retrives the obcmtmcashdenommaintmaster by ID."
   operationId: "getHistory"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the obcmtmcashdenommaintmaster based on given id."
     schema:
       $ref: "#/definitions/ObcmTmCashDenomMaintMasterCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
 /obcmtmcashdenommaintmaster/{id}/isValid:
  get:
   tags:
    - "obcmtmcashdenommaintmaster"
   summary: "Validate the ObcmTmCashDenomMaintMaster by ResourceId"
   description:  "Validate the ObcmTmCashDenomMaintMaster by ResourceId"
   operationId: "validateObcmTmCashDenomMaintMaster"
   parameters:
    - name: "resourceId"
      in: "path"
      description: "resourceId of the user that needs to be validated"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the boolean based on validation of given resource id."
     schema:
       $ref: "#/definitions/boolean"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
definitions:
 ObcmTmCashDenomMaintMasterDTO:
  type: object
  allOf:
  - $ref: '#/definitions/GenericDto'
  - type: object
    properties:
     id:
      type: string
      description: ""
     action:
      type: string
      description: ""
     autoAuth:
      type: string
      description: ""
     modificationStatus:
      type: string
      description: ""   
     datasegmentCode:
      type: string
      description: ''
     checkerRemarks:
      type: string
      description: '' 
     makerRemarks:
      type: string
      description: ''                            
     branch:
      type: string
      description: ""
     currency:
      type: string
      description: ""
     mainUnit:
      type: string
      description: ""
     subUnit:
      type: string
      description: ""
     makerId:
      type: "string"
      description: "Maker Id"
     makerDtStamp:
      type: "string"
      description: "Maker Date"
     checkerId:
      type: "string"
      description: "Checker ID" 
     checkerDtStamp:
      type: "string"
      description: "Checker Date" 
     modNo:
      type: "integer"
      description: "Mod No"
     onceAuth:
      type: "string"
      description: "Once Authorization"
     recordStat:
      type: "string"
      description: "Record Status"
     authStat:
      type: "string"
      description: "Authorization Status"    
     ObcmTmCashDenomMaintDetailsDTO:
      type: array
      items:
       $ref: '#/definitions/ObcmTmCashDenomMaintDetailsDTO'
 ObcmTmCashDenomMaintDetailsDTO:
  type: object
  properties:
     id:
      type: string
      description: ""
     denominationDesc:
      type: string
      description: ""
     denominationType:
      type: string
      description: ""
     denominationValue:
      type: string
      description: ""
     cashDenomMaintMasterId:
      type: string
      description: ""
 ModListKeyDto:
  type: object
  properties:
   modNos:
    type: array
    items:
     type: integer
   remarks:
    type: string
 KeyDto:
  type: object
  properties:
   modNo:
    type: integer
   remarks:
    type: string
 ResponseDto:
  type: object
  properties:
   id:
    type: string
   status:
    type: string
   codes:
    type: array
    items:
     $ref: "#/definitions/ResponseCode"
   requestId:
    type: string
 ResponseCode:
  type: object
  properties:
   Code:
    type: string
   Desc:
    type: string
   Type:
    type: string
   Language:
    type: string
   args:
    type: array
    items:
     type: object
   arg:
    type: string
 GenericDto:
  allOf:
   - type: object
     discriminator: resource_type
 ObcmTmCashDenomMaintMasterCollection: 
  description: "Collection of obcmtmcashdenommaintmaster."
  type: "object"
  properties:
   data:
    type: "array"
    items: 
     $ref: "#/definitions/ObcmTmCashDenomMaintMasterDTO"
   paging:
    $ref: "#/definitions/PagingDto"
 PagingDto:
  type: object
  properties:
   totalResults:
    type: integer
 ResponseDtoWrapper:
  type: object
  properties:
   messages:
    $ref: "#/definitions/ResponseDto"
   data:
    $ref: "#/definitions/ResponseResourceSupport"
 ResponseResourceSupport:
  type: object
 ObcmTmCashDenomMaintMasterWrapperModel:
  type: object
  properties:
   data:
    $ref: "#/definitions/ObcmTmCashDenomMaintMasterDTO"
