#  This source is part of the Oracle Banking Software Product. 
#  Copyright  2018 , 2018 , Oracle and/or its affiliates.  All rights reserved.
#  
#  No part of this work may be reproduced, stored in a retrieval system, adopted or transmitted in any form or by any means, electronic, mechanical, photographic, graphic, optic recording or otherwise, translated in any language or computer language, without the prior written permission of Oracle and/or its affiliates.
#  
#  Oracle Financial Services Software Limited.
#  Oracle Park, Off Western Express Highway,
#  Goregaon (East), 
#  Mumbai - 400 063, India. 
#  
#-----------------------------------------------------------------------------------------------------
#  **
#  ** File Name  : common.yaml
#  **
#  ** Module     : cmc
#  ** 

#  -------------------------------------------------------------------------------------------------------
#
#  CHANGE HISTORY
#
#  Created By         :  System
#
#  Bug Number         :  
#  Changed By         :  
#  Change Description :  
#  Change On          :  
#  Search String      :  
#  
#  -------------------------------------------------------------------------------------------------------
  

swagger: "2.0"
info:
 description: "This is a sample server coretrncodes server." 
 version: "1.0.0"
 title: "coretrncodes Service"
host: "api-plato.us.oracle.com:8080"
basePath: "/api/1.0"
consumes:
 - "application/json"
produces:
 - "application/json"
tags:
 - name: "coretrncodes"
   description: "Source Transaction Codes can be created using this service. Transaction codes represents various types of transactions, for example, transfer charges, incoming mail transfer, incoming telex transfer, reserve, incoming clearing transfer etc."

schemes:
- "https"

paths:

# path to create a new record and fetch all valid records or by intent
#
#  supprorted http methods POST and GET
#
# path example ../coretrncodes

 /coretrncodes:
  post:
   tags:
    - "coretrncodes"
   summary: "Adds a new coretrncodes."
   description: "Adds a new coretrncodes. Add additional information here for this endpoint."
   operationId: "saveRecord"
   parameters:
    - name: "coretrncodes" 
      in: "body" 
      description: "Request Body that contains data required for creating a new coretrncodes" 
      required: true
      schema:
       $ref: "#/definitions/TransactionCodeDTO"
    
   responses:
    201: 
     description: "Returns message of succes or failure " 
     headers:
      Location:
       description: "URL of newly created coretrncodes" 
       type: "string"
     schema:
       $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "coretrncodes"
   summary: "Get all valid coretrncodes."
   description:  "Get all valid coretrncodes. This endpoints will be used to Get all valid coretrncodes maintenance records."
   operationId: "getAll"
   parameters:
   - name: includecloseandunauth
     in: query
     description: includecloseandunauth need to be set to fetch summary record, defult value is false
     required: false
     type: boolean
   - name: offset
     in: query
     description: offset is starting no of records to be fetched
     required: false
     type: integer
   - name: limit
     in: query
     description: limit is maximum no of records to be fetched
     required: false
     type: integer
   - in: query
     name: trnCode
     required: false
     type: string
   - in: query
     name: trnDesc
     required: false
     type: string
   - in: query
     name: sourceSystem
     required: false
     type: string
   - in: query
     name: sourceSystemTrnCode
     required: false
     type: string
   - in: query
     name: recordStat
     required: false
     type: string
   - in: query
     name: authStat
     required: false
     type: string
   - in: query
     name: makerId
     required: false
     type: string
   - in: query
     name: checkerId
     required: false
     type: string
   responses:
    201:
     description: "Returns message of succes or failure"
     headers: 
      Location:
       description: ""
       type: "string"
     schema:
       $ref: "#/definitions/TransactionCodeCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"

# path to modify existing record, delete existing record and fetch valid records by id or by intent( includes latestRecord, version no)
#
#  supprorted http methods PUT, DELETE and GET
#
# path examples----
#   PUT       .../coretrncodes/xxx
#   DELETE    .../coretrncodes/xxx
#   GET       .../coretrncodes/xxx
#   GET       .../coretrncodes/xxx?version=latestrecord
#   GET       .../coretrncodes/xxx?version=1

 /coretrncodes/{id}:
  put:
   tags:
    - "coretrncodes"
   summary: "Update an existing coretrncodes."
   description:  "Update an existing coretrncodes."
   operationId: "modifyRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "key of the coretrncodes Maintenance"
      required: true
      type: "string"
    - name: "coretrncodes"
      in: "body"
      description: "Request Body that contains data required for updating an existing coretrncodes"
      required: true
      schema:
       $ref: "#/definitions/TransactionCodeDTO"
   
   responses:
    200:
     description: "Returns updated coretrncodes"
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "coretrncodes"
   summary: "Retrieves the coretrncodes by ID."
   description:  "Retrieves the coretrncodes by ID."
   operationId: "getById"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
    - name: "version"
      in: "query"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the coretrncodes based on given id."
     schema:
      $ref: "#/definitions/TransactionCodeWrapperDTO"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
  delete:
   tags:
    - "coretrncodes"
   summary: "Deletes the coretrncodes identified by given ID."
   description:  "Deletes the coretrncodes identified by given ID. Add additional information here for the this endpoint."
   operationId: "delete"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the coretrncodes maintenance"
      required: true
      type: "string"
    - name: "coretrncodes"
      in: "body"
      description: Request body contain coretrncodes and Modification no of coretrncodes maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to Authorize existing record.
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../coretrncodes/xxx/approve

 /coretrncodes/{id}/approve:
  patch:
   tags:
    - "coretrncodes"
   summary: "Authorize the coretrncodes by given ID."
   description:  "Authorize the coretrncodes identified by given ID."
   operationId: "authorize"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the coretrncodes maintenance"
      required: true
      type: "string"
    - name: "coretrncodes"
      in: "body"
      description: Request body contain coretrncodes and Modification no of coretrncodes maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to close existing record
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../coretrncodes/xxx/close
 /coretrncodes/{id}/close:
  patch:
   tags:
    - "coretrncodes"
   summary: "Close the coretrncodes by given ID."
   description:  "Close the coretrncodes identified by given ID."
   operationId: "closeRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the coretrncodes maintenance"
      required: true
      type: "string"
    - name: "coretrncodes"
      in: "body"
      description: Request body contain coretrncodes and Modification no of coretrncodes maintenance which need to be closed"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to reopen existing record
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../coretrncodes/xxx/reopen

 /coretrncodes/{id}/reopen:
  patch:
   tags:
    - "coretrncodes"
   summary: "reopen the coretrncodes by given ID."
   description:  "reopen the coretrncodes identified by given ID."
   operationId: "reopenRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the coretrncodes maintenance"
      required: true
      type: "string"
    - name: "coretrncodes"
      in: "body"
      description: Request body contain coretrncodes and Modification no of coretrncodes maintenance which need to be reopen"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to get all unauthorized records
#
#  supprorted http methods GET
#
# path examples----
#   GET       .../coretrncodes/xxx/unauthorized

 /coretrncodes/{id}/unauthorized:
  get:
   tags:
    - "coretrncodes"
   summary: "Retrives the coretrncodes by given ID."
   description:  "Retrives the coretrncodes identified by given ID."
   operationId: "authQuery"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the coretrncodes based on given id."
     schema:
       $ref: "#/definitions/TransactionCodeCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to  history record for remitterid
#
#  supprorted http methods GETS
#
# path examples----
#   GET       .../coretrncodes/xxx/history

 /coretrncodes/{id}/history:
  get:
   tags:
    - "coretrncodes"
   summary: "Retrives the coretrncodes by given ID."
   description:  "Retrives the coretrncodes by ID."
   operationId: "getHistory"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the coretrncodes based on given id."
     schema:
       $ref: "#/definitions/TransactionCodeCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
 /coretrncodes/unauthorizedcount:
  get:
   tags:
    - "coretrncodes"
   summary: "Retrives the unauthorized coretrncodes records."
   description:  "Retrives the unauthorized coretrncodes records."
   operationId: "getUnauthorizedCount"
   responses:
    200:
     description: "Returns unauthorized coretrncodes records."
     schema:
       type: integer
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
definitions:
 TransactionCodeDTO:
  type: object
  allOf:
  - $ref: '#/definitions/GenericDto'
  - type: object
    properties:
     trnCode:
      type: string
      description: "Transaction code"
      minLength: 1
      maxLength: 3
      pattern: '[a-zA-Z0-9]+'
     trnDesc:
      type: string
      description: "Description for Transaction Code"
      minLength: 0
      maxLength: 105
     sourceSystem:
      type: string
      description: "Name of the Source System"
      minLength: 0
      maxLength: 35
     sourceSystemTrnCode:
      type: string
      description: "Transaction code in the source system"
      minLength: 0
      maxLength: 35
      pattern: '([a-zA-Z0-9]+)?'
    required:
     - trnCode
 ModListKeyDto:
  type: object
  properties:
   modNos:
    type: array
    items:
     type: integer
   remarks:
    type: string
 KeyDto:
  type: object
  properties:
   modNo:
    type: integer
   remarks:
    type: string
 ResponseDto:
  type: object
  properties:
   id:
    type: string
   status:
    type: string
   codes:
    type: array
    items:
     $ref: "#/definitions/ResponseCode"
   requestId:
    type: string
 ResponseCode:
  type: object
  properties:
   Code:
    type: string
   Desc:
    type: string
   Type:
    type: string
   Language:
    type: string
   args:
    type: array
    items:
     type: object
   arg:
    type: string
 
 GenericDto:
  allOf:
   - type: object
     discriminator: resource_type
 TransactionCodeCollection: 
  description: "Collection of coretrncode."
  type: "object"
  properties:
   data:
    type: "array"
    items: 
     $ref: "#/definitions/TransactionCodeDTO"
   paging:
    $ref: "#/definitions/PagingDto"
 PagingDto:
  type: object
  properties:
   totalResults:
    type: integer
 ResponseDtoWrapper:
  type: object
  properties:
   messages:
    $ref: "#/definitions/ResponseDto"
   data:
    $ref: "#/definitions/ResponseResourceSupport"
 ResponseResourceSupport:
  type: object
 TransactionCodeWrapperDTO:
  type: object
  properties:
   data:
    $ref: "#/definitions/TransactionCodeDTO"
