#-----------------------------------------------------------------------------------------------------
#  **
#  ** File Name  : common.yaml
#  **
#  ** Module     : oblm
#  ** 
# /*******************************************************************************
# * This source is part of the Oracle Banking Software Product.
# * Copyright (c) 2018,2021, Oracle and/or its affiliates. All rights reserved.
# *
# * No part of this work may be reproduced, stored in a retrieval system, adopted or tr
# *
# * Oracle Financial Services Software Limited.
# * Oracle Park, Off Western Express Highway,
# * Goregaon (East),
# * Mumbai - 400 063, India.
# ******************************************************************************/
#
#  CHANGE HISTORY
#
#  Created By         :  System
#
#  Bug Number         :  
#  Changed By         :  
#  Change Description :  
#  Change On          :  
#  Search String      :  
#  
#  -------------------------------------------------------------------------------------------------------
  

swagger: "2.0"
info:
 description: "This is a sample server interface server." 
 version: "1.0.0"
 title: "Interface Service"
host: "api-plato.us.oracle.com:8080"
basePath: "/api/1.0"
consumes:
 - "application/json"
produces:
 - "application/json"
tags:
 - name: "interface"
   description: ""

schemes:
- "https"

paths:

# path to create a new record and fetch all valid records or by intent
#
#  supprorted http methods POST and GET
#
# path example ../messagetype

 /balanceFetch1:
  get:
   tags:
    - "balanceFetch1"
   summary: "Get all balances."
   description:  "Get all balances. This endpoints will be used to Get all balances."
   operationId: "getAll"
   responses:
    201:
     description: "Returns message of succes or failure"
     headers: 
      Location:
       description: ""
       type: "string"
     schema:
       $ref: "#/definitions/LmxTmAccountVdBalCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"

definitions:
 AcentriesDTO:
  type: object
  properties:
   drcrInd:
    type: string
    description: ""
   trnRefNo:
    type: string
    description: ""
   event:
    type: string
    description: ""
   exchRate:
    type: number
    description: ""
   eventSrNo:
    type: number
    description: ""
   valueDt:
    type: string
    description: ""
   module:
    type: string
    description: ""
   amtTag:
    type: string
    description: ""
   acccy:
    type: string
    description: ""
   fcyAmt:
    type: number
    description: ""
   acBranch:
    type: string
    description: ""
   acNo:
    type: string
    description: ""
   lcyAmt:
    type: number
    description: ""
   trnCode:
    type: string
    description: ""
   forcePost:
    type: string
    description: ""
   relatedCustomer:
    type: string
    description: ""
   relatedAccount:
    type: string
    description: ""
   relatedRefNo:
    type: string
    description: ""
 AccountHandOffDTO:
  type: object
  properties:
   source:
    type: string
    description: ''
   messageId:
    type: string
    description: ''
   branch:
    type: string
    description: ''
   uniqueRefNo:
    type: string
    description: ''
   txnReFno:
    type: string
    description: ''
   acentries:
    type: array
    items:
     $ref: '#/definitions/AcentriesDTO'
 AcBalReqDTO:
  type: object
  properties:
   accno:
    type: string
    description: ''
   trndt:
    type: string
    description: ''
   balancetype:
    type: string
    description: ''
   branch:
    type: string
    description: ''
 AccountBalanceRequestDTO:
  type: object
  properties:
   source:
    type: string
    description: ''
   branchCode:
    type: string
    description: ''
   refNo:
    type: string
    description: ''
   accounts:
    type: array
    items:
     $ref: '#/definitions/AcBalReqDTO'    
 TDAccountDTO:
  type: object
  properties:
   source:
    type: string
    description: ''
   ubsComp:
    type: string
    description: ''
   messageId:
    type: string
    description: ''
   branch:
    type: string
    description: ''
   uniqueRefNo:
    type: string
    description: ''
   txnReFno:
    type: string
    description: ''
   termAcNo:
    type: string
    description: ''
   custNo:
    type: string
    description: ''
   accls:
    type: string
    description: ''
   tdCcy:
    type: string
    description: ''
   tdPayInDetails:
    type: array
    items:
     $ref: '#/definitions/TDPayInDetailsDTO'
   tdPayOutDetails:
    type: array
    items:
     $ref: '#/definitions/TDPayOutDetailsDTO'
 TDPayInDetailsDTO:
  type: object
  properties:
   mmPayOpt:
    type: string
    description: ''
   amt:
    type: number
    description: ''
   offBrn:
    type: string
    description: ''
   offsAcc:
    type: string
    description: ''
   mmOffSetCCY:
    type: string
    description: ''
   percentage:
    type: string
    description: ''
   appliedExchnageRate:
    type: string
    description: ''
   chqInstNo:
    type: string
    description: ''
   originalExchangeRate:
    type: string
    description: ''
   OffsetAmount:
    type: string
    description: ''
   ProductF:
    type: string
    description: ''
   ChqAdte:
    type: string
    description: ''
   DraweeAccount:
    type: string
    description: ''
   RoutingNo:
    type: string
    description: ''
 TDPayOutDetailsDTO:
  type: object
  properties:
   payOutType:
    type: string
    description: ''
   offBrn:
    type: string
    description: ''
   offsAcc:
    type: string
    description: ''
   percentage:
    type: string
    description: ''  
   Narrative:
    type: string
    description: ''  
   payOutComp:
    type: string
    description: ''    