#
#-----------------------------------------------------------------------------------------------------
#  **
#  ** File Name  : common.yaml
#  **
#  ** Module     : oblm
#  ** 
#  * ******************************************************************************
#  *  * This source is part of the Oracle Banking Software Product.
#  *  * Copyright (c) 2018,2021, Oracle and/or its affiliates. All rights reserved.
#  *  *
#  *  * No part of this work may be reproduced, stored in a retrieval system, adopted
#  *  * or transmitted in any form or by any means, electronic, mechanical, photographic,
#  *  * graphic, optic recording or otherwise, translated in any language or computer
#  *  * language, without the prior written permission of Oracle and/or its affiliates.
#  *  *
#  *  * Oracle Financial Services Software Limited.
#  *  * Oracle Park, Off Western Express Highway,
#  *  * Goregaon (East),
#  *  * Mumbai - 400 063, India.
#  *  *****************************************************************************
#
#  CHANGE HISTORY
#
#  Created By         :  Raviteja
#
#  Bug Number         :  
#  Changed By         :  Ketki
#  Change Description :  
#  Change On          :  
#  Search String      :  
#  
#  -------------------------------------------------------------------------------------------------------
  

swagger: "2.0"
info:
 description: "This is a sample server structurereport server." 
 version: "1.0.0"
 title: "structure modified report Service"
host: "api-plato.us.oracle.com:8080"
basePath: "/api/1.0"
consumes:
 - "application/json"
produces:
 - "application/json"
tags:
 - name: "structure modified report"
   description: "Structure modified report creation and retrieving"

schemes:
- "https"

paths:

# path to create a new record and fetch all valid records or by intent
#
#  supprorted http methods POST and GET
#
# path example ../structuremodifiedreport

 /structuremodifiedreport/generateReport:     
  post:
   tags:
    - "structuremodifiedreport"
   summary: "Get all valid structuremodifiedreport."
   description:  "Get all valid structuremodifiedreport. This endpoints will be used to Get all valid structuremodifiedreport maintenance records."
   operationId: "generateReport"
   parameters:
     - name: StructureModifiedReportInputDTO
       in: "body"
       description: "Request Body that contains data required for creating a new oblm-report-services" 
       required: true
       schema:
         $ref: "#/definitions/StructureModifiedReportInputDTO"   
   responses:
    201:
     description: "Returns message of succes or failure"
     headers: 
      Location:
       description: ""
       type: "string"
     schema:
       $ref: "#/definitions/StructureMasterReportDTOCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"




definitions:
 StructureMasterHeaderDTO:
  type: object
  allOf:
  - $ref: '#/definitions/GenericDto'
  - type: object
    properties:
     amendedStructureDuringSelectedPeriodInNumbers:
      type: string
      description: ""
     liquidityType:
      type: string
      description: ""
 StructureMasterbodyDTO:
  type: object
  allOf:
  - $ref: '#/definitions/GenericDto'
  - type: object
    properties:        
     effectiveDate:
      type: string
      #format: date
      description: ""
     endDate:
      type: string
      #format: date
      description: ""
     checkerDtStamp:
      type: string
      #format: date
      description: ""
     headerAccountCurrency:
      type: string
      description: ""
     headerBranchCode:
      type: string
      description: ""
     headerBranchName:
      type: string
      description: ""
     headerAccountDescription:
      type: string
      description: ""
     headerAccountNumber:
      type: string
      description: ""
     isCrossCurrency:
      type: string
      description: ""
     isMultiBank:
      type: string
      description: ""
     versionNo:
      type: number
      description: "" 
     reallocationMethod:
      type: string
      description: ""
     structureDescription:
      type: string
      description: ""
     structureId:
      type: string
      description: ""
     liquidityType:
      type: string
      description: ""
     amendedStructureDuringSelectedPeriod:
      type: string
      description: ""
     totalAmendedsOnStructure:
      type: string
      description: ""
     structureDomain:
      type: string
      description: ""
     structureStatus:
      type: string
      description: ""
 ModListKeyDto:
  type: object
  properties:
   modNos:
    type: array
    items:
     type: integer
   remarks:
    type: string
 KeyDto:
  type: object
  properties:
   modNo:
    type: integer
   remarks:
    type: string
 ResponseDto:
  type: object
  properties:
   id:
    type: string
   status:
    type: string
   codes:
    type: array
    items:
     $ref: "#/definitions/ResponseCode"
   requestId:
    type: string
 StructureModifiedReportInputDTO:
  type: "object"
  allOf:
  - $ref: '#/definitions/GenericDto'
  - type: object
    properties:
     customerId:
      type: string
     structureId:
      type: string
     structureType:
      type: string
     liquidityType:
      type: string   
     fromDate:
      type: string
      format: date
     toDate:
      description: To Date of Exceptions
      type: string
      format: date
 UserInformationDTO:
   type: object
   properties: 
      userId:
       type: string
       description: Generated By user id
      dateAndTime:
       type: string
       description: Generated At time     
 ResponseCode:
  type: object
  properties:
   Code:
    type: string
   Desc:
    type: string
   Type:
    type: string
   Language:
    type: string
   args:
    type: array
    items:
     type: object
   arg:
    type: string
 GenericDto:
  allOf:
   - type: object
     discriminator: resource_type
 StructureMasterReportDTOCollection: 
  description: "Collection of structuredummy."
  type: "object"
  properties:
   data:
    $ref: "#/definitions/ReportResponse"
   messages:
    $ref: "#/definitions/ResponseDto"
 StructureMasterDTOCollection: 
  description: "Collection of entries."
  type: "object"
  properties:
   userInfo:
     type: object
     items:
      $ref: "#/definitions/UserInformationDTO"
   datahead:
    type: "array"
    items:
     $ref: "#/definitions/StructureMasterHeaderDTO"
   databody:
    type: "array"
    items:
     $ref: "#/definitions/StructureMasterbodyDTO" 
   messages:
    $ref: "#/definitions/ResponseDto"  
 PagingDto:
  type: object
  properties:
   totalResults:
    type: integer
 ResponseDtoWrapper:
  type: object
  properties:
   messages:
    $ref: "#/definitions/ResponseDto"
   data:
    $ref: "#/definitions/ResponseResourceSupport"
 ResponseResourceSupport:
  type: object
 StructureMasterWrapperDTO:
  type: object
  properties:
   data:
    $ref: "#/definitions/StructureMasterbodyDTO"
