swagger: "2.0"
info:
  description: "This is a OBCM Conductor Interface server.  You can find out more about Swagger at [swagger.io](http://swagger.io) and about data types at [Swagger Data Types](https://swagger.io/docs/specification/data-models/data-types/)"
  version: "1.0.0"
  title: "Conductor Service APIs"
host: "api-plato.us.oracle.com:8080"
basePath: "/api/1.0"
consumes:
  - "application/json"
produces:
  - "application/json"
tags:
  - name: "WorkflowInterface"
    description: "Interface between conductor and service"
    
schemes:
- "https"

paths:
  /service/v1/handleHTTPTask:
    post:
      tags:
        - "WorkflowInterface"
      summary: "Interface to handle HTTP Task from Conductor"
      description: "Handles the HTTP task from the conductor"
      operationId: "handleHTTPTask"
      parameters:
          - name: "userId"
            in: "header"
            description: "userId"
            required: true
            type: "string"
          - name: "appId"
            in: "header"
            type: "string"
            required: true
          - name: branchCode
            in: header
            type: string
            required: true
          - name: "conductorWorkflowModel"
            in: "body"
            description: "Request Body that contains data required for creating a new customer"
            required: true
            schema:
              $ref: "#/definitions/ConductorWorkflowModel"
      responses:
        201:
          description: "Returns the error code from service"
          schema:
            $ref: "#/definitions/ConductorWorkflowModel"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
  /service/v1/updateManualTask:
    post:
      tags:
        - "WorkflowInterface"
      summary: "Updates the manual task from the conductor"
      description: "Updates the manual task from the conductor"
      operationId: "updateManualTask"
      parameters:
        - name: userId
          in: header
          description: userId
          required: true
          type: string
        - name: appId
          in: header
          type: string
          required: true
        - name: branchCode
          in: header
          type: string
          required: true
        - name: contentType
          in: header
          type: string
          required: false
        - name: "requestModel"
          in: "body"
          description: "Request Body that contains data required for creating a new customer"
          required: true
          schema:
            $ref: "#/definitions/ConductorWorkflowModel"
      responses:
        201:
          description: "Returns the error code from service"
          schema:
            $ref: "#/definitions/ConductorWorkflowModel"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
  /service/v1/initiateWorkflow:
    post:
      tags:
        - "WorkflowInterface"
      summary: "Initiates the workflow from the conductor"
      description: "Initiates the workflow from the conductor"
      operationId: "initiateWorkflow"
      parameters:
        - name: userId
          in: header
          description: userId
          required: true
          type: string
        - name: appId
          in: header
          type: string
          required: true
        - name: branchCode
          in: header
          type: string
          required: true
        - name: contentType
          in: header
          type: string
          required: false
        - name: "conductorWorkflowModel"
          in: "body"
          description: "Request Body that contains data required for creating a new customer"
          required: true
          schema:
            $ref: "#/definitions/ConductorWorkflowModel"
      responses:
        201:
          description: "Returns the error code from service"
          schema:
            $ref: "#/definitions/ConductorWorkflowModel"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
    
definitions:
  ConductorWorkflowModel:
    description: "ConductorWorkflowModel"
    type: "object"
    properties:
      processCode:
        type: "string"
        description: "Process Code to identify workflow"
      processName:
        type: "string"
        description: "Process Name to identify workflow"
      userId:
        type: "string"
        description: "User Id"
      stageId:
        type: "string"
        description: "Stage Id"
      stageDescription:
        type: "string"
        description: "Stage desc"
      branchCode:     
        type: "string"
        description: "Branch Code"
      errorCode:
        type: "string"
        description: "Error Code"
      errorDesc:
        type: "string"
        description: "Error Desc"
      transactionReferenceNo:
        type: "string"
        description: "Transaction Referenec No"
      processingDate:
        description: "Processing Date"
        type: "string"
      businessDate:
        description: "Business Date"
        type: "string"
      workflowInstanceId:
        description: "Workflow Instance Id"
        type: "string"
      taskInstanceId:
        description: "Task Instance Id"
        type: "string"
      uri:
        description: "EndPoint of Workflow Service"
        type: "string"
      appId:
        description: "appId of Workflow Service"
        type: "string"
      product:
        description: "Product type to identify service for instrument"
        type: "string"
      productCategory:
        description: "Product category to identify datasegment"
        type: "string"
      applicationNumber:
        description: "Reference number without seqno"
        type: "string"
      customerNumber:
        description: "Customer Id"
        type: "string"
      amount:
        type: "number"
        description: "Instrument Amount"
      currencyCode:
        type: "string"
        description: "Instrument Currency"
      priority:
        description: "To decide the priority of the task"
        type: "string"
      applicationCode:
        description: "Application code"
        type: "string"
      instrumentModel:
        $ref: "#/definitions/InstrumentModel"
      cashManagementModel:  
        $ref: "#/definitions/CashManagementModel"
      fileUploadModel:
        $ref: "#/definitions/FileUploadModel"
      manualReconModel:
        $ref: "#/definitions/ManualReconModel"
      financeModel:
        $ref: "#/definitions/FinanceModel"
      workflowType:
         description: "Workflow type"
         type: "string"    
      productCode:
         description: "Product Code"
         type: "string"    
      event:
         description: "Event"
         type: "string"
      isAutoAuth:
         description: "Is Auto Authorized"
         type: "string"
      isReworkAllowed:
         description: "Is Rework Allowed"
         type: "string"
      version:
        type: "string"
      exceptionQueue:
        type: "string"
            
  InstrumentModel:
    description: "InstrumentModel"
    properties: 
      action:
        type: "string"
        description: "Action"
      isAutoAuth:
        type: "string"
        description: "IsAutoAuth"
      isFileUpload:
        type: "string"
        description: "isFileUpload"
      isFileAuthorized:
        type: "string"
        description: "isFileUpload"
      isPortalTxn:
        type: "string"
        description: "isPortalTxn"
      instrumentType:
        type: "string"
        description: "Instrument Type"
      isFromML:
        type: "string"
        description: "Check if txn is from ML"
      isMLHumanTaskReqd:
        type: "string"
        description: "Check if ml txn requires human task"
      isAutoProcessingReqInv:
        type: "string"
        description: "Check if auto processing required"
      isManualEnrichmentReqdInv:
        type: "string"
        description: "Check if manual processing required"  
      limitBlockReqdInv:
        type: "string"
        description: "Check if limits block required"  
      limitUtilRelReqdInv:
        type: "string"
        description: "Check if limits util or release required"
      isAccountingApplicable:
        type: "string"
        description: "Check if accounting applicable"
      additionalDetails:
       type: object
       additionalProperties:
        type: object
        
  CashManagementModel:
    description: "CashManagementModel"
    properties:
      productGroup:
        type: "string"
        description: "Product Group"
      channel:
        type: "string"
        description: "Channel"
      operation:
        type: "string"
        description: "Operation"
      referenceNo:
        type: "string"
        description: "Reference No"
      seqNo:  
        type: "string"
        description: "Seq No" 
      isAccEntryGenRequired:
        description: "Is Acc Entry Gen Reqd"
        type: "string"
      isOnlinePostingReqd:
        description: "Is Online Posting Reqd"
        type: "string"
      isClearingRequired:
        description: "Is Clearing Reqd"
        type: "string"
      isScheduleGenerationRequired:
        description: "Is Schedule Generation Reqd"
        type: "string"
      isPoolingRequired:
        description: "Is Pooling Reqd"
        type: "string"
      isManualEnrichmentReqd:
        description: "Is Manual Enrichment Reqd"
        type: "string"
      countOfDepositSlips:
        description: "Count of Deposit Slips"
        type: "integer"
        format: "int64"
      countOfInstruments:
        description: "Count of Instruments"
        type: "integer"
        format: "int64"
      isAutoAuth:
        type: "string"
        description: "IsAutoAuth"
      instrumentType:
        type: "string"
        description: "Instrument Type"
      isUpdateCheckReqd:
        type: "string"
        description: "isUpdateCheckReqd"
      isArrAndPoolingReqd:
        type: "string"
        description: "isArrAndPoolingReqd"
      additionalDetails:
       type: object
       additionalProperties:
        type: object  
  FileUploadModel:
    description: "FileUploadModel"
    properties:
      fileId:
        type: "string"
        description: "fileId"
      fileReference:
        type: "string"
        description: "fileReference"
      isRouteViaInstrumentWorkflow:
        type: "string"
        description: "isRouteViaInstrumentWorkflow"
      isAutoAuth:
        type: "string"
        description: "isAutoAuth"
      isResponseFileRequired: 
        type: "string"
        description: "isResponseFileRequired"
      isRouteViaUpdateInstrumentWorkflow:
        type: "string"
        description: "isRouteViaUpdateInstrumentWorkflow"
      filePath:
        type: "string"
        description: "filePath"
      fileName:
        type: "string"
        description: "filePath"
      additionalDetails:
       type: object
       additionalProperties:
        type: object
        
  ManualReconModel:
    description: "ManualReconModel"
    properties:
      isAutoAuth:
        description: "Is Auto Auth"
        type: "string" 
      reconTxnRefNo:
        description: "Transaction Reference Number"
        type: "string"
      isVamIntegrationReqd:
        description: "Flag for Reference Number"
        type: "string"
      isFinanceIntegrationReqd:
        description: "Flag for finance settlement "
        type: "string"
      invAcquireTaskReqd:
        description: "Flag for to acquire invoice task"
        type: "string"
      additionalDetails:
       type: object
       additionalProperties:
        type: object
  FinanceModel:
    description: "FinanceModel"
    properties:
      financeRefNo:
        type: "string"
        description: "financeRefNo"
      financeRefNoSeqNo:
        type: "string"
        description: "financeRefNoSeqNo"
      financeSeqNo:
        type: "integer"
        format: "int64"
      taskName:
        type: "string"
      isAutoProcessing:
        type: "string"
        description: "isAutoProcessing flag"
      isLimitBlockReqd:
        type: "string"
        description: "isLimitBlockReqd flag"
      isAuthRequired:
        type: "string"
        description: "isAuthRequired flag"
      isAccEntriesPostRequired:
        type: "string"
        description: "isAccEntriesPostRequired flag"
      isExternalPaymentRequired:
        type: "string"
        description: "isExternalPaymentRequired flag"
      isLimitUtilReleaseRequired:
        type: "string"
        description: "isLimitUtilReleaseRequired flag"
      isUpdateFinanceMasterReqd:
        type: "string"
        description: "isUpdateFinanceMasterReqd flag"
      isInstrumentUpdateReqd:
        type: "string"
        description: "isInstrumentUpdateReqd flag"
      isObclTxnUpdateReqd:
        type: "string"
        description: "isObclTxnUpdateReqd flag"
      isAlertsAndNotificationReqd:
        type: "string"
        description: "isAlertsAndNotificationReqd flag"
      userAmount:
        type: "number"
      userCcy:
        type: "string"
      additionalDetails:
       type: object
       additionalProperties:
        type: object