#-----------------------------------------------------------------------------------------------------
#  **
#  ** File Name  : Charges.yaml
#  **
#  ** Module     : obscfcm
#  ** 
#  ** This source is part of the Oracle FLEXCUBE  and is copyrighted by Oracle Financial Services Software Limited.  ** 
#  ** 
#  ** All rights reserved. No part of this work may be reproduced, stored in a retrieval system,
#  ** adopted or transmitted in any form or by any means, electronic, mechanical, photographic,
#  ** graphic, optic recording or otherwise, translated in any language or computer language,
#  ** without the prior written permission of Oracle Financial Services Software Limited.
#  ** 
#  ** Oracle Financial Services Software Limited.
#  ** 10-11, SDF I, SEEPZ, Andheri (East),
#  ** Mumbai - 400 096.
#  ** India
#  ** Copyright 2017-2018 Oracle Financial Services Software Limited. All rights reserved.
#  -------------------------------------------------------------------------------------------------------
#
#  CHANGE HISTORY
#
#  Created By         :  System
#
#  Bug Number         :  
#  Changed By         :  
#  Change Description :  
#  Change On          :  
#  Search String      :  
#  
#  -------------------------------------------------------------------------------------------------------
  

swagger: "2.0"
info:
 description: "This is a sample server obscfcm server." 
 version: "1.0.0"
 title: "Charge Enquiry Web"
host: "api-plato.us.oracle.com:8080"
basePath: "/api/1.0"
consumes:
 - "application/json"
produces:
 - "application/json"
tags:
 - name: "ChargesEnqWeb"
   description: "API that facilitates the maintenance of charge codes. These charges as per the maintained charge codes will be levied at the time of transaction processing. Post this the back office user will define pricng for those charge codes."

schemes:
- "https"

paths:

# path to create a new record and fetch all valid records or by intent
#
#  supprorted http methods POST and GET
#
# path example ../web/v1/charges

 /web/v1/getTxnDetails:
  get:
   tags:
    - "ChargesEnqWeb"
   summary: "Get all valid Charge Maintenances."
   description:  "Get all valid Charge Maintenances. This endpoints will be used to Get all valid Charge Maintenance records."
   operationId: "getAllTxnDetails"
   parameters:
   - name: "userId"
     in: "header"
     description: "userId"
     required: true
     type: "string"
   - name: "branchCode"
     in: "header"
     description: "branchCode"
     required: true
     type: "string"
   - name: "appId"
     in: "header"
     description: "appId"
     type: "string"
     required: true
   - name: offset
     in: query
     description: offset is starting no of records to be fetched
     required: false
     type: integer
   - name: limit
     in: query
     description: limit is maximum no of records to be fetched
     required: false
     type: integer
   - name: instrumentType
     in: query
     description: instrumentType of the charge similar to the Charge Maintenance records that need to be fetched. 
     required: false
     type: "string"
   - name: txnRefNo
     in: query
     description: txnRefNo of the charge similar to the Charge Maintenance records that need to be fetched. 
     required: true
     type: "string"   
     
   responses:
    201:
     description: "Returns message of succes or failure"
     headers: 
      Location:
       description: "Location"
       type: "string"
     schema:
       $ref: "./chargesEnqDef.yaml#/definitions/GenricDtoCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
     
    
       
 /web/v1/postChargesTxnData:
  post:
   tags:
     - "ChargesEnqWeb"
   summary: "Service to post ObChargesTxnData"
   description:  "Service to post ObChargesTxnData."
   operationId: "postObChargesTxnDataWeb"
   parameters:
     - name: "userId"
       in: "header"
       description: "userId"
       required: true
       type: "string"
     - name: "branchCode"
       in: "header"
       description: "branchCode"
       required: true
       type: "string"
     - name: "appId"
       in: "header"
       type: "string"
       required: true
     - name: "obChargesTxnDTOCollection"
       in: "body"
       description: "Request Body that contains data required for a run Eod Job"
       required: false
       schema:
         $ref: "./chargesEnqDef.yaml#/definitions/ObChargesTxnDTOCollection"
   responses:
     200:
       description: "Success"
       schema:
         $ref: "./chargesEnqDef.yaml#/definitions/ResponseDtoWrapper"
     400:
       description: "Malformed syntax."
     401:
       description: "Request does not have sufficient credentials."
     403:
       description: "Request is not authorized."
     405:
       description: "Invalid input"
     500:
       description: "Internal error"
       
                    
 /web/v1/chargeEnquiry:
  get:
   tags:
    - "ChargesEnqWeb"
   summary: "Charges Enquiry"
   description:  "Charges Enquiry"
   operationId: "getChargeDetails"
   parameters:
    - name: appId
      in: header
      type: string
      required: true
    - name: tenantId
      in: header
      type: string
      required: false
    - name: userId
      in: header
      type: string
      required: true
      description: user id for SMS
    - name: branchCode
      in: header
      type: string
      required: true
    - name: authToken
      in: header
      type: string
      required: false
      description: branch code for SMS
    - name: contentType
      in: header
      type: string
      required: false
    - name: branchDate
      in: header
      type: string
      format: date-time
      required: false  
    - name: offset
      in: query
      description: offset is starting no of records to be fetched
      required: false
      type: integer
    - name: limit
      in: query
      description: limit is maximum no of records to be fetched
      required: false
      type: integer    
    - name: applicationCode
      in: query
      required: true
      type: string
    - name: branchCode
      in: query
      required: false
      type: string
    - name: event
      in: query
      required: false
      type: string
    - name: party
      in: query
      required: false
      type: string
    - name: partyRole
      in: query
      required: false
      type: string
    - name: product
      in: query
      required: false
      type: string
    - name: chargeCode
      in: query
      required: false
      type: string
    - name: chargeGroup
      in: query
      required: false
      type: string
    - name: chargeType
      in: query
      required: false
      type: string
    - name: chargeAccount
      in: query
      required: false
      type: string
    - name: collectionType
      in: query
      required: false
      type: string
    - name: txnRefNo
      in: query
      required: false
      type: string
    - name: dateRefBasis
      in: query
      required: false
      type: string
    - name: fromDate
      in: query
      required: false
      type: string
    - name: toDate
      in: query
      required: false
      type: string
    - name: currency
      in: query
      required: false
      type: string
    - name: fromAmt
      in: query
      required: false
      type: number
    - name: toAmt
      in: query
      required: false
      type: number
    - name: status
      in: query
      required: false
      type: string
    - name: corporate
      in: query
      required: false
      type: string
    - name: referenceNumber
      in: query
      required: false
      type: string
    - name: depositSlipNumber
      in: query
      required: false
      type: string
    - name: instrumentNumber
      in: query
      required: false
      type: string 
    - name: instrumentType
      in: query
      required: false
      type: string
    - name: instrumentStatus
      in: query
      required: false
      type: string
    - name: creditDebitStatus
      in: query
      required: false
      type: string               
   responses:
    200:
     description: "Returns the charge maintenance actions based on given id."
     schema:
      $ref: "./chargesEnqDef.yaml#/definitions/ChargeEnquiryDetailCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
