swagger: "2.0"
info:
 description: "This is a sample server Charge Pricing Template server." 
 version: "1.0.0"
 title: "Charges Pricing Template Service APIs"
host: "api-plato.us.oracle.com:8080"
basePath: "/obscfcm-charges-services"
consumes:
 - "application/json"
produces:
 - "application/json"
tags:
 - name: "chgPrcTmplService"
   description: "Charge Pricing Template Service"

paths:  
  /service/v1/prcMethods:
   get:
     tags:
       - "chgPrcTmplService"
     summary: "Gives best possible combination for the given category"
     description: "Gives best possible combination for the given category"
     operationId: "getPrcMethods"
     parameters:
     - name: "userId"
       in: "header"
       description: "User Id"
       required: true
       type: "string"
     - name: "branchCode"
       in: "header"
       description: "Branch code"
       required: true
       type: "string"
     - name: "appId"
       in: "header"
       description: "App Id"
       type: "string"
       required: true
     - name: "applicationCode" 
       in: "query" 
       description: "Application code"
       required: true
       type: "string"
     - name: "prcCategory" 
       in: "query" 
       description: "Pricing category"
       type: "string"
       required: true
     responses:
       200:
         description: "Best possible record from the pricing methods"
         schema:
           $ref: "./chgPrcTmpltDef.yaml#/definitions/ObPrcMethodsCollection"
       400:
         description: "Malformed syntax."
       401:
         description: "Request does not have sufficient credentials."
       403:
         description: "Request is not authorized."
       500:
         description: "Internal error" 
  
  /service/v1/getChargeDetails:
   post:
     tags:
       - "chgPrcTmplService"
     summary: "Gives best possible combination for the given category"
     description: "Gives best possible combination for the given category"
     operationId: "getChargeDetails"
     parameters:
     - name: "userId"
       in: "header"
       description: "User Id"
       required: true
       type: "string"
     - name: "branchCode"
       in: "header"
       description: "Branch code"
       required: true
       type: "string"
     - name: "appId"
       in: "header"
       description: "App Id"
       type: "string"
       required: true
     - name: "chrgeFilterParams" 
       in: "body" 
       description: "Charge filter parameters"
       required: true
       schema:
        $ref: "./chgPrcTmpltDef.yaml#/definitions/ChargesRequestDto"
     responses:
       200:
         description: "Best possible record from the pricing methods"
         schema:
           $ref: "./chgPrcTmpltDef.yaml#/definitions/ChargeCodeDetailsCollection"
       400:
         description: "Malformed syntax."
       401:
         description: "Request does not have sufficient credentials."
       403:
         description: "Request is not authorized."
       500:
         description: "Internal error"
         
  /service/v1/getPrefChargeDetails:
   post:
     tags:
       - "chgPrcTmplService"
     summary: "Gives best possible combination for the given category"
     description: "Gives best possible combination for the given category"
     operationId: "getPrefChargeDetails"
     parameters:
     - name: "userId"
       in: "header"
       description: "User Id"
       required: true
       type: "string"
     - name: "branchCode"
       in: "header"
       description: "Branch code"
       required: true
       type: "string"
     - name: "appId"
       in: "header"
       description: "App Id"
       type: "string"
       required: true
     - name: "chrgeFilterParams" 
       in: "body" 
       description: "Request Body of the API" 
       required: true
       schema:
        $ref: "./chgPrcTmpltDef.yaml#/definitions/ChargesRequestDto"
     responses:
       200:
         description: "Best possible record from the pricing methods"
         schema:
           $ref: "./chgPrcTmpltDef.yaml#/definitions/ChargeCodeDetailsCollection"
       400:
         description: "Malformed syntax."
       401:
         description: "Request does not have sufficient credentials."
       403:
         description: "Request is not authorized."
       500:
         description: "Internal error"
                
  /service/v1/prcCategory:
   get:
     tags:
       - "chgPrcTmplService"
     summary: "Gives all  pricing categories"
     description: "Gives all  pricing categories"
     operationId: "getPrcCategory"
     parameters:
     - name: "userId"
       in: "header"
       description: "User Id"
       required: true
       type: "string"
     - name: "branchCode"
       in: "header"
       description: "Branch code"
       required: true
       type: "string"
     - name: "appId"
       in: "header"
       description: "App Id"
       type: "string"
       required: true
     responses:
       200:
         description: "Best possible record from the pricing methods"
         schema:
           $ref: "./chgPrcTmpltDef.yaml#/definitions/ObPrcCategoryCollection"
       400:
         description: "Malformed syntax."
       401:
         description: "Request does not have sufficient credentials."
       403:
         description: "Request is not authorized."
       500:
         description: "Internal error"        