#-----------------------------------------------------------------------------------------------------
#  **
#  ** File Name  : common.yaml
#  **
#  ** Module     : OBSCFCM
#  ** 
#  ** This source is part of the Oracle FLEXCUBE  and is copyrighted by Oracle Financial Services Software Limited.  ** 
#  ** 
#  ** All rights reserved. No part of this work may be reproduced, stored in a retrieval system,
#  ** adopted or transmitted in any form or by any means, electronic, mechanical, photographic,
#  ** graphic, optic recording or otherwise, translated in any language or computer language,
#  ** without the prior written permission of Oracle Financial Services Software Limited.
#  ** 
#  ** Oracle Financial Services Software Limited.
#  ** 10-11, SDF I, SEEPZ, Andheri (East),
#  ** Mumbai - 400 096.
#  ** India
#  ** Copyright 2017-2018 Oracle Financial Services Software Limited. All rights reserved.
#  -------------------------------------------------------------------------------------------------------
#
#  CHANGE HISTORY
#
#  Created By         :  System
#
#  Bug Number         :  
#  Changed By         :  
#  Change Description :  
#  Change On          :  
#  Search String      :  
#  
#  -------------------------------------------------------------------------------------------------------
  

swagger: "2.0"
info:
 description: "This is a sample server charge pricing template server." 
 version: "1.0.0"
 title: "Charge Pricing Template Web"
host: "api-plato.us.oracle.com:8080"
basePath: "/api/1.0"
consumes:
 - "application/json"
produces:
 - "application/json"
tags:
 - name: "chgPrcTmplWeb"
   description: "Charge Pricing Template"

schemes:
- "https"

paths:

# path to create a new record and fetch all valid records or by intent
#
#  supprorted http methods POST and GET
#
# path example ../web/v1/chgPrcTmpl

 /web/v1/chgPrcTmpl:
  post:
   tags:
    - "chgPrcTmplWeb"
   summary: "Adds a new charge pricing template."
   description: "Adds a new charge pricing template. Add additional information here for this endpoint."
   operationId: "saveRecord"
   parameters:
    - name: "userId"
      in: "header"
      description: "userId"
      required: true
      type: "string"
    - name: "branchCode"
      in: "header"
      description: "branchCode"
      required: true
      type: "string"
    - name: "appId"
      in: "header"
      type: "string"
      required: true
    - name: "chgPrcTmplWebModel"
      in: "body"
      description: "Request Body that contains data required for creating a new charge pricing template."
      required: true
      schema:
        $ref: "./chgPrcTmpltDef.yaml#/definitions/ChgPrcTmplWebModel"
   responses:
    201: 
     description: "Returns message of succes or failure " 
     headers:
      Location:
       description: "URL of newly created charge pricing template." 
       type: "string"
     schema:
       $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "chgPrcTmplWeb"
   summary: "Get all valid charge pricing template."
   description:  "Get all valid charge pricing template. This endpoints will be used to Get all valid charge pricing template maintenance records."
   operationId: "getAll"
   parameters:
   - name: "userId"
     in: "header"
     description: "userId"
     required: true
     type: "string"
   - name: "branchCode"
     in: "header"
     description: "branchCode"
     required: true
     type: "string"
   - name: "appId"
     in: "header"
     type: "string"
     required: true
   - name: includecloseandunauth
     in: query
     description: includecloseandunauth need to be set to fetch summary record, defult value is false
     required: false
     type: boolean
   - name: offset
     in: query
     description: offset is starting no of records to be fetched
     required: false
     type: integer
   - name: limit
     in: query
     description: limit is maximum no of records to be fetched
     required: false
     type: integer
   - in: query
     name: applicationCode
     required: false
     type: string
   - in: query
     name: authStat
     required: false
     type: string
   - in: query
     name: chgInTxnCcy
     required: false
     type: string
   - in: query
     name: chgPrcDesc
     required: false
     type: string
   - in: query
     name: chgPrcTemplateId
     required: false
     type: string
   - in: query
     name: fixedAmt
     required: false
     type: integer
   - in: query
     name: fixedPct
     required: false
     type: integer
   - in: query
     name: flatChg
     required: false
     type: string
   - in: query
     name: maxChgAmount
     required: false
     type: integer
   - in: query
     name: maxChgPct
     required: false
     type: integer
   - in: query
     name: minChgAmount
     required: false
     type: integer
   - in: query
     name: minChgPct
     required: false
     type: integer
   - in: query
     name: minMaxValidationCriteria
     required: false
     type: string
   - in: query
     name: prcCategory
     required: false
     type: string
   - in: query
     name: prcCategoryDesc
     required: false
     type: string
   - in: query
     name: prcCcy
     required: false
     type: string
   - in: query
     name: prcMethod
     required: false
     type: string
   - in: query
     name: prcMethodDesc
     required: false
     type: string
   - in: query
     name: recordStat
     required: false
     type: string
   - in: query
     name: category
     required: false
     type: string
   responses:
    201:
     description: "Returns message of succes or failure"
     headers: 
      Location:
       description: "Location"
       type: "string"
     schema:
       $ref: "./chgPrcTmpltDef.yaml#/definitions/CmcTmChgPrcTmpltCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"

# path to modify existing record, delete existing record and fetch valid records by id or by intent( includes latestRecord, version no)
#
#  supprorted http methods PUT, DELETE and GET
#
# path examples----
#   PUT       .../web/v1/chgPrcTmpl/xxx
#   DELETE    .../web/v1/chgPrcTmpl/xxx
#   GET       .../web/v1/chgPrcTmpl/xxx
#   GET       .../web/v1/chgPrcTmpl/xxx?version=latestrecord
#   GET       .../web/v1/chgPrcTmpl/xxx?version=1

 /web/v1/chgPrcTmpl/{id}:
  put:
   tags:
    - "chgPrcTmplWeb"
   summary: "Update an existing charge pricing template."
   description:  "Update an existing charge pricing template."
   operationId: "modifyRecord"
   parameters:
    - name: "userId"
      in: "header"
      description: "userId"
      required: true
      type: "string"
    - name: "branchCode"
      in: "header"
      description: "branchCode"
      required: true
      type: "string"
    - name: "appId"
      in: "header"
      type: "string"
      required: true
    - name: "id"
      in: "path"
      description: "key of the charge pricing template Maintenance"
      required: true
      type: "string"
    - name: "chgPrcTmplWebModel"
      in: "body"
      description: "Request Body that contains data required for creating a new charge pricing template."
      required: true
      schema:
        $ref: "./chgPrcTmpltDef.yaml#/definitions/ChgPrcTmplWebModel"
   responses:
    200:
     description: "Returns updated charge pricing template."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "chgPrcTmplWeb"
   summary: "Retrieves the charge pricing template by ID."
   description:  "Retrieves the charge pricing template by ID."
   operationId: "getById"
   parameters:
    - name: "userId"
      in: "header"
      description: "userId"
      required: true
      type: "string"
    - name: "branchCode"
      in: "header"
      description: "branchCode"
      required: true
      type: "string"
    - name: "appId"
      in: "header"
      type: "string"
      required: true
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
    - name: "version"
      in: "query"
      description: "Id of the user that needs to be fetched"
      required: false
      type: "string"
    - name: latestAuthRecord
      in: query
      description: "provides only latest latest auth records if true"
      required: false
      default: false
      type: boolean
   responses:
    200:
     description: "Returns the charge pricing template based on given id."
     schema:
      $ref: "./chgPrcTmpltDef.yaml#/definitions/ChgPrcTmplWebModel"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
 /web/v1/chgPrcTmpl/{id}/delete:
  put:
   tags:
    - "chgPrcTmplWeb"
   summary: "Deletes the charge pricing template identified by given ID."
   description:  "Deletes the charge pricing template identified by given ID. Add additional information here for the this endpoint."
   operationId: "delete"
   parameters:
    - name: "userId"
      in: "header"
      description: "userId"
      required: true
      type: "string"
    - name: "branchCode"
      in: "header"
      description: "branchCode"
      required: true
      type: "string"
    - name: "appId"
      in: "header"
      type: "string"
      required: true
    - name: "id"
      in: "path"
      description: "Key of the charge pricing template maintenance"
      required: true
      type: "string"
    - name: "chargePricingTemplate"
      in: "body"
      description: "Request body contain charge pricing template. and Modification no of charge pricing template. maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/OrchestratorDTO"
   responses:
    200:
     description: "Successful operation."
     schema:
       $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to Authorize existing record.
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../web/v1/chgPrcTmpl/xxx/approve

 /web/v1/chgPrcTmpl/{id}/authorize:
  put:
   tags:
    - "chgPrcTmplWeb"
   summary: "Authorize the chargePricingTemplateg template by given ID."
   description:  "Authorize the charge pricing template identified by given ID."
   operationId: "authorize"
   parameters:
    - name: "userId"
      in: "header"
      description: "userId"
      required: true
      type: "string"
    - name: "branchCode"
      in: "header"
      description: "branchCode"
      required: true
      type: "string"
    - name: "appId"
      in: "header"
      type: "string"
      required: true
    - name: "id"
      in: "path"
      description: "Key of the charge pricing template maintenance"
      required: true
      type: "string"
    - name: "chargePricingTemplate"
      in: "body"
      description: "Request body contain charge pricing template and Modification no of charge pricing template maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/OrchestratorDTO"
   responses:
    200:
     description: "Successful operation."
     schema:
       $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to close existing record
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../web/v1/chgPrcTmpl/xxx/close
 /web/v1/chgPrcTmpl/{id}/close:
  patch:
   tags:
    - "chgPrcTmplWeb"
   summary: "Close the charge pricing template by given ID."
   description:  "Close the charge pricing template identified by given ID."
   operationId: "closeRecord"
   parameters:
    - name: "userId"
      in: "header"
      description: "userId"
      required: true
      type: "string"
    - name: "branchCode"
      in: "header"
      description: "branchCode"
      required: true
      type: "string"
    - name: "appId"
      in: "header"
      type: "string"
      required: true
    - name: "id"
      in: "path"
      description: "Key of the charge pricing template maintenance"
      required: true
      type: "string"
    - name: "chargePricingTemplate"
      in: "body"
      description: "Request body contain charge pricing template and Modification no of charge pricing template maintenance which need to be closed"
      required: true
      schema:
       $ref: "#/definitions/OrchestratorDTO"
   responses:
    200:
     description: "Successful operation."
     schema:
       $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to reopen existing record
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../web/v1/chgPrcTmpl/xxx/reopen

 /web/v1/chgPrcTmpl/{id}/reopen:
  patch:
   tags:
    - "chgPrcTmplWeb"
   summary: "reopen the charge pricing template by given ID."
   description:  "reopen the charge pricing template identified by given ID."
   operationId: "reopenRecord"
   parameters:
    - name: "userId"
      in: "header"
      description: "userId"
      required: true
      type: "string"
    - name: "branchCode"
      in: "header"
      description: "branchCode"
      required: true
      type: "string"
    - name: "appId"
      in: "header"
      type: "string"
      required: true
    - name: "id"
      in: "path"
      description: "Key of the charge pricing template maintenance"
      required: true
      type: "string"
    - name: "chargePricingTemplate"
      in: "body"
      description: "Request body contain charge pricing template. and Modification no of charge pricing template. maintenance which need to be reopen"
      required: true
      schema:
       $ref: "#/definitions/OrchestratorDTO"
   responses:
    200:
     description: "Successful operation."
     schema:
       $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to get all unauthorized records
#
#  supprorted http methods GET
#
# path examples----
#   GET       .../web/v1/chgPrcTmpl/xxx/unauthorized

 /web/v1/chgPrcTmpl/{id}/unauthorized:
  get:
   tags:
    - "chgPrcTmplWeb"
   summary: "Retrives the charge pricing template by given ID."
   description:  "Retrives the charge pricing template identified by given ID."
   operationId: "authQuery"
   parameters:
    - name: "userId"
      in: "header"
      description: "userId"
      required: true
      type: "string"
    - name: "branchCode"
      in: "header"
      description: "branchCode"
      required: true
      type: "string"
    - name: "appId"
      in: "header"
      type: "string"
      required: true
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the charge pricing template based on given id."
     schema:
       $ref: "./chgPrcTmpltDef.yaml#/definitions/CmcTmChgPrcTmpltCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to  history record for remitterid
#
#  supprorted http methods GETS
#
# path examples----
#   GET       .../web/v1/chgPrcTmpl/xxx/history

 /web/v1/chgPrcTmpl/{id}/history:
  get:
   tags:
    - "chgPrcTmplWeb"
   summary: "Retrives the charge pricing template by given ID."
   description:  "Retrives the charge pricing template by ID."
   operationId: "getHistory"
   parameters:
    - name: "userId"
      in: "header"
      description: "userId"
      required: true
      type: "string"
    - name: "branchCode"
      in: "header"
      description: "branchCode"
      required: true
      type: "string"
    - name: "appId"
      in: "header"
      type: "string"
      required: true
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the charge pricing template based on given id."
     schema:
       $ref: "./chgPrcTmpltDef.yaml#/definitions/CmcTmChgPrcTmpltCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
 /web/v1/chgPrcTmpl/{id}/actions:
  get:
   tags:
    - "chgPrcTmplWeb"
   summary: "Retrieves the charge pricing template actions by ID."
   description:  "Retrieves the charge pricing template actions by ID."
   operationId: "getAvailableUserActions"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the charge pricing template actions based on given id."
     schema:
      type: string
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

 /web/v1/chgPrcTmpl/{id}/submit:
   patch:
     consumes:
       - application/json
       - application/xml
     produces:
       - application/json
       - application/xml
     tags:
       - "chgPrcTmplWeb"
     summary: Submit for the Resource.
     description: Validates datasegments and submits the resource.
     operationId: submitResource
     parameters:
     - name: "userId"
       in: "header"
       description: "User Id"
       required: true
       type: "string"
     - name: "branchCode"
       in: "header"
       description: "Branch Code"
       required: true
       type: "string"
     - name: "appId"
       in: "header"
       type: "string"
       description: "App Id"
       required: true
     - name: id
       in: path
       description: Resource Id that needs to be submited
       required: true
       type: string
     responses:
       200:
         description: Returns the success
         schema:
           $ref: '#/definitions/ResponseDtoWrapper'
       400:
         description: Malformed syntax.
       401:
         description: Request does not have sufficient credentials.
       403:
         description: Request is not authorized.
       405:
         description: Invalid input
       500:
         description: Internal error