#-----------------------------------------------------------------------------------------------------
#  **
#  ** File Name  : common.yaml
#  **
#  ** Module     : obcmtmnettingagreementmaster
#  ** 
#  ** This source is part of the Oracle FLEXCUBE  and is copyrighted by Oracle Financial Services Software Limited.  ** 
#  ** 
#  ** All rights reserved. No part of this work may be reproduced, stored in a retrieval system,
#  ** adopted or transmitted in any form or by any means, electronic, mechanical, photographic,
#  ** graphic, optic recording or otherwise, translated in any language or computer language,
#  ** without the prior written permission of Oracle Financial Services Software Limited.
#  ** 
#  ** Oracle Financial Services Software Limited.
#  ** 10-11, SDF I, SEEPZ, Andheri (East),
#  ** Mumbai - 400 096.
#  ** India
#  ** Copyright 2017-2018 Oracle Financial Services Software Limited. All rights reserved.
#  -------------------------------------------------------------------------------------------------------
#
#  CHANGE HISTORY
#
#  Created By         :  System
#
#  Bug Number         :  
#  Changed By         :  
#  Change Description :  
#  Change On          :  
#  Search String      :  
#  
#  -------------------------------------------------------------------------------------------------------
  

swagger: "2.0"
info:
 description: "This is a sample server obcmtmnettingagreementmaster server." 
 version: "1.0.0"
 title: "obcmtmnettingagreementmaster Service"
host: "api-plato.us.oracle.com:8080"
basePath: "/api/1.0"
consumes:
 - "application/json"
produces:
 - "application/json"
tags:
 - name: "obcmtmnettingagreementmaster"
   description: "this service is to manage crud operations in master datasegment  .........................................................................................................................................."

schemes:
- "https"

paths:

# path to create a new record and fetch all valid records or by intent
#
#  supprorted http methods POST and GET
#
# path example ../obcmtmnettingagreementmaster

 /obcmtmnettingagreementmaster:
  post:
   tags:
    - "obcmtmnettingagreementmaster"
   summary: "Adds a new obcmtmnettingagreementmaster."
   description: "Adds a new obcmtmnettingagreementmaster. Add additional information here for this endpoint."
   operationId: "saveRecord"
   parameters:
    - name: "obcmtmnettingagreementmaster" 
      in: "body" 
      description: "Request Body that contains data required for creating a new obcmtmnettingagreementmaster" 
      required: true
      schema:
       $ref: "#/definitions/ObcmTmNettingAgreementMasterModel"
   responses:
    201: 
     description: "Returns message of succes or failure " 
     headers:
      Location:
       description: "URL of newly created obcmtmnettingagreementmaster" 
       type: "string"
     schema:
       $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "obcmtmnettingagreementmaster"
   summary: "Get all valid obcmtmnettingagreementmaster."
   description:  "Get all valid obcmtmnettingagreementmaster. This endpoints will be used to Get all valid obcmtmnettingagreementmaster maintenance records."
   operationId: "getAll"
   parameters:
   - name: includecloseandunauth
     in: query
     description: includecloseandunauth need to be set to fetch summary record, defult value is false
     required: false
     type: boolean
   - name: offset
     in: query
     description: offset is starting no of records to be fetched
     required: false
     type: integer
   - name: limit
     in: query
     description: limit is maximum no of records to be fetched
     required: false
     type: integer
   responses:
    201:
     description: "Returns message of success or failure"
     headers: 
      Location:
       description: ""
       type: "string"
     schema:
       $ref: "#/definitions/ObcmTmNettingAgreementMasterCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"

# path to modify existing record, delete existing record and fetch valid records by id or by intent( includes latestRecord, version no)
#
#  supprorted http methods PUT, DELETE and GET
#
# path examples----
#   PUT       .../obcmtmnettingagreementmaster/xxx
#   DELETE    .../obcmtmnettingagreementmaster/xxx
#   GET       .../obcmtmnettingagreementmaster/xxx
#   GET       .../obcmtmnettingagreementmaster/xxx?version=latestrecord
#   GET       .../obcmtmnettingagreementmaster/xxx?version=1

 /obcmtmnettingagreementmaster/{id}:
  put:
   tags:
    - "obcmtmnettingagreementmaster"
   summary: "Update an existing obcmtmnettingagreementmaster."
   description:  "Update an existing obcmtmnettingagreementmaster."
   operationId: "modifyRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "key of the obcmtmnettingagreementmaster Maintenance"
      required: true
      type: "string"
    - name: "obcmtmnettingagreementmaster"
      in: "body"
      description: "Request Body that contains data required for updating an existing obcmtmnettingagreementmaster"
      required: true
      schema:
       $ref: "#/definitions/ObcmTmNettingAgreementMasterModel"
   responses:
    200:
     description: "Returns updated obcmtmnettingagreementmaster"
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "obcmtmnettingagreementmaster"
   summary: "Retrieves the obcmtmnettingagreementmaster by ID."
   description:  "Retrieves the obcmtmnettingagreementmaster by ID."
   operationId: "getById"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
    - name: "version"
      in: "query"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the obcmtmnettingagreementmaster based on given id."
     schema:
      $ref: "#/definitions/ObcmTmNettingAgreementMasterWrapperModel"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
  delete:
   tags:
    - "obcmtmnettingagreementmaster"
   summary: "Deletes the obcmtmnettingagreementmaster identified by given ID."
   description:  "Deletes the obcmtmnettingagreementmaster identified by given ID. Add additional information here for the this endpoint."
   operationId: "delete"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the obcmtmnettingagreementmaster maintenance"
      required: true
      type: "string"
    - name: "obcmtmnettingagreementmaster"
      in: "body"
      description: Request body contain obcmtmnettingagreementmaster and Modification no of obcmtmnettingagreementmaster maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to Authorize existing record.
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../obcmtmnettingagreementmaster/xxx/approve

 /obcmtmnettingagreementmaster/{id}/approve:
  patch:
   tags:
    - "obcmtmnettingagreementmaster"
   summary: "Authorize the obcmtmnettingagreementmaster by given ID."
   description:  "Authorize the obcmtmnettingagreementmaster identified by given ID."
   operationId: "authorize"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the obcmtmnettingagreementmaster maintenance"
      required: true
      type: "string"
    - name: "obcmtmnettingagreementmaster"
      in: "body"
      description: Request body contain obcmtmnettingagreementmaster and Modification no of obcmtmnettingagreementmaster maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to close existing record
#
#  supported http methods PATCH
#
# path examples----
#   PATCH       .../obcmtmnettingagreementmaster/xxx/close
 /obcmtmnettingagreementmaster/{id}/close:
  patch:
   tags:
    - "obcmtmnettingagreementmaster"
   summary: "Close the obcmtmnettingagreementmaster by given ID."
   description:  "Close the obcmtmnettingagreementmaster identified by given ID."
   operationId: "closeRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the obcmtmnettingagreementmaster maintenance"
      required: true
      type: "string"
    - name: "obcmtmnettingagreementmaster"
      in: "body"
      description: Request body contain obcmtmnettingagreementmaster and Modification no of obcmtmnettingagreementmaster maintenance which need to be closed"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to reopen existing record
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../obcmtmnettingagreementmaster/xxx/reopen

 /obcmtmnettingagreementmaster/{id}/reopen:
  patch:
   tags:
    - "obcmtmnettingagreementmaster"
   summary: "reopen the obcmtmnettingagreementmaster by given ID."
   description:  "reopen the obcmtmnettingagreementmaster identified by given ID."
   operationId: "reopenRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the obcmtmnettingagreementmaster maintenance"
      required: true
      type: "string"
    - name: "obcmtmnettingagreementmaster"
      in: "body"
      description: Request body contain obcmtmnettingagreementmaster and Modification no of obcmtmnettingagreementmaster maintenance which need to be reopen"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to get all unauthorized records
#
#  supprorted http methods GET
#
# path examples----
#   GET       .../obcmtmnettingagreementmaster/xxx/unauthorized

 /obcmtmnettingagreementmaster/{id}/unauthorized:
  get:
   tags:
    - "obcmtmnettingagreementmaster"
   summary: "Retrives the obcmtmnettingagreementmaster by given ID."
   description:  "Retrives the obcmtmnettingagreementmaster identified by given ID."
   operationId: "authQuery"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the obcmtmnettingagreementmaster based on given id."
     schema:
       $ref: "#/definitions/ObcmTmNettingAgreementMasterCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to  history record for remitterid
#
#  supprorted http methods GETS
#
# path examples----
#   GET       .../obcmtmnettingagreementmaster/xxx/history

 /obcmtmnettingagreementmaster/{id}/history:
  get:
   tags:
    - "obcmtmnettingagreementmaster"
   summary: "Retrives the obcmtmnettingagreementmaster by given ID."
   description:  "Retrives the obcmtmnettingagreementmaster by ID."
   operationId: "getHistory"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the obcmtmnettingagreementmaster based on given id."
     schema:
       $ref: "#/definitions/ObcmTmNettingAgreementMasterCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
 /obcmtmnettingagreementmaster/{id}/isValid:
  get:
   tags:
    - "obcmtmnettingagreementmaster"
   summary: "Validate the ObcmTmNettingAgreementMaster by ResourceId"
   description:  "Validate the ObcmTmNettingAgreementMaster by ResourceId"
   operationId: "validateObcmTmNettingAgreementMaster"
   parameters:
    - name: "resourceId"
      in: "path"
      description: "resourceId of the user that needs to be validated"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the boolean based on validation of given resource id."
     schema:
       $ref: "#/definitions/boolean"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
definitions:
 ObcmTmNettingAgreementMasterModel:
  type: object
  allOf:
  - $ref: '#/definitions/GenericDto'
  - type: object
    properties:
     id:
      type: string
      description: "Id"
     action:
      type: string
      description: "Action - NEW/MODIFY"
     autoAuth:
      type: string
      description: "Auth Stat"
     modificationStatus:
      type: string
      description: "Modification Status"   
     datasegmentCode:
      type: string
      description: "Datasegment Code"
     checkerRemarks:
      type: string
      description: "Checker remarks"
     makerRemarks:
      type: string
      description: "Maker Remarks"                           
     agreementDesc:
      type: string
      description: "Netting agreement description"
     agreementCode:
      type: string
      description: "Netting agreement Code"
     includePastDueRcv:
      type: string
      description: "Include past due receivables"
     includePastDuePayable:
      type: string
      description: "Include past due payables"
     includeDisputedRcv:
      type: string
      description: "Include disputed receivables"
     includeDisputedPayable:
      type: string
      description: "Include disputed payables"
     includeNonAcceptRcv:
      type: string
      description: "Include non-accepted receivables"
     includeNonAcceptPayable:
      type: string
      description: "Include non-accepted payables"
     nettingOrderRule:
      type: string
      description: "Netting order rule"
     nettingBasis:
      type: string
      description: "Netting basis"
     autoAcceptance:
      type: string
      description: "Auto acceptance"
     netAcceptCutoffDays:
      type: integer
      description: "Accept cut off days"
     acceptanceValidityDays:
      type: integer
      description: "Acceptance validity days"
     netConsiderBasisBefore:
      type: integer
      description: "Consider Days before"
     netConsiderBasisAfter:
      type: integer
      description: "Consider Days After"
 ModListKeyDto:
  type: object
  properties:
   modNos:
    type: array
    items:
     type: integer
   remarks:
    type: string
 KeyDto:
  type: object
  properties:
   modNo:
    type: integer
   remarks:
    type: string
 ResponseDto:
  type: object
  properties:
   id:
    type: string
   status:
    type: string
   codes:
    type: array
    items:
     $ref: "#/definitions/ResponseCode"
   requestId:
    type: string
 ResponseCode:
  type: object
  properties:
   Code:
    type: string
   Desc:
    type: string
   Type:
    type: string
   Language:
    type: string
   args:
    type: array
    items:
     type: object
   arg:
    type: string
 GenericDto:
  allOf:
   - type: object
     discriminator: resource_type
 ObcmTmNettingAgreementMasterCollection: 
  description: "Collection of obcmtmnettingagreementmaster."
  type: "object"
  properties:
   data:
    type: "array"
    items: 
     $ref: "#/definitions/ObcmTmNettingAgreementMasterModel"
   paging:
    $ref: "#/definitions/PagingDto"
 PagingDto:
  type: object
  properties:
   totalResults:
    type: integer
 ResponseDtoWrapper:
  type: object
  properties:
   messages:
    $ref: "#/definitions/ResponseDto"
   data:
    $ref: "#/definitions/ResponseResourceSupport"
 ResponseResourceSupport:
  type: object
 ObcmTmNettingAgreementMasterWrapperModel:
  type: object
  properties:
   data:
    $ref: "#/definitions/ObcmTmNettingAgreementMasterModel"
