swagger: "2.0"
info:
  description: "  You can find out more about Swagger at [swagger.io](http://swagger.io) and about data types at [Swagger Data Types](https://swagger.io/docs/specification/data-models/data-types/)"
  version: "1.0.0"
  title: "PlatoTmEntity Service"
host: "api-plato.us.oracle.com:8080"
basePath: "/api/1.0"
consumes:
  - "application/json"
  - "application/xml"
produces:
  - "application/json"
  - "application/xml"
tags:
  - name: "PlatoTmEntityAPI"
    description: ""
    
schemes:
- "https"

paths:
  /createEntity:
    post:
      tags:
        - "EntityAPI"
      summary: "Create Entity"
      description: ""
      operationId: "createEntity"
      parameters:
        - name: "PlatoTmEntity"
          in: "body"
          description: "Request Body that contains data required for creating a new record"
          required: true
          schema:
            $ref: "#/definitions/PlatoTmEntityModel"
      responses:
        201:
          description: ""
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"  
  /entitiesList:          
    get:
      tags:
        - "EntityAPI"
      summary: "Retrieves the list of entities."
      description:  "Retrieves the list of entities. "
      operationId: "getEntity"
      responses:
        200:
          description: "Successful performs the operation"
          schema:
            $ref: "#/definitions/PlatoTmEntityCollection"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"
definitions:
  PlatoTmEntityModel:
    description: "PlatoTmEntity model"
    type: "object"
    properties:
      id:
        description: "Id of the PlatoTmEntity"
        type: "string"
      entityId:
        description: "Entity ID"
        type: "string"
      entityName:
        description: "Entity Name"
        type: "string"
  PlatoTmEntityCollection:
    description: "Collection of PlatoTmEntity."
    type: "object"
    properties:
      PlatoTmEntityList:
        type: "array"
        items:
          $ref: "#/definitions/PlatoTmEntityModel"