#-----------------------------------------------------------------------------------------------------
#  **
#  ** File Name  : common.yaml
#  **
#  ** Module     : obscf
#  ** 
#  ** This source is part of the Oracle FLEXCUBE  and is copyrighted by Oracle Financial Services Software Limited.  ** 
#  ** 
#  ** All rights reserved. No part of this work may be reproduced, stored in a retrieval system,
#  ** adopted or transmitted in any form or by any means, electronic, mechanical, photographic,
#  ** graphic, optic recording or otherwise, translated in any language or computer language,
#  ** without the prior written permission of Oracle Financial Services Software Limited.
#  ** 
#  ** Oracle Financial Services Software Limited.
#  ** 10-11, SDF I, SEEPZ, Andheri (East),
#  ** Mumbai - 400 096.
#  ** India
#  ** Copyright 2017-2018 Oracle Financial Services Software Limited. All rights reserved.
#  -------------------------------------------------------------------------------------------------------
#
#  CHANGE HISTORY
#
#  Created By         :  System
#
#  Bug Number         :  
#  Changed By         :  
#  Change Description :  
#  Change On          :  
#  Search String      :  
#  
#  -------------------------------------------------------------------------------------------------------
  
  
swagger: "2.0"
info:
 description: "Provides v4 APIs to perform operations on program"  
 version: "1.0.0"
 title: "Core Service v4 APIs"
host: "api-plato.us.oracle.com:8080"
basePath: "/obscf-core-services"
consumes:
 - "application/json"
produces:
 - "application/json"
tags:
 - name: "programServiceV4"
   description: "v4 APIs for program related operations"
  
paths:
  
# path to create a new record and fetch all valid records or by intent
#
#  supprorted http methods POST and GET
#
# path example ../product
 
 /service/v4/program:       
  get:
   tags:
    - "programServiceV4"
   summary: "Get all valid program."
   description:  "Get all valid program."
   operationId: "getAll"
   parameters:
   - name: "userId"
     in: "header"
     description: "User Id"
     required: true
     type: "string"
   - name: "branchCode"
     in: "header"
     description: "Branch Code"
     required: true
     type: "string"
   - name: "appId"
     in: "header"
     description: "Application Id"
     type: "string"
     required: true
   - name: includecloseandunauth
     in: query
     description: "Include close and unauth need to be set to fetch summary record, defult value is false"
     required: false
     type: boolean
   - in: query
     name: recordStat
     description: "Record Status"
     required: false
     type: string
   - in: query
     name: anchorId
     description: "Anchor Id"
     required: false
     type: string
   - in: query
     name: programCode
     description: "Program Code"
     required: false
     type: string
   - in: query
     name: productCode
     description: "Product Code"
     required: false
     type: string
   - in: query
     name: spokeId
     description: "Spoke Id"
     required: false
     type: string
   - in: query
     name: debtor
     description: "Debtor"
     required: false
     type: string
   - in: query
     name: buyerId
     description: "Buyer Id"
     required: false
     type: string
   - in: query
     name: supplierId
     description: "Supplier Id"
     required: false
     type: string
   - in: query
     name: relationshipCode
     description: "Relationship Code"
     required: false
     type: string
   - in: query
     name: programName
     description: "Program Name"
     required: false
     type: string
   responses:
    201:
     description: "Returns message of succes or failure"
     headers: 
      Location:
       description: "Location"
       type: "string"
     schema:
       $ref: "./coreDef.yaml#/definitions/ScfTmProgramMasterCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
