#-----------------------------------------------------------------------------------------------------
#  **
#  ** File Name  : common.yaml
#  **
#  ** Module     : obscf
#  ** 
#  ** This source is part of the Oracle FLEXCUBE  and is copyrighted by Oracle Financial Services Software Limited.  ** 
#  ** 
#  ** All rights reserved. No part of this work may be reproduced, stored in a retrieval system,
#  ** adopted or transmitted in any form or by any means, electronic, mechanical, photographic,
#  ** graphic, optic recording or otherwise, translated in any language or computer language,
#  ** without the prior written permission of Oracle Financial Services Software Limited.
#  ** 
#  ** Oracle Financial Services Software Limited.
#  ** 10-11, SDF I, SEEPZ, Andheri (East),
#  ** Mumbai - 400 096.
#  ** India
#  ** Copyright 2017-2018 Oracle Financial Services Software Limited. All rights reserved.
#  -------------------------------------------------------------------------------------------------------
#  CHANGE HISTORY
#
#  Created By         :  System
#
#  Bug Number         :  
#  Changed By         :  
#  Change Description :  
#  Change On          :  
#  Search String      :  
#  
#  -------------------------------------------------------------------------------------------------------
  

swagger: "2.0"
info:
 description: "Provides definitions to perform operations on product and program" 
 version: "1.0.0"
 title: "Core Definitions"
host: "api-plato.us.oracle.com:8080"
basePath: "/obscf-core-services"

paths:
  /:
    get:
      responses:
        201:
          description: ""
          
definitions:
 ScfTmProgramRequestV2DTO:
  type: object
  properties:
    data:
     $ref: "#/definitions/ScfTmProgramMasterV2DTO"
    autoApproval:
     type: string
     description: "Auto Approval" 
 ScfTmProgramMasterV2DTO:
  type: object
  allOf:
  - $ref: '#/definitions/GenericDto'
  - type: object
    required:
     - anchorId
     - effectiveFrom
     - expiresOn
     - productCode
     - productDescription
     - programCode
     - programName
    properties:
     anchorId:
      type: string
      description: "Anchor Id"
     anchorName:
      type: string
      description: "Anchor Name"
     authorizationRequired:
      type: string
      description: "Authorization Required"
     autoAcceptanceApplicable:
      type: string
      description: "Auto Acceptance Applicable"
     autoAcceptanceDays:
      type: number
      description: "Auto Acceptance Days"
     autoFinanceApplicable:
      type: string
      description: "Auto Finance Applicable"
     autoSettlementApplicable:
      type: string
      description: "Auto Settlement Applicable"
     autoDebitApplicable:
      type: string
      description: "Auto Debit Applicable"      
     disbursementCcy:
      type: string
      description: "Disbursement Currency"
     effectiveFrom:
      type: string
      format: date
      description: "Effective From"
     expiresOn:
      type: string
      format: date
      description: "Expires On"
     maxFinancePercentage:
      type: number
      description: "Maximum Finance Percentage"
     maxTenorAllowed:
      type: number
      description: "Maximum Tenor Allowed"
     minFinancePercentage:
      type: number
      description: "Minimum Finance Percentage"
     minTenorAllowed:
      type: number
      description: "Minimum Tenor Allowed"
     preferredDisbursementMode:
      type: string
      description: "Preferred Disbursement Mode"
     preferredSettlementMode:
      type: string
      description: "Preferred Settlement Mode"
     productCode:
      type: string
      description: "Product Code"
     productDescription:
      type: string
      description: "Product Description"
     programCode:
      type: string
      description: "Program Code"
     programName:
      type: string
      description: "Program Name"
     reconciliationTowards:
      type: string
      description: "Reconciliation Towards"  
     withRecourse:
      type: string
      description: "With Recourse"
     graceDays: 
      type: number
      description: "Grace Days"
     interestBearingParty:
      type: string
      description: "Interest Bearing Party"
     relationshipCode:
      type: string
      description: "Relationship Code" 
     txnControllerRefNo:
      type: string
      description: "Transaction Controller Reference Number" 
     twoFactorApp:
      type: string
      default: N
      description: "Two Factor App"
     insuranceApp:
      type: string
      default: N
      description: "Insurance App" 
     interestRefundHandling:
      type: string
      description: "Interest Refund Handling"
     interestRefundPaymentMode:
      type: string
      description: "Interest Refund Payment Mode"
     marginHandling:
      type: string
      description: "Margin Handling"
     marginPaymentMode:
      type: string
      description: "Margin Payment Mode"     
     ScfTmProgramSpokeMasterV2DTO:
      type: array
      items:
       $ref: '#/definitions/ScfTmProgramSpokeMasterV2DTO'
 ScfTmProgramSpokeMasterV2DTO:
  type: object
  required:
     - programCode
     - spokeId
  properties:
     authorizationRequired:
      type: string
      description: "Authorization Required"
     autoFinanceApplicable:
      type: string
      description: "Auto Finance Applicable"
     autoSettlementApplicable:
      type: string
      description: "Auto Settlement Applicable"
     autoDebitApplicable:
      type: string
      description: "Auto Debit Applicable"      
     disbursementCcy:
      type: string
      description: "Disbursement Currency"
     id:
      type: string
      description: "Id"
     maxFinancePercentage:
      type: number
      description: "Maximum Finance Percentage"
     maxTenorAllowed:
      type: number
      description: "Maximum Tenor Allowed"
     minFinancePercentage:
      type: number
      description: "Minimum Finance Percentage"
     minTenorAllowed:
      type: number
      description: "Minimum Tenor Allowed"
     preferredDisbursementMode:
      type: string
      description: "Preferred Disbursement Mode"
     preferredSettlementMode:
      type: string
      description: "Preferred Settlement Mode"
     programCode:
      type: string
      description: "Program Code"
     programMasterId:
      type: string
      description: "Program Master Id"
     spokeId:
      type: string
      description: "Spoke Id"
     spokeName:
      type: string
      description: "Spoke Name"
     withRecourse:
      type: string
      description: "With Recourse"
     graceDays:
      type: number
      description: "Grace Days"
     interestBearingParty:
      type: string
      description: "Interest Bearing Party"
     importFactorId:
      type: string
      description: "Import Factor Id"
     importFactorName:
      type: string
      description: "Import Factor Name"
     insuranceCoId:
      type: string
      description: "Insurance Co Id"
     insuranceCoName:
      type: string
      description: "Insurance Co Name"
     interestRefundHandling:
      type: string
      description: "Interest Refund Handling"
     interestRefundPaymentMode:
      type: string
      description: "Interest Refund Payment Mode"
     marginHandling:
      type: string
      description: "Margin Handling"
     marginPaymentMode:
      type: string
      description: "Margin Payment Mode"
     ScfTmProgramSpokeCodeMasterDTO:
      type: array
      items:
       $ref: '#/definitions/ScfTmProgramSpokeCodeMasterDTO'
 ScfTmProgramSpokeCodeMasterDTO:
  type: object
  required:
     - programCode
     - spokeId
  properties:
     id:
      type: string
      description: "Id"
     spokeMasterId:
      type: string
      description: "Spoke Master Id"
     programCode:
      type: string
      description: "Program Code"
     spokeId:
      type: string
      description: "Spoke Id"
     spokeName:
      type: string
      description: "Spoke Name"
     spokeExternalCode:
      type: string
      description: "Spoke External Code"
     spokeDivisionCode:
      type: string
      description: "Spoke Division Code"
     spokeDivisionName:
      type: string
      description: "Spoke Division Name"
     anchorDivisionCode:
      type: string
      description: "Anchor Division Code"
     anchorDivisionName:
      type: string
      description: "Anchor Division Name"
 ScfTmProgramMasterV2Collection: 
  description: "Collection of program."
  type: "object"
  properties:
   data:
    type: "array"
    items: 
     $ref: "#/definitions/ScfTmProgramMasterV2DTO"
   paging:
    $ref: "#/definitions/PagingDto"  
 ScfTmProductMasterCollection: 
  description: "Collection of scftmproductmaster."
  type: "object"
  properties:
   data:
    type: "array"
    items: 
     $ref: "#/definitions/ScfTmProductMasterDTO"
   paging:
    $ref: "#/definitions/PagingDto"
 PagingDto:
  type: object
  properties:
   totalResults:
    type: integer
 GenericDto:
  allOf:
   - type: object
     discriminator: resource_type
 ScfTmProductMasterDTO:
  type: object
  allOf:
  - $ref: '#/definitions/GenericDto'
  - type: object
    required:
     - branchCode
     - debtor
     - effectiveFrom
     - expiresOn
     - productCategory
     - productCode
     - productDescription
     - productType
     - interestRefundHandling
    properties:
     id:
      type: string
      description: "Id"
     action:
      type: string
      description: "Action"
     autoAuth:
      type: string
      description: "Auto Auth"
     modificationStatus:
      type: string
      description: "Modification Status"   
     datasegmentCode:
      type: string
      description: "Data Segment Code"
     checkerRemarks:
      type: string
      description: "Checker Remarks"
     makerRemarks:
      type: string
      description: "Maker Remakrs"                         
     appropriationSeqAftDueDate:
      type: string
      description: "Appropriation Sequence After Due Date"
     appropriationSeqBefDueDate:
      type: string
      description: "Appropriation Sequence Before Due Date"
     appropriationSeqOnDueDate:
      type: string
      description: "Appropriation Sequence On Due Date"
     autoDebitApplicable:
      type: string
      description: "Auto Debit Applicable"
     autoFinanceApplicable:
      type: string
      description: "Auto Finance Applicable"
     autoSettlementApplicable:
      type: string
      description: "Auto Settlement Applicable"
     branchCode:
      type: string
      description: "Branch code"
     creditLimitUtilization:
      type: string
      description: "Credit Limit Utilization"
     debitAcctTypeAfterDueDate:
      type: string
      description: "Debit Account Type After Due Date"
     debitAcctTypeOnDueDate:
      type: string
      description: "Debit Account Type On Due Date"
     debitPartyAfterDueDate:
      type: string
      description: "Debit Party After Due Date"
     debitPartyOnDueDate:
      type: string
      description: "Debit Party On Due Date"
     debtor:
      type: string
      description: "Debtor"
     effectiveFrom:
      type: string
      format: date
      description: "Effective From"
     expiresOn:
      type: string
      format: date
      description: "Expires On"
     holidayTreatment:
      type: string
      description: "Holiday Treatment"      
     maturityDateCalculation:
      type: string
      description: "Maturity Date Calculation"
     maxFinancePercentage:
      type: number
      description: "Maximum Finance Percentage"
     maxTenorAllowed:
      type: number
      description: "Maximum Tenor Allowed"
     minFinancePercentage:
      type: number
      description: "Minimum Finance Percentage"
     minTenorAllowed:
      type: number
      description: "Minimum Tenor Allowed"
     minWaitingPeriod:
      type: number
      description: "Minimum Waiting Period"
     multipleDisbursementAllowed:
      type: string
      description: "Multiple Disbursement Allowed"
     npaAppropriationSeq:
      type: string
      description: "Npa Appropriation Sequence"
     partRepaymentAllowed:
      type: string
      description: "Part Repayment Allowed"
     preferredDisbursementMode:
      type: string
      description: "Preferred Disbursement Mode"
     preferredSettlementMode:
      type: string
      description: "Preferred Settlement Mode"
     prePaymentAllowed:
      type: string
      description: "Pre Payment Allowed"
     productCategory:
      type: string
      description: "Product Category"
     productCode:
      type: string
      description: "Product Code"
     productDescription:
      type: string
      description: "Product Description"
     productType:
      type: string
      description: "Product Type"
     stalePeriod:
      type: number
      description: "Stale Period"
     withRecourse:
      type: string
      description: "With Recourse"
     reconciliationTowards:
      type: string
      description: "Reconciliation Towards"
     graceDays:
      type: number
      description: "Grace Days"
     interestRefundHandling:
      type: string
      description: "Interest Refund Handling"
     interestRefundPaymentMode:
      type: string
      description: "Interest Refund Payment Mode"
     marginHandling:
      type: string
      description: "Margin Handling"
     marginPaymentMode:
      type: string
      description: "Margin Payment Mode"
     isCreditLimitApplicable:
      type: string
      description: "Is Credit Limit Applicable" 
     isAccountingApplicable:
      type: string
      description: "Is Accounting Applicable" 
     isAssignmentApplicable:
      type: string
      description: "Is Assignment Applicable" 
     isAutoAssignment:
      type: string
      description: "Is Auto Assignment"   
     isAcceptanceApplicable:
      type: string
      description: "Is Acceptance Applicable" 
     holidayTreatmentForFdd:
      type: string
      description: "Holiday Treatment For FDD"
     isAutoAcceptance:
      type: string
      description: "Is Auto Acceptance"     
     isDisbursementAuthRequired:
      type: string
      description: "Is Disbursement Authorized Required"
     isDisbursementAutoProcessing:
      type: string
      description: "Is Disbursement Auto Processing"
     isSettlementAuthRequired:
      type: string
      description: "Is Settlement Authorized Required" 
     isSettlementAutoProcessing:
      type: string
      description: "Is Settlement Auto Processing" 
     autoAcceptanceDays:
      type: number
      description: "Auto Acceptance Days"
     ScfTmProdLimitDecnDTO:
      type: array
      items:
       $ref: '#/definitions/ScfTmProdLimitDecnDTO'
 
 PartyDetailsResponse:
  description: "Collection of party details"
  type: "object"
  properties:
   data:
    type: "array"
    items: 
     $ref: "#/definitions/PartyDetailsDto" 
 
 PartyDetailsDto:
  description: "Collection of party details"
  type: "object"
  properties:
   partyId:
    type: "string"
    description: "Party ID"
   partyName:
    type: "string"
    description: "Party Name"
     
 ScfTmProdLimitDecnCollection: 
  description: "Collection of product."
  type: "object"
  properties:
   data:
    type: "array"
    items: 
     $ref: "#/definitions/ScfTmProdLimitDecnDTO" 
 ScfTmProdLimitDecnDTO:
  type: object
  properties:
     id:
      type: string
      description: "Id"
     eventCode:
      type: string
      description: "Event Code"
     limitType:
      type: string
      description: "Limit Type"
     productCode:
      type: string
      description: "Product Code"
     productMasterId:
      type: string
      description: "Product Master Id"
     limitEvent:
      type: string
      description: "Limit Event"
     recourse:
      type: string
      description: "Recourse"
     rootLimitEntityType:
      type: string
      description: "Root Limit Entity Type"
     subLevelsApplicable:
      type: string
      description: "Sub Levels Applicable"
     ScfTmProdLimitExpHandlDTO:
      type: array
      items:
       $ref: '#/definitions/ScfTmProdLimitExpHandlDTO' 
 ScfTmProdLimitExpHandlDTO:
  type: object
  properties:
     id:
      type: string
      description: "Id"
     limitDecnMasterId:
      type: string
      description: "Limit Decn Master Id"
     productCode:
      type: string
      description: "Product Code"
     subLevelApplicable:
      type: string
      description: "Sub Level Applicable"
     expiredLimitExceptionHandling:
      type: string
      description: "Expired Limit Exception Handling"
     breachLimitExceptionHandling:
      type: string
      description: "Breach Limit Exception Handling"
     expiredAndBreachLimitExceptionHandling:
      type: string
      description: "Expired And Breach Limit Exception Handling"
 ProductDescDTO:
  type: object
  properties:
    productCode:
     type: string
     description: "Product Code"
    productDescription:
     type: string
     description: "Product Description"
 ProductDescCollection: 
  description: "Collection of products with Description."
  type: "object"
  properties:
   data:
    type: "array"
    items: 
     $ref: "#/definitions/ProductDescDTO"
   paging:
    $ref: "#/definitions/PagingDto"
 ScfTmProductMasterWrapperDTO:
  type: object
  properties:
   data:
    $ref: "#/definitions/ScfTmProductMasterDTO"
 ResponseDto:
  type: object
  properties:
   id:
    type: string
   status:
    type: string
   codes:
    type: array
    items:
     $ref: "#/definitions/ResponseCode"
   requestId:
    type: string
 ResponseCode:
  type: object
  properties:
   Code:
    type: string
   Desc:
    type: string
   Type:
    type: string
   Language:
    type: string
   args:
    type: array
    items:
     type: object
   arg:
    type: string
 ResponseDtoWrapper:
  type: object
  properties:
   messages:
    $ref: "#/definitions/ResponseDto"
   data:
    $ref: "#/definitions/ResponseResourceSupport"
 ResponseResourceSupport:
  type: object
 ProgramDescCollection: 
  description: "Collection of Programs with Description."
  type: "object"
  properties:
   data:
    type: "array"
    items: 
     $ref: "#/definitions/ProgramDescDTO"
   paging:
    $ref: "#/definitions/PagingDto"
 ProgramDescDTO:
  type: object
  properties:
    productCode:
     type: string
     description: "Product Code"
    productDescription:
     type: string
     description: "Product Description"
    programCode:
     type: string
     description: "Program Code"
    programName:
     type: string
     description: "Program Name"
 ProgProdMap:
    type: object
    additionalProperties:
      type: string
 ScfTmProgramMasterDTO:
  type: object
  required:
     - anchorId
     - effectiveFrom
     - expiresOn
     - productCode
     - productDescription
     - programCode
     - programName
  allOf:
  - $ref: '#/definitions/GenericDto'
  - type: object
    properties:
     action:
      type: string
      description: "Action"
     autoAuth:
      type: string
      description: "Auto Auth"
     modificationStatus:
      type: string
      description: "Modification Status"   
     datasegmentCode:
      type: string
      description: "Data Segment Code"
     checkerRemarks:
      type: string
      description: "Checker Remarks" 
     makerRemarks:
      type: string
      description: "Maker Remarks"                            
     anchorId:
      type: string
      description: "Anchor Id"
     anchorName:
      type: string
      description: "Anchor Name"
     authorizationRequired:
      type: string
      description: "Authorization Required"
     isDisbursementAutoProcessing:
      type: string
      description: "Is Disbursement Auto Processing"
     isSettlementAutoProcessing:
      type: string
      description: "Is Settlement Auto Processing"
     isDisbursementAuthRequired:
      type: string
      description: "Is Disbursement Auth Required"
     isSettlementAuthRequired:
      type: string
      description: "Is Settlement Auth Required"
     autoAcceptanceApplicable:
      type: string
      description: "Auto Acceptance Applicable"
     autoAcceptanceDays:
      type: number
      description: "Auto Acceptance Days"
     autoFinanceApplicable:
      type: string
      description: "Auto Finance Applicable"
     autoSettlementApplicable:
      type: string
      description: "Auto Settlement Applicable"
     disbursementCcy:
      type: string
      description: "Disbursement Currency"
     effectiveFrom:
      type: string
      format: date
      description: "Effective From"
     expiresOn:
      type: string
      format: date
      description: "Expires On"
     maxFinancePercentage:
      type: number
      description: "Maximum Finance Percentage"
     maxTenorAllowed:
      type: number
      description: "Maximum Tenor Allowed"
     minFinancePercentage:
      type: number
      description: "Minimum Finance Percentage"
     minTenorAllowed:
      type: number
      description: "Minimum Tenor Allowed"
     preferredDisbursementMode:
      type: string
      description: "Preferred Disbursement Mode"
     preferredSettlementMode:
      type: string
      description: "Preferred Settlement Mode"
     productCode:
      type: string
      description: "Product Code"
     productDescription:
      type: string
      description: "Product Description"
     programCode:
      type: string
      description: "Program Code"
     programName:
      type: string
      description: "Program Name"
     productCategory:
      type: string
      description: "Product Category"
     withRecourse:
      type: string
      description: "With Recourse"
     reconciliationTowards:
      type: string
      description: "Reconciliation Towards"
     graceDays:
      type: number
      description: "Grace Days"
     interestBearingParty:
      type: string
      description: "Interest Bearing Party"
     relationshipCode:
      type: string
      description: "Relationship Code"
     twoFactorApp:
      type: string
      default: N
      description: "Two Factor App"
     insuranceApp:
      type: string
      default: N
      description: "Insurance App" 
     interestRefundHandling:
      type: string
      description: "Interest Refund Handling"
     interestRefundPaymentMode:
      type: string
      description: "Interest Refund Payment Mode"
     marginHandling:
      type: string
      description: "Margin Handling"
     marginPaymentMode:
      type: string
      description: "Margin Payment Mode"
     autoDebitApplicable:
      type: string
      description: "Auto Debit Applicable"
     factoringProfile:
      type: string
      description: "Factoring Profile"      
     ScfTmProgramSpokeMasterDTO:
      type: array
      items:
       $ref: '#/definitions/ScfTmProgramSpokeMasterDTO'
 ScfTmProgramSpokeMasterDTO:
  type: object
  required:
     - programCode
     - spokeId
  properties:
     id:
      type: string
      description: "Id"
     authorizationRequired:
      type: string
      description: "Authorization Required"
     isDisbursementAutoProcessing:
      type: string
      description: "Is Disbursement Auto Processing"
     isSettlementAutoProcessing:
      type: string
      description: "Is Settlement Auto Processing"
     isDisbursementAuthRequired:
      type: string
      description: "Is Disbursement Auth Required"
     isSettlementAuthRequired:
      type: string
      description: "Is Settlement Auth Required"
     autoFinanceApplicable:
      type: string
      description: "Auto Finance Applicable"
     autoSettlementApplicable:
      type: string
      description: "Auto Settlement Applicable"
     disbursementCcy:
      type: string
      description: "Disbursement Ccy"
     maxFinancePercentage:
      type: number
      description: "Max Finance Percentage"
     maxTenorAllowed:
      type: number
      description: "Max Tenor Allowed"
     minFinancePercentage:
      type: number
      description: "Min Finance Percentage"
     minTenorAllowed:
      type: number
      description: "Min Tenor Allowed"
     preferredDisbursementMode:
      type: string
      description: "Preferred Disbursement Mode"
     preferredSettlementMode:
      type: string
      description: "Preferred Setttlement Mode"
     programCode:
      type: string
      description: "Program Code"
     programMasterId:
      type: string
      description: "Program Master Id"
     spokeId:
      type: string
      description: "Spoke Id"
     spokeName:
      type: string
      description: "Spoke Name"
     withRecourse:
      type: string
      description: "With Recourse"
     graceDays:
      type: number
      description: "Grace Days"
     interestBearingParty:
      type: string
      description: "Insterest bearing Party"
     importFactorId:
      type: string
      description: "Import Factor Id"
     importFactorName:
      type: string
      description: "Import Factor Name"
     insuranceCoId:
      type: string
      description: "Insurance Co Id"
     insuranceCoName:
      type: string
      description: "Insurance Co Name"
     interestRefundHandling:
      type: string
      description: "Interest Refund Handling"
     interestRefundPaymentMode:
      type: string
      description: "Interest Refund Payment Mode"
     marginHandling:
      type: string
      description: "Margin Handling"
     marginPaymentMode:
      type: string
      description: "Margin Payment Mode"
     autoDebitApplicable:
      type: string
      description: "Auto Debit Applicable"
     exportFactorId:
      type: string
      description: "Export Factor Id"      
     exportFactorName:
      type: string
      description: "Export Factor Name"         
     ScfTmProgramSpokeCodeMasterDTO:
      type: array
      items:
       $ref: '#/definitions/ScfTmProgramSpokeCodeMasterDTO'
 ScfTmProgramRequestDTO:
  type: object
  properties:
    data:
     $ref: "#/definitions/ScfTmProgramMasterDTO"
    autoApproval:
     type: string
     description: "Auto Approval"
 ScfTmProgramMasterCollection: 
  description: "Collection of scftmprogrammaster."
  type: "object"
  properties:
   data:
    type: "array"
    items: 
     $ref: "#/definitions/ScfTmProgramMasterDTO"
   paging:
    $ref: "#/definitions/PagingDto"
 OrchestratorDTO:
  type: object
 ScfProductResponse:
  description: "Product response"
  type: "object"
  properties:
   options:
    type: "array"
    items:
     $ref: "#/definitions/ProductModel"
 ProductModel:
  description: "Product model"
  type: "object"
  properties:
   value:
    type: "string"
   label:
    type: "string"