#-----------------------------------------------------------------------------------------------------
#  **
#  ** File Name  : common.yaml
#  **
#  ** Module     : obscf
#  ** 
#  ** This source is part of the Oracle FLEXCUBE  and is copyrighted by Oracle Financial Services Software Limited.  ** 
#  ** 
#  ** All rights reserved. No part of this work may be reproduced, stored in a retrieval system,
#  ** adopted or transmitted in any form or by any means, electronic, mechanical, photographic,
#  ** graphic, optic recording or otherwise, translated in any language or computer language,
#  ** without the prior written permission of Oracle Financial Services Software Limited.
#  ** 
#  ** Oracle Financial Services Software Limited.
#  ** 10-11, SDF I, SEEPZ, Andheri (East),
#  ** Mumbai - 400 096.
#  ** India
#  ** Copyright 2017-2018 Oracle Financial Services Software Limited. All rights reserved.
#  -------------------------------------------------------------------------------------------------------
#  CHANGE HISTORY
#
#  Created By         :  System
#
#  Bug Number         :  
#  Changed By         :  
#  Change Description :  
#  Change On          :  
#  Search String      :  
#  
#  -------------------------------------------------------------------------------------------------------
  

swagger: "2.0"
info:
 description: "Provides v1 APIs to perform operations on product and program" 
 version: "1.0.0"
 title: "Core Service v1 APIs"
host: "api-plato.us.oracle.com:8080"
basePath: "/obscf-core-services"
consumes:
 - "application/json"
produces:
 - "application/json"
tags:
 - name: "productServiceV1"
   description: "v1 APIs for product related operations"
 - name: "programServiceV1"
   description: "v1 APIs for program related operations"

paths:

# path to create a new record and fetch all valid records or by intent
#
#  supprorted http methods POST and GET
#
# path example ../product

 /service/v1/product:
  get:
   tags:
    - "productServiceV1"
   summary: "Get all valid product."
   description:  "Get all valid product."
   operationId: "getAll"
   parameters:
   - name: "userId"
     in: "header"
     description: "User Id"
     required: true
     type: "string"
   - name: "branchCode"
     in: "header"
     description: "Branch Code"
     required: true
     type: "string"
   - name: "appId"
     in: "header"
     description: "Application Id" 
     type: "string"
     required: true     
   - name: includecloseandunauth
     in: query
     description: "Includecloseandunauth need to be set to fetch summary record, defult value is false"
     required: false
     type: boolean
   - name: offset
     in: query
     description: "Offset is starting no of records to be fetched"
     required: false
     type: integer
   - name: limit
     in: query
     description: "Limit is maximum no of records to be fetched"
     required: false
     type: integer
   - in: query
     name: recordStat
     description: "Record Status"
     required: false
     type: string
   - in: query
     name: debtor
     description: "Debtor"
     required: false
     type: string
   - in: query
     name: productCategory
     description: "Product Category"
     required: false
     type: string
   - in: query
     name: branchCode
     description: "Branch Code"
     required: false
     type: string
   - in: query
     name: productCode
     description: "Product Code"
     required: false
     type: string
   - in: query
     name: productDescription
     description: "Product Description"
     required: false
     type: string
   - in: query
     name: productType
     description: "Product Type"
     required: false
     type: string
   responses:
    201:
     description: "Returns message of succes or failure"
     headers: 
      Location:
       description: "Location"
       type: "string"
     schema:
       $ref: "#/definitions/ScfTmProductMasterCollectionV1"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error" 
 /service/v1/product/{productCode}/{branchCode}:
  get:
   tags:
    - "productServiceV1"
   summary: "Retrieves the program by ID."
   description:  "Retrieves the program by ID."
   operationId: "getById"
   parameters:
    - name: "userId"
      in: "header"
      description: "User Id"
      required: true
      type: "string"
    - name: "branchCode"
      in: "header"
      description: "Branch Code"
      required: true
      type: "string"
    - name: "appId"
      in: "header"
      description: "Application Id"
      type: "string"
      required: true
    - name: "productCode"
      in: "path"
      description: "ProductCode of the user that needs to be fetched"
      required: true
      type: "string"
    - name: "branchCode"
      in: "path"
      description: "BranchCode of the user that needs to be fetched"
      required: true
      type: "string"
    - in: query
      name: recordStat
      description: "Record Status"
      required: false
      type: string
   responses:
    200:
     description: "Returns the program based on given id."
     schema:
      $ref: "#/definitions/ScfTmProductMasterWrapperDTOV1"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
 /service/v1/program/spokes:
  get:
   tags:
    - "programServiceV1"
   summary: "Get existing spokes."
   description:  "Get existing spokes for the given ProgramCode."
   operationId: "getSpokes"
   parameters:
    - name: "userId"
      in: "header"
      description: "User Id"
      required: true
      type: "string"
    - name: "branchCode"
      in: "header"
      description: "Branch Code"
      required: true
      type: "string"
    - name: "appId"
      in: "header"
      description: "Application Id"
      type: "string"
      required: true
    - name: programCode 
      in: query
      description: "Program Code"
      required: false
      type: "string"
    - in: query
      name: spokeId
      description: "Spoke Id"
      required: false
      type: string
    - in: query
      name: spokeName
      description: "Spoke Name"
      required: false
      type: string
    - in: query
      name: recordStatus
      description: "Record Status"
      required: false
      type: string
    - name: offset
      in: query
      description: "Offset is starting no of records to be fetched"
      required: false
      type: integer
    - name: limit
      in: query
      description: "Limit is maximum no of records to be fetched"
      required: false
      type: integer
   responses:
    200:
     description: "Returns the program based on given id."
     schema:
      $ref: "#/definitions/ScfTmProgramSpokeMasterCollectionV1"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
 /service/v1/program:
  post:
   tags:
    - "programServiceV1"
   summary: "Adds a new program."
   description: "Create a new program."
   operationId: "saveRecord"
   parameters:
    - name: "userId"
      in: "header"
      description: "User Id"
      required: true
      type: "string"
    - name: "branchCode"
      in: "header"
      description: "Branch Code"
      required: true
      type: "string"
    - name: "appId"
      in: "header"
      description: "Application Id"
      type: "string"
      required: true
    - name: "program" 
      in: "body" 
      description: "Request Body that contains data required for creating a new program" 
      required: true
      schema:
       $ref: "#/definitions/ScfTmProgramRequestDTOV1"
   responses:
    201: 
     description: "Returns message of succes or failure " 
     headers:
      Location:
       description: "URL of newly created program" 
       type: "string"
     schema:
       $ref: "./coreDef.yaml#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "programServiceV1"
   summary: "Get all valid program."
   description:  "Get all valid program."
   operationId: "getAllPrograms"
   parameters:
   - name: "userId"
     in: "header"
     description: "User Id"
     required: true
     type: "string"
   - name: "branchCode"
     in: "header"
     description: "Branch Code"
     required: true
     type: "string"
   - name: "appId"
     in: "header"
     description: "Application Id"
     type: "string"
     required: true
   - name: includecloseandunauth
     in: query
     description: "Include close and unauth need to be set to fetch summary record, defult value is false"
     required: false
     type: boolean
   - in: query
     name: recordStat
     description: "Record Status"
     required: false
     type: string
   - in: query
     name: anchorId
     description: "Anchor Id"
     required: false
     type: string
   - in: query
     name: programCode
     description: "Program Code"
     required: false
     type: string
   - in: query
     name: productCode
     description: "Product Code"
     required: false
     type: string
   - in: query
     name: spokeId
     description: "Spoke Id"
     required: false
     type: string
   - in: query
     name: debtor
     description: "Debtor"
     required: false
     type: string
   - in: query
     name: buyerId
     description: "Buyer Id"
     required: false
     type: string
   - in: query
     name: supplierId
     description: "Supplier Id"
     required: false
     type: string
   - in: query
     name: relationshipCode
     description: "Relationship Code"
     required: false
     type: string
   - in: query
     name: programName
     description: "Program Name"
     required: false
     type: string
   - in: query
     name: productCategory
     description: "Product Category"
     required: false
     type: string
   responses:
    201:
     description: "Returns message of succes or failure"
     headers: 
      Location:
       description: "Location"
       type: "string"
     schema:
       $ref: "#/definitions/ScfTmProgramMasterCollectionV1"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
 /service/v1/program/{id}:
  put:
   tags:
    - "programServiceV1"
   summary: "Update an existing program."
   description:  "Update an existing program."
   operationId: "modifyRecord"
   parameters:
    - name: "userId"
      in: "header"
      description: "User Id"
      required: true
      type: "string"
    - name: "branchCode"
      in: "header"
      description: "Branch Code"
      required: true
      type: "string"
    - name: "appId"
      in: "header"
      description: "Application Id"
      type: "string"
      required: true
    - name: "id"
      in: "path"
      description: "Key of the program Maintenance"
      required: true
      type: "string"
    - name: "program"
      in: "body"
      description: "Request Body that contains data required for updating an existing program"
      required: true
      schema:
       $ref: "#/definitions/ScfTmProgramRequestDTOV1"
   responses:
    200:
     description: "Returns updated program"
     schema:
      $ref: "./coreDef.yaml#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
 /service/v1/getProgProdByAnchorSpoke: 
  get:
     tags:
      - "programServiceV1"
     summary: "Get all valid program."
     description:  "Get all valid program based on spoke and anchor."
     operationId: "getProgProdByAnchorSpoke"
     parameters:
     - name: "userId"
       in: "header"
       description: "User Id"
       required: true
       type: "string"
     - name: "branchCode"
       in: "header"
       description: "Branch Code"
       required: true
       type: "string"
     - name: "appId"
       in: "header"
       description: "Application Id"
       type: "string"
       required: true
     - name: anchorId
       required: false
       description: "Anchor Id"
       type: string
       in: query
     - in: query
       name: programCode
       description: "Program Code"
       required: false
       type: string
     - in: query
       name: spokeId
       description: "Spoke Id"
       required: false
       type: string
     responses: 
      200:
       description: "Returns product program collection"
       schema:
         $ref: "#/definitions/ProductProgramDTOCollection"
      400:
       description: "Malformed syntax."
      401:
       description: "Request does not have sufficient credentials."
      403:
       description: "Request is not authorized."
      405:
       description: "Invalid input"
      500:
       description: "Internal error"        
     
definitions:
 ScfTmProductMasterCollectionV1: 
  description: "Collection of product."
  type: "object"
  properties:
   data:
    type: "array"
    items: 
     $ref: "#/definitions/ScfTmProductMasterDTOV1"
   paging:
    $ref: "./coreDef.yaml#/definitions/PagingDto"
 ScfTmProductMasterDTOV1:
  type: object
  allOf:
  - $ref: './coreDef.yaml#/definitions/GenericDto'
  - type: object
    required:
     - branchCode
     - creditLimitUtilization
     - debtor
     - effectiveFrom
     - expiresOn
     - productCategory
     - productCode
     - productDescription
     - productType
    properties:
     appropriationSeqAftDueDate:
      type: string
      description: "Appropriation Sequence After Due Date"
     appropriationSeqBefDueDate:
      type: string
      description: "Appropriation Sequence Before Due Date"
     appropriationSeqOnDueDate:
      type: string
      description: "Appropriation Sequence On Due Date"
     autoDebitApplicable:
      type: string
      description: "Auto Debit Applicable"
     autoFinanceApplicable:
      type: string
      description: "Auto Finance Applicable"
     autoSettlementApplicable:
      type: string
      description: "Auto Settlement Applicable"
     branchCode:
      type: string
      description: "Branch Code"
     creditLimitUtilization:
      type: string
      description: "Credit Limit Utilization"
     debitAcctTypeAfterDueDate:
      type: string
      description: "Debit Account Type After Due Date"
     debitAcctTypeOnDueDate:
      type: string
      description: "Debit Account Type On Due Date"
     debitPartyAfterDueDate:
      type: string
      description: "Debit Party After Due Date"
     debitPartyOnDueDate:
      type: string
      description: "Debit Party On Due Date"
     debtor:
      type: string
      description: "Debtor"
     effectiveFrom:
      type: string
      format: date
      description: "Effective From"
     expiresOn:
      type: string
      format: date
      description: "Expires On"
     holidayTreatment:
      type: string
      description: "Holiday Treatment"
     maturityDateCalculation:
      type: string
      description: "Maturity Date Calculation"
     maxFinancePercentage:
      type: number
      description: "Maximum Finance Percentage"
     maxTenorAllowed:
      type: number
      description: "Maximum Tenor Allowed"
     minFinancePercentage:
      type: number
      description: "Minimum Finance Percentage"
     minTenorAllowed:
      type: number
      description: "Minimum Tenor Allowed"
     minWaitingPeriod:
      type: number
      description: "Minimum Waiting Period"
     multipleDisbursementAllowed:
      type: string
      description: "Multiple Disbursement Allowed"
     npaAppropriationSeq:
      type: string
      description: "Npa Appropriation Sequence"
     partRepaymentAllowed:
      type: string
      description: "Part Repayment Allowed"
     preferredDisbursementMode:
      type: string
      description: "Preferred Disbursement Mode"
     preferredSettlementMode:
      type: string
      description: "Preferred Settlement Mode"
     prePaymentAllowed:
      type: string
      description: "Pre Payment Allowed"
     productCategory:
      type: string
      description: "Product Category"
     productCode:
      type: string
      description: "Product Code"
     productDescription:
      type: string
      description: "Product Description"
     productType:
      type: string
      description: "Product Type"
     reconciliationTowards:
      type: string
      description: "Reconciliation Towards"     
     txnControllerRefNo:
      type: string
      description: "Transaction Controller Reference Number"    
     stalePeriod:
      type: number
      description: "Stale Period"
     withRecourse:
      type: string
      description: "With Recourse"
     graceDays:
      type: number
      description: "Grace Days"
 ScfTmProductMasterWrapperDTOV1:
  type: object
  properties:
   data:
    $ref: "#/definitions/ScfTmProductMasterDTOV1"
 ScfTmProgramRequestDTOV1:
  type: object
  properties:
    data:
     $ref: "#/definitions/ScfTmProgramMasterDTOV1"
    autoApproval:
     type: string
     description: "Auto approval"
 ScfTmProgramMasterDTOV1:
  type: object
  allOf:
  - $ref: './coreDef.yaml#/definitions/GenericDto'
  - type: object
    required:
     - anchorId
     - effectiveFrom
     - expiresOn
     - productCode
     - productDescription
     - programCode
     - programName
    properties:
     anchorId:
      type: string
      description: "Anchor Id"
     anchorName:
      type: string
      description: "Anchor Name"
     authorizationRequired:
      type: string
      description: "Authorization Required"
     autoAcceptanceApplicable:
      type: string
      description: "Auto Acceptance Applicable"
     autoAcceptanceDays:
      type: number
      description: "Auto Acceptance Days"
     autoFinanceApplicable:
      type: string
      description: "Auto Finance Applicable"
     autoSettlementApplicable:
      type: string
      description: "Auto Settlement Applicable"
     disbursementCcy:
      type: string
      description: "Disbursement Currency"
     effectiveFrom:
      type: string
      format: date
      description: "Effective From"
     expiresOn:
      type: string
      format: date
      description: "Expires On"
     maxFinancePercentage:
      type: number
      description: "Maximum Finance Percentage"
     maxTenorAllowed:
      type: number
      description: "Maximum Tenor Allowed"
     minFinancePercentage:
      type: number
      description: "Minimum Finance Percentage"
     minTenorAllowed:
      type: number
      description: "Minimum Tenor Allowed"
     preferredDisbursementMode:
      type: string
      description: "Preferred Disbursement Mode"
     preferredSettlementMode:
      type: string
      description: "Preferred Settlement Mode"
     productCode:
      type: string
      description: "Product Code"
     productDescription:
      type: string
      description: "Product Description"
     programCode:
      type: string
      description: "Program Code"
     programName:
      type: string
      description: "Program Name"
     productCategory:
      type: string
      description: "Product Category"
     reconciliationTowards:
      type: string
      description: "Reconciliation Towards"  
     withRecourse:
      type: string
      description: "With Recourse"
     graceDays: 
      type: number
      description: "Grace Days"
     interestBearingParty:
      type: string
      description: "Interest Bearing Party"
     relationshipCode:
      type: string
      description: "Relationship Code" 
     txnControllerRefNo:
      type: string
      description: "Transaction Controller Reference Number"    
     ScfTmProgramSpokeMasterDTO:
      type: array
      items:
       $ref: "#/definitions/ScfTmProgramSpokeMasterDTOV1"
 ScfTmProgramSpokeMasterCollectionV1: 
  description: "Collection of Spokes."
  type: "object"
  properties:
   data:
    type: "array"
    items: 
     $ref: "#/definitions/ScfTmProgramSpokeMasterDTOV1"
   paging:
    $ref: "./coreDef.yaml#/definitions/PagingDto"
 ScfTmProgramSpokeMasterDTOV1:
  type: object
  required:
     - programCode
     - spokeId
  properties:
     authorizationRequired:
      type: string
      description: "AuthorizationcRequired"
     autoFinanceApplicable:
      type: string
      description: "Auto Finance Applicable"
     autoSettlementApplicable:
      type: string
      description: "Auto Settlement Applicable"
     disbursementCcy:
      type: string
      description: "Disbursement Currency"
     id:
      type: string
      description: "Id"
     maxFinancePercentage:
      type: number
      description: "Maximum Finance Percentage"
     maxTenorAllowed:
      type: number
      description: "Maximum Tenor Allowed"
     minFinancePercentage:
      type: number
      description: "Minimum Finance Percentage"
     minTenorAllowed:
      type: number
      description: "Minimum Tenor Allowed"
     preferredDisbursementMode:
      type: string
      description: "Preferred Disbursement Mode"
     preferredSettlementMode:
      type: string
      description: "Preferred Settlement Mode"
     programCode:
      type: string
      description: "Program Code"
     programMasterId:
      type: string
      description: "Program Master Id"
     spokeId:
      type: string
      description: "Spoke Id"
     spokeName:
      type: string
      description: "Spoke Name"
     withRecourse:
      type: string
      description: "With Recourse"
     graceDays:
      type: number
     interestBearingParty:
      type: string
      description: "Interest Bearing Party"
     ScfTmProgramSpokeCodeMasterDTO:
      type: array
      items:
       $ref: "#/definitions/ScfTmProgramSpokeCodeMasterDTOV1"
 ScfTmProgramMasterCollectionV1: 
  description: "Collection of program."
  type: "object"
  properties:
   data:
    type: "array"
    items: 
     $ref: "#/definitions/ScfTmProgramMasterDTOV1"
   paging:
    $ref: "./coreDef.yaml#/definitions/PagingDto"
 ScfTmProgramSpokeCodeMasterDTOV1:
  type: object
  required:
     - programCode
     - spokeId
  properties:
     id:
      type: string
      description: "Id"
     spokeMasterId:
      type: string
      description: "Spoke Master Id"
     programCode:
      type: string
      description: "Program Code"
     spokeId:
      type: string
      description: "Spoke Id"
     spokeName:
      type: string
      description: "Spoke Name"
     spokeExternalCode:
      type: string
      description: "Spoke External Code"
     spokeDivisionCode:
      type: string
      description: "Spoke Division Code"
     spokeDivisionName:
      type: string
      description: "Spoke Division Name"
     anchorDivisionCode:
      type: string
      description: "Anchor Division Code"
     anchorDivisionName:
      type: string
      description: "Anchor Division Name"
 ProductProgramDTO: 
    type: object
    properties:
      productDTO:
        $ref: './coreDef.yaml#/definitions/ScfTmProductMasterDTO'
      programDTO: 
        $ref: "./coreDef.yaml#/definitions/ScfTmProgramMasterDTO"
 ProductProgramDTOCollection: 
    description: "Collection of product and program DTO."
    type: "object"
    properties:
     data:
      type: "array"
      items: 
       $ref: "#/definitions/ProductProgramDTO"
