swagger: "2.0"
info:
  description: "This is a sample server BranchName server.  You can find out more about Swagger at [swagger.io](http://swagger.io) and about data types at [Swagger Data Types](https://swagger.io/docs/specification/data-models/data-types/)"
  version: "1.0.0"
  title: "BankBranch Service"
host: "api-plato.us.oracle.com:8080"
basePath: "/api/1.0"
consumes:
  - "application/json"
produces:
  - "application/json"
tags:
  - name: "BankBranchAPI"
    description: "API for BankBranch Operations"
    
schemes:
- "https"

paths:
  /web/v1/bankbranch:
    get:
      tags:
        - "bankbranch"
      summary: "Retrieves the list of existing entries."
      description:  "Retrieves the list of existing entries. Add additional information here for the this endpoint."
      operationId: "getAll"
      parameters:
        - name: "appId"
          in: "header"
          type: "string"
          required: true
          description: "Application Id."
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false
          description: "Tenant Id."
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "User Id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
          description: "Branch Code."
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "Authorization Token."
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
          description: "Content Type."
        - name: "branchDate"
          in: "header"
          type: "string"
          format: "date-time"
          required: false
          description: "Branch Date."
        - name: "limit"
          in: "query"
          required: false
          description: "limit to be fetched"
          type: "integer"
        - name: "offset"
          in: "query"
          required: false
          description: "offset of the limit"
          type: "integer"
        - name: "bankName"
          in: "query"
          type: "string"
          required: false
          description: "Name of the bank."
        - name: "bankCode"
          in: "query"
          type: "string"
          required: false
          description: "Bank code."
        - name: "branchName"
          in: "query"
          required: false
          type: "string"
          description: "Branch Name."
        - name: "requestBranchCode"
          in: "query"
          required: false
          type: "string"
          description: "Request branch code."
      responses:
        200:
          description: "Successfully performs the operation"
          schema:
            $ref: "#/definitions/CmcBankBranchCollection"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"
          
          
  /web/v1/bank:
    get:
      tags:
        - "bankbranch"
      summary: "Retrieves the list of existing entries."
      description:  "Retrieves the list of existing entries. Add additional information here for the this endpoint."
      operationId: "getAllBanks"
      parameters:
        - name: "appId"
          in: "header"
          type: "string"
          required: true
          description: "Application Id."
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false
          description: "Tenant Id."
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "User Id for SMS."
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
          description: "Branch Code for SMS."
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "Authorization Token."
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
          description: "Content Type."
        - name: "branchDate"
          in: "header"
          type: "string"
          format: "date-time"
          required: false
          description: "Branch Date."
        - name: "limit"
          in: "query"
          required: false
          description: "limit to be fetched"
          type: "integer"
        - name: "offset"
          in: "query"
          required: false
          description: "offset of the limit"
          type: "integer"
        - name: "bankName"
          in: "query"
          type: "string"
          required: false
          description: "Name of the Bank."
        - name: "bankCode"
          in: "query"
          type: "string"
          required: false
          description: "Bank Code."
      responses:
        200:
          description: "Successfully performs the operation"
          schema:
            $ref: "#/definitions/CmcBankCollection"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"
  /web/v1/branch:
    get:
      tags:
        - "bankbranch"
      summary: "Retrieves the list of existing entries."
      description:  "Retrieves the list of existing entries. Add additional information here for the this endpoint."
      operationId: "getByBranchCode"
      parameters:
        - name: "appId"
          in: "header"
          type: "string"
          required: true
          description: "Application Id."
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "User Id for SMS."
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
          description: "Branch Code for SMS."
        - name: "branchCode"
          in: "query"
          type: "string"
          required: false
          description: "Branch Code."
        - name: "branchName"
          in: "query"
          type: "string"
          required: false
          description: "Branch Name."
        - name: "depositBranch"
          in: "query"
          type: "string"
          required: false
          description: "Deposit Branch."
        - name: "depositBranchName"
          in: "query"
          type: "string"
          required: false
          description: "Deposit Branch Description."
        - name: "limit"
          in: "query"
          required: false
          description: "limit to be fetched"
          type: "integer"
        - name: "offset"
          in: "query"
          required: false
          description: "offset of the limit"
          type: "integer"
      responses:
        200:
          description: "Successfully performs the operation"
          schema:
            $ref: "#/definitions/CmcCoreBranchCollection"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"

          
definitions:
  CmcBankBranchModel:
    description: "Cmc Bank Branch model."
    type: "object"
    properties:
      addressLine1:
        description: "Address line 1."
        type: "string"
      addressLine2:
        description: "Address line 2."
        type: "string"
      addressLine3:
        description: "Address line 3."
        type: "string"
      addressLine4:
        description: "Address line 4."
        type: "string"
      bankCode:
        description: "Bank code"
        type: "string"
      bankName:
        description: "Bank name"
        type: "string"
      requestBranchCode:
        description: "Branch code"
        type: "string"
      branchName:
        description: "Branch name"
        type: "string"
      contactPerson:
        description: "Contact Person"
        type: "string"
      countryCode:
        description: "Country code"
        type: "string"
      designation:
        description: "Designation"
        type: "string"
      emailId:
        description: "Email Id"
        type: "string"
      fax:
        description: "Fax"
        type: "string" 
      locationCode:
        description: "Location Code"
        type: "string"        
      mobileNo:
        description: "Consignment Number"
        type: "number"
      pinCode:
        description: "Pincode"
        type: string
      routingCode:
        description: "Rounting Code"
        type: "number"
      stateCode:
        description: "State Code"
        type: "string"
      telephone:
        description: "Telephone"
        type: "number"
      locationDesc:
        description: "Location Description"
        type: string
      locationClusterCode:
        description: "Location Cluster Code"
        type: string
      locationClusterDesc:
        description: "Location Cluster Description"
        type: string


  CmcCoreBranchModel:
    description: "Cmc Core Branch Model."
    type: "object"
    properties:
      addressLine1:
        description: "Address line 1"
        type: "string"
      addressLine2:
        description: "Address line 2"
        type: "string"
      addressLine3:
        description: "Address line 3"
        type: "string"
      addressLine4:
        description: "Address line 4"
        type: "string"
      autoAuth:
        description: "Bank code"
        type: "string"
      branchCode:
        description: "Bank name"
        type: "string"
      branchLcy:
        description: "Branch code"
        type: "string"
      branchName:
        description: "Branch name"
        type: "string"
      contactPerson:
        description: "Contact Person"
        type: "string"
      countryCode:
        description: "Country code"
        type: "string"
      designation:
        description: "Designation"
        type: "string"
      emailId:
        description: "Email Id"
        type: "string"
      fax:
        description: "Fax"
        type: "string" 
      locationCode:
        description: "Location Code"
        type: "string"
      hostCode:
        description: "hostCode"
        type: "string"
      isServiceBranch:
        description: "Is Service Branch (Y/N)"
        type: "string"
      hoBranch:
        description: "Home Branch"
        type: "string"
      localCcy:
        description: "Local Currency"
        type: "string"                
      mobileNo:
        description: "Mobile Number"
        type: "number"
      pinCode:
        description: "Pincode"
        type: string
      routingCode:
        description: "Rounting Code"
        type: "number"
      sourceBranchCode:
        description: "Source Branch Code"
        type: "string"
      sourceSystem:
        description: "Source System"
        type: "string"
      stateCode:
        description: "State Code"
        type: "string"
      telephone:
        description: "Telephone"
        type: "number"
      locationDesc:
        description: "Location Description"
        type: string
      locationClusterCode:
        description: "Location Cluster Code"
        type: string
      locationClusterDesc:
        description: "Location Cluster Description"
        type: string
      walkinCustomer:
        description: "Walk In Customer"
        type: string
      weekHol1:
        description: "Week Holiday 1"
        type: string
      weekHol2:
        description: "Week Holiday 2"
        type: string
      
    
  
  CmcBankModel:
    description: "Cmc Bank model"
    type: "object"
    properties:
      bankCode:
        description: "Bank code"
        type: "string"
      bankName:
        description: "Bank name"
        type: "string"
        
  CmcBankBranchCollection:
    description: "Collection of bankname."
    type: "object"
    properties:
      data:
        type: "array"
        description: "List of Bank Branch Objects."
        items:
          $ref: "#/definitions/CmcBankBranchModel"
      paging:
          $ref: "#/definitions/PagingDto" 
          
  CmcCoreBranchCollection:
    description: "Collection of Cmc Core Branch Model Objects."
    type: "object"
    properties:
      data:
        type: "array"
        description: "List of Bank Branch Objects."
        items:
          $ref: "#/definitions/CmcCoreBranchModel"
      paging:
          $ref: "#/definitions/PagingDto" 
          
  CmcBankCollection:
    description: "Collection of bankname."
    type: "object"
    properties:
      data:
        type: "array"
        description: "List of Bank Objects."
        items:
          $ref: "#/definitions/CmcBankModel"
      paging:
          $ref: "#/definitions/PagingDto"    
  ResponseModel:
    description: "Response Model Object."
    type: "object"
    properties:
      data:
        type: "object"
        description: "Data."
      errors:
        type: "object"
        description: "Errors."
      paging:
        type: "object"
        description: "Paging Objects."
        
