swagger: "2.0"
info:
  description: "This is a sample server BranchName server.  You can find out more about Swagger at [swagger.io](http://swagger.io) and about data types at [Swagger Data Types](https://swagger.io/docs/specification/data-models/data-types/)"
  version: "1.0.0"
  title: "BankBranch Service"
host: "api-plato.us.oracle.com:8080"
basePath: "/api/1.0"
consumes:
  - "application/json"
produces:
  - "application/json"
tags:
  - name: "BankBranchServiceAPI"
    description: "API for BankBranch Operations"
    
schemes:
- "https"

paths:
  /service/v1/bankbranch:
    get:
      tags:
        - "bankbranchservice"
      summary: "Retrieves the list of Bank branch entries."
      description:  "Retrieves the list of Bank branch entries. Add additional information here for the this endpoint."
      operationId: "getAll"
      parameters:
        - name: "appId"
          description: "Application Id"
          in: "header"
          type: "string"
          required: true
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "User Id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          description: "Branch Code"
          required: true
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "Authorization Token"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
          description: "Content Type"
        - name: "bankName"
          in: "query"
          type: "string"
          required: false
          description: "Name of the Bank"
        - name: "bankCode"
          in: "query"
          type: "string"
          required: false
          description: "Bank Code"
        - name: "branchName"
          in: "query"
          required: false
          type: "string"
          description: "Name of the Branch"
        - name: "requestBranchCode"
          in: "query"
          required: false
          type: "string"
          description: "Requested Branch Code"
      responses:
        200:
          description: "Successfully performs the operation"
          schema:
            $ref: "#/definitions/CmcBankBranchCollection"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"
          
          
  /service/v1/corebranch/getByLocList:
    post:
      tags:
        - "bankbranchservice"
      summary: "Inserts Bank Branch Entries."
      description:  "Inserts Bank Branch Entries. Add additional information here for the this endpoint."
      operationId: "getCoreBranchOnLocationServiceY"
      parameters:
        - name: "locations"
          in: "body"
          description: "Request Body that contains data required for getting data"
          required: true
          schema:
            $ref: "#/definitions/LocationModel"
        - name: "appId"
          in: "header"
          type: "string"
          required: true
          description: "Application Id"
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "User id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
          description: "Branch Code"
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "Authorization Token"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
          description: "Content Type"
      responses:
        200:
          description: "Successfully performs the operation"
          schema:
            $ref: "#/definitions/CmcCoreBranchCollection"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"
          
definitions:
  LocationModel:
    description: "location model"
    type: "object"
    properties:
      locations:
        type: "array"
        description: "List of locations"
        items:
          $ref: string
 
          