#-----------------------------------------------------------------------------------------------------
#  **
#  ** File Name  : common.yaml
#  **
#  ** Module     : corporateinformationservice
#  ** 
#  ** This source is part of the Oracle FLEXCUBE  and is copyrighted by Oracle Financial Services Software Limited.  ** 
#  ** 
#  ** All rights reserved. No part of this work may be reproduced, stored in a retrieval system,
#  ** adopted or transmitted in any form or by any means, electronic, mechanical, photographic,
#  ** graphic, optic recording or otherwise, translated in any language or computer language,
#  ** without the prior written permission of Oracle Financial Services Software Limited.
#  ** 
#  ** Oracle Financial Services Software Limited.
#  ** 10-11, SDF I, SEEPZ, Andheri (East),
#  ** Mumbai - 400 096.
#  ** India
#  ** Copyright 2017-2018 Oracle Financial Services Software Limited. All rights reserved.
#  -------------------------------------------------------------------------------------------------------
#
#  CHANGE HISTORY
#
#  Created By         :  System
#
#  Bug Number         :  
#  Changed By         :  
#  Change Description :  
#  Change On          :  
#  Search String      :  
#  
#  -------------------------------------------------------------------------------------------------------
  

swagger: "2.0"
info:
 description: "This is a sample server corporateinformationservice server." 
 version: "1.0.0"
 title: "corporateinformationservice Service"
host: "api-plato.us.oracle.com:8080"
basePath: "/api/1.0"
consumes:
 - "application/json"
produces:
 - "application/json"
tags:
 - name: "corporateinformationservice"
   description: "This api is used to provide information about products of corporate"
schemes:
- "https"

paths:

# path to create a new record and fetch all valid records or by intent
#
#  supprorted http methods POST and GET
#
# path example ../corporateinformationservice

 /service/v1/corporateinformation/products:
  get:
   tags:
    - "corporateinformationservice"
   summary: "Get all valid corporateinformationservice products."
   description:  "Get all valid corporateinformationservice products. This endpoints will be used to Get all valid corporateinformationservice maintenance records."
   operationId: "getProducts"
   parameters:
   - name: "userId"
     in: "header"
     description: "userId"
     required: true
     type: "string"
   - name: "branchCode"
     in: "header"
     description: "branchCode"
     required: true
     type: "string"
   - name: "appId"
     in: "header"
     description: "appId"
     type: "string"
     required: true
   - name: "partyId"
     in: "query"
     description: "filter by corporate code/id"
     required: false
     type: "string" 
   - name: "productCode"
     in: "query"
     description: "filter by corporate code/id"
     required: false
     type: "string"
   - name: "productCategory"
     in: "query"
     description: "filter by corporate code/id"
     required: false
     type: "string"
   responses:
    201:
     description: "Returns message of succes or failure"
     headers: 
      Location:
       description: "Returns products information"
       type: "string"
     schema:
       $ref: "./obcmtmcorpenrchinfomstr.yaml#/definitions/ObcmTmCorpEnrchProdListCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
 /service/v1/corporateinformation/poolingsetup:
  get:
   tags:
    - "corporateinformationservice"
   summary: "Get all valid corporateinformationservice pooling setups."
   description:  "Get all valid corporateinformationservice pooling setups. This endpoints will be used to Get all valid corporateinformationservice maintenance records."
   operationId: "getPoolingSetup"
   parameters:
   - name: "userId"
     in: "header"
     description: "userId"
     required: true
     type: "string"
   - name: "branchCode"
     in: "header"
     description: "branchCode"
     required: true
     type: "string"
   - name: "appId"
     in: "header"
     description: "appId"
     type: "string"
     required: true
   - name: "corporateCode"
     in: "query"
     description: "filter by corporate code/id"
     required: false
     type: "string" 
   responses:
    201:
     description: "Returns message of succes or failure"
     headers: 
      Location:
       description: "Returns corporate information pooling setup"
       type: "string"
     schema:
       $ref: "#/definitions/ObcmTmCorpEnrchPoolStupMstrCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"      

 /service/v1/corporateinformation/enrichment:
  get:
   tags:
    - "corporateinformationservice"
   summary: "Get all valid corporateinformationservice enrichment data."
   description:  "Get all valid corporateinformationservice enrichment data. This endpoint will be used to Get all valid corporateinformationservice maintenance records."
   operationId: "getEnrichmentData"
   parameters:
   - name: "userId"
     in: "header"
     description: "userId"
     required: true
     type: "string"
   - name: "branchCode"
     in: "header"
     description: "branchCode"
     required: true
     type: "string"
   - name: "appId"
     in: "header"
     description: "appId"
     type: "string"
     required: true
   - name: "corporateCode"
     in: "query"
     description: "filter by corporate code/id"
     required: false
     type: "string"
   - name: "levelOfEnrichment"
     in: "query"
     description: "Level of Enrichment"
     required: false
     type: "string"
   - name: "productCode"
     in: "query"
     description: "Product Code"
     required: false
     type: "string"
   - name: "productCategory"
     in: "query"
     description: "Product Category"
     required: false
     type: "string"     
   - name: "filterType"
     in: "query"
     description: "filter type for pickup, delivery or both"
     required: false
     type: "string"
   - name: "pkpDlvryLocation"
     in: "query"
     description: "location for pickup or delivery"
     required: false
     type: "string"
   - name: "pkpDlvryPoint"
     in: "query"
     description: "pickup or delivery point code to filter"
     required: false
     type: "string"
   - name: "pkpDlvryFor"
     in: "query"
     description: "pickup or delivery for cheque, cash or both"
     required: false
     type: "string"
   - name: "adHoc"
     in: "query"
     description: "delivery type for adhoc"
     required: false
     type: "string"
   - name: "pkpDlvryHldy"
     in: "query"
     description: "pickup or delivery on holiday (Y or N)"
     required: false
     type: "string"
   - name: "frequency"
     in: "query"
     description: "frequency for pickup or delivery"
     required: false
     type: "string"
   - name: "dayOfWeek"
     in: "query"
     description: "day of week for pickup or delivery"
     required: false
     type: "string"
   - name: "timeSlot"
     in: "query"
     description: "time slot for pickup or delivery"
     required: false
     type: "string"
   responses:
    200:
     description: "Returns message of succes or failure. If success, returns the enrichment data of the corporate."
     schema:
       $ref: "#/definitions/ObcmTmCorpEnrchStupMstrWrapperDTO"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  post:
   tags:
    - "corporateinformationservice"
   summary: "Update an existing Corporate Enrichment Data Segments for Pickup and Delivery."
   description:  "Update an existing Corporate Enrichment Data Segments for Pickup and Delivery. This endpoint will be used to put valid corporateinformationservice maintenance records for these two Data Segments."
   operationId: "putEnrichmentCourierData"
   parameters:
   - name: "userId"
     in: "header"
     description: "userId"
     required: true
     type: "string"
   - name: "branchCode"
     in: "header"
     description: "branchCode"
     required: true
     type: "string"
   - name: "appId"
     in: "header"
     description: "appId"
     type: "string"
     required: true
   - name: "corporateEnrichmentCourierData"
     in: "body"
     description: "Request Body that contains data required for updating an existing corporate Enrichment Data"
     required: true
     schema:
      $ref: "#/definitions/ObcmTmCorpEnrchCourierDTO"
   responses:
    200:
     description: "Returns message of succes or failure. If success, returns the updated data of the corporate."
     schema:
       $ref: "#/definitions/CorpResponseDTO"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
definitions:
 ObcmTmCorpEnrchCourierDTO:
  type: "object"
  description: "Request DTO for Corporate Enrichment Pickup and Delivery Courier Service."
  allOf:
  - $ref: '#/definitions/GenericDto'
  properties:
   corporateCode:
    type: "string"
    description: "Corporate Code"
   courierSrvcType:
    type: "string"
    description: "Courier service type used for corporate enrichmentData"
   ObcmTmCorpEnrchPickupDetailsDTO:
    type: "array"
    description: "List of Corporate Enrichment pickup details"
    items:
     $ref: './obcmtmcorpenrchpckupmstr.yaml#/definitions/ObcmTmCorpEnrchPickupDetailsDTO'
   ObcmTmCorpEnrchDeliveryDetailsDTO:
    type: "array"
    description: "List of Corporate Enrichment delivery details"
    items:
     $ref: './obcmtmcorpenrchdlvrymstr.yaml#/definitions/ObcmTmCorpEnrchDeliveryDetailsDTO'
 ObcmTmCorpEnrchStupMstrDTO:
  type: "object"
  allOf:
  - $ref: '#/definitions/GenericDto'
  - type: "object"
    properties:
     corporateCode:
      type: "string"
      description: "Corporate code used for corporate enrichmentData"
     corporateName:
      type: "string"
      description: "Corporate name used for corporate enrichmentData"
     counterPartyInfoManTxn:
      type: "string"
      description: "Counter party information used for corporate enrichmentData"
     drawerInfoManTxn:
      type: "string"
      description: "Dwawer information used for corporate enrichmentData"
     courierSrvcType:
      type: "string"
      description: "Courier service type used for corporate enrichmentData"
     ObcmTmCorpEnrchInfoProdMasterDTO:
      type: "array"
      description: "List of Corporate Enrichment Information Product Master"
      items:
       $ref: '#/definitions/ObcmTmCorpEnrchInfoProdMasterDTO'
     ObcmTmCorpEnrchProdEnrchDetailsDTO:
      type: "array"
      description: "List of Corporate Enrichment product details"
      items:
       $ref: './obcmtmcorpenrchprodenrchmstr.yaml#/definitions/ObcmTmCorpEnrchProdEnrchDetailsDTO'
     ObcmTmCorpEnrchPoolStupDetailsDTO:
      type: "array"
      description: "List of Corporate Enrichment pool setup details"
      items:
       $ref: './obcmtmcorpenrchpoolstupmstr.yaml#/definitions/ObcmTmCorpEnrchPoolStupDetailsDTO'
     ObcmTmCorpEnrchPckupDetailsDTO:
      type: "array"
      description: "List of Corporate Enrichment pickup details"
      items:
       $ref: './obcmtmcorpenrchpckupmstr.yaml#/definitions/ObcmTmCorpEnrchPckupDetailsDTO'
     ObcmTmCorpEnrchDlvryDetailsDTO:
      type: "array"
      description: "List of Corporate Enrichment delivery details"
      items:
       $ref: './obcmtmcorpenrchdlvrymstr.yaml#/definitions/ObcmTmCorpEnrchDlvryDetailsDTO'
 ObcmTmCorpEnrichPckupDetailsDTO:
  type: "object"
  allOf:
  - $ref: './obcmtmcorpenrchpckupmstr.yaml#/definitions/ObcmTmCorpEnrchPckupDetailsDTO'
  - type: "object"
    properties:
     errors:
      type: "array"
      description: "Error List for the Detail Object."
      items:
       $ref: "#/definitions/ErrorDto"
 ObcmTmCorpEnrichDlvryDetailsDTO:
  type: "object"
  allOf:
  - $ref: './obcmtmcorpenrchdlvrymstr.yaml#/definitions/ObcmTmCorpEnrchDlvryDetailsDTO'
  - type: "object"
    properties:
     errors:
      type: "array"
      description: "Error List for the Detail Object."
      items:
       $ref: "#/definitions/ErrorDto"
 ObcmTmCorpEnrchInfoProdMasterDTO:
  type: "object"
  description: "Corporate Enrichment Information Product Master Data"
  properties:
     productCode:
      type: "string"
      description: "Product code used for corporate enrichment information product master data"
     productDesc:
      type: "string"
      description: "Product description used for corporate enrichment information product master data"
     status:
      type: "string"
      description: "Status used for SUCCESS/FAILURE response"
     productCategory:
      type: "string"
      description: "Product category used for corporate enrichment information Product Details" 
 ObcmTmCorpEnrchStupMstrWrapperDTO:
  type: object
  description: "Collection of Corporate Enrichment Setup master Data."
  properties:
    responseCode:
     type: "string"
     description: "ResponseCode used for Corporate Enrichment Setup master Data"
    corporateEnrichmentData:
     description: "Corporate Enrichment Data"
     $ref: "#/definitions/ObcmTmCorpEnrchStupMstrDTO"
    errors:
     type: array
     description: "Error List Corporate Enrichment Setup master Data"
     items:
      $ref: "#/definitions/ErrorDto"
 ObcmTmCorpEnrchPoolStupMstrCollection:
  description: "Collection of corpenrchpoolstupmstr."
  type: "object"
  properties:
   data:
    type: "array"
    items: 
     $ref: "#/definitions/ObcmTmCorpEnrichPoolStupMstrDTO"
   paging:
    $ref: "#/definitions/PagingDto"
 PagingDto:
  type: object
  properties:
   totalResults:
    type: integer
 ObcmTmCorpEnrichPoolStupMstrDTO:
  type: object
  allOf:
  - $ref: '#/definitions/GenericDto'
  - type: "object"
    properties:
     enrichmentId:
      type: "string"
      description: "Enrichment ID"
     txnControllerRefNo:
      type: "string"
      description: "Treansaction Controller Reference No"
     ObcmTmCorpEnrchPoolStupDtlsDTO:
      type: "array"
      items:
       $ref: './obcmtmcorpenrchpoolstupmstr.yaml#/definitions/ObcmTmCorpEnrchPoolStupDtlsDTO'
 GenericDto:
  allOf:
   - type: "object"
     discriminator: resource_type
 ErrorDto:
  type: object
  properties:
   errorCode:
    type: string
    description: "Error Codes Displaying"
   errorDesc:
    type: string
    description: "Error Description displaying based on error codes"
 ObcmTmCorpEnrchCourierStupMstrDTO:
  type: "object"
  description: "Response DTO for Corporate Enrichment Pickup and Delivery."
  allOf:
   - $ref: '#/definitions/GenericDto'
  properties:   
   corporateCode:
    type: "string"
    description: "Corporate Code."
   corporateName:
    type: "string"
    description: "Coporate Name."
   courierSrvcType:
    type: "string"
    description: "Courier service type used for corporate enrichmentData"
   ObcmTmCorpEnrchPickupDetailsDTO:
    type: "array"
    description: "List of Corporate Enrichment pickup details"
    items:
     $ref: '#/definitions/ObcmTmCorpEnrichPckupDetailsDTO'
   ObcmTmCorpEnrchDeliveryDetailsDTO:
    type: "array"
    description: "List of Corporate Enrichment delivery details"
    items:
     $ref: '#/definitions/ObcmTmCorpEnrichDlvryDetailsDTO'
 CorpResponseDTO:
  type: "object"
  description: "Collection of Corporate Enrichment Courier Setup master Data."
  properties:
    responseCode:
     type: "string"
     description: "ResponseCode used for Corporate Enrichment Courier Setup master Data"
    corporateEnrichmentData:
     description: "Corporate Enrichment Data for Pickup and Delivery."
     $ref: "#/definitions/ObcmTmCorpEnrchCourierStupMstrDTO"
    errors:
      type: "array"
      description: "Error List for the Request Object."
      items:
       $ref: "#/definitions/ErrorDto" 
