#-----------------------------------------------------------------------------------------------------
#  **
#  ** File Name  : common.yaml
#  **
#  ** Module     : corporateproductenrichment
#  ** 
#  ** This source is part of the Oracle FLEXCUBE  and is copyrighted by Oracle Financial Services Software Limited.  ** 
#  ** 
#  ** All rights reserved. No part of this work may be reproduced, stored in a retrieval system,
#  ** adopted or transmitted in any form or by any means, electronic, mechanical, photographic,
#  ** graphic, optic recording or otherwise, translated in any language or computer language,
#  ** without the prior written permission of Oracle Financial Services Software Limited.
#  ** 
#  ** Oracle Financial Services Software Limited.
#  ** 10-11, SDF I, SEEPZ, Andheri (East),
#  ** Mumbai - 400 096.
#  ** India
#  ** Copyright 2017-2018 Oracle Financial Services Software Limited. All rights reserved.
#  -------------------------------------------------------------------------------------------------------
#
#  CHANGE HISTORY
#
#  Created By         :  System
#
#  Bug Number         :  
#  Changed By         :  
#  Change Description :  
#  Change On          :  
#  Search String      :  
#  
#  -------------------------------------------------------------------------------------------------------
  

swagger: "2.0"
info:
 description: "This is a sample server corporateproductenrichment server." 
 version: "1.0.0"
 title: "corporateproductenrichment Service"
host: "api-plato.us.oracle.com:8080"
basePath: "/api/1.0"
consumes:
 - "application/json"
produces:
 - "application/json"
tags:
 - name: "corporateproductenrichment"
   description: "corporateproductenrichment"

schemes:
- "https"

paths:

# path to create a new record and fetch all valid records or by intent
#
#  supprorted http methods POST and GET
#
# path example ../web/v1/corporateproductenrichment

 /web/v1/corporateproductenrichment:
  post:
   tags:
    - "corporateproductenrichment"
   summary: "Adds a new corporateproductenrichment."
   description: "Adds a new corporateproductenrichment. Add additional information here for this endpoint."
   operationId: "saveRecord"
   parameters:
    - name: "corporateproductenrichment" 
      in: "body" 
      description: "Request Body that contains data required for creating a new corporateproductenrichment" 
      required: true
      schema:
       $ref: "#/definitions/ObcmTmCorpEnrchProdEnrchMstrDTO"
   responses:
    201: 
     description: "Returns message of succes or failure " 
     headers:
      Location:
       description: "URL of newly created corporateproductenrichment" 
       type: "string"
     schema:
       $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "corporateproductenrichment"
   summary: "Get all valid corporateproductenrichment."
   description:  "Get all valid corporateproductenrichment. This endpoints will be used to Get all valid corporateproductenrichment maintenance records."
   operationId: "getAll"
   parameters:
   - name: includecloseandunauth
     in: query
     description: includecloseandunauth need to be set to fetch summary record, defult value is false
     required: false
     type: boolean
   - name: offset
     in: query
     description: offset is starting no of records to be fetched
     required: false
     type: integer
   - name: limit
     in: query
     description: limit is maximum no of records to be fetched
     required: false
     type: integer
   responses:
    201:
     description: "Returns message of succes or failure"
     headers: 
      Location:
       description: ""
       type: "string"
     schema:
       $ref: "#/definitions/ObcmTmCorpEnrchProdEnrchMstrCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"

# path to modify existing record, delete existing record and fetch valid records by id or by intent( includes latestRecord, version no)
#
#  supprorted http methods PUT, DELETE and GET
#
# path examples----
#   PUT       .../web/v1/corporateproductenrichment/xxx
#   DELETE    .../web/v1/corporateproductenrichment/xxx
#   GET       .../web/v1/corporateproductenrichment/xxx
#   GET       .../web/v1/corporateproductenrichment/xxx?version=latestrecord
#   GET       .../web/v1/corporateproductenrichment/xxx?version=1

 /web/v1/corporateproductenrichment/{id}:
  put:
   tags:
    - "corporateproductenrichment"
   summary: "Update an existing corporateproductenrichment."
   description:  "Update an existing corporateproductenrichment."
   operationId: "modifyRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "key of the corporateproductenrichment Maintenance"
      required: true
      type: "string"
    - name: "corporateproductenrichment"
      in: "body"
      description: "Request Body that contains data required for updating an existing corporateproductenrichment"
      required: true
      schema:
       $ref: "#/definitions/ObcmTmCorpEnrchProdEnrchMstrDTO"
   responses:
    200:
     description: "Returns updated corporateproductenrichment"
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "corporateproductenrichment"
   summary: "Retrieves the corporateproductenrichment by ID."
   description:  "Retrieves the corporateproductenrichment by ID."
   operationId: "getById"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
    - name: "version"
      in: "query"
      description: "Id of the user that needs to be fetched"
      required: false
      type: "string"
   responses:
    200:
     description: "Returns the corporateproductenrichment based on given id."
     schema:
      $ref: "#/definitions/ObcmTmCorpEnrchProdEnrchMstrWrapperDTO"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to Delete existing record.
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../web/v1/corporateproductenrichment/xxx/delete

 /web/v1/corporateproductenrichment/{id}/delete:
  patch:
   tags:
    - "corporateproductenrichment"
   summary: "Deletes the corporateproductenrichment identified by given ID."
   description:  "Deletes the corporateproductenrichment identified by given ID. Add additional information here for the this endpoint."
   operationId: "delete"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the corporateproductenrichment maintenance"
      required: true
      type: "string"
    - name: "corporateproductenrichment"
      in: "body"
      description: Request body contain corporateproductenrichment and Modification no of corporateproductenrichment maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/OrchestratorDTO"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to Authorize existing record.
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../web/v1/corporateproductenrichment/xxx/approve

 /web/v1/corporateproductenrichment/{id}/approve:
  patch:
   tags:
    - "corporateproductenrichment"
   summary: "Authorize the corporateproductenrichment by given ID."
   description:  "Authorize the corporateproductenrichment identified by given ID."
   operationId: "authorize"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the corporateproductenrichment maintenance"
      required: true
      type: "string"
    - name: "corporateproductenrichment"
      in: "body"
      description: Request body contain corporateproductenrichment and Modification no of corporateproductenrichment maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/OrchestratorDTO"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to close existing record
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../web/v1/corporateproductenrichment/xxx/close
 /web/v1/corporateproductenrichment/{id}/close:
  patch:
   tags:
    - "corporateproductenrichment"
   summary: "Close the corporateproductenrichment by given ID."
   description:  "Close the corporateproductenrichment identified by given ID."
   operationId: "closeRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the corporateproductenrichment maintenance"
      required: true
      type: "string"
    - name: "corporateproductenrichment"
      in: "body"
      description: Request body contain corporateproductenrichment and Modification no of corporateproductenrichment maintenance which need to be closed"
      required: true
      schema:
       $ref: "#/definitions/OrchestratorDTO"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to reopen existing record
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../web/v1/corporateproductenrichment/xxx/reopen

 /web/v1/corporateproductenrichment/{id}/reopen:
  patch:
   tags:
    - "corporateproductenrichment"
   summary: "reopen the corporateproductenrichment by given ID."
   description:  "reopen the corporateproductenrichment identified by given ID."
   operationId: "reopenRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the corporateproductenrichment maintenance"
      required: true
      type: "string"
    - name: "corporateproductenrichment"
      in: "body"
      description: Request body contain corporateproductenrichment and Modification no of corporateproductenrichment maintenance which need to be reopen"
      required: true
      schema:
       $ref: "#/definitions/OrchestratorDTO"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to get all unauthorized records
#
#  supprorted http methods GET
#
# path examples----
#   GET       .../web/v1/corporateproductenrichment/xxx/unauthorized

 /web/v1/corporateproductenrichment/{id}/unauthorized:
  get:
   tags:
    - "corporateproductenrichment"
   summary: "Retrives the corporateproductenrichment by given ID."
   description:  "Retrives the corporateproductenrichment identified by given ID."
   operationId: "authQuery"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the corporateproductenrichment based on given id."
     schema:
       $ref: "#/definitions/ObcmTmCorpEnrchProdEnrchMstrCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to  history record for remitterid
#
#  supprorted http methods GETS
#
# path examples----
#   GET       .../web/v1/corporateproductenrichment/xxx/history

 /web/v1/corporateproductenrichment/{id}/history:
  get:
   tags:
    - "corporateproductenrichment"
   summary: "Retrives the corporateproductenrichment by given ID."
   description:  "Retrives the corporateproductenrichment by ID."
   operationId: "getHistory"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the corporateproductenrichment based on given id."
     schema:
       $ref: "#/definitions/ObcmTmCorpEnrchProdEnrchMstrCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to  get additional fields on the basis of Corporate Id, levelOfEnrichment, productCode
#
#  supprorted http methods GETS
#
# path examples----
#   GET       .../web/v1/corporateproductenrichment/additionalFields

 /web/v1/corporateproductenrichment/additionalFields:
  get:
   tags:
    - "corporateproductenrichment"
   summary: "Retrives the additional info by given parameters."
   description:  "Retrives the additional info by given parameters."
   operationId: "getAdditionalFields"
   parameters:
    - name: "corporateId"
      in: "query"
      description: "Corporate Id"
      required: true
      type: "string"
    - name: "levelOfEnrichment"
      in: "query"
      description: "Level of Enrichment"
      required: true
      type: "string"
    - name: "productCode"
      in: "query"
      description: "Product Code"
      required: false
      type: "string"
   responses:
    200:
     description: "Returns the corporateproductenrichment based on given id."
     schema:
       $ref: "#/definitions/ObcmTmCorpEnrchProdEnrchDetailsCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
     
# path to  get all available action for this corporateproductenrichment
#
#  supprorted http methods GETS
#
# path examples----
#   GET       .../web/v1/corporateproductenrichment/xxx/actions
     
 /web/v1/corporateproductenrichment/{id}/actions:
  get:
   tags:
    - "corporateproductenrichment"
   summary: "Retrieves the corporateproductenrichment actions by ID."
   description:  "Retrieves the corporateproductenrichment actions by ID."
   operationId: "getAvailableUserActions"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the corporateproductenrichment actions based on given id."
     schema:
      type: string
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
definitions:
 ObcmTmCorpEnrchProdEnrchMstrDTO:
  type: object
  allOf:
  - $ref: '#/definitions/GenericDto'
  - type: object
    properties:
     enrichmentId:
      type: string
      description: ""
     txnControllerRefNo:
      type: string
      description: ""
     ObcmTmCorpEnrchProdEnrchDtlsDTO:
      type: array
      items:
       $ref: '#/definitions/ObcmTmCorpEnrchProdEnrchDtlsDTO'
 ObcmTmCorpEnrchProdEnrchDtlsDTO:
  type: object
  properties:
     dataType:
      type: string
      description: ""
     enrchLabel:
      type: string
      description: ""
     fieldLength:
      type: string
      description: ""
     id:
      type: string
      description: ""
     lvlOfEnrch:
      type: string
      description: ""
     productCode:
      type: string
      description: ""
     productDesc:
      type: string
      description: ""
     productCategory:
      type: string
      description: ""
     prodEnrchMstrId:
      type: string
      description: ""
     validations:
      type: string
      description: ""
     minValue:
      type: integer
      description: ""
     orderingNo:
      type: integer
      description: "Product's ordering number"
 ModListKeyDto:
  type: object
  properties:
   modNos:
    type: array
    items:
     type: integer
   remarks:
    type: string
 KeyDto:
  type: object
  properties:
   modNo:
    type: integer
   remarks:
    type: string
 ResponseDto:
  type: object
  properties:
   id:
    type: string
   status:
    type: string
   codes:
    type: array
    items:
     $ref: "#/definitions/ResponseCode"
   requestId:
    type: string
 ResponseCode:
  type: object
  properties:
   Code:
    type: string
   Desc:
    type: string
   Type:
    type: string
   Language:
    type: string
   args:
    type: array
    items:
     type: object
   arg:
    type: string
 GenericDto:
  allOf:
   - type: object
     discriminator: resource_type
 ObcmTmCorpEnrchProdEnrchMstrCollection: 
  description: "Collection of corpenrchprodenrchmstr."
  type: "object"
  properties:
   data:
    type: "array"
    items: 
     $ref: "#/definitions/ObcmTmCorpEnrchProdEnrchMstrDTO"
   paging:
    $ref: "#/definitions/PagingDto"
 ObcmTmCorpEnrchProdEnrchDetailsCollection: 
  description: "Collection of corpenrchprodenrchmstr."
  type: "object"
  properties:
   data:
    type: "array"
    items: 
     $ref: '#/definitions/ObcmTmCorpEnrchProdEnrchDtlsDTO'
 PagingDto:
  type: object
  properties:
   totalResults:
    type: integer
 ResponseDtoWrapper:
  type: object
  properties:
   messages:
    $ref: "#/definitions/ResponseDto"
   data:
    $ref: "#/definitions/ResponseResourceSupport"
 ResponseResourceSupport:
  type: object
 ObcmTmCorpEnrchProdEnrchMstrWrapperDTO:
  type: object
  properties:
   data:
    $ref: "#/definitions/ObcmTmCorpEnrchProdEnrchMstrDTO"
