#-----------------------------------------------------------------------------------------------------
#  **
#  ** File Name  : common.yaml
#  **
#  ** Module     : obcm
#  ** 
#  ** This source is part of the Oracle FLEXCUBE  and is copyrighted by Oracle Financial Services Software Limited.  ** 
#  ** 
#  ** All rights reserved. No part of this work may be reproduced, stored in a retrieval system,
#  ** adopted or transmitted in any form or by any means, electronic, mechanical, photographic,
#  ** graphic, optic recording or otherwise, translated in any language or computer language,
#  ** without the prior written permission of Oracle Financial Services Software Limited.
#  ** 
#  ** Oracle Financial Services Software Limited.
#  ** 10-11, SDF I, SEEPZ, Andheri (East),
#  ** Mumbai - 400 096.
#  ** India
#  ** Copyright 2017-2018 Oracle Financial Services Software Limited. All rights reserved.
#  -------------------------------------------------------------------------------------------------------
#
#  CHANGE HISTORY
#
#  Created By         :  System
#
#  Bug Number         :  
#  Changed By         :  
#  Change Description :  
#  Change On          :  
#  Search String      :
#  
#  -------------------------------------------------------------------------------------------------------

swagger: "2.0"
info:
 description: "This service is Inquiry API for the list of Courier Maintained"
 version: "1.0.0"
 title: "Courier Setup Service APIs"
host: "api-plato.us.oracle.com:8080"
basePath: "/api/1.0"
consumes:
 - "application/json"
produces:
 - "application/json"
tags:
 - name: "courierSetupService"
   description: "This service is Inquiry API for the list of Courier Maintained"



paths:

 /service/v1/courier-setup:
  get:
   tags:
    - "courierSetupService"
   summary: "Get all valid courier-setup."
   description:  "Get all valid courier-setup. This endpoints will be used to Get all valid courier-setup maintenance records."
   operationId: "getAll"
   parameters:
   - name: includecloseandunauth
     in: query
     description: includecloseandunauth need to be set to fetch summary record, defult value is false
     required: false
     type: boolean
   - name: offset
     in: query
     description: offset is starting no of records to be fetched
     required: false
     type: integer
   - name: limit
     in: query
     description: limit is maximum no of records to be fetched
     required: false
     type: integer
   - name: courierCode
     in: query
     description: courierCode need to be set to fetch summary record
     required: false
     type: string
   - name: courierDesc
     in: query
     description: courierDesc need to be set to fetch summary record
     required: false
     type: string
   - name: authStatus
     in: query
     description: authStatus need to be set to fetch summary record
     required: false
     type: string
   - name: recordStatus
     in: query
     description: recordStatus need to be set to fetch summary record
     required: false
     type: string
   responses:
    201:
     description: "Returns message of succes or failure"
     headers: 
      Location:
       description: "Location"
       type: "string"
     schema:
       $ref: "#/definitions/ObcmTmCourierSetupMasterCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
definitions:
 ObcmTmCourierSetupMasterCollection: 
  description: "Collection of couriersetup."
  type: "object"
  properties:
   data:
    type: "array"
    description: "Collection of ObcmTmCourierSetupMasterDTO"
    items: 
     $ref: "#/definitions/ObcmTmCourierSetupMasterDTO"
   paging:
    $ref: "#/definitions/PagingDto"
 PagingDto:
  type: object
  description: "Paging Dto"
  properties:
   totalResults:
    type: integer
    description: "Total Results"
 ObcmTmCourierSetupMasterDTO:
  type: object
  description: "Courier Setup Master"
  allOf:
  - $ref: '#/definitions/GenericDto'
  - type: object
    properties:
     addrLn1:
      type: string
      description: "Address Line 1"
     addrLn2:
      type: string
      description: "Address Line 2"
     addrLn3:
      type: string
      description: "Address Line 3"
     addrLn4:
      type: string
      description: "Address Line 4"
     contactPerson:
      type: string
      description: "Contact Person"
     contractEndDt:
      type: string
      description: "Contract End Date"
     contractStrtDt:
      type: string
      description: "Contract Start Date"
     countryCode:
      type: string
      description: "Country Code"
     countryName:
      type: string
      description: "Country Name"
     courierCode:
      type: string
      description: "Courier Code"
     courierDesc:
      type: string
      description: "Courier Description"
     designation:
      type: string
      description: "Designation"
     email:
      type: string
      description: "Email"
     fax:
      type: string
      description: "Fax"
     landLnNo:
      type: string
      description: "Land Line No"
     mobile:
      type: string
      description: "Mobile"
     zipCode:
      type: string
      description: "Zip Code"
     txnControllerRefNo:
      type: string
      description: "Transaction Controller Reference Number"
 GenericDto:
   allOf:
    - type: object
      discriminator: resource_type