swagger: '2.0'
info:
  description: This is a sample server obcmtmdecisioningmaster server.
  version: 1.0.0
  title: obcmtmdecisioningmaster Service
host: 'api-plato.us.oracle.com:8080'
basePath: /api/1.0
consumes:
  - application/json
produces:
  - application/json
tags:
  - name: obcmtmdecisioningmaster
    description: >-
      this service is to manage crud operations in master datasegment 
      ..........................................................................................................................................
schemes:
  - https
paths:
  /obcmtmdecisioningmaster:
    post:
      tags:
        - obcmtmdecisioningmaster
      summary: Adds a new obcmtmdecisioningmaster.
      description: >-
        Adds a new obcmtmdecisioningmaster. Add additional information here for
        this endpoint.
      operationId: saveRecord
      parameters:
        - name: obcmtmdecisioningmaster
          in: body
          description: >-
            Request Body that contains data required for creating a new
            obcmtmdecisioningmaster
          required: true
          schema:
            $ref: '#/definitions/ObcmTmDecisioningMasterDTO'
      responses:
        '201':
          description: 'Returns message of succes or failure '
          headers:
            Location:
              description: URL of newly created obcmtmdecisioningmaster
              type: string
          schema:
            $ref: '#/definitions/ResponseDtoWrapper'
        '400':
          description: Malformed syntax.
        '401':
          description: Request does not have sufficient credentials.
        '403':
          description: Request is not authorized.
        '405':
          description: Invalid input
        '500':
          description: Internal error
    get:
      tags:
        - obcmtmdecisioningmaster
      summary: Get all valid obcmtmdecisioningmaster.
      description: >-
        Get all valid obcmtmdecisioningmaster. This endpoints will be used to
        Get all valid obcmtmdecisioningmaster maintenance records.
      operationId: getAll
      parameters:
        - name: includecloseandunauth
          in: query
          description: >-
            includecloseandunauth need to be set to fetch summary record, defult
            value is false
          required: false
          type: boolean
        - name: offset
          in: query
          description: offset is starting no of records to be fetched
          required: false
          type: integer
        - name: limit
          in: query
          description: limit is maximum no of records to be fetched
          required: false
          type: integer
      responses:
        '201':
          description: Returns message of success or failure
          headers:
            Location:
              description: ''
              type: string
          schema:
            $ref: '#/definitions/ObcmTmDecisioningMasterCollection'
        '400':
          description: Malformed syntax.
        '401':
          description: Request does not have sufficient credentials.
        '403':
          description: Request is not authorized.
        '405':
          description: Invalid input
        '500':
          description: Internal error
  '/obcmtmdecisioningmaster/{id}':
    put:
      tags:
        - obcmtmdecisioningmaster
      summary: Update an existing obcmtmdecisioningmaster.
      description: Update an existing obcmtmdecisioningmaster.
      operationId: modifyRecord
      parameters:
        - name: id
          in: path
          description: key of the obcmtmdecisioningmaster Maintenance
          required: true
          type: string
        - name: obcmtmdecisioningmaster
          in: body
          description: >-
            Request Body that contains data required for updating an existing
            obcmtmdecisioningmaster
          required: true
          schema:
            $ref: '#/definitions/ObcmTmDecisioningMasterDTO'
      responses:
        '200':
          description: Returns updated obcmtmdecisioningmaster
          schema:
            $ref: '#/definitions/ResponseDtoWrapper'
        '400':
          description: Malformed syntax.
        '401':
          description: Request does not have sufficient credentials.
        '403':
          description: Request is not authorized.
        '405':
          description: Invalid input
        '500':
          description: Internal error
    get:
      tags:
        - obcmtmdecisioningmaster
      summary: Retrieves the obcmtmdecisioningmaster by ID.
      description: Retrieves the obcmtmdecisioningmaster by ID.
      operationId: getById
      parameters:
        - name: id
          in: path
          description: Id of the user that needs to be fetched
          required: true
          type: string
        - name: version
          in: query
          description: Id of the user that needs to be fetched
          required: true
          type: string
      responses:
        '200':
          description: Returns the obcmtmdecisioningmaster based on given id.
          schema:
            $ref: '#/definitions/ObcmTmDecisioningMasterWrapperModel'
        '400':
          description: Malformed syntax.
        '401':
          description: Request does not have sufficient credentials.
        '403':
          description: Request is not authorized.
        '500':
          description: Internal error
    delete:
      tags:
        - obcmtmdecisioningmaster
      summary: Deletes the obcmtmdecisioningmaster identified by given ID.
      description: >-
        Deletes the obcmtmdecisioningmaster identified by given ID. Add
        additional information here for the this endpoint.
      operationId: delete
      parameters:
        - name: id
          in: path
          description: Key of the obcmtmdecisioningmaster maintenance
          required: true
          type: string
        - name: obcmtmdecisioningmaster
          in: body
          description: >-
            Request body contain obcmtmdecisioningmaster and Modification no of
            obcmtmdecisioningmaster maintenance which need to be deleted"
          required: true
          schema:
            $ref: '#/definitions/ModListKeyDto'
      responses:
        '200':
          description: Successful operation.
          schema:
            $ref: '#/definitions/ResponseDtoWrapper'
        '400':
          description: Malformed syntax.
        '401':
          description: Request does not have sufficient credentials.
        '403':
          description: Request is not authorized.
        '500':
          description: Internal error
  '/obcmtmdecisioningmaster/{id}/approve':
    patch:
      tags:
        - obcmtmdecisioningmaster
      summary: Authorize the obcmtmdecisioningmaster by given ID.
      description: Authorize the obcmtmdecisioningmaster identified by given ID.
      operationId: authorize
      parameters:
        - name: id
          in: path
          description: Key of the obcmtmdecisioningmaster maintenance
          required: true
          type: string
        - name: obcmtmdecisioningmaster
          in: body
          description: >-
            Request body contain obcmtmdecisioningmaster and Modification no of
            obcmtmdecisioningmaster maintenance which need to be deleted"
          required: true
          schema:
            $ref: '#/definitions/ModListKeyDto'
      responses:
        '200':
          description: Successful operation.
          schema:
            $ref: '#/definitions/ResponseDtoWrapper'
        '400':
          description: Malformed syntax.
        '401':
          description: Request does not have sufficient credentials.
        '403':
          description: Request is not authorized.
        '500':
          description: Internal error
  '/obcmtmdecisioningmaster/{id}/close':
    patch:
      tags:
        - obcmtmdecisioningmaster
      summary: Close the obcmtmdecisioningmaster by given ID.
      description: Close the obcmtmdecisioningmaster identified by given ID.
      operationId: closeRecord
      parameters:
        - name: id
          in: path
          description: Key of the obcmtmdecisioningmaster maintenance
          required: true
          type: string
        - name: obcmtmdecisioningmaster
          in: body
          description: >-
            Request body contain obcmtmdecisioningmaster and Modification no of
            obcmtmdecisioningmaster maintenance which need to be closed"
          required: true
          schema:
            $ref: '#/definitions/KeyDto'
      responses:
        '200':
          description: Successful operation.
          schema:
            $ref: '#/definitions/ResponseDtoWrapper'
        '400':
          description: Malformed syntax.
        '401':
          description: Request does not have sufficient credentials.
        '403':
          description: Request is not authorized.
        '500':
          description: Internal error
  '/obcmtmdecisioningmaster/{id}/reopen':
    patch:
      tags:
        - obcmtmdecisioningmaster
      summary: reopen the obcmtmdecisioningmaster by given ID.
      description: reopen the obcmtmdecisioningmaster identified by given ID.
      operationId: reopenRecord
      parameters:
        - name: id
          in: path
          description: Key of the obcmtmdecisioningmaster maintenance
          required: true
          type: string
        - name: obcmtmdecisioningmaster
          in: body
          description: >-
            Request body contain obcmtmdecisioningmaster and Modification no of
            obcmtmdecisioningmaster maintenance which need to be reopen"
          required: true
          schema:
            $ref: '#/definitions/KeyDto'
      responses:
        '200':
          description: Successful operation.
          schema:
            $ref: '#/definitions/ResponseDtoWrapper'
        '400':
          description: Malformed syntax.
        '401':
          description: Request does not have sufficient credentials.
        '403':
          description: Request is not authorized.
        '500':
          description: Internal error
  '/obcmtmdecisioningmaster/{id}/unauthorized':
    get:
      tags:
        - obcmtmdecisioningmaster
      summary: Retrives the obcmtmdecisioningmaster by given ID.
      description: Retrives the obcmtmdecisioningmaster identified by given ID.
      operationId: authQuery
      parameters:
        - name: id
          in: path
          description: Id of the user that needs to be fetched
          required: true
          type: string
      responses:
        '200':
          description: Returns the obcmtmdecisioningmaster based on given id.
          schema:
            $ref: '#/definitions/ObcmTmDecisioningMasterCollection'
        '400':
          description: Malformed syntax.
        '401':
          description: Request does not have sufficient credentials.
        '403':
          description: Request is not authorized.
        '500':
          description: Internal error
  '/obcmtmdecisioningmaster/{id}/history':
    get:
      tags:
        - obcmtmdecisioningmaster
      summary: Retrives the obcmtmdecisioningmaster by given ID.
      description: Retrives the obcmtmdecisioningmaster by ID.
      operationId: getHistory
      parameters:
        - name: id
          in: path
          description: Id of the user that needs to be fetched
          required: true
          type: string
      responses:
        '200':
          description: Returns the obcmtmdecisioningmaster based on given id.
          schema:
            $ref: '#/definitions/ObcmTmDecisioningMasterCollection'
        '400':
          description: Malformed syntax.
        '401':
          description: Request does not have sufficient credentials.
        '403':
          description: Request is not authorized.
        '500':
          description: Internal error
  '/obcmtmdecisioningmaster/{id}/isValid':
    get:
      tags:
        - obcmtmdecisioningmaster
      summary: Validate the ObcmTmDecisioningMaster by ResourceId
      description: Validate the ObcmTmDecisioningMaster by ResourceId
      operationId: validateObcmTmDecisioningMaster
      parameters:
        - name: resourceId
          in: path
          description: resourceId of the user that needs to be validated
          required: true
          type: string
      responses:
        '200':
          description: Returns the boolean based on validation of given resource id.
          schema:
            $ref: '#/definitions/boolean'
        '400':
          description: Malformed syntax.
        '401':
          description: Request does not have sufficient credentials.
        '403':
          description: Request is not authorized.
        '500':
          description: Internal error
definitions:
  ObcmTmDecisioningMasterDTO:
    type: object
    allOf:
      - $ref: '#/definitions/GenericDto'
      - type: object
        properties:
          id:
            type: string
            description: ''
          action:
            type: string
            description: ''
          autoAuth:
            type: string
            description: ''
          modificationStatus:
            type: string
            description: ''
          datasegmentCode:
            type: string
            description: ''
          checkerRemarks:
            type: string
            description: ''
          makerRemarks:
            type: string
            description: ''
          agreementRefNumber:
            type: string
            description: ''
          amountBasedArrangement:
            type: string
            description: ''
          arrangementParty:
            type: string
            description: ''
          arrangementPartyName:
            type: string
            description: ''
          centralizedForwardSchedule:
            type: string
            description: ''
          corporate:
            type: string
            description: ''
          corporateId:
            type: string
            description: ''
          correspondentBank:
            type: string
            description: ''
          correspondentBankId:
            type: string
            description: ''
          draweebankId:
            type: string
            description: ''
          draweeBank:
            type: string
            description: ''
          effectiveDate:
            type: string
            description: ''
          expiryDate:
            type: string
            description: ''
          filterCriteria:
            type: string
            description: ''
          inclusionOfHolidays:
            type: string
            description: ''
          locationId:
            type: string
            description: ''
          locationName:
            type: string
            description: ''
          product:
            type: string
            description: ''
          productId:
            type: string
            description: ''
          ObcmTmDecisioningDetailsDTO:
            type: array
            items:
              $ref: '#/definitions/ObcmTmDecisioningDetailsDTO'
  ObcmTmDecisioningDetailsDTO:
    type: object
    properties:
      id:
        type: string
        description: ''
      arrangementCode:
        type: string
        description: ''
      currency:
        type: string
        description: ''
      arrangementDays:
        type: number
        description: ''
      arrangementRefBasis:
        type: string
        description: ''
      certificateExtensionDays:
        type: number
        description: ''
      corporateReleaseDays:
        type: number
        description: ''
      decisioningMasterId:
        type: string
        description: ''
      fromAmount:
        type: number
        description: ''
      toAmount:
        type: number
        description: ''
      linkArrangement:
        type: string
        description: ''
      lostExtensionDays:
        type: number
        description: ''
      returnExtensionDays:
        type: number
        description: Return Extension Days.
      creditReversalDays:
        type: number
        description: Credit Reversal Days.
      creditReversalFrom:
        type: string
        description: Credit Reversal From.
      partialCreditReversal:
        type: string
        description: Partial Credit Reversal.
      bankFloatArrangement:
        type: string
        description: Bank Float Arrangement.
      returnRecoveryFrom:
        type: string
        description: Return Recovery From.
      partialReturnRecovery:
        type: string
        description: Partial Return Recovery.
      forcedDebitForRecovery:
        type: string
        description: Forced Debit For Recovery.
  ModListKeyDto:
    type: object
    properties:
      modNos:
        type: array
        items:
          type: integer
      remarks:
        type: string
  KeyDto:
    type: object
    properties:
      modNo:
        type: integer
      remarks:
        type: string
  ResponseDto:
    type: object
    properties:
      id:
        type: string
      status:
        type: string
      codes:
        type: array
        items:
          $ref: '#/definitions/ResponseCode'
      requestId:
        type: string
  ResponseCode:
    type: object
    properties:
      Code:
        type: string
      Desc:
        type: string
      Type:
        type: string
      Language:
        type: string
      args:
        type: array
        items:
          type: object
      arg:
        type: string
  GenericDto:
    allOf:
      - type: object
        discriminator: resource_type
  ObcmTmDecisioningMasterCollection:
    description: Collection of obcmtmdecisioningmaster.
    type: object
    properties:
      data:
        type: array
        items:
          $ref: '#/definitions/ObcmTmDecisioningMasterDTO'
      paging:
        $ref: '#/definitions/PagingDto'
  PagingDto:
    type: object
    properties:
      totalResults:
        type: integer
  ResponseDtoWrapper:
    type: object
    properties:
      messages:
        $ref: '#/definitions/ResponseDto'
      data:
        $ref: '#/definitions/ResponseResourceSupport'
  ResponseResourceSupport:
    type: object
  ObcmTmDecisioningMasterWrapperModel:
    type: object
    properties:
      data:
        $ref: '#/definitions/ObcmTmDecisioningMasterDTO'
  DecisioningDaysDTO:
    description: Decisioning Days Request model
    type: object
    properties:
      corporateId:
        type: string
        description: Corporate Id for which Arrangement days are required
      correspondentBankId:
        type: string
        description: Correspondent Bank Id for which Arrangement days are required
      draweebankId:
        type: string
        description: Drawee Bank Id for which Arrangement days are required
      locationId:
        type: string
        description: Location Id for which Arrangement days are required
      arrangementParty:
        type: string
        description: Arrangement Party for which Arrangement days are required
      amount:
        type: number
        description: Amount
      ccy:
        type: string
        description: Currency
      productCode:
        type: string
        description: Product Code
  DecisioningDaysResponseDTO:
    description: Decisioning Days Response model
    type: object
    properties:
      arrangementDays:
        description: Required Arrangement Days
        type: number
      certificateExtensionDays:
        description: Required certificateExtensionDays
        type: number
      corporateReleaseDays:
        description: Required corporateReleaseDays
        type: number
      lostExtensionDays:
        description: Required lostExtensionDays
        type: number
      returnExtensionDays:
        description: Required returnExtensionDays
        type: number
      arrangementCode:
        description: Required arrangementCode
        type: string
      arrangementDesc:
        description: Required arrangementDesc
        type: string
      arrangementRefBasis:
        description: Required arrangementRefBasis
        type: string
      cdtReversalDays:
        description: Credit Reversal Days
        type: number
      cdtReversalFrom:
        description: Credit Rerversal From
        type: string
      partialCdtReversal:
        description: Partial Credit Reversal
        type: string
      bankFltAgmt:
        description: Bank Float Arrangement Flag
        type: string
      rtnRecoveryFrom:
        description: Return Recovery From
        type: string
      partialRtnRecovery:
        description: Partial Return Recovery
        type: string
      fcdDbtFrRecovery:
        description: Forced Debit For Recovery
        type: string
      centralizedSchedule:
        description: Centralized Forward Schedule
        type: string
      inclusionOfHolidays:
        description: Inclusion Of Holidays
        type: string
      agreementRefNo:
        description: agreementRefNo
        type: string
  FilterOutput:
    description: Represents the best possible combination for the given category
    type: object
    properties:
      attributeList:
        type: array
        description: List of attributes.
        items:
          $ref: '#/definitions/Attribute'
  Attribute:
    description: >-
      Represents each attribute of the records filtered in calling service using
      filter query
    type: object
    properties:
      attributeName:
        description: Name of the attribute representing DB column name
        type: string
      attributeValue:
        description: Value of the corresponding column in DB
        type: string
  FilterRecords:
    description: Represents the records filtered in calling service using filter query
    type: object
    properties:
      attributeList:
        type: array
        description: List of attributes.
        items:
          $ref: '#/definitions/Attribute'
  FilterInput:
    description: >-
      Represents the input request of the final filter service call from
      transaction services
    type: object
    properties:
      category:
        description: Represents the category of the filter
        type: string
      applicationCode:
        description: Represents the applicationcode
        type: string
      filterRecords:
        type: array
        description: List of Filter records
        items:
          $ref: '#/definitions/FilterRecords'
  ScfTransOutputResponse:
    description: Output response from transaction API
    type: object
    properties:
      queryList:
        type: array
        description: List of queries
        items:
          $ref: '#/definitions/FilterQueryModel'
  FilterQueryModel:
    description: Query and attribute list model
    type: object
    properties:
      query:
        description: Filter Query
        type: string
      ScfTransCriteriaQueryAttributeModel:
        type: array
        description: SCF Transfer Criteria Query Attribute Model Object
        items:
          $ref: '#/definitions/TransCriteriaQueryAttributeModel'
  TransCriteriaQueryAttributeModel:
    description: Query for each type of given category
    type: object
    properties:
      paramIndex:
        description: input parameter index in the query
        type: integer
      paramName:
        description: input parameter name in the query
        type: string
      columnName:
        description: corresponding column of the input parameter index in the query
        type: string
      mappedParam:
        description: corresponding mapped param index in the query
        type: string
