#-----------------------------------------------------------------------------------------------------
#  **
#  ** File Name  : common.yaml
#  **
#  ** Module     : obtmalertpartymaster
#  ** 
#  ** This source is part of the Oracle FLEXCUBE  and is copyrighted by Oracle Financial Services Software Limited.  ** 
#  ** 
#  ** All rights reserved. No part of this work may be reproduced, stored in a retrieval system,
#  ** adopted or transmitted in any form or by any means, electronic, mechanical, photographic,
#  ** graphic, optic recording or otherwise, translated in any language or computer language,
#  ** without the prior written permission of Oracle Financial Services Software Limited.
#  ** 
#  ** Oracle Financial Services Software Limited.
#  ** 10-11, SDF I, SEEPZ, Andheri (East),
#  ** Mumbai - 400 096.
#  ** India
#  ** Copyright 2017-2018 Oracle Financial Services Software Limited. All rights reserved.
#  -------------------------------------------------------------------------------------------------------
#
#  CHANGE HISTORY
#
#  Created By         :  System
#
#  Bug Number         :  
#  Changed By         :  
#  Change Description :  
#  Change On          :  
#  Search String      :  
#  
#  -------------------------------------------------------------------------------------------------------
  

swagger: "2.0"
info:
 description: "This is a sample server obtmalertpartymaster server." 
 version: "1.0.0"
 title: "obtmalertpartymaster Service"
host: "api-plato.us.oracle.com:8080"
basePath: "/api/1.0"
consumes:
 - "application/json"
produces:
 - "application/json"
tags:
 - name: "obtmalertpartymaster"
   description: "this service is to manage crud operations in master datasegment  .........................................................................................................................................."

schemes:
- "https"

paths:

# path to create a new record and fetch all valid records or by intent
#
#  supprorted http methods POST and GET
#
# path example ../obtmalertpartymaster

 /obtmalertpartymaster:
  post:
   tags:
    - "obtmalertpartymaster"
   summary: "Adds a new obtmalertpartymaster."
   description: "Adds a new obtmalertpartymaster. Add additional information here for this endpoint."
   operationId: "saveRecord"
   parameters:
    - name: "obtmalertpartymaster" 
      in: "body" 
      description: "Request Body that contains data required for creating a new obtmalertpartymaster" 
      required: true
      schema:
       $ref: "#/definitions/ObTmAlertPartyMasterDTO"
   responses:
    201: 
     description: "Returns message of succes or failure " 
     headers:
      Location:
       description: "URL of newly created obtmalertpartymaster" 
       type: "string"
     schema:
       $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "obtmalertpartymaster"
   summary: "Get all valid obtmalertpartymaster."
   description:  "Get all valid obtmalertpartymaster. This endpoints will be used to Get all valid obtmalertpartymaster maintenance records."
   operationId: "getAll"
   parameters:
   - name: includecloseandunauth
     in: query
     description: includecloseandunauth need to be set to fetch summary record, defult value is false
     required: false
     type: boolean
   - name: offset
     in: query
     description: offset is starting no of records to be fetched
     required: false
     type: integer
   - name: limit
     in: query
     description: limit is maximum no of records to be fetched
     required: false
     type: integer
   responses:
    201:
     description: "Returns message of success or failure"
     headers: 
      Location:
       description: ""
       type: "string"
     schema:
       $ref: "#/definitions/ObTmAlertPartyMasterCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"

# path to modify existing record, delete existing record and fetch valid records by id or by intent( includes latestRecord, version no)
#
#  supprorted http methods PUT, DELETE and GET
#
# path examples----
#   PUT       .../obtmalertpartymaster/xxx
#   DELETE    .../obtmalertpartymaster/xxx
#   GET       .../obtmalertpartymaster/xxx
#   GET       .../obtmalertpartymaster/xxx?version=latestrecord
#   GET       .../obtmalertpartymaster/xxx?version=1

 /obtmalertpartymaster/{id}:
  put:
   tags:
    - "obtmalertpartymaster"
   summary: "Update an existing obtmalertpartymaster."
   description:  "Update an existing obtmalertpartymaster."
   operationId: "modifyRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "key of the obtmalertpartymaster Maintenance"
      required: true
      type: "string"
    - name: "obtmalertpartymaster"
      in: "body"
      description: "Request Body that contains data required for updating an existing obtmalertpartymaster"
      required: true
      schema:
       $ref: "#/definitions/ObTmAlertPartyMasterDTO"
   responses:
    200:
     description: "Returns updated obtmalertpartymaster"
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "obtmalertpartymaster"
   summary: "Retrieves the obtmalertpartymaster by ID."
   description:  "Retrieves the obtmalertpartymaster by ID."
   operationId: "getById"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
    - name: "version"
      in: "query"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the obtmalertpartymaster based on given id."
     schema:
      $ref: "#/definitions/ObTmAlertPartyMasterWrapperModel"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
  delete:
   tags:
    - "obtmalertpartymaster"
   summary: "Deletes the obtmalertpartymaster identified by given ID."
   description:  "Deletes the obtmalertpartymaster identified by given ID. Add additional information here for the this endpoint."
   operationId: "delete"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the obtmalertpartymaster maintenance"
      required: true
      type: "string"
    - name: "obtmalertpartymaster"
      in: "body"
      description: Request body contain obtmalertpartymaster and Modification no of obtmalertpartymaster maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to Authorize existing record.
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../obtmalertpartymaster/xxx/approve

 /obtmalertpartymaster/{id}/approve:
  patch:
   tags:
    - "obtmalertpartymaster"
   summary: "Authorize the obtmalertpartymaster by given ID."
   description:  "Authorize the obtmalertpartymaster identified by given ID."
   operationId: "authorize"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the obtmalertpartymaster maintenance"
      required: true
      type: "string"
    - name: "obtmalertpartymaster"
      in: "body"
      description: Request body contain obtmalertpartymaster and Modification no of obtmalertpartymaster maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to close existing record
#
#  supported http methods PATCH
#
# path examples----
#   PATCH       .../obtmalertpartymaster/xxx/close
 /obtmalertpartymaster/{id}/close:
  patch:
   tags:
    - "obtmalertpartymaster"
   summary: "Close the obtmalertpartymaster by given ID."
   description:  "Close the obtmalertpartymaster identified by given ID."
   operationId: "closeRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the obtmalertpartymaster maintenance"
      required: true
      type: "string"
    - name: "obtmalertpartymaster"
      in: "body"
      description: Request body contain obtmalertpartymaster and Modification no of obtmalertpartymaster maintenance which need to be closed"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to reopen existing record
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../obtmalertpartymaster/xxx/reopen

 /obtmalertpartymaster/{id}/reopen:
  patch:
   tags:
    - "obtmalertpartymaster"
   summary: "reopen the obtmalertpartymaster by given ID."
   description:  "reopen the obtmalertpartymaster identified by given ID."
   operationId: "reopenRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the obtmalertpartymaster maintenance"
      required: true
      type: "string"
    - name: "obtmalertpartymaster"
      in: "body"
      description: Request body contain obtmalertpartymaster and Modification no of obtmalertpartymaster maintenance which need to be reopen"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to get all unauthorized records
#
#  supprorted http methods GET
#
# path examples----
#   GET       .../obtmalertpartymaster/xxx/unauthorized

 /obtmalertpartymaster/{id}/unauthorized:
  get:
   tags:
    - "obtmalertpartymaster"
   summary: "Retrives the obtmalertpartymaster by given ID."
   description:  "Retrives the obtmalertpartymaster identified by given ID."
   operationId: "authQuery"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the obtmalertpartymaster based on given id."
     schema:
       $ref: "#/definitions/ObTmAlertPartyMasterCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to  history record for remitterid
#
#  supprorted http methods GETS
#
# path examples----
#   GET       .../obtmalertpartymaster/xxx/history

 /obtmalertpartymaster/{id}/history:
  get:
   tags:
    - "obtmalertpartymaster"
   summary: "Retrives the obtmalertpartymaster by given ID."
   description:  "Retrives the obtmalertpartymaster by ID."
   operationId: "getHistory"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the obtmalertpartymaster based on given id."
     schema:
       $ref: "#/definitions/ObTmAlertPartyMasterCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
 /obtmalertpartymaster/{id}/isValid:
  get:
   tags:
    - "obtmalertpartymaster"
   summary: "Validate the ObTmAlertPartyMaster by ResourceId"
   description:  "Validate the ObTmAlertPartyMaster by ResourceId"
   operationId: "validateObTmAlertPartyMaster"
   parameters:
    - name: "resourceId"
      in: "path"
      description: "resourceId of the user that needs to be validated"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the boolean based on validation of given resource id."
     schema:
       $ref: "#/definitions/boolean"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
definitions:
 ObTmAlertPartyMasterDTO:
  type: object
  allOf:
  - $ref: '#/definitions/GenericDto'
  - type: object
    properties:
     id:
      type: string
      description: "Id"
     action:
      type: string
      description: "Action"
     autoAuth:
      type: string
      description: "Auto Auth"
     modificationStatus:
      type: string
      description: "Modification Status"
     datasegmentCode:
      type: string
      description: 'Datasegment Code'
     checkerRemarks:
      type: string
      description: 'Checker Remarks'
     makerRemarks:
      type: string
      description: 'Maker Remarks'
     partyId:
      type: string
      description: "Party Id"
     partyName:
      type: string
      description: "Party Name"
     applicationCode:
      type: string
      description: "Application Code"
     ObTmAlertPartyContactDetailsModel:
      type: array
      items:
       $ref: '#/definitions/ObTmAlertPartyContactDetailsModel'
 ObTmAlertPartyContactDetailsModel:
  type: object
  properties:
     id:
      type: string
      description: "Id"
     alertCode:
      type: string
      description: "Alert Code"
     alertPartyMasterId:
      type: string
      description: "Alert Party Master Id"
     alertDesc:
      type: string
      description: "Alert Desc"
     email:
      type: string
      description: "Email"
     mobile:
      type: string
      description: "Mobile"
 ModListKeyDto:
  type: object
  properties:
   modNos:
    type: array
    items:
     type: integer
   remarks:
    type: string
 KeyDto:
  type: object
  properties:
   modNo:
    type: integer
   remarks:
    type: string
 ResponseDto:
  type: object
  properties:
   id:
    type: string
   status:
    type: string
   codes:
    type: array
    items:
     $ref: "#/definitions/ResponseCode"
   requestId:
    type: string
 ResponseCode:
  type: object
  properties:
   Code:
    type: string
   Desc:
    type: string
   Type:
    type: string
   Language:
    type: string
   args:
    type: array
    items:
     type: object
   arg:
    type: string
 GenericDto:
  allOf:
   - type: object
     discriminator: resource_type
 ObTmAlertPartyMasterCollection: 
  description: "Collection of obtmalertpartymaster."
  type: "object"
  properties:
   data:
    type: "array"
    items: 
     $ref: "#/definitions/ObTmAlertPartyMasterDTO"
   paging:
    $ref: "#/definitions/PagingDto"
 PagingDto:
  type: object
  properties:
   totalResults:
    type: integer
 ResponseDtoWrapper:
  type: object
  properties:
   messages:
    $ref: "#/definitions/ResponseDto"
   data:
    $ref: "#/definitions/ResponseResourceSupport"
 ResponseResourceSupport:
  type: object
 ObTmAlertPartyMasterWrapperModel:
  type: object
  properties:
   data:
    $ref: "#/definitions/ObTmAlertPartyMasterDTO"
