#-----------------------------------------------------------------------------------------------------
#  **
#  ** File Name  : common.yaml
#  **
#  ** Module     : scfcmtmaccentrymaster
#  ** 
#  ** This source is part of the Oracle FLEXCUBE  and is copyrighted by Oracle Financial Services Software Limited.  ** 
#  ** 
#  ** All rights reserved. No part of this work may be reproduced, stored in a retrieval system,
#  ** adopted or transmitted in any form or by any means, electronic, mechanical, photographic,
#  ** graphic, optic recording or otherwise, translated in any language or computer language,
#  ** without the prior written permission of Oracle Financial Services Software Limited.
#  ** 
#  ** Oracle Financial Services Software Limited.
#  ** 10-11, SDF I, SEEPZ, Andheri (East),
#  ** Mumbai - 400 096.
#  ** India
#  ** Copyright 2017-2018 Oracle Financial Services Software Limited. All rights reserved.
#  -------------------------------------------------------------------------------------------------------
#
#  CHANGE HISTORY
#
#  Created By         :  System
#
#  Bug Number         :  
#  Changed By         :  
#  Change Description :  
#  Change On          :  
#  Search String      :  
#  
#  -------------------------------------------------------------------------------------------------------
  

swagger: "2.0"
info:
 description: "This is a sample server scfcmtmaccentrymaster server." 
 version: "1.0.0"
 title: "scfcmtmaccentrymaster Service"
host: "api-plato.us.oracle.com:8080"
basePath: "/api/1.0"
consumes:
 - "application/json"
produces:
 - "application/json"
tags:
 - name: "scfcmtmaccentrymaster"
   description: "this service is to manage crud operations in master datasegment  .........................................................................................................................................."

schemes:
- "https"

paths:

# path to create a new record and fetch all valid records or by intent
#
#  supprorted http methods POST and GET
#
# path example ../scfcmtmaccentrymaster

 /scfcmtmaccentrymaster:
  post:
   tags:
    - "scfcmtmaccentrymaster"
   summary: "Adds a new scfcmtmaccentrymaster."
   description: "Adds a new scfcmtmaccentrymaster. Add additional information here for this endpoint."
   operationId: "saveRecord"
   parameters:
    - name: "scfcmtmaccentrymaster" 
      in: "body" 
      description: "Request Body that contains data required for creating a new scfcmtmaccentrymaster" 
      required: true
      schema:
       $ref: "#/definitions/ScfTmAccEntryMasterDTO"
   responses:
    201: 
     description: "Returns message of succes or failure " 
     headers:
      Location:
       description: "URL of newly created scfcmtmaccentrymaster" 
       type: "string"
     schema:
       $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "scfcmtmaccentrymaster"
   summary: "Get all valid scfcmtmaccentrymaster."
   description:  "Get all valid scfcmtmaccentrymaster. This endpoints will be used to Get all valid scfcmtmaccentrymaster maintenance records."
   operationId: "getAll"
   parameters:
   - name: includecloseandunauth
     in: query
     description: includecloseandunauth need to be set to fetch summary record, defult value is false
     required: false
     type: boolean
   - name: offset
     in: query
     description: offset is starting no of records to be fetched
     required: false
     type: integer
   - name: limit
     in: query
     description: limit is maximum no of records to be fetched
     required: false
     type: integer
   responses:
    201:
     description: "Returns message of success or failure"
     headers: 
      Location:
       description: ""
       type: "string"
     schema:
       $ref: "#/definitions/ScfcmTmAccEntryMasterCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"

# path to modify existing record, delete existing record and fetch valid records by id or by intent( includes latestRecord, version no)
#
#  supprorted http methods PUT, DELETE and GET
#
# path examples----
#   PUT       .../scfcmtmaccentrymaster/xxx
#   DELETE    .../scfcmtmaccentrymaster/xxx
#   GET       .../scfcmtmaccentrymaster/xxx
#   GET       .../scfcmtmaccentrymaster/xxx?version=latestrecord
#   GET       .../scfcmtmaccentrymaster/xxx?version=1

 /scfcmtmaccentrymaster/{id}:
  put:
   tags:
    - "scfcmtmaccentrymaster"
   summary: "Update an existing scfcmtmaccentrymaster."
   description:  "Update an existing scfcmtmaccentrymaster."
   operationId: "modifyRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "key of the scfcmtmaccentrymaster Maintenance"
      required: true
      type: "string"
    - name: "scfcmtmaccentrymaster"
      in: "body"
      description: "Request Body that contains data required for updating an existing scfcmtmaccentrymaster"
      required: true
      schema:
       $ref: "#/definitions/ScfTmAccEntryMasterDTO"
   responses:
    200:
     description: "Returns updated scfcmtmaccentrymaster"
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "scfcmtmaccentrymaster"
   summary: "Retrieves the scfcmtmaccentrymaster by ID."
   description:  "Retrieves the scfcmtmaccentrymaster by ID."
   operationId: "getById"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
    - name: "version"
      in: "query"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the scfcmtmaccentrymaster based on given id."
     schema:
      $ref: "#/definitions/ScfcmTmAccEntryMasterWrapperModel"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
  delete:
   tags:
    - "scfcmtmaccentrymaster"
   summary: "Deletes the scfcmtmaccentrymaster identified by given ID."
   description:  "Deletes the scfcmtmaccentrymaster identified by given ID. Add additional information here for the this endpoint."
   operationId: "delete"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the scfcmtmaccentrymaster maintenance"
      required: true
      type: "string"
    - name: "scfcmtmaccentrymaster"
      in: "body"
      description: Request body contain scfcmtmaccentrymaster and Modification no of scfcmtmaccentrymaster maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to Authorize existing record.
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../scfcmtmaccentrymaster/xxx/approve

 /scfcmtmaccentrymaster/{id}/approve:
  patch:
   tags:
    - "scfcmtmaccentrymaster"
   summary: "Authorize the scfcmtmaccentrymaster by given ID."
   description:  "Authorize the scfcmtmaccentrymaster identified by given ID."
   operationId: "authorize"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the scfcmtmaccentrymaster maintenance"
      required: true
      type: "string"
    - name: "scfcmtmaccentrymaster"
      in: "body"
      description: Request body contain scfcmtmaccentrymaster and Modification no of scfcmtmaccentrymaster maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to close existing record
#
#  supported http methods PATCH
#
# path examples----
#   PATCH       .../scfcmtmaccentrymaster/xxx/close
 /scfcmtmaccentrymaster/{id}/close:
  patch:
   tags:
    - "scfcmtmaccentrymaster"
   summary: "Close the scfcmtmaccentrymaster by given ID."
   description:  "Close the scfcmtmaccentrymaster identified by given ID."
   operationId: "closeRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the scfcmtmaccentrymaster maintenance"
      required: true
      type: "string"
    - name: "scfcmtmaccentrymaster"
      in: "body"
      description: Request body contain scfcmtmaccentrymaster and Modification no of scfcmtmaccentrymaster maintenance which need to be closed"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to reopen existing record
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../scfcmtmaccentrymaster/xxx/reopen

 /scfcmtmaccentrymaster/{id}/reopen:
  patch:
   tags:
    - "scfcmtmaccentrymaster"
   summary: "reopen the scfcmtmaccentrymaster by given ID."
   description:  "reopen the scfcmtmaccentrymaster identified by given ID."
   operationId: "reopenRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the scfcmtmaccentrymaster maintenance"
      required: true
      type: "string"
    - name: "scfcmtmaccentrymaster"
      in: "body"
      description: Request body contain scfcmtmaccentrymaster and Modification no of scfcmtmaccentrymaster maintenance which need to be reopen"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to get all unauthorized records
#
#  supprorted http methods GET
#
# path examples----
#   GET       .../scfcmtmaccentrymaster/xxx/unauthorized

 /scfcmtmaccentrymaster/{id}/unauthorized:
  get:
   tags:
    - "scfcmtmaccentrymaster"
   summary: "Retrives the scfcmtmaccentrymaster by given ID."
   description:  "Retrives the scfcmtmaccentrymaster identified by given ID."
   operationId: "authQuery"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the scfcmtmaccentrymaster based on given id."
     schema:
       $ref: "#/definitions/ScfcmTmAccEntryMasterCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to  history record for remitterid
#
#  supprorted http methods GETS
#
# path examples----
#   GET       .../scfcmtmaccentrymaster/xxx/history

 /scfcmtmaccentrymaster/{id}/history:
  get:
   tags:
    - "scfcmtmaccentrymaster"
   summary: "Retrives the scfcmtmaccentrymaster by given ID."
   description:  "Retrives the scfcmtmaccentrymaster by ID."
   operationId: "getHistory"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the scfcmtmaccentrymaster based on given id."
     schema:
       $ref: "#/definitions/ScfcmTmAccEntryMasterCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
 /scfcmtmaccentrymaster/{id}/isValid:
  get:
   tags:
    - "scfcmtmaccentrymaster"
   summary: "Validate the ScfcmTmAccEntryMaster by ResourceId"
   description:  "Validate the ScfcmTmAccEntryMaster by ResourceId"
   operationId: "validateScfcmTmAccEntryMaster"
   parameters:
    - name: "resourceId"
      in: "path"
      description: "resourceId of the user that needs to be validated"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the boolean based on validation of given resource id."
     schema:
       $ref: "#/definitions/boolean"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
definitions:
 ScfTmAccEntryMasterDTO:
  type: object
  allOf:
  - $ref: '#/definitions/GenericDto'
  - type: object
    properties:
     id:
      type: string
      description: "Id"
     action:
      type: string
      description: "Action"
     autoAuth:
      type: string
      description: "Auto Auth"
     modificationStatus:
      type: string
      description: "Modification Status"   
     datasegmentCode:
      type: string
      description: "Data Segment Code"
     checkerRemarks:
      type: string
      description: "Checker Remarks" 
     makerRemarks:
      type: string
      description: "Maker Remarks"                       
     branchCode:
      type: string
      description: "Branch Code"
     eventCode:
      type: string
      description: "Event Code"
     filterAttr1:
      type: string
      description: "Filter Attribute 1"
     filterAttr1Name:
      type: string
      description: "Filter Attribute 1 name"
     filterAttr1Label:
      type: string
      description: "Filter Attribute 1 Label"
     filterAttr1ColumnName:
      type: string
      description: "Filter Attribute 1 Column Name"
     filterAttr1Type:
      type: string
      description: "Filter Attribute 1 Type"
     filterAttr1EndpointValue:
      type: string
      description: "Filter Attribute 1 Endpoint Key"
     filterAttr1ReqParams:
      type: string
      description: "Filter Attribute 1 ReqParams"
     filterAttr1LovConfig:
      type: "array"
      description: "Filter Attribute 1 LOV Config Data"
      items:
       $ref: '#/definitions/Map'
     filterAttr2:
      type: string
      description: "Filter Attribute 2"
     filterAttr2Name:
      type: string
      description: "Filter Attribute 2 name"
     filterAttr2Label:
      type: string
      description: "Filter Attribute 2 Label"
     filterAttr2ColumnName:
      type: string
      description: "Filter Attribute 2 Column Name"
     filterAttr2Type:
      type: string
      description: "Filter Attribute 2 Type"
     filterAttr2EndpointValue:
      type: string
      description: "Filter Attribute 2 Endpoint Key"
     filterAttr2ReqParams:
      type: string
      description: "Filter Attribute 2 ReqParams"
     filterAttr2LovConfig:
      type: "array"
      description: "Filter Attribute 2 LOV Config Data"
      items:
       $ref: '#/definitions/Map'
     filterAttr3:
      type: string
      description: "Filter Attribute 3"
     filterAttr3Name:
      type: string
      description: "Filter Attribute 3 name"
     filterAttr3Label:
      type: string
      description: "Filter Attribute 3 Label"
     filterAttr3ColumnName:
      type: string
      description: "Filter Attribute 3 Column Name"
     filterAttr3Type:
      type: string
      description: "Filter Attribute 3 Type"
     filterAttr3EndpointValue:
      type: string
      description: "Filter Attribute 3 Endpoint Key"
     filterAttr3ReqParams:
      type: string
      description: "Filter Attribute 3 ReqParams"
     filterAttr3LovConfig:
      type: "array"
      description: "Filter Attribute 3 LOV Config Data"
      items:
       $ref: '#/definitions/Map'
     filterAttr4:
      type: string
      description: "Filter Attribute 4"
     filterAttr4Name:
      type: string
      description: "Filter Attribute 4 name"
     filterAttr4Label:
      type: string
      description: "Filter Attribute 4 Label"
     filterAttr4ColumnName:
      type: string
      description: "Filter Attribute 4 Column Name"
     filterAttr4Type:
      type: string
      description: "Filter Attribute 4 Type"
     filterAttr4EndpointValue:
      type: string
      description: "Filter Attribute 4 Endpoint Key"
     filterAttr4ReqParams:
      type: string
      description: "Filter Attribute 4 ReqParams"
     filterAttr4LovConfig:
      type: "array"
      description: "Filter Attribute 4 LOV Config Data"
      items:
       $ref: '#/definitions/Map'
     filterAttr5:
      type: string
      description: "Filter Attribute 5"
     filterAttr5Name:
      type: string
      description: "Filter Attribute 5 name"
     filterAttr5Label:
      type: string
      description: "Filter Attribute 5 Label"
     filterAttr5ColumnName:
      type: string
      description: "Filter Attribute 5 Column Name"
     filterAttr5Type:
      type: string
      description: "Filter Attribute 5 Type"
     filterAttr5EndpointValue:
      type: string
      description: "Filter Attribute 5 Endpoint Key"
     filterAttr5ReqParams:
      type: string
      description: "Filter Attribute 5 ReqParams"
     filterAttr5LovConfig:
      type: "array"
      description: "Filter Attribute 5 LOV Config Data"
      items:
       $ref: '#/definitions/Map'
     filterAttr6:
      type: string
      description: "Filter Attribute 6"
     filterAttr6Name:
      type: string
      description: "Filter Attribute 6 name"
     filterAttr6Label:
      type: string
      description: "Filter Attribute 6 Label"
     filterAttr6ColumnName:
      type: string
      description: "Filter Attribute 6 Column Name"
     filterAttr6Type:
      type: string
      description: "Filter Attribute 6 Type"
     filterAttr6EndpointValue:
      type: string
      description: "Filter Attribute 6 Endpoint Key"
     filterAttr6ReqParams:
      type: string
      description: "Filter Attribute 6 ReqParams"
     filterAttr6LovConfig:
      type: "array"
      description: "Filter Attribute 6 LOV Config Data"
      items:
       $ref: '#/definitions/Map'
     filterAttr7:
      type: string
      description: "Filter Attribute 7"
     filterAttr7Name:
      type: string
      description: "Filter Attribute 7 name"
     filterAttr7Label:
      type: string
      description: "Filter Attribute 7 Label"
     filterAttr7ColumnName:
      type: string
      description: "Filter Attribute 7 Column Name"
     filterAttr7Type:
      type: string
      description: "Filter Attribute 7 Type"
     filterAttr7EndpointValue:
      type: string
      description: "Filter Attribute 7 Endpoint Key"
     filterAttr7ReqParams:
      type: string
      description: "Filter Attribute 7 ReqParams"
     filterAttr7LovConfig:
      type: "array"
      description: "Filter Attribute 7 LOV Config Data"
      items:
       $ref: '#/definitions/Map'
     filterAttr8:
      type: string
      description: "Filter Attribute 8"
     filterAttr8Name:
      type: string
      description: "Filter Attribute 8 name"
     filterAttr8Label:
      type: string
      description: "Filter Attribute 8 Label"
     filterAttr8ColumnName:
      type: string
      description: "Filter Attribute 8 Column Name"
     filterAttr8Type:
      type: string
      description: "Filter Attribute 8 Type"
     filterAttr8EndpointValue:
      type: string
      description: "Filter Attribute 8 Endpoint Key"
     filterAttr8ReqParams:
      type: string
      description: "Filter Attribute 8 ReqParams"
     filterAttr8LovConfig:
      type: "array"
      description: "Filter Attribute 8 LOV Config Data"
      items:
       $ref: '#/definitions/Map'
     filterAttr9:
      type: string
      description: "Filter Attribute 9"
     filterAttr9Name:
      type: string
      description: "Filter Attribute 9 name"
     filterAttr9Label:
      type: string
      description: "Filter Attribute 9 Label"
     filterAttr9ColumnName:
      type: string
      description: "Filter Attribute 9 Column Name"
     filterAttr9Type:
      type: string
      description: "Filter Attribute 9 Type"
     filterAttr9EndpointValue:
      type: string
      description: "Filter Attribute 9 Endpoint Key"
     filterAttr9ReqParams:
      type: string
      description: "Filter Attribute 9 ReqParams"
     filterAttr9LovConfig:
      type: "array"
      description: "Filter Attribute 9 LOV Config Data"
      items:
       $ref: '#/definitions/Map'
     filterAttr10:
      type: string
      description: "Filter Attribute 10"
     filterAttr10Name:
      type: string
      description: "Filter Attribute 10 name"
     filterAttr10Label:
      type: string
      description: "Filter Attribute 10 Label"
     filterAttr10ColumnName:
      type: string
      description: "Filter Attribute 10 Column Name"
     filterAttr10Type:
      type: string
      description: "Filter Attribute 10 Type"
     filterAttr10EndpointValue:
      type: string
      description: "Filter Attribute 10 Endpoint Key"
     filterAttr10ReqParams:
      type: string
      description: "Filter Attribute 10 ReqParams"
     filterAttr10LovConfig:
      type: "array"
      description: "Filter Attribute 10 LOV Config Data"
      items:
       $ref: '#/definitions/Map'
     filterCriteria:
      type: string
      description: "Filter Criteria"
     filterCriteriaDesc:
      type: string
      description: "Filter Criteria Description"
     filterParameters:
      type: string
      description: "Filter Parameters"
     productCode:
      type: string
      description: "Product Code"
     applicationCode:
      type: string
      description: "Application Code"
     ScfTmAccEntryDetailsDTO:
      type: array
      items:
       $ref: '#/definitions/ScfTmAccEntryDetailsDTO'
 ScfTmAccEntryDetailsDTO:
  type: object
  properties:
     id:
      type: string
      description: "Id "
     accEntryCode:
      type: string
      description: "Acc Entry Code"
     accEntryMasterId:
      type: string
      description: "Acc Entry Master Id"
     sequence:
      type: number
      description: "Sequence"
 ModListKeyDto:
  type: object
  properties:
   modNos:
    type: array
    items:
     type: integer
   remarks:
    type: string
 KeyDto:
  type: object
  properties:
   modNo:
    type: integer
   remarks:
    type: string
 ResponseDto:
  type: object
  properties:
   id:
    type: string
   status:
    type: string
   codes:
    type: array
    items:
     $ref: "#/definitions/ResponseCode"
   requestId:
    type: string
 ResponseCode:
  type: object
  properties:
   Code:
    type: string
   Desc:
    type: string
   Type:
    type: string
   Language:
    type: string
   args:
    type: array
    items:
     type: object
   arg:
    type: string
 GenericDto:
  allOf:
   - type: object
     discriminator: resource_type
 ScfcmTmAccEntryMasterCollection: 
  description: "Collection of scfcmtmaccentrymaster."
  type: "object"
  properties:
   data:
    type: "array"
    items: 
     $ref: "#/definitions/ScfTmAccEntryMasterDTO"
   paging:
    $ref: "#/definitions/PagingDto"
 PagingDto:
  type: object
  properties:
   totalResults:
    type: integer
 ResponseDtoWrapper:
  type: object
  properties:
   messages:
    $ref: "#/definitions/ResponseDto"
   data:
    $ref: "#/definitions/ResponseResourceSupport"
 ResponseResourceSupport:
  type: object
 ScfcmTmAccEntryMasterWrapperModel:
  type: object
  properties:
   data:
    $ref: "#/definitions/ScfTmAccEntryMasterDTO"
