#-----------------------------------------------------------------------------------------------------
#  **
#  ** File Name  : common.yaml
#  **
#  ** Module     : scftmaccountrolemaster
#  ** 
#  ** This source is part of the Oracle FLEXCUBE  and is copyrighted by Oracle Financial Services Software Limited.  ** 
#  ** 
#  ** All rights reserved. No part of this work may be reproduced, stored in a retrieval system,
#  ** adopted or transmitted in any form or by any means, electronic, mechanical, photographic,
#  ** graphic, optic recording or otherwise, translated in any language or computer language,
#  ** without the prior written permission of Oracle Financial Services Software Limited.
#  ** 
#  ** Oracle Financial Services Software Limited.
#  ** 10-11, SDF I, SEEPZ, Andheri (East),
#  ** Mumbai - 400 096.
#  ** India
#  ** Copyright 2017-2018 Oracle Financial Services Software Limited. All rights reserved.
#  -------------------------------------------------------------------------------------------------------
#
#  CHANGE HISTORY
#
#  Created By         :  System
#
#  Bug Number         :  
#  Changed By         :  
#  Change Description :  
#  Change On          :  
#  Search String      :  
#  
#  -------------------------------------------------------------------------------------------------------
  

swagger: "2.0"
info:
 description: "This is a sample server scftmaccountrolemaster server." 
 version: "1.0.0"
 title: "scftmaccountrolemaster Service"
host: "api-plato.us.oracle.com:8080"
basePath: "/api/1.0"
consumes:
 - "application/json"
produces:
 - "application/json"
tags:
 - name: "scftmaccountrolemaster"
   description: "this service is to manage crud operations in master datasegment  .........................................................................................................................................."

schemes:
- "https"

paths:

# path to create a new record and fetch all valid records or by intent
#
#  supprorted http methods POST and GET
#
# path example ../scftmaccountrolemaster

 /scftmaccountrolemaster:
  post:
   tags:
    - "scftmaccountrolemaster"
   summary: "Adds a new scftmaccountrolemaster."
   description: "Adds a new scftmaccountrolemaster. Add additional information here for this endpoint."
   operationId: "saveRecord"
   parameters:
    - name: "scftmaccountrolemaster" 
      in: "body" 
      description: "Request Body that contains data required for creating a new scftmaccountrolemaster" 
      required: true
      schema:
       $ref: "#/definitions/ScfTmAccountRoleMasterDTO"
   responses:
    201: 
     description: "Returns message of succes or failure " 
     headers:
      Location:
       description: "URL of newly created scftmaccountrolemaster" 
       type: "string"
     schema:
       $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "scftmaccountrolemaster"
   summary: "Get all valid scftmaccountrolemaster."
   description:  "Get all valid scftmaccountrolemaster. This endpoints will be used to Get all valid scftmaccountrolemaster maintenance records."
   operationId: "getAll"
   parameters:
   - name: includecloseandunauth
     in: query
     description: includecloseandunauth need to be set to fetch summary record, defult value is false
     required: false
     type: boolean
   - name: offset
     in: query
     description: offset is starting no of records to be fetched
     required: false
     type: integer
   - name: limit
     in: query
     description: limit is maximum no of records to be fetched
     required: false
     type: integer
   responses:
    201:
     description: "Returns message of success or failure"
     headers: 
      Location:
       description: ""
       type: "string"
     schema:
       $ref: "#/definitions/ScfTmAccountRoleMasterCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"

# path to modify existing record, delete existing record and fetch valid records by id or by intent( includes latestRecord, version no)
#
#  supprorted http methods PUT, DELETE and GET
#
# path examples----
#   PUT       .../scftmaccountrolemaster/xxx
#   DELETE    .../scftmaccountrolemaster/xxx
#   GET       .../scftmaccountrolemaster/xxx
#   GET       .../scftmaccountrolemaster/xxx?version=latestrecord
#   GET       .../scftmaccountrolemaster/xxx?version=1

 /scftmaccountrolemaster/{id}:
  put:
   tags:
    - "scftmaccountrolemaster"
   summary: "Update an existing scftmaccountrolemaster."
   description:  "Update an existing scftmaccountrolemaster."
   operationId: "modifyRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "key of the scftmaccountrolemaster Maintenance"
      required: true
      type: "string"
    - name: "scftmaccountrolemaster"
      in: "body"
      description: "Request Body that contains data required for updating an existing scftmaccountrolemaster"
      required: true
      schema:
       $ref: "#/definitions/ScfTmAccountRoleMasterDTO"
   responses:
    200:
     description: "Returns updated scftmaccountrolemaster"
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "scftmaccountrolemaster"
   summary: "Retrieves the scftmaccountrolemaster by ID."
   description:  "Retrieves the scftmaccountrolemaster by ID."
   operationId: "getById"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
    - name: "version"
      in: "query"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the scftmaccountrolemaster based on given id."
     schema:
      $ref: "#/definitions/ScfTmAccountRoleMasterWrapperModel"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
  delete:
   tags:
    - "scftmaccountrolemaster"
   summary: "Deletes the scftmaccountrolemaster identified by given ID."
   description:  "Deletes the scftmaccountrolemaster identified by given ID. Add additional information here for the this endpoint."
   operationId: "delete"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the scftmaccountrolemaster maintenance"
      required: true
      type: "string"
    - name: "scftmaccountrolemaster"
      in: "body"
      description: Request body contain scftmaccountrolemaster and Modification no of scftmaccountrolemaster maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to Authorize existing record.
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../scftmaccountrolemaster/xxx/approve

 /scftmaccountrolemaster/{id}/approve:
  patch:
   tags:
    - "scftmaccountrolemaster"
   summary: "Authorize the scftmaccountrolemaster by given ID."
   description:  "Authorize the scftmaccountrolemaster identified by given ID."
   operationId: "authorize"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the scftmaccountrolemaster maintenance"
      required: true
      type: "string"
    - name: "scftmaccountrolemaster"
      in: "body"
      description: Request body contain scftmaccountrolemaster and Modification no of scftmaccountrolemaster maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to close existing record
#
#  supported http methods PATCH
#
# path examples----
#   PATCH       .../scftmaccountrolemaster/xxx/close
 /scftmaccountrolemaster/{id}/close:
  patch:
   tags:
    - "scftmaccountrolemaster"
   summary: "Close the scftmaccountrolemaster by given ID."
   description:  "Close the scftmaccountrolemaster identified by given ID."
   operationId: "closeRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the scftmaccountrolemaster maintenance"
      required: true
      type: "string"
    - name: "scftmaccountrolemaster"
      in: "body"
      description: Request body contain scftmaccountrolemaster and Modification no of scftmaccountrolemaster maintenance which need to be closed"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to reopen existing record
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../scftmaccountrolemaster/xxx/reopen

 /scftmaccountrolemaster/{id}/reopen:
  patch:
   tags:
    - "scftmaccountrolemaster"
   summary: "reopen the scftmaccountrolemaster by given ID."
   description:  "reopen the scftmaccountrolemaster identified by given ID."
   operationId: "reopenRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the scftmaccountrolemaster maintenance"
      required: true
      type: "string"
    - name: "scftmaccountrolemaster"
      in: "body"
      description: Request body contain scftmaccountrolemaster and Modification no of scftmaccountrolemaster maintenance which need to be reopen"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to get all unauthorized records
#
#  supprorted http methods GET
#
# path examples----
#   GET       .../scftmaccountrolemaster/xxx/unauthorized

 /scftmaccountrolemaster/{id}/unauthorized:
  get:
   tags:
    - "scftmaccountrolemaster"
   summary: "Retrives the scftmaccountrolemaster by given ID."
   description:  "Retrives the scftmaccountrolemaster identified by given ID."
   operationId: "authQuery"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the scftmaccountrolemaster based on given id."
     schema:
       $ref: "#/definitions/ScfTmAccountRoleMasterCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to  history record for remitterid
#
#  supprorted http methods GETS
#
# path examples----
#   GET       .../scftmaccountrolemaster/xxx/history

 /scftmaccountrolemaster/{id}/history:
  get:
   tags:
    - "scftmaccountrolemaster"
   summary: "Retrives the scftmaccountrolemaster by given ID."
   description:  "Retrives the scftmaccountrolemaster by ID."
   operationId: "getHistory"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the scftmaccountrolemaster based on given id."
     schema:
       $ref: "#/definitions/ScfTmAccountRoleMasterCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
 /scftmaccountrolemaster/{id}/isValid:
  get:
   tags:
    - "scftmaccountrolemaster"
   summary: "Validate the ScfTmAccountRoleMaster by ResourceId"
   description:  "Validate the ScfTmAccountRoleMaster by ResourceId"
   operationId: "validateScfTmAccountRoleMaster"
   parameters:
    - name: "resourceId"
      in: "path"
      description: "resourceId of the user that needs to be validated"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the boolean based on validation of given resource id."
     schema:
       $ref: "#/definitions/boolean"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
definitions:
 ScfTmAccountRoleMasterDTO:
  type: object
  allOf:
  - $ref: '#/definitions/GenericDto'
  - type: object
    properties:
     id:
      type: string
      description: "Id"
     action:
      type: string
      description: "Action"
     autoAuth:
      type: string
      description: "Auto Auth"
     modificationStatus:
      type: string
      description: "Modification Status"   
     datasegmentCode:
      type: string
      description: "Data Segment Code"
     checkerRemarks:
      type: string
      description: "Checker Remarks" 
     makerRemarks:
      type: string
      description: "Maker Remarks"                           
     accRoleCode:
      type: string
      description: "Acc Role Code"
     accRoleDescription:
      type: string
      description: "Acc Role Description"
 ModListKeyDto:
  type: object
  properties:
   modNos:
    type: array
    items:
     type: integer
   remarks:
    type: string
 KeyDto:
  type: object
  properties:
   modNo:
    type: integer
   remarks:
    type: string
 ResponseDto:
  type: object
  properties:
   id:
    type: string
   status:
    type: string
   codes:
    type: array
    items:
     $ref: "#/definitions/ResponseCode"
   requestId:
    type: string
 ResponseCode:
  type: object
  properties:
   Code:
    type: string
   Desc:
    type: string
   Type:
    type: string
   Language:
    type: string
   args:
    type: array
    items:
     type: object
   arg:
    type: string
 GenericDto:
  allOf:
   - type: object
     discriminator: resource_type
 ScfTmAccountRoleMasterCollection: 
  description: "Collection of scftmaccountrolemaster."
  type: "object"
  properties:
   data:
    type: "array"
    items: 
     $ref: "#/definitions/ScfTmAccountRoleMasterDTO"
   paging:
    $ref: "#/definitions/PagingDto"
 PagingDto:
  type: object
  properties:
   totalResults:
    type: integer
 ResponseDtoWrapper:
  type: object
  properties:
   messages:
    $ref: "#/definitions/ResponseDto"
   data:
    $ref: "#/definitions/ResponseResourceSupport"
 ResponseResourceSupport:
  type: object
 ScfTmAccountRoleMasterWrapperModel:
  type: object
  properties:
   data:
    $ref: "#/definitions/ScfTmAccountRoleMasterDTO"
