#-----------------------------------------------------------------------------------------------------
#  **
#  ** File Name  : common.yaml
#  **
#  ** Module     : obcmtmcorpenrchinfomstr
#  ** 
#  ** This source is part of the Oracle FLEXCUBE  and is copyrighted by Oracle Financial Services Software Limited.  ** 
#  ** 
#  ** All rights reserved. No part of this work may be reproduced, stored in a retrieval system,
#  ** adopted or transmitted in any form or by any means, electronic, mechanical, photographic,
#  ** graphic, optic recording or otherwise, translated in any language or computer language,
#  ** without the prior written permission of Oracle Financial Services Software Limited.
#  ** 
#  ** Oracle Financial Services Software Limited.
#  ** 10-11, SDF I, SEEPZ, Andheri (East),
#  ** Mumbai - 400 096.
#  ** India
#  ** Copyright 2017-2018 Oracle Financial Services Software Limited. All rights reserved.
#  -------------------------------------------------------------------------------------------------------
#
#  CHANGE HISTORY
#
#  Created By         :  System
#
#  Bug Number         :  
#  Changed By         :  
#  Change Description :  
#  Change On          :  
#  Search String      :  
#  
#  -------------------------------------------------------------------------------------------------------
  

swagger: "2.0"
info:
 description: "This is a sample server obcmtmcorpenrchinfomstr server." 
 version: "1.0.0"
 title: "obcmtmcorpenrchinfomstr Service"
host: "api-plato.us.oracle.com:8080"
basePath: "/api/1.0"
consumes:
 - "application/json"
produces:
 - "application/json"
tags:
 - name: "obcmtmcorpenrchinfomstr"
   description: "this service is to manage crud operations in master datasegment  .........................................................................................................................................."

schemes:
- "https"

paths:

# path to create a new record and fetch all valid records or by intent
#
#  supprorted http methods POST and GET
#
# path example ../obcmtmcorpenrchinfomstr

 /obcmtmcorpenrchinfomstr:
  post:
   tags:
    - "obcmtmcorpenrchinfomstr"
   summary: "Adds a new obcmtmcorpenrchinfomstr."
   description: "Adds a new obcmtmcorpenrchinfomstr. Add additional information here for this endpoint."
   operationId: "saveRecord"
   parameters:
    - name: "obcmtmcorpenrchinfomstr" 
      in: "body" 
      description: "Request Body that contains data required for creating a new obcmtmcorpenrchinfomstr" 
      required: true
      schema:
       $ref: "#/definitions/ObcmTmCorpEnrchInfoMstrDTO"
   responses:
    201: 
     description: "Returns message of succes or failure " 
     headers:
      Location:
       description: "URL of newly created obcmtmcorpenrchinfomstr" 
       type: "string"
     schema:
       $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "obcmtmcorpenrchinfomstr"
   summary: "Get all valid obcmtmcorpenrchinfomstr."
   description:  "Get all valid obcmtmcorpenrchinfomstr. This endpoints will be used to Get all valid obcmtmcorpenrchinfomstr maintenance records."
   operationId: "getAll"
   parameters:
   - name: includecloseandunauth
     in: query
     description: includecloseandunauth need to be set to fetch summary record, defult value is false
     required: false
     type: boolean
   - name: offset
     in: query
     description: offset is starting no of records to be fetched
     required: false
     type: integer
   - name: limit
     in: query
     description: limit is maximum no of records to be fetched
     required: false
     type: integer
   responses:
    201:
     description: "Returns message of success or failure"
     headers: 
      Location:
       description: ""
       type: "string"
     schema:
       $ref: "#/definitions/ObcmTmCorpEnrchInfoMstrCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"

# path to modify existing record, delete existing record and fetch valid records by id or by intent( includes latestRecord, version no)
#
#  supprorted http methods PUT, DELETE and GET
#
# path examples----
#   PUT       .../obcmtmcorpenrchinfomstr/xxx
#   DELETE    .../obcmtmcorpenrchinfomstr/xxx
#   GET       .../obcmtmcorpenrchinfomstr/xxx
#   GET       .../obcmtmcorpenrchinfomstr/xxx?version=latestrecord
#   GET       .../obcmtmcorpenrchinfomstr/xxx?version=1

 /obcmtmcorpenrchinfomstr/{id}:
  put:
   tags:
    - "obcmtmcorpenrchinfomstr"
   summary: "Update an existing obcmtmcorpenrchinfomstr."
   description:  "Update an existing obcmtmcorpenrchinfomstr."
   operationId: "modifyRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "key of the obcmtmcorpenrchinfomstr Maintenance"
      required: true
      type: "string"
    - name: "obcmtmcorpenrchinfomstr"
      in: "body"
      description: "Request Body that contains data required for updating an existing obcmtmcorpenrchinfomstr"
      required: true
      schema:
       $ref: "#/definitions/ObcmTmCorpEnrchInfoMstrDTO"
   responses:
    200:
     description: "Returns updated obcmtmcorpenrchinfomstr"
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "obcmtmcorpenrchinfomstr"
   summary: "Retrieves the obcmtmcorpenrchinfomstr by ID."
   description:  "Retrieves the obcmtmcorpenrchinfomstr by ID."
   operationId: "getById"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
    - name: "version"
      in: "query"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the obcmtmcorpenrchinfomstr based on given id."
     schema:
      $ref: "#/definitions/ObcmTmCorpEnrchInfoMstrWrapperModel"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
  delete:
   tags:
    - "obcmtmcorpenrchinfomstr"
   summary: "Deletes the obcmtmcorpenrchinfomstr identified by given ID."
   description:  "Deletes the obcmtmcorpenrchinfomstr identified by given ID. Add additional information here for the this endpoint."
   operationId: "delete"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the obcmtmcorpenrchinfomstr maintenance"
      required: true
      type: "string"
    - name: "obcmtmcorpenrchinfomstr"
      in: "body"
      description: Request body contain obcmtmcorpenrchinfomstr and Modification no of obcmtmcorpenrchinfomstr maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to Authorize existing record.
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../obcmtmcorpenrchinfomstr/xxx/approve

 /obcmtmcorpenrchinfomstr/{id}/approve:
  patch:
   tags:
    - "obcmtmcorpenrchinfomstr"
   summary: "Authorize the obcmtmcorpenrchinfomstr by given ID."
   description:  "Authorize the obcmtmcorpenrchinfomstr identified by given ID."
   operationId: "authorize"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the obcmtmcorpenrchinfomstr maintenance"
      required: true
      type: "string"
    - name: "obcmtmcorpenrchinfomstr"
      in: "body"
      description: Request body contain obcmtmcorpenrchinfomstr and Modification no of obcmtmcorpenrchinfomstr maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to close existing record
#
#  supported http methods PATCH
#
# path examples----
#   PATCH       .../obcmtmcorpenrchinfomstr/xxx/close
 /obcmtmcorpenrchinfomstr/{id}/close:
  patch:
   tags:
    - "obcmtmcorpenrchinfomstr"
   summary: "Close the obcmtmcorpenrchinfomstr by given ID."
   description:  "Close the obcmtmcorpenrchinfomstr identified by given ID."
   operationId: "closeRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the obcmtmcorpenrchinfomstr maintenance"
      required: true
      type: "string"
    - name: "obcmtmcorpenrchinfomstr"
      in: "body"
      description: Request body contain obcmtmcorpenrchinfomstr and Modification no of obcmtmcorpenrchinfomstr maintenance which need to be closed"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to reopen existing record
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../obcmtmcorpenrchinfomstr/xxx/reopen

 /obcmtmcorpenrchinfomstr/{id}/reopen:
  patch:
   tags:
    - "obcmtmcorpenrchinfomstr"
   summary: "reopen the obcmtmcorpenrchinfomstr by given ID."
   description:  "reopen the obcmtmcorpenrchinfomstr identified by given ID."
   operationId: "reopenRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the obcmtmcorpenrchinfomstr maintenance"
      required: true
      type: "string"
    - name: "obcmtmcorpenrchinfomstr"
      in: "body"
      description: Request body contain obcmtmcorpenrchinfomstr and Modification no of obcmtmcorpenrchinfomstr maintenance which need to be reopen"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to get all unauthorized records
#
#  supprorted http methods GET
#
# path examples----
#   GET       .../obcmtmcorpenrchinfomstr/xxx/unauthorized

 /obcmtmcorpenrchinfomstr/{id}/unauthorized:
  get:
   tags:
    - "obcmtmcorpenrchinfomstr"
   summary: "Retrives the obcmtmcorpenrchinfomstr by given ID."
   description:  "Retrives the obcmtmcorpenrchinfomstr identified by given ID."
   operationId: "authQuery"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the obcmtmcorpenrchinfomstr based on given id."
     schema:
       $ref: "#/definitions/ObcmTmCorpEnrchInfoMstrCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to  history record for remitterid
#
#  supprorted http methods GETS
#
# path examples----
#   GET       .../obcmtmcorpenrchinfomstr/xxx/history

 /obcmtmcorpenrchinfomstr/{id}/history:
  get:
   tags:
    - "obcmtmcorpenrchinfomstr"
   summary: "Retrives the obcmtmcorpenrchinfomstr by given ID."
   description:  "Retrives the obcmtmcorpenrchinfomstr by ID."
   operationId: "getHistory"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the obcmtmcorpenrchinfomstr based on given id."
     schema:
       $ref: "#/definitions/ObcmTmCorpEnrchInfoMstrCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
 /obcmtmcorpenrchinfomstr/{id}/isValid:
  get:
   tags:
    - "obcmtmcorpenrchinfomstr"
   summary: "Validate the ObcmTmCorpEnrchInfoMstr by ResourceId"
   description:  "Validate the ObcmTmCorpEnrchInfoMstr by ResourceId"
   operationId: "validateObcmTmCorpEnrchInfoMstr"
   parameters:
    - name: "resourceId"
      in: "path"
      description: "resourceId of the user that needs to be validated"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the boolean based on validation of given resource id."
     schema:
       $ref: "#/definitions/boolean"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
definitions:
 ObcmTmCorpEnrchInfoMstrDTO:
  type: object
  allOf:
  - $ref: '#/definitions/GenericDto'
  - type: object
    properties:
     id:
      type: string
      description: ""
     action:
      type: string
      description: ""
     autoAuth:
      type: string
      description: ""
     modificationStatus:
      type: string
      description: ""   
     datasegmentCode:
      type: string
      description: ''
     checkerRemarks:
      type: string
      description: '' 
     makerRemarks:
      type: string
      description: ''                            
     corporateCode:
      type: string
      description: ""
     corporateName:
      type: string
      description: ""
     counterPartyInfoManTxn:
      type: string
      description: ""
     drawerInfoManTxn:
      type: string
      description: ""
     enrichmentId:
      type: string
      description: ""
     courierSrvcType:
      type: string
      description: ""
     ObcmTmCorpEnrchInfoProdMstrDTO:
      type: array
      items:
       $ref: '#/definitions/ObcmTmCorpEnrchInfoProdMstrDTO'
 ObcmTmCorpEnrchInfoProdMstrDTO:
  type: object
  properties:
     id:
      type: string
      description: ""
     infoMstrId:
      type: string
      description: ""
     productCode:
      type: string
      description: ""
     productDesc:
      type: string
      description: ""
     status:
      type: string
      description: ""
 ModListKeyDto:
  type: object
  properties:
   modNos:
    type: array
    items:
     type: integer
   remarks:
    type: string
 KeyDto:
  type: object
  properties:
   modNo:
    type: integer
   remarks:
    type: string
 ResponseDto:
  type: object
  properties:
   id:
    type: string
   status:
    type: string
   codes:
    type: array
    items:
     $ref: "#/definitions/ResponseCode"
   requestId:
    type: string
 ResponseCode:
  type: object
  properties:
   Code:
    type: string
   Desc:
    type: string
   Type:
    type: string
   Language:
    type: string
   args:
    type: array
    items:
     type: object
   arg:
    type: string
 GenericDto:
  allOf:
   - type: object
     discriminator: resource_type
 ObcmTmCorpEnrchInfoMstrCollection: 
  description: "Collection of obcmtmcorpenrchinfomstr."
  type: "object"
  properties:
   data:
    type: "array"
    items: 
     $ref: "#/definitions/ObcmTmCorpEnrchInfoMstrDTO"
   paging:
    $ref: "#/definitions/PagingDto"
 PagingDto:
  type: object
  properties:
   totalResults:
    type: integer
 ObcmTmCorpEnrchProdListDTO:
  type: "object"
  description: "List of Corporate Enrichment Product data"
  properties:
     productCode:
      type: "string"
      description: "ProductCode used for corporate enrichment product data"
     productDesc:
      type: "string"
      description: "ProductDesc used for corporate enrichment product data"
     productCategory:
      type: "string"
      description: "Product Category used for corporate enrichment product data"
     productType:
      type: "string"
      description: "ProductType used for corporate enrichment product data"
     partyId:
      type: "string"
      description: "Party id used for corporate enrichment product data"
 ObcmTmCorpEnrchProdListCollection: 
  description: "Collection of Corporate Enrichment product Data."
  type: "object"
  properties:
   data:
    type: "array"
    items: 
     $ref: "#/definitions/ObcmTmCorpEnrchProdListDTO"
 ResponseDtoWrapper:
  type: object
  properties:
   messages:
    $ref: "#/definitions/ResponseDto"
   data:
    $ref: "#/definitions/ResponseResourceSupport"
 ResponseResourceSupport:
  type: object
 ObcmTmCorpEnrchInfoMstrWrapperModel:
  type: object
  properties:
   data:
    $ref: "#/definitions/ObcmTmCorpEnrchInfoMstrDTO"
 ObcmTmCorpEnrchSetupInfoMstrDTO:
  type: "object"
  allOf:
  - $ref: '#/definitions/GenericDto'
  - type: "object"
    properties:
     corporateCode:
      type: "string"
      description: "Corporate code used for corporate enrichmentData"
     corporateName:
      type: "string"
      description: "Corporate name used for corporate enrichmentData"
     counterPartyInfoManTxn:
      type: "string"
      description: "Counter party information used for corporate enrichmentData"
     drawerInfoManTxn:
      type: "string"
      description: "Dwawer information used for corporate enrichmentData"
     courierSrvcType:
      type: "string"
      description: "Courier service type used for corporate enrichmentData"
     ObcmTmCorpEnrchInfoProdMasterDTO:
      type: "array"
      description: "List of Corporate Enrichment Information Product Master"
      items:
       $ref: '#/definitions/ObcmTmCorpEnrchInfoProdMasterDTO'
 ObcmTmCorpEnrchInfoProdMasterDTO:
  type: "object"
  description: "Corporate Enrichment Information Product Master Data"
  properties:
     productCode:
      type: "string"
      description: "Product code used for corporate enrichment information product master data"
     productDesc:
      type: "string"
      description: "Product description used for corporate enrichment information product master data"
     status:
      type: "string"
      description: "Status used for SUCCESS/FAILURE response"
     productCategory:
      type: "string"
      description: "Product category used for corporate enrichment information Product Details"