#-----------------------------------------------------------------------------------------------------
#  **
#  ** File Name  : common.yaml
#  **
#  ** Module     : OBSCF
#  ** 
#  ** This source is part of the Oracle FLEXCUBE  and is copyrighted by Oracle Financial Services Software Limited.  ** 
#  ** 
#  ** All rights reserved. No part of this work may be reproduced, stored in a retrieval system,
#  ** adopted or transmitted in any form or by any means, electronic, mechanical, photographic,
#  ** graphic, optic recording or otherwise, translated in any language or computer language,
#  ** without the prior written permission of Oracle Financial Services Software Limited.
#  ** 
#  ** Oracle Financial Services Software Limited.
#  ** 10-11, SDF I, SEEPZ, Andheri (East),
#  ** Mumbai - 400 096.
#  ** India
#  ** Copyright 2017-2018 Oracle Financial Services Software Limited. All rights reserved.
#  -------------------------------------------------------------------------------------------------------
#
#  CHANGE HISTORY
#
#  Created By         :  System
#
#  Bug Number         :  
#  Changed By         :  
#  Change Description :  
#  Change On          :  
#  Search String      :  
#  
#  -------------------------------------------------------------------------------------------------------
  

swagger: "2.0"
info:
 description: "This is a sample server reconcilation server." 
 version: "1.0.0"
 title: "Reconciliation Web"
host: "api-plato.us.oracle.com:8080"
basePath: "/api/1.0"
consumes:
 - "application/json"
produces:
 - "application/json"
tags:
 - name: "reconciliation"
   description: "Service API for Reconciliation operations"

schemes:
- "https"

paths:

# path to create a new record and fetch all valid records or by intent
#
#  supprorted http methods POST and GET
#
# path example ../reconcilation

 /web/v1/reconciliationRules:
  get:
   tags:
    - "reconciliation"
   summary: "Get all valid reconcilation rules."
   description:  "Get all valid reconcilation rules. This endpoints will be used to Get all valid reconcilation maintenance records."
   operationId: "getReconciliationRules"
   parameters:
    - name: "userId"
      in: "header"
      description: "userId"
      required: true
      type: "string"
    - name: "branchCode"
      in: "header"
      description: "branchCode"
      required: true
      type: "string"
    - name: "appId"
      in: "header"
      type: "string"
      required: true
    - name: offset
      in: query
      description: offset is starting no of records to be fetched
      required: false
      type: integer
    - name: limit
      in: query
      description: limit is maximum no of records to be fetched
      required: false
      type: integer
    - name: reconCategory
      in: query
      description: Reconciliation Category
      required: false
      type: string
    - name: reconType
      in: query
      description: Reconciliation Type
      required: false
      type: string
    - name: ruleDescription
      in: query
      description: Reconciliation Rule Description
      required: false
      type: string
    - name: ruleId
      in: query
      description: Reconciliation Rule ID
      required: false
      type: string
    - name: allocationBasis
      in: query
      description: Reconciliation Allocation Basis
      required: false
      type: string
    - name: customerId
      in: query
      description: Customer Id
      required: false
      type: string
   responses:
    201:
     description: "Returns message of succes or failure"
     headers: 
      Location:
       description: ""
       type: "string"
     schema:
       $ref: "./ReconciliationDef.yaml#/definitions/ScfTmReconRuleDefinitionCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"

 /web/v1/reconciliation:
  post:
   tags:
    - "reconciliation"
   summary: "Adds a new reconcilation."
   description: "Adds a new reconcilation. Add additional information here for this endpoint."
   operationId: "saveRecord"
   parameters:
    - name: "userId"
      in: "header"
      description: "userId"
      required: true
      type: "string"
    - name: "branchCode"
      in: "header"
      description: "branchCode"
      required: true
      type: "string"
    - name: "appId"
      in: "header"
      type: "string"
      required: true
    - name: "reconciliation" 
      in: "body" 
      description: "Request Body that contains data required for creating a new reconcilation" 
      required: true
      schema:
       $ref: "./ReconciliationDef.yaml#/definitions/ReconRuleDefinitionDTO"
   responses:
    201: 
     description: "Returns message of succes or failure " 
     headers:
      Location:
       description: "URL of newly created reconcilation" 
       type: "string"
     schema:
       $ref: "./ReconciliationDef.yaml#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "reconciliation"
   summary: "Get all valid reconcilation."
   description:  "Get all valid reconcilation. This endpoints will be used to Get all valid reconcilation maintenance records."
   operationId: "getAll"
   parameters:
    - name: "userId"
      in: "header"
      description: "userId"
      required: true
      type: "string"
    - name: "branchCode"
      in: "header"
      description: "branchCode"
      required: true
      type: "string"
    - name: "appId"
      in: "header"
      type: "string"
      required: true
    - name: includecloseandunauth
      in: query
      description: includecloseandunauth need to be set to fetch summary record, defult value is false
      required: false
      type: boolean
    - name: offset
      in: query
      description: offset is starting no of records to be fetched
      required: false
      type: integer
    - name: limit
      in: query
      description: limit is maximum no of records to be fetched
      required: false
      type: integer
    - name: reconCategory
      in: query
      description: Reconciliation Category
      required: false
      type: string
    - name: reconType
      in: query
      description: Reconciliation Type
      required: false
      type: string
    - name: ruleDescription
      in: query
      description: Reconciliation Rule Description
      required: false
      type: string
    - name: ruleId
      in: query
      description: Reconciliation Rule ID
      required: false
      type: string
    - name: allocationBasis
      in: query
      description: Reconciliation Allocation Basis
      required: false
      type: string
    - name: authStatus
      in: query
      description: Authorisation Status
      required: false
      type: string
    - name: recordStatus
      in: query
      description: Record Status
      required: false
      type: string
   responses:
    201:
     description: "Returns message of succes or failure"
     headers: 
      Location:
       description: ""
       type: "string"
     schema:
       $ref: "./ReconciliationDef.yaml#/definitions/ScfTmReconRuleDefinitionCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"

# path to modify existing record, delete existing record and fetch valid records by id or by intent( includes latestRecord, version no)
#
#  supprorted http methods PUT, DELETE and GET
#
# path examples----
#   PUT       .../web/v1/reconciliation/xxx
#   DELETE    .../web/v1/reconciliation/xxx
#   GET       .../web/v1/reconciliation/xxx
#   GET       .../web/v1/reconciliation/xxx?version=latestrecord
#   GET       .../web/v1/reconciliation/xxx?version=1

 /web/v1/reconciliation/{id}:
  put:
   tags:
    - "reconciliation"
   summary: "Update an existing reconcilation."
   description:  "Update an existing reconcilation."
   operationId: "modifyRecord"
   parameters:
    - name: "userId"
      in: "header"
      description: "userId"
      required: true
      type: "string"
    - name: "branchCode"
      in: "header"
      description: "branchCode"
      required: true
      type: "string"
    - name: "appId"
      in: "header"
      type: "string"
      required: true
    - name: "id"
      in: "path"
      description: "key of the reconcilation Maintenance"
      required: true
      type: "string"
    - name: "reconciliation"
      in: "body"
      description: "Request Body that contains data required for updating an existing reconcilation"
      required: true
      schema:
       $ref: "./ReconciliationDef.yaml#/definitions/ReconRuleDefinitionDTO"
   responses:
    200:
     description: "Returns updated reconcilation"
     schema:
      $ref: "./ReconciliationDef.yaml#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "reconciliation"
   summary: "Retrieves the reconcilation by ID."
   description:  "Retrieves the reconcilation by ID."
   operationId: "getById"
   parameters:
    - name: "userId"
      in: "header"
      description: "userId"
      required: true
      type: "string"
    - name: "branchCode"
      in: "header"
      description: "branchCode"
      required: true
      type: "string"
    - name: "appId"
      in: "header"
      type: "string"
      required: true
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
    - name: "version"
      in: "query"
      description: "Id of the user that needs to be fetched"
      required: false
      type: "string"
   responses:
    200:
     description: "Returns the reconcilation based on given id."
     schema:
      $ref: "./ReconciliationDef.yaml#/definitions/ScfTmReconRuleDefinitionWrapperDTO"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

 /web/v1/reconciliation/{id}/delete:
  patch:
   tags:
    - "reconciliation"
   summary: "Deletes the reconcilation identified by given ID."
   description:  "Deletes the reconcilation identified by given ID. Add additional information here for the this endpoint."
   operationId: "delete"
   parameters:
    - name: "userId"
      in: "header"
      description: "userId"
      required: true
      type: "string"
    - name: "branchCode"
      in: "header"
      description: "branchCode"
      required: true
      type: "string"
    - name: "appId"
      in: "header"
      type: "string"
      required: true
    - name: "id"
      in: "path"
      description: "Key of the reconcilation maintenance"
      required: true
      type: "string"
    - name: "reconciliation"
      in: "body"
      description: Request body contain reconcilation and Modification no of reconcilation maintenance which need to be deleted"
      required: true
      schema:
       $ref: "./ReconciliationDef.yaml#/definitions/OrchestratorDTO"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "./ReconciliationDef.yaml#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to Authorize existing record.
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../web/v1/reconciliation/xxx/approve

 /web/v1/reconciliation/{id}/approve:
  patch:
   tags:
    - "reconciliation"
   summary: "Authorize the reconcilation by given ID."
   description:  "Authorize the reconcilation identified by given ID."
   operationId: "authorize"
   parameters:
    - name: "userId"
      in: "header"
      description: "userId"
      required: true
      type: "string"
    - name: "branchCode"
      in: "header"
      description: "branchCode"
      required: true
      type: "string"
    - name: "appId"
      in: "header"
      type: "string"
      required: true
    - name: "id"
      in: "path"
      description: "Key of the reconcilation maintenance"
      required: true
      type: "string"
    - name: "reconciliation"
      in: "body"
      description: Request body contain reconcilation and Modification no of reconcilation maintenance which need to be deleted"
      required: true
      schema:
       $ref: "./ReconciliationDef.yaml#/definitions/OrchestratorDTO"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "./ReconciliationDef.yaml#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to close existing record
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../web/v1/reconciliation/xxx/close
 /web/v1/reconciliation/{id}/close:
  patch:
   tags:
    - "reconciliation"
   summary: "Close the reconcilation by given ID."
   description:  "Close the reconcilation identified by given ID."
   operationId: "closeRecord"
   parameters:
    - name: "userId"
      in: "header"
      description: "userId"
      required: true
      type: "string"
    - name: "branchCode"
      in: "header"
      description: "branchCode"
      required: true
      type: "string"
    - name: "appId"
      in: "header"
      type: "string"
      required: true
    - name: "id"
      in: "path"
      description: "Key of the reconcilation maintenance"
      required: true
      type: "string"
    - name: "reconciliation"
      in: "body"
      description: Request body contain reconcilation and Modification no of reconcilation maintenance which need to be closed"
      required: true
      schema:
       $ref: "./ReconciliationDef.yaml#/definitions/OrchestratorDTO"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "./ReconciliationDef.yaml#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to reopen existing record
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../web/v1/reconciliation/xxx/reopen

 /web/v1/reconciliation/{id}/reopen:
  patch:
   tags:
    - "reconciliation"
   summary: "reopen the reconcilation by given ID."
   description:  "reopen the reconcilation identified by given ID."
   operationId: "reopenRecord"
   parameters:
    - name: "userId"
      in: "header"
      description: "userId"
      required: true
      type: "string"
    - name: "branchCode"
      in: "header"
      description: "branchCode"
      required: true
      type: "string"
    - name: "appId"
      in: "header"
      type: "string"
      required: true
    - name: "id"
      in: "path"
      description: "Key of the reconcilation maintenance"
      required: true
      type: "string"
    - name: "reconciliation"
      in: "body"
      description: Request body contain reconcilation and Modification no of reconcilation maintenance which need to be reopen"
      required: true
      schema:
       $ref: "./ReconciliationDef.yaml#/definitions/OrchestratorDTO"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "./ReconciliationDef.yaml#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to get all unauthorized records
#
#  supprorted http methods GET
#
# path examples----
#   GET       .../web/v1/reconciliation/xxx/unauthorized

 /web/v1/reconciliation/{id}/unauthorized:
  get:
   tags:
    - "reconciliation"
   summary: "Retrives the reconcilation by given ID."
   description:  "Retrives the reconcilation identified by given ID."
   operationId: "authQuery"
   parameters:
    - name: "userId"
      in: "header"
      description: "userId"
      required: true
      type: "string"
    - name: "branchCode"
      in: "header"
      description: "branchCode"
      required: true
      type: "string"
    - name: "appId"
      in: "header"
      type: "string"
      required: true
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the reconcilation based on given id."
     schema:
       $ref: "./ReconciliationDef.yaml#/definitions/ScfTmReconRuleDefinitionCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to  history record for remitterid
#
#  supprorted http methods GETS
#
# path examples----
#   GET       .../web/v1/reconciliation/xxx/history

 /web/v1/reconciliation/{id}/history:
  get:
   tags:
    - "reconciliation"
   summary: "Retrives the reconcilation by given ID."
   description:  "Retrives the reconcilation by ID."
   operationId: "getHistory"
   parameters:
    - name: "userId"
      in: "header"
      description: "userId"
      required: true
      type: "string"
    - name: "branchCode"
      in: "header"
      description: "branchCode"
      required: true
      type: "string"
    - name: "appId"
      in: "header"
      type: "string"
      required: true
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the reconcilation based on given id."
     schema:
       $ref: "./ReconciliationDef.yaml#/definitions/ScfTmReconRuleDefinitionCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

 /web/v1/reconciliation/{id}/actions:
  get:
   tags:
    - "reconciliation"
   summary: "Retrieves the reconcilation actions"
   description:  "Retrieves the reconcilation actions"
   operationId: "getAvailableUserActions"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the limits company actions."
     schema:
      type: string
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"