#-----------------------------------------------------------------------------------------------------
#  **
#  ** File Name  : common.yaml
#  **
#  ** Module     : obcmtmrelationshipmaster
#  ** 
#  ** This source is part of the Oracle FLEXCUBE  and is copyrighted by Oracle Financial Services Software Limited.  ** 
#  ** 
#  ** All rights reserved. No part of this work may be reproduced, stored in a retrieval system,
#  ** adopted or transmitted in any form or by any means, electronic, mechanical, photographic,
#  ** graphic, optic recording or otherwise, translated in any language or computer language,
#  ** without the prior written permission of Oracle Financial Services Software Limited.
#  ** 
#  ** Oracle Financial Services Software Limited.
#  ** 10-11, SDF I, SEEPZ, Andheri (East),
#  ** Mumbai - 400 096.
#  ** India
#  ** Copyright 2017-2018 Oracle Financial Services Software Limited. All rights reserved.
#  -------------------------------------------------------------------------------------------------------
#
#  CHANGE HISTORY
#
#  Created By         :  System
#
#  Bug Number         :  
#  Changed By         :  
#  Change Description :  
#  Change On          :  
#  Search String      :  
#  
#  -------------------------------------------------------------------------------------------------------
  

swagger: "2.0"
info:
 description: "This is a sample server obcmtmrelationshipmaster server." 
 version: "1.0.0"
 title: "obcmtmrelationshipmaster Service"
host: "api-plato.us.oracle.com:8080"
basePath: "/api/1.0"
consumes:
 - "application/json"
produces:
 - "application/json"
tags:
 - name: "obcmtmrelationshipmaster"
   description: "this service is to manage crud operations in master datasegment  .........................................................................................................................................."

schemes:
- "https"

paths:

# path to create a new record and fetch all valid records or by intent
#
#  supprorted http methods POST and GET
#
# path example ../obcmtmrelationshipmaster

 /obcmtmrelationshipmaster:
  post:
   tags:
    - "obcmtmrelationshipmaster"
   summary: "Adds a new obcmtmrelationshipmaster."
   description: "Adds a new obcmtmrelationshipmaster. Add additional information here for this endpoint."
   operationId: "saveRecord"
   parameters:
    - name: "obcmtmrelationshipmaster" 
      in: "body" 
      description: "Request Body that contains data required for creating a new obcmtmrelationshipmaster" 
      required: true
      schema:
       $ref: "#/definitions/ObcmTmRelationshipMasterDTO"
   responses:
    201: 
     description: "Returns message of succes or failure " 
     headers:
      Location:
       description: "URL of newly created obcmtmrelationshipmaster" 
       type: "string"
     schema:
       $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "obcmtmrelationshipmaster"
   summary: "Get all valid obcmtmrelationshipmaster."
   description:  "Get all valid obcmtmrelationshipmaster. This endpoints will be used to Get all valid obcmtmrelationshipmaster maintenance records."
   operationId: "getAll"
   parameters:
   - name: includecloseandunauth
     in: query
     description: includecloseandunauth need to be set to fetch summary record, defult value is false
     required: false
     type: boolean
   - name: offset
     in: query
     description: offset is starting no of records to be fetched
     required: false
     type: integer
   - name: limit
     in: query
     description: limit is maximum no of records to be fetched
     required: false
     type: integer
   responses:
    201:
     description: "Returns message of success or failure"
     headers: 
      Location:
       description: ""
       type: "string"
     schema:
       $ref: "#/definitions/ObcmTmRelationshipMasterCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"

# path to modify existing record, delete existing record and fetch valid records by id or by intent( includes latestRecord, version no)
#
#  supprorted http methods PUT, DELETE and GET
#
# path examples----
#   PUT       .../obcmtmrelationshipmaster/xxx
#   DELETE    .../obcmtmrelationshipmaster/xxx
#   GET       .../obcmtmrelationshipmaster/xxx
#   GET       .../obcmtmrelationshipmaster/xxx?version=latestrecord
#   GET       .../obcmtmrelationshipmaster/xxx?version=1

 /obcmtmrelationshipmaster/{id}:
  put:
   tags:
    - "obcmtmrelationshipmaster"
   summary: "Update an existing obcmtmrelationshipmaster."
   description:  "Update an existing obcmtmrelationshipmaster."
   operationId: "modifyRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "key of the obcmtmrelationshipmaster Maintenance"
      required: true
      type: "string"
    - name: "obcmtmrelationshipmaster"
      in: "body"
      description: "Request Body that contains data required for updating an existing obcmtmrelationshipmaster"
      required: true
      schema:
       $ref: "#/definitions/ObcmTmRelationshipMasterDTO"
   responses:
    200:
     description: "Returns updated obcmtmrelationshipmaster"
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "obcmtmrelationshipmaster"
   summary: "Retrieves the obcmtmrelationshipmaster by ID."
   description:  "Retrieves the obcmtmrelationshipmaster by ID."
   operationId: "getById"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
    - name: "version"
      in: "query"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the obcmtmrelationshipmaster based on given id."
     schema:
      $ref: "#/definitions/ObcmTmRelationshipMasterWrapperModel"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
  delete:
   tags:
    - "obcmtmrelationshipmaster"
   summary: "Deletes the obcmtmrelationshipmaster identified by given ID."
   description:  "Deletes the obcmtmrelationshipmaster identified by given ID. Add additional information here for the this endpoint."
   operationId: "delete"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the obcmtmrelationshipmaster maintenance"
      required: true
      type: "string"
    - name: "obcmtmrelationshipmaster"
      in: "body"
      description: Request body contain obcmtmrelationshipmaster and Modification no of obcmtmrelationshipmaster maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to Authorize existing record.
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../obcmtmrelationshipmaster/xxx/approve

 /obcmtmrelationshipmaster/{id}/approve:
  patch:
   tags:
    - "obcmtmrelationshipmaster"
   summary: "Authorize the obcmtmrelationshipmaster by given ID."
   description:  "Authorize the obcmtmrelationshipmaster identified by given ID."
   operationId: "authorize"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the obcmtmrelationshipmaster maintenance"
      required: true
      type: "string"
    - name: "obcmtmrelationshipmaster"
      in: "body"
      description: Request body contain obcmtmrelationshipmaster and Modification no of obcmtmrelationshipmaster maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to close existing record
#
#  supported http methods PATCH
#
# path examples----
#   PATCH       .../obcmtmrelationshipmaster/xxx/close
 /obcmtmrelationshipmaster/{id}/close:
  patch:
   tags:
    - "obcmtmrelationshipmaster"
   summary: "Close the obcmtmrelationshipmaster by given ID."
   description:  "Close the obcmtmrelationshipmaster identified by given ID."
   operationId: "closeRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the obcmtmrelationshipmaster maintenance"
      required: true
      type: "string"
    - name: "obcmtmrelationshipmaster"
      in: "body"
      description: Request body contain obcmtmrelationshipmaster and Modification no of obcmtmrelationshipmaster maintenance which need to be closed"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to reopen existing record
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../obcmtmrelationshipmaster/xxx/reopen

 /obcmtmrelationshipmaster/{id}/reopen:
  patch:
   tags:
    - "obcmtmrelationshipmaster"
   summary: "reopen the obcmtmrelationshipmaster by given ID."
   description:  "reopen the obcmtmrelationshipmaster identified by given ID."
   operationId: "reopenRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the obcmtmrelationshipmaster maintenance"
      required: true
      type: "string"
    - name: "obcmtmrelationshipmaster"
      in: "body"
      description: Request body contain obcmtmrelationshipmaster and Modification no of obcmtmrelationshipmaster maintenance which need to be reopen"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to get all unauthorized records
#
#  supprorted http methods GET
#
# path examples----
#   GET       .../obcmtmrelationshipmaster/xxx/unauthorized

 /obcmtmrelationshipmaster/{id}/unauthorized:
  get:
   tags:
    - "obcmtmrelationshipmaster"
   summary: "Retrives the obcmtmrelationshipmaster by given ID."
   description:  "Retrives the obcmtmrelationshipmaster identified by given ID."
   operationId: "authQuery"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the obcmtmrelationshipmaster based on given id."
     schema:
       $ref: "#/definitions/ObcmTmRelationshipMasterCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to  history record for remitterid
#
#  supprorted http methods GETS
#
# path examples----
#   GET       .../obcmtmrelationshipmaster/xxx/history

 /obcmtmrelationshipmaster/{id}/history:
  get:
   tags:
    - "obcmtmrelationshipmaster"
   summary: "Retrives the obcmtmrelationshipmaster by given ID."
   description:  "Retrives the obcmtmrelationshipmaster by ID."
   operationId: "getHistory"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the obcmtmrelationshipmaster based on given id."
     schema:
       $ref: "#/definitions/ObcmTmRelationshipMasterCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
 /obcmtmrelationshipmaster/{id}/isValid:
  get:
   tags:
    - "obcmtmrelationshipmaster"
   summary: "Validate the ObcmTmRelationshipMaster by ResourceId"
   description:  "Validate the ObcmTmRelationshipMaster by ResourceId"
   operationId: "validateObcmTmRelationshipMaster"
   parameters:
    - name: "resourceId"
      in: "path"
      description: "resourceId of the user that needs to be validated"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the boolean based on validation of given resource id."
     schema:
       $ref: "#/definitions/boolean"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
definitions:
 ObcmTmRelationshipMasterDTO:
  type: object
  allOf:
  - $ref: '#/definitions/GenericDto'
  - type: object
    properties:
     id:
      type: string
      description: "Id"
     action:
      type: string
      description: "Action"
     autoAuth:
      type: string
      description: "Auto Auth"
     modificationStatus:
      type: string
      description: "Modification Status"   
     datasegmentCode:
      type: string
      description: "Datasegment Code"
     checkerRemarks:
      type: string
      description: "checkerRemarks" 
     makerRemarks:
      type: string
      description: "makerRemarks"                            
     autoAcceptance:
      type: string
      description: "Auto Acceptance"
     corporateId:
      type: string
      description: "Corporate Id"
     corporateName:
      type: string
      description: "Corporate Name"
     effFromDate:
      type: string
      description: "Effective From Date"
     relationshipCode:
      type: string
      description: "Relationship Code"
     relationshipName:
      type: string
      description: "Relationship Name"
     expiresOn:
      type: string
      description: "Expires On"
     product:
      type: string
      description: "Product"
     holidayTreatment:
      type: string
      description: "Holiday Treatment"
     autoDebitApplicable:
      type: string
      description: "Auto Debit Applicable"            
     noOfDays:
      type: integer
      description: "Number of Days"
     maxDate:
      type: string
      description: "Maximum Date"
     txnControllerRefNo:
      type: string
      description: "Transaction Controller Reference Number" 
     ObcmTmRelationshipDetailsDTO:
      type: array
      items:
       $ref: '#/definitions/ObcmTmRelationshipDetailsDTO'
 ObcmTmRelationshipDetailsDTO:
  type: object
  properties:
     autoAcceptance:
      type: string
      description: "Auto Acceptance"
     counterpartyid:
      type: string
      description: "Counterparty Id"
     counterpartyname:
      type: string
      description: "Counterparty Name"
     id:
      type: string
      description: "Id"
     partyType:
      type: string
      description: "Party Type"
     relationsMasterId:
      type: string
      description: "Relations Master Id"
     expiresOn:
      type: string
      description: "Expires On"
     noOfDays:
      type: integer
      description: "Number of Days"
     holidayTreatment:
      type: string
      description: "Holiday Treatment"
     autoDebitApplicable:
      type: string
      description: "Auto Debit Applicable"         
     status:
      type: string
      description: "Status"
     programCode:
      type: string
      description: "Program Code"
     registrationNumber:
      type: string
      description: "registrationNumber"
     externalCodes:
      type: array
      description: "External Codes"
      items:
       $ref: '#/definitions/ObcmTmRelationshipDetailsExternalCodeDTO'
     nonCust:
       $ref: 'nonCustomerDef.yaml#/definitions/ScfTmNonCustomerMasterDTO'
 ObcmTmRelationshipDetailsExternalCodeDTO:
  type: object
  properties:
     id:
      type: string
      description: "Id"
     corporateDivisionCode:
      type: string
      description: "Corporate Division Code"
     divisionCode:
      type: string
      description: "Division Code"
     externalCode:
      type: string
      description: "External Code"
     relationshipDetailId:
      type: string
      description: "Relationship Detail Id"
 BuyersList:
  type: object
  properties:
   data:
    type: array
    items:
     $ref: '#/definitions/Buyer'
 Buyer:
  type: object
  properties:
   buyerId:
    type: string
   buyerName:
    type: string
 DivisionExternalCodeList:
  type: object
  properties:
   data:
    type: array
    items:
     type: string
          
 ModListKeyDto:
  type: object
  properties:
   modNos:
    type: array
    items:
     type: integer
   remarks:
    type: string
 KeyDto:
  type: object
  properties:
   modNo:
    type: integer
   remarks:
    type: string
 ResponseDto:
  type: object
  properties:
   id:
    type: string
   status:
    type: string
   codes:
    type: array
    items:
     $ref: "#/definitions/ResponseCode"
   requestId:
    type: string
 ResponseCode:
  type: object
  properties:
   Code:
    type: string
   Desc:
    type: string
   Type:
    type: string
   Language:
    type: string
   args:
    type: array
    items:
     type: object
   arg:
    type: string
 GenericDto:
  allOf:
   - type: object
     discriminator: resource_type
 ObcmTmRelationshipMasterCollection: 
  description: "Collection of obcmtmrelationshipmaster."
  type: "object"
  properties:
   data:
    type: "array"
    items: 
     $ref: "#/definitions/ObcmTmRelationshipMasterDTO"
   paging:
    $ref: "#/definitions/PagingDto"
 PagingDto:
  type: object
  properties:
   totalResults:
    type: integer
 ResponseDtoWrapper:
  type: object
  properties:
   messages:
    $ref: "#/definitions/ResponseDto"
   data:
    $ref: "#/definitions/ResponseResourceSupport"
 ResponseResourceSupport:
  type: object
 ObcmTmRelationshipMasterWrapperModel:
  type: object
  properties:
   data:
    $ref: "#/definitions/ObcmTmRelationshipMasterDTO"
 ObcmTmRelationshipDetailsExternalCodeCollection: 
   description: "Collection of relationship."
   type: "object"
   properties:
    data:
     type: "array"
     items: 
       $ref: "#/definitions/ExternalCodeDTO"
    paging:
     $ref: "#/definitions/PagingDto"
 ExternalCodeDTO:
   type: object
   properties:
    externalCode:
     type: string
     description: "External Code"
    buyerCode:
     type: string
     description: "Buyer Code"
    supplierCode:
     type: string
     description: "Supplier Code"
    partyId:
     type: string
     description: "Party Id"
 RelationshipmasterAggregateModel:
   description: "RelationshipmasterAggregateModel"
   type: object
   allOf:
   - $ref: '#/definitions/BaseGenericModelDS'
   - type: object
     properties:
      keyId:
       description: key Id
       type: string
      obcmTmRelationshipMaster:
       $ref: '#/definitions/ObcmTmRelationshipMasterDTO'
       
      extendedDatasegments:
       description: data for the extended datasegment operation
       type: array
       items:
         type: object  
 BaseGenericModelDS:
  allOf:
   - type: object
     discriminator: resource_type                         
 RelationshipmasterAggregateModelCollection:
   description: Collection of  RelationshipmasterAggregateModel.
   type: object
   properties:
     data:
       type: array
       items:
         $ref: '#/definitions/RelationshipmasterAggregateModel'       
              
     extendedDatasegments:
       description: data for the extended datasegment operation
       type: array
       items:
         type: object
       required:
       - resourceId
       - operationType         
 RelationshipmasterWebModelCollection:
   description: Collection of datasegment.
   type: object
   properties:
     data:
       type: array
       items:
         $ref: '#/definitions/RelationshipmasterWebModel'
         
          
 RelationshipmasterWebModel:
   description: "RelationshipmasterAggregateModel"
   type: object
   properties:
     resourceId:
       description: resource id
       type: string
     resourceName:
       description: resource name
       type: string
     operationType:
       description: operation type
       type: string
     makerId:
       description: maker id
       type: string
     makerDateStamp:
       description: make date stamp
       type: string
       format: date-time
     checkerId:
       description: check id
       type: string
     checkerDateStamp:
       description: checker date stamp
       type: string
       format: date-time
     modNo:
       description: mod no
       type: integer
     recordStatus:
       description: record status flag
       type: string
     authStatus:
       description: auth status flag
       type: string
     onceAuth:
       description: once auth flag
       type: string
     doerRemarks:
       description: doer remarks
       type: string
     approverRemarks:
       description: approver  remarks
       type: string        
     obcmTmRelationshipMaster:
       $ref: '#/definitions/ObcmTmRelationshipMasterDTO'

     extendedDatasegments:
       description: data for the extended datasegment operation
       type: array
       items:
         type: object
       required:
       - resourceId
       - operationType