#-----------------------------------------------------------------------------------------------------
#  **
#  ** File Name  : common.yaml
#  **
#  ** Module     : obcmtmnettingdecisioningmaster
#  ** 
#  ** This source is part of the Oracle FLEXCUBE  and is copyrighted by Oracle Financial Services Software Limited.  ** 
#  ** 
#  ** All rights reserved. No part of this work may be reproduced, stored in a retrieval system,
#  ** adopted or transmitted in any form or by any means, electronic, mechanical, photographic,
#  ** graphic, optic recording or otherwise, translated in any language or computer language,
#  ** without the prior written permission of Oracle Financial Services Software Limited.
#  ** 
#  ** Oracle Financial Services Software Limited.
#  ** 10-11, SDF I, SEEPZ, Andheri (East),
#  ** Mumbai - 400 096.
#  ** India
#  ** Copyright 2017-2018 Oracle Financial Services Software Limited. All rights reserved.
#  -------------------------------------------------------------------------------------------------------
#
#  CHANGE HISTORY
#
#  Created By         :  System
#
#  Bug Number         :  
#  Changed By         :  
#  Change Description :  
#  Change On          :  
#  Search String      :  
#  
#  -------------------------------------------------------------------------------------------------------
  

swagger: "2.0"
info:
 description: "This is a sample server obcmtmnettingdecisioningmaster server." 
 version: "1.0.0"
 title: "obcmtmnettingdecisioningmaster Service"
host: "api-plato.us.oracle.com:8080"
basePath: "/api/1.0"
consumes:
 - "application/json"
produces:
 - "application/json"
tags:
 - name: "obcmtmnettingdecisioningmaster"
   description: "this service is to manage crud operations in master datasegment  .........................................................................................................................................."

schemes:
- "https"

paths:

# path to create a new record and fetch all valid records or by intent
#
#  supprorted http methods POST and GET
#
# path example ../obcmtmnettingdecisioningmaster

 /obcmtmnettingdecisioningmaster:
  post:
   tags:
    - "obcmtmnettingdecisioningmaster"
   summary: "Adds a new obcmtmnettingdecisioningmaster."
   description: "Adds a new obcmtmnettingdecisioningmaster. Add additional information here for this endpoint."
   operationId: "saveRecord"
   parameters:
    - name: "obcmtmnettingdecisioningmaster" 
      in: "body" 
      description: "Request Body that contains data required for creating a new obcmtmnettingdecisioningmaster" 
      required: true
      schema:
       $ref: "#/definitions/ObcmTmNettingDecisioningMasterModel"
   responses:
    201: 
     description: "Returns message of succes or failure " 
     headers:
      Location:
       description: "URL of newly created obcmtmnettingdecisioningmaster" 
       type: "string"
     schema:
       $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "obcmtmnettingdecisioningmaster"
   summary: "Get all valid obcmtmnettingdecisioningmaster."
   description:  "Get all valid obcmtmnettingdecisioningmaster. This endpoints will be used to Get all valid obcmtmnettingdecisioningmaster maintenance records."
   operationId: "getAll"
   parameters:
   - name: includecloseandunauth
     in: query
     description: includecloseandunauth need to be set to fetch summary record, defult value is false
     required: false
     type: boolean
   - name: offset
     in: query
     description: offset is starting no of records to be fetched
     required: false
     type: integer
   - name: limit
     in: query
     description: limit is maximum no of records to be fetched
     required: false
     type: integer
   responses:
    201:
     description: "Returns message of success or failure"
     headers: 
      Location:
       description: ""
       type: "string"
     schema:
       $ref: "#/definitions/ObcmTmNettingDecisioningMasterCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"

# path to modify existing record, delete existing record and fetch valid records by id or by intent( includes latestRecord, version no)
#
#  supprorted http methods PUT, DELETE and GET
#
# path examples----
#   PUT       .../obcmtmnettingdecisioningmaster/xxx
#   DELETE    .../obcmtmnettingdecisioningmaster/xxx
#   GET       .../obcmtmnettingdecisioningmaster/xxx
#   GET       .../obcmtmnettingdecisioningmaster/xxx?version=latestrecord
#   GET       .../obcmtmnettingdecisioningmaster/xxx?version=1

 /obcmtmnettingdecisioningmaster/{id}:
  put:
   tags:
    - "obcmtmnettingdecisioningmaster"
   summary: "Update an existing obcmtmnettingdecisioningmaster."
   description:  "Update an existing obcmtmnettingdecisioningmaster."
   operationId: "modifyRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "key of the obcmtmnettingdecisioningmaster Maintenance"
      required: true
      type: "string"
    - name: "obcmtmnettingdecisioningmaster"
      in: "body"
      description: "Request Body that contains data required for updating an existing obcmtmnettingdecisioningmaster"
      required: true
      schema:
       $ref: "#/definitions/ObcmTmNettingDecisioningMasterModel"
   responses:
    200:
     description: "Returns updated obcmtmnettingdecisioningmaster"
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "obcmtmnettingdecisioningmaster"
   summary: "Retrieves the obcmtmnettingdecisioningmaster by ID."
   description:  "Retrieves the obcmtmnettingdecisioningmaster by ID."
   operationId: "getById"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
    - name: "version"
      in: "query"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the obcmtmnettingdecisioningmaster based on given id."
     schema:
      $ref: "#/definitions/ObcmTmNettingDecisioningMasterWrapperModel"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
  delete:
   tags:
    - "obcmtmnettingdecisioningmaster"
   summary: "Deletes the obcmtmnettingdecisioningmaster identified by given ID."
   description:  "Deletes the obcmtmnettingdecisioningmaster identified by given ID. Add additional information here for the this endpoint."
   operationId: "delete"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the obcmtmnettingdecisioningmaster maintenance"
      required: true
      type: "string"
    - name: "obcmtmnettingdecisioningmaster"
      in: "body"
      description: Request body contain obcmtmnettingdecisioningmaster and Modification no of obcmtmnettingdecisioningmaster maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to Authorize existing record.
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../obcmtmnettingdecisioningmaster/xxx/approve

 /obcmtmnettingdecisioningmaster/{id}/approve:
  patch:
   tags:
    - "obcmtmnettingdecisioningmaster"
   summary: "Authorize the obcmtmnettingdecisioningmaster by given ID."
   description:  "Authorize the obcmtmnettingdecisioningmaster identified by given ID."
   operationId: "authorize"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the obcmtmnettingdecisioningmaster maintenance"
      required: true
      type: "string"
    - name: "obcmtmnettingdecisioningmaster"
      in: "body"
      description: Request body contain obcmtmnettingdecisioningmaster and Modification no of obcmtmnettingdecisioningmaster maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to close existing record
#
#  supported http methods PATCH
#
# path examples----
#   PATCH       .../obcmtmnettingdecisioningmaster/xxx/close
 /obcmtmnettingdecisioningmaster/{id}/close:
  patch:
   tags:
    - "obcmtmnettingdecisioningmaster"
   summary: "Close the obcmtmnettingdecisioningmaster by given ID."
   description:  "Close the obcmtmnettingdecisioningmaster identified by given ID."
   operationId: "closeRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the obcmtmnettingdecisioningmaster maintenance"
      required: true
      type: "string"
    - name: "obcmtmnettingdecisioningmaster"
      in: "body"
      description: Request body contain obcmtmnettingdecisioningmaster and Modification no of obcmtmnettingdecisioningmaster maintenance which need to be closed"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to reopen existing record
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../obcmtmnettingdecisioningmaster/xxx/reopen

 /obcmtmnettingdecisioningmaster/{id}/reopen:
  patch:
   tags:
    - "obcmtmnettingdecisioningmaster"
   summary: "reopen the obcmtmnettingdecisioningmaster by given ID."
   description:  "reopen the obcmtmnettingdecisioningmaster identified by given ID."
   operationId: "reopenRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the obcmtmnettingdecisioningmaster maintenance"
      required: true
      type: "string"
    - name: "obcmtmnettingdecisioningmaster"
      in: "body"
      description: Request body contain obcmtmnettingdecisioningmaster and Modification no of obcmtmnettingdecisioningmaster maintenance which need to be reopen"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to get all unauthorized records
#
#  supprorted http methods GET
#
# path examples----
#   GET       .../obcmtmnettingdecisioningmaster/xxx/unauthorized

 /obcmtmnettingdecisioningmaster/{id}/unauthorized:
  get:
   tags:
    - "obcmtmnettingdecisioningmaster"
   summary: "Retrives the obcmtmnettingdecisioningmaster by given ID."
   description:  "Retrives the obcmtmnettingdecisioningmaster identified by given ID."
   operationId: "authQuery"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the obcmtmnettingdecisioningmaster based on given id."
     schema:
       $ref: "#/definitions/ObcmTmNettingDecisioningMasterCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to  history record for remitterid
#
#  supprorted http methods GETS
#
# path examples----
#   GET       .../obcmtmnettingdecisioningmaster/xxx/history

 /obcmtmnettingdecisioningmaster/{id}/history:
  get:
   tags:
    - "obcmtmnettingdecisioningmaster"
   summary: "Retrives the obcmtmnettingdecisioningmaster by given ID."
   description:  "Retrives the obcmtmnettingdecisioningmaster by ID."
   operationId: "getHistory"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the obcmtmnettingdecisioningmaster based on given id."
     schema:
       $ref: "#/definitions/ObcmTmNettingDecisioningMasterCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
 /obcmtmnettingdecisioningmaster/{id}/isValid:
  get:
   tags:
    - "obcmtmnettingdecisioningmaster"
   summary: "Validate the ObcmTmNettingDecisioningMaster by ResourceId"
   description:  "Validate the ObcmTmNettingDecisioningMaster by ResourceId"
   operationId: "validateObcmTmNettingDecisioningMaster"
   parameters:
    - name: "resourceId"
      in: "path"
      description: "resourceId of the user that needs to be validated"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the boolean based on validation of given resource id."
     schema:
       $ref: "#/definitions/boolean"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
definitions:
 ObcmTmNettingDecisioningMasterModel:
  type: object
  allOf:
  - $ref: '#/definitions/GenericDto'
  - type: object
    properties:
     id:
      type: string
      description: "Id"
     action:
      type: string
      description: "Action - NEW/MODIFY"
     autoAuth:
      type: string
      description: "Auth Stat"
     modificationStatus:
      type: string
      description: "Modification Status"   
     datasegmentCode:
      type: string
      description: "Datasegment Code"
     checkerRemarks:
      type: string
      description: "Checker remarks"
     makerRemarks:
      type: string
      description: "Maker Remarks"                           
     relationshipCode:
      type: string
      description: "Relationship Code"
     corporateId:
      type: string
      description: "Corporate Id"
     corporateName:
      type: string
      description: "Corporate Name"
     ObcmTmNettingDecisioningDetailsModel:
      type: array
      items:
       $ref: '#/definitions/ObcmTmNettingDecisioningDetailsModel'
 ObcmTmNettingDecisioningDetailsModel:
  type: object
  properties:
     id:
      type: string
      description: "Id"
     agreementCode:
      type: string
      description: "Agreement Code"
     agreementDecisionMasterId:
      type: string
      description: "Agreement master id"
     effectiveDate:
      type: string
      description: "Effective Date"
     expiryDate:
      type: string
      description: "Expiry Date"
     counterpartyId:
      type: string
      description: "Counterparty Id"
     counterpartyName:
      type: string
      description: "Counterparty Name" 
 ModListKeyDto:
  type: object
  properties:
   modNos:
    type: array
    items:
     type: integer
   remarks:
    type: string
 KeyDto:
  type: object
  properties:
   modNo:
    type: integer
   remarks:
    type: string
 ResponseDto:
  type: object
  properties:
   id:
    type: string
   status:
    type: string
   codes:
    type: array
    items:
     $ref: "#/definitions/ResponseCode"
   requestId:
    type: string
 ResponseCode:
  type: object
  properties:
   Code:
    type: string
   Desc:
    type: string
   Type:
    type: string
   Language:
    type: string
   args:
    type: array
    items:
     type: object
   arg:
    type: string
 GenericDto:
  allOf:
   - type: object
     discriminator: resource_type
 ObcmTmNettingDecisioningMasterCollection: 
  description: "Collection of obcmtmnettingdecisioningmaster."
  type: "object"
  properties:
   data:
    type: "array"
    items: 
     $ref: "#/definitions/ObcmTmNettingDecisioningMasterModel"
   paging:
    $ref: "#/definitions/PagingDto"
 PagingDto:
  type: object
  properties:
   totalResults:
    type: integer
 ResponseDtoWrapper:
  type: object
  properties:
   messages:
    $ref: "#/definitions/ResponseDto"
   data:
    $ref: "#/definitions/ResponseResourceSupport"
 ResponseResourceSupport:
  type: object
 ObcmTmNettingDecisioningMasterWrapperModel:
  type: object
  properties:
   data:
    $ref: "#/definitions/ObcmTmNettingDecisioningMasterModel"
