swagger: "2.0"
info:
  description: "Provides APIs to send FCI Messages"
  version: "1.0.0"
  title: "FCI Message APIs"
host: "api-plato.us.oracle.com:8080"
basePath: "/obscf-fci-messaging-service"
consumes:
  - "application/json"
  - "application/xml"
produces:
  - "application/json"
  - "application/xml"
tags:
  - name: "FCIMessage"
    description: "APIs for FCI Messages"

paths:

  /service/v1/sendFCIMessage:
    post:
      tags:
        - "FCIMessage"
      summary: "Sends FCI Messages"
      description: "Sends FCI Messages"
      operationId: "sendFCIMessage"  
      parameters:
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "conductorWorkflowModel"
          in: "body"
          description: "Request Body that contains data required for creating a FCI Message"
          required: true
          schema:
            $ref: "#/definitions/ConductorWorkflowModel"  
      responses: 
        201:
          description: "Returns the Id of the newly created bidding"
          schema:
              $ref: "#/definitions/ConductorWorkflowModel" 
        400:
          description: "Bad Request"
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"     
definitions:
  ConductorWorkflowModel:
    description: "ConductorWorkflowModel"
    type: "object"
    properties:
      processCode:
        type: "string"
        description: "Process Code to identify workflow"
      processName:
        type: "string"
        description: "Process Name to identify workflow"
      userId:
        type: "string"
        description: "User Id"
      stageId:
        type: "string"
        description: "Stage Id"
      stageDescription:
        type: "string"
        description: "Stage desc"
      branchCode:     
        type: "string"
        description: "Branch Code"
      errorCode:
        type: "string"
        description: "Error Code"
      errorDesc:
        type: "string"
        description: "Error Desc"
      transactionReferenceNo:
        type: "string"
        description: "Transaction Referenec No"
      processingDate:
        description: "Processing Date"
        type: "string"
      businessDate:
        description: "Business Date"
        type: "string"
      workflowInstanceId:
        description: "Workflow Instance Id"
        type: "string"
      taskInstanceId:
        description: "Task Instance Id"
        type: "string"
      appId:
        description: "AppId of Workflow Service"
        type: "string"
      uri:
        description: "EndPoint of Workflow Service"
        type: "string"
      product:
        description: "Product type to identify service for instrument"
        type: "string"
      applicationCode:
        description: "Application code"
        type: "string"
      instrumentModel:
        $ref: "#/definitions/InstrumentModel"
      discountOffer:
        $ref: "#/definitions/DiscountingModel"         
      financeModel:
        $ref: "#/definitions/FinanceModel"
      manualReconModel:
        $ref: "#/definitions/ManualReconModel"
      workflowType:
        description:
        type: "string"    
      productCode:
        description:
        type: "string"    
      event:
        description:
        type: "string"
      priority:
        type: "string"
      amount:
        type: "number"
      customerNumber:
        type: "string"
      currencyCode:
        type: "string"
      productCategory:
        type: "string"
      applicationNumber:
        description: "Reference number without seqno"
        type: "string" 
      server:
        type: "string"
      isFcubsIntegrationReqd:
        type: "string"
      isInProgKafkaTaskReqd:
        type: "string"
  InstrumentModel:
    description: "InstrumentModel"
    properties: 
      action:
        type: "string"
        description: "Action"
      isAutoAuth:
        type: "string"
        description: "IsAutoAuth"
      isFileUpload:
        type: "string"
        description: "isFileUpload"
      isFileAuthorized:
        type: "string"
        description: "isFileUpload"
      isPortalTxn:
        type: "string"
        description: "isPortalTxn"
      instrumentType:
        type: "string"
        description: "Instrument Type"
      partyId:
        type: "string"
        description: "Party id"
      invoiceRefNo:
        type: "string"
        description: "Invoice Ref No"
      isFromML:
        type: "string"
        description: "Check if txn is from ML"
      isMLHumanTaskReqd:
        type: "string"
        description: "Check if ml txn requires human task"
      isAutoProcessingReqInv:
        type: "string"
        description: "Check if ml txn requires human task"
      isManualEnrichmentReqdInv:
        type: "string"
        description: "Check if ml txn requires human task"  
      limitBlockReqdInv:
        type: "string"
        description: "Check if ml txn requires human task"  
      limitUtilRelReqdInv:
        type: "string"
        description: "Check if ml txn requires human task"   
      additionalDetails:
        type: object
      additionalProperties:
        type: object
      isAccountingApplicable:
        description: "isAccountingApplicable"
        type: "string"
      executionId:
        type: "string"
        description: "Execution Id"
      iwpBunchIdentifier:
        type: "string"
        description: "iwpBunchIdentifier"
      fipBunchIdentifier:
        type: "string"
        description: "fipBunchIdentifier"
      nfipBunchIdentifier:
        type: "string"
        description: "nfipBunchIdentifier"
      flowType:
        type: "string"
        description: "flowType"
  FinanceModel:
    description: "FinanceModel"
    properties:
      financeRefNo:
        type: "string"
        description: "financeRefNo"
      financeRefNoSeqNo:
        type: "string"
        description: "financeRefNoSeqNo"
      financeSeqNo:
        type: "integer"
        format: "int64"
      isAutoProcessing:
        type: "string"
        description: "isAutoProcessing flag"
      isLimitBlockReqd:
        type: "string"
        description: "isLimitBlockReqd flag"
      isLimitApplicable:
        type: "string"
        description: "Limit Applicable Flag"
      isAuthRequired:
        type: "string"
        description: "isAuthRequired flag"
      isAccEntriesPostRequired:
        type: "string"
        description: "isAccEntriesPostRequired flag"
      isExternalPaymentRequired:
        type: "string"
        description: "isExternalPaymentRequired flag"
      isLimitUtilReleaseRequired:
        type: "string"
        description: "isLimitUtilReleaseRequired flag"
      isUpdateFinanceMasterReqd:
        type: "string"
        description: "isUpdateFinanceMasterReqd flag"
      isInstrumentUpdateReqd:
        type: "string"
        description: "isInstrumentUpdateReqd flag"
      isObclTxnUpdateReqd:
        type: "string"
        description: "isObclTxnUpdateReqd flag"
      isAlertsAndNotificationReqd:
        type: "string"
        description: "isAlertsAndNotificationReqd flag"
      blockLimitsProcessingReqd:
        type: "string"
        description: "Limits Flag"
      isExtPaymentSynchronous:
        type: "string"
      isAccountingSynchronous:
        type: "string"
      additionalDetails:
        type: object
      additionalProperties:
        type: object
  ManualReconModel:
    description: "ManualReconModel"
    properties:
      isAutoAuth:
        description: "Is Auto Auth"
        type: "string" 
      reconTxnRefNo:
        description: "Transaction Reference Number"
        type: "string"
      isVamIntegrationReqd:
        description: "Flag for Reference Number"
        type: "string"
      isFinanceIntegrationReqd:
        description: "Flag for finance settlement "
        type: "string"
      invAcquireTaskReqd:
        description: "Flag for to acquire invoice task"
        type: "string"
      additionalDetails:
       type: object
       additionalProperties:
        type: object 
  DiscountingModel:
    description: "DiscountingModel"
    properties:
      isAutoAuth:
        type: "string"
        description: "isAutoAuth"
      discountRuleId:  
        type: "string"
        description: "discountRuleId"
      additionalDetails:
        type: object
        additionalProperties:
         type: object                          
  InvoiceCollectionDto:
    description: "List of Invoices"
    type: object
    properties:
      data:
        type: array
        items:
          $ref: '#/definitions/InvoiceModel'
      paging:
        type: "object"
  InvoiceModel:
      description: "Invoice model"
      allOf:
      - $ref: "#/definitions/TransactionModel"
      - type: "object"
        properties:
          srcAppCd:
            type: "string"
            description: "Source Application Code"
          seqNo:
            description: "Seq of the Invoice "
            type: "integer"
            format: "int64"
          invoiceId:
            description: "Id of the Invoice "
            type: "string"
          acceptanceAmount:
            type: number
            description: "Acceptance Amount"
          amount:
            type: number
            description: "Amount"
          buyerId:
            type: string
            description: "Buyer Id"
          buyerName:
            type: string
            description: "Buyer Name"
          buyerDivCode:
            type: string
            description: "Buyer Division Code"
          buyerDivName:
            type: string
            description: "Buyer Division Name"
          currency:
            type: string
            description: "Currency"
          isDisputed:
            type: string
            description: "Is Disputed"
          discrepancyCode:
            type: string
            description: "Discrepancy Code"
          disputeResolveRemarks:
            type: string
            description: "Dispute Resolve Remarks"
          fileName:
            type: string
            description: "File Name"
          fileRef:
            type: string
            description: "File Reference"
          filler1:
            type: string
            description: "Filler1"
          filler2:
            type: string
            description: "Filler2"
          filler3:
            type: string
            description: "Filler3"
          filler4:
            type: string
            description: "Filler4"
          financeAmount:
            type: number
            description: "Finance Amount"
          financePercentage:
            type: number
            description: "Finance Percentage"
          indicator:
            type: string
            description: "Indicator"
          invoiceDate:
            type: string
            description: "Invoice Date"
          invoiceDueDate:
            type: string
            description: "Invoice Due Date"
          invoiceNumber:
            type: string
            description: "Invoice Number"
          invoiceProcessStatus:
            type: string
            description: "Invoice Process Status"
          invoiceRefNo:
            type: string
            description: "Invoice Reference Number"
          invoiceStatus:
            type: string
            description: "Invoice Status"
          invAcceptanceDate:
            type: string
            description: "Invoice Acceptance Date"
          maxFinancePercentage:
            type: number
            description: "Maximum Finance Percentage"
          paidAmount:
            type: number
            description: "Paid Amount"
          paymentStatus:
            type: string
            description: "Payment Status"
          preAccepted:
            type: string
            description: "Pre Accepted"
          poNumber:
            type: string
            description: "PO Number"
          programCode:
            type: string
            description: "Program Code"
          programName:
            type: string
            description: "Program Name"
          reasonCode:
            type: string
            description: "Reason Code"
          remarks:
            type: string
            description: "Remarks"
          supplierId:
            type: string
            description: "Supplier Id"
          supplierName:
            type: string
            description: "Supplier Name"
          supplierDivCode:
            type: string
            description: "Supplier Division Code"
          supplierDivName:
            type: string
            description: "Supplier Division Name"
          taxAmount:
            type: number
            description: "Tax Amount"
          totalInvoiceAmount:
            type: number
            description: "Total Invoice Amount"
          paymentTerms:
            type: string
            description: "Payment Terms"
          shipmentDate:
            type: string
            description: "Shipment date"
          outstandingAmount:
            type: number
            description: "Outstanding Amount"
          discountAllowed:
            type: string
            description: "Discount Allowed"
          discountPercentage:
            type: number
            description: "Discount Percentage"
          discountAmount:
            type: number
            description: "Discount Amount"
          taxPercentage:
            type: number
            description: "Tax Percentage"
          purchaseOrderDate:
            type: string
            description: "Purchase Order Date"
          staleStatus:
            type: string
            description: "Stale Status"
          divisionCode:
            type: string
            description: "Division Code"
          shipmentAddress:
            type: string
            description: "Shipment Address"
          shipmentCountry:
            type: string
            description: "Shipment Country"
          shipmentNo:
            type: string
            description: "Shipment Number"
          reasonForExport:
            type: string
            description: "Reason For Export"
          termsOfSale:
            type: string
            description: "Terms Of Sale"
          countryOfOrigin:
            type: string
            description: "Country Of Origin"
          miscCharge1:
            type: number
            description: "Miscellaneous Charge 1"
          miscCharge1Amount:
            type: number
            description: "Miscellaneous Charge 1 Amount"
          miscCharge1Desc:
            type: string
            description: "Miscellaneous Charge 1 Description"
          miscCharge2:
            type: number
            description: "Miscellaneous Charge 2"
          miscCharge2Amount:
            type: number
            description: "Miscellaneous Charge 2 Amount"
          miscCharge2Desc:
            type: string
            description: "Miscellaneous Charge 2 Description"
          netInvoiceAmount:
            type: number
            description: "Net Invoice Amount"
          financeableAmount:
            type: number
            description: "Financeable Amount"
          finTxnStatus:
            type: string
            description: "Finance Transaction Status"
          transactionRefNo:
            type: string
            description: "Transaction Reference Number"
          relationCode:
            type: string
            description: "Relation Code"
          supplierCode:
            type: string
            description: "Supplier Code"
          buyerCode:
            type: string
            description: "Buyer Code"
          shipmentRefNo:
            type: string
            description: "Shipment Reference Number"
          repayAccountNo:
            type: string
            description: "Repay Account Number"
          bank:
            type: string
            description: "Bank"
          branch:
            type: string
            description: "Branch"
          routingCode:
            type: number
            description: "Routing Code"
          isAutoAuth:
           type: string
           description: "Is Auto Authorized"
          reasonErrorCode:
            type: string
            description: "Reason Error Code"
          isApproved:
            type: string 
            description: "Is Approved"
          invoiceCommodityGridList:
            type: array
            items:
              $ref: '#/definitions/InvoiceCommodityGridModel'
          finEligibilityAmt:
            type: number
            description: "Finance Eligibility Amount"
          reconTxnStatus:
            type: string
            description: "Recon Transaction Status"
          reasonForShipment:
            type: string
            description: "Reason For Shipment"
          virtualAcFlag:
            type: string
            description: "Virtual Account Flag"
          fundingReqAmt:
            type: number
            description: "Funding Required Amount"
          raisedBy:
            type: string
            description: "Raised By"
          processingBranchCode:
            type: string
            description: "Processing Branch Code"
          action:
            type: string
            description: "Action"
          processingDate:
            type: string
            description: "Processing Date"
          paymentDate:
            type: string
            description: "Payment date"
          disputedAmount:
            type: number 
            description: "Disputed Amount"  
          linkedDocs:
            type: string  
            description: "Linked Documents"  
          isFinanced:
            type: string   
            description: "Is Financed"                 
          tcmId:
            type: string
            description: "Tcm Id"
          makerId:
            type: string
            description: "Maker Id"
          makerDtStamp:
            type: string
            description: "Maker Date Stamp"
          stageId:
            type: string
            description: "Stage Id"
          isAccepted:
            type: string
            description: "Is Accepted"
          isDisputeResolvedWriteOff:
            type: string
            description: "Is Dispute Resolved Write Off"
          isAssigned:
            type: string
            description: "Is Assigned"
          assignmentParty:
            type: string
            description: "Assignment Party"
          isOverdue :
            type: string 
            description: "Is Overdue"
          oldAcceptanceAmount:
            type: number
            description: "Old Acceptance Amount"
          oldFinanceAmount:
            type: number
            description: "Old Finance Amount"
          amountToBeFinanced:
            type: number
            description: "Amount To Be Financed"
          oldInvoiceDueDate:
            type: string
            description: "Old Invoice Due Date"
          oldDisputeAmount:
            type: number
            description: "Old Dispute Amount"
          sourceTxnId:
            type: string   
            description: "Source Transaction Id"
          paymentDueDate:
            type: string
            description: "Payment Due Date"
          debitNoteId:
            type: string
            description: "Debit Note Id"
          isDebitNote:
            type: string
            description: "Is Debit Note"
          adjustmentReason:
            type: integer
            description: "Adjustment Reason"
          isPUA:
            type: string
            description: "Is PUA"
          isIndirectPayment:
            type: string
            description: "Is Indirect Payment"
          paymentParty:
            type: string
            description: "Payment party"
          importFactorId:
            type: string
            description: "Import Factor Id"
          importFactorName:
            type: string
            description: "Import Factor Name"
          insuranceCoId:
            type: string
            description: "Insurance Co Id"
          insuranceCoName:
            type: string
            description: "Insurance Co Name"
          paymentMode:
            type: string
            description: "Payment Mode"
          reconPmtAmount:
            type: number
            description: "Recon Payment Amount"
          reconPmtAmountCcy:
            type: string    
            description: "Recon Payment Amount Currency"     
          invoiceValueDate:
            type: string
            description: "Invoice Value Date"
          discount1Days:
            type: integer
            description: "Discount 1 Days"
          discount2Days:
            type: integer
            description: "Discount 2 Days"
          discount1Perc:
            type: number
            description: "Discount 1 Perc" 
          discount2Perc:
            type: number
            description: "Discount 2 Perc"
          paymentCondition:
            type: integer
            description: "Payment Condition"  
  InvoiceCommodityGridModel:
    type: object
    properties:
      commodityCode:
        type: string
        description: "Commodity Code"
      quantity:
        type: number
        description: "Quantity"
      commodityName:
        type: string
        description: "Commodity Name"
      commodityDesc:
        type: string
        description: "Commodity Description"
      costPerUnit:
        type: number
        description: "Cost per Unit"
      totalCost:
        type: number
        description: "Total Cost"
      taxAmount:
        type: number
        description: "Tax Amount"
      netCost:
        type: number
        description: "Net Cost"
      invoiceCommodityGridId:
        description: "Id of the Invoice Commodity Grid"
        type: "string"
      invoiceNumber:
        type: string
        description: "Invoice Number"
      descriptionOfGoods:
        type: string
        description: "Description Of Goods"
      totalWeight:
        type: number
        description: "Total Weight"
      unitWeight:
        type: number
        description: "Unit Weight"
      ccy:
        type: string
        description: "Currency"
      discountPercentage:
        type: number
        description: "Discount Percentage"
      discountAmount:
        type: number
        description: "Discount Amount"
      taxPercentage:
        type: number
        description: "Tax Percentage"
      unit:
        type: string
        description: "Unit"  
  TransactionModel:
    type: "object"
    discriminator: "model_Type"   
  TransactionRefNoCollection:
    description: List of Transaction Reference Nos
    type: object
    properties:
      transactionRefNos:
        type: array
        items:
          type: string 
                