#-----------------------------------------------------------------------------------------------------
#  **
#  ** File Name  : common.yaml
#  **
#  ** Module     : scftmlimits
#  ** 
#  ** This source is part of the Oracle FLEXCUBE  and is copyrighted by Oracle Financial Services Software Limited.  ** 
#  ** 
#  ** All rights reserved. No part of this work may be reproduced, stored in a retrieval system,
#  ** adopted or transmitted in any form or by any means, electronic, mechanical, photographic,
#  ** graphic, optic recording or otherwise, translated in any language or computer language,
#  ** without the prior written permission of Oracle Financial Services Software Limited.
#  ** 
#  ** Oracle Financial Services Software Limited.
#  ** 10-11, SDF I, SEEPZ, Andheri (East),
#  ** Mumbai - 400 096.
#  ** India
#  ** Copyright 2017-2018 Oracle Financial Services Software Limited. All rights reserved.
#  -------------------------------------------------------------------------------------------------------
#
#  CHANGE HISTORY
#
#  Created By         :  System
#
#  Bug Number         :  
#  Changed By         :  
#  Change Description :  
#  Change On          :  
#  Search String      :  
#  
#  -------------------------------------------------------------------------------------------------------
  

swagger: "2.0"
info:
 description: "This is a sample server scftmlimits server." 
 version: "1.0.0"
 title: "scftmlimits Service"
host: "api-plato.us.oracle.com:8080"
basePath: "/api/1.0"
consumes:
 - "application/json"
produces:
 - "application/json"
tags:
 - name: "scftmlimits"
   description: "this service is to manage crud operations in master datasegment  .........................................................................................................................................."

schemes:
- "https"

paths:

# path to create a new record and fetch all valid records or by intent
#
#  supprorted http methods POST and GET
#
# path example ../scftmlimits

 /scftmlimits:
  post:
   tags:
    - "scftmlimits"
   summary: "Adds a new scftmlimits."
   description: "Adds a new scftmlimits. Add additional information here for this endpoint."
   operationId: "saveRecord"
   parameters:
    - name: "scftmlimits" 
      in: "body" 
      description: "Request Body that contains data required for creating a new scftmlimits" 
      required: true
      schema:
       $ref: "#/definitions/ScfTmLimitsModel"
   responses:
    201: 
     description: "Returns message of succes or failure " 
     headers:
      Location:
       description: "URL of newly created scftmlimits" 
       type: "string"
     schema:
       $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "scftmlimits"
   summary: "Get all valid scftmlimits."
   description:  "Get all valid scftmlimits. This endpoints will be used to Get all valid scftmlimits maintenance records."
   operationId: "getAll"
   parameters:
   - name: includecloseandunauth
     in: query
     description: includecloseandunauth need to be set to fetch summary record, defult value is false
     required: false
     type: boolean
   - name: offset
     in: query
     description: offset is starting no of records to be fetched
     required: false
     type: number
   - name: limit
     in: query
     description: limit is maximum no of records to be fetched
     required: false
     type: number
   responses:
    201:
     description: "Returns message of success or failure"
     headers: 
      Location:
       description: ""
       type: "string"
     schema:
       $ref: "#/definitions/ScfTmLimitsCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"

# path to modify existing record, delete existing record and fetch valid records by id or by intent( includes latestRecord, version no)
#
#  supprorted http methods PUT, DELETE and GET
#
# path examples----
#   PUT       .../scftmlimits/xxx
#   DELETE    .../scftmlimits/xxx
#   GET       .../scftmlimits/xxx
#   GET       .../scftmlimits/xxx?version=latestrecord
#   GET       .../scftmlimits/xxx?version=1

 /scftmlimits/{id}:
  put:
   tags:
    - "scftmlimits"
   summary: "Update an existing scftmlimits."
   description:  "Update an existing scftmlimits."
   operationId: "modifyRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "key of the scftmlimits Maintenance"
      required: true
      type: "string"
    - name: "scftmlimits"
      in: "body"
      description: "Request Body that contains data required for updating an existing scftmlimits"
      required: true
      schema:
       $ref: "#/definitions/ScfTmLimitsModel"
   responses:
    200:
     description: "Returns updated scftmlimits"
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "scftmlimits"
   summary: "Retrieves the scftmlimits by ID."
   description:  "Retrieves the scftmlimits by ID."
   operationId: "getById"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
    - name: "version"
      in: "query"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the scftmlimits based on given id."
     schema:
      $ref: "#/definitions/ScfTmLimitsWrapperModel"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
  delete:
   tags:
    - "scftmlimits"
   summary: "Deletes the scftmlimits identified by given ID."
   description:  "Deletes the scftmlimits identified by given ID. Add additional information here for the this endpoint."
   operationId: "delete"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the scftmlimits maintenance"
      required: true
      type: "string"
    - name: "scftmlimits"
      in: "body"
      description: Request body contain scftmlimits and Modification no of scftmlimits maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to Authorize existing record.
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../scftmlimits/xxx/approve

 /scftmlimits/{id}/approve:
  patch:
   tags:
    - "scftmlimits"
   summary: "Authorize the scftmlimits by given ID."
   description:  "Authorize the scftmlimits identified by given ID."
   operationId: "authorize"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the scftmlimits maintenance"
      required: true
      type: "string"
    - name: "scftmlimits"
      in: "body"
      description: Request body contain scftmlimits and Modification no of scftmlimits maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to close existing record
#
#  supported http methods PATCH
#
# path examples----
#   PATCH       .../scftmlimits/xxx/close
 /scftmlimits/{id}/close:
  patch:
   tags:
    - "scftmlimits"
   summary: "Close the scftmlimits by given ID."
   description:  "Close the scftmlimits identified by given ID."
   operationId: "closeRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the scftmlimits maintenance"
      required: true
      type: "string"
    - name: "scftmlimits"
      in: "body"
      description: Request body contain scftmlimits and Modification no of scftmlimits maintenance which need to be closed"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to reopen existing record
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../scftmlimits/xxx/reopen

 /scftmlimits/{id}/reopen:
  patch:
   tags:
    - "scftmlimits"
   summary: "reopen the scftmlimits by given ID."
   description:  "reopen the scftmlimits identified by given ID."
   operationId: "reopenRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the scftmlimits maintenance"
      required: true
      type: "string"
    - name: "scftmlimits"
      in: "body"
      description: Request body contain scftmlimits and Modification no of scftmlimits maintenance which need to be reopen"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to get all unauthorized records
#
#  supprorted http methods GET
#
# path examples----
#   GET       .../scftmlimits/xxx/unauthorized

 /scftmlimits/{id}/unauthorized:
  get:
   tags:
    - "scftmlimits"
   summary: "Retrives the scftmlimits by given ID."
   description:  "Retrives the scftmlimits identified by given ID."
   operationId: "authQuery"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the scftmlimits based on given id."
     schema:
       $ref: "#/definitions/ScfTmLimitsCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to  history record for remitterid
#
#  supprorted http methods GETS
#
# path examples----
#   GET       .../scftmlimits/xxx/history

 /scftmlimits/{id}/history:
  get:
   tags:
    - "scftmlimits"
   summary: "Retrives the scftmlimits by given ID."
   description:  "Retrives the scftmlimits by ID."
   operationId: "getHistory"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the scftmlimits based on given id."
     schema:
       $ref: "#/definitions/ScfTmLimitsCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
 /scftmlimits/{id}/isValid:
  get:
   tags:
    - "scftmlimits"
   summary: "Validate the ScfTmLimits by ResourceId"
   description:  "Validate the ScfTmLimits by ResourceId"
   operationId: "validateScfTmLimits"
   parameters:
    - name: "resourceId"
      in: "path"
      description: "resourceId of the user that needs to be validated"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the boolean based on validation of given resource id."
     schema:
       $ref: "#/definitions/boolean"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
definitions:
 ScfTmLimitsModel:
  type: object
  allOf:
  - $ref: '#/definitions/GenericDto'
  - type: object
    properties:
     id:
      type: string
      description: ""
     action:
      type: string
      description: ""
     autoAuth:
      type: string
      description: ""
     modificationStatus:
      type: string
      description: ""   
     datasegmentCode:
      type: string
      description: ''
     checkerRemarks:
      type: string
      description: '' 
     makerRemarks:
      type: string
      description: ''                            
     entityDesc:
      type: string
      description: ""
     entityId:
      type: string
      description: ""
     entityType:
      type: string
      description: ""
     limitId:
      type: string
      description: ""
     limitType:
      type: string
      description: ""
     nodeIdentifier:
      type: string
      description: ""
     structureDescription:
      type: string
      description: ""
     structureId:
      type: string
      description: ""
     ScfTmLimitsNodeModel:
      type: array
      items:
       $ref: '#/definitions/ScfTmLimitsNodeModel'
 ScfTmLimitsNodeModel:
  type: object
  properties:
     id:
      type: string
      description: ""
     adhocBlockedLimitAmt:
      type: number
      description: ""
     adhocLimitEffectDate:
      type: string
      format: date
      description: ""
     adhocLimitExpiryDate:
      type: string
      format: date
      description: ""
     adhocSanctionedLimitAmt:
      type: number
      description: ""
     authstat:
      type: string
      description: ""
     availableAdhocLimitAmt:
      type: number
      description: ""
     availableLimitAmt:
      type: number
      description: ""
     blockedLimitAmt:
      type: number
      description: ""
     checkerDtStamp:
      type: string
      format: date
      description: ""
     checkerId:
      type: string
      description: ""
     depth:
      type: number
      description: ""
     effectiveFrom:
      type: string
      format: date
      description: ""
     entityDesc:
      type: string
      description: ""
     entityId:
      type: string
      description: ""
     entityType:
      type: string
      description: ""
     exchangeRate:
      type: number
      description: ""
     expiresOn:
      type: string
      format: date
      description: ""
     externalLineId:
      type: string
      description: ""
     interchangeabilityAllowed:
      type: string
      description: ""
     isPolicyAdded:
      type: string
      description: ""
     isRootEntity:
      type: string
      description: ""
     isStructureLinked:
      type: string
      description: ""
     limitsId:
      type: string
      description: ""
     limitCurrency:
      type: string
      description: ""
     limitType:
      type: string
      description: ""
     limitFreeze:
      type: string
      description: ""
     lineId:
      type: string
      description: ""
     makerDtStamp:
      type: string
      format: date
      description: ""
     makerId:
      type: string
      description: ""
     nodeIdentifier:
      type: string
      description: ""
     onceAuth:
      type: string
      description: ""
     parentCcy:
      type: string
      description: ""
     parentNodeIdentifier:
      type: string
      description: ""
     parentSanctionedAdhocLimit:
      type: number
      description: ""
     parentSanctionedAmt:
      type: number
      description: ""
     pctAllocation:
      type: number
      description: ""
     recordStat:
      type: string
      description: ""
     sanctionedLimitAmt:
      type: number
      description: ""
     structureDescription:
      type: string
      description: ""
     structureHierarchy:
      type: string
      description: ""
     structureId:
      type: string
      description: ""
     totalAvailableLimitAmt:
      type: number
      description: ""
     totalBlockedLimitAmt:
      type: number
      description: ""
     totalSanctionedLimitAmt:
      type: number
      description: ""
     totalUtilizedLimitAmt:
      type: number
      description: ""
     utilizedAdhocLimitAmt:
      type: number
      description: ""
     utilizedLimitAmt:
      type: number
      description: ""
     ScfTmLimitsInsPoliciesModel:
      type: array
      items:
       $ref: '#/definitions/ScfTmLimitsInsPoliciesModel'
     ScfTmLimitsLinkedStructModel:
      type: array
      items:
       $ref: '#/definitions/ScfTmLimitsLinkedStructModel'      
 ScfTmLimitsInsPoliciesModel:
  type: object
  properties:
     id:
      type: string
      description: ""
     limitsMasterId:
      type: string
      description: ""
     limitsMasterLineId:
      type: string
      description: ""
     limitsNodeId:
      type: string
      description: ""
     policyAllocationAmount:
      type: number
      description: ""
     policyCcy:
      type: string
      description: ""
     policyNo:
      type: string
      description: ""
 ScfTmLimitsLinkedStructModel:
  type: object
  properties:
     id:
      type: string
      description: ""
     limitsMasterId:
      type: string
      description: ""
     limitsMasterLineId:
      type: string
      description: ""
     limitsNodeId:
      type: string
      description: ""
     linkedStructureLineId:
      type: string
      description: ""
     pctAllocation:
      type: number
      description: ""
     rootEntityType:
      type: string
      description: ""
 ModListKeyDto:
  type: object
  properties:
   modNos:
    type: array
    items:
     type: number
   remarks:
    type: string
 KeyDto:
  type: object
  properties:
   modNo:
    type: number
   remarks:
    type: string
 ResponseDto:
  type: object
  properties:
   id:
    type: string
   status:
    type: string
   codes:
    type: array
    items:
     $ref: "#/definitions/ResponseCode"
   requestId:
    type: string
 ResponseCode:
  type: object
  properties:
   Code:
    type: string
   Desc:
    type: string
   Type:
    type: string
   Language:
    type: string
   args:
    type: array
    items:
     type: object
   arg:
    type: string
 GenericDto:
  allOf:
   - type: object
     discriminator: resource_type
 ScfTmLimitsCollection: 
  description: "Collection of scftmlimits."
  type: "object"
  properties:
   data:
    type: "array"
    items: 
     $ref: "#/definitions/ScfTmLimitsModel"
   paging:
    $ref: "#/definitions/PagingDto"
 PagingDto:
  type: object
  properties:
   totalResults:
    type: number
 ResponseDtoWrapper:
  type: object
  properties:
   messages:
    $ref: "#/definitions/ResponseDto"
   data:
    $ref: "#/definitions/ResponseResourceSupport"
 ResponseResourceSupport:
  type: object
 ScfTmLimitsWrapperModel:
  type: object
  properties:
   data:
    $ref: "#/definitions/ScfTmLimitsModel"
 ScfTmLimitsNodeCollection: 
  description: "Collection of scftmlimits."
  type: "object"
  properties:
   data:
    type: "array"
    items: 
     $ref: "#/definitions/ScfTmLimitsNodeModel"
   paging:
    $ref: "#/definitions/PagingDto"
 ScfTwLimitsModel:
  type: object
  allOf:
  - $ref: '#/definitions/GenericDto'
  - type: object
    properties:
     id:
      type: string
      description: ""
     action:
      type: string
      description: ""
     autoAuth:
      type: string
      description: ""
     modificationStatus:
      type: string
      description: ""   
     datasegmentCode:
      type: string
      description: ''
     checkerRemarks:
      type: string
      description: '' 
     makerRemarks:
      type: string
      description: ''                            
     entityDesc:
      type: string
      description: ""
     entityId:
      type: string
      description: ""
     entityType:
      type: string
      description: ""
     limitId:
      type: string
      description: ""
     limitType:
      type: string
      description: ""
     nodeIdentifier:
      type: string
      description: ""
     structureDescription:
      type: string
      description: ""
     structureId:
      type: string
      description: ""
     ScfTwLimitsNodeModel:
      type: array
      items:
       $ref: '#/definitions/ScfTwLimitsNodeModel'
 ScfTwLimitsNodeModel:
  type: object
  properties:
     id:
      type: string
      description: ""
     adhocBlockedLimitAmt:
      type: number
      description: ""
     adhocLimitEffectDate:
      type: string
      format: date
      description: ""
     adhocLimitExpiryDate:
      type: string
      format: date
      description: ""
     adhocSanctionedLimitAmt:
      type: number
      description: ""
     authstat:
      type: string
      description: ""
     availableAdhocLimitAmt:
      type: number
      description: ""
     availableLimitAmt:
      type: number
      description: ""
     blockedLimitAmt:
      type: number
      description: ""
     checkerDtStamp:
      type: string
      format: date
      description: ""
     checkerId:
      type: string
      description: ""
     depth:
      type: number
      description: ""
     effectiveFrom:
      type: string
      format: date
      description: ""
     entityDesc:
      type: string
      description: ""
     entityId:
      type: string
      description: ""
     entityType:
      type: string
      description: ""
     exchangeRate:
      type: number
      description: ""
     expiresOn:
      type: string
      format: date
      description: ""
     externalLineId:
      type: string
      description: ""
     interchangeabilityAllowed:
      type: string
      description: ""
     isPolicyAdded:
      type: string
      description: ""
     isRootEntity:
      type: string
      description: ""
     isStructureLinked:
      type: string
      description: ""
     limitsId:
      type: string
      description: ""
     limitCurrency:
      type: string
      description: ""
     limitType:
      type: string
      description: ""
     lineId:
      type: string
      description: ""
     makerDtStamp:
      type: string
      format: date
      description: ""
     makerId:
      type: string
      description: ""
     modNo:
      type: number
      description: ""
     nodeIdentifier:
      type: string
      description: ""
     onceAuth:
      type: string
      description: ""
     parentCcy:
      type: string
      description: ""
     parentNodeIdentifier:
      type: string
      description: ""
     parentSanctionedAdhocLimit:
      type: number
      description: ""
     parentSanctionedAmt:
      type: number
      description: ""
     pctAllocation:
      type: number
      description: ""
     recordStat:
      type: string
      description: ""
     sanctionedLimitAmt:
      type: number
      description: ""
     structureDescription:
      type: string
      description: ""
     structureHierarchy:
      type: string
      description: ""
     structureId:
      type: string
      description: ""
     totalAvailableLimitAmt:
      type: number
      description: ""
     totalBlockedLimitAmt:
      type: number
      description: ""
     totalSanctionedLimitAmt:
      type: number
      description: ""
     totalUtilizedLimitAmt:
      type: number
      description: ""
     utilizedAdhocLimitAmt:
      type: number
      description: ""
     utilizedLimitAmt:
      type: number
      description: ""
     ScfTwLimitsInsPoliciesModel:
      type: array
      items:
       $ref: '#/definitions/ScfTwLimitsInsPoliciesModel'
     ScfTwLimitsLinkedStructModel:
      type: array
      items:
       $ref: '#/definitions/ScfTwLimitsLinkedStructModel'      
 ScfTwLimitsInsPoliciesModel:
  type: object
  properties:
     id:
      type: string
      description: ""
     limitsMasterId:
      type: string
      description: ""
     limitsMasterLineId:
      type: string
      description: ""
     limitsNodeId:
      type: string
      description: ""
     modNo:
      type: number
      description: ""
     policyAllocationAmount:
      type: number
      description: ""
     policyCcy:
      type: string
      description: ""
     policyNo:
      type: string
      description: ""
 ScfTwLimitsLinkedStructModel:
  type: object
  properties:
     id:
      type: string
      description: ""
     limitsMasterId:
      type: string
      description: ""
     limitsMasterLineId:
      type: string
      description: ""
     limitsNodeId:
      type: string
      description: ""
     linkedStructureLineId:
      type: string
      description: ""
     modNo:
      type: number
      description: ""
     pctAllocation:
      type: number
      description: ""
     rootEntityType:
      type: string
      description: ""
 ScfTwLimitsCollection: 
  description: "Collection of scftmlimits."
  type: "object"
  properties:
   data:
    type: "array"
    items: 
     $ref: "#/definitions/ScfTwLimitsModel"
   paging:
    $ref: "#/definitions/PagingDto"
 PagingDto:
  type: object
  properties:
   totalResults:
    type: number
 ScfTwLimitsWrapperModel:
  type: object
  properties:
   data:
    $ref: "#/definitions/ScfTwLimitsModel"
 ScfTwLimitsNodeCollection: 
  description: "Collection of scftmlimits."
  type: "object"
  properties:
   data:
    type: "array"
    items: 
     $ref: "#/definitions/ScfTwLimitsNodeModel"
   paging:
    $ref: "#/definitions/PagingDto"