swagger: "2.0"
info:
  description: "This is a service which provides APIs for Account Maintenance Service"
  version: "1.0.0"
  title: "Account Maintenance Service Service APIs"
host: "api-plato.us.oracle.com:8080"
basePath: "/obscfcm-report-services"
consumes:
  - "application/json"
  - "application/xml"
produces:
  - "application/json"
  - "application/xml"
tags:
  - name: "AccountMaintenanceService"
    description: "Service APIs for Account Maintenance Service"
schemes:
- "https"
paths: {}
definitions:
  RoleWebModel:
    description: RoleWebModel
    type: object
    properties:
      resourceId:
        description: resource id
        type: string
      resourceName:
        description: resource name
        type: string
      operationType:
        description: operation type
        type: string   
      makerId:
        description: maker id
        type: string
      makerDateStamp:
        description: make date stamp
        type: string
        format: date-time
      checkerId:
        description: check id
        type: string
      checkerDateStamp:
        description: checker date stamp
        type: string
        format: date-time
      modNo:
        description: mod no
        type: integer
      recordStatus:
        description: record status flag
        type: string
      authStatus:
        description: auth status flag
        type: string
      onceAuth:
        description: once auth flag
        type: string
      doerRemarks:
        description: doer remarks
        type: string
      approverRemarks:
        description: approver  remarks
        type: string     
      scfTmAccountRoleMaster:
        $ref: '#/definitions/ScfTmAccountRoleMasterDTO'
      extendedDatasegments:
        description: data for the extended datasegment operation
        type: array
        items:
          type: object
    required:
        - resourceId
        - operationType         
  ScfTmAccountRoleMasterDTO:
    type: object
    allOf:
    - $ref: '#/definitions/GenericDto'
    - type: object
      properties:
       id:
        type: string
        description: "Id"
       action:
        type: string
        description: "Action"
       autoAuth:
        type: string
        description: "Auto Auth"
       modificationStatus:
        type: string
        description: "Modification Status"   
       datasegmentCode:
        type: string
        description: "Data Segment Code"
       checkerRemarks:
        type: string
        description: "Checker Remarks" 
       makerRemarks:
        type: string
        description: "Maker Remarks"                           
       accRoleCode:
        type: string
        description: "Acc Role Code"
       accRoleDescription:
        type: string
        description: "Acc Role Description"
  AccentryWebModel:
    description: AccentryWebModel
    type: object
    properties:
      resourceId:
        description: resource id
        type: string
      resourceName:
        description: resource name
        type: string
      operationType:
        description: operation type
        type: string   
      makerId:
        description: maker id
        type: string
      makerDateStamp:
        description: make date stamp
        type: string
        format: date-time
      checkerId:
        description: check id
        type: string
      checkerDateStamp:
        description: checker date stamp
        type: string
        format: date-time
      modNo:
        description: mod no
        type: integer
      recordStatus:
        description: record status flag
        type: string
      authStatus:
        description: auth status flag
        type: string
      onceAuth:
        description: once auth flag
        type: string
      doerRemarks:
        description: doer remarks
        type: string
      approverRemarks:
        description: approver  remarks
        type: string             
      scfcmTmAccEntryMaster:
        $ref: '#/definitions/ScfTmAccEntryMasterDTO'
      extendedDatasegments:
        description: data for the extended datasegment operation
        type: array
        items:
          type: object
    required:
        - resourceId
        - operationType
  ScfTmAccEntryMasterDTO:
    type: object
    allOf:
    - $ref: '#/definitions/GenericDto'
    - type: object
      properties:
       id:
        type: string
        description: "Id"
       action:
        type: string
        description: "Action"
       autoAuth:
        type: string
        description: "Auto Auth"
       modificationStatus:
        type: string
        description: "Modification Status"   
       datasegmentCode:
        type: string
        description: "Data Segment Code"
       checkerRemarks:
        type: string
        description: "Checker Remarks" 
       makerRemarks:
        type: string
        description: "Maker Remarks"                       
       branchCode:
        type: string
        description: "Branch Code"
       eventCode:
        type: string
        description: "Event Code"
       filterAttr1:
        type: string
        description: "Filter Attribute 1"
       filterAttr1Name:
        type: string
        description: "Filter Attribute 1 name"
       filterAttr2:
        type: string
        description: "Filter Attribute 2"
       filterAttr2Name:
        type: string
        description: "Filter Attribute 2 name"
       filterAttr3:
        type: string
        description: "Filter Attribute 3"
       filterAttr3Name:
        type: string
        description: "Filter Attribute 3 name"
       filterAttr4:
        type: string
        description: "Filter Attribute 4"
       filterAttr4Name:
        type: string
        description: "Filter Attribute 4 name"
       filterAttr5:
        type: string
        description: "Filter Attribute 5"
       filterAttr5Name:
        type: string
        description: "Filter Attribute 5 name"
       filterAttr6:
        type: string
        description: "Filter Attribute 6"
       filterAttr6Name:
        type: string
        description: "Filter Attribute 6 name"
       filterAttr7:
        type: string
        description: "Filter Attribute 7"
       filterAttr7Name:
        type: string
        description: "Filter Attribute 7 name"
       filterAttr8:
        type: string
        description: "Filter Attribute 8"
       filterAttr8Name:
        type: string
        description: "Filter Attribute 8 name"
       filterAttr9:
        type: string
        description: "Filter Attribute 9"
       filterAttr9Name:
        type: string
        description: "Filter Attribute 9 name"
       filterAttr10:
        type: string
        description: "Filter Attribute 10"
       filterAttr10Name:
        type: string
        description: "Filter Attribute 10 name"
       filterCriteria:
        type: string
        description: "Filter Criteria"
       filterCriteriaDesc:
        type: string
        description: "Filter Criteria Description"
       filterParameters:
        type: string
        description: "Filter Parameters"
       productCode:
        type: string
        description: "Product Code"
       applicationCode:
        type: string
        description: "Application Code"
       ScfTmAccEntryDetailsDTO:
        type: array
        items:
         $ref: '#/definitions/ScfTmAccEntryDetailsDTO'
  ScfTmAccEntryDetailsDTO:
   type: object
   properties:
      id:
       type: string
       description: "Id "
      accEntryCode:
       type: string
       description: "Acc Entry Code"
      accEntryMasterId:
       type: string
       description: "Acc Entry Master Id"
      sequence:
       type: number
       description: "Sequence"
  AccentrycodeWebModel:
    description: AccentrycodeWebModel
    type: object
    properties:
      resourceId:
        description: resource id
        type: string
      resourceName:
        description: resource name
        type: string
      operationType:
        description: operation type
        type: string   
      makerId:
        description: maker id
        type: string
      makerDateStamp:
        description: make date stamp
        type: string
        format: date-time
      checkerId:
        description: check id
        type: string
      checkerDateStamp:
        description: checker date stamp
        type: string
        format: date-time
      modNo:
        description: mod no
        type: integer
      recordStatus:
        description: record status flag
        type: string
      authStatus:
        description: auth status flag
        type: string
      onceAuth:
        description: once auth flag
        type: string
      doerRemarks:
        description: doer remarks
        type: string
      approverRemarks:
        description: approver  remarks
        type: string     
      scfcmTmAccEntryCodeMaster:
        $ref: '#/definitions/ScfTmAccEntryCodeMasterDTO'
      extendedDatasegments:
        description: data for the extended datasegment operation
        type: array
        items:
          type: object
    required:
        - resourceId
        - operationType
  ScfTmAccEntryCodeMasterDTO:
    type: object
    allOf:
    - $ref: '#/definitions/GenericDto'
    - type: object
      properties:
       id:
        type: string
        description: "Id"
       action:
        type: string
        description: "Action"
       autoAuth:
        type: string
        description: "Auto Auth"
       modificationStatus:
        type: string
        description: "Modification Status"   
       datasegmentCode:
        type: string
        description: "Data Segment Code"
       checkerRemarks:
        type: string
        description: "Checker Remarks" 
       makerRemarks:
        type: string
        description: "Maker Remarks"                                                       
       accEntryCode:
        type: string
        description: "Account Entry Code"
       accEntryDescription:
        type: string
        description: "Account Entry Description"
       applicationCode:
        type: string
        description: "Application Code"
       sequence:
        type: number
        description: "Sequence"
       ScfTmAccEntryCodeDetailsDTO:
        type: array
        items:
         $ref: '#/definitions/ScfTmAccEntryCodeDetailsDTO'
  ScfTmAccEntryCodeDetailsDTO:
    type: object
    properties:
       id:
        type: string
        description: "Id"
       accEntryCode:
        type: string
        description: "Account Entry Code"
       accEntryCodeMasterId:
        type: string
        description: "Account Entry Code Master Id"
       creditAccRoleCode:
        type: string
        description: "Credit Account Role Code"
       creditAmountType:
        type: string
        description: "Credit Amount Type"
       creditPartyType:
        type: string
        description: "Credit Party Type"
       creditSettlementMethod:
        type: string
        description: "Credit Settlement Method"
       debitAccRoleCode:
        type: string
        description: "Debit Account Role Code"
       debitAmountType:
        type: string
        description: "Debit Amount Type"
       debitPartyType:
        type: string
        description: "Debit Party Type"
       debitSettlementMethod:
        type: string
        description: "Debit Settlement Method"
  IntaccmapWebModel:
    description: IntaccmapWebModel
    type: object
    properties:
      resourceId:
        description: resource id
        type: string
      resourceName:
        description: resource name
        type: string
      operationType:
        description: operation type
        type: string   
      makerId:
        description: maker id
        type: string
      makerDateStamp:
        description: make date stamp
        type: string
        format: date-time
      checkerId:
        description: check id
        type: string
      checkerDateStamp:
        description: checker date stamp
        type: string
        format: date-time
      modNo:
        description: mod no
        type: integer
      recordStatus:
        description: record status flag
        type: string
      authStatus:
        description: auth status flag
        type: string
      onceAuth:
        description: once auth flag
        type: string
      doerRemarks:
        description: doer remarks
        type: string
      approverRemarks:
        description: approver  remarks
        type: string    
      scfcmTmIntAccMapMaster:
        $ref: '#/definitions/ScfTmIntAccMapMasterDTO'
      extendedDatasegments:
        description: data for the extended datasegment operation
        type: array
        items:
          type: object
    required:
        - resourceId
        - operationType
  ScfTmIntAccMapMasterDTO:
    type: object
    allOf:
    - $ref: '#/definitions/GenericDto'
    - type: object
      properties:
       id:
        type: string
        description: "Id"
       action:
        type: string
        description: "Action"
       autoAuth:
        type: string
        description: "Auto Auth"
       modificationStatus:
        type: string
        description: "Modification Status"   
       datasegmentCode:
        type: string
        description: "Data Segment Code"
       checkerRemarks:
        type: string
        description: "Checker Remarks" 
       makerRemarks:
        type: string
        description: "Maker Remarks"                             
       accInTxnCcy:
        type: string
        description: "Account In Transaction Currency"
       accRoleCode:
        type: string
        description: "Account Role Code"
       accType:
        type: string
        description: "AccountType"
       branchCode:
        type: string
        description: "Branch Code"
       filterAttr1:
        type: string
        description: "Filter Attribute 1"
       filterAttr1Name:
        type: string
        description: "Filter Attribute 1 Name"
       filterAttr2:
        type: string
        description: "Filter Attribute 2"
       filterAttr2Name:
        type: string
        description: "Filter Attribute 2 Name"
       filterAttr3:
        type: string
        description: "Filter Attribute 3"
       filterAttr3Name:
        type: string
        description: "Filter Attribute 3 Name"
       filterAttr4:
        type: string
        description: "Filter Attribute 4"
       filterAttr4Name:
        type: string
        description: "Filter Attribute 4 Name"
       filterAttr5:
        type: string
        description: "Filter Attribute 5"
       filterAttr5Name:
        type: string
        description: "Filter Attribute 5 Name"
       filterCriteria:
        type: string
        description: "Filter Criteria"
       filterCriteriaDesc:
        type: string
        description: "Filter Criteria Description"
       filterParameters:
        type: string
        description: "Filter Parameters"
       productCode:
        type: string
        description: "Product Code"
       settlementMethod:
        type: string
        description: "Settlement Method"
       applicationCode:
        type: string
        description: "Application Code"
       ScfTmIntAccMapDetailsDTO:
        type: array
        items:
         $ref: '#/definitions/ScfTmIntAccMapDetailsDTO'
  ScfTmIntAccMapDetailsDTO:
    type: object
    properties:
       id:
        type: string
        description: "Id"
       accountCcy:
        type: string
        description: "Account Currency"
       accountName:
        type: string
        description: "Account Name"
       accountNo:
        type: string
        description: "Account Number"
       defaultAccount:
        type: string
        description: "Default Account"
       intMasterId:
        type: string
        description: "Int Master Id"
       vaFlagYn:
        type: string
        description: "Virtual Account flag as Y or N"
       contraAccNo:
        type: string
        description: "Contra Account Number"
  ExternalWebModel:
    description: ExternalWebModel
    type: object
    properties:
      resourceId:
        description: resource id
        type: string
      resourceName:
        description: resource name
        type: string
      operationType:
        description: operation type
        type: string  
      makerId:
        description: maker id
        type: string
      makerDateStamp:
        description: make date stamp
        type: string
        format: date-time
      checkerId:
        description: check id
        type: string
      checkerDateStamp:
        description: checker date stamp
        type: string
        format: date-time
      modNo:
        description: mod no
        type: integer
      recordStatus:
        description: record status flag
        type: string
      authStatus:
        description: auth status flag
        type: string
      onceAuth:
        description: once auth flag
        type: string
      doerRemarks:
        description: doer remarks
        type: string
      approverRemarks:
        description: approver  remarks
        type: string      
      scfcmTmExtAccMapMaster:
        $ref: '#/definitions/ScfTmExtAccMapMasterDTO'
      extendedDatasegments:
        description: data for the extended datasegment operation
        type: array
        items:
          type: object
    required:
        - resourceId
        - operationType
  ScfTmExtAccMapMasterDTO:
    type: object
    required:
       - branchCode
       - eventCode
       - partyId
       - productCode
       - paymentMode
       - filterType
       - accountNumber
       - defaultAccount
    allOf:
    - $ref: '#/definitions/GenericDto'
    - type: object
      properties:
       id:
        type: string
        description: "Id"
       action:
        type: string
        description: "Action"
       autoAuth:
        type: string
        description: "Auto Auth"
       modificationStatus:
        type: string
        description: "Modification Status"   
       datasegmentCode:
        type: string
        description: "Data Segment Code"
       checkerRemarks:
        type: string
        description: "Checker Remarks" 
       makerRemarks:
        type: string
        description: "Maker Remarks"                           
       accountNumber:
        type: string
        description: "Account Number"
       bankId:
        type: string
        description: "Bank Id"
       bankName:
        type: string
        description: "Bank Name"
       branchCode:
        type: string
        description: "Branch Code"
       branchName:
        type: string
        description: "Branch Name"
       defaultAccount:
        type: string
        description: "Default Account"
       eventCode:
        type: string
        description: "Event Code"
       filterAttr1:
        type: string
        description: "Filter Attribute 1"
       filterAttr1Name:
        type: string
        description: "Filter Attribute 1 Name"
       filterAttr2:
        type: string
        description: "Filter Attribute 2"
       filterAttr2Name:
        type: string
        description: "Filter Attribute 2 Name"
       filterAttr3:
        type: string
        description: "Filter Attribute 3"
       filterAttr3Name:
        type: string
        description: "Filter Attribute 3 Name"
       filterAttr4:
        type: string
        description: "Filter Attribute 4"
       filterAttr4Name:
        type: string
        description: "Filter Attribute 4 Name"
       filterAttr5:
        type: string
        description: "Filter Attribute 5"
       filterAttr5Name:
        type: string
        description: "Filter Attribute 5 Name"
       filterCriteria:
        type: string
        description: "Filter Criteria"
       filterCriteriaDesc:
        type: string
        description: "Filter Criteria Description"
       filterParameters:
        type: string
        description: "Filter Parameters"
       filterType:
        type: string
        description: "Filter Type"
       ifscCode:
        type: string
        description: "IFSC Code"
       partyId:
        type: string
        description: "Party Id"
       paymentMode:
        type: string
        description: "Payment Mode"
       productCode:
        type: string
        description: "Product Code"
       applicationCode:
        type: string
        description: "Application Code"
       accountCcy:
        type: string
        description: "Account Currency"
  GenericDto:
    allOf:
     - type: object
       discriminator: resource_type
  AccountingTransactionCollection:
    description: "Collection of Accounting Transaction Models."
    type: "object"
    properties:
      data:
        type: "array"
        items:
          $ref: "#/definitions/AccountingTransactionModel"
      paging:
        $ref: "#/definitions/PagingDto" 
        
  AccountingTransactionModel:
    description: "Accounting Transaction Model"
    type: "object"
    properties:
      id:
        type: "string"
        description: "Id"
      refNo:
        type: "string"    
        description: "Reference Number"  
      seqNo:
        type: "integer"
        format: "int64"
        description: "Sequence Number"
      accountingEntryCode:
        type: "string"
        description: "Accounting Entry Code"
      drCrIndicator:
        type: "string"
        description: "Debit Credit Indicator"
      amountCcy:
        type: "string"
        description: "Amount Currency"
      eventCode:
        type: "string"
        description: "Event Code"
      amount:
        type: "number"
        description: "Amount"
      amountType:
        type: "string"
        description: "Amount Type"
      accountCcy:
        type: "string"
        description: "Account Currency"
      amountAccCcy:
        type: "number"
        description: "Amount Account Currency"
      accountNo:
        type: "string"
        description: "Account Number"
      exchangeRate:
        type: "number"
        description: "Exchange Rate"
      status:
        type: "string"
        description: "Status"
      accRoleCode:
        type: "string"
        description: "Account Role Code"
      accPartyType:
        type: "string"
        description: "Account Party Type"
      accPartyId:
        type: "string"
        description: "Account Party Id"
      accSettMethod:
        type: "string"
        description: "Account Settlement Method"
      accEntrySeq:
        type: "integer"
        format: "int64"
        description: "Account Entry Sequence"
      accRoleDesc:
        type: "string"
        description: "Account Role Description"
      accEntryDesc:
        type: "string"
        description: "Account Entry Description"
      accType:
        type: "string"
        description: "Account Type"
      eventSrNo:
        type: "number"
        description: "Event Serial Number"
      ecaRefNo:
        type: "string"
        description: "Eca Reference Number"
      externalAccount:
        type: "string"
        description: "External Account"
      paymentMode:
        type: "string"
        description: "Payment Mode"
      externalAccountCcy:
        type: "string"
        description: "External Account Currency"
      externalBankId:
        type: "string"
        description: "External Bank Id"
      externalBankName:
        type: "string"
        description: "External Bank Name"
      externalBranchCode:
        type: "string"
        description: "External Branch Code"
      externalBranchName:
        type: "string"
        description: "External Branch Name"
      externalBranchRoutingCode:
        type: "integer"
        format: "int64"
        description: "External Branch Routing Code"
      stage:
        type: "string"
        description: "Stage"
      additionalField1:
        type: "string"
        description: "Additional Field1"
      additionalField2:
        type: "string"
        description: "Additional Field2"
      additionalField3:
        type: "string"
        description: "Additional Field3"
      additionalField4:
        type: "string"
        description: "Additional Field4"
      additionalField5:
        type: "string"
        description: "Additional Field5"
      additionalField6:
        type: "string"
        description: "Additional Field6"
      additionalField7:
        type: "string"
        description: "Additional Field7"
      additionalField8:
        type: "string"
        description: "Additional Field8"
      additionalField9:
        type: "string"
        description: "Additional Field9"
      additionalField10:
        type: "string"
        description: "Additional Field10"
      applicationCode:
        type: "string"
        description: "Application Code"
      valueDate:
        type: "string"
        description: "Value Date"
      processingDate:
        type: "string"
        description: "Processing date"
      txnBranchCode:
        type: "string"
        description: "Transaction Branch Code"
      productCode:
        type: "string"
        description: "Product code"
      accClass:
        type: "string"
        description: "Account Class"
      vaContraAccNo:
        type: "string"
        description: "VA Contra Account Number"
      creditIntAcntList:
        type: array
        items:
          type: "string"
      debitIntAcntList:
        type: array
        items:
          type: "string"
      actualPostingAmt:
        type: number
        description: "Actual Posting Amount"
      postingRefNo:
        type: string
        description: "Posting Reference No"
      postingStatus:
        type: string
        description: "Posting Status"
      ecaStatus:
        type: string
        description: "ECA Status"
      postingErrorCode:
        type: string
        description: "Posting Error Code"
      ecaErrorCode:
        type: string
        description: "ECA Error Code"
      blkRefNo:
        type: string
        description: "Block Reference No"
      makerId:
        type: string
        description: "Maker Id"
      makerDateStamp:
        type: string
        description: "Maker Date Stamp"
      checkerId:
        type: string
        description: "Checker Id"
      checkerDateStamp:
        type: string
        description: "Checker Date Stamp"
  PagingDto:
    type: object
    properties:
     totalResults:
      type: integer