swagger: "2.0"
info:
  description: "This is a sample server Report Service server.  You can find out more about Swagger at [swagger.io](http://swagger.io) and about data types at [Swagger Data Types](https://swagger.io/docs/specification/data-models/data-types/)"
  version: "1.0.0"
  title: "Customer Service"
host: "api-plato.us.oracle.com:8080"
basePath: "/obscfcm-report-services"
consumes:
  - "application/json"
  - "application/xml"
produces:
  - "application/json"
  - "application/xml"
tags:
  - name: "CustomerServicesAPI"
    description: "APIs for Customer Service"
    
schemes:
- "https"
paths:
  /:
    get:
      responses:
        201:
          description: ""
                 
definitions:
  ScftmExtCustomerDelinqStatusHisDTO:
   type: object
   properties:
      id:
       type: string
       description: "Id"
      customerId:
       type: string
       description: "Customer Id"
      delinquencyStatus:
       type: string
       description: "Delinquency Status"
      activeStatus:
       type: string
       description: "Active Status"
      statusDate:
       type: string
       format: date
       description: "Status Date"
      inputDate:
       type: string
       format: date
       description: "Input Date"
      channel:
       type: string
       description: "Channel"
      event:
       type: string
       description: "Event"
      customerName:
       type: string
       description: "Customer Name"
      deliquencyDescription:
       type: string
       description: "Deliquency Description"
      priority:
       description: "Delinquency Status priority."
       type: string
  ScftmCustomerDelinqStatusHisDTO:
   type: object
   properties:
      id:
       type: string
       description: "Id"
      customerId:
       type: string
       description: "Customer Id"
      delinquencyStatus:
       type: string
       description: "Delinquency Status"
      activeStatus:
       type: string
       description: "Active Status"
      statusDate:
       type: string
       format: date
       description: "Status Date"
      inputDate:
       type: string
       format: date
       description: "Input Date"
      channel:
       type: string
       description: "Channel"
      event:
       type: string
       description: "Event"
      customerName:
       type: string
       description: "Customer Name"
      deliquencyDescription:
       type: string
       description: "Deliquency Description"
      priority:
       description: "Delinquency Status priority."
       type: string
  ScftmCustomerDelinqStatusDTO:
   type: object
   properties:
      customerId:
       type: string
       description: "Customer Id"
      delinquencyStatus:
       type: string
       description: "Delinquency Status"
      activeStatus:
       type: string
       description: "Active Status"
      statusDate:
       type: string
       format: date
       description: "Status Date"
      channel:
       type: string
       description: "Channel"
      event:
       type: string
       description: "Event"
      customerName:
       type: string
       description: "Customer Name"
      deliquencyDescription:
       type: string
       description: "Deliquency Description"
      priority:
       description: "Delinquency Status priority."
       type: string