swagger: "2.0"
info:
  description: "This is a service which provides APIs for Reconciliation"
  version: "1.0.0"
  title: "Recon Service APIs"
host: "api-plato.us.oracle.com:8080"
basePath: "/obscfcm-report-services"
consumes:
  - "application/json"
  - "application/xml"
produces:
  - "application/json"
  - "application/xml"
tags:
  - name: "ReconService"
    description: "Service APIs for Reconciliation"

paths:
  /service/v1/saveExpDrCrRecon:   
    post:
      tags:
      - "ReconService"
      summary: Save expected debit credit payment recon received through events
      description: Save expected debit credit payment recon received through events
      operationId: saveExpDrCrRecon
      parameters:
      - name: "appId"
        in: "header"
        type: "string"
        required: true
        description: Application id        
      - name: "userId"
        in: "header"
        type: "string"
        required: true
        description: user id
      - name: "branchCode"
        in: "header"
        type: "string"
        required: true
        description: Branch Code
      - name: "expDrCrPmtReconDTO"
        in: "body"
        required: true
        schema:
          $ref: "#/definitions/ExpDrCrPmtReconDTO"      
      responses:
        201:   
          description: "Successfully received borrower details"
          schema:
            type: boolean
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
  /service/v1/saveInvPmtRecon:   
    post:
      tags:
      - "ReconService"
      summary: Save invoice payment reconcilation received through events
      description: Save invoice payment reconcilation received through events
      operationId: saveInvPmtRecon
      parameters:
      - name: "appId"
        in: "header"
        type: "string"
        required: true
        description: Application id        
      - name: "userId"
        in: "header"
        type: "string"
        required: true
        description: user id
      - name: "branchCode"
        in: "header"
        type: "string"
        required: true
        description: Branch Code
      - name: "invPmtReconDTO"
        in: "body"
        required: true
        schema:
          $ref: "#/definitions/InvPmtReconDTO"      
      responses:
        201:   
          description: "Successfully received borrower details"
          schema:
            type: boolean
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
  /service/v1/saveFinPmtRecon:   
    post:
      tags:
      - "ReconService"
      summary: Save finance payment reconcilation received through events
      description: Save finance payment reconcilation received through events
      operationId: saveFinPmtRecon
      parameters:
      - name: "appId"
        in: "header"
        type: "string"
        required: true
        description: Application id        
      - name: "userId"
        in: "header"
        type: "string"
        required: true
        description: user id
      - name: "branchCode"
        in: "header"
        type: "string"
        required: true
        description: Branch Code
      - name: "finPmtReconDTO"
        in: "body"
        required: true
        schema:
          $ref: "#/definitions/FinPmtReconDTO"      
      responses:
        201:   
          description: "Successfully received borrower details"
          schema:
            type: boolean
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"   
  /service/v1/savePmtAlloc:   
    post:
      tags:
      - "ReconService"
      summary: Save Payment Allocation Data received through events
      description: Save Payment Allocation Data received through events
      operationId: savePmtAllocationData
      parameters:
      - name: "appId"
        in: "header"
        type: "string"
        required: true
        description: Application id        
      - name: "userId"
        in: "header"
        type: "string"
        required: true
        description: user id
      - name: "branchCode"
        in: "header"
        type: "string"
        required: true
        description: Branch Code
      - name: "pmtAllocDTO"
        in: "body"
        required: true
        schema:
          $ref: "#/definitions/PmtAllocDTO"      
      responses:
        201:   
          description: "Successfully saved Payment Allocation Details"
          schema:
            type: boolean
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"     

  /service/v1/saveInvCnRecon:   
    post:
      tags:
      - "ReconService"
      summary: Save Invoice Credit Note reconcilation received through events
      description: Save Invoice Credit Note reconcilation received through events
      operationId: saveInvCnRecon
      parameters:
      - name: "appId"
        in: "header"
        type: "string"
        required: true
        description: Application id        
      - name: "userId"
        in: "header"
        type: "string"
        required: true
        description: user id
      - name: "branchCode"
        in: "header"
        type: "string"
        required: true
        description: Branch Code
      - name: "invCnReconDTO"
        in: "body"
        required: true
        schema:
          $ref: "#/definitions/InvCnReconDTO"      
      responses:
        201:   
          description: "Successfully received borrower details"
          schema:
            type: boolean
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"


definitions:
  ExpDrCrPmtReconDTO:
    description: "Object for ExpectedDebitCredit Payment Recon."
    type: "object"
    properties:
      reconId:
        type: number
      expDrCrReconId:
        type: number
      reconTxnRefNo:
        type: string
      reconCategory:
        type: string
      reconileBy:
        type: string
      reconDate:
        type: string
      branchCode:
        type: string
      reconType:
        type: string
      reconRuleType:
        type: string
      reconRule:
        type: string
      lhsEntity:
        type: string
      rhsEntity:
        type: string
      makerId:
        type: string
      makerDtStamp:
        type: string
      authId:
        type: string
      authDtStamp:
        type: string
      transactionStatus:
        type: string
      reconAction:
        type: string
      stage:
        type: string
      matchSeqNo:
        type: string
      expDrcrCcy:
        type: string
      expDrcrVirtualAccNo:
        type: string
      amtMatched:
        type: number
      paymentPartyId:
        type: string
      paymentPartyName:
        type: string
      paymentMode:
        type: string
      beneCode:
        type: string
      beneName:
        type: string
      expectedPaymentAmount:
        type: number
      paymentCcy:
        type: string
      exchRate:
        type: number
      reconciledPmtAmt:
        type: number
      beneVirtualAccNo:
        type: string
      pmtProgramCode:
        type: string
      pmtStatus:
        type: string
      reconStatus:
        type: string
      expDrcrCodeDesc:
        type: string
      expDrcrIndicator:
        type: string
      expDrcrBankAccNumber:
        type: string
      expDrcrNarration:
        type: string
      expDrcrAmt:
        type: number
      expectedNetInvAmt:
        type: number
      expDrcrDate:
        type: string
      revisedDrcrDate:
        type: string
      paymentDate:
        type: string
      paymentAmount:
        type: number
      expDrcrCode:
        type: string
      externalAccNo:
        type: string
      expDrcrRefNo:
        type: string
      paymentRefNo:
        type: string
      externalPmtRefNo:
        type: string
      externalDrcrRefNo:
        type: string
      corporateId:
        type: string
      counterpartyId:
        type: string
      extSysRefNo:
        type: string
      cashflowType:
        type: string
      actualDate:
        type: string
      channel:
        type: string
      applicationName:
        type: string
      udfTx1:
       type: string
      udfTx2:
       type: string
      udfTx3:
       type: string
      udfTx4:
       type: string
      udfTx5:
       type: string
      udfTx6:
       type: string
      udfTx7:
       type: string
      udfTx8:
       type: string
      udfTx9:
       type: string
      udfTx10:
       type: string
      deReconFlag:
       type: string
      remitterAccNo:
       type: string
      dcIndicator:
       type: string
      accOwner:
       type: string
      isPmtAccVA:
       type: string 
      partyName:
       type: string
      allocationRequired:
        type: string
      payCounterpartyId:
        type: string
      payCounterpartyName:
        type: string
      linkedDeReconTxnRef:
        type: string
      customerRefNo:
        type: string
      remarks:
        type: string
      pmtRelationshipCode:
        type: string
  InvPmtReconDTO:
    description: "Object for Invoice Payment Recon."
    type: "object"
    properties:
      reconId:
        type: number
      invPmtReconId:
        type: number
      reconTxnRefNo:
        type: string
      reconCategory:
        type: string
      reconDate:
        type: string
      branchCode:
        type: string
      reconType:
        type: string
      reconRuleType:
        type: string
      reconRule:
        type: string
      lhsEntity:
        type: string
      rhsEntity:
        type: string
      makerId:
        type: string
      makerDtStamp:
        type: string
      authId:
        type: string
      authDtStamp:
        type: string
      transactionStatus:
        type: string
      reconAction:
        type: string
      stage:
        type: string
      matchSeqNo:
        type: string
      invBuyerId:
        type: string
      invSupplierId:
        type: string
      invBuyerName:
        type: string
      invSupplierName:
        type: string
      invRelationCode:
        type: string
      extInvRefNo:
        type: string
      intInvRefNo:
        type: string
      invDate:
        type: string
      invDueDate:
        type: string
      netInvAmt:
        type: number
      invCcy:
        type: string
      invVirtualAccNo:
        type: string
      invOsAmt:
        type: number
      invFinanced:
        type: string
      amtMatched:
        type: number
      paymentRefNo:
        type: string
      paymentPartyId:
        type: string
      paymentPartyName:
        type: string
      paymentDate:
        type: string
      paymentMode:
        type: string
      beneCode:
        type: string
      beneName:
        type: string
      paymentAmount:
        type: number
      paymentCcy:
        type: string
      exchRate:
        type: number
      reconciledPmtAmt:
        type: number
      beneVirtualAccNo:
        type: string
      pmtStatus:
        type: string
      reconStatus:
        type: string
      reconcileBy:
        type: string
      extPmtRefNo:
        type: string
      extSysRefNo:
        type: string
      accountNumber:
        type: string
      beneficiaryId:
        type: string
      payCounterpartyId:
        type: "string"
      payCounterpartyName:
        type: "string"
      remitterAccNo:
        type: "string"
      dcIndicator:
        type: "string"
      remarks:
        type: "string"
      pmtProgramCode:
        type: "string"
      pmtRelationshipCode:
        type: "string"
      invProgramCode:
        type: "string"
      accOwner:
        type: "string"
      isInvAccVa:
        type: "string"
      isPmtAccVA:
        type: "string"
      partyPaymentCode:
        type: "string"
      counterpartyCode:
        type: "string"
      allocationRequired:
        type: string
      linkedDeReconTxnRef:
        type: string
      deReconFlag:
        type: string
      paymentDueDate:
        type: string
  FinPmtReconDTO:
    description: "Object for Finance Payment Recon."
    type: "object"
    properties:
      reconId:
        type: number
      reconTxnRefNo:
        type: string
      finPmtReconId:
        type: number
      reconCategory:
        type: string
      reconDate:
        type: string
      branchCode:
        type: string
      reconType:
        type: string
      reconRuleType:
        type: string
      reconRule:
        type: string
      lhsEntity:
        type: string
      rhsEntity:
        type: string
      makerId:
        type: string
      makerDtStamp:
        type: string
      authId:
        type: string
      authDtStamp:
        type: string
      transactionStatus:
        type: string
      reconAction:
        type: string
      stage:
        type: string
      matchSeqNo:
        type: string
      finBuyerId:
        type: string
      finSupplierId:
        type: string
      finBuyerName:
        type: string
      finSupplierName:
        type: string
      finProgramCode:
        type: string
      finRefNo:
        type: string
      finSeqNo:
        type: string
      finStartDt:
        type: string
      finEndDt:
        type: string
      finPastDueDt:
        type: string
      finCcy:
        type: string
      finAmt:
        type: number
      finOsAmt:
        type: number
      intOsAmt:
        type: number
      penIntOsAmt:
        type: number
      overdueIntOsAmt:
        type: number
      totIntOsAmt:
        type: number
      amtMatched:
        type: number
      paymentRefNo:
        type: string
      paymentPartyId:
        type: string
      paymentPartyName:
        type: string
      paymentDate:
        type: string
      paymentMode:
        type: string
      beneCode:
        type: string
      beneName:
        type: string
      paymentAmount:
        type: number
      paymentCcy:
        type: string
      exchRate:
        type: number
      reconciledPmtAmt:
        type: number
      beneVirtualAccNo:
        type: string
      pmtStatus:
        type: string
      reconStatus:
        type: string
      reconcileBy:
        type: string
      pmtProgramCode:
        type: string
        
  PmtAllocDTO:
    description: "Object for Payment Allocation."
    type: "object"
    properties:
      reconId:
        type: number
      reconTxnRefNo:
        type: string
      reconAllocPmtId:
        type: number
      reconCategory:
        type: string
      reconDate:
        type: string
      branchCode:
        type: string
      reconType:
        type: string
      reconRuleType:
        type: string
      reconRule:
        type: string
      lhsEntity:
        type: string
      rhsEntity:
        type: string
      makerId:
        type: string
      makerDtStamp:
        type: string
      authId:
        type: string
      authDtStamp:
        type: string
      transactionStatus:
        type: string
      stage:
        type: string
      matchSeqNo:
        type: string
      allocVirtualAccNo:
        type: string
      allocEntity:
        type: string
      allocAttributes:
        type: string
      allocStatus:
        type: string
      allocatedAmt:
        type: number            
      allocationPct:
        type: number            
      pmtAllocatedAmt:
        type: number 
      obvamRefNo:
        type: string
      corporateId:
        type: string
      corporateName:
        type: string
      counterpartyId:
        type: string
      counterpartyName:
        type: string
      obdxRefNo:
        type: string
      beneficiaryId:
        type: string
      beneficiaryName:
        type: string
      paymentPartyId:
        type: string            
      paymentDate:
        type: string
      paymentMode:
        type: string
      beneCode:
        type: string
      paymentAmount:
        type: number
      paymentCcy:
        type: string 
      reconciledPmtAmt:
        type: number
      beneVirtualAccNo:
        type: string
      pmtReconStatus:
        type: string
      pmtAllocationStatus:
        type: string
      reconAction:
        type: string
      extPmtRefNo:
        type: string
      paymentRefNo:
        type: string
      remitterAccNo:
        type: string
      creditAccNo:
        type: string
      dcIndicator:
        type: string    
      isPmtAccVA:
        type: string
      counterpartyCode:
        type: string
      partyPaymentCode:
        type: string
      beneficiaryCode:
        type: string
      accOwner:
        type: string
      allocBasis:   
        type: string
      paymentPartyName:
        type: string
      programCode:
        type: string
      relationshipCode:
        type: string

  InvCnReconDTO:
    description: "Object for Invoice Credit Note."
    type: "object"
    properties:
      reconId:
        type: number
      reconTxnRefNo:
        type: string
      invCnReconId:
        type: number
      reconCategory:
        type: string
      reconDate:
        type: string
      branchCode:
        type: string
      reconType:
        type: string
      reconRuleType:
        type: string
      reconRule:
        type: string
      lhsEntity:
        type: string
      rhsEntity:
        type: string
      makerId:
        type: string
      makerDtStamp:
        type: string
      authId:
        type: string
      authDtStamp:
        type: string
      transactionStatus:
        type: string
      reconAction:
        type: string  
      stage:
        type: string
      reconcileBy:
        type: string
      corporateId:
        type: string
      matchSeqNo:
        type: string
      cnNumber:
        type: string
      cnDate:
        type: string
      cnExpiryDate:
        type: string
      cnBuyerCode:
        type: string
      cnBuyerId:
        type: string
      cnSupplierCode:
        type: string
      cnSupplierId:
        type: string
      cnBuyerDivCode:
        type: string
      cnSupplierDivCode:
        type: string
      cnSupplierName:
        type: string
      cnBuyerName:
        type: string
      cnCurrecny:
        type: string
      cnBaseAmount:
        type: number
      netCnAmount:
        type: number
      cnProgramCode:
        type: string
      cnRelationCode:
        type: string
      cnReconStatus:
        type: string
      procBranchCode:
        type: string
      procBranchDate:
        type: string
      cnInternalId:
        type: string
      remarks:
        type: string
      filler1:
        type: string
      filler2:
        type: string
      filler3:
        type: string
      filler4:
        type: string
      filler5:
        type: string
      filler6:
        type: string
      filler7:
        type: string
      filler8:
        type: string
      filler9:
        type: string
      filler10:
        type: string
      intInvRefNo:
        type: string
      invBuyerId:
        type: string
      invBuyerName:
        type: string
      invCcy:
        type: string
      invDate:
        type: string
      invDueDate:
        type: string
      invFinanced:
        type: string
      invOsAmt:
        type: number
      invProgramCode:
        type: string
      invRelationCode:
        type: string
      invSupplierId:
        type: string
      extInvRefNo:
        type: string
      invSupplierName:
        type: string
      invVirtualAccNo:
        type: string
      netInvAmt:
        type: number
      varianceAmount:
        type: number
      accountNumber:
        type: string
      accOwner:
        type: string
      amtMatched:
        type: number
      deReconFlag:
        type: string
      exchRate:
        type: number
      importFactorId:
        type: string
      importFactorName:
        type: string
      insuranceCoId:
        type: string
      insuranceCoName:
        type: string
      extSysRefNo:
        type: string
      isInvAccVa:
        type: string
      isCnAccVa:
        type: string
      linkedDeReconTxnRef:
        type: string
      reconciledCnAmt:
        type: number
      reconStatus:
        type: string
      remitterAccNo:
        type: string
  ReconDataCollection:
    description: recon txn deatails
    type: object
    properties:
      data:
        type: array
        items:
          $ref: '#/definitions/ReconTxnDto'
      paging:
        type: object      
  ReconTxnDto:
    description: each recon txn deatail
    type: object
    properties:
      id:
        type: number
      reconTxnRefNo:
        type: string
      reconCategory:
        type: string
      reconDate:
        type: string
      branchCode:
        type: string
      reconType:
        type: string
      reconRuleType:
        type: string
      reconRule:
        type: string
      lhsEntity:
        type: string
      rhsEntity:
        type: string
      makerId:
        type: string
      makerDtStamp:
        type: string
      authId:
        type: string
      authDtStamp:
        type: string
      transactionStatus:
        type: string
      reconAction:
        type: string
      stage:
        type: string
      corporateId:
        type: string
      allocBasis:
        type: string
      totalAllocatedAmt:
        type: number 
      obReconInvPmtTxnTwDtoList:
        type: array
        items:
          $ref: '#/definitions/ReconInvPmtDto'
      obReconInvCnTxnTwDtoList:
        type: array
        items:
          $ref: '#/definitions/ReconInvCnDto'    
      finPayReconDtoList:
        type: array
        items:
          $ref: '#/definitions/FinPayReconDto'
      expDrCrPayReconDtoList:
        type: array
        items:
          $ref: '#/definitions/ExpDrCrPayReconDto'
      allocPayReconDtoList:
        type: array
        items:
          $ref: '#/definitions/AllocPayReconDto'
  ReconInvPmtDto:
    description: invoice and payment detail
    type: object
    properties:
      id:
        type: number
      reconTxnRefNo:
        type: string
      matchSeqNo:
        type: string
      invBuyerId:
        type: string
      invSupplierId:
        type: string
      invBuyerName:
        type: string
      invSupplierName:
        type: string
      invRelationCode:
        type: string
      extInvRefNo:
        type: string
      intInvRefNo:
        type: string
      invDate:
        type: string
      invDueDate:
        type: string
      netInvAmt:
        type: number
      invCcy:
        type: string
      invVirtualAccNo:
        type: string
      invOsAmt:
        type: number
      invFinanced:
        type: string
      amtMatched:
        type: number
      paymentRefNo:
        type: string
      paymentPartyId:
        type: string
      paymentPartyName:
        type: string
      paymentDate:
        type: string
      paymentMode:
        type: string
      beneCode:
        type: string
      beneName:
        type: string
      paymentAmount:
        type: number
      paymentCcy:
        type: string
      exchRate:
        type: number
      reconciledPmtAmt:
        type: number
      beneVirtualAccNo:
        type: string
      pmtStatus:
        type: string
      reconStatus:
        type: string
      reconDate:
        type: string
      reconcileBy:
        type: string
      extPmtRefNo:
        type: string
      extSysRefNo:
        type: string
      accountNo:
        type: string
      beneficiaryId:
        type: string
      payCounterpartyId:
        type: "string"
      payCounterpartyName:
        type: "string"
      remitterAccNo:
        type: "string"
      dateReferenceBasis:
        type: "string"
      dcIndicator:
        type: "string"
      remarks:
        type: "string"
      pmtProgramCode:
        type: "string"
      pmtRelationshipCode:
        type: "string"
      invProgramCode:
        type: "string"
      accOwner:
        type: "string"
      isInvAccVa:
        type: "string"
      isPmtAccVA:
        type: "string"
      partyPaymentCode:
        type: "string"
      counterpartyCode:
        type: "string"
      allocationRequired:
        type: string
      paymentDueDate:
        type: string
      reconType:
        type: string
      paidAmount:
        type: number
      isPUA: 
        type: string
      isIndirectPayment:
        type: string
      paymentParty:
        type: string
      importFactorId:
        type: string
      importFactorName:
        type: string
      insuranceCoId:
        type: string
      insuranceCoName:
        type: string
      reconPmtAmount:
        type: number
      reconPmtAmountCcy:
        type: string
      varianceAmount:
        type: number    
      corporateId:
        type: string  
      invBaseAmt:
        type: number  
      paymentBusinessDate:
        type: string  
      flag:
        type: string  
      indicator:
        type: string
      allocPayReconDtoList:
        type: array
        items:
          $ref: '#/definitions/AllocPayReconDto'
      invSeqNo:
        type: "integer"
        format: "int64"
      paySeqNo:
        type: "integer"
        format: "int64"
  ReconInvCnDto:
    description: invoice and credit note detail
    type: object
    properties:
      id:
        type: number   
      seqNo:
        type: number
      reconType:
        type: string          
      cnNumber:
        type: string
      cnDate:
        type: string	
      cnExpiryDate:
        type: string
      cnRelationCode:
        type: string  	
      cnBuyerCode: 
        type: string
      cnBuyerId:
        type: string
      cnSupplierCode:
        type: string
      cnSupplierId:
        type: string
      cnBuyerDivCode:
        type: string 	
      cnSupplierDivCode:
        type: string 	
      cnSupplierName:
        type: string 
      cnBuyerName:
        type: string 
      cnCurrency:
        type: string 	
      cnBaseAmount:
        type: number
      netCnAmount:
        type: number
      cnProgramCode:
        type: string 
      cnReconStatus:
        type: string      	
      procBranchCode:
        type: string 
      procBranchDate:
        type: string 
      cnInternalId:
        type: string 
      remarks:
        type: string 
      filler1:
        type: string 
      filler2:
        type: string 
      filler3:
        type: string
      filler4:
        type: string
      filler5:
        type: string
      filler6:
        type: string
      filler7:
        type: string
      filler8:
        type: string
      filler9:
        type: string
      filler10:
        type: string
      intInvRefNo:
        type: string	
      invBuyerId:
        type: string
      invBuyerName:
        type: string
      invCcy:
        type: string	
      invDate:
        type: string	
      invDueDate:
        type: string
      invFinanced:
        type: string
      invOsAmt:
        type: number
      invProgramCode:
        type: string
      invRelationCode:
        type: string
      invSupplierId:
        type: string
      extInvRefNo:
        type: string
      invSupplierName:
        type: string
      invVirtualAccNo:
        type: string
      netInvAmt:
        type: number
      varianceAmount:
        type: number
      accountNumber:
        type: string
      accountOwner:
        type: string
      amtMatched:
        type: number
      corporateId:
        type: string
      deReconFlag:
        type: string
      exchRate:
        type: number
      importFactorId:
        type: string 
      importFactorName:
        type: string
      insuranceCoId:
        type: string
      insuranceCoName:
        type: string 
      extSysRefNo:
        type: string
      isInvAccVa:
        type: string
      isCnAccVa:
        type: string 
      linkedDeReconTxnRef:
        type: string 
      reconciledCnAmt:
        type: number
      reconDate:
        type: string   
      reconStatus:
        type: string  
      reconTxnRefNo:
        type: string 
      remitterAccNo:
        type: string
      invSeqNo:
        type: integer
        format: int64	
      cnSeqNo:
        type: integer
        format: int64
      paymentParty:
        type: string																							 	 		 	 							 	     
      invBaseAmt:
        type: number
      paymentDueDate:
        type: string
  FinPayReconDto:
    description: "Object for Finance Payment Recon."
    type: "object"
    properties:
      id:
        type: number
      reconTxnRefNo:
        type: string
      matchSeqNo:
        type: string
      finBuyerId:
        type: string
      finSupplierId:
        type: string
      finBuyerName:
        type: string
      finSupplierName:
        type: string
      finProgramCode:
        type: string
      finRefNo:
        type: string
      finSeqNo:
        type: string
      finStartDt:
        type: string
      finEndDt:
        type: string
      finPastDueDt:
        type: string
      finCcy:
        type: string
      finAmt:
        type: number
      finOsAmt:
        type: number
      intOsAmt:
        type: number
      penIntOsAmt:
        type: number
      overdueIntOsAmt:
        type: number
      totIntOsAmt:
        type: number
      amtMatched:
        type: number
      paymentRefNo:
        type: string
      paymentPartyId:
        type: string
      paymentPartyName:
        type: string
      paymentDate:
        type: string
      paymentMode:
        type: string
      beneCode:
        type: string
      beneName:
        type: string
      paymentAmount:
        type: number
      paymentCcy:
        type: string
      exchRate:
        type: number
      reconciledPmtAmt:
        type: number
      beneVirtualAccNo:
        type: string
      pmtStatus:
        type: string
      reconStatus:
        type: string
      reconDate:
        type: string
      reconcileBy:
        type: string
      paySeqNo:
        type: "integer"
        format: "int64"
      anchorId:
        type: string
      anchorName:
        type: string
      counterpartyId:
        type: string
      counterpartyName:
        type: string
      allocationStatus:
        type: boolean
        description: "Allocation Status"
      allocationRequired:
        type: string
        description: "Allocation Required"
      allocPayReconDtoList:
        type: array
        items:
          $ref: '#/definitions/AllocPayReconDto'
      pmtProgramCode:
        type: string
  ExpDrCrPayReconDto:
    description: "Object for ExpectedDebitCredit Payment Recon."
    type: "object"
    properties:
      id:
        type: number
      reconTxnRefNo:
        type: string
      matchSeqNo:
        type: string
      expDrcrCcy:
        type: string
      expDrcrVirtualAccNo:
        type: string
      amtMatched:
        type: number
      payCounterpartyId:
        type: string
      payCounterpartyName:
        type: string
      paymentPartyId:
        type: string
      paymentPartyName:
        type: string
      paymentMode:
        type: string
      beneCode:
        type: string
      beneName:
        type: string
      paymentCcy:
        type: string
      exchRate:
        type: number
      reconciledPmtAmt:
        type: number
      beneVirtualAccNo:
        type: string
      pmtStatus:
        type: string
      reconStatus:
        type: string
      reconDate:
        type: string
      expDrcrCodeDesc:
        type: string
      expDrcrIndicator:
        type: string
      expDrcrBankAccNumber:
        type: string
      expDrcrNarration:
        type: string
      expDrcrAmt:
        type: number
      expectedNetInvAmt:
        type: number
      expDrcrDate:
        type: string
      revisedDrcrDate:
        type: string
      paymentDate:
        type: string
      paymentAmount:
        type: number
      expDrcrCode:
        type: string
      externalAccNo:
        type: string
      expDrcrRefNo:
        type: string
      paymentRefNo:
        type: string
      externalPmtRefNo:
        type: string
      externalDrcrRefNo:
        type: string
      corporateId:
        type: string
      corporateName:
        type: string
      counterpartyId:
        type: string
      counterpartyName:
        type: string
      extSysRefNo:
        type: string
      cashflowType:
        type: string
      actualDate:
        type: string
      channel:
        type: string
      applicationName:
        type: string
      udfTxt1:
       type: string
      udfTxt2:
       type: string
      udfTxt3:
       type: string
      udfTxt4:
       type: string
      udfTxt5:
       type: string
      udfTxt6:
       type: string
      udfTxt7:
       type: string
      udfTxt8:
       type: string
      udfTxt9:
       type: string
      udfTxt10:
       type: string
      remitterAccNo:
       type: string
      dcIndicator:
       type: string
      accOwner:
       type: string
      isPmtAccVA:
       type: string 
      partyName:
       type: string
      customerRefNo:
        type: string
      remarks:
        type: string
      reconType:
        type: string
      allocationRequired:
        type: string
      beneficiaryId:
        type: string
      payCounterpartyCode:
        type: string
      partyPaymentCode:
        type: string
      pmtRelationshipCode:
        type: string
      pmtProgramCode:
        type: string
      paymentBusinessDate:
        type: string
      flag:
        type: string
      allocPayReconDtoList:
        type: array
        items:
          $ref: '#/definitions/AllocPayReconDto'
      paySeqNo:
        type: "integer"
        format: "int64"
  AllocPayReconDto:
    description: "Object for Allocation Payment "
    type: "object"
    properties:
      id:
        type: number
      reconType:
        type: string
      reconTxnRefNo:
        type: string
      allocVirtualAccNo:
        type: string
      allocEntity:
        type: string
      allocAttributes:
        type: string
      allocStatus:
        type: string
      allocatedAmt:
        type: number            
      allocationPct:
        type: number            
      pmtAllocatedAmt:
        type: number 
      obvamRefNo:
        type: string
      corporateId:
        type: string
      corporateName:
        type: string
      counterpartyId:
        type: string
      counterpartyName:
        type: string
      obdxRefNo:
        type: string
      beneficiaryId:
        type: string
      beneficiaryName:
        type: string
      paymentPartyId:
        type: string            
      paymentDate:
        type: string
      paymentMode:
        type: string
      beneCode:
        type: string
      paymentAmount:
        type: number
      paymentCcy:
        type: string 
      reconciledPmtAmt:
        type: number
      beneVirtualAccNo:
        type: string
      pmtReconStatus:
        type: string
      pmtAllocationStatus:
        type: string
      reconAction:
        type: string
      reconDate:
        type: string
      extPmtRefNo:
        type: string
      paymentRefNo:
        type: string
      remitterAccNo:
        type: string
      creditAccNo:
        type: string
      dcIndicator:
        type: string    
      reconId:
        type: string
      isPmtAccVA:
        type: string
      counterpartyCode:
        type: string
      partyPaymentCode:
        type: string
      beneficiaryCode:
        type: string
      accOwner:
        type: string
      allocBasis:   
        type: string
      paymentPartyName:
        type: string 
      remarks:
        type: string
      relationshipCode:
        type: string
      programCode:
        type: string
      paySeqNo:
        type: "integer"
        format: "int64"
      pmtUnallocatedAmt:
        type: number
      pmtUnmatchedAmt:
        type: number
      paymentBusinessDate:
        type: string
      flag:
        type: string