swagger: "2.0"
info:
  description: "This is a sample server Report Service server.  You can find out more about Swagger at [swagger.io](http://swagger.io) and about data types at [Swagger Data Types](https://swagger.io/docs/specification/data-models/data-types/)"
  version: "1.0.0"
  title: "Recon Dashboard Web"
host: "api-plato.us.oracle.com:8080"
basePath: "/obscfcm-report-services"
consumes:
  - "application/json"
  - "application/xml"
produces:
  - "application/json"
  - "application/xml"
tags:
  - name: "reconDashboardService"
    description: "APIs for Recon Dashboards"
    
schemes:
- "https"

paths: 
   /web/v1/getInvoiceReconCategoryList:   
    get:
      tags:
       - "reconDashboardService"
      summary: Get different category list of Recon for given period.
      description: This will display the data in following categories (UnReconciled, Auto Reconciled, Partially Reconciled, Manually Reconciled)
      operationId: getInvoiceReconCategoryList
      parameters:
      - name: "appId"
        in: "header"
        type: "string"
        required: true
        description: Application id        
      - name: "userId"
        in: "header"
        type: "string"
        required: true
        description: user id
      - name: "branchCode"
        in: "header"
        type: "string"
        required: true
        description: Branch Code
      - name: "fromDate"
        in: "query"
        type: "string"
        required: false
        description: Start Date of period
      - name: "toDate"
        in: "query"
        type: "string"
        required: false
        description: End Date of period
      - name: "corporateId"
        in: "query"
        type: "string"
        required: false
        description: Corporate ID
      responses:
        201:   
          description: "Successfully received recon category details"
          schema:
            $ref: "#/definitions/ReconCategoryResponseDto"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
   /web/v1/getInvoiceReconTrendGraphList:   
    get:
      tags:
       - "reconDashboardService"
      summary: Get different trend graph list of Recon for given period.
      description: This will display the trend graph of following categories (UnReconciled, Auto Reconciled, Partially Reconciled, Manually Reconciled)
      operationId: getInvoiceReconTrendGraphList
      parameters:
      - name: "appId"
        in: "header"
        type: "string"
        required: true
        description: Application id        
      - name: "userId"
        in: "header"
        type: "string"
        required: true
        description: user id
      - name: "branchCode"
        in: "header"
        type: "string"
        required: true
        description: Branch Code
      - name: "fromDate"
        in: "query"
        type: "string"
        required: false
        description: Start Date of period
      - name: "toDate"
        in: "query"
        type: "string"
        required: false
        description: End Date of period
      - name: "corporateId"
        in: "query"
        type: "string"
        required: false
        description: Corporate ID 
      responses:
        201:   
          description: "Successfully received recon trend graph details"
          schema:
            $ref: "#/definitions/ReconTrendGraphResponseDto"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
   /web/v1/getCashFlowReconCategoryList:   
    get:
      tags:
       - "reconDashboardService"
      summary: Get different category list of Recon for given period.
      description: This will display the data in following categories (UnReconciled, Auto Reconciled, Partially Reconciled, Manually Reconciled)
      operationId: getCashFlowReconCategoryList
      parameters:
      - name: "appId"
        in: "header"
        type: "string"
        required: true
        description: Application id        
      - name: "userId"
        in: "header"
        type: "string"
        required: true
        description: user id
      - name: "branchCode"
        in: "header"
        type: "string"
        required: true
        description: Branch Code
      - name: "fromDate"
        in: "query"
        type: "string"
        required: false
        description: Start Date of period
      - name: "toDate"
        in: "query"
        type: "string"
        required: false
        description: End Date of period
      - name: "corporateId"
        in: "query"
        type: "string"
        required: false
        description: Corporate ID
      responses:
        201:   
          description: "Successfully received recon category details"
          schema:
            $ref: "#/definitions/ReconCategoryResponseDto"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
   /web/v1/getCashFlowReconTrendGraphList:   
    get:
      tags:
       - "reconDashboardService"
      summary: Get different trend graph list of Recon for given period.
      description: This will display the trend graph of following categories (UnReconciled, Auto Reconciled, Partially Reconciled, Manually Reconciled)
      operationId: getCashFlowReconTrendGraphList
      parameters:
      - name: "appId"
        in: "header"
        type: "string"
        required: true
        description: Application id        
      - name: "userId"
        in: "header"
        type: "string"
        required: true
        description: user id
      - name: "branchCode"
        in: "header"
        type: "string"
        required: true
        description: Branch Code
      - name: "fromDate"
        in: "query"
        type: "string"
        required: false
        description: Start Date of period
      - name: "toDate"
        in: "query"
        type: "string"
        required: false
        description: End Date of period
      - name: "corporateId"
        in: "query"
        type: "string"
        required: false
        description: Corporate ID
      responses:
        201:   
          description: "Successfully received recon trend graph details"
          schema:
            $ref: "#/definitions/ReconTrendGraphResponseDto"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
          
   /web/v1/getInvoiceReconTopCorporateList:   
    get:
      tags:
       - "reconDashboardService"
      summary: Get top corporate count and details of Recon for given period.
      description: This will display the trend graph of following categories (UnReconciled, Auto Reconciled, Partially Reconciled, Manually Reconciled)
      operationId: getInvoiceReconTopCorporateList
      parameters:
      - name: "appId"
        in: "header"
        type: "string"
        required: true
        description: Application id        
      - name: "userId"
        in: "header"
        type: "string"
        required: true
        description: user id
      - name: "branchCode"
        in: "header"
        type: "string"
        required: true
        description: Branch Code
      - name: "fromDate"
        in: "query"
        type: "string"
        required: false
        description: Start Date of period
      - name: "toDate"
        in: "query"
        type: "string"
        required: false
        description: End Date of period
      - name: "reconCetegory"
        in: "query"
        type: "string"
        required: false
        description: Recon Category
      - name: "trendlineFlag"
        in: "query"
        type: "string"
        required: false
        description: Trendline Flag
      - name: "trendlineDate"
        in: "query"
        type: "string"
        required: false
        description: Date on Trendline
      - name: "corporateId"
        in: "query"
        type: "string"
        required: false
        description: Corporate ID
      responses:
        201:   
          description: "Successfully received recon corporate details"
          schema:
            $ref: "#/definitions/ReconTopCorporateResponseDto"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
   /web/v1/getFinanceReconTopCorporateList:   
    get:
      tags:
       - "reconDashboardService"
      summary: Get top corporate count and details of Recon for given period.
      description: This will display the trend graph of following categories (UnReconciled, Auto Reconciled, Partially Reconciled, Manually Reconciled)
      operationId: getFinanceReconTopCorporateList
      parameters:
      - name: "appId"
        in: "header"
        type: "string"
        required: true
        description: Application id        
      - name: "userId"
        in: "header"
        type: "string"
        required: true
        description: user id
      - name: "branchCode"
        in: "header"
        type: "string"
        required: true
        description: Branch Code
      - name: "fromDate"
        in: "query"
        type: "string"
        required: false
        description: Start Date of period
      - name: "toDate"
        in: "query"
        type: "string"
        required: false
        description: End Date of period
      - name: "reconCetegory"
        in: "query"
        type: "string"
        required: false
        description: Recon Category
      - name: "trendlineFlag"
        in: "query"
        type: "string"
        required: false
        description: Trendline Flag
      - name: "trendlineDate"
        in: "query"
        type: "string"
        required: false
        description: Date on Trendline
      - name: "corporateId"
        in: "query"
        type: "string"
        required: false
        description: Corporate ID
      responses:
        201:   
          description: "Successfully received recon corporate details"
          schema:
            $ref: "#/definitions/ReconTopCorporateResponseDto"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"

   /web/v1/getAllocationReconTopCorporateList:   
    get:
      tags:
       - "reconDashboardService"
      summary: Get top corporate count and details of Recon for given period.
      description: This will display the trend graph of following categories (UnReconciled, Auto Reconciled, Partially Reconciled, Manually Reconciled)
      operationId: getAllocationReconTopCorporateList
      parameters:
      - name: "appId"
        in: "header"
        type: "string"
        required: true
        description: Application id        
      - name: "userId"
        in: "header"
        type: "string"
        required: true
        description: user id
      - name: "branchCode"
        in: "header"
        type: "string"
        required: true
        description: Branch Code
      - name: "fromDate"
        in: "query"
        type: "string"
        required: false
        description: Start Date of period
      - name: "toDate"
        in: "query"
        type: "string"
        required: false
        description: End Date of period
      - name: "reconCetegory"
        in: "query"
        type: "string"
        required: false
        description: Recon Category
      - name: "trendlineFlag"
        in: "query"
        type: "string"
        required: false
        description: Trendline Flag
      - name: "trendlineDate"
        in: "query"
        type: "string"
        required: false
        description: Date on Trendline
      - name: "corporateId"
        in: "query"
        type: "string"
        required: false
        description: Corporate ID
      responses:
        201:   
          description: "Successfully received recon corporate details"
          schema:
            $ref: "#/definitions/ReconTopCorporateResponseDto"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
 
   /web/v1/getCashflowReconTopCorporateList:   
    get:
      tags:
       - "reconDashboardService"
      summary: Get CashflowReconTopCorporateList.
      description: Get CashflowReconTopCorporateList (UnReconciled, Auto Reconciled, Partially Reconciled, Manually Reconciled)
      operationId: getCashflowReconTopCorporateList
      parameters:
      - name: "appId"
        in: "header"
        type: "string"
        required: true
        description: Application id        
      - name: "userId"
        in: "header"
        type: "string"
        required: true
        description: user id
      - name: "branchCode"
        in: "header"
        type: "string"
        required: true
        description: Branch Code
      - name: "fromDate"
        in: "query"
        type: "string"
        required: false
        description: Start Date of period
      - name: "toDate"
        in: "query"
        type: "string"
        required: false
        description: End Date of period
      - name: "reconCetegory"
        in: "query"
        type: "string"
        required: false
        description: Recon Category
      - name: "trendlineFlag"
        in: "query"
        type: "string"
        required: false
        description: Trendline Flag
      - name: "trendlineDate"
        in: "query"
        type: "string"
        required: false
        description: Date on Trendline
      - name: "corporateId"
        in: "query"
        type: "string"
        required: false
        description: Corporate ID
      responses:
        201:   
          description: "Successfully received recon corporate details"
          schema:
            $ref: "#/definitions/ReconTopCorporateResponseDto"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
                   
   /web/v1/getFinanceReconCategoryList:   
    get:
      tags:
       - "reconDashboardService"
      summary: Get different category list of Recon for given period.
      description: This will display the data in following categories (UnReconciled, Auto Reconciled, Partially Reconciled, Manually Reconciled)
      operationId: getFinanceReconCategoryList
      parameters:
      - name: "appId"
        in: "header"
        type: "string"
        required: true
        description: Application id        
      - name: "userId"
        in: "header"
        type: "string"
        required: true
        description: user id
      - name: "branchCode"
        in: "header"
        type: "string"
        required: true
        description: Branch Code
      - name: "fromDate"
        in: "query"
        type: "string"
        required: false
        description: Start Date of period
      - name: "toDate"
        in: "query"
        type: "string"
        required: false
        description: End Date of period
      - name: "corporateId"
        in: "query"
        type: "string"
        required: false
        description: Corporate ID
      responses:
        201:   
          description: "Successfully received recon category details"
          schema:
            $ref: "#/definitions/ReconCategoryResponseDto"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
   /web/v1/getFinanceReconTrendGraphList:   
    get:
      tags:
       - "reconDashboardService"
      summary: Get different trend graph list of Recon for given period.
      description: This will display the trend graph of following categories (UnReconciled, Auto Reconciled, Partially Reconciled, Manually Reconciled)
      operationId: getFinanceReconTrendGraphList
      parameters:
      - name: "appId"
        in: "header"
        type: "string"
        required: true
        description: Application id        
      - name: "userId"
        in: "header"
        type: "string"
        required: true
        description: user id
      - name: "branchCode"
        in: "header"
        type: "string"
        required: true
        description: Branch Code
      - name: "fromDate"
        in: "query"
        type: "string"
        required: false
        description: Start Date of period
      - name: "toDate"
        in: "query"
        type: "string"
        required: false
        description: End Date of period
      - name: "corporateId"
        in: "query"
        type: "string"
        required: false
        description: Corporate ID
      responses:
        201:   
          description: "Successfully received recon trend graph details"
          schema:
            $ref: "#/definitions/ReconTrendGraphResponseDto"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
   /web/v1/getAllocationReconCategoryList:   
    get:
      tags:
       - "reconDashboardService"
      summary: Get different category list of Recon for given period.
      description: This will display the data in following categories (UnReconciled, Auto Reconciled, Partially Reconciled, Manually Reconciled)
      operationId: getAllocationReconCategoryList
      parameters:
      - name: "appId"
        in: "header"
        type: "string"
        required: true
        description: Application id        
      - name: "userId"
        in: "header"
        type: "string"
        required: true
        description: user id
      - name: "branchCode"
        in: "header"
        type: "string"
        required: true
        description: Branch Code
      - name: "fromDate"
        in: "query"
        type: "string"
        required: false
        description: Start Date of period
      - name: "toDate"
        in: "query"
        type: "string"
        required: false
        description: End Date of period
      - name: "corporateId"
        in: "query"
        type: "string"
        required: false
        description: Corporate ID
      responses:
        201:   
          description: "Successfully received recon category details"
          schema:
            $ref: "#/definitions/ReconCategoryResponseDto"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
   /web/v1/getAllocationReconTrendGraphList:   
    get:
      tags:
       - "reconDashboardService"
      summary: Get different trend graph list of Recon for given period.
      description: This will display the trend graph of following categories (UnReconciled, Auto Reconciled, Partially Reconciled, Manually Reconciled)
      operationId: getAllocationReconTrendGraphList
      parameters:
      - name: "appId"
        in: "header"
        type: "string"
        required: true
        description: Application id        
      - name: "userId"
        in: "header"
        type: "string"
        required: true
        description: user id
      - name: "branchCode"
        in: "header"
        type: "string"
        required: true
        description: Branch Code
      - name: "fromDate"
        in: "query"
        type: "string"
        required: false
        description: Start Date of period
      - name: "toDate"
        in: "query"
        type: "string"
        required: false
        description: End Date of period
      - name: "corporateId"
        in: "query"
        type: "string"
        required: false
        description: Corporate ID
      responses:
        201:   
          description: "Successfully received recon trend graph details"
          schema:
            $ref: "#/definitions/ReconTrendGraphResponseDto"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
   /web/v1/getReconciliationTrendGraphList:   
    get:
      tags:
       - "reconDashboardService"
      summary: Get different trend graph list of Recon for given period.
      description: This will display the trend graph of following categories (UnReconciled, Auto Reconciled, Partially Reconciled, Manually Reconciled)
      operationId: getReconciliationTrendGraphList
      parameters:
      - name: "appId"
        in: "header"
        type: "string"
        required: true
        description: Application id        
      - name: "userId"
        in: "header"
        type: "string"
        required: true
        description: user id
      - name: "branchCode"
        in: "header"
        type: "string"
        required: true
        description: Branch Code
      - name: "fromDate"
        in: "query"
        type: "string"
        required: false
        description: Start Date of period
      - name: "toDate"
        in: "query"
        type: "string"
        required: false
        description: End Date of period
      - name: "corporateId"
        in: "query"
        type: "string"
        required: false
        description: Corporate ID
      responses:
        201:   
          description: "Successfully received Reconciliation Trend graph list"
          schema:
            $ref: "#/definitions/ReconTrendGraphResponseDto"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"   
   /web/v1/getReconciliationTopCorporateList:   
    get:
      tags:
       - "reconDashboardService"
      summary: Get CashflowReconTopCorporateList.
      description: Get ReconciliationTopCorporateList (Auto Reconciled, Partially Reconciled, Manually Reconciled)
      operationId: getReconciliationTopCorporateList
      parameters:
      - name: "appId"
        in: "header"
        type: "string"
        required: true
        description: Application id        
      - name: "userId"
        in: "header"
        type: "string"
        required: true
        description: user id
      - name: "branchCode"
        in: "header"
        type: "string"
        required: true
        description: Branch Code
      - name: "fromDate"
        in: "query"
        type: "string"
        required: false
        description: Start Date of period
      - name: "toDate"
        in: "query"
        type: "string"
        required: false
        description: End Date of period
      - name: "reconType"
        in: "query"
        type: "string"
        required: false
        description: Recon Type Request
      - name: "trendlineFlag"
        in: "query"
        type: "string"
        required: false
        description: Trendline Flag
      - name: "trendlineDate"
        in: "query"
        type: "string"
        required: false
        description: Date on Trendline
      - name: "corporateId"
        in: "query"
        type: "string"
        required: false
        description: Corporate ID
      responses:
        201:   
          description: "Successfully received recon corporate details"
          schema:
            $ref: "#/definitions/ReconTopCorporateResponseDto"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
          
definitions:
  ReconCategoryResponseDto:
    type: object
    properties:
      categoryPercentage:
        type: array
        items:
          $ref: "#/definitions/CategoryPercentageDto"
      messages:
        type: array
        items:
          $ref: "#/definitions/Messages"
  CategoryPercentageDto:
    description: This will store the percentage of the recon of Invoice, Finance, Cashflow and Allocation.
    type: object
    properties:
      id:
        type: "number"
      series:
        type: "string"
      group:
        type: "string"
      value:
        type: "number"
  Messages:
    description: This will store the error response.
    type: object
    properties:
      errorCode:
        type: "string"
      errorMessage:
        type: "string"
      httpStatus:
        type: "string"
  TopManualAndAutoReconCorporateList:
    description: "Top 5 corporate names for Manual and Auto Recon"
    type: "object"
    properties:
     corporateNames:
        description: "Top 5 defaulters of previous month"
        type: "array"
        items:
          $ref: "#/definitions/CorporateNameList"
  CorporateNameList:
    description: "Gives Count of Top 5 corporate names for Manual and Auto Recon"
    type: object
    properties:
      corporateName:
        type: "string"
      count:
        type: number
  ReconTrendGraphResponseDto:
    type: object
    properties:
      categoryCount:
        type: array
        items:
          $ref: "#/definitions/TrendGraphCountDto"
      messages:
        type: array
        items:
          $ref: "#/definitions/Messages"
  TrendGraphCountDto:
    description: This will store the trend graph count of the recon of Invoice, Finance, Cashflow and Allocation.
    type: object
    properties:
      id:
        type: "number"
      series:
        type: "string"
      month:
        type: "string"
      year:
        type: "string"
      date:
        type: "string"
      value:
        type: "number"
  ReconTopCorporateResponseDto:
    type: object
    properties:
      corporateCount:
        type: array
        items:
          $ref: "#/definitions/CorporateMasterDto"
      messages:
        type: array
        items:
          $ref: "#/definitions/Messages"
  CorporateMasterDto:
    description: This will store the count and array of details of recon data.
    type: object
    properties:
      id:
        type: "number"
      series:
        type: "string"
      corporateName:
        type: "string"
      corporateID:
        type: "string"
      count:
        type: "number"  
      corporateDetails:
        type: array
        items:
          $ref: "#/definitions/CorporateDetailsDto"   
  CorporateDetailsDto:
    description: This will store the details of recon data.
    type: object
    properties:
      id:
        type: "number"
      corporateName:
        type: "string"
      corporateID:
        type: "string"
      paymentInLCY:
        type: "number" 
      paymentAmount:
        type: "number"    
      amountReconciled:
        type: "number"  
      amountNotReconciled:
        type: "number"
      paymentCCY:
        type: "string"
      pmtStatus:
        type: "string"
      reconAction:
        type: "string"
      reconCategory:
        type: "string"
      cashflowType:
        type: "string"
      buyerName:
        type: "string"
      buyerId:
        type: "string"
      supplierName:
        type: "string"
      supplierId:
        type: "string"
      dcIndicator:
        type: "string"
      paymentNo:
        type: "string"
      paymentTowards:
        type: "string"
      allocationStatus:
        type: "string"
      paymentStatus:
        type: "string"
        
  ReconCorporateDetailsResponseDto:
    type: object
    properties:
      corporateCount:
        type: array
        items:
          $ref: "#/definitions/CorporateDetailsDto"