swagger: "2.0"
info:
  description: "This is a sample server Report Service server.  You can find out more about Swagger at [swagger.io](http://swagger.io) and about data types at [Swagger Data Types](https://swagger.io/docs/specification/data-models/data-types/)"
  version: "1.0.0"
  title: "Report Service"
host: "api-plato.us.oracle.com:8080"
basePath: "/obscfcm-report-services"
consumes:
  - "application/json"
  - "application/xml"
produces:
  - "application/json"
  - "application/xml"
tags:
  - name: "reportCreationService"
    description: "APIs for report related operations"
    
schemes:
- "https"

paths: 
   /web/v1/raisedInvoices:   
    get:
      tags:
       - "reportCreationService"
      summary: Get financed & non-financed invoice amounts for given period.
      description: Get financed & non-financed invoice amounts for given period. If dates are not mentioned, it will be 6 months prior to CBD.
      operationId: getRaisedInvoices
      parameters:
      - name: "appId"
        in: "header"
        type: "string"
        required: true
        description: Application id        
      - name: "userId"
        in: "header"
        type: "string"
        required: true
        description: user id
      - name: "branchCode"
        in: "header"
        type: "string"
        required: true
        description: Branch Code
      - name: "fromDate"
        in: "query"
        type: "string"
        required: false
        description: Start Date of period
      - name: "toDate"
        in: "query"
        type: "string"
        required: false
        description: End Date of period
      - name: "currency"
        in: "query"
        type: "string"
        required: false
        description: Currency in which data needs to be sent    
      responses:
        201:   
          description: "Successfully received borrower details"
          schema:
            $ref: "#/definitions/RaisedInvoicesResponseDto"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
   
   /web/v1/raisedInvoiceDetails:   
    get:
      tags:
       - "reportCreationService"
      summary: Get raised invoices details for given period.
      description: Get raised invoices details for given period.
      operationId: getRaisedInvoiceDetails
      parameters:
      - name: "appId"
        in: "header"
        type: "string"
        required: true
        description: Application id        
      - name: "userId"
        in: "header"
        type: "string"
        required: true
        description: user id
      - name: "branchCode"
        in: "header"
        type: "string"
        required: true
        description: Branch Code
      - name: "fromDate"
        in: "query"
        type: "string"
        required: true
        description: Start Date of period
      - name: "toDate"
        in: "query"
        type: "string"
        required: true
        description: End Date of period    
      - name: "isFinanced"
        in: "query"
        type: "string"
        required: true
      - name: "currency"
        in: "query"
        type: "string"
        required: false
        description: Currency in which data needs to be sent
      responses:
        201:   
          description: "Successfully received borrower details"
          schema:
            $ref: "#/definitions/RaisedInvoiceDetailsResponseDto"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
                         
   /web/v1/businessTrend:   
    get:
      tags:
       - "reportCreationService"
      summary: Get invoices raised in last 6 months, to showcase business volume trend.
      description: Get all invoices raised in last 6 months. It will be month wise with Receivable, Payment and Total amount details till current business date to visualize business volume trend.
      operationId: getBusinessTrend
      parameters:
      - name: "appId"
        in: "header"
        type: "string"
        required: true
        description: Application id        
      - name: "userId"
        in: "header"
        type: "string"
        required: true
        description: user id
      - name: "branchCode"
        in: "header"
        type: "string"
        required: true
        description: Branch Code    
      responses:
        201:   
          description: "Successfully received all invoices details for last 6 months"
          schema:
            $ref: "#/definitions/BusinessTrendResponseDto"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
         
   /web/v1/agingInvoiceDetails:   
    get:
      tags:
       - "reportCreationService"
      summary: Get aging invoice details for a given slab.
      description: Get aging invoice details for a given slab.
      operationId: getAgingInvoiceDetails
      parameters:
      - name: "appId"
        in: "header"
        type: "string"
        required: true
        description: Application id        
      - name: "userId"
        in: "header"
        type: "string"
        required: true
        description: user id
      - name: "branchCode"
        in: "header"
        type: "string"
        required: true
        description: Branch Code
      - name: "fromDate"
        in: "query"
        type: "string"
        required: false
        description: From Invoice Due Date
      - name: "toDate"
        in: "query"
        type: "string"
        required: false
        description: To Invoice Due Date
      responses:
        201:   
          description: "Successfully received all invoices aging time period"
          schema:
            $ref: "#/definitions/AgingInvoiceDetailsResponseDto"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error" 
   
   /web/v1/invoiceInquiry:   
    get:
      tags:
       - "reportCreationService"
      summary: Get aging invoice details for a given slab.
      description: Get aging invoice details for a given slab.
      operationId: getInvoices
      parameters:
      - name: "appId"
        in: "header"
        type: "string"
        required: true
        description: Application id        
      - name: "userId"
        in: "header"
        type: "string"
        required: true
        description: user id
      - name: "branchCode"
        in: "header"
        type: "string"
        required: true
        description: Branch Code
      - name: "fromDueDate"
        in: "query"
        type: "string"
        required: false
        description: From Invoice Due Date
      - name: "toDueDate"
        in: "query"
        type: "string"
        required: false
        description: To Invoice Due Date
      - name: "fromDate"
        in: "query"
        type: "string"
        required: false
        description: From Invoice Date
      - name: "toDate"
        in: "query"
        type: "string"
        required: false
        description: To Invoice Date
      - name: "corporateId"
        in: "query"
        type: "string"
        required: true
        description: Corporate Id
      responses:
        201:   
          description: "Successfully received all invoice details for given slab & corporate"
          schema:
            $ref: "#/definitions/InvoiceDetailsResponseDto"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
          
   /web/v1/agingInvoices:   
    get:
      tags:
       - "reportCreationService"
      summary: Get aging invoice outstanding amounts for different time period slabs.
      description: Get outstanding amount of invoices aging in different time period slabs, it will have overdue invoices as well.
      operationId: getAgingInvoices
      parameters:
      - name: "appId"
        in: "header"
        type: "string"
        required: true
        description: Application id        
      - name: "userId"
        in: "header"
        type: "string"
        required: true
        description: user id
      - name: "branchCode"
        in: "header"
        type: "string"
        required: true
        description: Branch Code    
      responses:
        201:   
          description: "Successfully received all invoices aging time period"
          schema:
            $ref: "#/definitions/AgingInvoicesResponseDto"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
          
   /web/v1/overdueAgingInvoices: 
    get:
      tags:
       - "reportCreationService"  
      summary: Get overdue invoice aging for different time slabs.
      description:  Get overdue invoice aging for different time slabs.
      operationId: getOverdueAgingInvoices
      parameters:
      - name: "appId"
        in: "header"
        type: "string"
        required: true
        description: Application id        
      - name: "userId"
        in: "header"
        type: "string"
        required: true
        description: user id
      - name: "branchCode"
        in: "header"
        type: "string"
        required: true
        description: Branch Code     
      responses:
        201:   
          description: "Successfully received borrower details"
          schema:
            $ref: "#/definitions/AgingInvoicesResponseDto"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"        
          
   /web/v1/payableReceivables: 
    get:
      tags:
       - "reportCreationService"  
      summary: Get payable/receivable details for top 10 customers
      description:  Get payable/receivable details for top 10 customers
      operationId: getPayableReceivables
      parameters:
      - name: "appId"
        in: "header"
        type: "string"
        required: true
        description: Application id        
      - name: "userId"
        in: "header"
        type: "string"
        required: true
        description: user id
      - name: "branchCode"
        in: "header"
        type: "string"
        required: true
        description: Branch Code     
      responses:
        201:   
          description: "Successfully received Payable Receivable details"
          schema:
            $ref: "#/definitions/PayableReceivableResponseDto"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"  
          
definitions:

  BusinessTrendDetails:
    description: Invoice details for last 6 months.
    type: object
    properties:
      month:
        type: "string"
      receivableAmount:
        type: "number"
      payableAmount:
        type: "number"
      totalAmount:
        type: "number"
  BusinessTrendResponseDto:
    description: Response DTO for data of business volume trend
    type: object
    properties:
      businessTrend:
        type: array
        items:
          $ref: "#/definitions/BusinessTrendDetails"       
      currency:
        type: "string"
        
  AgingInvDetails:
    description: Aging of invoices for each time slabs
    type: object
    properties:
      slab:
        type: "string"
      fromDate:
        type: "string"
      toDate:
        type: "string"
      outstandingAmount:
        type: "number"
        
  AgingInvoicesResponseDto:
    description: Response DTO for Aging Invoices Dashboard
    type: object
    properties:
      agingInvoices:
        type: array
        items:
          $ref: "#/definitions/AgingInvDetails" 
      overdueAgingInvoices:
        type: array
        items:
          $ref: "#/definitions/AgingInvDetails"
      currency:
        type: "string"   
  
  InvoiceDetailsResponseDto:
    description: Response DTO for Aging Invoices Dashboard
    type: object
    properties:
      invoices:
        type: array
        items:
          $ref: "#/definitions/InvoiceDetailsDto"
  
  InvoiceDetailsDto:
    description: Response DTO for Aging Invoices Dashboard
    type: object
    properties:
      invoiceId:
        type: string
      invoiceNumber:
        type: string
      invoiceDueDate:
        type: string
      currency:
        type: string
      amount:
        type: number
      buyerId:
        type: string
      buyerName:
        type: string
      supplierId:
        type: string
      supplierName:
        type: string
      programCode:
        type: string
      programName:
        type: string
      taxAmount:
        type: number
      totalInvoiceAmount:
        type: number
      poNumber:
        type: string
      invoiceRefNo:
        type: string
      paymentStatus:
        type: string
      reasonCode:
        type: string
      acceptanceAmt:
        type: number
      invoiceStatus:
        type: string
      invoiceAcceptanceDate:
        type: string
      paidAmt:
        type: number
      remarks:
        type: string
      invoiceProcessStatus:
        type: string
      invoiceDate:
        type: string
      preAccepted:
        type: string
      paymentTerms:
        type: string
      shipmentDate:
        type: string
      outstandingAmount:
        type: number
      poDate:
        type: string
      staleStatus:
        type: string
      discountAllowed:
        type: string
      discAmt:
        type: number
      discPct:
        type: number
      taxPct:
        type: number  
      hierarchyCode:
        type: string
      shipmentAddr:
        type: string
      shipmentNo:
        type: string
      shipmentCountry:
        type: string
      reasonForExport:
        type: string
      termsForSale:
        type: string
      countryOfOrigin:
        type: string
      netInvoiceAmount:
        type: number
      financeableAmount:
        type: number
      financePct:
        type: number
      buyerDivCode:
        type: string
      buyerDivName:
        type: string
      supplierDivCode:
        type: string
      supplierDivName:
        type: string
      divCode:
        type: string
      isDisputed:
        type: string
      discrepancyCode:
        type: string
      disputeResolveRemarks:
        type: string
      relationCode:
        type: string
          
  AgingInvoiceDetailsResponseDto:
    description: Response DTO for Aging Invoices Dashboard
    type: object
    properties:
      currency:
        type: string
      agingInvoices:
        type: array
        items:
          $ref: "#/definitions/CorporateDueDetails"
  
  CorporateDueDetails:
    description: Corporate Details for invoice due amounts
    type: object
    properties:
      corporateId:
        type: "string"
      corporateName:
        type: "string"
      amountDue:
        type: "number"  
        
  InvoiceDetails:
    description: Invoice details for each corporate
    type: object
    properties:
      month:
        type: "string"
      corporateName:
        type: "string"
      invAmount:
        type: "number"
  
  RaisedInvDetails:
    description: Raised invoice details for each month
    type: object
    properties:
      month:
        type: "string"
      startDate:
        type: "string"
      endDate:
        type: "string"
      financedInvAmount:
        type: "number"
      nonFinancedInvAmount:
        type: "number"
        
  RaisedInvoicesResponseDto:
    description: Response DTO for Raised Invoices Dashboard
    type: object
    properties:
      branchCcy:
        type: string
      raisedInvoices:
        type: array
        items:
          $ref: "#/definitions/RaisedInvDetails"
  
  RaisedInvoiceDetailsResponseDto:
    description: Response DTO for Raised Invoices Popup
    type: object
    properties:
      branchCcy:
        type: string
      customerDetails:
        type: array
        items:
          $ref: "#/definitions/CustomerDetails"
  
  CustomerDetails:
    description: Customer Details with payable receivable amounts
    type: object
    properties:
      customerId:
        type: "string"
      customerName:
        type: "string"
      payableAmount:
        type: "number"
      receivableAmount:
        type: "number"
      totalAmount:
        type: "number"
      invoiceAmount:
        type: "number"
        
  PayableReceivableResponseDto:
    description: Response DTO for Payable Receivable Dashboard  
    type: object
    properties:
      branchCcy:
        type: string
      customerDetails:
        type: array
        items:
          $ref: "#/definitions/CustomerDetails"     
           
  ScfApplicationParamModelCollection:
    description: "Collection of ScfApplicationParamModelKeyCollection."
    type: "object"
    properties:
      ScfApplicationParamModelKeyCollection:
        type: "array"
        items:
          $ref: "#/definitions/ScfApplicationParamModelKeyCollection"
          
  ScfApplicationParamModelKeyCollection:
    description: "Collection of list of Parameters."
    type: "object"
    properties:
      key:
        description: "key of the Param"
        type: "string"
      ScfApplicationParamKeyModel:
        type: "array"
        items:
          $ref: "#/definitions/ScfApplicationParamKeyModel"
          
  ScfApplicationParamKeyModel:
    description: "Scf Application Param model"
    type: "object"
    properties:
      code:
        description: "Code for the Param.This is a unique constraint"
        type: "string"
      description:
        description: "Configured value for the disbursement mode which will be used in rest of application."
        type: "string"
        
  CoreBranchCollection: 
    description: "Collection of corebranch."
    type: "object"
    properties:
      data:
        type: "array"
        items: 
          $ref: "#/definitions/CoreBranchDTO"
          
  CoreBranchDTO:
    type: object
    allOf:
    - $ref: '#/definitions/GenericDto'
    - type: object
      properties:
       sourceBranchCode:
        type: string
        description: "Branch code of the source system"
        minLength: 0
        maxLength: 20
        pattern: '[a-zA-Z0-9]+'
       sourceSystem:
        type: string
        description: "Name of the source system"
       weekHol2:
        type: string
        description: "Weekly holiday of the branch."
        pattern: '[1-7]'
       weekHol1:
        type: string
        description: "Weekly holiday of the branch."
        pattern: '[1-7]'
       autoAuth:
        type: string
        description: "To facilitate auto authorization."
       walkinCustomer:
        type: string
        description: "Customer number of the walk-in customer."
       branchLcy:
        type: string
        description: "Local currency of the branch"
       branchAddr3:
        type: string
        description: "Third line of the branch address"
        minLength: 0
        maxLength: 105
       branchAddr2:
        type: string
        description: "Second line of the branch address"
        minLength: 0
        maxLength: 105
       branchAddr1:
        type: string
        description: "First line of the branch address"
        minLength: 0
        maxLength: 105
       branchName:
        type: string
        description: "Name of the branch."
        minLength: 1
        maxLength: 105
        pattern: '[a-zA-Z0-9\s]+'
       countryCode:
        type: string
        description: "Country code of the branch."
       hostCode:
        type: string
        description: "Host code to which the branch belongs to."
       branchCode:
        type: string
        description: "Branch code of the branch to be configured."
        minLength: 3
        maxLength: 3
        pattern: '[a-zA-Z0-9]+'
       CoreBranchPrefDTO:
         $ref: '#/definitions/CoreBranchPrefDTO'
       CoreSwiftAddressDTO:
        type: array
        items:
         $ref: '#/definitions/CoreSwiftAddressDTO'
      required:
       - sourceBranchCode
       - branchLcy
       - branchName
       - hostCode
       - branchCode
       
  CoreBranchPrefDTO:
    type: object
    properties:
       reportDsn:
        type: string
        description: "Report DSN details"
        minLength: 0
        maxLength: 35
        pattern: '([a-zA-Z0-9\s]+)?'
       dsnName:
        type: string
        description: "DSN name"
       hostName:
        type: string
        description: "Host name to which the branch belongs to."
        minLength: 0
        maxLength: 35
        pattern: '([a-zA-Z0-9\s]+)?'
       branchCode:
        type: string
        description: "Branch code of the branch to be configured."
       id:
        type: string
        description: "Primary Key"
       coreBranchId:
        type: string
        description: "Master Table Reference."
        
  CoreSwiftAddressDTO:
    type: object
    properties:
     defaultBic:
      type: string
      description: "Checkbox to decide If default BIC is used or not"
      pattern: '[Y,N]'
     swiftAddress:
      type: string
      description: "Swift Address"
     branchCode:
      type: string
      description: "Branch Code"
     coreBranchId:
      type: string
      description: "Master Table Reference"
     id:
      type: string
      description: "Primary Key"
    required:
     - swiftAddress
     
  GenericDto:
   allOf:
    - type: object
      discriminator: resource_type