#-----------------------------------------------------------------------------------------------------
#  **
#  ** File Name  : common.yaml
#  **
#  ** Module     : obcmstmcashflowmaintmaster
#  ** 
#  ** This source is part of the Oracle FLEXCUBE  and is copyrighted by Oracle Financial Services Software Limited.  ** 
#  ** 
#  ** All rights reserved. No part of this work may be reproduced, stored in a retrieval system,
#  ** adopted or transmitted in any form or by any means, electronic, mechanical, photographic,
#  ** graphic, optic recording or otherwise, translated in any language or computer language,
#  ** without the prior written permission of Oracle Financial Services Software Limited.
#  ** 
#  ** Oracle Financial Services Software Limited.
#  ** 10-11, SDF I, SEEPZ, Andheri (East),
#  ** Mumbai - 400 096.
#  ** India
#  ** Copyright 2017-2018 Oracle Financial Services Software Limited. All rights reserved.
#  -------------------------------------------------------------------------------------------------------
#
#  CHANGE HISTORY
#
#  Created By         :  System
#
#  Bug Number         :  
#  Changed By         :  
#  Change Description :  
#  Change On          :  
#  Search String      :  
#  
#  -------------------------------------------------------------------------------------------------------
  

swagger: "2.0"
info:
 description: "This is a sample server obcmstmcashflowmaintmaster server." 
 version: "1.0.0"
 title: "obcmstmcashflowmaintmaster Service"
host: "api-plato.us.oracle.com:8080"
basePath: "/api/1.0"
consumes:
 - "application/json"
produces:
 - "application/json"
tags:
 - name: "obcmstmcashflowmaintmaster"
   description: "this service is to manage crud operations in master datasegment  .........................................................................................................................................."

schemes:
- "https"

paths:

# path to create a new record and fetch all valid records or by intent
#
#  supprorted http methods POST and GET
#
# path example ../obcmstmcashflowmaintmaster

 /obcmstmcashflowmaintmaster:
  post:
   tags:
    - "obcmstmcashflowmaintmaster"
   summary: "Adds a new obcmstmcashflowmaintmaster."
   description: "Adds a new obcmstmcashflowmaintmaster. Add additional information here for this endpoint."
   operationId: "saveRecord"
   parameters:
    - name: "obcmstmcashflowmaintmaster" 
      in: "body" 
      description: "Request Body that contains data required for creating a new obcmstmcashflowmaintmaster" 
      required: true
      schema:
       $ref: "#/definitions/ObcmsTmCashflowMaintMasterDTO"
   responses:
    201: 
     description: "Returns message of succes or failure " 
     headers:
      Location:
       description: "URL of newly created obcmstmcashflowmaintmaster" 
       type: "string"
     schema:
       $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "obcmstmcashflowmaintmaster"
   summary: "Get all valid obcmstmcashflowmaintmaster."
   description:  "Get all valid obcmstmcashflowmaintmaster. This endpoints will be used to Get all valid obcmstmcashflowmaintmaster maintenance records."
   operationId: "getAll"
   parameters:
   - name: includecloseandunauth
     in: query
     description: includecloseandunauth need to be set to fetch summary record, defult value is false
     required: false
     type: boolean
   - name: offset
     in: query
     description: offset is starting no of records to be fetched
     required: false
     type: integer
   - name: limit
     in: query
     description: limit is maximum no of records to be fetched
     required: false
     type: integer
   responses:
    201:
     description: "Returns message of success or failure"
     headers: 
      Location:
       description: ""
       type: "string"
     schema:
       $ref: "#/definitions/ObcmsTmCashflowMaintMasterCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"

# path to modify existing record, delete existing record and fetch valid records by id or by intent( includes latestRecord, version no)
#
#  supprorted http methods PUT, DELETE and GET
#
# path examples----
#   PUT       .../obcmstmcashflowmaintmaster/xxx
#   DELETE    .../obcmstmcashflowmaintmaster/xxx
#   GET       .../obcmstmcashflowmaintmaster/xxx
#   GET       .../obcmstmcashflowmaintmaster/xxx?version=latestrecord
#   GET       .../obcmstmcashflowmaintmaster/xxx?version=1

 /obcmstmcashflowmaintmaster/{id}:
  put:
   tags:
    - "obcmstmcashflowmaintmaster"
   summary: "Update an existing obcmstmcashflowmaintmaster."
   description:  "Update an existing obcmstmcashflowmaintmaster."
   operationId: "modifyRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "key of the obcmstmcashflowmaintmaster Maintenance"
      required: true
      type: "string"
    - name: "obcmstmcashflowmaintmaster"
      in: "body"
      description: "Request Body that contains data required for updating an existing obcmstmcashflowmaintmaster"
      required: true
      schema:
       $ref: "#/definitions/ObcmsTmCashflowMaintMasterDTO"
   responses:
    200:
     description: "Returns updated obcmstmcashflowmaintmaster"
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "obcmstmcashflowmaintmaster"
   summary: "Retrieves the obcmstmcashflowmaintmaster by ID."
   description:  "Retrieves the obcmstmcashflowmaintmaster by ID."
   operationId: "getById"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
    - name: "version"
      in: "query"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the obcmstmcashflowmaintmaster based on given id."
     schema:
      $ref: "#/definitions/ObcmsTmCashflowMaintMasterWrapperModel"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
  delete:
   tags:
    - "obcmstmcashflowmaintmaster"
   summary: "Deletes the obcmstmcashflowmaintmaster identified by given ID."
   description:  "Deletes the obcmstmcashflowmaintmaster identified by given ID. Add additional information here for the this endpoint."
   operationId: "delete"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the obcmstmcashflowmaintmaster maintenance"
      required: true
      type: "string"
    - name: "obcmstmcashflowmaintmaster"
      in: "body"
      description: Request body contain obcmstmcashflowmaintmaster and Modification no of obcmstmcashflowmaintmaster maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to Authorize existing record.
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../obcmstmcashflowmaintmaster/xxx/approve

 /obcmstmcashflowmaintmaster/{id}/approve:
  patch:
   tags:
    - "obcmstmcashflowmaintmaster"
   summary: "Authorize the obcmstmcashflowmaintmaster by given ID."
   description:  "Authorize the obcmstmcashflowmaintmaster identified by given ID."
   operationId: "authorize"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the obcmstmcashflowmaintmaster maintenance"
      required: true
      type: "string"
    - name: "obcmstmcashflowmaintmaster"
      in: "body"
      description: Request body contain obcmstmcashflowmaintmaster and Modification no of obcmstmcashflowmaintmaster maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to close existing record
#
#  supported http methods PATCH
#
# path examples----
#   PATCH       .../obcmstmcashflowmaintmaster/xxx/close
 /obcmstmcashflowmaintmaster/{id}/close:
  patch:
   tags:
    - "obcmstmcashflowmaintmaster"
   summary: "Close the obcmstmcashflowmaintmaster by given ID."
   description:  "Close the obcmstmcashflowmaintmaster identified by given ID."
   operationId: "closeRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the obcmstmcashflowmaintmaster maintenance"
      required: true
      type: "string"
    - name: "obcmstmcashflowmaintmaster"
      in: "body"
      description: Request body contain obcmstmcashflowmaintmaster and Modification no of obcmstmcashflowmaintmaster maintenance which need to be closed"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to reopen existing record
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../obcmstmcashflowmaintmaster/xxx/reopen

 /obcmstmcashflowmaintmaster/{id}/reopen:
  patch:
   tags:
    - "obcmstmcashflowmaintmaster"
   summary: "reopen the obcmstmcashflowmaintmaster by given ID."
   description:  "reopen the obcmstmcashflowmaintmaster identified by given ID."
   operationId: "reopenRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the obcmstmcashflowmaintmaster maintenance"
      required: true
      type: "string"
    - name: "obcmstmcashflowmaintmaster"
      in: "body"
      description: Request body contain obcmstmcashflowmaintmaster and Modification no of obcmstmcashflowmaintmaster maintenance which need to be reopen"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to get all unauthorized records
#
#  supprorted http methods GET
#
# path examples----
#   GET       .../obcmstmcashflowmaintmaster/xxx/unauthorized

 /obcmstmcashflowmaintmaster/{id}/unauthorized:
  get:
   tags:
    - "obcmstmcashflowmaintmaster"
   summary: "Retrives the obcmstmcashflowmaintmaster by given ID."
   description:  "Retrives the obcmstmcashflowmaintmaster identified by given ID."
   operationId: "authQuery"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the obcmstmcashflowmaintmaster based on given id."
     schema:
       $ref: "#/definitions/ObcmsTmCashflowMaintMasterCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to  history record for remitterid
#
#  supprorted http methods GETS
#
# path examples----
#   GET       .../obcmstmcashflowmaintmaster/xxx/history

 /obcmstmcashflowmaintmaster/{id}/history:
  get:
   tags:
    - "obcmstmcashflowmaintmaster"
   summary: "Retrives the obcmstmcashflowmaintmaster by given ID."
   description:  "Retrives the obcmstmcashflowmaintmaster by ID."
   operationId: "getHistory"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the obcmstmcashflowmaintmaster based on given id."
     schema:
       $ref: "#/definitions/ObcmsTmCashflowMaintMasterCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
 /obcmstmcashflowmaintmaster/{id}/isValid:
  get:
   tags:
    - "obcmstmcashflowmaintmaster"
   summary: "Validate the ObcmsTmCashflowMaintMaster by ResourceId"
   description:  "Validate the ObcmsTmCashflowMaintMaster by ResourceId"
   operationId: "validateObcmsTmCashflowMaintMaster"
   parameters:
    - name: "resourceId"
      in: "path"
      description: "resourceId of the user that needs to be validated"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the boolean based on validation of given resource id."
     schema:
       $ref: "#/definitions/boolean"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
definitions:
 ObcmsTmCashflowMaintMasterDTO:
  type: object
  allOf:
  - $ref: '#/definitions/GenericDto'
  - type: object
    properties:
     id:
      type: string
      description: ""
     action:
      type: string
      description: ""
     autoAuth:
      type: string
      description: ""
     modificationStatus:
      type: string
      description: ""   
     datasegmentCode:
      type: string
      description: ''
     checkerRemarks:
      type: string
      description: '' 
     makerRemarks:
      type: string
      description: ''                            
     corporateId:
      type: string
      description: ""
     corporateName:
      type: string
      description: ""
     sourceApplication:
      type: string
      description: ""
     channel:
      type: string
      description: ""
     ObcmsTmCashflowMaintDetailsDTO:
      type: array
      items:
       $ref: '#/definitions/ObcmsTmCashflowMaintDetailsDTO'
 ObcmsTmCashflowMaintDetailsDTO:
  type: object
  properties:
     id:
      type: string
      description: ""
     cashflowCode:
      type: string
      description: ""
     cashflowDescription:
      type: string
      description: ""
     cashflowMasterId:
      type: string
      description: ""
     cashflowType:
      type: string
      description: ""
     parentId:
      type: string
      description: ""
     rootParentId:
      type: string
      description: ""
     ObcmsTmCashflowMaintDetailsDTO:
      type: array
      items:
       $ref: '#/definitions/ObcmsTmCashflowMaintDetailsDTO' 
 ModListKeyDto:
  type: object
  properties:
   modNos:
    type: array
    items:
     type: integer
   remarks:
    type: string
 KeyDto:
  type: object
  properties:
   modNo:
    type: integer
   remarks:
    type: string
 ResponseDto:
  type: object
  properties:
   id:
    type: string
   status:
    type: string
   codes:
    type: array
    items:
     $ref: "#/definitions/ResponseCode"
   requestId:
    type: string
 ResponseCode:
  type: object
  properties:
   Code:
    type: string
   Desc:
    type: string
   Type:
    type: string
   Language:
    type: string
   args:
    type: array
    items:
     type: object
   arg:
    type: string
 GenericDto:
  allOf:
   - type: object
     discriminator: resource_type
 ObcmsTmCashflowMaintMasterCollection: 
  description: "Collection of obcmstmcashflowmaintmaster."
  type: "object"
  properties:
   data:
    type: "array"
    items: 
     $ref: "#/definitions/ObcmsTmCashflowMaintMasterDTO"
   paging:
    $ref: "#/definitions/PagingDto"
 PagingDto:
  type: object
  properties:
   totalResults:
    type: integer
 ResponseDtoWrapper:
  type: object
  properties:
   messages:
    $ref: "#/definitions/ResponseDto"
   data:
    $ref: "#/definitions/ResponseResourceSupport"
 ResponseResourceSupport:
  type: object
 ObcmsTmCashflowMaintMasterWrapperModel:
  type: object
  properties:
   data:
    $ref: "#/definitions/ObcmsTmCashflowMaintMasterDTO"
