#-----------------------------------------------------------------------------------------------------
#  **
#  ** File Name  : common.yaml
#  **
#  ** Module     : scftmproductmaster
#  ** 
#  ** This source is part of the Oracle FLEXCUBE  and is copyrighted by Oracle Financial Services Software Limited.  ** 
#  ** 
#  ** All rights reserved. No part of this work may be reproduced, stored in a retrieval system,
#  ** adopted or transmitted in any form or by any means, electronic, mechanical, photographic,
#  ** graphic, optic recording or otherwise, translated in any language or computer language,
#  ** without the prior written permission of Oracle Financial Services Software Limited.
#  ** 
#  ** Oracle Financial Services Software Limited.
#  ** 10-11, SDF I, SEEPZ, Andheri (East),
#  ** Mumbai - 400 096.
#  ** India
#  ** Copyright 2017-2018 Oracle Financial Services Software Limited. All rights reserved.
#  -------------------------------------------------------------------------------------------------------
#
#  CHANGE HISTORY
#
#  Created By         :  System
#
#  Bug Number         :  
#  Changed By         :  
#  Change Description :  
#  Change On          :  
#  Search String      :  
#  
#  -------------------------------------------------------------------------------------------------------
  

swagger: "2.0"
info:
 description: "This is a sample server scftmproductmaster server." 
 version: "1.0.0"
 title: "scftmproductmaster Service"
host: "api-plato.us.oracle.com:8080"
basePath: "/api/1.0"
consumes:
 - "application/json"
produces:
 - "application/json"
tags:
 - name: "scftmproductmaster"
   description: "this service is to manage crud operations in master datasegment  .........................................................................................................................................."

schemes:
- "https"

paths:

# path to create a new record and fetch all valid records or by intent
#
#  supprorted http methods POST and GET
#
# path example ../scftmproductmaster

 /scftmproductmaster:
  post:
   tags:
    - "scftmproductmaster"
   summary: "Adds a new scftmproductmaster."
   description: "Adds a new scftmproductmaster. Add additional information here for this endpoint."
   operationId: "saveRecord"
   parameters:
    - name: "scftmproductmaster" 
      in: "body" 
      description: "Request Body that contains data required for creating a new scftmproductmaster" 
      required: true
      schema:
       $ref: "#/definitions/ScfTmProductMasterDTO"
   responses:
    201: 
     description: "Returns message of succes or failure " 
     headers:
      Location:
       description: "URL of newly created scftmproductmaster" 
       type: "string"
     schema:
       $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "scftmproductmaster"
   summary: "Get all valid scftmproductmaster."
   description:  "Get all valid scftmproductmaster. This endpoints will be used to Get all valid scftmproductmaster maintenance records."
   operationId: "getAll"
   parameters:
   - name: includecloseandunauth
     in: query
     description: includecloseandunauth need to be set to fetch summary record, defult value is false
     required: false
     type: boolean
   - name: offset
     in: query
     description: offset is starting no of records to be fetched
     required: false
     type: integer
   - name: limit
     in: query
     description: limit is maximum no of records to be fetched
     required: false
     type: integer
   responses:
    201:
     description: "Returns message of success or failure"
     headers: 
      Location:
       description: ""
       type: "string"
     schema:
       $ref: "#/definitions/ScfTmProductMasterCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"

# path to modify existing record, delete existing record and fetch valid records by id or by intent( includes latestRecord, version no)
#
#  supprorted http methods PUT, DELETE and GET
#
# path examples----
#   PUT       .../scftmproductmaster/xxx
#   DELETE    .../scftmproductmaster/xxx
#   GET       .../scftmproductmaster/xxx
#   GET       .../scftmproductmaster/xxx?version=latestrecord
#   GET       .../scftmproductmaster/xxx?version=1

 /scftmproductmaster/{id}:
  put:
   tags:
    - "scftmproductmaster"
   summary: "Update an existing scftmproductmaster."
   description:  "Update an existing scftmproductmaster."
   operationId: "modifyRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "key of the scftmproductmaster Maintenance"
      required: true
      type: "string"
    - name: "scftmproductmaster"
      in: "body"
      description: "Request Body that contains data required for updating an existing scftmproductmaster"
      required: true
      schema:
       $ref: "#/definitions/ScfTmProductMasterDTO"
   responses:
    200:
     description: "Returns updated scftmproductmaster"
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "scftmproductmaster"
   summary: "Retrieves the scftmproductmaster by ID."
   description:  "Retrieves the scftmproductmaster by ID."
   operationId: "getById"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
    - name: "version"
      in: "query"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the scftmproductmaster based on given id."
     schema:
      $ref: "#/definitions/ScfTmProductMasterWrapperDTO"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
  delete:
   tags:
    - "scftmproductmaster"
   summary: "Deletes the scftmproductmaster identified by given ID."
   description:  "Deletes the scftmproductmaster identified by given ID. Add additional information here for the this endpoint."
   operationId: "delete"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the scftmproductmaster maintenance"
      required: true
      type: "string"
    - name: "scftmproductmaster"
      in: "body"
      description: Request body contain scftmproductmaster and Modification no of scftmproductmaster maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to Authorize existing record.
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../scftmproductmaster/xxx/approve

 /scftmproductmaster/{id}/approve:
  patch:
   tags:
    - "scftmproductmaster"
   summary: "Authorize the scftmproductmaster by given ID."
   description:  "Authorize the scftmproductmaster identified by given ID."
   operationId: "authorize"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the scftmproductmaster maintenance"
      required: true
      type: "string"
    - name: "scftmproductmaster"
      in: "body"
      description: Request body contain scftmproductmaster and Modification no of scftmproductmaster maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to close existing record
#
#  supported http methods PATCH
#
# path examples----
#   PATCH       .../scftmproductmaster/xxx/close
 /scftmproductmaster/{id}/close:
  patch:
   tags:
    - "scftmproductmaster"
   summary: "Close the scftmproductmaster by given ID."
   description:  "Close the scftmproductmaster identified by given ID."
   operationId: "closeRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the scftmproductmaster maintenance"
      required: true
      type: "string"
    - name: "scftmproductmaster"
      in: "body"
      description: Request body contain scftmproductmaster and Modification no of scftmproductmaster maintenance which need to be closed"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to reopen existing record
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../scftmproductmaster/xxx/reopen

 /scftmproductmaster/{id}/reopen:
  patch:
   tags:
    - "scftmproductmaster"
   summary: "reopen the scftmproductmaster by given ID."
   description:  "reopen the scftmproductmaster identified by given ID."
   operationId: "reopenRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the scftmproductmaster maintenance"
      required: true
      type: "string"
    - name: "scftmproductmaster"
      in: "body"
      description: Request body contain scftmproductmaster and Modification no of scftmproductmaster maintenance which need to be reopen"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to get all unauthorized records
#
#  supprorted http methods GET
#
# path examples----
#   GET       .../scftmproductmaster/xxx/unauthorized

 /scftmproductmaster/{id}/unauthorized:
  get:
   tags:
    - "scftmproductmaster"
   summary: "Retrives the scftmproductmaster by given ID."
   description:  "Retrives the scftmproductmaster identified by given ID."
   operationId: "authQuery"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the scftmproductmaster based on given id."
     schema:
       $ref: "#/definitions/ScfTmProductMasterCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to  history record for remitterid
#
#  supprorted http methods GETS
#
# path examples----
#   GET       .../scftmproductmaster/xxx/history

 /scftmproductmaster/{id}/history:
  get:
   tags:
    - "scftmproductmaster"
   summary: "Retrives the scftmproductmaster by given ID."
   description:  "Retrives the scftmproductmaster by ID."
   operationId: "getHistory"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the scftmproductmaster based on given id."
     schema:
       $ref: "#/definitions/ScfTmProductMasterCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
 /scftmproductmaster/{id}/isValid:
  get:
   tags:
    - "scftmproductmaster"
   summary: "Validate the ScfTmProductMaster by ResourceId"
   description:  "Validate the ScfTmProductMaster by ResourceId"
   operationId: "validateScfTmProductMaster"
   parameters:
    - name: "resourceId"
      in: "path"
      description: "resourceId of the user that needs to be validated"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the boolean based on validation of given resource id."
     schema:
       $ref: "#/definitions/boolean"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
definitions:
 ScfTmProductMasterDTO:
  type: object
  allOf:
  - $ref: '#/definitions/GenericDto'
  - type: object
    required:
     - branchCode
     - debtor
     - effectiveFrom
     - expiresOn
     - productCategory
     - productCode
     - productDescription
     - productType
     - interestRefundHandling
    properties:
     id:
      type: string
      description: "Id"
     action:
      type: string
      description: "Action"
     autoAuth:
      type: string
      description: "Auto Auth"
     modificationStatus:
      type: string
      description: "Modification Status"   
     datasegmentCode:
      type: string
      description: "Data Segment Code"
     checkerRemarks:
      type: string
      description: "Checker Remarks"
     makerRemarks:
      type: string
      description: "Maker Remakrs"                         
     appropriationSeqAftDueDate:
      type: string
      description: "Appropriation Sequence After Due Date"
     appropriationSeqBefDueDate:
      type: string
      description: "Appropriation Sequence Before Due Date"
     appropriationSeqOnDueDate:
      type: string
      description: "Appropriation Sequence On Due Date"
     autoDebitApplicable:
      type: string
      description: "Auto Debit Applicable"
     autoFinanceApplicable:
      type: string
      description: "Auto Finance Applicable"
     autoSettlementApplicable:
      type: string
      description: "Auto Settlement Applicable"
     branchCode:
      type: string
      description: "Branch code"
     creditLimitUtilization:
      type: string
      description: "Credit Limit Utilization"
     debitAcctTypeAfterDueDate:
      type: string
      description: "Debit Account Type After Due Date"
     debitAcctTypeOnDueDate:
      type: string
      description: "Debit Account Type On Due Date"
     debitPartyAfterDueDate:
      type: string
      description: "Debit Party After Due Date"
     debitPartyOnDueDate:
      type: string
      description: "Debit Party On Due Date"
     debtor:
      type: string
      description: "Debtor"
     effectiveFrom:
      type: string
      format: date
      description: "Effective From"
     expiresOn:
      type: string
      format: date
      description: "Expires On"
     holidayTreatment:
      type: string
      description: "Holiday Treatment"      
     maturityDateCalculation:
      type: string
      description: "Maturity Date Calculation"
     maxFinancePercentage:
      type: number
      description: "Maximum Finance Percentage"
     maxTenorAllowed:
      type: number
      description: "Maximum Tenor Allowed"
     minFinancePercentage:
      type: number
      description: "Minimum Finance Percentage"
     minTenorAllowed:
      type: number
      description: "Minimum Tenor Allowed"
     minWaitingPeriod:
      type: number
      description: "Minimum Waiting Period"
     multipleDisbursementAllowed:
      type: string
      description: "Multiple Disbursement Allowed"
     npaAppropriationSeq:
      type: string
      description: "Npa Appropriation Sequence"
     partRepaymentAllowed:
      type: string
      description: "Part Repayment Allowed"
     preferredDisbursementMode:
      type: string
      description: "Preferred Disbursement Mode"
     preferredSettlementMode:
      type: string
      description: "Preferred Settlement Mode"
     prePaymentAllowed:
      type: string
      description: "Pre Payment Allowed"
     productCategory:
      type: string
      description: "Product Category"
     productCode:
      type: string
      description: "Product Code"
     productDescription:
      type: string
      description: "Product Description"
     productType:
      type: string
      description: "Product Type"
     stalePeriod:
      type: number
      description: "Stale Period"
     withRecourse:
      type: string
      description: "With Recourse"
     reconciliationTowards:
      type: string
      description: "Reconciliation Towards"
     graceDays:
      type: number
      description: "Grace Days"
     interestRefundHandling:
      type: string
      description: "Interest Refund Handling"
     interestRefundPaymentMode:
      type: string
      description: "Interest Refund Payment Mode"
     marginHandling:
      type: string
      description: "Margin Handling"
     marginPaymentMode:
      type: string
      description: "Margin Payment Mode"
     isCreditLimitApplicable:
      type: string
      description: "Is Credit Limit Applicable" 
     isAccountingApplicable:
      type: string
      description: "Is Accounting Applicable" 
     isAssignmentApplicable:
      type: string
      description: "Is Assignment Applicable" 
     isAutoAssignment:
      type: string
      description: "Is Auto Assignment"   
     isAcceptanceApplicable:
      type: string
      description: "Is Acceptance Applicable" 
     holidayTreatmentForFdd:
      type: string
      description: "Holiday Treatment For FDD"
     isAutoAcceptance:
      type: string
      description: "Is Auto Acceptance"     
     isDisbursementAuthRequired:
      type: string
      description: "Is Disbursement Authorized Required"
     isDisbursementAutoProcessing:
      type: string
      description: "Is Disbursement Auto Processing"
     isSettlementAuthRequired:
      type: string
      description: "Is Settlement Authorized Required" 
     isSettlementAutoProcessing:
      type: string
      description: "Is Settlement Auto Processing" 
     autoAcceptanceDays:
      type: number
      description: "Auto Acceptance Days"
     ScfTmProdLimitDecnDTO:
      type: array
      items:
       $ref: '#/definitions/ScfTmProdLimitDecnDTO'
 ScfTmProdLimitDecnCollection: 
  description: "Collection of product."
  type: "object"
  properties:
   data:
    type: "array"
    items: 
     $ref: "#/definitions/ScfTmProdLimitDecnDTO" 
 ScfTmProdLimitDecnDTO:
  type: object
  properties:
     id:
      type: string
      description: "Id"
     eventCode:
      type: string
      description: "Event Code"
     limitType:
      type: string
      description: "Limit Type"
     productCode:
      type: string
      description: "Product Code"
     productMasterId:
      type: string
      description: "Product Master Id"
     limitEvent:
      type: string
      description: "Limit Event"
     recourse:
      type: string
      description: "Recourse"
     rootLimitEntityType:
      type: string
      description: "Root Limit Entity Type"
     subLevelsApplicable:
      type: string
      description: "Sub Levels Applicable"
     ScfTmProdLimitExpHandlDTO:
      type: array
      items:
       $ref: '#/definitions/ScfTmProdLimitExpHandlDTO' 
 ScfTmProdLimitExpHandlDTO:
  type: object
  properties:
     id:
      type: string
      description: "Id"
     limitDecnMasterId:
      type: string
      description: "Limit Decn Master Id"
     productCode:
      type: string
      description: "Product Code"
     subLevelApplicable:
      type: string
      description: "Sub Level Applicable"
     expiredLimitExceptionHandling:
      type: string
      description: "Expired Limit Exception Handling"
     breachLimitExceptionHandling:
      type: string
      description: "Breach Limit Exception Handling"
     expiredAndBreachLimitExceptionHandling:
      type: string
      description: "Expired And Breach Limit Exception Handling"
 ModListKeyDto:
  type: object
  properties:
   modNos:
    type: array
    items:
     type: integer
   remarks:
    type: string
 KeyDto:
  type: object
  properties:
   modNo:
    type: integer
   remarks:
    type: string
 ResponseDto:
  type: object
  properties:
   id:
    type: string
   status:
    type: string
   codes:
    type: array
    items:
     $ref: "#/definitions/ResponseCode"
   requestId:
    type: string
 ResponseCode:
  type: object
  properties:
   Code:
    type: string
   Desc:
    type: string
   Type:
    type: string
   Language:
    type: string
   args:
    type: array
    items:
     type: object
   arg:
    type: string
 GenericDto:
  allOf:
   - type: object
     discriminator: resource_type
 ScfTmProductMasterCollection: 
  description: "Collection of scftmproductmaster."
  type: "object"
  properties:
   data:
    type: "array"
    items: 
     $ref: "#/definitions/ScfTmProductMasterDTO"
   paging:
    $ref: "#/definitions/PagingDto"
 PagingDto:
  type: object
  properties:
   totalResults:
    type: integer
 ResponseDtoWrapper:
  type: object
  properties:
   messages:
    $ref: "#/definitions/ResponseDto"
   data:
    $ref: "#/definitions/ResponseResourceSupport"
 ResponseResourceSupport:
  type: object
 ScfTmProductMasterWrapperDTO:
  type: object
  properties:
   data:
    $ref: "#/definitions/ScfTmProductMasterDTO"
 ProductDescDTO:
  type: object
  properties:
    productCode:
     type: string
     description: "Product Code"
    productDescription:
     type: string
     description: "Product Description"
 ProductDescCollection: 
  description: "Collection of products with Description."
  type: "object"
  properties:
   data:
    type: "array"
    items: 
     $ref: "#/definitions/ProductDescDTO"
   paging:
    $ref: "#/definitions/PagingDto"
