#-----------------------------------------------------------------------------------------------------
#  **
#  ** File Name  : common.yaml
#  **
#  ** Module     : scftmprefintpricing
#  ** 
#  ** This source is part of the Oracle FLEXCUBE  and is copyrighted by Oracle Financial Services Software Limited.  ** 
#  ** 
#  ** All rights reserved. No part of this work may be reproduced, stored in a retrieval system,
#  ** adopted or transmitted in any form or by any means, electronic, mechanical, photographic,
#  ** graphic, optic recording or otherwise, translated in any language or computer language,
#  ** without the prior written permission of Oracle Financial Services Software Limited.
#  ** 
#  ** Oracle Financial Services Software Limited.
#  ** 10-11, SDF I, SEEPZ, Andheri (East),
#  ** Mumbai - 400 096.
#  ** India
#  ** Copyright 2017-2018 Oracle Financial Services Software Limited. All rights reserved.
#  -------------------------------------------------------------------------------------------------------
#
#  CHANGE HISTORY
#
#  Created By         :  System
#
#  Bug Number         :  
#  Changed By         :  
#  Change Description :  
#  Change On          :  
#  Search String      :  
#  
#  -------------------------------------------------------------------------------------------------------
  

swagger: "2.0"
info:
 description: "This is a sample server scftmprefintpricing server." 
 version: "1.0.0"
 title: "scftmprefintpricing Service"
host: "api-plato.us.oracle.com:8080"
basePath: "/api/1.0"
consumes:
 - "application/json"
produces:
 - "application/json"
tags:
 - name: "scftmprefintpricing"
   description: "this service is to manage crud operations in master datasegment  .........................................................................................................................................."

schemes:
- "https"

paths:

# path to create a new record and fetch all valid records or by intent
#
#  supprorted http methods POST and GET
#
# path example ../scftmprefintpricing

 /scftmprefintpricing:
  post:
   tags:
    - "scftmprefintpricing"
   summary: "Adds a new scftmprefintpricing."
   description: "Adds a new scftmprefintpricing. Add additional information here for this endpoint."
   operationId: "saveRecord"
   parameters:
    - name: "scftmprefintpricing" 
      in: "body" 
      description: "Request Body that contains data required for creating a new scftmprefintpricing" 
      required: true
      schema:
       $ref: "#/definitions/ScfTmPrefIntPricingModel"
   responses:
    201: 
     description: "Returns message of succes or failure " 
     headers:
      Location:
       description: "URL of newly created scftmprefintpricing" 
       type: "string"
     schema:
       $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "scftmprefintpricing"
   summary: "Get all valid scftmprefintpricing."
   description:  "Get all valid scftmprefintpricing. This endpoints will be used to Get all valid scftmprefintpricing maintenance records."
   operationId: "getAll"
   parameters:
   - name: includecloseandunauth
     in: query
     description: includecloseandunauth need to be set to fetch summary record, defult value is false
     required: false
     type: boolean
   - name: offset
     in: query
     description: offset is starting no of records to be fetched
     required: false
     type: integer
   - name: limit
     in: query
     description: limit is maximum no of records to be fetched
     required: false
     type: integer
   responses:
    201:
     description: "Returns message of success or failure"
     headers: 
      Location:
       description: ""
       type: "string"
     schema:
       $ref: "#/definitions/ScfTmPrefIntPricingCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"

# path to modify existing record, delete existing record and fetch valid records by id or by intent( includes latestRecord, version no)
#
#  supprorted http methods PUT, DELETE and GET
#
# path examples----
#   PUT       .../scftmprefintpricing/xxx
#   DELETE    .../scftmprefintpricing/xxx
#   GET       .../scftmprefintpricing/xxx
#   GET       .../scftmprefintpricing/xxx?version=latestrecord
#   GET       .../scftmprefintpricing/xxx?version=1

 /scftmprefintpricing/{id}:
  put:
   tags:
    - "scftmprefintpricing"
   summary: "Update an existing scftmprefintpricing."
   description:  "Update an existing scftmprefintpricing."
   operationId: "modifyRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "key of the scftmprefintpricing Maintenance"
      required: true
      type: "string"
    - name: "scftmprefintpricing"
      in: "body"
      description: "Request Body that contains data required for updating an existing scftmprefintpricing"
      required: true
      schema:
       $ref: "#/definitions/ScfTmPrefIntPricingModel"
   responses:
    200:
     description: "Returns updated scftmprefintpricing"
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "scftmprefintpricing"
   summary: "Retrieves the scftmprefintpricing by ID."
   description:  "Retrieves the scftmprefintpricing by ID."
   operationId: "getById"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
    - name: "version"
      in: "query"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the scftmprefintpricing based on given id."
     schema:
      $ref: "#/definitions/ScfTmPrefIntPricingWrapperModel"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
  delete:
   tags:
    - "scftmprefintpricing"
   summary: "Deletes the scftmprefintpricing identified by given ID."
   description:  "Deletes the scftmprefintpricing identified by given ID. Add additional information here for the this endpoint."
   operationId: "delete"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the scftmprefintpricing maintenance"
      required: true
      type: "string"
    - name: "scftmprefintpricing"
      in: "body"
      description: Request body contain scftmprefintpricing and Modification no of scftmprefintpricing maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to Authorize existing record.
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../scftmprefintpricing/xxx/approve

 /scftmprefintpricing/{id}/approve:
  patch:
   tags:
    - "scftmprefintpricing"
   summary: "Authorize the scftmprefintpricing by given ID."
   description:  "Authorize the scftmprefintpricing identified by given ID."
   operationId: "authorize"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the scftmprefintpricing maintenance"
      required: true
      type: "string"
    - name: "scftmprefintpricing"
      in: "body"
      description: Request body contain scftmprefintpricing and Modification no of scftmprefintpricing maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to close existing record
#
#  supported http methods PATCH
#
# path examples----
#   PATCH       .../scftmprefintpricing/xxx/close
 /scftmprefintpricing/{id}/close:
  patch:
   tags:
    - "scftmprefintpricing"
   summary: "Close the scftmprefintpricing by given ID."
   description:  "Close the scftmprefintpricing identified by given ID."
   operationId: "closeRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the scftmprefintpricing maintenance"
      required: true
      type: "string"
    - name: "scftmprefintpricing"
      in: "body"
      description: Request body contain scftmprefintpricing and Modification no of scftmprefintpricing maintenance which need to be closed"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to reopen existing record
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../scftmprefintpricing/xxx/reopen

 /scftmprefintpricing/{id}/reopen:
  patch:
   tags:
    - "scftmprefintpricing"
   summary: "reopen the scftmprefintpricing by given ID."
   description:  "reopen the scftmprefintpricing identified by given ID."
   operationId: "reopenRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the scftmprefintpricing maintenance"
      required: true
      type: "string"
    - name: "scftmprefintpricing"
      in: "body"
      description: Request body contain scftmprefintpricing and Modification no of scftmprefintpricing maintenance which need to be reopen"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to get all unauthorized records
#
#  supprorted http methods GET
#
# path examples----
#   GET       .../scftmprefintpricing/xxx/unauthorized

 /scftmprefintpricing/{id}/unauthorized:
  get:
   tags:
    - "scftmprefintpricing"
   summary: "Retrives the scftmprefintpricing by given ID."
   description:  "Retrives the scftmprefintpricing identified by given ID."
   operationId: "authQuery"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the scftmprefintpricing based on given id."
     schema:
       $ref: "#/definitions/ScfTmPrefIntPricingCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to  history record for remitterid
#
#  supprorted http methods GETS
#
# path examples----
#   GET       .../scftmprefintpricing/xxx/history

 /scftmprefintpricing/{id}/history:
  get:
   tags:
    - "scftmprefintpricing"
   summary: "Retrives the scftmprefintpricing by given ID."
   description:  "Retrives the scftmprefintpricing by ID."
   operationId: "getHistory"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the scftmprefintpricing based on given id."
     schema:
       $ref: "#/definitions/ScfTmPrefIntPricingCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
 /scftmprefintpricing/{id}/isValid:
  get:
   tags:
    - "scftmprefintpricing"
   summary: "Validate the ScfTmPrefIntPricing by ResourceId"
   description:  "Validate the ScfTmPrefIntPricing by ResourceId"
   operationId: "validateScfTmPrefIntPricing"
   parameters:
    - name: "resourceId"
      in: "path"
      description: "resourceId of the user that needs to be validated"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the boolean based on validation of given resource id."
     schema:
       $ref: "#/definitions/boolean"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
definitions:
 ScfTmPrefIntPricingModel:
  type: object
  allOf:
  - $ref: '#/definitions/GenericDto'
  - type: object
    properties:
     id:
      type: string
      description: ""
     action:
      type: string
      description: ""
     autoAuth:
      type: string
      description: ""
     modificationStatus:
      type: string
      description: ""   
     datasegmentCode:
      type: string
      description: ''
     checkerRemarks:
      type: string
      description: '' 
     makerRemarks:
      type: string
      description: ''                            
     fixedRateType:
      type: string
      description: ""
     frequency:
      type: string
      description: ""
     noOfUnits:
      type: number
      description: ""
     pricingTemplateCode:
      type: string
      description: ""
     pricingTemplateDesc:
      type: string
      description: ""
     rate:
      type: number
      description: ""
     rateBasis:
      type: string
      description: ""
     rateCalcType:
      type: string
      description: ""
     rateCode:
      type: string
      description: ""
     rateCodeUsage:
      type: string
      description: ""
     rateFixingDays:
      type: number
      description: ""
     rateRevisionFreq:
      type: string
      description: ""
     rateType:
      type: string
      description: ""
     resetTenor:
      type: number
      description: ""
     spread:
      type: number
      description: ""
     tierBasedSpread:
      type: string
      description: ""
     tierType:
      type: string
      description: ""
     intDecId:
      type: string
      description: "Interest Dec Id"
     spreadApplication:
      type: string
      description: "Spread Application"
     ScfTmPrefIntAmtTiersModel:
      type: array
      items:
       $ref: '#/definitions/ScfTmPrefIntAmtTiersModel'
     ScfTmPrefIntMixedTiersModel:
      type: array
      items:
       $ref: '#/definitions/ScfTmPrefIntMixedTiersModel'
     ScfTmPrefIntTenorTiersModel:
      type: array
      items:
       $ref: '#/definitions/ScfTmPrefIntTenorTiersModel'
 ScfTmPrefIntAmtTiersModel:
  type: object
  properties:
     id:
      type: string
      description: ""
     id:
      type: string
      description: ""
     fromAmt:
      type: number
      description: ""
     prefIntPricingId:
      type: string
      description: ""
     pricingTemplateCode:
      type: string
      description: ""
     spread:
      type: number
      description: ""
     tierCcy:
      type: string
      description: ""
     tierSeq:
      type: number
      description: ""
     toAmt:
      type: number
      description: ""
 ScfTmPrefIntMixedTiersModel:
  type: object
  properties:
     id:
      type: string
      description: ""
     amtTierSeq:
      type: number
      description: ""
     fromAmt:
      type: number
      description: ""
     fromTenor:
      type: number
      description: ""
     id:
      type: string
      description: ""
     prefIntPricingId:
      type: string
      description: ""
     pricingTemplateCode:
      type: string
      description: ""
     spread:
      type: number
      description: ""
     tenorTierSeq:
      type: number
      description: ""
     tierCcy:
      type: string
      description: ""
     toAmt:
      type: number
      description: ""
     toTenor:
      type: number
      description: ""
 ScfTmPrefIntTenorTiersModel:
  type: object
  properties:
     id:
      type: string
      description: ""
     fromTenor:
      type: number
      description: ""
     id:
      type: string
      description: ""
     prefIntPricingId:
      type: string
      description: ""
     pricingTemplateCode:
      type: string
      description: ""
     spread:
      type: number
      description: ""
     tierSeq:
      type: number
      description: ""
     toTenor:
      type: number
      description: ""
 ModListKeyDto:
  type: object
  properties:
   modNos:
    type: array
    items:
     type: integer
   remarks:
    type: string
 KeyDto:
  type: object
  properties:
   modNo:
    type: integer
   remarks:
    type: string
 ResponseDto:
  type: object
  properties:
   id:
    type: string
   status:
    type: string
   codes:
    type: array
    items:
     $ref: "#/definitions/ResponseCode"
   requestId:
    type: string
 ResponseCode:
  type: object
  properties:
   Code:
    type: string
   Desc:
    type: string
   Type:
    type: string
   Language:
    type: string
   args:
    type: array
    items:
     type: object
   arg:
    type: string
 GenericDto:
  allOf:
   - type: object
     discriminator: resource_type
 ScfTmPrefIntPricingCollection: 
  description: "Collection of scftmprefintpricing."
  type: "object"
  properties:
   data:
    type: "array"
    items: 
     $ref: "#/definitions/ScfTmPrefIntPricingModel"
   paging:
    $ref: "#/definitions/PagingDto"
 PagingDto:
  type: object
  properties:
   totalResults:
    type: integer
 ResponseDtoWrapper:
  type: object
  properties:
   messages:
    $ref: "#/definitions/ResponseDto"
   data:
    $ref: "#/definitions/ResponseResourceSupport"
 ResponseResourceSupport:
  type: object
 ScfTmPrefIntPricingWrapperModel:
  type: object
  properties:
   data:
    $ref: "#/definitions/ScfTmPrefIntPricingModel"
