#-----------------------------------------------------------------------------------------------------
#  **
#  ** File Name  : common.yaml
#  **
#  ** Module     : plato-alerts-frequencies-services
#  ** 
#  ** This source is part of the Oracle FLEXCUBE  and is copyrighted by Oracle Financial Services Software Limited.  ** 
#  ** 
#  ** All rights reserved. No part of this work may be reproduced, stored in a retrieval system,
#  ** adopted or transmitted in any form or by any means, electronic, mechanical, photographic,
#  ** graphic, optic recording or otherwise, translated in any language or computer language,
#  ** without the prior written permission of Oracle Financial Services Software Limited.
#  ** 
#  ** Oracle Financial Services Software Limited.
#  ** 10-11, SDF I, SEEPZ, Andheri (East),
#  ** Mumbai - 400 096.
#  ** India
#  ** Copyright 2017-2018 Oracle Financial Services Software Limited. All rights reserved.
#  -------------------------------------------------------------------------------------------------------
#
#  CHANGE HISTORY
#
#  Created By         :  System
#
#  Bug Number         :  
#  Changed By         :  
#  Change Description :  
#  Change On          :  
#  Search String      :  
#  
#  -------------------------------------------------------------------------------------------------------
  

swagger: "2.0"
info:
 description: "This is a sample server plato-alerts-frequencies-services server." 
 version: "1.0.0"
 title: "plato-alerts-frequencies-services Service"
host: "api-plato.us.oracle.com:8080"
basePath: "/api/1.0"
consumes:
 - "application/json"
produces:
 - "application/json"
tags:
 - name: "plato-alerts-frequencies-services"
   description: "plato-alerts-frequencies-servicesplato-alerts-frequencies-servicesplato-alerts-frequencies-servicesplato-alerts-frequencies-servicesplato-alerts-frequencies-servicesplato-alerts-frequencies-servicesplato-alerts-frequencies-servicesplato-alerts-frequencies-servicesplato-alerts-frequencies-servicesplato-alerts-frequencies-servicesplato-alerts-frequencies-servicesplato-alerts-frequencies-servicesplato-alerts-frequencies-servicesplato-alerts-frequencies-services"

schemes:
- "https"

paths:

# path to create a new record and fetch all valid records or by intent
#
#  supprorted http methods POST and GET
#
# path example ../plato-alerts-frequencies-services

 /plato-alerts-frequencies-services:
  post:
   tags:
    - "plato-alerts-frequencies-services"
   summary: "Adds a new plato-alerts-frequencies-services."
   description: "Adds a new plato-alerts-frequencies-services. Add additional information here for this endpoint."
   operationId: "saveRecord"
   parameters:
    - name: "plato-alerts-frequencies-services" 
      in: "body" 
      description: "Request Body that contains data required for creating a new plato-alerts-frequencies-services" 
      required: true
      schema:
       $ref: "#/definitions/PlatoTmAlertFrequencyDTO"
    - name: "bindingResult" 
      in: "body" 
      description: "Request Body that contains data required for creating a new plato-alerts-frequencies-services" 
      required: false
      schema:
       $ref: "#/definitions/BindingResult"
   responses:
    201: 
     description: "Returns message of succes or failure " 
     headers:
      Location:
       description: "URL of newly created plato-alerts-frequencies-services" 
       type: "string"
     schema:
       $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "plato-alerts-frequencies-services"
   summary: "Get all valid plato-alerts-frequencies-services."
   description:  "Get all valid plato-alerts-frequencies-services. This endpoints will be used to Get all valid plato-alerts-frequencies-services maintenance records."
   operationId: "getAll"
   parameters:
   - name: includecloseandunauth
     in: query
     description: includecloseandunauth need to be set to fetch summary record, defult value is false
     required: false
     type: boolean
   - name: offset
     in: query
     description: offset is starting no of records to be fetched
     required: false
     type: integer
   - name: limit
     in: query
     description: limit is maximum no of records to be fetched
     required: false
     type: integer
   responses:
    201:
     description: "Returns message of succes or failure"
     headers: 
      Location:
       description: ""
       type: "string"
     schema:
       $ref: "#/definitions/PlatoTmAlertFrequencyCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"

# path to modify existing record, delete existing record and fetch valid records by id or by intent( includes latestRecord, version no)
#
#  supprorted http methods PUT, DELETE and GET
#
# path examples----
#   PUT       .../plato-alerts-frequencies-services/xxx
#   DELETE    .../plato-alerts-frequencies-services/xxx
#   GET       .../plato-alerts-frequencies-services/xxx
#   GET       .../plato-alerts-frequencies-services/xxx?version=latestrecord
#   GET       .../plato-alerts-frequencies-services/xxx?version=1

 /plato-alerts-frequencies-services/{id}:
  put:
   tags:
    - "plato-alerts-frequencies-services"
   summary: "Update an existing plato-alerts-frequencies-services."
   description:  "Update an existing plato-alerts-frequencies-services."
   operationId: "modifyRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "key of the plato-alerts-frequencies-services Maintenance"
      required: true
      type: "string"
    - name: "plato-alerts-frequencies-services"
      in: "body"
      description: "Request Body that contains data required for updating an existing plato-alerts-frequencies-services"
      required: true
      schema:
       $ref: "#/definitions/PlatoTmAlertFrequencyDTO"
    - name: "bindingResult" 
      in: "body" 
      description: "Request Body that contains data required for modify an existing record plato-alerts-frequencies-services" 
      required: false
      schema:
       $ref: "#/definitions/BindingResult"
   responses:
    200:
     description: "Returns updated plato-alerts-frequencies-services"
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "plato-alerts-frequencies-services"
   summary: "Retrieves the plato-alerts-frequencies-services by ID."
   description:  "Retrieves the plato-alerts-frequencies-services by ID."
   operationId: "getById"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
    - name: "version"
      in: "query"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the plato-alerts-frequencies-services based on given id."
     schema:
      $ref: "#/definitions/PlatoTmAlertFrequencyWrapperDTO"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
  delete:
   tags:
    - "plato-alerts-frequencies-services"
   summary: "Deletes the plato-alerts-frequencies-services identified by given ID."
   description:  "Deletes the plato-alerts-frequencies-services identified by given ID. Add additional information here for the this endpoint."
   operationId: "delete"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the plato-alerts-frequencies-services maintenance"
      required: true
      type: "string"
    - name: "plato-alerts-frequencies-services"
      in: "body"
      description: Request body contain plato-alerts-frequencies-services and Modification no of plato-alerts-frequencies-services maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to Authorize existing record.
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../plato-alerts-frequencies-services/xxx/approve

 /plato-alerts-frequencies-services/{id}/approve:
  patch:
   tags:
    - "plato-alerts-frequencies-services"
   summary: "Authorize the plato-alerts-frequencies-services by given ID."
   description:  "Authorize the plato-alerts-frequencies-services identified by given ID."
   operationId: "authorize"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the plato-alerts-frequencies-services maintenance"
      required: true
      type: "string"
    - name: "plato-alerts-frequencies-services"
      in: "body"
      description: Request body contain plato-alerts-frequencies-services and Modification no of plato-alerts-frequencies-services maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to close existing record
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../plato-alerts-frequencies-services/xxx/close
 /plato-alerts-frequencies-services/{id}/close:
  patch:
   tags:
    - "plato-alerts-frequencies-services"
   summary: "Close the plato-alerts-frequencies-services by given ID."
   description:  "Close the plato-alerts-frequencies-services identified by given ID."
   operationId: "closeRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the plato-alerts-frequencies-services maintenance"
      required: true
      type: "string"
    - name: "plato-alerts-frequencies-services"
      in: "body"
      description: Request body contain plato-alerts-frequencies-services and Modification no of plato-alerts-frequencies-services maintenance which need to be closed"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to reopen existing record
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../plato-alerts-frequencies-services/xxx/reopen

 /plato-alerts-frequencies-services/{id}/reopen:
  patch:
   tags:
    - "plato-alerts-frequencies-services"
   summary: "reopen the plato-alerts-frequencies-services by given ID."
   description:  "reopen the plato-alerts-frequencies-services identified by given ID."
   operationId: "reopenRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the plato-alerts-frequencies-services maintenance"
      required: true
      type: "string"
    - name: "plato-alerts-frequencies-services"
      in: "body"
      description: Request body contain plato-alerts-frequencies-services and Modification no of plato-alerts-frequencies-services maintenance which need to be reopen"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to get all unauthorized records
#
#  supprorted http methods GET
#
# path examples----
#   GET       .../plato-alerts-frequencies-services/xxx/unauthorized

 /plato-alerts-frequencies-services/{id}/unauthorized:
  get:
   tags:
    - "plato-alerts-frequencies-services"
   summary: "Retrives the plato-alerts-frequencies-services by given ID."
   description:  "Retrives the plato-alerts-frequencies-services identified by given ID."
   operationId: "authQuery"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the plato-alerts-frequencies-services based on given id."
     schema:
       $ref: "#/definitions/PlatoTmAlertFrequencyCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to  history record for remitterid
#
#  supprorted http methods GETS
#
# path examples----
#   GET       .../plato-alerts-frequencies-services/xxx/history

 /plato-alerts-frequencies-services/{id}/history:
  get:
   tags:
    - "plato-alerts-frequencies-services"
   summary: "Retrives the plato-alerts-frequencies-services by given ID."
   description:  "Retrives the plato-alerts-frequencies-services by ID."
   operationId: "getHistory"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the plato-alerts-frequencies-services based on given id."
     schema:
       $ref: "#/definitions/PlatoTmAlertFrequencyCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
definitions:
 PlatoTmAlertFrequencyDTO:
  type: object
  allOf:
  - $ref: '#/definitions/GenericDto'
  - type: object
    properties:
     code:
      type: string
      description: ""
     description:
      type: string
      description: ""
 ModListKeyDto:
  type: object
  properties:
   modNos:
    type: array
    items:
     type: integer
   remarks:
    type: string
 KeyDto:
  type: object
  properties:
   modNo:
    type: integer
   remarks:
    type: string
 ResponseDto:
  type: object
  properties:
   id:
    type: string
   status:
    type: string
   codes:
    type: array
    items:
     $ref: "#/definitions/ResponseCode"
   requestId:
    type: string
 ResponseCode:
  type: object
  properties:
   Code:
    type: string
   Desc:
    type: string
   Type:
    type: string
   Language:
    type: string
   args:
    type: array
    items:
     type: object
   arg:
    type: string
 BindingResult:
  type: object
 GenericDto:
  allOf:
   - type: object
     discriminator: resource_type
 PlatoTmAlertFrequencyCollection: 
  description: "Collection of alertfrequency."
  type: "object"
  properties:
   data:
    type: "array"
    items: 
     $ref: "#/definitions/PlatoTmAlertFrequencyDTO"
   paging:
    $ref: "#/definitions/PagingDto"
 PagingDto:
  type: object
  properties:
   totalResults:
    type: integer
 ResponseDtoWrapper:
  type: object
  properties:
   messages:
    $ref: "#/definitions/ResponseDto"
   data:
    $ref: "#/definitions/ResponseResourceSupport"
 ResponseResourceSupport:
  type: object
 PlatoTmAlertFrequencyWrapperDTO:
  type: object
  properties:
   data:
    $ref: "#/definitions/PlatoTmAlertFrequencyDTO"
