#-----------------------------------------------------------------------------------------------------
#  **
#  ** File Name  : common.yaml
#  **
#  ** Module     : cmctmchgprctmplt
#  ** 
#  ** This source is part of the Oracle FLEXCUBE  and is copyrighted by Oracle Financial Services Software Limited.  ** 
#  ** 
#  ** All rights reserved. No part of this work may be reproduced, stored in a retrieval system,
#  ** adopted or transmitted in any form or by any means, electronic, mechanical, photographic,
#  ** graphic, optic recording or otherwise, translated in any language or computer language,
#  ** without the prior written permission of Oracle Financial Services Software Limited.
#  ** 
#  ** Oracle Financial Services Software Limited.
#  ** 10-11, SDF I, SEEPZ, Andheri (East),
#  ** Mumbai - 400 096.
#  ** India
#  ** Copyright 2017-2018 Oracle Financial Services Software Limited. All rights reserved.
#  -------------------------------------------------------------------------------------------------------
#
#  CHANGE HISTORY
#
#  Created By         :  System
#
#  Bug Number         :  
#  Changed By         :  
#  Change Description :  
#  Change On          :  
#  Search String      :  
#  
#  -------------------------------------------------------------------------------------------------------
  

swagger: "2.0"
info:
 description: "This is a sample server cmctmchgprctmplt server." 
 version: "1.0.0"
 title: "cmctmchgprctmplt Service"
host: "api-plato.us.oracle.com:8080"
basePath: "/api/1.0"
consumes:
 - "application/json"
produces:
 - "application/json"
tags:
 - name: "cmctmchgprctmplt"
   description: "this service is to manage crud operations in master datasegment  .........................................................................................................................................."

schemes:
- "https"

paths:

# path to create a new record and fetch all valid records or by intent
#
#  supprorted http methods POST and GET
#
# path example ../cmctmchgprctmplt

 /cmctmchgprctmplt:
  post:
   tags:
    - "cmctmchgprctmplt"
   summary: "Adds a new cmctmchgprctmplt."
   description: "Adds a new cmctmchgprctmplt. Add additional information here for this endpoint."
   operationId: "saveRecord"
   parameters:
    - name: "cmctmchgprctmplt" 
      in: "body" 
      description: "Request Body that contains data required for creating a new cmctmchgprctmplt" 
      required: true
      schema:
       $ref: "#/definitions/CmcTmChgPrcTmpltDTO"
   responses:
    201: 
     description: "Returns message of succes or failure " 
     headers:
      Location:
       description: "URL of newly created cmctmchgprctmplt" 
       type: "string"
     schema:
       $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "cmctmchgprctmplt"
   summary: "Get all valid cmctmchgprctmplt."
   description:  "Get all valid cmctmchgprctmplt. This endpoints will be used to Get all valid cmctmchgprctmplt maintenance records."
   operationId: "getAll"
   parameters:
   - name: includecloseandunauth
     in: query
     description: includecloseandunauth need to be set to fetch summary record, defult value is false
     required: false
     type: boolean
   - name: offset
     in: query
     description: offset is starting no of records to be fetched
     required: false
     type: integer
   - name: limit
     in: query
     description: limit is maximum no of records to be fetched
     required: false
     type: integer
   responses:
    201:
     description: "Returns message of success or failure"
     headers: 
      Location:
       description: ""
       type: "string"
     schema:
       $ref: "#/definitions/CmcTmChgPrcTmpltCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"

# path to modify existing record, delete existing record and fetch valid records by id or by intent( includes latestRecord, version no)
#
#  supprorted http methods PUT, DELETE and GET
#
# path examples----
#   PUT       .../cmctmchgprctmplt/xxx
#   DELETE    .../cmctmchgprctmplt/xxx
#   GET       .../cmctmchgprctmplt/xxx
#   GET       .../cmctmchgprctmplt/xxx?version=latestrecord
#   GET       .../cmctmchgprctmplt/xxx?version=1

 /cmctmchgprctmplt/{id}:
  put:
   tags:
    - "cmctmchgprctmplt"
   summary: "Update an existing cmctmchgprctmplt."
   description:  "Update an existing cmctmchgprctmplt."
   operationId: "modifyRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "key of the cmctmchgprctmplt Maintenance"
      required: true
      type: "string"
    - name: "cmctmchgprctmplt"
      in: "body"
      description: "Request Body that contains data required for updating an existing cmctmchgprctmplt"
      required: true
      schema:
       $ref: "#/definitions/CmcTmChgPrcTmpltDTO"
   responses:
    200:
     description: "Returns updated cmctmchgprctmplt"
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "cmctmchgprctmplt"
   summary: "Retrieves the cmctmchgprctmplt by ID."
   description:  "Retrieves the cmctmchgprctmplt by ID."
   operationId: "getById"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
    - name: "version"
      in: "query"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the cmctmchgprctmplt based on given id."
     schema:
      $ref: "#/definitions/CmcTmChgPrcTmpltWrapperModel"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
  delete:
   tags:
    - "cmctmchgprctmplt"
   summary: "Deletes the cmctmchgprctmplt identified by given ID."
   description:  "Deletes the cmctmchgprctmplt identified by given ID. Add additional information here for the this endpoint."
   operationId: "delete"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the cmctmchgprctmplt maintenance"
      required: true
      type: "string"
    - name: "cmctmchgprctmplt"
      in: "body"
      description: Request body contain cmctmchgprctmplt and Modification no of cmctmchgprctmplt maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to Authorize existing record.
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../cmctmchgprctmplt/xxx/approve

 /cmctmchgprctmplt/{id}/approve:
  patch:
   tags:
    - "cmctmchgprctmplt"
   summary: "Authorize the cmctmchgprctmplt by given ID."
   description:  "Authorize the cmctmchgprctmplt identified by given ID."
   operationId: "authorize"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the cmctmchgprctmplt maintenance"
      required: true
      type: "string"
    - name: "cmctmchgprctmplt"
      in: "body"
      description: Request body contain cmctmchgprctmplt and Modification no of cmctmchgprctmplt maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to close existing record
#
#  supported http methods PATCH
#
# path examples----
#   PATCH       .../cmctmchgprctmplt/xxx/close
 /cmctmchgprctmplt/{id}/close:
  patch:
   tags:
    - "cmctmchgprctmplt"
   summary: "Close the cmctmchgprctmplt by given ID."
   description:  "Close the cmctmchgprctmplt identified by given ID."
   operationId: "closeRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the cmctmchgprctmplt maintenance"
      required: true
      type: "string"
    - name: "cmctmchgprctmplt"
      in: "body"
      description: Request body contain cmctmchgprctmplt and Modification no of cmctmchgprctmplt maintenance which need to be closed"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to reopen existing record
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../cmctmchgprctmplt/xxx/reopen

 /cmctmchgprctmplt/{id}/reopen:
  patch:
   tags:
    - "cmctmchgprctmplt"
   summary: "reopen the cmctmchgprctmplt by given ID."
   description:  "reopen the cmctmchgprctmplt identified by given ID."
   operationId: "reopenRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the cmctmchgprctmplt maintenance"
      required: true
      type: "string"
    - name: "cmctmchgprctmplt"
      in: "body"
      description: Request body contain cmctmchgprctmplt and Modification no of cmctmchgprctmplt maintenance which need to be reopen"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to get all unauthorized records
#
#  supprorted http methods GET
#
# path examples----
#   GET       .../cmctmchgprctmplt/xxx/unauthorized

 /cmctmchgprctmplt/{id}/unauthorized:
  get:
   tags:
    - "cmctmchgprctmplt"
   summary: "Retrives the cmctmchgprctmplt by given ID."
   description:  "Retrives the cmctmchgprctmplt identified by given ID."
   operationId: "authQuery"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the cmctmchgprctmplt based on given id."
     schema:
       $ref: "#/definitions/CmcTmChgPrcTmpltCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to  history record for remitterid
#
#  supprorted http methods GETS
#
# path examples----
#   GET       .../cmctmchgprctmplt/xxx/history

 /cmctmchgprctmplt/{id}/history:
  get:
   tags:
    - "cmctmchgprctmplt"
   summary: "Retrives the cmctmchgprctmplt by given ID."
   description:  "Retrives the cmctmchgprctmplt by ID."
   operationId: "getHistory"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the cmctmchgprctmplt based on given id."
     schema:
       $ref: "#/definitions/CmcTmChgPrcTmpltCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
 /cmctmchgprctmplt/{id}/isValid:
  get:
   tags:
    - "cmctmchgprctmplt"
   summary: "Validate the CmcTmChgPrcTmplt by ResourceId"
   description:  "Validate the CmcTmChgPrcTmplt by ResourceId"
   operationId: "validateCmcTmChgPrcTmplt"
   parameters:
    - name: "resourceId"
      in: "path"
      description: "resourceId of the user that needs to be validated"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the boolean based on validation of given resource id."
     schema:
       $ref: "#/definitions/boolean"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
definitions:
 CmcTmChgPrcTmpltDTO:
  type: object
  allOf:
  - $ref: '#/definitions/GenericDto'
  - type: object
    properties:
     id:
      type: string
      description: "ID"
     action:
      type: string
      description: "Action"
     autoAuth:
      type: string
      description: "Auto Authorization"
     modificationStatus:
      type: string
      description: "Modification Status"
     datasegmentCode:
      type: string
      description: 'Datasegment Code'
     checkerRemarks:
      type: string
      description: 'Checker Remarks'
     makerRemarks:
      type: string
      description: 'Maker Remarks'
     applicationCode:
      type: string
      description: "Application Code"
     chgInTxnCcy:
      type: string
      description: "Charge in Transaction Currency Flag"
     chgPrcDesc:
      type: string
      description: "Price Method Description"
     chgPrcTemplateId:
      type: string
      description: "Price Rule Id"
     fixedAmt:
      type: number
      description: "Fixed Amount"
     fixedPct:
      type: number
      description: "Fixed Percentage"
     flatChg:
      type: string
      description: "Flat Charge Flag"
     maxChgAmount:
      type: number
      description: "Maximum Charge Amount"
     maxChgPct:
      type: number
      description: "Maximum Charge Percentage"
     minChgAmount:
      type: number
      description: "Minimum Charge Amount"
     minChgPct:
      type: number
      description: "Minimum Charge Percentage"
     minMaxValidationCriteria:
      type: string
      description: "Min-Max CHarge Criteria"
     prcCategory:
      type: string
      description: "Price Category"
     prcCategoryDesc:
      type: string
      description: "Price Category Description"
     prcCcy:
      type: string
      description: "Price Rule Currency"
     prcMethod:
      type: string
      description: "Price Method"
     prcMethodDesc:
      type: string
      description: "Price Method Description"
     annumBasis:
      type: string
      description: "Annum Basis"
     rateCode:
      type: string
      description: "Rate Code"
     rateType:
      type: string
      description: "Rate Type"
     isSlidingScale:
      type: string
      description: "Sliding Scale Flag"
     category:
      type: string
      description: "Category"
     CmcTmChgPrcTiersDTO:
      type: array
      items:
       $ref: '#/definitions/CmcTmChgPrcTiersDTO'
 CmcTmChgPrcTiersDTO:
  type: object
  properties:
     id:
      type: string
      description: "ID"
     amount:
      type: number
      description: "Amount"
     chgPrcTemplateId:
      type: string
      description: "Charge Price Template ID"
     fromSlab:
      type: number
      description: "Slab start limit"
     pct:
      type: number
      description: "Slab Percentage"
     prcMasterId:
      type: string
      description: "Price rule master id"
     toSlab:
      type: number
      description: "Slab end limit"
     unit:
      type: number
      description: "Slab units"
     isSlidingScale:
      type: string
      description: "Sliding Scale Flag"
     upperThreshold:
      type: number
      description: "Upper threshold"
     lowerThreshold:
      type: number
      description: "Lower threshold"
 ModListKeyDto:
  type: object
  properties:
   modNos:
    type: array
    items:
     type: integer
   remarks:
    type: string
 KeyDto:
  type: object
  properties:
   modNo:
    type: integer
   remarks:
    type: string
 ResponseDto:
  type: object
  properties:
   id:
    type: string
   status:
    type: string
   codes:
    type: array
    items:
     $ref: "#/definitions/ResponseCode"
   requestId:
    type: string
 ResponseCode:
  type: object
  properties:
   Code:
    type: string
   Desc:
    type: string
   Type:
    type: string
   Language:
    type: string
   args:
    type: array
    items:
     type: object
   arg:
    type: string
 GenericDto:
  allOf:
   - type: object
     discriminator: resource_type
 CmcTmChgPrcTmpltCollection: 
  description: "Collection of cmctmchgprctmplt."
  type: "object"
  properties:
   data:
    type: "array"
    items: 
     $ref: "#/definitions/CmcTmChgPrcTmpltDTO"
   paging:
    $ref: "#/definitions/PagingDto"
 PagingDto:
  type: object
  properties:
   totalResults:
    type: integer
 ResponseDtoWrapper:
  type: object
  properties:
   messages:
    $ref: "#/definitions/ResponseDto"
   data:
    $ref: "#/definitions/ResponseResourceSupport"
 ResponseResourceSupport:
  type: object
 CmcTmChgPrcTmpltWrapperModel:
  type: object
  properties:
   data:
    $ref: "#/definitions/CmcTmChgPrcTmpltDTO"
