swagger: "2.0"
info:
  description: "Provides definitions for all filter service objects"
  version: "1.0.0"
  title: "Filter Service Definitions"
host: "api-plato.us.oracle.com:8080"
basePath: "/obscfcm-filter-services"
consumes:
  - "application/json"
  - "application/xml"
produces:
  - "application/json"
  - "application/xml"

paths:
  /:
    get:
      responses:
        201:
          description: ""

definitions:
  ScfFilterCriteriaModelKeyCollection:
    description: "Collection of list of Parameters."
    type: "object"
    properties:
      category:
        description: "Category of the param"
        type: "string"
      ScfFilterParamModelCollection:
        type: "array"
        items:
          $ref: "#/definitions/ScfFilterParamModelCollection"
          
  ScfFilterParamModelCollection:
    description: "Collection of Scf filter parameters"
    type: "object"
    properties:
      type:
        description: "Filter criteria"
        type: "string"
      description:
        description: "Description of the filter type"
        type: "string"
      hierarchy:
        description: "Hierarchy of the criteria"
        type: "string"
      ScfFilterParamModel:
        type: "array"
        items:
          $ref: "#/definitions/ScfFilterParamModel"
          
  ScfFilterParamModel:
    description: "Scf Filter Parameters model"
    type: "object"
    properties:
      parameter:
        description: "Name of the parameter"
        type: "string"
      label:
        description: "Label of the parameter for given language"
        type: "string"
      columnName:
        description: "Name of the mapped column for given parameter"
        type: "string"
      fieldType:
        description: "Field Type"
        type: "string"
      endpointValue:
        description: "Endpoint Value"
        type: "string"
      reqParams:
        description: "Endpoint Request Parameters"
        type: "string"
      lovConfig:
        description: "LOV Config Data"
        type: "array"
        items:
         $ref: '#/definitions/Map'
          
  ScfTransOutputResponse:
    description: "Output response from transaction API"
    type: "object"
    properties:
      queryList:
        type: "array"
        items:
          $ref: "#/definitions/ScfFilterQueryModel"
          
  ScfFilterQueryModel:
    description: "Query and attribute list model"
    type: "object"
    properties:
      queryId:
        description: "Query Id"
        type: number
      query:
        description: "Filter Query"
        type: "string"
      ScfTransCriteriaQueryAttributeModel:
        type: "array"
        items:
          $ref: "#/definitions/ScfTransCriteriaQueryAttributeModel"
          
  ScfTransCriteriaQueryAttributeModel:
    description: "Query for each type of given category"
    type: "object"
    properties:
      paramIndex:
        description: "Input parameter index in the query"
        type: "integer"
      paramName:
        description: "Input parameter name in the query"
        type: "string"
      columnName:
        description: "Corresponding column of the input parameter index in the query"
        type: "string"
      mappedParam:
        description: "Mapped column of the input parameter index in the query"
        type: "string"
          
  ScfFilterInput:
    description: "Represents the input request of the final filter service call from transaction services"
    type: "object"
    properties:
      applicationCode:
        description: "Application Code"
        type: "string"
      category:
        description: "Represents the category of the filter"
        type: "string"
      eventCode:
        description: "Represents the eventCode of the filter"
        type: "string"  
      filterRecords:
        type: "array"
        items:
          $ref: "#/definitions/ScfFilterRecords"
          
  ScfFilterRecords:
    description: "Represents the records filtered in calling service using filter query"
    type: "object"
    properties:
      attributeList:
        type: "array"
        items:
          $ref: "#/definitions/ScfAttribute"
          
  ScfFilterOutput:
    description: "Represents the best possible combination for the given category"
    type: "object"
    properties:
      attributeList:
        type: "array"
        items:
          $ref: "#/definitions/ScfAttribute"
          
  ScfAttribute:
    description: "Represents each attribute of the records filtered in calling service using filter query"
    type: "object"
    properties:
      attributeName:
        description: "Name of the attribute representing DB column name"
        type: "string"
      attributeValue:
        description: "Value of the corresponding column in DB"
        type: "string"
        
  StringStringMap:
    type: object
    additionalProperties:
      type: string
      
  ScfTmProductMasterCollection: 
   description: "Collection of product."
   type: "object"
   properties:
    data:
     type: "array"
     items: 
      $ref: "#/definitions/ScfTmProductMasterDTO"
    paging:
     $ref: "#/definitions/PagingDto"
     
  ScfTmProductMasterDTO:
   type: object
#   allOf:
#   - $ref: '#/definitions/GenericDto'
#   - type: object
   properties:
    appropriationSeqAftDueDate:
     type: string
     description: "Appropriation Sequence After Due Date"
    appropriationSeqBefDueDate:
     type: string
     description: "Appropriation Sequence Before Due Date"
    appropriationSeqOnDueDate:
     type: string
     description: "Appropriation Sequence On Due Date"
    autoDebitApplicable:
     type: string
     description: "Auto Debit Applicable"
    autoFinanceApplicable:
     type: string
     description: "Auto Finance Applicable"
    autoSettlementApplicable:
     type: string
     description: "Auto Settlement Applicable"
    branchCode:
     type: string
     description: "Branch Code"
    creditLimitUtilization:
     type: string
     description: "Credit Limit Utilization"
    debitAcctTypeAfterDueDate:
     type: string
     description: "Debit Account Type After Due Date"
    debitAcctTypeOnDueDate:
     type: string
     description: "Debit Account Type On Due Date"
    debitPartyAfterDueDate:
     type: string
     description: "Debit Party After Due Date"
    debitPartyOnDueDate:
     type: string
     description: "Debit Party On Due Date"
    debtor:
     type: string
     description: "Debtor"
    effectiveFrom:
     type: string
     format: date
     description: "Effective From"
    expiresOn:
     type: string
     format: date
     description: "Expires On"
    holidayTreatment:
     type: string
     description: "Holiday Treatment"
    maturityDateCalculation:
     type: string
     description: "Maturity Date Calculation"
    maxFinancePercentage:
     type: number
     description: "Maximum Finance Percentage"
    maxTenorAllowed:
     type: number
     description: "Maximum Tenor Allowed"
    minFinancePercentage:
     type: number
     description: "Minimum Finance Percentage"
    minTenorAllowed:
     type: number
     description: "Minimum Tenor Allowed"
    minWaitingPeriod:
     type: number
     description: "Minimum Waiting Period"
    multipleDisbursementAllowed:
     type: string
     description: "Multiple Disbursement Allowed"
    npaAppropriationSeq:
     type: string
     description: "Npa Appropriation Sequence"
    partRepaymentAllowed:
     type: string
     description: "Part Repayment Allowed"
    preferredDisbursementMode:
     type: string
     description: "Preferred Disbursement Mode"
    preferredSettlementMode:
     type: string
     description: "Preferred Settlement Mode"
    prePaymentAllowed:
     type: string
     description: "Pre Payment Allowed"
    productCategory:
     type: string
     description: "Product Category"
    productCode:
     type: string
     description: "Product Code"
    productDescription:
     type: string
     description: "Product Description"
    productType:
     type: string
     description: "Product Type"
    reconciliationTowards:
     type: string
     description: "Reconciliation Towards"     
    stalePeriod:
     type: number
     description: "Stale Period"
    withRecourse:
     type: string
     description: "With Recourse"
    graceDays:
     type: number
       
  PagingDto:
   type: object
   properties:
    totalResults:
     type: integer
     
  GenericDto:
   allOf:
    - type: object
      discriminator: resource_type
      
  ScfTmNonCustomerMasterCollection: 
   description: "Collection of noncustomer."
   type: "object"
   properties:
    data:
     type: "array"
     items: 
      $ref: "#/definitions/ScfTmNonCustomerMasterDTO"
    paging:
     $ref: "#/definitions/PagingDto"
     
  ScfTmNonCustomerMasterDTO:
   type: object
#   allOf:
#   - $ref: '#/definitions/GenericDto'
#   - type: object
   properties:
    category:
     type: string
     description: "Category"
    cif:
     type: string
     description: "Cif"
    countryCode:
     type: string
     description: "Country Code"
    email:
     type: string
     description: "Email"
    faxNumber:
     type: string
     description: "Fax Number"
    giin:
     type: string
     description: "Giin"
    industry:
     type: string
     description: "Industry"
    mobileNumber:
     type: string
     description: "Mobile Number"
    name:
     type: string
     description: "Name"
    nonCustomerId:
     type: string
     description: "Non Customer Id"
    phoneNumber:
     type: string
     description: "Phone Number"
    prefferedCommMode:
     type: string
     description: "Preferred Comm Mode"
    registrationNumber:
     type: string
     description: "Registration Number"
    shortName:
     type: string
     description: "Short Name"
    taxRefNo1:
     type: string
     description: "Tax Reference Number 1"
    taxRefNo2:
     type: string
     description: "Tax Reference Number 2"
    fatca:
     type: string
     description: "Fatca"
    ScfTmNcAddressMasterDTO:
     type: array
     items:
      $ref: '#/definitions/ScfTmNcAddressMasterDTO'
    ScfTmNcRequestMasterDTO:
     type: array
     items:
      $ref: '#/definitions/ScfTmNcRequestMasterDTO'
        
  ScfTmNcAddressMasterDTO:
   type: object
   properties:
      addressLine1:
       type: string
       description: "Address Line 1"
      addressLine2:
       type: string
       description: "Address Line 2"
      addressLine3:
       type: string
       description: "Address Line 3"
      addressLine4:
       type: string
       description: "Address Line 4"
      addressType:
       type: string
       description: "Address Type"
      country:
       type: string
       description: "Country"
      id:
       type: string
       description: "Id"
      nonCustMasterId:
       type: string
       description: "Non Customer Master Id"
      pin:
       type: string
       description: "Pin"
      street:
       type: string
       description: "Street"
      nonCustomerId:
       type: string
       description: "Non Customer Id"
       
  ScfTmNcRequestMasterDTO:
   type: object
   properties:
      anchorId:
       type: string
       description: "Anchor Id"
      anchorName:
       type: string
       description: "Anchor Name"
      id:
       type: string
       description: "Id"
      nonCustomerCode:
       type: string
       description: "Non Customer Code"
      nonCustMasterId:
       type: string
       description: "Non Customer Master Id"
      status:
       type: string
       description: "Status"
      nonCustomerId:
       type: string
       description: "Non Customer Id"
   required:
    - anchorId
    
  ScfTmCustDivisionMasterCollection: 
   description: "Collection of custdivision."
   type: "object"
   properties:
    data:
     type: "array"
     items: 
      $ref: "#/definitions/ScfTmCustDivisionMasterDTO"
      
  ScfTmCustDivisionMasterDTO:
   type: object
#   allOf:
#   - $ref: '#/definitions/GenericDto'
#   - type: object
   properties:
    partyId:
     type: string
     description: "Party Id"
    partyName:
     type: string
     description: "Party Name"
    ScfTmCustDivisionCodeDTO:
     type: array
     items:
      $ref: '#/definitions/ScfTmCustDivisionCodeDTO'
        
  ScfTmCustDivisionCodeDTO:
   type: object
   properties:
      countryCode:
       type: string
       description: "Country Code"
      countryName:
       type: string
       description: "Country Name"
      custDivisionMasterId:
       type: string
       description: "Customer Division Master Id"
      divisionAddressLine1:
       type: string
       description: "Division Address Line 1"
      divisionAddressLine2:
       type: string
       description: "Division Address Line 2"
      divisionAddressLine3:
       type: string
       description: "Division Address Line 3"
      divisionAddressLine4:
       type: string
       description: "Division Address Line 4"
      divisionCode:
       type: string
       description: "Division Code"
      divisionName:
       type: string
       description: "Division Name"
      email:
       type: string
       description: "Email"
      id:
       type: string
       description: "Id"
      partyId:
       type: string
       description: "Party Id"
      partyName:
       type: string
       description: "Party Name"
      telNo:
       type: string
       description: "Telephone Number"
       
  ScfTmProgramMasterCollection: 
   description: "Collection of program."
   type: "object"
   properties:
    data:
     type: "array"
     items: 
      $ref: "#/definitions/ScfTmProgramMasterDTO"
    paging:
     $ref: "#/definitions/PagingDto"
     
  ScfTmProgramMasterDTO:
   type: object
#   allOf:
#   - $ref: '#/definitions/GenericDto'
#   - type: object
   properties:
    anchorId:
     type: string
     description: "Anchor Id"
    anchorName:
     type: string
     description: "Anchor Name"
    authorizationRequired:
     type: string
     description: "Authorization Required"
    autoAcceptanceApplicable:
     type: string
     description: "Auto Acceptance Applicable"
    autoAcceptanceDays:
     type: number
     description: "Auto Acceptance Days"
    autoFinanceApplicable:
     type: string
     description: "Auto Finance Applicable"
    autoSettlementApplicable:
     type: string
     description: "Auto Settlement Applicable"
    disbursementCcy:
     type: string
     description: "Disbursement Currency"
    effectiveFrom:
     type: string
     format: date
     description: "Effective From"
    expiresOn:
     type: string
     format: date
     description: "Expires on"
    maxFinancePercentage:
     type: number
     description: "Maximum Finance Percentage"
    maxTenorAllowed:
     type: number
     description: "Maximum Tenor"
    minFinancePercentage:
     type: number
     description: "Minimum Finance Percentage"
    minTenorAllowed:
     type: number
     description: "Minimum Tenor Allowed"
    preferredDisbursementMode:
     type: string
     description: "Preferred Disbursement Mode"
    preferredSettlementMode:
     type: string
     description: "Preferred Settlement Mode"
    productCode:
     type: string
     description: "Product Code"
    productDescription:
     type: string
     description: "Product Description"
    programCode:
     type: string
     description: "Program Code"
    programName:
     type: string
     description: "Program Name"
    withRecourse:
     type: string
     description: "With Recourse"
    ScfTmProgramSpokeMasterDTO:
     type: array
     items:
      $ref: '#/definitions/ScfTmProgramSpokeMasterDTO'
        
  ScfTmProgramSpokeMasterDTO:
   type: object
   required:
      - programCode
      - spokeId
   properties:
      authorizationRequired:
       type: string
       description: "Authorization Required"
      autoFinanceApplicable:
       type: string
       description: "Auto Finance Applicable"
      autoSettlementApplicable:
       type: string
       description: "Auto Settlement Applicable"
      disbursementCcy:
       type: string
       description: "Disbursement Currency"
      id:
       type: string
       description: "Id"
      maxFinancePercentage:
       type: number
       description: "Maximum Finance Percentage"
      maxTenorAllowed:
       type: number
       description: "Maximum Tenor Allowed"
      minFinancePercentage:
       type: number
       description: "Minimum Finance Percentage"
      minTenorAllowed:
       type: number
       description: "Minimum Tenor Allowed"
      preferredDisbursementMode:
       type: string
       description: "Preferred Disbursement Mode"
      preferredSettlementMode:
       type: string
       description: "Preferred Settlement Mode"
      programCode:
       type: string
       description: "Program Code"
      programMasterId:
       type: string
       description: "Program Master Id"
      spokeId:
       type: string
       description: "Spoke Id"
      spokeName:
       type: string
       description: "Spoke Name"
      withRecourse:
       type: string
       description: "With Recourse"
       
  CoreCustomerCollection: 
   description: "Collection of corecustomer."
   type: "object"
   properties:
    data:
     type: "array"
     items: 
      $ref: "#/definitions/CoreCustomerDTO"
    paging:
     $ref: "#/definitions/PagingDto"
     
  CoreCustomerDTO:
   type: object
#   allOf:
#   - $ref: '#/definitions/GenericDto'
#   - type: object
   properties:
    country:
     type: string
     description: "Country code of the customer?s address"
     pattern: '([a-zA-Z0-9]+)?'
    language:
     type: string
     description: "Customer's preferred language of communication"
    nationality:
     type: string
     description: "Nationality of the customer"
    deceased:
     type: string
     description: "Identifies that customer is deceased"
    frozen:
     type: string
     description: "Identifies that the customer's account is frozen"
     pattern: '[Y,N]'
    whereaboutsUnknown:
     type: string
     description: "Identifies that the customer's whareabouts not known"
     pattern: '[Y,N]'
    rmId:
     type: string
     description: "Relational Manager's Id"
     minLength: 0
     maxLength: 12
     pattern: '([a-zA-Z0-9]+)?'
    sanctionsChecksRequired:
     type: string
     description: "Indicates that the sanction check should be done or not"
     pattern: '[Y,N]'
    walkinCustomer:
     type: string
     description: "Walkin Customer"
    sourceSystem:
     type: string
     description: "Name of the source system"
    sourceSystemCustNo:
     type: string
     description: "Customer identification details as per the source system."
     minLength: 1
     maxLength: 35
     pattern: '[a-zA-Z0-9]+'
    customerNo:
     type: string
     description: "Customer Number of the external customer"
     minLength: 1
     maxLength: 20
     pattern: '[a-zA-Z0-9]+'
    hostCode:
     type: string
     description: "Displays the host code that is linked to the transaction branch of the customer"
    customerType:
     type: string
     description: "Customer type can be Individual,Corporate or Bank"
     pattern: '[I,C,B]'
    customerCategory:
     type: string
     description: "Category to which the customer belongs to"
    customerName1:
     type: string
     description: "Name of the external customer"
     minLength: 0
     maxLength: 35
     pattern: '([a-zA-Z0-9\s]+)?'
    shortName:
     type: string
     description: "Short name of the custome"
     minLength: 0
     maxLength: 20
     pattern: '([a-zA-Z0-9\s]+)?'
    addressLine1:
     type: string
     description: "First line of the customer?s address"
     minLength: 0
     maxLength: 35
    addressLine2:
     type: string
     description: "Second line of the customer?s address"
     minLength: 0
     maxLength: 35
    addressLine3:
     type: string
     description: "Third line of the customer?s address"
     minLength: 0
     maxLength: 35
    addressLine4:
     type: string
     description: "Fourth line of the customer?s address"
     minLength: 0
     maxLength: 35          
    pincode:
     type: string
     description: "Pincode of the customer?s address"
     minLength: 0
     maxLength: 15
     pattern: '([a-zA-Z0-9]+)?'
   required:
    - sourceSystem
    - sourceSystemCustNo
    - customerNo
    - customerType
    - customerName1
  CmTmProductMasterDTO:
   type: object
   allOf:
   - type: object
     properties:
      branchCode:
       type: string
       description: "Branch Code"
      clearingDays:
       type: number
       description: "Clearing Days"
      currency:
       type: string
       description: "Currency"
      cutOffTime:
       type: string
       description: "Cut Off Time"
      effectiveDate:
       type: string
       format: date
       description: "Effective Date"
      expiryDate:
       type: string
       format: date
       description: "Expiry Date"
      maxTxnAmt:
       type: number
       description: "Maximum Transaction Amount"
      minTxnAmt:
       type: number
       description: "Minimum Transaction Amount"
      networkType:
       type: string
       description: "Network Type"
      productCategory:
       type: string
       description: "Product Category"
      productCode:
       type: string
       description: "Product Code"
      productDescription:
       type: string
       description: "Product Description"
      productExposureLimit:
       type: number
       description: "Product Exposure Limit"
      productType:
       type: string
       description: "Product Type"
      txnControllerRefNo:
       type: string
       description: "Transaction Controller Reference Number"
  CmTmProductMasterCollection: 
   description: "Collection of product."
   type: "object"
   properties:
    data:
     type: "array"
     items: 
      $ref: "#/definitions/CmTmProductMasterDTO"
    paging:
     $ref: "#/definitions/PagingDto"
  ObcmTmRelationshipMasterCollection: 
   description: "Collection of relationship."
   type: "object"
   properties:
    data:
     type: "array"
     items: 
      $ref: "#/definitions/ObcmTmRelationshipMasterDTO"
    paging:
     $ref: "#/definitions/PagingDto"
  ObcmTmRelationshipMasterDTO:
   type: object
   #allOf:
   #- $ref: '#/definitions/GenericDto'
   #- type: object
   properties:
    autoAcceptance:
     type: string
     description: "Auto Acceptance"
    corporateId:
     type: string
     description: "Corporate Id"
    corporateName:
     type: string
     description: "Corporate Name"
    effFromDate:
     type: string
     description: "Effective From Date"
    relationshipCode:
     type: string
     description: "Relationship code"
    relationshipName:
     type: string
     description: "Relationship Name"
    expiresOn:
     type: string
     description: "Expires On"
    product:
     type: string
     description: "Product"
    noOfDays:
     type: integer
     description: "Number Of days"
    maxDate:
     type: string
     description: "Maximum Date"
    txnControllerRefNo:
     type: string
     description: "Transaction Controller Reference Number"
    ObcmTmRelationshipDetailsDTO:
     type: array
     items:
      $ref: '#/definitions/ObcmTmRelationshipDetailsDTO'
  ObcmTmRelationshipDetailsDTO:
   type: object
   properties:
      autoAcceptance:
       type: string
       description: "Auto Acceptance"
      counterpartyid:
       type: string
       description: "Counterparty Id"
      counterpartyname:
       type: string
       description: "Counterparty Name"
      id:
       type: string
       description: "Id"
      partyType:
       type: string
       description: "Party Type"
      relationsMasterId:
       type: string
       description: "Relations Master Id"
      expiresOn:
       type: string
       description: "Expires On"
      noOfDays:
       type: integer
       description: "Number Of Days"
      status:
       type: string
       description: "Status"
      externalCodes:
       type: array
       description: "External Codes"
       items:
        $ref: '#/definitions/ObcmTmRelationshipDetailsExternalCodeDTO'
      nonCust:
       $ref: '#/definitions/ScfTmNonCustomerMasterDTO'
  ObcmTmRelationshipDetailsExternalCodeDTO:
   type: object
   properties:
      externalCode:
       type: string
       description: "External Code"
      divisionCode:
       type: string
       description: "Division Code"
      corporateDivisionCode:
       type: string
       description: "Corporate Division Code"
      id:
       type: string
       description: "Id"
      relationshipDetailId:
       type: string
       description: "Relationship Detail Id"
  ScfDivisionDetailsDTO:
   type: object
   properties:
      externalCode:
       type: string
       description: "External Code"
      buyerCode:
       type: string
       description: "Buyer Code"
      buyerDivision:
       type: string
       description: "Buyer Division"
      sellerCode:
       type: string
       description: "Seller Code"
      sellerDivision:
       type: string
       description: "Seller Division"
  CmTmLocationLinkDTO:
   type: object
   properties:
    txnControllerRefNo:
     type: string
     description: "Transaction Controller Reference Number"
    calendarCode:
     type: string
     description: "Calendar Code"
    clearingNetwork:
     type: string
     description: "Clearing Network"
    highValueCutoffAmt:
     type: number
     description: "High Value Cutoff Amount"
    highValueCutoffAmtCcy:
     type: string
     description: "High Value Cutoff Amount Currency"
    locationClusterCode:
     type: string
     description: "Location Cluster Code"
    locationClusterDescription:
     type: string
     description: "Location Cluster Description"
    locationCode:
     type: string
     description: "Location Code"
    locationDescription:
     type: string
     description: "Location Description"
    CmTmLocCorrBankDTO:
     type: array
     items:
      $ref: '#/definitions/CmTmLocCorrBankDTO'
    CmTmLocOsNwBankDTO:
     type: array
     items:
      $ref: '#/definitions/CmTmLocOsNwBankDTO'
  CmTmLocCorrBankDTO:
   type: object
   properties:
      bankCode:
       type: string
       description: "Bank Code"
      bankDescription:
       type: string
       description: "Bank Description"
      branchCode:
       type: string
       description: "Branch Code"
      branchDescription:
       type: string
       description: "Branch Description"
      id:
       type: string
       description: "Id"
      locationCode:
       type: string
       description: "Location Code"
      locationMasterId:
       type: string
       description: "Location Master Id"
      priority:
       type: number
       description: "Priority"
  CmTmLocOsNwBankDTO:
   type: object
   properties:
      bankCode:
       type: string
       description: "Bank Code"
      bankDescription:
       type: string
       description: "Bank Description"
      branchCode:
       type: string
       description: "Branch Code"
      branchDescription:
       type: string
       description: "Branch Description"
      id:
       type: string
       description: "Id"
      locationCode:
       type: string
       description: "Location Code"
      locationMasterId:
       type: string
       description: "Location Master Id"
      priority:
       type: number
       description: "Priority"
  CmTmLocationLinkCollection: 
   description: "Collection of locationlink."
   type: "object"
   properties:
    data:
     type: "array"
     items: 
      $ref: "#/definitions/CmTmLocationLinkDTO"
    paging:
     $ref: "#/definitions/PagingDto" 

  Map:
    type: object
    additionalProperties:
      type: string
