swagger: "2.0"
info:
  description: "Provides filter parameter API used to show filter criteria & filter parameters on UI"
  version: "1.0.0"
  title: "Filter Web"
host: "api-plato.us.oracle.com:8080"
basePath: "/obscfcm-filter-services"
consumes:
  - "application/json"
  - "application/xml"
produces:
  - "application/json"
  - "application/xml"
tags:
  - name: "Filter-Web"
    description: "Web APIs for Filter Service"

paths: 
  /web/v1/filterParams:
    get:
      tags:
        - "Filter-Web"
      summary: "Retrieves Filter Parameters"
      description:  "Retrieves Filter Parameters."
      operationId: "getFilterParam"
      parameters:
      - name: "userId"
        in: "header"
        description: "User Id"
        required: true
        type: "string"
      - name: "branchCode"
        in: "header"
        description: "Branch Code"
        required: true
        type: "string"
      - name: "appId"
        in: "header"
        description: "Application Id"
        type: "string"
        required: true
      - name: "applicationCode"
        in: "query"
        description: "Application Code"
        required: true
        type: "string"
      - name: "category"
        in: "query"
        description: "Category for which parameters need to be fetched"
        required: true
        type: "string"
      - name: "language"
        in: "query"
        description: "Language in which parameter labels need to be fetched"
        required: false
        type: "string"
      - name: "eventCode"
        in: "query"
        description: "Event code mapped to the category that needs to be fetched"
        required: false
        type: "string"
      responses:
        200:
          description: "Filter parameter details"
          schema:
            $ref: "./filterServiceDef.yaml#/definitions/ScfFilterCriteriaModelKeyCollection"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"