#-----------------------------------------------------------------------------------------------------
#  **
#  ** File Name  : common.yaml
#  **
#  ** Module     : scftmprogrammaster
#  ** 
#  ** This source is part of the Oracle FLEXCUBE  and is copyrighted by Oracle Financial Services Software Limited.  ** 
#  ** 
#  ** All rights reserved. No part of this work may be reproduced, stored in a retrieval system,
#  ** adopted or transmitted in any form or by any means, electronic, mechanical, photographic,
#  ** graphic, optic recording or otherwise, translated in any language or computer language,
#  ** without the prior written permission of Oracle Financial Services Software Limited.
#  ** 
#  ** Oracle Financial Services Software Limited.
#  ** 10-11, SDF I, SEEPZ, Andheri (East),
#  ** Mumbai - 400 096.
#  ** India
#  ** Copyright 2017-2018 Oracle Financial Services Software Limited. All rights reserved.
#  -------------------------------------------------------------------------------------------------------
#
#  CHANGE HISTORY
#
#  Created By         :  System
#
#  Bug Number         :  
#  Changed By         :  
#  Change Description :  
#  Change On          :  
#  Search String      :  
#  
#  -------------------------------------------------------------------------------------------------------
  

swagger: "2.0"
info:
 description: "This is a sample server scftmprogrammaster server." 
 version: "1.0.0"
 title: "scftmprogrammaster Service"
host: "api-plato.us.oracle.com:8080"
basePath: "/api/1.0"
consumes:
 - "application/json"
produces:
 - "application/json"
tags:
 - name: "scftmprogrammaster"
   description: "this service is to manage crud operations in master datasegment  .........................................................................................................................................."

schemes:
- "https"

paths:

# path to create a new record and fetch all valid records or by intent
#
#  supprorted http methods POST and GET
#
# path example ../scftmprogrammaster

 /scftmprogrammaster:
  post:
   tags:
    - "scftmprogrammaster"
   summary: "Adds a new scftmprogrammaster."
   description: "Adds a new scftmprogrammaster. Add additional information here for this endpoint."
   operationId: "saveRecord"
   parameters:
    - name: "scftmprogrammaster" 
      in: "body" 
      description: "Request Body that contains data required for creating a new scftmprogrammaster" 
      required: true
      schema:
       $ref: "#/definitions/ScfTmProgramMasterDTO"
   responses:
    201: 
     description: "Returns message of succes or failure " 
     headers:
      Location:
       description: "URL of newly created scftmprogrammaster" 
       type: "string"
     schema:
       $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "scftmprogrammaster"
   summary: "Get all valid scftmprogrammaster."
   description:  "Get all valid scftmprogrammaster. This endpoints will be used to Get all valid scftmprogrammaster maintenance records."
   operationId: "getAll"
   parameters:
   - name: includecloseandunauth
     in: query
     description: includecloseandunauth need to be set to fetch summary record, defult value is false
     required: false
     type: boolean
   - name: offset
     in: query
     description: offset is starting no of records to be fetched
     required: false
     type: integer
   - name: limit
     in: query
     description: limit is maximum no of records to be fetched
     required: false
     type: integer
   responses:
    201:
     description: "Returns message of success or failure"
     headers: 
      Location:
       description: ""
       type: "string"
     schema:
       $ref: "#/definitions/ScfTmProgramMasterCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"

# path to modify existing record, delete existing record and fetch valid records by id or by intent( includes latestRecord, version no)
#
#  supprorted http methods PUT, DELETE and GET
#
# path examples----
#   PUT       .../scftmprogrammaster/xxx
#   DELETE    .../scftmprogrammaster/xxx
#   GET       .../scftmprogrammaster/xxx
#   GET       .../scftmprogrammaster/xxx?version=latestrecord
#   GET       .../scftmprogrammaster/xxx?version=1

 /scftmprogrammaster/{id}:
  put:
   tags:
    - "scftmprogrammaster"
   summary: "Update an existing scftmprogrammaster."
   description:  "Update an existing scftmprogrammaster."
   operationId: "modifyRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "key of the scftmprogrammaster Maintenance"
      required: true
      type: "string"
    - name: "scftmprogrammaster"
      in: "body"
      description: "Request Body that contains data required for updating an existing scftmprogrammaster"
      required: true
      schema:
       $ref: "#/definitions/ScfTmProgramMasterDTO"
   responses:
    200:
     description: "Returns updated scftmprogrammaster"
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "scftmprogrammaster"
   summary: "Retrieves the scftmprogrammaster by ID."
   description:  "Retrieves the scftmprogrammaster by ID."
   operationId: "getById"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
    - name: "version"
      in: "query"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the scftmprogrammaster based on given id."
     schema:
      $ref: "#/definitions/ScfTmProgramMasterWrapperModel"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
  delete:
   tags:
    - "scftmprogrammaster"
   summary: "Deletes the scftmprogrammaster identified by given ID."
   description:  "Deletes the scftmprogrammaster identified by given ID. Add additional information here for the this endpoint."
   operationId: "delete"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the scftmprogrammaster maintenance"
      required: true
      type: "string"
    - name: "scftmprogrammaster"
      in: "body"
      description: Request body contain scftmprogrammaster and Modification no of scftmprogrammaster maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to Authorize existing record.
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../scftmprogrammaster/xxx/approve

 /scftmprogrammaster/{id}/approve:
  patch:
   tags:
    - "scftmprogrammaster"
   summary: "Authorize the scftmprogrammaster by given ID."
   description:  "Authorize the scftmprogrammaster identified by given ID."
   operationId: "authorize"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the scftmprogrammaster maintenance"
      required: true
      type: "string"
    - name: "scftmprogrammaster"
      in: "body"
      description: Request body contain scftmprogrammaster and Modification no of scftmprogrammaster maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to close existing record
#
#  supported http methods PATCH
#
# path examples----
#   PATCH       .../scftmprogrammaster/xxx/close
 /scftmprogrammaster/{id}/close:
  patch:
   tags:
    - "scftmprogrammaster"
   summary: "Close the scftmprogrammaster by given ID."
   description:  "Close the scftmprogrammaster identified by given ID."
   operationId: "closeRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the scftmprogrammaster maintenance"
      required: true
      type: "string"
    - name: "scftmprogrammaster"
      in: "body"
      description: Request body contain scftmprogrammaster and Modification no of scftmprogrammaster maintenance which need to be closed"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to reopen existing record
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../scftmprogrammaster/xxx/reopen

 /scftmprogrammaster/{id}/reopen:
  patch:
   tags:
    - "scftmprogrammaster"
   summary: "reopen the scftmprogrammaster by given ID."
   description:  "reopen the scftmprogrammaster identified by given ID."
   operationId: "reopenRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the scftmprogrammaster maintenance"
      required: true
      type: "string"
    - name: "scftmprogrammaster"
      in: "body"
      description: Request body contain scftmprogrammaster and Modification no of scftmprogrammaster maintenance which need to be reopen"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to get all unauthorized records
#
#  supprorted http methods GET
#
# path examples----
#   GET       .../scftmprogrammaster/xxx/unauthorized

 /scftmprogrammaster/{id}/unauthorized:
  get:
   tags:
    - "scftmprogrammaster"
   summary: "Retrives the scftmprogrammaster by given ID."
   description:  "Retrives the scftmprogrammaster identified by given ID."
   operationId: "authQuery"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the scftmprogrammaster based on given id."
     schema:
       $ref: "#/definitions/ScfTmProgramMasterCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to  history record for remitterid
#
#  supprorted http methods GETS
#
# path examples----
#   GET       .../scftmprogrammaster/xxx/history

 /scftmprogrammaster/{id}/history:
  get:
   tags:
    - "scftmprogrammaster"
   summary: "Retrives the scftmprogrammaster by given ID."
   description:  "Retrives the scftmprogrammaster by ID."
   operationId: "getHistory"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the scftmprogrammaster based on given id."
     schema:
       $ref: "#/definitions/ScfTmProgramMasterCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
 /scftmprogrammaster/{id}/isValid:
  get:
   tags:
    - "scftmprogrammaster"
   summary: "Validate the ScfTmProgramMaster by ResourceId"
   description:  "Validate the ScfTmProgramMaster by ResourceId"
   operationId: "validateScfTmProgramMaster"
   parameters:
    - name: "resourceId"
      in: "path"
      description: "resourceId of the user that needs to be validated"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the boolean based on validation of given resource id."
     schema:
       $ref: "#/definitions/boolean"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
definitions:
 ScfTmProgramMasterDTO:
  type: object
  required:
     - anchorId
     - effectiveFrom
     - expiresOn
     - productCode
     - productDescription
     - programCode
     - programName
  allOf:
  - $ref: '#/definitions/GenericDto'
  - type: object
    properties:
     action:
      type: string
      description: "Action"
     autoAuth:
      type: string
      description: "Auto Auth"
     modificationStatus:
      type: string
      description: "Modification Status"   
     datasegmentCode:
      type: string
      description: "Data Segment Code"
     checkerRemarks:
      type: string
      description: "Checker Remarks" 
     makerRemarks:
      type: string
      description: "Maker Remarks"                            
     anchorId:
      type: string
      description: "Anchor Id"
     anchorName:
      type: string
      description: "Anchor Name"
     authorizationRequired:
      type: string
      description: "Authorization Required"
     isDisbursementAutoProcessing:
      type: string
      description: "Is Disbursement Auto Processing"
     isSettlementAutoProcessing:
      type: string
      description: "Is Settlement Auto Processing"
     isDisbursementAuthRequired:
      type: string
      description: "Is Disbursement Auth Required"
     isSettlementAuthRequired:
      type: string
      description: "Is Settlement Auth Required"
     autoAcceptanceApplicable:
      type: string
      description: "Auto Acceptance Applicable"
     autoAcceptanceDays:
      type: number
      description: "Auto Acceptance Days"
     autoFinanceApplicable:
      type: string
      description: "Auto Finance Applicable"
     autoSettlementApplicable:
      type: string
      description: "Auto Settlement Applicable"
     disbursementCcy:
      type: string
      description: "Disbursement Currency"
     effectiveFrom:
      type: string
      format: date
      description: "Effective From"
     expiresOn:
      type: string
      format: date
      description: "Expires On"
     maxFinancePercentage:
      type: number
      description: "Maximum Finance Percentage"
     maxTenorAllowed:
      type: number
      description: "Maximum Tenor Allowed"
     minFinancePercentage:
      type: number
      description: "Minimum Finance Percentage"
     minTenorAllowed:
      type: number
      description: "Minimum Tenor Allowed"
     preferredDisbursementMode:
      type: string
      description: "Preferred Disbursement Mode"
     preferredSettlementMode:
      type: string
      description: "Preferred Settlement Mode"
     productCode:
      type: string
      description: "Product Code"
     productDescription:
      type: string
      description: "Product Description"
     programCode:
      type: string
      description: "Program Code"
     programName:
      type: string
      description: "Program Name"
     productCategory:
      type: string
      description: "Product Category"
     withRecourse:
      type: string
      description: "With Recourse"
     reconciliationTowards:
      type: string
      description: "Reconciliation Towards"
     graceDays:
      type: number
      description: "Grace Days"
     interestBearingParty:
      type: string
      description: "Interest Bearing Party"
     relationshipCode:
      type: string
      description: "Relationship Code"
     twoFactorApp:
      type: string
      default: N
      description: "Two Factor App"
     insuranceApp:
      type: string
      default: N
      description: "Insurance App" 
     interestRefundHandling:
      type: string
      description: "Interest Refund Handling"
     interestRefundPaymentMode:
      type: string
      description: "Interest Refund Payment Mode"
     marginHandling:
      type: string
      description: "Margin Handling"
     marginPaymentMode:
      type: string
      description: "Margin Payment Mode"
     autoDebitApplicable:
      type: string
      description: ""
     factoringProfile:
      type: string
      description: "Factoring Profile"       
     ScfTmProgramSpokeMasterDTO:
      type: array
      items:
       $ref: '#/definitions/ScfTmProgramSpokeMasterDTO'
 ScfTmProgramSpokeMasterDTO:
  type: object
  required:
     - programCode
     - spokeId
  properties:
     id:
      type: string
      description: "Id"
     authorizationRequired:
      type: string
      description: "Authorization Required"
     isDisbursementAutoProcessing:
      type: string
      description: "Is Disbursement Auto Processing"
     isSettlementAutoProcessing:
      type: string
      description: "Is Settlement Auto Processing"
     isDisbursementAuthRequired:
      type: string
      description: "Is Disbursement Auth Required"
     isSettlementAuthRequired:
      type: string
      description: "Is Settlement Auth Required"
     autoFinanceApplicable:
      type: string
      description: "Auto Finance Applicable"
     autoSettlementApplicable:
      type: string
      description: "Auto Settlement Applicable"
     disbursementCcy:
      type: string
      description: "Disbursement Ccy"
     maxFinancePercentage:
      type: number
      description: "Max Finance Percentage"
     maxTenorAllowed:
      type: number
      description: "Max Tenor Allowed"
     minFinancePercentage:
      type: number
      description: "Min Finance Percentage"
     minTenorAllowed:
      type: number
      description: "Min Tenor Allowed"
     preferredDisbursementMode:
      type: string
      description: "Preferred Disbursement Mode"
     preferredSettlementMode:
      type: string
      description: "Preferred Setttlement Mode"
     programCode:
      type: string
      description: "Program Code"
     programMasterId:
      type: string
      description: "Program Master Id"
     spokeId:
      type: string
      description: "Spoke Id"
     spokeName:
      type: string
      description: "Spoke Name"
     withRecourse:
      type: string
      description: "With Recourse"
     graceDays:
      type: number
      description: "Grace Days"
     interestBearingParty:
      type: string
      description: "Insterest bearing Party"
     importFactorId:
      type: string
      description: "Import Factor Id"
     importFactorName:
      type: string
      description: "Import Factor Name"
     insuranceCoId:
      type: string
      description: "Insurance Co Id"
     insuranceCoName:
      type: string
      description: "Insurance Co Name"
     interestRefundHandling:
      type: string
      description: "Interest Refund Handling"
     interestRefundPaymentMode:
      type: string
      description: "Interest Refund Payment Mode"
     marginHandling:
      type: string
      description: "Margin Handling"
     marginPaymentMode:
      type: string
      description: "Margin Payment Mode"
     autoDebitApplicable:
      type: string
      description: ""
     exportFactorId:
      type: string
      description: "Export Factor Id"      
     exportFactorName:
      type: string
      description: "Export Factor Name"        
     ScfTmProgramSpokeCodeMasterDTO:
      type: array
      items:
       $ref: '#/definitions/ScfTmProgramSpokeCodeMasterDTO'
      
 ScfTmProgramSpokeCodeMasterDTO:
  type: object
  required:
     - programCode
     - spokeId
  properties:
     id:
      type: string
      description: "Id"
     spokeMasterId:
      type: string
      description: "Spoke Master Id"
     programCode:
      type: string
      description: "Program Code"
     spokeId:
      type: string
      description: "Spoke Id"
     spokeName:
      type: string
      description: "Spoke Name"
     spokeExternalCode:
      type: string
      description: "Spoke External Code"
     spokeDivisionCode:
      type: string
      description: "Spoke Division Code"
     spokeDivisionName:
      type: string
      description: "Spoke Division Name"
     anchorDivisionCode:
      type: string
      description: "Anchor Division Code"
     anchorDivisionName:
      type: string
      description: "Anchor Division Name"

 ModListKeyDto:
  type: object
  properties:
   modNos:
    type: array
    items:
     type: integer
   remarks:
    type: string
 KeyDto:
  type: object
  properties:
   modNo:
    type: integer
   remarks:
    type: string
 ResponseDto:
  type: object
  properties:
   id:
    type: string
   status:
    type: string
   codes:
    type: array
    items:
     $ref: "#/definitions/ResponseCode"
   requestId:
    type: string
 ResponseCode:
  type: object
  properties:
   Code:
    type: string
   Desc:
    type: string
   Type:
    type: string
   Language:
    type: string
   args:
    type: array
    items:
     type: object
   arg:
    type: string
 GenericDto:
  allOf:
   - type: object
     discriminator: resource_type
 ScfTmProgramMasterCollection: 
  description: "Collection of scftmprogrammaster."
  type: "object"
  properties:
   data:
    type: "array"
    items: 
     $ref: "#/definitions/ScfTmProgramMasterDTO"
   paging:
    $ref: "#/definitions/PagingDto"
 PagingDto:
  type: object
  properties:
   totalResults:
    type: integer
 ResponseDtoWrapper:
  type: object
  properties:
   messages:
    $ref: "#/definitions/ResponseDto"
   data:
    $ref: "#/definitions/ResponseResourceSupport"
 ResponseResourceSupport:
  type: object
 ScfTmProgramMasterWrapperModel:
  type: object
  properties:
   data:
    $ref: "#/definitions/ScfTmProgramMasterDTO"
 ProgramDescDTO:
  type: object
  properties:
    productCode:
     type: string
     description: "Product Code"
    productDescription:
     type: string
     description: "Product Description"
    programCode:
     type: string
     description: "Program Code"
    programName:
     type: string
     description: "Program Name"
 ProgramDescCollection: 
  description: "Collection of Programs with Description."
  type: "object"
  properties:
   data:
    type: "array"
    items: 
     $ref: "#/definitions/ProgramDescDTO"
   paging:
    $ref: "#/definitions/PagingDto"
 ProgProdMap:
    type: object
    additionalProperties:
      type: string   
 ScfTmProgramRequestDTO:
  type: object
  properties:
    data:
     $ref: "#/definitions/ScfTmProgramMasterDTO"
    autoApproval:
     type: string
     description: "Auto Approval"
 ScfTmProgramSpokeMasterCollection: 
  description: "Collection of Spokes."
  type: "object"
  properties:
   data:
    type: "array"
    items: 
     $ref: "#/definitions/ScfTmProgramSpokeMasterDTO"
   paging:
    $ref: "#/definitions/PagingDto"
 ProgramBasicDTO:
  type: object
  properties:
    programCode:
     type: string
     description: "Program Code"
    programName:
     type: string
     description: "Program Name"
    productType:
     type: string
     description: "Product Type"
    debtor:
     type: string
     description: "Debtor"
    relationshipCode:
     type: string
     description: "Relationship Code"
 ProgramBasicDTOCollection: 
  description: "Collection of Programs with Description."
  type: "object"
  properties:
   data:
    type: "array"
    items: 
     $ref: "#/definitions/ProgramBasicDTO"
   paging:
    $ref: "#/definitions/PagingDto"
 CustomerBasicDTO:
  type: object
  properties:
    customerId:
     type: string
     description: "Customer Id"
    customerName:
     type: string
     description: "Customer Name"
    customerType:
     type: string
     description: "Customer Type"
 CustomerBasicDTOCollection: 
  description: "Collection of Customer with Description."
  type: "object"
  properties:
   data:
    type: "array"
    items: 
     $ref: "#/definitions/CustomerBasicDTO"
   paging:
    $ref: "#/definitions/PagingDto"