swagger: "2.0"
info:
  description: "This is a sample server Customer server.  You can find out more about Swagger at [swagger.io](http://swagger.io) and about data types at [Swagger Data Types](https://swagger.io/docs/specification/data-models/data-types/)"
  version: "1.0.0"
  title: "Instrument Collection Service"
host: "api-plato.us.oracle.com:8080"
basePath: "/api/1.0"
consumes:
  - "application/json"
  - "application/xml"
produces:
  - "application/json"
  - "application/xml"
tags:
  - name: "generateSchedule"
    description: "API for Instrument related Operations"
    
schemes:
- "https"

paths:
  /web/v1/instrumentmgmnt/generateschedule:
    post:
      tags:
        - "generateSchedule"
      summary: "Adds a new Instrument"
      description: "Adds a new Instrument with all  additional information "
      operationId: "addInstrument"
      parameters:
        - name: "scheduleGenerationCollection"
          in: "body"
          description: "Request Body that contains data required for creating a new DepositSlip"
          required: true
          schema:
            $ref: "#/definitions/ScheduleGenerationCollection"
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "branch code for SMS"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
        - name: "branchDate"
          in: "header"
          type: "string"
          format: "date-time"
          required: false
      responses:
        201:
          description: "Successfully created the loan details"
          schema:
             $ref: "#/definitions/ResponseDtoWrapper"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
    get:
      tags:
        - "generateSchedule"
      summary: "Retrieves the list of existing Instrument"
      description:  "Retrieves the list of existing Instrument with additional information "
      operationId: "getAllInstruments"
      parameters:
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "branch code for SMS"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
        - name: "corporateId"
          in: "query"
          required: false
          description: "corporateId"
          type: "string"
        - name: "instrumentNumber"
          in: "query"
          description: "instrumentNumber"
          required: false
          type: "integer"
          format: "int64"
        - name: "depositSlipNumber"
          in: "query"
          required: false
          description: "depositSlipNumber"
          type: "integer"
          format: "int64"
        - name: "depositFromDate"
          in: "query"
          type: "string"
          required: false
          description: "depositFromDate"
        - name: "depositToDate"
          in: "query"
          type: "string"
          required: false
          description: "depositToDate"
        - name: "instrumentAmountFrom"
          in: "query"
          type: "number"
          required: false
          description: "instrumentAmountFrom"
        - name: "instrumentAmountTo"
          in: "query"
          type: "number"
          required: false
          description: "instrumentAmountTo"
        - name: "instrumentStatus"
          in: "query"
          type: "string"
          required: false
          description: "instrumentStatus"
        - name: "pickupCode"
          in: "query"
          required: false
          description: "pickupCode"
          type: "string"
        - name: "locationCode"
          in: "query"
          required: false
          description: "locationCode"
          type: "string"
        - name: "accountNumber"
          in: "query"
          required: false
          description: "accountNumber"
          type: "string"
        - name: "product"
          in: "query"
          required: false
          description: "product"
          type: "string"
        - name: "depositBranch"
          in: "query"
          required: false
          description: "depositBranch"
          type: "string"
        - name: "depositLocation"
          in: "query"
          required: false
          description: "depositLocation"
          type: "string"
        - name: "limit"
          in: "query"
          required: false
          description: "limit to be fetched"
          type: "integer"
        - name: "offset"
          in: "query"
          required: false
          description: "offset of the limit"
          type: "integer"
        - name: "scheduleOriginationBranch"
          in: "query"
          required: false
          description: "Receit branch"
          type: "string"
        - name: "scheduleDestinationBranch"
          in: "query"
          required: false
          description: "Returning branch"
          type: "string"
        - name: "scheduleDestinationBank"
          in: "query"
          required: false
          description: "Returning Bank"
          type: "string"
        - name: "scheduleRefNo"
          in: "query"
          required: false
          description: "Schedule Ref no"
          type: "string"
        - name: "courierCode"
          in: "query"
          required: false
          description: "courier"
          type: "string"
        - name: "scheduleDispatchDateFrom"
          in: "query"
          required: false
          description: "scheduleDispatchDateFrom"
          type: "string"
        - name: "scheduleDispatchDateTo"
          in: "query"
          required: false
          description: "scheduleDispatchDateTo"
          type: "string"
        - name: "txnRefNo"
          in: "query"
          required: false
          description: "Instrument Ref no"
          type: "string"
        - name: "instFromDate"
          in: "query"
          required: false
          description: "instFromDate"
          type: "string"
        - name: "instToDate"
          in: "query"
          required: false
          description: "instToDate"
          type: "string"
        - name: "referenceNum"
          in: "query"
          required: false
          description: "referenceNum"
          type: "string"
        - name: "drawnOnBankCode"
          in: "query"
          required: false
          description: "drawnOnBankCode"
          type: "string"
        - name: "drawerAcNo"
          in: "query"
          required: false
          description: "drawerAcNo"
          type: "string"
        - name: "corrBankCode"
          in: "query"
          required: false
          description: "corrBankCode"
          type: "string"
        - name: "instrumentAmt"
          in: "query"
          required: false
          description: "instrumentAmt"
          type: "number"
        - name: "divisionCode"
          in: "query"
          required: false
          description: "divisionCode"
          type: "string"
        - name: "routingNumber"
          in: "query"
          required: false
          description: "routingNumber"
          type: "number"
        - name: "instTxnStatus"
          in: "query"
          required: false
          description: "instTxnStatus"
          type: "string"
        - name: "depositChannel"
          in: "query"
          required: false
          description: "depositChannel"
          type: "string"
        - name: "clearingLocation"
          in: "query"
          required: false
          description: "clearingLocation"
          type: "string"
        - name: "instAmtCcy"
          in: "query"
          required: false
          description: "instAmtCcy"
          type: "string"
        - name: "isPDCChecked"
          in: "query"
          required: false
          description: "isPDCChecked"
          type: "string"
                    
      responses:
        200:
          description: "Successful performs the operation"
          schema:
            $ref: "#/definitions/InstrumentEnquiryCollection"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"
  /web/v1/instrumentmgmnt/generateschedule/authorize:
    post:
      tags:
        - "generateSchedule"
      summary: "Update an existing Instrument."
      description:  "Update an existing Instrument Add additional information here for the this endpoint."
      operationId: "authorizeInstrument"
      parameters:
        - name: "conductorWorkFlowModel"
          in: "body"
          description: "Request Body that contains data required for authorizing a instrument"
          required: true
          schema:
            $ref: "#/definitions/ConductorWorkFlowModel"
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "branch code for SMS"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
        - name: "branchDate"
          in: "header"
          type: "string"
          format: "date-time"
          required: false      
      responses:
        200:
          description: "Returns updated customer"
          schema:
            $ref: "#/definitions/ConductorWorkFlowModel"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"   
          
  /web/v1/instrumentmgmnt/schedule/unauthorize/{instrumentManagementBatchRefNo}:
    get:
      tags:
        - "generateSchedule"
      summary: "Update an existing Instrument."
      description:  "Update an existing Instrument Add additional information here for the this endpoint."
      operationId: "getUnAuthorizedSchedule"
      parameters:
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "branch code for SMS"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
        - name: "branchDate"
          in: "header"
          type: "string"
          format: "date-time"
          required: false
        - name: "instrumentManagementBatchRefNo"
          type: "string" 
          in: "path"
          required: true
          description: "instrumentManagementBatchRefNo"   
      responses:
        200:
          description: "Returns updated customer"
          schema:
            $ref: "#/definitions/ScheduleGenerationCollection"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"             

  /web/v1/instrumentmgmnt/markschedulereceipt:
    post:
      tags:
        - "markScheduleReceipt"
      summary: "Adds a new Instrument"
      description: "Adds a new Instrument with all  additional information "
      operationId: "addSchedules"
      parameters:
        - name: "instrument"
          in: "body"
          description: "Request Body that contains data required for creating a new DepositSlip"
          required: true
          schema:
            $ref: "#/definitions/ScheduleReceiptModel"
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "branch code for SMS"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
        - name: "branchDate"
          in: "header"
          type: "string"
          format: "date-time"
          required: false
      responses:
        201:
          description: "Successfully created the loan details"
          schema:
             $ref: "#/definitions/ResponseDtoWrapper"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
    get:
      tags:
        - "markScheduleReceipt"
      summary: "Retrieves the list of existing Instrument"
      description:  "Retrieves the list of existing Instrument with additional information "
      operationId: "getAllSchedules"
      parameters:
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "branch code for SMS"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
        - name: "scheduleOriginationBranch"
          in: "query"
          required: false
          description: "Dispatch branch"
          type: "string"
        - name: "scheduleDestinationBranch"
          in: "query"
          required: false
          description: "Receipt branch"
          type: "string"
        - name: "scheduleDestinationBank"
          in: "query"
          required: false
          description: "Receipt Bank"
          type: "string"
        - name: "scheduleRefNo"
          in: "query"
          required: false
          description: "Schedule Ref no"
          type: "string"
        - name: "courierCode"
          in: "query"
          required: false
          description: "courier"
          type: "string"
        - name: "courierPodNumber"
          in: "query"
          required: false
          description: "courierPodNumber"
          type: "string"
        - name: "scheduleGenDateFrom"
          in: "query"
          required: false
          description: "scheduleGenDateFrom"
          type: "string"
        - name: "scheduleGenDateTo"
          in: "query"
          required: false
          description: "scheduleGenDateTo"
          type: "string"
        - name: "scheduleAmtCcy"
          in: "query"
          required: false
          description: "scheduleAmtCcy"
          type: "string"
        - name: "isPDCChecked"
          in: "query"
          required: false
          description: "isPDCChecked"
          type: "string"
                    
      responses:
        200:
          description: "Successful performs the operation"
          schema:
            $ref: "#/definitions/ScheduleGenerationCollection"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"
  /web/v1/instrumentmgmnt/markschedulereceipt/authorize:
    post:
      tags:
        - "markScheduleReceipt"
      summary: "Update an existing Instrument."
      description:  "Update an existing Instrument Add additional information here for the this endpoint."
      operationId: "authorizeSchedule"
      parameters:
        - name: "conductorWorkFlowModel"
          in: "body"
          description: "Request Body that contains data required for authorizing a instrument"
          required: true
          schema:
            $ref: "#/definitions/ConductorWorkFlowModel"
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "branch code for SMS"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
        - name: "branchDate"
          in: "header"
          type: "string"
          format: "date-time"
          required: false      
      responses:
        200:
          description: "Returns updated customer"
          schema:
            $ref: "#/definitions/ConductorWorkFlowModel"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"  
          
          
  /web/v1/instrumentmgmnt/generatecentralizedschedule:
    post:
      tags:
        - "generateCentralizedSchedule"
      summary: "Adds a new Instrument"
      description: "Adds a new Instrument with all  additional information "
      operationId: "addSchedules"
      parameters:
        - name: "ccheduleGenerationCollectionModel"
          in: "body"
          description: "Request Body that contains data required for creating a new DepositSlip"
          required: true
          schema:
            $ref: "#/definitions/ScheduleGenerationCollection"
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "branch code for SMS"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
        - name: "branchDate"
          in: "header"
          type: "string"
          format: "date-time"
          required: false
      responses:
        201:
          description: "Successfully created the loan details"
          schema:
             $ref: "#/definitions/ResponseDtoWrapper"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
    get:
      tags:
        - "generateCentralizedSchedule"
      summary: "Retrieves the list of existing Instrument"
      description:  "Retrieves the list of existing Instrument with additional information "
      operationId: "getAllSchedules"
      parameters:
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "branch code for SMS"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
        - name: "scheduleOriginationBranch"
          in: "query"
          required: false
          description: "Dispatch branch"
          type: "string"
        - name: "scheduleDestinationBranch"
          in: "query"
          required: false
          description: "Receipt branch"
          type: "string"
        - name: "scheduleDestinationBank"
          in: "query"
          required: false
          description: "Receipt Bank"
          type: "string"
        - name: "scheduleRefNo"
          in: "query"
          required: false
          description: "Schedule Ref no"
          type: "string"
        - name: "courierCode"
          in: "query"
          required: false
          description: "courier"
          type: "string"
        - name: "courierPodNumber"
          in: "query"
          required: false
          description: "courierPodNumber"
          type: "string"
        - name: "scheduleReceiptDateFrom"
          in: "query"
          required: false
          description: "scheduleReceiptDateFrom"
          type: "string"
        - name: "scheduleReceiptDateTo"
          in: "query"
          required: false
          description: "scheduleReceiptDateTo"
          type: "string"
        - name: "scheduleAmtCcy"
          in: "query"
          required: false
          description: "scheduleAmtCcy"
          type: "string"
        - name: "isPDCChecked"
          in: "query"
          required: false
          description: "isPDCChecked"
          type: "string"
          
                    
      responses:
        200:
          description: "Successful performs the operation"
          schema:
            $ref: "#/definitions/ScheduleGenerationCollection"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"
  /web/v1/instrumentmgmnt/generatecentralizedschedule/authorize:
    post:
      tags:
        - "generateCentralizedSchedule"
      summary: "Update an existing Instrument."
      description:  "Update an existing Instrument Add additional information here for the this endpoint."
      operationId: "authorizeInstrument"
      parameters:
        - name: "conductorWorkFlowModel"
          in: "body"
          description: "Request Body that contains data required for authorizing a instrument"
          required: true
          schema:
            $ref: "#/definitions/ConductorWorkFlowModel"
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "branch code for SMS"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
        - name: "branchDate"
          in: "header"
          type: "string"
          format: "date-time"
          required: false      
      responses:
        200:
          description: "Returns updated customer"
          schema:
            $ref: "#/definitions/ConductorWorkFlowModel"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"                 
                         

          
  /web/v1/instrumentmgmnt/markreturnreceipt:
    post:
      tags:
        - "markReturnReceipt"
      summary: "Adds a new Instrument"
      description: "Adds a new Instrument with all  additional information "
      operationId: "addInstrument"
      parameters:
        - name: "instrument"
          in: "body"
          description: "Request Body that contains data required for creating a new DepositSlip"
          required: true
          schema:
            $ref: "#/definitions/InstrumentReqModel"
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "branch code for SMS"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
        - name: "branchDate"
          in: "header"
          type: "string"
          format: "date-time"
          required: false
      responses:
        201:
          description: "Successfully created the loan details"
          schema:
             $ref: "#/definitions/ResponseDtoWrapper"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
    get:
      tags:
        - "markReturnReceipt"
      summary: "Retrieves the list of existing Instrument"
      description:  "Retrieves the list of existing Instrument with additional information "
      operationId: "getAllInstruments"
      parameters:
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "branch code for SMS"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
        - name: "corporateId"
          in: "query"
          required: false
          description: "corporateId"
          type: "string"
        - name: "instrumentNumber"
          in: "query"
          description: "instrumentNumber"
          required: false
          type: "integer"
          format: "int64"
        - name: "depositSlipNumber"
          in: "query"
          required: false
          description: "depositSlipNumber"
          type: "integer"
          format: "int64"
        - name: "depositFromDate"
          in: "query"
          type: "string"
          required: false
          description: "depositFromDate"
        - name: "depositToDate"
          in: "query"
          type: "string"
          required: false
          description: "depositToDate"
        - name: "instrumentAmountFrom"
          in: "query"
          type: "number"
          required: false
          description: "instrumentAmountFrom"
        - name: "instrumentAmountTo"
          in: "query"
          type: "number"
          required: false
          description: "instrumentAmountTo"
        - name: "instrumentStatus"
          in: "query"
          type: "string"
          required: false
          description: "instrumentStatus"
        - name: "pickupCode"
          in: "query"
          required: false
          description: "pickupCode"
          type: "string"
        - name: "locationCode"
          in: "query"
          required: false
          description: "locationCode"
          type: "string"
        - name: "accountNumber"
          in: "query"
          required: false
          description: "accountNumber"
          type: "string"
        - name: "product"
          in: "query"
          required: false
          description: "product"
          type: "string"
        - name: "depositBranch"
          in: "query"
          required: false
          description: "depositBranch"
          type: "string"
        - name: "depositLocation"
          in: "query"
          required: false
          description: "depositLocation"
          type: "string"
        - name: "limit"
          in: "query"
          required: false
          description: "limit to be fetched"
          type: "integer"
        - name: "offset"
          in: "query"
          required: false
          description: "offset of the limit"
          type: "integer"
        - name: "scheduleOriginationBranch"
          in: "query"
          required: false
          description: "Receit branch"
          type: "string"
        - name: "scheduleDestinationBranch"
          in: "query"
          required: false
          description: "Returning branch"
          type: "string"
        - name: "scheduleDestinationBank"
          in: "query"
          required: false
          description: "Returning Bank"
          type: "string"
        - name: "scheduleRefNo"
          in: "query"
          required: false
          description: "Schedule Ref no"
          type: "string"
        - name: "courierCode"
          in: "query"
          required: false
          description: "courier"
          type: "string"
        - name: "scheduleDispatchDateFrom"
          in: "query"
          required: false
          description: "scheduleDispatchDateFrom"
          type: "string"
        - name: "scheduleDispatchDateTo"
          in: "query"
          required: false
          description: "scheduleDispatchDateTo"
          type: "string"
        - name: "txnRefNo"
          in: "query"
          required: false
          description: "Instrument Ref no"
          type: "string"
        - name: "instFromDate"
          in: "query"
          required: false
          description: "instFromDate"
          type: "string"
        - name: "instToDate"
          in: "query"
          required: false
          description: "instToDate"
          type: "string"
        - name: "referenceNum"
          in: "query"
          required: false
          description: "referenceNum"
          type: "string"
        - name: "drawnOnBankCode"
          in: "query"
          required: false
          description: "drawnOnBankCode"
          type: "string"
        - name: "drawerAcNo"
          in: "query"
          required: false
          description: "drawerAcNo"
          type: "string"
        - name: "corrBankCode"
          in: "query"
          required: false
          description: "corrBankCode"
          type: "string"
        - name: "instrumentAmt"
          in: "query"
          required: false
          description: "instrumentAmt"
          type: "number"
        - name: "divisionCode"
          in: "query"
          required: false
          description: "divisionCode"
          type: "string"
        - name: "routingNumber"
          in: "query"
          required: false
          description: "routingNumber"
          type: "number"
        - name: "instTxnStatus"
          in: "query"
          required: false
          description: "instTxnStatus"
          type: "string"
        - name: "depositChannel"
          in: "query"
          required: false
          description: "depositChannel"
          type: "string"
        - name: "clearingLocation"
          in: "query"
          required: false
          description: "clearingLocation"
          type: "string"
        - name: "instAmtCcy"
          in: "query"
          required: false
          description: "instAmtCcy"
          type: "string"
        - name: "isPDCChecked"
          in: "query"
          required: false
          description: "isPDCChecked"
          type: "string" 
                    
      responses:
        200:
          description: "Successful performs the operation"
          schema:
            $ref: "#/definitions/InstrumentEnquiryCollection"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"
  /web/v1/instrumentmgmnt/markreturnreceipt/authorize:
    post:
      tags:
        - "markReturnReceipt"
      summary: "Update an existing Instrument."
      description:  "Update an existing Instrument Add additional information here for the this endpoint."
      operationId: "authorizeInstrument"
      parameters:
        - name: "conductorWorkFlowModel"
          in: "body"
          description: "Request Body that contains data required for authorizing a instrument"
          required: true
          schema:
            $ref: "#/definitions/ConductorWorkFlowModel"
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "branch code for SMS"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
        - name: "branchDate"
          in: "header"
          type: "string"
          format: "date-time"
          required: false      
      responses:
        200:
          description: "Returns updated customer"
          schema:
            $ref: "#/definitions/ConductorWorkFlowModel"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error" 
          

  /web/v1/instrumentmgmnt/markinstrumentstatus:
    post:
      tags:
        - "markInstrumentStatus"
      summary: "Adds a new Instrument"
      description: "Adds a new Instrument with all  additional information "
      operationId: "addInstrument"
      parameters:
        - name: "instrument"
          in: "body"
          description: "Request Body that contains data required for creating a new DepositSlip"
          required: true
          schema:
            $ref: "#/definitions/InstrumentReqModel"
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "branch code for SMS"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
        - name: "branchDate"
          in: "header"
          type: "string"
          format: "date-time"
          required: false
      responses:
        201:
          description: "Successfully created the loan details"
          schema:
             $ref: "#/definitions/ResponseDtoWrapper"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
    get:
      tags:
        - "markInstrumentStatus"
      summary: "Retrieves the list of existing Instrument"
      description:  "Retrieves the list of existing Instrument with additional information "
      operationId: "getAllInstruments"
      parameters:
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "branch code for SMS"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
        - name: "corporateId"
          in: "query"
          required: false
          description: "corporateId"
          type: "string"
        - name: "instrumentNumber"
          in: "query"
          description: "instrumentNumber"
          required: false
          type: "integer"
          format: "int64"
        - name: "depositSlipNumber"
          in: "query"
          required: false
          description: "depositSlipNumber"
          type: "integer"
          format: "int64"
        - name: "depositFromDate"
          in: "query"
          type: "string"
          required: false
          description: "depositFromDate"
        - name: "depositToDate"
          in: "query"
          type: "string"
          required: false
          description: "depositToDate"
        - name: "instrumentAmountFrom"
          in: "query"
          type: "number"
          required: false
          description: "instrumentAmountFrom"
        - name: "instrumentAmountTo"
          in: "query"
          type: "number"
          required: false
          description: "instrumentAmountTo"
        - name: "instrumentStatus"
          in: "query"
          type: "string"
          required: false
          description: "instrumentStatus"
        - name: "pickupCode"
          in: "query"
          required: false
          description: "pickupCode"
          type: "string"
        - name: "locationCode"
          in: "query"
          required: false
          description: "locationCode"
          type: "string"
        - name: "accountNumber"
          in: "query"
          required: false
          description: "accountNumber"
          type: "string"
        - name: "product"
          in: "query"
          required: false
          description: "product"
          type: "string"
        - name: "depositBranch"
          in: "query"
          required: false
          description: "depositBranch"
          type: "string"
        - name: "depositLocation"
          in: "query"
          required: false
          description: "depositLocation"
          type: "string"
        - name: "limit"
          in: "query"
          required: false
          description: "limit to be fetched"
          type: "integer"
        - name: "offset"
          in: "query"
          required: false
          description: "offset of the limit"
          type: "integer"
        - name: "scheduleOriginationBranch"
          in: "query"
          required: false
          description: "Receit branch"
          type: "string"
        - name: "scheduleDestinationBranch"
          in: "query"
          required: false
          description: "Returning branch"
          type: "string"
        - name: "scheduleDestinationBank"
          in: "query"
          required: false
          description: "Returning Bank"
          type: "string"
        - name: "scheduleRefNo"
          in: "query"
          required: false
          description: "Schedule Ref no"
          type: "string"
        - name: "courierCode"
          in: "query"
          required: false
          description: "courier"
          type: "string"
        - name: "scheduleDispatchDateFrom"
          in: "query"
          required: false
          description: "scheduleDispatchDateFrom"
          type: "string"
        - name: "scheduleDispatchDateTo"
          in: "query"
          required: false
          description: "scheduleDispatchDateTo"
          type: "string"
        - name: "txnRefNo"
          in: "query"
          required: false
          description: "Instrument Ref no"
          type: "string"
        - name: "instFromDate"
          in: "query"
          required: false
          description: "instFromDate"
          type: "string"
        - name: "instToDate"
          in: "query"
          required: false
          description: "instToDate"
          type: "string"
        - name: "referenceNum"
          in: "query"
          required: false
          description: "referenceNum"
          type: "string"
        - name: "drawnOnBankCode"
          in: "query"
          required: false
          description: "drawnOnBankCode"
          type: "string"
        - name: "drawerAcNo"
          in: "query"
          required: false
          description: "drawerAcNo"
          type: "string"
        - name: "corrBankCode"
          in: "query"
          required: false
          description: "corrBankCode"
          type: "string"
        - name: "instrumentAmt"
          in: "query"
          required: false
          description: "instrumentAmt"
          type: "number"
        - name: "divisionCode"
          in: "query"
          required: false
          description: "divisionCode"
          type: "string"
        - name: "routingNumber"
          in: "query"
          required: false
          description: "routingNumber"
          type: "number"
        - name: "instTxnStatus"
          in: "query"
          required: false
          description: "instTxnStatus"
          type: "string"
        - name: "depositChannel"
          in: "query"
          required: false
          description: "depositChannel"
          type: "string"
        - name: "clearingLocation"
          in: "query"
          required: false
          description: "clearingLocation"
          type: "string"
        - name: "instAmtCcy"
          in: "query"
          required: false
          description: "instAmtCcy"
          type: "string"
        - name: "isPDCChecked"
          in: "query"
          required: false
          description: "isPDCChecked"
          type: "string"
                    
      responses:
        200:
          description: "Successful performs the operation"
          schema:
            $ref: "#/definitions/InstrumentEnquiryCollection"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"
  /web/v1/instrumentmgmnt/markinstrumentstatus/authorize:
    post:
      tags:
        - "markInstrumentStatus"
      summary: "Update an existing Instrument."
      description:  "Update an existing Instrument Add additional information here for the this endpoint."
      operationId: "authorizeInstrument"
      parameters:
        - name: "conductorWorkFlowModel"
          in: "body"
          description: "Request Body that contains data required for authorizing a instrument"
          required: true
          schema:
            $ref: "#/definitions/ConductorWorkFlowModel"
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "branch code for SMS"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
        - name: "branchDate"
          in: "header"
          type: "string"
          format: "date-time"
          required: false      
      responses:
        200:
          description: "Returns updated customer"
          schema:
            $ref: "#/definitions/ConductorWorkFlowModel"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"   
          
          
          
          

  /web/v1/instrumentmgmnt/cancelschedule:
    post:
      tags:
        - "cancelSchedule"
      summary: "Adds a new Instrument"
      description: "Adds a new Instrument with all  additional information "
      operationId: "addInstrument"
      parameters:
        - name: "instrument"
          in: "body"
          description: "Request Body that contains data required for creating a new DepositSlip"
          required: true
          schema:
            $ref: "#/definitions/InstrumentReqModel"
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "branch code for SMS"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
        - name: "branchDate"
          in: "header"
          type: "string"
          format: "date-time"
          required: false
      responses:
        201:
          description: "Successfully created the loan details"
          schema:
             $ref: "#/definitions/ResponseDtoWrapper"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
    get:
      tags:
        - "cancelSchedule"
      summary: "Retrieves the list of existing Instrument"
      description:  "Retrieves the list of existing Instrument with additional information "
      operationId: "getAllInstruments"
      parameters:
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "branch code for SMS"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
        - name: "corporateId"
          in: "query"
          required: false
          description: "corporateId"
          type: "string"
        - name: "instrumentNumber"
          in: "query"
          description: "instrumentNumber"
          required: false
          type: "integer"
          format: "int64"
        - name: "depositSlipNumber"
          in: "query"
          required: false
          description: "depositSlipNumber"
          type: "integer"
          format: "int64"
        - name: "depositFromDate"
          in: "query"
          type: "string"
          required: false
          description: "depositFromDate"
        - name: "depositToDate"
          in: "query"
          type: "string"
          required: false
          description: "depositToDate"
        - name: "instrumentAmountFrom"
          in: "query"
          type: "number"
          required: false
          description: "instrumentAmountFrom"
        - name: "instrumentAmountTo"
          in: "query"
          type: "number"
          required: false
          description: "instrumentAmountTo"
        - name: "instrumentStatus"
          in: "query"
          type: "string"
          required: false
          description: "instrumentStatus"
        - name: "pickupCode"
          in: "query"
          required: false
          description: "pickupCode"
          type: "string"
        - name: "locationCode"
          in: "query"
          required: false
          description: "locationCode"
          type: "string"
        - name: "accountNumber"
          in: "query"
          required: false
          description: "accountNumber"
          type: "string"
        - name: "product"
          in: "query"
          required: false
          description: "product"
          type: "string"
        - name: "depositBranch"
          in: "query"
          required: false
          description: "depositBranch"
          type: "string"
        - name: "depositLocation"
          in: "query"
          required: false
          description: "depositLocation"
          type: "string"
        - name: "limit"
          in: "query"
          required: false
          description: "limit to be fetched"
          type: "integer"
        - name: "offset"
          in: "query"
          required: false
          description: "offset of the limit"
          type: "integer"
        - name: "scheduleOriginationBranch"
          in: "query"
          required: false
          description: "Receit branch"
          type: "string"
        - name: "scheduleDestinationBranch"
          in: "query"
          required: false
          description: "Returning branch"
          type: "string"
        - name: "scheduleDestinationBank"
          in: "query"
          required: false
          description: "Returning Bank"
          type: "string"
        - name: "scheduleRefNo"
          in: "query"
          required: false
          description: "Schedule Ref no"
          type: "string"
        - name: "courierCode"
          in: "query"
          required: false
          description: "courier"
          type: "string"
        - name: "scheduleDispatchDateFrom"
          in: "query"
          required: false
          description: "scheduleDispatchDateFrom"
          type: "string"
        - name: "scheduleDispatchDateTo"
          in: "query"
          required: false
          description: "scheduleDispatchDateTo"
          type: "string"
        - name: "txnRefNo"
          in: "query"
          required: false
          description: "Instrument Ref no"
          type: "string"
        - name: "instFromDate"
          in: "query"
          required: false
          description: "instFromDate"
          type: "string"
        - name: "instToDate"
          in: "query"
          required: false
          description: "instToDate"
          type: "string"
        - name: "referenceNum"
          in: "query"
          required: false
          description: "referenceNum"
          type: "string"
        - name: "drawnOnBankCode"
          in: "query"
          required: false
          description: "drawnOnBankCode"
          type: "string"
        - name: "drawerAcNo"
          in: "query"
          required: false
          description: "drawerAcNo"
          type: "string"
        - name: "corrBankCode"
          in: "query"
          required: false
          description: "corrBankCode"
          type: "string"
        - name: "instrumentAmt"
          in: "query"
          required: false
          description: "instrumentAmt"
          type: "number"
        - name: "divisionCode"
          in: "query"
          required: false
          description: "divisionCode"
          type: "string"
        - name: "routingNumber"
          in: "query"
          required: false
          description: "routingNumber"
          type: "number"
        - name: "instTxnStatus"
          in: "query"
          required: false
          description: "instTxnStatus"
          type: "string"
        - name: "depositChannel"
          in: "query"
          required: false
          description: "depositChannel"
          type: "string"
        - name: "clearingLocation"
          in: "query"
          required: false
          description: "clearingLocation"
          type: "string"
        - name: "instAmtCcy"
          in: "query"
          required: false
          description: "instAmtCcy"
          type: "string"
        - name: "isPDCChecked"
          in: "query"
          required: false
          description: "isPDCChecked"
          type: "string"
                    
      responses:
        200:
          description: "Successful performs the operation"
          schema:
            $ref: "#/definitions/InstrumentEnquiryCollection"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"
  /web/v1/instrumentmgmnt/cancelschedule/authorize:
    post:
      tags:
        - "cancelSchedule"
      summary: "Update an existing Instrument."
      description:  "Update an existing Instrument Add additional information here for the this endpoint."
      operationId: "authorizeInstrument"
      parameters:
        - name: "conductorWorkFlowModel"
          in: "body"
          description: "Request Body that contains data required for authorizing a instrument"
          required: true
          schema:
            $ref: "#/definitions/ConductorWorkFlowModel"
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "branch code for SMS"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
        - name: "branchDate"
          in: "header"
          type: "string"
          format: "date-time"
          required: false      
      responses:
        200:
          description: "Returns updated customer"
          schema:
            $ref: "#/definitions/ConductorWorkFlowModel"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"  
          
  /web/v1/instrumentmgmnt/generateschedule/generation:
    post:
      tags:
        - "generateSchedule"
      summary: "Adds a new Instrument"
      description: "Adds a new Instrument with all  additional information "
      operationId: "generateSchedule"
      parameters:
        - name: "instrumentReqModel"
          in: "body"
          description: "InstrumentEnquiryCollection"
          required: true
          schema:
            $ref: "#/definitions/InstrumentReqModel"
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "branch code for SMS"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
        - name: "branchDate"
          in: "header"
          type: "string"
          format: "date-time"
          required: false
      responses:
        201:
          description: "Successfully created the loan details"
          schema:
             $ref: "#/definitions/ScheduleGenerationCollection"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
          
          
          
  /web/v1/instrumentmgmnt/generatecentralizedschedule/generation:
    post:
      tags:
        - "generateCentralizedSchedule"
      summary: "Adds a new Instrument"
      description: "Adds a new Instrument with all  additional information "
      operationId: "generateCentralizedSchedule"
      parameters:
        - name: "scheduleReceiptModel"
          in: "body"
          description: "ScheduleReceiptModel"
          required: true
          schema:
            $ref: "#/definitions/ScheduleReceiptModel"
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "branch code for SMS"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
        - name: "branchDate"
          in: "header"
          type: "string"
          format: "date-time"
          required: false
      responses:
        201:
          description: "Successfully created the loan details"
          schema:
             $ref: "#/definitions/ScheduleGenerationCollection"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"    
          
  /web/v1/instrumentmgmnt/creditadvancementpostponement:
    post:
      tags:
        - "creditAdvancementPostponement"
      summary: "Adds a new Instrument"
      description: "Adds a new Instrument with all  additional information "
      operationId: "addInstrument"
      parameters:
        - name: "instrument"
          in: "body"
          description: "Request Body that contains data required for creating a new DepositSlip"
          required: true
          schema:
            $ref: "#/definitions/InstrumentReqModel"
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "branch code for SMS"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
        - name: "branchDate"
          in: "header"
          type: "string"
          format: "date-time"
          required: false
      responses:
        201:
          description: "Successfully created the loan details"
          schema:
             $ref: "#/definitions/ResponseDtoWrapper"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
    get:
      tags:
        - "creditAdvancementPostponement"
      summary: "Retrieves the list of existing Instrument"
      description:  "Retrieves the list of existing Instrument with additional information "
      operationId: "getAllInstruments"
      parameters:
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "branch code for SMS"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
        - name: "corporateId"
          in: "query"
          required: false
          description: "corporateId"
          type: "string"
        - name: "instrumentNumber"
          in: "query"
          description: "instrumentNumber"
          required: false
          type: "integer"
          format: "int64"
        - name: "depositSlipNumber"
          in: "query"
          required: false
          description: "depositSlipNumber"
          type: "integer"
          format: "int64"
        - name: "depositFromDate"
          in: "query"
          type: "string"
          required: false
          description: "depositFromDate"
        - name: "depositToDate"
          in: "query"
          type: "string"
          required: false
          description: "depositToDate"
        - name: "instrumentAmountFrom"
          in: "query"
          type: "number"
          required: false
          description: "instrumentAmountFrom"
        - name: "instrumentAmountTo"
          in: "query"
          type: "number"
          required: false
          description: "instrumentAmountTo"
        - name: "instrumentStatus"
          in: "query"
          type: "string"
          required: false
          description: "instrumentStatus"
        - name: "pickupCode"
          in: "query"
          required: false
          description: "pickupCode"
          type: "string"
        - name: "locationCode"
          in: "query"
          required: false
          description: "locationCode"
          type: "string"
        - name: "accountNumber"
          in: "query"
          required: false
          description: "accountNumber"
          type: "string"
        - name: "product"
          in: "query"
          required: false
          description: "product"
          type: "string"
        - name: "depositBranch"
          in: "query"
          required: false
          description: "depositBranch"
          type: "string"
        - name: "depositLocation"
          in: "query"
          required: false
          description: "depositLocation"
          type: "string"
        - name: "limit"
          in: "query"
          required: false
          description: "limit to be fetched"
          type: "integer"
        - name: "offset"
          in: "query"
          required: false
          description: "offset of the limit"
          type: "integer"
        - name: "scheduleOriginationBranch"
          in: "query"
          required: false
          description: "Receit branch"
          type: "string"
        - name: "scheduleDestinationBranch"
          in: "query"
          required: false
          description: "Returning branch"
          type: "string"
        - name: "scheduleDestinationBank"
          in: "query"
          required: false
          description: "Returning Bank"
          type: "string"
        - name: "scheduleRefNo"
          in: "query"
          required: false
          description: "Schedule Ref no"
          type: "string"
        - name: "courierCode"
          in: "query"
          required: false
          description: "courier"
          type: "string"
        - name: "scheduleDispatchDateFrom"
          in: "query"
          required: false
          description: "scheduleDispatchDateFrom"
          type: "string"
        - name: "scheduleDispatchDateTo"
          in: "query"
          required: false
          description: "scheduleDispatchDateTo"
          type: "string"
        - name: "txnRefNo"
          in: "query"
          required: false
          description: "Instrument Ref no"
          type: "string"
        - name: "instFromDate"
          in: "query"
          required: false
          description: "instFromDate"
          type: "string"
        - name: "instToDate"
          in: "query"
          required: false
          description: "instToDate"
          type: "string"
        - name: "referenceNum"
          in: "query"
          required: false
          description: "referenceNum"
          type: "string"
        - name: "drawnOnBankCode"
          in: "query"
          required: false
          description: "drawnOnBankCode"
          type: "string"
        - name: "drawerAcNo"
          in: "query"
          required: false
          description: "drawerAcNo"
          type: "string"
        - name: "corrBankCode"
          in: "query"
          required: false
          description: "corrBankCode"
          type: "string"
        - name: "instrumentAmt"
          in: "query"
          required: false
          description: "instrumentAmt"
          type: "number"
        - name: "divisionCode"
          in: "query"
          required: false
          description: "divisionCode"
          type: "string"
        - name: "routingNumber"
          in: "query"
          required: false
          description: "routingNumber"
          type: "number"
        - name: "instTxnStatus"
          in: "query"
          required: false
          description: "instTxnStatus"
          type: "string"
        - name: "depositChannel"
          in: "query"
          required: false
          description: "depositChannel"
          type: "string"
        - name: "clearingLocation"
          in: "query"
          required: false
          description: "clearingLocation"
          type: "string"
        - name: "instAmtCcy"
          in: "query"
          required: false
          description: "instAmtCcy"
          type: "string"
        - name: "arrangementCreditDate"
          in: "query"
          required: false
          description: "Credit Date for Advancement or Postponement"
          type: "string"
        - name: "isPDCChecked"
          in: "query"
          required: false
          description: "isPDCChecked"
          type: "string"
        - name: "vaultBoxNumber"
          in: "query"
          required: false
          description: "vaultBoxNumber"
          type: "string"
        - name: "drawnOnBranchCode"
          in: "query"
          required: false
          description: "drawnOnBranchCode"
          type: "string"
                    
      responses:
        200:
          description: "Successful performs the operation"
          schema:
            $ref: "#/definitions/InstrumentEnquiryCollection"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"
  /web/v1/instrumentmgmnt/creditadvancementpostponement/authorize:
    post:
      tags:
        - "creditAdvancementPostponement"
      summary: "Update an existing Instrument."
      description:  "Update an existing Instrument Add additional information here for the this endpoint."
      operationId: "authorizeInstrument"
      parameters:
        - name: "conductorWorkFlowModel"
          in: "body"
          description: "Request Body that contains data required for authorizing a instrument"
          required: true
          schema:
            $ref: "#/definitions/ConductorWorkFlowModel"
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "branch code for SMS"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
        - name: "branchDate"
          in: "header"
          type: "string"
          format: "date-time"
          required: false      
      responses:
        200:
          description: "Returns updated customer"
          schema:
            $ref: "#/definitions/ConductorWorkFlowModel"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error" 
          
  /web/v1/instrumentmgmnt/markExtension:
    post:
      tags:
        - "postDatedAction"
      summary: "Adds a new Instrument"
      description: "Adds a new Instrument with all  additional information "
      operationId: "addMarkExtensionInstrument"
      parameters:
        - name: "instrument"
          in: "body"
          description: "Request Body that contains data required for creating a new DepositSlip"
          required: true
          schema:
            $ref: "#/definitions/InstrumentReqModel"
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "branch code for SMS"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
        - name: "branchDate"
          in: "header"
          type: "string"
          format: "date-time"
          required: false
      responses:
        201:
          description: "Successfully created the loan details"
          schema:
             $ref: "#/definitions/ResponseDtoWrapper"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"

  /web/v1/instrumentmgmnt/instruments:
    get:
      tags:
        - "postDatedAction"
      summary: "Retrieves the list of existing Instrument"
      description:  "Retrieves the list of existing Instrument with additional information "
      operationId: "getAllInstruments"
      parameters:
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "branch code for SMS"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
        - name: "corporateId"
          in: "query"
          required: false
          description: "corporateId"
          type: "string"
        - name: "instrumentNumber"
          in: "query"
          description: "instrumentNumber"
          required: false
          type: "integer"
          format: "int64"
        - name: "depositSlipNumber"
          in: "query"
          required: false
          description: "depositSlipNumber"
          type: "integer"
          format: "int64"
        - name: "depositFromDate"
          in: "query"
          type: "string"
          required: false
          description: "depositFromDate"
        - name: "depositToDate"
          in: "query"
          type: "string"
          required: false
          description: "depositToDate"
        - name: "instrumentAmountFrom"
          in: "query"
          type: "number"
          required: false
          description: "instrumentAmountFrom"
        - name: "instrumentAmountTo"
          in: "query"
          type: "number"
          required: false
          description: "instrumentAmountTo"
        - name: "instrumentStatus"
          in: "query"
          type: "string"
          required: false
          description: "instrumentStatus"
        - name: "pickupCode"
          in: "query"
          required: false
          description: "pickupCode"
          type: "string"
        - name: "locationCode"
          in: "query"
          required: false
          description: "locationCode"
          type: "string"
        - name: "accountNumber"
          in: "query"
          required: false
          description: "accountNumber"
          type: "string"
        - name: "product"
          in: "query"
          required: false
          description: "product"
          type: "string"
        - name: "depositBranch"
          in: "query"
          required: false
          description: "depositBranch"
          type: "string"
        - name: "depositLocation"
          in: "query"
          required: false
          description: "depositLocation"
          type: "string"
        - name: "limit"
          in: "query"
          required: false
          description: "limit to be fetched"
          type: "integer"
        - name: "offset"
          in: "query"
          required: false
          description: "offset of the limit"
          type: "integer"
        - name: "scheduleOriginationBranch"
          in: "query"
          required: false
          description: "Receit branch"
          type: "string"
        - name: "scheduleDestinationBranch"
          in: "query"
          required: false
          description: "Returning branch"
          type: "string"
        - name: "scheduleDestinationBank"
          in: "query"
          required: false
          description: "Returning Bank"
          type: "string"
        - name: "scheduleRefNo"
          in: "query"
          required: false
          description: "Schedule Ref no"
          type: "string"
        - name: "courierCode"
          in: "query"
          required: false
          description: "courier"
          type: "string"
        - name: "scheduleDispatchDateFrom"
          in: "query"
          required: false
          description: "scheduleDispatchDateFrom"
          type: "string"
        - name: "scheduleDispatchDateTo"
          in: "query"
          required: false
          description: "scheduleDispatchDateTo"
          type: "string"
        - name: "txnRefNo"
          in: "query"
          required: false
          description: "Instrument Ref no"
          type: "string"
        - name: "instFromDate"
          in: "query"
          required: false
          description: "instFromDate"
          type: "string"
        - name: "instToDate"
          in: "query"
          required: false
          description: "instToDate"
          type: "string"
        - name: "referenceNum"
          in: "query"
          required: false
          description: "referenceNum"
          type: "string"
        - name: "drawnOnBankCode"
          in: "query"
          required: false
          description: "drawnOnBankCode"
          type: "string"
        - name: "drawerAcNo"
          in: "query"
          required: false
          description: "drawerAcNo"
          type: "string"
        - name: "corrBankCode"
          in: "query"
          required: false
          description: "corrBankCode"
          type: "string"
        - name: "instrumentAmt"
          in: "query"
          required: false
          description: "instrumentAmt"
          type: "number"
        - name: "divisionCode"
          in: "query"
          required: false
          description: "divisionCode"
          type: "string"
        - name: "routingNumber"
          in: "query"
          required: false
          description: "routingNumber"
          type: "number"
        - name: "instTxnStatus"
          in: "query"
          required: false
          description: "instTxnStatus"
          type: "string"
        - name: "depositChannel"
          in: "query"
          required: false
          description: "depositChannel"
          type: "string"
        - name: "clearingLocation"
          in: "query"
          required: false
          description: "clearingLocation"
          type: "string"
        - name: "instAmtCcy"
          in: "query"
          required: false
          description: "instAmtCcy"
          type: "string"
        - name: "arrangementCreditDate"
          in: "query"
          required: false
          description: "Credit Date for Advancement or Postponement"
          type: "string"
        - name: "isPDCChecked"
          in: "query"
          required: false
          description: "isPDCChecked"
          type: "string"
        - name: "vaultBoxNumber"
          in: "query"
          required: false
          description: "vaultBoxNumber"
          type: "string"
        - name: "drawnOnBranchCode"
          in: "query"
          required: false
          description: "drawnOnBranchCode"
          type: "string"
                    
      responses:
        200:
          description: "Successful performs the operation"
          schema:
            $ref: "#/definitions/InstrumentEnquiryCollection"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"
          
  /web/v1/instrumentmgmnt/markExtension/authorize:
    post:
      tags:
        - "postDatedAction"
      summary: "Update an existing Instrument."
      description:  "Update an existing Instrument Add additional information here for the this endpoint."
      operationId: "authorizeMarkExtensionInstrument"
      parameters:
        - name: "conductorWorkFlowModel"
          in: "body"
          description: "Request Body that contains data required for authorizing a instrument"
          required: true
          schema:
            $ref: "#/definitions/ConductorWorkFlowModel"
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "branch code for SMS"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
        - name: "branchDate"
          in: "header"
          type: "string"
          format: "date-time"
          required: false      
      responses:
        200:
          description: "Returns updated customer"
          schema:
            $ref: "#/definitions/ConductorWorkFlowModel"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"

  /web/v1/instrumentmgmnt/markHold:
    post:
      tags:
        - "postDatedAction"
      summary: "Adds a new Instrument for MARKHOLD action."
      description: "Adds a new Instrument with all  additional information "
      operationId: "addMarkHoldInstrument"
      parameters:
        - name: "instrument"
          in: "body"
          description: "Request Body that contains data required for creating a new DepositSlip"
          required: true
          schema:
            $ref: "#/definitions/InstrumentReqModel"
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "branch code for SMS"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
        - name: "branchDate"
          in: "header"
          type: "string"
          format: "date-time"
          required: false
      responses:
        201:
          description: "Successfully created the loan details"
          schema:
             $ref: "#/definitions/ResponseDtoWrapper"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"

  /web/v1/instrumentmgmnt/markHold/authorize:
    post:
      tags:
        - "postDatedAction"
      summary: "Authorize an existing Instrument for MARKHOLD action."
      description:  "Update an existing Instrument Add additional information here for the this endpoint."
      operationId: "authorizeMarkHoldInstrument"
      parameters:
        - name: "conductorWorkFlowModel"
          in: "body"
          description: "Request Body that contains data required for authorizing a instrument"
          required: true
          schema:
            $ref: "#/definitions/ConductorWorkFlowModel"
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "branch code for SMS"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
        - name: "branchDate"
          in: "header"
          type: "string"
          format: "date-time"
          required: false      
      responses:
        200:
          description: "Returns updated customer"
          schema:
            $ref: "#/definitions/ConductorWorkFlowModel"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"

  /web/v1/instrumentmgmnt/markUnhold:
    post:
      tags:
        - "postDatedAction"
      summary: "Adds a new Instrument for MARKUNHOLD action."
      description: "Adds a new Instrument with all  additional information "
      operationId: "addMarkUnHoldInstrument"
      parameters:
        - name: "instrument"
          in: "body"
          description: "Request Body that contains data required for creating a new DepositSlip"
          required: true
          schema:
            $ref: "#/definitions/InstrumentReqModel"
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "branch code for SMS"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
        - name: "branchDate"
          in: "header"
          type: "string"
          format: "date-time"
          required: false
      responses:
        201:
          description: "Successfully created the loan details"
          schema:
             $ref: "#/definitions/ResponseDtoWrapper"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"

  /web/v1/instrumentmgmnt/markUnhold/authorize:
    post:
      tags:
        - "postDatedAction"
      summary: "Authorize an existing Instrument for MARKUNHOLD action."
      description:  "Update an existing Instrument Add additional information here for the this endpoint."
      operationId: "authorizeMarkUnHoldInstrument"
      parameters:
        - name: "conductorWorkFlowModel"
          in: "body"
          description: "Request Body that contains data required for authorizing a instrument"
          required: true
          schema:
            $ref: "#/definitions/ConductorWorkFlowModel"
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "branch code for SMS"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
        - name: "branchDate"
          in: "header"
          type: "string"
          format: "date-time"
          required: false      
      responses:
        200:
          description: "Returns updated customer"
          schema:
            $ref: "#/definitions/ConductorWorkFlowModel"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"

  /web/v1/instrumentmgmnt/markMisplaced:
    post:
      tags:
        - "postDatedAction"
      summary: "Adds a new Instrument for MARKMISPLACED action."
      description: "Adds a new Instrument with all  additional information "
      operationId: "addMarkMisplaceInstrument"
      parameters:
        - name: "instrument"
          in: "body"
          description: "Request Body that contains data required for creating a new DepositSlip"
          required: true
          schema:
            $ref: "#/definitions/InstrumentReqModel"
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "branch code for SMS"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
        - name: "branchDate"
          in: "header"
          type: "string"
          format: "date-time"
          required: false
      responses:
        201:
          description: "Successfully created the loan details"
          schema:
             $ref: "#/definitions/ResponseDtoWrapper"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"

  /web/v1/instrumentmgmnt/markMisplaced/authorize:
    post:
      tags:
        - "postDatedAction"
      summary: "Authorize an existing Instrument for MARKMISPLACED action."
      description:  "Update an existing Instrument Add additional information here for the this endpoint."
      operationId: "authorizeMarkMisplaceInstrument"
      parameters:
        - name: "conductorWorkFlowModel"
          in: "body"
          description: "Request Body that contains data required for authorizing a instrument"
          required: true
          schema:
            $ref: "#/definitions/ConductorWorkFlowModel"
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "branch code for SMS"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
        - name: "branchDate"
          in: "header"
          type: "string"
          format: "date-time"
          required: false      
      responses:
        200:
          description: "Returns updated customer"
          schema:
            $ref: "#/definitions/ConductorWorkFlowModel"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
  
  /web/v1/instrumentmgmnt/markRecovered:
    post:
      tags:
        - "postDatedAction"
      summary: "Adds a new Instrument for MARKRECOVERED action."
      description: "Adds a new Instrument with all  additional information "
      operationId: "addMarkRecoveredInstrument"
      parameters:
        - name: "instrument"
          in: "body"
          description: "Request Body that contains data required for creating a new DepositSlip"
          required: true
          schema:
            $ref: "#/definitions/InstrumentReqModel"
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "branch code for SMS"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
        - name: "branchDate"
          in: "header"
          type: "string"
          format: "date-time"
          required: false
      responses:
        201:
          description: "Successfully created the loan details"
          schema:
             $ref: "#/definitions/ResponseDtoWrapper"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"

  /web/v1/instrumentmgmnt/markRecovered/authorize:
    post:
      tags:
        - "postDatedAction"
      summary: "Authorize an existing Instrument for MARKRECOVERED action."
      description:  "Update an existing Instrument Add additional information here for the this endpoint."
      operationId: "authorizeMarkRecoveredInstrument"
      parameters:
        - name: "conductorWorkFlowModel"
          in: "body"
          description: "Request Body that contains data required for authorizing a instrument"
          required: true
          schema:
            $ref: "#/definitions/ConductorWorkFlowModel"
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "branch code for SMS"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
        - name: "branchDate"
          in: "header"
          type: "string"
          format: "date-time"
          required: false      
      responses:
        200:
          description: "Returns updated customer"
          schema:
            $ref: "#/definitions/ConductorWorkFlowModel"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"

  /web/v1/instrumentmgmnt/markReplacement:
    post:
      tags:
        - "postDatedAction"
      summary: "Adds a new Instrument for MARKREPLACEMENT action."
      description: "Adds a new Instrument with all  additional information "
[...]
