swagger: "2.0"
info:
  description: "This API will either Reject or Archive the Cheque/ Instrument's"
  version: "1.0.0"
  title: "Instrument Collection Purge/ Reject API"
host: "api-plato.us.oracle.com:8080"
basePath: "/api/1.0"
consumes:
  - "application/json"
produces:
  - "application/json"
tags:
  - name: "BatchServiceAPI"
    description: "This API will either Reject or Archive the Cheque/ Instrument's"
    
paths:
  /service/v1/instrumentCollection/purge:
    post:
      tags:
        - "BatchService"
      summary: "Purge Batch transaction"
      description: "Purge Batch transaction"
      operationId: "purgeBatchTransaction"
      parameters:
        - name: "purgeRequestModel"
          in: "body"
          description: "Request Body that contains data required for purging the transaction"
          required: true
          schema:
            $ref: "./batch.yaml#/definitions/ConductorWorkFlowModel"
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "User ID for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
          description: "Branch Code for SMS"
        - name: "appId"
          in: "header"
          type: "string"
          required: true
          description: "Application ID for SMS"
        - name: "contentType"
          in: "header"
          type: "string"
          description: "content of a file"
          required: false
      responses:
        200:
          description: "Successful performs the operation"
          schema:
            $ref: "./batch.yaml#/definitions/ConductorWorkFlowModel"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"

  /service/v1/instrumentCollection/reject:
    post:
      tags:
        - "BatchService"
      summary: "Reject Batch transaction for Rework"
      description: "Reject Batch transaction for Rework"
      operationId: "rejectBatchTransaction"
      parameters:
        - name: "purgeRequestModel"
          in: "body"
          description: "Request Body that contains data required for rejecting the transaction"
          required: true
          schema:
            $ref: "./batch.yaml#/definitions/ConductorWorkFlowModel"
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "User ID for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
          description: "Branch Code for SMS"
        - name: "appId"
          in: "header"
          type: "string"
          required: true
          description: "Application ID for SMS"
        - name: "contentType"
          in: "header"
          type: "string"
          description: "content of a file"
          required: false
      responses:
        200:
          description: "Successful performs the operation"
          schema:
            $ref: "./batch.yaml#/definitions/ConductorWorkFlowModel"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"