swagger: "2.0"
info:
  description: "This is a sample server Batch server.  You can find out more about Swagger at [swagger.io](http://swagger.io) and about data types at [Swagger Data Types](https://swagger.io/docs/specification/data-models/data-types/)"
  version: "1.0.0"
  title: "Batch Service"
host: "api-plato.us.oracle.com:8080"
basePath: "/api/1.0"
consumes:
  - "application/json"
produces:
  - "application/json"
tags:
  - name: "BatchAPI"
    description: "API for Batch Operations"
    
schemes:
- "https"

paths:
  /web/v1/batch:
    post:
      tags:
        - "batch"
      summary: "Adds a new batch."
      description: "Adds a new batch. Add additional information here for this endpoint."
      operationId: "addBatch"
      parameters:
        - name: "batch"
          in: "body"
          description: "Request Body that contains data required for creating a new batch"
          required: true
          schema:
            $ref: "#/definitions/BatchModel"
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "branch code for SMS"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
        - name: "branchDate"
          in: "header"
          type: "string"
          format: "date-time"
          required: false
      responses:
        201:
          description: "Returns the Id of the newly created batch"
          schema:
             $ref: "#/definitions/ResponseModel" 
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
    get:
      tags:
        - "batch"
      summary: "Retrieves the list of existing batches."
      description:  "Retrieves the list of existing batches. Add additional information here for the this endpoint."
      operationId: "getAllBatch"
      parameters:
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "branch code for SMS"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
        - name: "branchDate"
          in: "header"
          type: "string"
          format: "date-time"
          required: false
        - name: "limit"
          in: "query"
          required: false
          description: "limit to be fetched"
          type: "integer"
        - name: "offset"
          in: "query"
          required: false
          description: "offset of the limit"
          type: "integer"
        - name: "processingDateString"
          in: "query"
          type: "string"
          required: false
        - name: "referenceNum"
          in: "query"
          description: "Ref of the batch that needs to be fetched"
          required: false
          type: "string"
        - name: "includeAll"
          in: "query"
          description: "include all the records without validation"
          required: false
          type: "boolean"
        - name: "includeCompleted"
          in: "query"
          description: "includeCompleted - to send only records for which stage is completed"
          required: false
          type: "boolean"
        - name: "txnStatus"
          in: "query"
          description: "txnStatus - to send only records for which workflow is inprogress or approved"
          required: false
          type: "string"
        - name: "screenFlag"
          in: "query"
          description: "Screen Flag Identifier"
          required: false
          type: "string"
      responses:
        200:
          description: "Successful performs the operation"
          schema:
            $ref: "#/definitions/ResponseModel"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"
    delete:
      tags:
        - "batch"
      summary: "Deletes the batch by referenceNum."
      description:  "deletes the batch by referenceNum. Add additional information here for the this endpoint."
      operationId: "deleteBatch"
      parameters:
        - name: "referenceNum"
          in: "query"
          description: "Ref of the batch that needs to be deleted"
          required: true
          type: "string"
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "branch code for SMS"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
        - name: "branchDate"
          in: "header"
          type: "string"
          format: "date-time"
          required: false
      responses:
        200:
          description: "Returns the DepositSlip based on given id."
          schema:
            $ref: "#/definitions/ResponseModel"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"
          
  /web/v1/batch/approve:
    post:
      tags:
        - "batch"
      summary: "Adds a new batch."
      description: "Adds a new batch. Add additional information here for this endpoint."
      operationId: "authorizeBatch"
      parameters:
        - name: "workFlowModel"
          in: "body"
          description: "Request Body that contains data required for creating a new batch"
          required: true
          schema:
            $ref: "#/definitions/ConductorWorkFlowModel"
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "branch code for SMS"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
        - name: "branchDate"
          in: "header"
          type: "string"
          format: "date-time"
          required: false
      responses:
        201:
          description: "Returns the Id of the newly created batch"
          schema:
             $ref: "#/definitions/ResponseModel" 
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
          
          
  /web/v1/batch/masterUpdate:
    post:
      tags:
        - "batch"
      summary: "Adds a new batch."
      description: "Adds a new batch. Add additional information here for this endpoint."
      operationId: "masterUpdate"
      parameters:
        - name: "workFlowModel"
          in: "body"
          description: "Request Body that contains data required for creating a new batch"
          required: true
          schema:
            $ref: "#/definitions/ConductorWorkFlowModel"
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "branch code for SMS"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
        - name: "branchDate"
          in: "header"
          type: "string"
          format: "date-time"
          required: false
      responses:
        201:
          description: "Returns the Id of the newly created batch"
          schema:
             $ref: "#/definitions/ResponseModel" 
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
          
  /web/v1/batch/{referenceNum}:
    put:
      tags:
        - "batch"
      summary: "Update an existing Batch."
      description: "Update an existing Batch. Add additional information here for the this endpoint."
      operationId: "updateBatch"
      parameters:
        - name: "batch"
          in: "body"
          description: "Request Body that contains data required for updating batch"
          required: true
          schema:
            $ref: "#/definitions/BatchModel"
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "branch code for SMS"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
        - name: "branchDate"
          in: "header"
          type: "string"
          format: "date-time"
          required: false
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "referenceNum"
          in: "path"
          description: "Ref of the batch that needs to be deleted"
          required: true
          type: "string"
      responses:
        201:
          description: "Returns the Id of the updated batch"
          schema:
             $ref: "#/definitions/ResponseModel" 
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
  /web/v1/batch/transaction/{referenceNum}:
    get:
      tags:
        - "batch"
      summary: "Retrieves the list of existing batches."
      description:  "Retrieves the list of existing batches. Add additional information here for the this endpoint."
      operationId: "getBatchByRefNo"
      parameters:
        - name: "referenceNum"
          in: "path"
          description: "Ref of the batch that needs to be fetched"
          required: true
          type: "string"
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
      responses:
        200:
          description: "Successful performs the operation"
          schema:
            $ref: "#/definitions/ResponseModel"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"

  /web/v1/initiateTxn: 
    post: 
      tags: 
        - "batch" 
      summary: "Initiates a new txn." 
      description: "Initiates a new txn. Add additional information here for this endpoint."  
      operationId: "initiateTxn"  
      parameters: 
        - name: "batch" 
          in: "body"  
          description: "Request Body that contains data required for initiating a new txn"  
          required: true  
          schema: 
            $ref: "#/definitions/TransactionModel"  
        - name: "appId" 
          in: "header"  
          type: "string"  
          required: true  
        - name: "tenantId"  
          in: "header"  
          type: "string"  
          required: false 
        - name: "userId"  
          in: "header"  
          type: "string"  
          required: true  
          description: "user id for SMS"  
        - name: "branchCode"  
          in: "header"  
          type: "string"  
          required: true  
        - name: "authToken" 
          in: "header"  
          type: "string"  
          required: false 
          description: "branch code for SMS"  
        - name: "contentType" 
          in: "header"  
          type: "string"  
          required: false 
        - name: "branchDate"  
          in: "header"  
          type: "string"  
          format: "date-time" 
          required: false 
      responses:  
        201:  
          description: "Returns the Id of the newly created batch"  
          schema: 
             $ref: "#/definitions/ResponseDtoWrapper"  
        400:  
          description: "Malformed syntax."  
        401:  
          description: "Request does not have sufficient credentials."  
        403:  
          description: "Request is not authorized." 
        405:  
          description: "Invalid input"  
        500:  
          description: "Internal error" 
          
          
  /web/v1/batch/unauthorize/{referenceNum}:
    get:
      tags:
        - "batch"
      summary: "Update an existing Batch."
      description: "Update an existing Batch. Add additional information here for the this endpoint."
      operationId: "getUnAuthorizeBatch"
      parameters:
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "branch code for SMS"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
        - name: "branchDate"
          in: "header"
          type: "string"
          format: "date-time"
          required: false
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "referenceNum"
          in: "path"
          description: "Ref of the batch that needs to be deleted"
          required: true
          type: "string"
      responses:
        201:
          description: "Returns the Id of the updated batch"
          schema:
             $ref: "#/definitions/BatchCollection" 
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"         

definitions:
  BatchModel:
    description: "Batch model"
    type: "object"
    properties:
      id:
        description: "Id of the batch"
        type: "string"
      branchCode:
        description: "Branch code"
        type: "string"
      referenceNum:
        description: "Reference Number"
        type: "string"
      seqNo:
        description: "Sequence Number"
        type: "integer"
        format: "int64"
      depositChannel:
        description: "Deposit Channel"
        type: "string"
      financialPosting:
        description: "Financial Posting"
        type: "string"
      courierCode:
        description: "Courier Code"
        type: "string" 
      courierDesc:
        description: "Courier Desc"
        type: "string"        
      consignmentNo:
        description: "Consignment Number"
        type: "string"
      consignmentDate:
        description: "Consignment Date"
        type: string
      processingDate:
        description: "Processing Date"
        type: string
        format: date
      depositLocationCode:
        description: "Deposit Location Code"
        type: "string"
      depositLocationDesc:
        description: "Deposit Location Description"
        type: "string"
      ackReceiptNo:
        description: "Ack Receipt Number"
        type: "string"
      bagWeight:
        description: "Bag weight"
        type: "number"
      initiatorRefNo:
        description: "Initiator Reference Number"
        type: "string"
      totalBatchAmtCcy:
        description: "Total Batch Amount Currency"
        type: "string"
      totalBatchAmt:
        description: "Total Batch Amount"
        type: "number"
      totalDepositSlips:
        description: "Total Deposit Slips"
        type: "integer"
        format: "int64"
      stage:
        description: "Stage"
        type: "string"
      txnStatus:
        description: "Transaction Status"
        type: "string"
      resourceId:
        description: "Resource Id"
        type: "string"
      depositorName:
        description: "Depositor Name"
        type: "string"
      idProofType:
        description: "ID Proof Type"
        type: "string"
      idProofDetail:
        description: "ID Proof Detail"
        type: "string"
      contactNumber:
        description: "Contact Number"
        type: "string"
      processingDateString:
        description: "Processing Date String"
        type: string
      screenFlag:
        description: "Screen Flag Identifier"
        type: string        
      depositSlipList:
        description: "depositSlip"
        type: "array"
        items:
          $ref: "#/definitions/DepositSlipModel"
  BatchCollection:
    description: "Collection of batches."
    type: "object"
    properties:
      BatchList:
        type: "array"
        items:
          $ref: "#/definitions/BatchModel"
  TransactionModel:
    description: "TransactionModel"
    type: "object"
    properties:
      transactionReferenceNo:
        description: "Transaction Reference Number"
        type: "string"
      branchCode:
        description: "Branch Code"
        type: "string"
      countOfDepositSlips:
        description: "Count of Deposit Slips"
        type: "integer"
        format: "int64"
      countOfInstruments:
        description: "Count of Instruments"
        type: "integer"
        format: "int64"
      processingDate:
        description: "Processing Date"
        type: "string"
      businessDate:
        description: "Business Date"
        type: "string"
      productGroup:
        description: "Product group"
        type: "string"
      channel:
        description: "Channel"
        type: "string"
      instrumentType:
        description: "Instrument Type"
        type: "string"
      operation:
        description: "Operation"
        type: "string"
      processCode:
        description: "Process Code"
        type: "string"
      processName:
        description: "Process Name"
        type: "string"        
      stageId:
        description: "Stage Id"
        type: "string"
      stageDescription:
        description: "Stage Description"
        type: "string"
      referenceNo:
        description: "Reference No"
        type: "string"
      seqNo:
        description: "Sequence No"
        type: "string"
      taskId:
        description: "Task Id"
        type: "string"
      errorCode:
        type: "string"
        description: "Error Code"
      errorDesc:
        type: "string"
        description: "Error Description" 
        
  ConductorWorkFlowModel:
    description: "ConductorWorkFlowModel"
    type: "object"
    properties:
      processCode:
        type: "string"
        description: "Process Code to identify workflow"
      processName:
        type: "object"
        description: "Process Name to identify workflow"
      userId:
        type: "string"
        description: "User Id"
      stageId:
        type: "string"
        description: "Stage Id"
      stageDescription:
        type: "string"
        description: "Stage desc"
      branchCode:     
        type: "string"
        description: "Branch Code"
      errorCode:
        type: "string"
        description: "Error Code"
      errorDesc:
        type: "string"
        description: "Error Desc"
      transactionReferenceNo:
        type: "string"
        description: "Transaction Referenec No"
      processingDate:
        description: "Processing Date"
        type: "string"
      businessDate:
        description: "Business Date"
        type: "string"
      workflowInstanceId:
        description: "Workflow Instance Id"
        type: "string"
      taskInstanceId:
        description: "Task Instance Id"
        type: "string"
      product:
        description: "Product type to identify service for instrument"
        type: "string"
      cashManagementModel:  
        $ref: "#/definitions/CashManagementModel"
      instrumentModel:
        $ref: "#/definitions/WorkflowInstrumentModel"
      applicationCode:
         description: "Application Code"
         type: "string"    
      workflowType:
         description: "Workflow Type"
         type: "string"    
      productCode:
         description: "Product Code"
         type: "string"    
      event:
         description: "Event"
         type: "string" 
      productCategory:
         description: "Product Category"
         type: "string"
      appId:
         description: "App ID"
         type: "string"
      uri:
         description: "Uri"
         type: "string"
      applicationNumber:
        description: "Reference number without seqno"
        type: "string"
      customerNumber:
        description: "Customer Id"
        type: "string"
      amount:
        type: "number"
        description: "Instrument Amount"
      currencyCode:
        type: "string"
        description: "Instrument Currency"
      priority:
        description: "To decide the priority of the task"
        type: "string"
      isReworkAllowed:
        description: "Rework Allowed Flag"
        type: "string"
      eventCode:
        type: "string"
        description: "eventCode"         
      screenName:
        type: "string"
        description: "Screen Name"      
         
  CashManagementModel:
    description: "CashManagementModel"
    properties:
      productGroup:
        type: "string"
        description: "Product Group"
      channel:
        type: "string"
        description: "Channel"
      operation:
        type: "string"
        description: "Operation"
      referenceNo:
        type: "string"
        description: "Reference No"
      seqNo:  
        type: "string"
        description: "Seq No"
      isAutoAuth:
        description: "Is Auto Auth flag"
        type: "string" 
      isManualEnrichmentReqd:
        description: "Is Manual Enrichment Reqd flag"
        type: "string" 
      isAccEntryGenRequired:
        description: "Is Acc Entry Gen Reqd flag"
        type: "string"
      isOnlinePostingReqd:
        description: "Is Online Posting Reqd flag"
        type: "string"
      isClearingRequired:
        description: "Is Clearing Reqd flag"
        type: "string"
      isScheduleGenerationRequired:
        description: "Is Schedule Generation Reqd flag"
        type: "string"
      isPoolingRequired:
        description: "Is Pooling Reqd flag"
        type: "string"
      countOfDepositSlips:
        description: "Count of Deposit Slips"
        type: "integer"
        format: "int64"
      countOfInstruments:
        description: "Count of Instruments"
        type: "integer"
        format: "int64"
      instrumentType:
        type: "string"
        description: "Instrument Type"
      isUpdateCheckReqd:
        type: "string"
        description: "isUpdateCheckReqd flag"
      isArrAndPoolingReqd:
        type: "string"
        description: "isArrAndPoolingReqd flag"
      additionalDetails:
        type: object
        description: "Details of other properties"
        additionalProperties:
          type: object
          description: "Additional Properties"

        
  ScfSystemParamModel:
    description: "Scf System Param model"
    type: "object"
    properties:
      id:
        description: "Id of the Parameter"
        type: "integer"
        format: "int64"
      key:
        description: "Key for the parameter.This is a unique constraint"
        type: "string"
      value:
        description: "Configured value which will be used in rest of application."
        type: "string"
  ScfSystemParamCollection:
    description: "Collection of list of Parameters."
    type: "object"
    properties:
      ScfSystemParamModel:
        type: "array"
        items:
          $ref: "#/definitions/ScfSystemParamModel"
  ScfApplicationParamKeyModel:
    description: "Scf Application Param model"
    type: "object"
    properties:
      code:
        description: "Code for the Param.This is a unique constraint"
        type: "string"
      description:
        description: "Configured value for the disbursement mode which will be used in rest of application."
        type: "string"
  ObcmApplicationParamKeyCollection:
    description: "Collection of list of Parameters."
    type: "object"
    properties:
      key:
        description: "key of the Param"
        type: "string"
      ObcmApplicationParamKeyModel:
        type: "array"
        items:
          $ref: "#/definitions/ScfApplicationParamKeyModel"
  ResponseDtoWrapper:
    type: object
    properties:
      messages:
        $ref: "#/definitions/ResponseDto"
      data:
        $ref: "#/definitions/ResponseResourceSupport"
  ResponseResourceSupport:
    type: object
    
  ResponseDto:
    type: object
    properties:
      id:
       type: string
      status:
       type: string
      codes:
       type: array
       items:
        $ref: "#/definitions/ResponseCode"
      requestId:
       type: string
  ResponseCode:
    type: object
    properties:
     Code:
      type: string
     Desc:
      type: string
     Type:
      type: string
     Language:
      type: string
     args:
      type: array
      items:
       type: object
     arg:
      type: string
  WorkflowInstrumentModel:
    description: "WorkflowInstrumentModel"
    properties:
      action:
        type: "string"
        description: "Action"
      countOfDepositSlips:
        type: "integer"
        format: "int64"
        description: "CountOfDepositSlips"
      countOfInstruments:
        type: "integer"
        format: "int64"
        description: "CountOfInstruments"
      isAutoAuth:
        type: "string"
        description: "IsAutoAuth"
      isFileUpload:
        type: "string"
        description: "isFileUpload"
      isFileAuthorized:
        type: "string"
        description: "isFileUpload"
      isPortalTxn:
        type: "string"
        description: "isPortalTxn"
      instrumentType:
        type: "string"
        description: "Instrument Type"
        
  ObcmApplicationParamKeyModel:
    description: "Obcm Application Param model"
    type: "object"
    properties:
      code:
        description: "Code for the Param.This is a unique constraint"
        type: "string"
      description:
        description: "Configured value for the disbursement mode which will be used in rest of application."
        type: "string"
  ObcmApplicationParamModelKeyCollection:
    description: "Collection of list of Parameters."
    type: "object"
    properties:
      key:
        description: "key of the Param"
        type: "string"
      ObcmApplicationParamKeyModel:
        type: "array"
        items:
          $ref: "#/definitions/ObcmApplicationParamKeyModel"
  ObcmApplicationParamModelCollection:
    description: "Collection of ObcmApplicationParamModelKeyCollection."
    type: "object"
    properties:
      ObcmApplicationParamModelKeyCollection:
        type: "array"
        items:
          $ref: "#/definitions/ObcmApplicationParamModelKeyCollection"
