swagger: "2.0"
info:
  description: "Provides APIs for Cash Deposit and Cheque Deposit related charges "
  version: "1.0.0"
  title: "Charges - Cash and Cheque Deposit API's"
host: "api-plato.us.oracle.com:8080"
basePath: "/api/1.0"
consumes:
  - "application/json"
  - "application/xml"
produces:
  - "application/json"
  - "application/xml"
tags:
  - name: "CollectionChargesService"
    description: "Provides APIs for Cash Deposit and Cheque Deposit related charges "

paths:
  /service/v1/collectionCharges:
    get:
      tags:
        - "CollectionChargesService"
      summary: "Calculate the online charges for Cash Collection"
      description:  "Calculate the online charges for Cash Collection."
      operationId: "getCollectionChargeDetails"
      parameters:
        - name: "appId"
          in: "header"
          type: "string"
          required: true
          description: "App Id for SMS"
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false
          description: "Tenant Id for SMS"
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "User Id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
          description: "Branch Code for SMS"
        - name: "applicationCode"
          in: "header"
          type: "string"
          required: true
          description: "Application Code for SMS"
        - name: "event"
          in: "header"
          type: "string"
          required: true
          description: "Event"
      responses:
        200:
          description: "Successful performs the operation"
          schema:
            $ref: "#/definitions/ObChargesTxnDTOCollection"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not auhorized."
        500:
          description: "Internal error"
  /service/v1/collectionChequeCharges:
    get:
      tags:
        - "CollectionChargesService"
      summary: "Calculate the online charges for Cheque Collection"
      description:  "Calculate the online charges for Cheque Collection."
      operationId: "getCollectionChequeChargeDetails"
      parameters:
        - name: "appId"
          in: "header"
          type: "string"
          required: true
          description: "App Id for SMS"
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false
          description: "Tenant Id for SMS"
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "User Id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
          description: "Branch Code for SMS"
        - name: "applicationCode"
          in: "header"
          type: "string"
          required: true
          description: "Application Code for SMS"
        - name: "event"
          in: "header"
          type: "string"
          required: true
          description: "Event"
      responses:
        200:
          description: "Successful performs the operation"
          schema:
            $ref: "#/definitions/ObChargesTxnDTOCollection"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not auhorized."
        500:
          description: "Internal error"          
definitions:
  ObChargesTxnDTO:
     type: object
     properties:
       allowOverride:
         type: string
         description: "Allow Override"
       allowPrcModify:
         type: string
         description: "Allow PrcModify"
       allowWaive:
         type: string
         description: "Allow Waive"
       applicationCode:
         type: string
         description: "Application Code"
       autoWaive:
         type: string
         description: "Auto Waive"
       branchCode:
         type: string
         description: "Branch Code"
       calcErrorCode:
         type: string
         description: "CalcErrorCode"
       calcFreq:
         type: string
         description: "Calc Freq"
       calcRefPeriod:
         type: string
         description: "Calc RefPeriod"
       calcType:
         type: string
         description: "Calc Type"
       calcUnits:
         type: number
         description: "Calc Units"
       chargeAmount:
         type: number
         description: "Charge Amount"
       chargeCategory:
         type: string
         description: "Charge Category"
       chargeCode:
         type: string
         description: "Charge Code"
       chargeCodeDesc:
         type: string
         description: "Charge Code Description"
       chargeGroup:
         type: string
         description: "Charge Group"
       chargeType:
         type: string
         description: "Charge Type"
       chgCalcDate:
         type: string
         format: date
         description: "Charge Calculate Date"
       txnCcy:
         type: string
         description: "Transaction Currency"
       chargeCriteria:
         type: string
         description: "Charge Criteria"
       chargeCriteriaValue:
         type: number
         description: "Charge Criteria Value"
       chgCriteriaCcy:
         type: string
         description: "Charge Criteria Currency"
       chgCriteriaCount:
         type: string
         description: "Charge Criteria Count"
       priceMethodDesc:
         type: string
         description: "Price Method Description"
       priceTemplateId:
         type: string
         description: "Price Template Id"
       chgSharing:
         type: string
         description: "Charge Sharing"
       instrumentType:
         type: string
         description: "Instrument Type"
       collectionType:
         type: string
         description: "Collection Type"
       collectionFreq:
         type: string
         description: "Collection Frequency"
       collectionRefPeriod:
         type: string
         description: "Collection Reference Period"
       collectionUnits:
         type: number
         description: "Collection Units"
       parentChargeCode:
         type: string
         description: "Parent Charge Code"
       partyId:
         type: string
         description: "Party Id"
       partyToCharge:
         type: string
         description: "Party To Charge"
       postingErrorCode:
         type: string
         description: "Posting Error Code"
       referenceEndDate:
         type: string
         description: "Reference End Date"
       referenceStartDate:
         type: string
         description: "Reference Start Date"
       referenceEndDateValue:
         type: string
         format: date
         description: "Reference End Date Value"
       referenceStartDateValue:
         type: string
         format: date
         description: "Reference Start Date Value"
       txnRefNo:
         type: string
         description: "Transaction Reference Number"
       partyName:
         type: string
         description: "Party Name"
       eventCode:
         type: string
         description: "Event Code"
       exchangeRate:
         type: number
         description: "Exchange Rate"
       firstChgCalcDate:
         type: string
         format: date
         description: "First Charge Calculate Date"
       nextChgCalcDate:
         type: string
         format: date
         description: "Next Charge Caculate Date"
       firstChgCollDate:
         type: string
         format: date
         description: "First Charge Collection Date"
       nextChgCollDate:
         type: string
         format: date
         description: "Next Charge Collection Date"
       debitAccNumber:
         type: string
         description: "Debit Account Number"
       creditAccNumber:
         type: string
         description: "Credit Account Number"
       chgSharingPct:
         type: number
         description: "Charge Sharing Pct"
       calcStartDate:
         type: string
         format: date
         description: "Calculate Start Date"
       calcEndDate:
         type: string
         format: date
         description: "Calculate End Date"
        
  ObChargesTxnDTOCollection:
    description: "Collection of ObChargesTxnDTO."
    type: "object"
    properties:
      obChargesTxnDTOList:
        type: "array"
        items:
          $ref: "#/definitions/ObChargesTxnDTO"

  ChargesRequestDto:
    description: "Charges Request Dto"
    type: object
    properties:
      applicationCode:
        type: string
        description: "Application Code"
      category:
        type: string
        description: "Category"
      txnMap:
        $ref: "#/definitions/StringStringMap"
      chargeCodes:
        type: "array"
        items:
          $ref: "string"
  
  StringStringMap:
    type: object
    additionalProperties:
      type: string
              
  ChargesResponseDto:
    description: "Charges Response Dto"
    type: object
    properties:
      applicationCode:
        type: string
        description: "Application Code"
      txnDetails:
        type: "array"
        items:
          $ref: "#/definitions/TransactionDetailsResponseDto"
          
  ChargesDetails:
    description: "Charges Details"
    type: object
    properties:
      txnRefNo:
        type: string
        description: "Transaction Ref No"
      partyId:
        type: string
        description: "Party Id"
      chargeCode:
        type: string
        description: "Charge Code"
      partyToCharge:
        type: string
        description: "Party to Charge"
      priceMethod:
        type: string
        description: "Price Method"
      charge:
        type: number
        description: "Charge"
      chargeCcy:
        type: string
        description: "Charge Ccy"
      exchangeRate:
        type: number
        description: "Exchange Rate"
  SlabDetails:
    type: object
    properties:
      fromSlab:
        type: number
        description: "From Slab"
      toSlab:
        type: number
        description: "To Slab"
      amount:
        type: number
        description: "Amount needs to be provided when price category is Tier Based Amount or Tier Based Mixed"
      percentage:
        type: number
        description: "Amount needs to be provided when price category is Tier Based Percent or Tier Based Mixed"
      unit:
        type: number
        description: "unit specifies the charge amount to be levied per unit"
        
  ChargeCodeDetails:
    type: object
    properties:
      txnRefNo:
        type: string
        description: "Transaction Ref No"
      chargeCode:
        type: string
        description: "Charge Code"
      chargeCodeDesc:
        type: string
        description: "Charge Code Description"
      parentChargeCode:
        type: string
        description: "Parent Charge Code"
      chargeGroup:
        type: string
        description: "Charge Group"
      chargeCategory:
        type: string
        description: "Charge Category"
      chargeType:
        type: string
        description: "Charge Type"
      chargeSharing:
        type: string
        description: "Flag to indicate if charge sharing is available"
      chargeSharingPct:
        type: number
        description: "Percentage of charge which will be charged to the given party"
      partyId:
        type: string
        description: "Party Id which needs to be charged"
      partyToCharge:
        type: string
        description: "Party which needs to be charged"
      chargeCriteria:
        type: string
        description: "Amount/Count on which charge needs to be calculated."
      chargeCriteriaValue:
        type: number
        description: "Amount/Count Value on which charge needs to be calculated"
      referenceStartDate:
        type: string
        description: "Reference Start Date"
      referenceStartDateValue:
        type: string
        description: "Reference Start Date Value"
      referenceEndDate:
        type: string
        description: "Reference End Date"
      referenceEndDateValue:
        type: string
        description: "Reference End Date Value"
      tenor:
        type: number
        description: "Tenor"
      priceTemplateId:
        type: string
        description: "Price Template Id"
      priceMethod:
        type: string
        description: "Price Method"
      priceMethodDesc:
        type: string
        description: "Price Method Desc"
      txnCcy:
        type: string
        description: "Transaction CCY"
      priceCcy:
        type: string
        description: "Price CCY"
      chargeInTxnCcy:
        type: string
        description: "Charge in Txn CCY"
      flatCharge:
        type: string
        description: "Flat Charge"
      fixedAmt:
        type: number
        description: "Fixed Amount"
      fixedPct:
        type: number
        description: "Fixed Percentage"
      annumBasis:
        type: number
        description: "Annual Basis"
      allowWaive:
        type: string
        description: "Allow Waive"
      autoWaive:
        type: string
        description: "Auto Waive"
      allowOverride:
        type: string
        description: "Allow Override"
      collectionType:
        type: string
        description: "Collection Type"
      collectionFreq:
        type: string
        description: "Collection Frequency"
      collectionRefPeriod:
        type: string
        description: "Collection Reference Period"
      collectionUnits:
        type: number
        description: "Collection Units"
      calcType:
        type: string
        description: "Calc Type"
      calcFreq:
        type: string
        description: "Calc Frequency"
      calcRefPeriod:
        type: string
        description: "Calc Reference Period"
      calcUnits:
        type: number
        description: "Calc Units"
      allowPrcModify:
        type: string
        description: "Allow PrcModify"
      slabDetails:
        description: "Slab Details"
        type: "array"
        items:
          $ref: "#/definitions/SlabDetails"  
          
  ChargeCodeDetailsCollection:
    description: "Charge Code Details Collection"
    type: object
    properties:
      priceMethods:
        description: "Price Methods"
        type: "array"
        items:
          $ref: "#/definitions/ChargeCodeDetails"     
          
  ChargeCalculationDetails:
    description: "Charge Calculation Details"
    type: object
    properties:
      partyId:
        description: "Party Id which needs to be charged"
        type: string
      chargeCode:
        description: "Charge Code"
        type: string
      chargeCodeDesc:
        description: "Charge Code Description"
        type: string
      parentChargeCode:
        description: "Parent Charge Code"
        type: string
      chargeGroup:
        description: "Charge Group"
        type: string
      chargeCategory:
        description: "Charge Category"
        type: string
      chargeType:
        description: "Charge Type"
        type: string
      chargeSharing:
        description: "Flag to indicate if charge sharing is available"
        type: string
      partyToCharge:
        description: "Party which needs to be charged"
        type: string
      chargeSharingPct:
        description: "Percentage of charge which will be charged to the given party"
        type: number
      chargeCriteria:
        description: "Amount/Count on which charge needs to be calculated. e.g. FINANCE_AMOUNT, INVOICE_COUNT"
        type: string
      chargeCriteriaValue:
        description: "Amount/Count Value on which charge needs to be calculated"
        type: number
      tenor:
        description: "Period for which charge will be calculated"
        type: number
      txnCcy:
        description: "Transaction currency. It should be sent when chargeInTxnCcy is Y"
        type: string
      exchangeRate:
        description: "Exchange Rate"
        type: number
      externalPricingApplicable:
        type: string
        description: "External Pricing Applicable"
      externalPricingSystem:
        type: string
        description: "External Pricing System"
      isChargeCalculated:
        type: string
        description: "Is Charge Calculated"
      priceRuleId:
        type: string
        description: "Price Rule Id"
          
  TransactionDetailsResponseDto:
    description: "Transaction Details ResponseDto"
    type: object
    properties:
      txnRefNo:
        type: "string"
        description: "Txn Ref No"
      chargeDetails:
        description: "Collection of calculated charges"
        type: "array"
        items:
          $ref: "#/definitions/ChargesDetails"
          
  TransactionDetailsRequestDto:
    description: "Transaction Details RequestDto"
    type: object
    properties:
      txnRefNo:
        type: "string"
        description: "Txn Ref No"
      priceMethods:
        description: "Details of each charge to be calculated"
        type: "array"
        items:
          $ref: "#/definitions/ChargeCalculationDetails"
      txnAttributes:
        type: "array"
        items:
          $ref: "#/definitions/TransactionAttribute"
          
  TransactionAttribute:
    type: object
    properties:
      attrName:
        type: "string"
      attrValue:
        type: "string"
        
  ChargeCalculationRequestDto:
    type: object
    properties:
      applicationCode:
        type: "string"
      txnDetails:
        type: "array"
        items:
          $ref: "#/definitions/TransactionDetailsRequestDto"     

  CashDepositTxnDTOCollection:
    description: "Collection of CashDeposit Txn Dto."
    type: "object"
    properties:
     obCashDepositChargesTxnDTOList:
      type: "array"
      items:
       $ref: "#/definitions/CollectionCashDepositTxnDTO"
     
  CollectionCashDepositTxnDTO:
    description: "Collection of CashDeposit Txn Dto."
    type: object
    properties:
      txnRefNo:
        type: string
        description: "Transaction Reference Number"
      seqNo:
        description: "Seq No of the DepositSlip"
        type: "integer"
        format: "int64"
      referenceNum:
        description: "Reference Num of the DepositSlip"
        type: "string"
      depositSlipRefNo:
        description: "deposit Slip Ref No of the slip"
        type: "string"
      depositSlipNo:
        description: "no of the DepositSlipNo"
        type: "string"
      corporateId:
        description: "Corporate Id of the DepositSlip"
        type: "string"
      corporateName:
        description: "Corporate Name of the DepositSlip"
        type: "string"        
      creditAccountNo:
        description: "creditAccountNo of the DepositSlip"
        type: "string"
      depositSlipDate:
        type: string
        format: date
        description: "Deposit Slip Date"
      depositSlipDateString:
        description: "DepositSlip Date String"
        type: string  
      depositSlipAmt:
        description: "Deposit Slip Amount"
        type: number
      depositSlipAmtCcy:
        description: "Deposit Slip Amount Currency"
        type: string
      depositSlipCount:
        description: "Deposit Slip Count"
        type: "integer"
        format: "int64"
      depositSlipValue:
        description: "Deposit Slip Value"
        type: "number"
      divisionCode:
        description: "Division Code of Deposit Slip"
        type: "string"
      divisionDesc:
        description: "Division Description of Deposit Slip"
        type: "string"
      pickupLocationCode:
        description: "Pickup Location Code of Deposit Slip"
        type: "string"
      pickupLocationDesc:
        description: "Pickup Location Description of Deposit Slip"
        type: "string"
      pickupPointCode:
        description: "Pickup Point Code of Deposit Slip"
        type: "string"
      pickupPointDesc:
        description: "Pickup Point Description of Deposit Slip"
        type: "string"
      pickupDate:
        description: "Pickup Date"
        type: string
        format: date
      pickupDateString:
        description: "Pickup Date String"
        type: string  
      totalDenominationCount:
        description: "Total Denomination Count of Deposit Slip"
        type: "integer"
        format: "int64"
      exchangeRate:
        description: "Exchange Rate"
        type: number      
      amountACCY:
        description: "Currency Amount"
        type: number
      creditACCY:
        description: "Credit Currency Amount"
        type: string    
      externalReferenceNum:
        description: "External Reference Num of the DepositSlip"
        type: "string"
      creditStatus:
        description: "Credit Status"
        type: "string"
      creditDate:
        description: "Credit Date"
        type: string
        format: date
      requestDate:
        description: "Request Date"
        type: string
        format: date
      stage:
        description: "Stage"
        type: "string"
      linkedRefNum:
        description: "Linked Reference Number"
        type: "string"
      pickupRequestDate:
        description: "Pickup Request Date"
        type: string
        format: date
      channel:
        description: "Channel"
        type: "string"
      channelDepositBranch:
        description: "Channel Deposit Branch"
        type: "string"
      cashAccRefNo:
        description: "Cash Acc Ref No"
        type: "string"
      vaFlagYN:
       description: "Virtual Acc Flag YN"
       type: "string"
       
  ChequeDepositTxnDTOCollection:
    description: "Collection of ChequeDeposit Txn Dto."
    type: "object"
    properties:
     obChequeDepositChargesTxnDTOList:
      type: "array"
      items:
       $ref: "#/definitions/CollectionChequeDepositTxnDTO"
     
  CollectionChequeDepositTxnDTO:
    description: "Collection of ChequeDeposit Txn Dto."
    type: object
    properties:
      txnRefNo:
        type: string
        description: "Transaction Reference Number"
      id:
        description: "Id of the Instrument"
        type: "string"
      seqNo:
        description: "Seq No of the Instrument"
        type: "integer"
        format: "int64"
      referenceNum:
        description: "Reference Num of the batch"
        type: "string"
      depositSlipRefNo:
        description: "deposit Slip Ref No of the Instrument"
        type: "string"
      depositSlipNo:
        description: "no of the DepositSlipNo"
        type: "string"
      instrumentRefNo:
        description: "Instrument Ref No of the Instrument"
        type: "string"
      instrumentNo:
        description: "no of the Instrument"
        type: "string"
      instrumentDate:
        type: string
        format: date
        description: "Instrument Date"
      instrumentDateString:
        description: "Instrument Date String"
        type: string 
      instrumentType:
        description: "Instrument Type"
        type: "string"
      instrumentAmtCcy:
        description: "Instrument Amount ccy"
        type: "string"        
      instrumentAmt:
        description: "Instrument Amount"
        type: "number"
      routingNumber:
        description: "Routing number"
        type: number
      drawnOnBankCode:
        description: "Drawn on Bank Code"
        type: "string"
      drawnOnBankName:
        description: "Drawn on Bank Name"
        type: "string"
      drawnOnBranchCode:
        description: "Drawn on Branch Code"
        type: "string"
      drawnOnBranchName:
        description: "Drawn on Branch Name"
        type: "string"
      payableAtLocationCode:
        description: "Payable at Location Code"
        type: "string"
      payableAtLocationDesc:
        description: "Payable at Location Desc"
        type: "string"
      payableAtLocClusterCode:
        description: "Payable at Loc Cluster Code"
        type: "string"
      payableAtLocClusterDesc:
        description: "Payable at Loc Cluster Desc"
        type: "string"
      drawerId:
        description: "Drawer Id"
        type: string
      drawerName:
        description: "Drawer Name"
        type: "string"
      drawerAcNo:
        description: "Drawer Ac No"
        type: "string"
      drawerAcName:
        description: "Drawer Ac Name"
        type: "string"
      clearingNetworkCode:
        description: "Clearing Network Code"
        type: "string"
      clearingNetworkDesc:
        description: "Clearing Network Desc"
        type: "string"
      corporateRefNo:
        description: "Corporate Ref No"
        type: "string"
      creditAccountNo:
        description: "Credit Account No"
        type: "string"
      productCode:
        description: "Product Code"
        type: "string"
      productDesc:
        description: "Product Desc"
        type: "string"
      divisionCode:
        description: "Division Code"
        type: "string"
      divisionCodeDesc:
        description: "Division Code Desc"
        type: "string"
      instrumentStatus:
        description: "Instrument Status"
        type: "string"
      instrumentCount:
        description: "Instrument Count"
        type: "number"
      instrumentAmountValue:
        description: "Instrument Amount Value"
        type: "number"
      rejectReason:
        description: "Reject Reason"
        type: "string"
      realisationAmount:
        description: "Realisation Amount"
        type: "number"
      realisationDate:
        description: "Realisation Date"
        type: "string"
        format: date
      realisationDateString:
        description: "Realisation Date String"
        type: string 
      scheduleRefNo:
        description: "Schedule RefNo"
        type: "string"
      scheduleOriginationBranch:
        description: "scheduleOriginationBranch"
        type: "string"
      scheduleDestinationBank:
        description: "scheduleDestinationBank"
        type: "string"
      scheduleDestinationBranch:
        description: "scheduleDestinationBranch"
        type: "string"
      scheduleDestinationBankDescription:
        description: "scheduleDestinationBankDescription"
        type: "string"
      scheduleDestinationBranchDescription:
        description: "scheduleDestinationBranchDescription"
        type: "string"
      instTxnStatus:
        description: "instTxnStatus"
        type: "string"
      creditStatus:
        description: "creditStatus"
        type: "string"
      holdUntillDate:
        description: "holdUntillDate"
        type: "string"
        format: date
      holdUntillDateString:
        description: "HoldUntill Date String"
        type: string 
      scheduleOriginationBank:
        description: "scheduleOriginationBank"
        type: "string"
      scheduleGenerationDate:
        description: "scheduleGenerationDate"
        type: "string"
        format: date
      scheduleGenerationDateString:
        description: "Schedule Generation Date String"
        type: string 
      returningDate:
        description: "returningDate"
        type: "string"
        format: date
      returningDateString:
        description: "Returning Date String"
        type: string
      instrumentManagementBatchRefNo:
        description: "instrumentManagementBatchRefNo"
        type: "string"
      stage:
        description: "stage"
        type: "string"
      adhocCharges:
        description: "adhocCharges"
        type: "string"
      remarks:
        description: "remarks"
        type: "string"
      corrBankCode:
        description: "corrBankCode"
        type: "string"               
      arrangementCode:
        description: "arrangementCode"
        type: "string"
      arrangementDesc:
        description: "arrangementDesc"
        type: "string"
      arrangementRefBasis:
        description: "arrangementRefBasis"
        type: "string" 
      arrangementDays:
        description: "arrangementDays"
        type: "integer"
      corporateReleaseDays:
        description: "corporateReleaseDays"
        type: "integer"  
      lostExtensionDays:
        description: "lostExtensionDays"
        type: "integer"
      certificateExtensionDays:
        description: "certificateExtensionDays"
        type: "integer"
      returnExtensionDays:
        description: "returnExtensionDays"
        type: "integer"
      accountType:
        description: "accountType"
        type: "string"       
      actualCreditDate:
        description: "Actual Credit Date"
        type: string
        format: date
      actualCreditDateString:
        description: "ActualCredit Date String"
        type: string    
      scheduleReceiptDate:
        description: "Schedule Receipt Date"
        type: string
        format: date
      scheduleReceiptDateString:
        description: "ScheduleReceipt Date String"
        type: string
      instMgmtCourierCode:
        description: "instMgmtCourierCode"
        type: "string" 
      instMgmtCourierPodNumber:
        description: "instMgmtCourierPodNumber"
        type: "string" 
      coreBankBranchCode:
        description: "coreBankBranchCode"
        type: "string"
      isCentralizedSchedule:
        description: "isCentralizedSchedule"
        type: "string"  
      isCustomerCredited:
        description: "isCustomerCredited"
        type: "string"                                     
      arrangementCreditDate:
        description: "arrangementCreditDate"
        type: "string"
        format: date
      arrangementCreditDateString:
        description: "ArrangementCredit Date String"
        type: string
      presentationDate:
        description: "presentationDate"
        type: "string"
        format: date
      presentationDateString:
        description: "PresentationDate Date String"
        type: string
      vaultBoxNumber:
        description: "Vault Box Number"
        type: "string"
      isPDCChecked:
        description: "Is PDC Checked"
        type: "string"
      actualCreditReversalDate:
        description: "Actual Credit Reversal Date"
        type: string
        format: date
      actualCreditReversalDateString:
        description: "Actual Credit Reversal Date String"
        type: string            
      creditACCY:
        description: "Credit Currency Amount"
        type: string         
      vaFlagYN:
        type: string
        description: "Virtual Account flag as Y or N"         