swagger: "2.0"
info:
  description: "This is a sample server Customer server.  You can find out more about Swagger at [swagger.io](http://swagger.io) and about data types at [Swagger Data Types](https://swagger.io/docs/specification/data-models/data-types/)"
  version: "1.0.0"
  title: "Instrument Collection Service"
host: "api-plato.us.oracle.com:8080"
basePath: "/api/1.0"
consumes:
  - "application/json"
  - "application/xml"
produces:
  - "application/json"
  - "application/xml"
tags:
  - name: "DepositSlip"
    description: "APIs DepositSlip related Operation"
    
schemes:
- "https"

paths:
  /web/v1/depositslip:
    post:
      tags:
        - "DepositSlip"
      summary: "Adds a new depositSlip"
      description: "Adds a new DepositSlip with all instruments. Add additional information here for this endpoint."
      operationId: "addDepositSlip"
      parameters:
        - name: "DepositSlip"
          in: "body"
          description: "Request Body that contains data required for creating a new DepositSlip"
          required: true
          schema:
            $ref: "#/definitions/DepositSlipModel"
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "branch code for SMS"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
        - name: "branchDate"
          in: "header"
          type: "string"
          format: "date-time"
          required: false
      responses:
        201:
          description: "Successfully created the loan details"
          schema:
             $ref: "#/definitions/ResponseDtoWrapper"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
    get:
      tags:
        - "DepositSlip"
      summary: "Retrieves the DepositSlip by referenceNum."
      description:  "Retrieves the DepositSlip by referenceNum. Add additional information here for the this endpoint."
      operationId: "getAllDepositSlips"
      parameters:
        - name: "referenceNum"
          in: "query"
          description: "Ref of the batch that needs to be fetched"
          required: false
          type: "string"
        - name: "depositSlipRefNo"
          in: "query"
          description: "Ref of the depositSLip that needs to be fetched"
          required: false
          type: "string"
        - name: "depositSlipNo"
          in: "query"
          description: "User defined DepositSlip no that needs to be fetched"
          required: false
          type: "string"
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "branch code for SMS"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
        - name: "branchDate"
          in: "header"
          type: "string"
          format: "date-time"
          required: false
        - name: "limit"
          in: "query"
          required: false
          description: "limit to be fetched"
          type: "integer"
        - name: "offset"
          in: "query"
          required: false
          description: "offset of the limit"
          type: "integer"
      responses:
        200:
          description: "Returns the DepositSlip based on given id."
          schema:
            $ref: "#/definitions/ResponseModel"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"
    delete:
      tags:
        - "DepositSlip"
      summary: "Retrieves the DepositSlip by referenceNum."
      description:  "Retrieves the DepositSlip by referenceNum. Add additional information here for the this endpoint."
      operationId: "deleteDepositSlips"
      parameters:
        - name: "referenceNum"
          in: "query"
          description: "Ref of the batch that needs to be deleted"
          required: true
          type: "string"
        - name: "depositSlipRefNo"
          in: "query"
          description: "Ref of the depositSLip that needs to be deleted"
          required: false
          type: "string"
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "branch code for SMS"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
        - name: "branchDate"
          in: "header"
          type: "string"
          format: "date-time"
          required: false
      responses:
        200:
          description: "Returns the DepositSlip based on given id."
          schema:
            $ref: "#/definitions/ResponseModel"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"
  /web/v1/depositslip/{depositSlipRefNo}:
    put:
      tags:
        - "DepositSlip"
      summary: "Retrieves the DepositSlip by referenceNum."
      description:  "Retrieves the DepositSlip by referenceNum. Add additional information here for the this endpoint."
      operationId: "updateDepositSlip"
      parameters:
        - name: "DepositSlip"
          in: "body"
          description: "Request Body that contains data required for updating a DepositSlip"
          required: true
          schema:
            $ref: "#/definitions/DepositSlipModel"
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "depositSlipRefNo"
          in: "query"
          description: "Ref of the depositSLip that needs to be deleted"
          required: false
          type: "string"
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "branch code for SMS"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
        - name: "branchDate"
          in: "header"
          type: "string"
          format: "date-time"
          required: false
      responses:
        200:
          description: "Returns the DepositSlip based on given id."
          schema:
            $ref: "#/definitions/ResponseDtoWrapper"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"  
  /web/v1/depositslip/transaction/{referenceNum}:
    get:
      tags:
        - "DepositSlip"
      summary: "Retrieves the DepositSlip by referenceNum."
      description:  "Retrieves the DepositSlip by referenceNum. Add additional information here for the this endpoint."
      operationId: "getDepositSlipByRefNo"
      parameters:
        - name: "referenceNum"
          in: "path"
          description: "Ref of the DepositSlip that needs to be fetched"
          required: true
          type: "string"
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
      responses:
        200:
          description: "Returns the DepositSlip based on given id."
          schema:
            $ref: "#/definitions/ResponseModel"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"
  /web/v1/depositslip/validation/{referenceNum}:
    get:
      tags:
        - "DepositSlip"
      summary: "Retrieves validation details"
      description:  "Retrieves validation details. Add additional information here for the this endpoint."
      operationId: "getNoAndAmountOfAllSlip"
      parameters:
        - name: "referenceNum"
          in: "path"
          description: "Ref of the DepositSlip that needs to be fetched"
          required: true
          type: "string"
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "branch code for SMS"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
        - name: "branchDate"
          in: "header"
          type: "string"
          format: "date-time"
          required: false
      responses:
        200:
          description: "Returns the DepositSlip based on given id."
          schema:
            $ref: "#/definitions/ResponseModel"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"
          
  /web/v1/depositslip/details/{referenceNum}/{depositSlipRefNo}:
    get:
      tags:
        - "DepositSlip"
      summary: "Retrieves the DepositSlip by referenceNum."
      description:  "Retrieves the DepositSlip by referenceNum. Add additional information here for the this endpoint."
      operationId: "getDepositSlipAllDetails"
      parameters:
        - name: "referenceNum"
          in: "path"
          description: "Ref of the batch that needs to be fetched"
          required: true
          type: "string"
        - name: "depositSlipRefNo"
          in: "path"
          description: "Ref of the depositSLip that needs to be fetched"
          required: true
          type: "string"
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "branch code for SMS"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
        - name: "branchDate"
          in: "header"
          type: "string"
          format: "date-time"
          required: false
      responses:
        200:
          description: "Returns the DepositSlip based on given id."
          schema:
            $ref: "#/definitions/ResponseModel"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"
  /web/v1/depositslip/depositSlips:
    get:
      tags:
        - "DepositSlip"
      summary: "Retrieves the DepositSlip by ExternalreferenceNum, Channel and Corporate"
      description:  "Retrieves All DepositSlip by ExternalreferenceNum, Channel and Corporate. Add additional information here for the this endpoint."
      operationId: "getAllDepositSlipsbyExtRefNo"
      parameters:
        - name: "extRefNo"
          in: "query"
          description: "ExternalReferenceNum of the batch that needs to be fetched"
          required: false
          type: "string"
        - name: "channel"
          in: "query"
          description: "Channel that needs to be fetched"
          required: false
          type: "string"
        - name: "corporateName"
          in: "query"
          description: "Corporate that needs to be fetched"
          required: false
          type: "string"
        - name: "appId"
          in: "header"
          type: "string"
          required: true
          description: "AppId for SMS"
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false
          description: "TenantId for SMS"
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "User Id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
          description: "BranchCode for SMS"
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "authToken for SMS"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
          description: "ContentType for SMS"
        - name: "limit"
          in: "query"
          required: false
          description: "limit to be fetched"
          type: "integer"
        - name: "offset"
          in: "query"
          required: false
          description: "offset of the limit"
          type: "integer"
        - name: "exactMatch"
          in: "query"
          description: "ExactMatch for the records"
          required: false
          type: "boolean"  
      responses:
        200:
          description: "Returns the DepositSlip based on given id."
          schema:
            $ref: "#/definitions/ResponseModel"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"             
definitions:
  DepositSlipModel:
    description: "DepositSlip model"
    type: "object"
    properties:
      id:
        description: "Id of the DepositSlip"
        type: "string"
      seqNo:
        description: "Seq No of the DepositSlip"
        type: "integer"
        format: "int64"
      referenceNum:
        description: "Reference Num of the DepositSlip"
        type: "string"
      depositSlipRefNo:
        description: "deposit Slip Ref No of the slip"
        type: "string"
      depositSlipNo:
        description: "no of the DepositSlipNo"
        type: "string"
      corporateId:
        description: "Corporate Id of the DepositSlip"
        type: "string"
      corporateName:
        description: "Corporate Name of the DepositSlip"
        type: "string"        
      creditAccountNo:
        description: "creditAccountNo of the DepositSlip"
        type: "string"
      depositSlipDate:
        type: string
        format: date
        description: ""
      depositSlipDateString:
        description: "DepositSlip Date String"
        type: string
      depositSlipAmt:
        description: ""
        type: number
      depositSlipAmtCcy:
        description: ""
        type: string
      depositSlipCount:
        description: ""
        type: "integer"
        format: "int64"
      depositSlipValue:
        description: ""
        type: "number"
      divisionCode:
        description: ""
        type: "string"
      divisionDesc:
        description: ""
        type: "string"
      pickupLocationCode:
        description: ""
        type: "string"
      pickupLocationDesc:
        description: ""
        type: "string"
      pickupPointCode:
        description: ""
        type: "string"
      pickupPointDesc:
        description: ""
        type: "string"
      pickupDate:
        description: ""
        type: string
        format: date
      pickupDateString:
        description: "Pickup Date String"
        type: string
      noOfInstruments:
        description: ""
        type: "integer"
        format: "int64"
      noOfMiscFields:
        description: ""
        type: "integer"
        format: "int64"
      misc1:
        description: ""
        type: "string" 
      misc2:
        description: ""
        type: "string" 
      misc3:
        description: ""
        type: "string" 
      misc4:
        description: ""
        type: "string" 
      misc5:
        description: ""
        type: "string" 
      misc6:
        description: ""
        type: "string" 
      misc7:
        description: ""
        type: "string" 
      misc8:
        description: ""
        type: "string" 
      misc9:
        description: ""
        type: "string" 
      misc10:
        description: ""
        type: "string" 
      misc11:
        description: ""
        type: "string" 
      misc12:
        description: ""
        type: "string" 
      misc13:
        description: ""
        type: "string" 
      misc14:
        description: ""
        type: "string" 
      misc15:
        description: ""
        type: "string" 
      misc16:
        description: ""
        type: "string" 
      misc17:
        description: ""
        type: "string" 
      misc18:
        description: ""
        type: "string" 
      misc19:
        description: ""
        type: "string" 
      misc20:
        description: ""
        type: "string" 
      misc21:
        description: ""
        type: "string" 
      misc22:
        description: ""
        type: "string" 
      misc23:
        description: ""
        type: "string" 
      misc24:
        description: ""
        type: "string" 
      misc25:
        description: ""
        type: "string" 
      misc26:
        description: ""
        type: "string" 
      misc27:
        description: ""
        type: "string" 
      misc28:
        description: ""
        type: "string" 
      misc29:
        description: ""
        type: "string" 
      misc30:
        description: ""
        type: "string"
      depositSlipAdFields:
        $ref: "#/definitions/DepositSlipAdditionalInfoCollection"
      intrumentDetails:
        $ref: "#/definitions/InstrumentCollection"
      accountingDetails:
        $ref: "#/definitions/AccountingTransactionCollection"
      creditACCY:
        description: "Credit Currency Amount"
        type: "string"         
      vaFlagYN:
        type: "string"
        description: "Virtual Account flag as Y or N"
      extRefNo:
        type: "string"
        description: "External Reference Number"
      channel:
        type: "string" 
        description: "Channel"
      linkedRefNum:
        type: "string" 
        description: "Linked Reference Number"                       
      
  DepositSlipAdditionalInfoModel:
    description: "DataSlips additional Field"
    type: "object"
    properties:
       id:
        description: "Id of the DepositSlip"
        type: "string"
       seqNo:
        description: "Seq No of the DepositSlip"
        type: "integer"
        format: "int64"
       referenceNum:
        description: "Reference Num of the DepositSlip"
        type: "string"
       depositSlipRefNo:
        description: "deposit Slip Ref No of the slip"
        type: "string"
       depositSlipNo:
        description: "no of the DepositSlipNo"
        type: "string"
       adfRowNo:
        description: " row no of this additional Field"
        type: "integer"
        format: "int64"
       udf1:
        description: ""
        type: "string" 
       udf2:
        description: ""
        type: "string" 
       udf3:
        description: ""
        type: "string" 
       udf4:
        description: ""
        type: "string" 
       udf5:
        description: ""
        type: "string" 
       udf6:
        description: ""
        type: "string" 
       udf7:
        description: ""
        type: "string" 
       udf8:
        description: ""
        type: "string" 
       udf9:
        description: ""
        type: "string" 
       udf10:
        description: ""
        type: "string" 
       udf11:
        description: ""
        type: "string" 
       udf12:
        description: ""
        type: "string" 
       udf13:
        description: ""
        type: "string" 
       udf14:
        description: ""
        type: "string" 
       udf15:
        description: ""
        type: "string" 
       udf16:
        description: ""
        type: "string" 
       udf17:
        description: ""
        type: "string" 
       udf18:
        description: ""
        type: "string" 
       udf19:
        description: ""
        type: "string" 
       udf20:
        description: ""
        type: "string" 
       udf21:
        description: ""
        type: "string" 
       udf22:
        description: ""
        type: "string" 
       udf23:
        description: ""
        type: "string" 
       udf24:
        description: ""
        type: "string" 
       udf25:
        description: ""
        type: "string" 
       udf26:
        description: ""
        type: "string" 
       udf27:
        description: ""
        type: "string" 
       udf28:
        description: ""
        type: "string" 
       udf29:
        description: ""
        type: "string" 
       udf30:
        description: ""
        type: "string"
  DepositSlipCollection:
    description: "Collection of DepositSlips"
    type: "object"
    properties:
      DepositSlipList:
        type: "array"
        items:
          $ref: "#/definitions/DepositSlipModel"
  DepositSlipAdditionalInfoCollection:
    description: "Collection of DepositSlips"
    type: "object"
    properties:
     DepositSlipAdditionalInfoList:
        type: "array"
        items:
          $ref: "#/definitions/DepositSlipAdditionalInfoModel"
  ResponseModel:
    description: "Response Model"
    type: "object"
    properties:
      data:
        type: "object"
      errors:
        type: "object"
      paging:
        type: "object"