swagger: "2.0"
info:
  description: "This Service is used for PUT request from channel , Inquiry and Duplicate check validation for Instrument Collection"
  version: "1.0.0"
  title: "Instrument Collection APIs"
host: "api-plato.us.oracle.com:8080"
basePath: "/api/1.0"
consumes:
  - "application/json"
  - "application/xml"
produces:
  - "application/json"
  - "application/xml"
tags:
  - name: "InstrumentService"
    description: "This Service is used for PUT request from channel , Inquiry and Duplicate check validation for Instrument Collection"

paths:
  /service/v1/instrumentEnquiry:
    get:
      tags:
        - "InstrumentService"
      summary: "Retrieves the Instrument based on the given parameters"
      description:  "Retrieves the list of existing Instrument with additional information "
      operationId: "getInstrument"
      parameters:
        - name: "appId"
          in: "header"
          type: "string"
          required: true
          description: "Application ID for SMS" 
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false
          description: "Tenant ID" 
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "User ID for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
          description: "Branch Code"  
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "Authentication Token"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
          description: "Content of a file" 
        - name: "corporateId"
          in: "query"
          required: false
          description: "Corporate Id"
          type: "string"
        - name: "instrumentNumber"
          in: "query"
          description: "Instrument Number"
          required: false
          type: "string"
        - name: "depositSlipNumber"
          in: "query"
          required: false
          description: "Deposit Slip Number"
          type: "string"
        - name: "depositFromDate"
          in: "query"
          type: "string"
          required: false
          description: "Deposit From Date"
        - name: "depositToDate"
          in: "query"
          type: "string"
          required: false
          description: "Deposit ToDate"
        - name: "instrumentAmountFrom"
          in: "query"
          type: "number"
          required: false
          description: "Instrument Amount From"
        - name: "instrumentAmountTo"
          in: "query"
          type: "number"
          required: false
          description: "Instrument Amount To"
        - name: "instrumentStatus"
          in: "query"
          type: "string"
          required: false
          description: "Instrument Status"
        - name: "pickupCode"
          in: "query"
          required: false
          description: "Pickup Code"
          type: "string"
        - name: "locationCode"
          in: "query"
          required: false
          description: "Location Code"
          type: "string"
        - name: "accountNumber"
          in: "query"
          required: false
          description: "Account Number"
          type: "string"
        - name: "product"
          in: "query"
          required: false
          description: "Product Code"
          type: "string"
        - name: "depositBranch"
          in: "query"
          required: false
          description: "Deposit Branch"
          type: "string"
        - name: "depositLocation"
          in: "query"
          required: false
          description: "Deposit Branch Location"
          type: "string"
        - name: "scheduleOriginationBranch"
          in: "query"
          required: false
          description: "Origin branch"
          type: "string"
        - name: "scheduleDestinationBranch"
          in: "query"
          required: false
          description: "Destination branch"
          type: "string"
        - name: "scheduleDestinationBank"
          in: "query"
          required: false
          description: "Destination Bank"
          type: "string"
        - name: "scheduleRefNo"
          in: "query"
          required: false
          description: "Schedule Reference no"
          type: "string"
        - name: "courierCode"
          in: "query"
          required: false
          description: "Courier Code"
          type: "string"
        - name: "scheduleDispatchDateFrom"
          in: "query"
          required: false
          description: "Scheduled Dispatch Date From"
          type: "string"
        - name: "scheduleDispatchDateTo"
          in: "query"
          required: false
          description: "Scheduled Dispatch Date To"
          type: "string"
        - name: "txnRefNo"
          in: "query"
          required: false
          description: "Instrument Reference no"
          type: "string"
        - name: "instFromDate"
          in: "query"
          required: false
          description: "Instrument From Date"
          type: "string"
        - name: "instToDate"
          in: "query"
          required: false
          description: "Instrument To Date"
          type: "string"
        - name: "referenceNum"
          in: "query"
          required: false
          description: "Reference Number"
          type: "string"
        - name: "drawnOnBankCode"
          in: "query"
          required: false
          description: "Drawn BankCode"
          type: "string"
        - name: "drawerAcNo"
          in: "query"
          required: false
          description: "Drawer Account No"
          type: "string"
        - name: "corrBankCode"
          in: "query"
          required: false
          description: "Current Bank Code"
          type: "string"
        - name: "instrumentAmt"
          in: "query"
          required: false
          description: "Instrument Amount"
          type: "number"
        - name: "divisionCode"
          in: "query"
          required: false
          description: "Division Code"
          type: "string"
        - name: "routingNumber"
          in: "query"
          required: false
          description: "Routing Number"
          type: "number"       
        - name: "instTxnStatus"
          in: "query"
          required: false
          description: "Instrument Transaction Status"
          type: "string"
        - name: "depositChannel"
          in: "query"
          required: false
          description: "Deposit Channel"
          type: "string"
        - name: "clearingLocation"
          in: "query"
          required: false
          description: "Clearing Location"
          type: "string"
        - name: "instAmtCcy"
          in: "query"
          required: false
          description: "Instrument Amount Currency"
          type: "string" 
        - name: "instMgmtCourierCode"
          in: "query"
          required: false
          description: "Instrument Management Courier Code"
          type: "string" 
        - name: "creditStatus"
          in: "query"
          required: false
          description: "credit Status"
          type: "string" 
        - name: "vaultBoxNumber"
          in: "query"
          required: false
          description: "Vault BoxNumber"
          type: "string"
        - name: "processingStatus"
          in: "query"
          required: false
          description: "Processing Status"
          type: "string"
        - name: "fromDate"
          in: "query"
          required: false
          description: "From-Date"
          type: "string"
        - name: "toDate"
          in: "query"
          required: false
          description: "To-Date"
          type: "string"
        - name: "dateRefBasis"
          in: "query"
          required: false
          description: "Reference Date Basis"
          type: "string"
        - name: "isPDCChecked"
          in: "query"
          required: false
          description: "isPDCChecked flag value"
          type: "string"
        - name: "extRefNo"
          in: "query"
          required: false
          description: "External Reference No"
          type: "string"
        - name: "pickupFromDate"
          in: "query"
          required: false
          description: " Pick Up From Date"
          type: "string"
        - name: "pickupToDate"
          in: "query"
          required: false
          description: "Pick Up To Date"
          type: "string"    
      responses:
        200:
          description: "Successful performs the operation"
          schema:
            $ref: "#/definitions/InstrumentEnquiryCollection"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"
          
  /service/v1/instrument:        
    get:
      tags:
        - "InstrumentService"
      summary: "Retrieves the list of existing Instrument"
      description:  "Retrieves the list of existing Instrument with additional information "
      operationId: "getAllInstruments"
      parameters:
        - name: "appId"
          in: "header"
          type: "string"
          required: true
          description: "Application ID for SMS"
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false
          description: "Tenant ID for SMS"
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "User ID for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
          description: "Unique Branch Code for SMS"
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "Authentication Token for SMS"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
          description: "content of a file"
        - name: "corporateId"
          in: "query"
          required: false
          description: "Corporate Id"
          type: "string"
        - name: "instrumentNumber"
          in: "query"
          description: "Instrument Number"
          required: false
          type: "string"
        - name: "depositSlipNumber"
          in: "query"
          required: false
          description: "Deposit Slip Number"
          type: "string"
        - name: "depositFromDate"
          in: "query"
          type: "string"
          required: false
          description: "Deposit From Date"
        - name: "depositToDate"
          in: "query"
          type: "string"
          required: false
          description: "Deposit To Date"
        - name: "instrumentAmountFrom"
          in: "query"
          type: "number"
          required: false
          description: "Instrument Amount From"
        - name: "instrumentAmountTo"
          in: "query"
          type: "number"
          required: false
          description: "Instrument Amount To"
        - name: "instrumentStatus"
          in: "query"
          type: "string"
          required: false
          description: "Instrument Status"
        - name: "pickupCode"
          in: "query"
          required: false
          description: "Pickup Code"
          type: "string"
        - name: "locationCode"
          in: "query"
          required: false
          description: "Location Code"
          type: "string"
        - name: "accountNumber"
          in: "query"
          required: false
          description: "Account Number"
          type: "string"
        - name: "product"
          in: "query"
          required: false
          description: "Product Value"
          type: "string"
        - name: "depositBranch"
          in: "query"
          required: false
          description: "Deposit Branch"
          type: "string"
        - name: "depositLocation"
          in: "query"
          required: false
          description: "Deposit Location"
          type: "string"
        - name: "limit"
          in: "query"
          required: false
          description: "Limit to be fetched"
          type: "integer"
        - name: "offset"
          in: "query"
          required: false
          description: "Offset of the limit"
          type: "integer"
        - name: "scheduleOriginationBranch"
          in: "query"
          required: false
          description: "Origination branch"
          type: "string"
        - name: "scheduleDestinationBranch"
          in: "query"
          required: false
          description: "Destination branch"
          type: "string"
        - name: "scheduleDestinationBank"
          in: "query"
          required: false
          description: "Destination Bank"
          type: "string"
        - name: "scheduleRefNo"
          in: "query"
          required: false
          description: "Schedule Reference no"
          type: "string"
        - name: "courierCode"
          in: "query"
          required: false
          description: "courier code"
          type: "string"
        - name: "scheduleDispatchDateFrom"
          in: "query"
          required: false
          description: "schedule Dispatch From Date"
          type: "string"
        - name: "scheduleDispatchDateTo"
          in: "query"
          required: false
          description: "schedule Dispatch To Date"
          type: "string"
        - name: "txnRefNo"
          in: "query"
          required: false
          description: "Instrument Reference no"
          type: "string"
        - name: "instFromDate"
          in: "query"
          required: false
          description: "Instrument FromDate"
          type: "string"
        - name: "instToDate"
          in: "query"
          required: false
          description: "Instrument ToDate"
          type: "string"
        - name: "referenceNum"
          in: "query"
          required: false
          description: "Reference Num"
          type: "string"
        - name: "drawnOnBankCode"
          in: "query"
          required: false
          description: "Drawn BankCode"
          type: "string"
        - name: "drawerAcNo"
          in: "query"
          required: false
          description: "Drawer Account No"
          type: "string"
        - name: "corrBankCode"
          in: "query"
          required: false
          description: "Current Bank Code"
          type: "string"
        - name: "instrumentAmt"
          in: "query"
          required: false
          description: "Instrument Amount"
          type: "number"
        - name: "divisionCode"
          in: "query"
          required: false
          description: "Division Code"
          type: "string"
        - name: "routingNumber"
          in: "query"
          required: false
          description: "Routing Number"
          type: "number"
        - name: "instTxnStatus"
          in: "query"
          required: false
          description: "Instrument Transaction Status"
          type: "string"   
        - name: "depositChannel"
          in: "query"
          required: false
          description: "Deposit Channel"
          type: "string"
        - name: "clearingLocation"
          in: "query"
          required: false
          description: "Clearing Location"
          type: "string"
        - name: "instrumentAmtCcy"
          in: "query"
          required: false
          description: "Instrument Amount Currency"
          type: "string"
        - name: "instMgmtCourierCode"
          in: "query"
          required: false
          description: "Instrument Management Courier Code"
          type: "string"
        - name: "creditStatus"
          in: "query"
          required: false
          description: "Credit Status"
          type: "string"
        - name: "vaultBoxNumber"
          in: "query"
          required: false
          description: "vault Box Number"
          type: "string"
        - name: "processingStatus"
          in: "query"
          required: false
          description: "Processing Status"
          type: "string"
        - name: "fromDate"
          in: "query"
          required: false
          description: "From Date"
          type: "string"
        - name: "toDate"
          in: "query"
          required: false
          description: "To Date"
          type: "string"
        - name: "dateRefBasis"
          in: "query"
          required: false
          description: "Reference Date Basis"
          type: "string"
        - name: "isPDCChecked"
          in: "query"
          required: false
          description: "isPDCChecked flag value"
          type: "string"
        - name: "extRefNo"
          in: "query"
          required: false
          description: "External Reference No"
          type: "string"
        - name: "pickupFromDate"
          in: "query"
          required: false
          description: " Pick Up From Date"
          type: "string"
        - name: "pickupToDate"
          in: "query"
          required: false
          description: "Pick Up To Date"
          type: "string"  
                        
      responses:
        200:
          description: "Successful performs the operation"
          schema:
            $ref: "#/definitions/InstrumentEnquiryCollection"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"     
          
  /service/v1/instrumentCollection/update:
    put:
      tags:
        - "InstrumentService"
      summary: "Update an existing instrument collection."
      description: "Update an existing instrument collection."
      operationId: "updateInstrumentCollection"
      parameters:
        - name: "instrumentCollection"
          in: "body"
          description: "Request Body that contains data required for updating instrument collections"
          required: true
          schema:
            $ref: "#/definitions/InstrumentCollections"
        - name: "appId"
          in: "header"
          type: "string"
          description: "Application ID"
          required: true
        - name: "tenantId"
          in: "header"
          type: "string"
          description: "Tenant ID"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "User id for SMS"
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "AuthToken for SMS"
        - name: "contentType"
          in: "header"
          type: "string"
          description: "Content Type"
          required: false
        - name: "branchDate"
          in: "header"
          type: "string"
          format: "date-time"
          description: "Branch Date"
          required: false
        - name: "branchCode"
          in: "header"
          type: "string"
          description: "Branch Code"
          required: true
         
      responses:
        201:
          description: "Returns the Id of the updated instrument collection"
          schema:
             $ref: "#/definitions/InstrumentCollectionResponseModel" 
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
  /service/v1/instrumentCollection/duplicateCheck:
    get:
      tags:
        - "InstrumentService"
      summary: "Duplicate Checking for Instrument Collection"
      description: "Duplicate Checking for Instrument Collection"
      operationId: "instrumentCollectionDuplicateCheck"
      parameters:
        - name: "appId"
          in: "header"
          type: "string"
          description: "Application Id for SMS"
          required: true
        - name: "tenantId"
          in: "header"
          type: "string"
          description: "Tenant Id for SMS"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "User Id For SMS"
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "Authorization Token For SMS"
        - name: "contentType"
          in: "header"
          type: "string"
          description: "Content Type"
          required: false
        - name: "branchCode"
          in: "header"
          type: "string"
          description: "Branch Code"
          required: true
        - name: "corporateId"
          in: "query"
          required: true
          description: "Corporate Id"
          type: "string"  
        - name: "depositSlipNo"
          in: "query"
          required: true
          description: "DepositSlipNumber"
          type: "string"
        - name: "instrumentNo"
          in: "query"
          required: true
          description: "Instrument Number"
          type: "string"
        - name: "drawnOnBankCode"
          in: "query"
          required: true
          description: "Drawan On Bank Code"
          type: "string" 
         
      responses:
        201:
          description: "Returns the Id of the duplicate instrument collection"
          schema:
             $ref: "#/definitions/InstrumentCollectionDuplicateCheckResponseModel" 
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"                   
definitions:
  InstrumentEnquiryModel:
    description: "DataSlips additional Field"
    type: "object"
    properties:
       id:
        description: "Id of the Instrument"
        type: "string"
       seqNo:
        description: "Seq No of the Instrument"
        type: "integer"
        format: "int64"
       referenceNum:
        description: "Reference Num of the batch"
        type: "string"
       branchCode:
        type: "string"
        description: "Branch Code" 
       instMgmtCourierCode:
         description: "instMgmtCourierCode"
         type: "string"
       instMgmtCourierPodNumber:
         description: "instMgmtCourierPodNumber"
         type: "string"
       arrangementCreditDate:
         description: "arrangementCreditDate"
         type: "string"     
       depositSlipRefNo:
        description: "deposit Slip Ref No of the Instrument"
        type: "string"
       depositSlipNo:
        description: "no of the DepositSlipNo"
        type: "string"
       instrumentRefNo:
        description: "Instrument Ref No of the Instrument"
        type: "string"
       instrumentNo:
        description: "no of the Instrument"
        type: "string"
       instrumentDate:
        type: string
        description: "Instrument Date"
       instrumentType:
        description: "Instrument Type"
        type: "string"
       instrumentAmtCcy:
        description: "Instrument Amount Currency"
        type: "string"        
       instrumentAmt:
        description: "Instrument Amount"
        type: "number"
       routingNumber:
        description: "Routing Number"
        type: number
       drawerId:
        description: "Drawer Id"
        type: string
       drawerName:
        description: "Drawer Name"
        type: "string"
       drawerAcNo:
        description: "Drawer Account No"
        type: "string"
       drawerAcName:
        description: "Drawer Account Name"
        type: "string"
       clearingNetworkCode:
        description: "Clearing Network Code"
        type: "string"
       clearingNetworkDesc:
        description: "Clearing Network Desc"
        type: "string"
       corporateRefNo:
        description: "Corporate Reference No"
        type: "string"
       productCode:
        description: "Product Code"
        type: "string"
       productDesc:
        description: "Product Description"
        type: "string"
       divisionCode:
        description: "Division Code"
        type: "string"
       divisionCodeDesc:
        description: "Division Code Description"
        type: "string"
       instrumentStatus:
        description: "Instrument Status"
        type: "string"
       instrumentCount:
        description: "Instrument Count"
        type: "number"
       instrumentAmountValue:
        description: "Instrument Amount Value"
        type: "number"        
       corporateId:
        description: "Corporate Id"
        type: "string"
       pickupLocationCode:
        description: "Pickup Location Code"
        type: "string"
       pickupPointCode:
        description: "Pickup Point Code"
        type: "string"
       depositSlipDate:
        description: "Deposit Slip Date"
        type: "string"
       depositLocationCode:
        description: "Deposit Location Code"
        type: "string"
       depositLocationDesc:
        description: "Deposit Location Description"
        type: "string"
       creditAccountNo:
        description: "Credit Account No"
        type: "string"
       depCreditAccountNo:
        description: "Deposit Slip Credit Account No"
        type: "string"
       courierCode:
        description: "Courier Code"
        type: "string"
       courierDesc:
        description: "Courier Description"
        type: "string"
       consignmentNo:
        description: "Consignment No"
        type: "string"
       consignmentDate:
        description: "Consignment Date"
        type: "string"
       drawnOnBankCode:
        description: "Drawn Bank Code"
        type: "string" 
       drawnOnBankName:
        description: "Drawn Bank Name"
        type: "string"  
       drawnOnBranchName:
        description: "Drawn Branch Name"
        type: "string" 
       drawnOnBranchCode:
        description: "Drawn Branch Code"
        type: "string"
       payableAtLocationCode:
        description: "Payable At Location Code"
        type: "string"
       payableAtLocationDesc:
        description: "Payable At Location Description"
        type: "string"
       payableAtLocClusterCode:
        description: "Payable At Location Cluster Code"
        type: "string"
       payableAtLocClusterDesc:
        description: "Payable At Location Cluster Description"
        type: "string"           
       scheduleRefNo:
        description: "Schedule Reference no"
        type: "string"        
       scheduleOriginationBranch:
        description: "Origin Branch"
        type: "string"
       scheduleDestinationBank:
        description: "Scheduled Destination Bank"
        type: "string"
       scheduleDestinationBranch:
        description: "Scheduled Destination Branch"
        type: "string"
       scheduleDestinationBankDescription:
        description: "Scheduled Destination Bank Description"
        type: "string"
       scheduleDestinationBranchDescription:
        description: "Schedule Destination Branch Description"
        type: "string"
       instTxnStatus:
        description: "Instrument Transaction Status"
        type: "string"
       holdUntillDate:
        description: "Hold Untill Date"
        type: "string"
       scheduleOriginationBank:
        description: "Schedule Origination Bank"
        type: "string"
       scheduleGenerationDate:
        description: "Schedule Generation Date"
        type: "string"
       returningDate:
        description: "Returning Date"
        type: "string"
       instrumentManagementBatchRefNo:
        description: "Instrument Management Batch Ref No"
        type: "string"
       realisationDate:
        description: "Realisation Date"
        type: "string"
       realisationAmount:
        description: "Realisation Amount"
        type: "number"
       stage:
        description: "stage"
        type: "string"
       rejectReason:
        description: "Reject Reason"
        type: "string"
       corporateName:
        description: "Corporate Name"
        type: "string"
       adhocCharges:
        description: "Adhoc Charges"
        type: "number"
       remarks:
        description: "Remarks"
        type: "string"
       pickupPointDesc:
        description: "Pickup Point Description"
        type: "string"
       pickUpLocationDesc:
        description: "PickUp Location Description"
        type: "string"          
       corrBankCode:
        description: "Corresponding BankCode"
        type: "string"
       depositSlipAmount:
        description: "Deposit Slip Amount"
        type: "number"
       pickupDate:
        description: "PickUp Date"
        type: "string"
       totalDepositSlips:
        description: "Total No of Deposit Slips"
        type: "number"
       totalBatchAmount:
        description: "Total Batch Amount"
        type: "number"
       initatorRefNo:
        description: "Initator Ref No"
        type: "string"
       bagWeight:
        description: "BagWeight"
        type: "number"
       depositChannel:
        description: "Deposit Channel"
        type: "string"
       financialPosting:
        description: "Financial Posting"
        type: "string"
       processingDate:
        description: "Processing Date"
        type: "string"
        format: "Date"
       acknowledgementReciptNo:
        description: "Acknowledgement ReciptNo"
        type: "string"
       expectedCreditDate:
        description: "Expected Credit Date"
        type: "string"
        format: "Date"
       arrangementCode:
        description: "Arrangement Code"
        type: "string"
       arrangementDesc:
        description: "Arrangement Description"
        type: "string"
       arrangementRefBasis:
        description: "Arrangement Ref Basis"
        type: "string" 
       arrangementDays:
        description: "Arrangement Days"
        type: "integer"
       corporateReleaseDays:
        description: "Corporate Release Days"
        type: "integer"  
       lostExtensionDays:
        description: "Lost Extension Days"
        type: "integer"
       certificateExtensionDays:
        description: "Certificate Extension Days"
        type: "integer"
       returnExtensionDays:
        description: "Return Extension Days"
        type: "integer"
       accountType:
        description: "Account Type"
        type: "string"
       actualCreditDate:
        format: "Date"    
        type: "string"
        description: "Actual Credit Date"
       scheduleReceiptDate:
        type: string
        description: "Scheduled Receipt Date"
       coreBankBranchCode:
        description: "Core Bank Branch Code"
        type: "string"
       isCentralizedSchedule:
        description: "isCentralizedSchedule flag value"
        type: "string"
       centralizedScheduleRefNo:
        description: "Centralized Schedule RefNo"
        type: "string"      
       makerId:
         type: "string"
         description: "Maker Id"
       makerDtStamp:
         type: "string"
         description: "Maker Date-Stamp"
       checkerId:
         type: "string"
         description: "Checker Id"
       checkerDtStamp:
         type: "string"
         description: "Checker Date-Stamp"
       isCustomerCredited:
         type: "string"
         description: "isCustomerCredited"
       noOfMiscFields:
         type: "integer"
         description: "No Of Miscellaneous Fields"
       presentationDate:
        description: "Presentation Date"
        type: "string"
       vaultBoxNumber:
        description: "Vault Box Number"
        type: "string"
       vaultBoxDescription:
        description: "Vault Box Description"
        type: "string"
       vaultBranch:
        description: "Vault Box Branch"
        type: "string"
       oldCreditDate:
        description: "Old Credit Date"
        type: "string"
       newCreditDate:
        description: "New Credit Date"
        type: "string"
       oldPresentationDate:
        description: "Old Presentation Date"
        type: "string"
       newPresentationDate:
        description: "New Presentation Date"
        type: "string"
       newInstrumentNo:
        description: "New no of the Instrument"
        type: "string"
       creditStatus:
        description: "credit status of the Instrument"
        type: "string"
       processingStatus:
        description: "Processing Status"
        type: "string"
       fromDate:
        description: "From Date"
        type: "string"
       toDate:
        description: "To Date"
        type: "string"
       isPDCChecked:
        description: "isPDCChecked flag value"
        type: "string"
       extRefNo:
        description: "External Reference No"
        type: "string"
       expectedCreditReversalDate:
        description: "Expected Credit Reversal Date"
        type: "string"
       centralizedSchdGenerationDate:
        description: "Centralized Schedule Generation Date"
        type: "string"
       arrangementCreditReversalDate:
        description: "Arrangement Credit Reversal Date"
        type: "string"
       returnRecoveryDate:
        description: "Return Recovery Date"
        type: "string"
       actualCreditReversalDate:
        description: "Actual Credit Reversal Date"
        type: "string"
       depSlipDivisionCode:
        description: "Division Code in Deposit Slip"
        type: "string"
       depSlipDivisionCodeDesc:
        description: "Division Code Description in Deposit Slip"
        type: "string"
       instrumentMiscFields:
        $ref: "#/definitions/InstrumentMiscFieldsModel"
       depositeSlipMiscFields:
        $ref: "#/definitions/DepositeSlipMiscFieldsModel"
       instrumentUdfFields:
        type: "array"
        items:
          $ref: "#/definitions/InstrumentUdfFieldsModel"
       depositeSlipUdfFields:
        type: "array"
        items:
          $ref: "#/definitions/DepositeSlipUdfFieldsModel"
       eventCode:
        description: "Event Code for accounting"
        type: "string"              
       expectedClearingDate:
        description: "Expected Clearing Date"
        type: "string"
                
  InstrumentReqModel:
    description: "Collection of Instruments"
    type: "object"
    properties:
      action:
       description: "Action"
       type: "string"
      branchCode:
       description: "Branch Code"
       type: "string"
      branchName:
       description: "Branch Name"
       type: "string"
      currency:
       description: "Currency"
       type: "string"
      processingDate:
       description: "Processing Date"
       type: "string"
      instBatchRefNo:
       description: "Instrument Batch RefNo"
       type: "string"
      seqNo:
       description: "Sequence No"
       type: "integer"
       format: "int64"
      InstrumentList:
       type: "array"
       items:
          $ref: "#/definitions/InstrumentEnquiryModel"                      
                
  InstrumentEnquiryCollection:
    description: "Collection of Instrument Enquiry"
    type: "object"
    properties:
      status:
        type: "string"
      errorCode:
        type: "string"
      InstrumentList:
        type: "array"
        items:
          $ref: "#/definitions/InstrumentEnquiryModel"
      paging:
        $ref: "#/definitions/PagingDto"
  PagingDto:
    type: "object"
    properties:
      totalResults:
        type: "integer"
  InstrumentEnquiryAuthorization:
    description: "Collection of Instruments for Credit Adv Post"
    type: "object"
    properties:
      InstrumentList:
        type: "array"
        items:
          $ref: "#/definitions/InstrumentEnquiryModel"
          
  InstrumentMiscFieldsModel:
    description: "InstrumentMiscFieldsModel"
    type: "object"
    properties:
      noOfMiscFields:
       description: "noOfMiscFields"
       type: "integer"
      misc1:
       description: "Miscellaneous 1"
       type: "string"
      misc2:
       description: "Miscellaneous 2"
       type: "string"
      misc3:
       description: "Miscellaneous 3"
       type: "string"
      misc4:
       description: "Miscellaneous 4"
       type: "string"
      misc5:
       description: "Miscellaneous 5"
       type: "string"
      misc6:
       description: "Miscellaneous 6"
       type: "string"
      misc7:
       description: "Miscellaneous 7"
       type: "string"
      misc8:
       description: "Miscellaneous 8"
       type: "string"
      misc9:
       description: "Miscellaneous 9"
       type: "string"
      misc10:
       description: "Miscellaneous 10"
       type: "string"
      misc11:
       description: "Miscellaneous 11"
       type: "string"
      misc12:
       description: "Miscellaneous 12"
       type: "string"
      misc13:
       description: "Miscellaneous 13"
       type: "string"
      misc14:
       description: "Miscellaneous 14"
       type: "string"
      misc15:
       description: "Miscellaneous 15"
       type: "string"
      misc16:
       description: "Miscellaneous 16"
       type: "string"
      misc17:
       description: "Miscellaneous 17"
       type: "string"
      misc18:
       description: "Miscellaneous 18"
       type: "string"
      misc19:
       description: "Miscellaneous 19"
       type: "string"
      misc20:
       description: "Miscellaneous 20"
       type: "string"
      misc21:
       description: "Miscellaneous 21"
       type: "string"
      misc22:
       description: "Miscellaneous 22"
       type: "string"
      misc23:
       description: "Miscellaneous 23"
       type: "string"
      misc24:
       description: "Miscellaneous 24"
       type: "string"
      misc25:
       description: "Miscellaneous 25"
       type: "string"
      misc26:
       description: "Miscellaneous 26"
       type: "string"
      misc27:
       description: "Miscellaneous 27"
       type: "string"
      misc28:
       description: "Miscellaneous 28"
       type: "string"
      misc29:
       description: "Miscellaneous 29"
       type: "string"
      misc30:
       description: "Miscellaneous 30"
       type: "string" 
       
  DepositeSlipMiscFieldsModel:
    description: "DepositeSlipMiscFieldsModel"
    type: "object"
    properties:
      noOfMiscFields:
       description: "No of Miscellaneous Fields"
       type: "integer"
      misc1:
       description: "Miscellaneous 1"
       type: "string"
      misc2:
       description: "Miscellaneous 2"
       type: "string"
      misc3:
       description: "Miscellaneous 3"
       type: "string"
      misc4:
       description: "Miscellaneous 4"
       type: "string"
      misc5:
       description: "Miscellaneous 5"
       type: "string"
      misc6:
       description: "Miscellaneous 6"
       type: "string"
      misc7:
       description: "Miscellaneous 7"
       type: "string"
      misc8:
       description: "Miscellaneous 8"
       type: "string"
      misc9:
       description: "Miscellaneous 9"
       type: "string"
      misc10:
       description: "Miscellaneous 10"
       type: "string"
      misc11:
       description: "Miscellaneous 11"
       type: "string"
      misc12:
       description: "Miscellaneous 12"
       type: "string"
      misc13:
       description: "Miscellaneous 13"
       type: "string"
      misc14:
       description: "Miscellaneous 14"
       type: "string"
      misc15:
       description: "Miscellaneous 15"
       type: "string"
      misc16:
       description: "Miscellaneous 16"
       type: "string"
      misc17:
       description: "Miscellaneous 17"
       type: "string"
      misc18:
       description: "Miscellaneous 18"
       type: "string"
      misc19:
       description: "Miscellaneous 19"
       type: "string"
      misc20:
       description: "Miscellaneous 20"
       type: "string"
      misc21:
       description: "Miscellaneous 21"
       type: "string"
      misc22:
       description: "Miscellaneous 22"
       type: "string"
      misc23:
       description: "Miscellaneous 23"
       type: "string"
      misc24:
       description: "Miscellaneous 24"
       type: "string"
      misc25:
       description: "Miscellaneous 25"
       type: "string"
      misc26:
       description: "Miscellaneous 26"
       type: "string"
      misc27:
       description: "Miscellaneous 27"
       type: "string"
      misc28:
       description: "Miscellaneous 28"
       type: "string"
      misc29:
       description: "Miscellaneous 29"
       type: "string"
      misc30:
       description: "Miscellaneous 30"
       type: "string" 
  InstrumentUdfFieldsModel:
    description: "InstrumentUdfFieldsModel"
    type: "object"
    properties:
      noOfUdfFields:
       description: "No Of Miscellaneous Fields"
       type: "integer"
      udf1:
       description: "User Defined Field 1"
       type: "string"
      udf2:
       description: "User Defined Field 2"
       type: "string"
      udf3:
       description: "User Defined Field 3"
       type: "string"
      udf4:
       description: "User Defined Field 4"
       type: "string"
      udf5:
       description: "User Defined Field 5"
       type: "string"
      udf6:
       description: "User Defined Field 6"
       type: "string"
      udf7:
       description: "User Defined Field 7"
       type: "string"
      udf8:
       description: "User Defined Field 8"
       type: "string"
      udf9:
       description: "User Defined Field 9"
       type: "string"
      udf10:
       description: "User Defined Field 10"
       type: "string"
      udf11:
       description: "User Defined Field 11"
       type: "string"
      udf12:
       description: "User Defined Field 12"
       type: "string"
      udf13:
       description: "User Defined Field 13"
       type: "string"
      udf14:
       description: "User Defined Field 14"
       type: "string"
      udf15:
       description: "User Defined Field 15"
       type: "string"
      udf16:
       description: "User Defined Field 16"
       type: "string"
      udf17:
       description: "User Defined Field 17"
       type: "string"
      udf18:
       description: "User Defined Field 18"
       type: "string"
      udf19:
       description: "User Defined Field 19"
       type: "string"
      udf20:
       description: "User Defined Field 20"
       type: "string"
      udf21:
       description: "User Defined Field 21"
       type: "string"
      udf22:
       description: "User Defined Field 22"
       type: "string"
      udf23:
       description: "User Defined Field 23"
       type: "string"
      udf24:
       description: "User Defined Field 24"
       type: "string"
      udf25:
       description: "User Defined Field 25"
       type: "string"
      udf26:
       description: "User Defined Field 26"
       type: "string"
      udf27:
       description: "User Defined Field 27"
       type: "string"
      udf28:
       description: "User Defined Field 28"
       type: "string"
      udf29:
       description: "User Defined Field 29"
       type: "string"
      udf30:
       description: "User Defined Field 30"
       type: "string"
  DepositeSlipUdfFieldsModel:
    description: "DepositeSlipUdfFieldsModel"
    type: "object"
    properties:
      noOfUdfFields:
       description: "No of Miscellaneous Fields"
       type: "integer"
      udf1:
       description: "User Defined Field 1"
       type: "string"
      udf2:
       description: "User Defined Field 2"
       type: "string"
      udf3:
       description: "User Defined Field 3"
       type: "string"
      udf4:
       description: "User Defined Field 4"
       type: "string"
      udf5:
       description: "User Defined Field 5"
       type: "string"
      udf6:
       description: "User Defined Field 6"
       type: "string"
      udf7:
       description: "User Defined Field 7"
       type: "string"
      udf8:
       description: "User Defined Field 8"
       type: "string"
      udf9:
       description: "User Defined Field 9"
       type: "string"
      udf10:
       description: "User Defined Field 10"
       type: "string"
      udf11:
       description: "User Defined Field 11"
       type: "string"
      udf12:
       description: "User Defined Field 12"
       type: "string"
      udf13:
       description: "User Defined Field 13"
       type: "string"
      udf14:
       description: "User Defined Field 14"
       type: "string"
      udf15:
       description: "User Defined Field 15"
       type: "string"
      udf16:
       description: "User Defined Field 16"
       type: "string"
      udf17:
       description: "User Defined Field 17"
       type: "string"
      udf18:
       description: "User Defined Field 18"
       type: "string"
      udf19:
       description: "User Defined Field 19"
       type: "string"
      udf20:
       description: "User Defined Field 20"
       type: "string"
      udf21:
       description: "User Defined Field 21"
       type: "string"
      udf22:
       description: "User Defined Field 22"
       type: "string"
      udf23:
       description: "User Defined Field 23"
       type: "string"
      udf24:
       description: "User Defined Field 24"
       type: "string"
      udf25:
       description: "User Defined Field 25"
       type: "string"
      udf26:
       description: "User Defined Field 26"
       type: "string"
      udf27:
       description: "User Defined Field 27"
       type: "string"
      udf28:
       description: "User Defined Field 28"
       type: "string"
      udf29:
       description: "User Defined Field 29"
       type: "string"
      udf30:
       description: "User Defined Field 30"
       type: "string"
       
  InstrumentCollections:
    description: "InstrumentCollections model"
    type: "object"
    properties:
      collectionTxn:
        $ref: "#/definitions/CollectionTxnModel"             
      depositSlipTxn:
        description: "depositSlip"
        type: "array"
        items:
          $ref: "#/definitions/DepositSlipTxnModel"

  CollectionTxnModel:
    description: "InstrumentCollections model"
    type: "object"
    properties:
      id:
        description: "Id of the batch"
        type: "string"
      branchCode:
        description: "Branch code"
        type: "string"
      referenceNum:
        description: "Reference Number"
        type: "string"
      seqNo:
        description: "Sequence Number"
        type: "integer"
        format: "int64"
      makerId:
        description: "Maker Id"
        type: string
      makerDateStamp:
        description: "MakerDateStamp"
        type: string    
      depositChannel:
        description: "Deposit Channel"
        type: "string"
      financialPosting:
        description: "Financial Posting"
        type: "string"
      courierCode:
        description: "Courier Code"
        type: "string" 
      courierDesc:
        description: "Courier Desc"
        type: "string"        
      consignmentNo:
        description: "Consignment Number"
        type: "string"
      consignmentDate:
        description: "Consignment Date"
        type: string
      processingDate:
        description: "Processing Date"
        type: string
      depositLocationCode:
        description: "Deposit Location Code"
        type: "string"
      depositLocationDesc:
        description: "Deposit Location Description"
        type: "string"
      ackReceiptNo:
        description: "Ack Receipt Number"
        type: "string"
      bagWeight:
        description: "Bag weight"
        type: "number"
      initiatorRefNo:
        description: "Initiator Reference Number"
        type: "string"
      totalBatchAmtCcy:
        description: "Total Batch Amount Currency"
        type: "string"
      totalBatchAmt:
        description: "Total Batch Amount"
        type: "number"
      totalDepositSlips:
        description: "Total Deposit Slips"
        type: "integer"
        format: "int64"
      stage:
        description: "Stage"
        type: "string"
      txnStatus:
        description: "Transaction Status"
        type: "string"
      resourceId:
        description: "Resource Id"
        type: "string"
      depositorName:
        description: "Depositor Name"
        type: "string"
      idProofType:
        description: "ID Proof Type"
        type: "string"
      idProofDetail:
        description: "ID Proof Detail"
        type: "string"
      contactNumber:
        description: "Contact Number"
        type: "string"
      screenFlag:
        description: "Screen Flag Identifier"
        type: string
      autoAuth:
        description: "Auto Authorization"
        type: string
      authId:
        description: "Authorization Id"
        type: string
      authDtStamp:
        description: "Authorization Date"
        type: string
      extRefNo:
        description: "External Reference Number"
        type: "string"
      channel:
        description: "External Channel Name"
        type: "string"  
    
  InstrumentCollectionResponseModel:
    description: "Instrument Collection Response Model"
    type: "object"
    properties:
      InstCollTxnData:
        description: "Instrument Collection Traction Model"
        type: "object"
      DepositSlipTxnData:
        description: "DepositSlip Transaction Data"
        type: "object"  
      errors:
        type: "object"
        description: "List Of Errors "
        items:
          $ref: "#/definitions/Error"
      responseStatus:
        description: "Response Status"
        type: "string"
           
  Error:
    type: "object"
    description: "Error Model"
    properties:
      ecode:
        type: "string"
        description: "Error Code"
      etype:
        type: "string"
        description: "Error Type"
      edesc:
        type: "string"
        description: "Error Description"
        
  DepositSlipTxnModel:
    description: "DepositSlip Transaction model"
    type: "object"
    properties:
      id:
        description: "Id of the DepositSlip"
        type: "string"
      seqNo:
        description: "Seq No of the DepositSlip"
        type: "integer"
        format: "int64"
      referenceNum:
        description: "Reference Num of the DepositSlip"
        type: "string"
      depositSlipRefNo:
        description: "Deposit Slip Ref No of the slip"
        type: "string"
      depositSlipNo:
        description: "No of the DepositSlipNo"
        type: "string"
      corporateId:
        description: "Corporate Id of the DepositSlip"
        type: "string"
      corporateName:
        description: "Corporate Name of the DepositSlip"
        type: "string"        
      creditAccountNo:
        description: "CreditAccountNo of the DepositSlip"
        type: "string"
      depositSlipDate:
        type: string
        description: "Deposit Slip Date"
      depositSlipAmt:
        description: "Deposit Slip Amount"
        type: number
      depositSlipAmtCcy:
        description: "DepositSlip Amount Currency"
        type: string
      depositSlipCount:
        description: "DepositSlip Count"
        type: "integer"
        format: "int64"
      depositSlipValue:
        description: "DepositSlip Value"
        type: "number"
      divisionCode:
        description: "Division Code"
        type: "string"
      divisionDesc:
        description: "Division Description"
        type: "string"
      pickupLocationCode:
        description: "Pick Up Location Code"
        type: "string"
      pickupLocationDesc:
        description: "Pick Up Location Description"
        type: "string"
      pickupPointCode:
        description: "Pick Up Point Code"
        type: "string"
      pickupPointDesc:
        description: "Pick Up Point Description"
        type: "string"
      pickupDate:
        description: "Pick Date"
        type: string
      requestDate:
        description: "Request Date"
        type: string
      noOfInstruments:
        description: "No Of Instruments"
        type: "integer"
        format: "int64"
      noOfMiscFields:
        description: "No of Miscellaneous Fields"
        type: "integer"
        format: "int64"
      misc1:
        description: "Miscellaneous Field 1"
        type: "string" 
      misc2:
        description: "Miscellaneous Field 2"
        type: "string" 
      misc3:
        description: "Miscellaneous Field 3"
        type: "string" 
      misc4:
        description: "Miscellaneous Field 4"
        type: "string" 
      misc5:
        description: "Miscellaneous Field 5"
        type: "string" 
      misc6:
        description: "Miscellaneous Field 6"
        type: "string" 
      misc7:
        description: "Miscellaneous Field 7"
        type: "string" 
      misc8:
        description: "Miscellaneous Field 8"
        type: "string" 
      misc9:
        description: "Miscellaneous Field 9"
        type: "string" 
      misc10:
        description: "Miscellaneous Field 10"
        type: "string" 
      misc11:
        description: "Miscellaneous Field 11"
        type: "string" 
      misc12:
        description: "Miscellaneous Field 12"
        type: "string" 
      misc13:
        description: "Miscellaneous Field 13"
        type: "string" 
      misc14:
        description: "Miscellaneous Field 14"
        type: "string" 
      misc15:
        description: "Miscellaneous Field 15"
        type: "string" 
      misc16:
        description: "Miscellaneous Field 16"
        type: "string" 
      misc17:
        description: "Miscellaneous Field 17"
        type: "string" 
      misc18:
        description: "Miscellaneous Field 18"
        type: "string" 
      misc19:
        description: "Miscellaneous Field 19"
        type: "string" 
      misc20:
        description: "Miscellaneous Field 20"
        type: "string" 
      misc21:
        description: "Miscellaneous Field 21"
        type: "string" 
      misc22:
        description: "Miscellaneous Field 22"
        type: "string" 
      misc23:
        description: "Miscellaneous Field 23"
        type: "string" 
      misc24:
        description: "Miscellaneous Field 24"
        type: "string" 
      misc25:
        description: "Miscellaneous Field 25"
        type: "string" 
      misc26:
        description: "Miscellaneous Field 26"
        type: "string" 
      misc27:
        description: "Miscellaneous Field 27"
        type: "string" 
      misc28:
        description: "Miscellaneous Field 28"
        type: "string" 
      misc29:
        description: "Miscellaneous Field 29"
        type: "string" 
      misc30:
        description: "Miscellaneous Field 30"
        type: "string"
      extRefNo:
        description: "External Reference Number"
        type: "string"
      channel:
        description: "External Channel Name"
        type: "string"    
      depositSlipAdFields:
        $ref: "#/definitions/DepositSlipAdditionalFieldsModel"
      intrumentDetails:
        $ref: "#/definitions/InstrumentDetTxn"
      errors:
        type: "object"
        description: "List Of Errors "
        items:
          $ref: "#/definitions/Error"  
  InstrumentDetTxn:
    description: "Collection of Instruments Details Transaction"
    type: "object"
    properties:
      instrumentList:
        type: "array"
        items:
          $ref: "#/definitions/InstrumentDetTxnModel"
               
  InstrumentDetTxnModel:
    description: "Instrument Details Transaction model"
    type: "object"
    properties:
      id:
        description: "Id of the Instrument"
        type: "string"
      seqNo:
        description: "Seq No of the Instrument"
        type: "integer"
        format: "int64"
      referenceNum:
        description: "Reference Num of the Instrument"
        type: "string"
      depositSlipRefNo:
        description: "Deposit Slip Ref No of the Instrument"
        type: "string"
      depositSlipNo:
        description: "DepositSlip Number"
        type: "string"
      instrumentRefNo:
        description: "Instrument Ref No of the Instrument"
        type: "string"
      instrumentNo:
        description: "No of the Instrument"
        type: "string"
      instrumentDate:
        type: string
        description: "Instrument Date"
      instrumentType:
        description: "Instrument Type"
        type: "string"
      instrumentAmtCcy:
        description: "Instrument Amount Cuurency"
        type: "string"        
      instrumentAmt:
        description: "Instrument Amount"
        type: "number"
      routingNumber:
        description: "Routing Number"
        type: "string"
      drawnOnBankCode:
        description: "Drawn On Bank Code"
        type: "string"
      drawnOnBankName:
        description: "Drawn On Bank Name"
        type: "string"
      drawnOnBranchCode:
        description: "Drawn On Branch Code"
        type: "string"
      drawnOnBranchName:
        description: "Drawn On Branch Name"
        type: "string"
      payableAtLocationCode:
        description: "ayable At Location Code"
        type: "string"
      payableAtLocationDesc:
        description: "Payable At Location Description"
        type: "string"
      payableAtLocClusterCode:
        description: "Payable At Location Cluster Code"
        type: "string"
      payableAtLocClusterDesc:
        description: "Payable At Location Cluster Description"
        type: "string"
      drawerId:
        description: "Drawer Id"
        type: string
      drawerName:
        description: "Drawer Name"
        type: "string"
      drawerAcNo:
        description: "Drawer Account Number"
        type: "string"
      drawerAcName:
        description: "Drawer Account Name"
        type: "string"
      clearingNetworkCode:
        description: "Clearing Network Code"
        type: "string"
      clearingNetworkDesc:
        description: "Clearing Network Description"
        type: "string"
      corporateRefNo:
        description: "Corporate Reference Number"
        type: "string"
      creditAccountNo:
        description: "Credit Account Number"
        type: "string"
      productCode:
        description: "Product Code"
        type: "string"
      productDesc:
        description: "Product Description"
        type: "string"
      divisionCode:
        description: "Division Code"
        type: "string"
      divisionCodeDesc:
        description: "Division Code Description"
        type: "string"
      instrumentStatus:
        description: "Instrument Status"
        type: "string"
      instrumentCount:
        description: "Instrument Count"
        type: "number"
      instrumentAmountValue:
        description: "Instrument Amount Value"
        type: "number"
      rejectReason:
        description: "Reject Reason"
        type: "string"
      realisationAmount:
        description: "Realisation Amount"
        type: "number"
      realisationDate:
        description: "Realisation Date"
        type: "string"
      scheduleRefNo:
        description: "Scheduled Reference Number"
        type: "string"
      scheduleOriginationBranch:
        description: "Scheduled Origination Branch"
        type: "string"
      scheduleDestinationBank:
        description: "Scheduled Destination Bank"
        type: "string"
      scheduleDestinationBranch:
        description: "Scheduled Destination Branch"
        type: "string"
      scheduleDestinationBankDescription:
        description: "Scheduled Destination Bank Description"
        type: "string"
      scheduleDestinationBranchDescription:
        description: "Scheduled Destination Branch Description"
        type: "string"
      instTxnStatus:
        description: "Instrument Transaction Status"
        type: "string"
      creditStatus:
        description: "Credit Status"
        type: "string"
      holdUntillDate:
        description: "Hold Until Date"
        type: "string"
      scheduleOriginationBank:
        description: "Scheduled Origination Bank"
        type: "string"
      scheduleGenerationDate:
        description: "Scheduled Generation Date"
        type: "string"
      returningDate:
        description: "Returning Date"
        type: "string"
      instrumentManagementBatchRefNo:
        description: "Instrument Management Batch Reference Number"
        type: "string"
      stage:
        description: "Stage"
        type: "string"
      adhocCharges:
        description: "Adhoc Charges"
        type: "number"
      remarks:
        description: "Remarks"
        type: "string"
      corrBankCode:
        description: "Correspondance Bank Code"
        type: "string"               
      arrangementCode:
        description: "Arrangement Code"
        type: "string"
      arrangementDesc:
        description: "Arrangement Description"
        type: "string"
      arrangementRefBasis:
        description: "Arrangement Reference Basis"
        type: "string" 
      arrangementDays:
        description: "Arrangement Days"
        type: "integer"
      corporateReleaseDays:
        description: "Corporate Release Days"
        type: "integer"  
      lostExtensionDays:
        description: "Lost Extension Days"
        type: "integer"
      certificateExtensionDays:
        description: "Certification Extension Days"
        type: "integer"
      returnExtensionDays:
        description: "Return Extension days"
        type: "integer"
      accountType:
        description: "Account Type"
        type: "string"       
      actualCreditDate:
        type: string
        description: "Actual Credit Date"
      scheduleReceiptDate:
        type: string
        description: "Schedule Receipt Date" 
      instMgmtCourierCode:
        description: "Instrument Management Courier Code"
        type: "string" 
      instMgmtCourierPodNumber:
        description: "Instrument management Corier Pod Number"
        type: "string" 
      coreBankBranchCode:
        description: "Corresponding Bank Branch Code"
        type: "string"
      isCentralizedSchedule:
        description: "Is Centralized Scheduled"
        type: "string"  
      isCustomerCredited:
        description: "Checking Customer Credited or Not"
        type: "string" 
      makerId:
        type: "string"
        description: "Maker Id"
      makerDtStamp:
        type: "string"
        description: "Maker Date"
      checkerId:
        type: "string"
        description: "Checker ID"
      checkerDtStamp:
        type: "string"
        description: "Checker Date"                                       
      noOfMiscFields:
        description: "No of Miscellaneous Fields"
        type: "integer"
        format: "int64"
      misc1:
        description: "Miscellaneous Field 1"
        type: "string" 
      misc2:
        description: "Miscellaneous Field 2"
        type: "string" 
      misc3:
        description: "Miscellaneous Field 3"
        type: "string" 
      misc4:
        description: "Miscellaneous Field 4"
        type: "string" 
      misc5:
        description: "Miscellaneous Field 5"
        type: "string" 
      misc6:
        description: "Miscellaneous Field 6"
        type: "string" 
      misc7:
        description: "Miscellaneous Field 7"
        type: "string" 
      misc8:
        description: "Miscellaneous Field 8"
        type: "string" 
      misc9:
        description: "Miscellaneous Field 9"
        type: "string" 
      misc10:
        description: "Miscellaneous Field 10"
        type: "string" 
      misc11:
        description: "Miscellaneous Field 11"
        type: "string" 
      misc12:
        description: "Miscellaneous Field 12"
        type: "string" 
      misc13:
        description: "Miscellaneous Field 13"
        type: "string" 
      misc14:
        description: "Miscellaneous Field 14"
        type: "string" 
      misc15:
        description: "Miscellaneous Field 15"
        type: "string" 
      misc16:
        description: "Miscellaneous Field 16"
        type: "string" 
      misc17:
        description: "Miscellaneous Field 17"
        type: "string" 
      misc18:
        description: "Miscellaneous Field 18"
        type: "string" 
      misc19:
        description: "Miscellaneous Field 19"
        type: "string" 
      misc20:
        description: "Miscellaneous Field 20"
        type: "string" 
      misc21:
        description: "Miscellaneous Field 21"
        type: "string" 
      misc22:
        description: "Miscellaneous Field 22"
        type: "string" 
      misc23:
        description: "Miscellaneous Field 23"
        type: "string" 
      misc24:
        description: "Miscellaneous Field 24"
        type: "string" 
      misc25:
        description: "Miscellaneous Field 25"
        type: "string" 
      misc26:
        description: "Miscellaneous Field 26"
        type: "string" 
      misc27:
        description: "Miscellaneous Field 27"
        type: "string" 
      misc28:
        description: "Miscellaneous Field 28"
        type: "string" 
      misc29:
        description: "Miscellaneous Field 29"
        type: "string" 
      misc30:
        description: "Miscellaneous Field 30"
        type: "string"
      arrangementCreditDate:
        description: "arrangementCreditDate"
        type: "string"
      presentationDate:
        description: "presentationDate"
        type: "string"
      arrangementCreditReversalDate:
        description: "Arrangment Credit Reversal Date"
        type: "string"
      expectedCreditReversalDate:
        description: "Expected Credit Reversal Date"
        type: "string"
      centralizedSchdGenerationDate:
        description: "Centralized Scheduled Generation Date"
        type: "string" 
      actualCreditReversalDate:
        description: "Actual Credit Reversal Date"
        type: "string"
      returnRecoveryDate:
        description: "Return Recovery Date"
        type: "string"         
      vaultBoxNumber:
        description: "Vault Box Number"
        type: "string"
      vaultBoxDescription:
        description: "Vault Box Description"
        type: "string"
      vaultBranch:
        description: "Vault Box Branch"
        type: "string"  
      isPDCChecked:
        description: "PDC Value Y or N"
        type: "string"    
      financialPostingStatus:
        description: " Financial Posting Status"
        type: "string"
      adjustedCreditRevAmt:
        description: "Adjusted Credit Reversal Amount"
        type: "number"
      balanceCreditRetRevAmt:
        description: "Balance Credit Reversal Amount"
        type: "number"
      returnRecoveryStatus:
        description: "Return return recovery status"
        type: "string"
      creditReversalFrom:
        description: "Credit Reversal From"
        type: "string"
      partialCreditReversal:
        description: "Partial credit Reversal"
        type: "string"
      bankFloatArrangement:
        description: "Bank float Arrangement"
        type: "string"
      returnRecoveryFrom:
        description: "Return Recovery From"
        type: "string"
      partialReturnRecovery:
        description: "Partial return recovery"
        type: "string"
      forcedDebitForRecovery:
        description: "Forced Debit for Recovery"
        type: "string"
      instrumentAccRefNo:
        description: "Instrument Account number"
        type: "string"
      creditReversalStatus:
        description: "Credit reversal Status"
        type: "string"                    
      newInstrumentNo:
        description: "New Instrument Number"
        type: "string"    
      instrumentAdFields:
        description: "Instrument Detail Additional Fields Model"
        $ref: "#/definitions/InstrumentDetailAdditionalFieldsModel"
  DepositSlipAdditionalFieldsModel:
    description: "Collection of DepositSlips"
    type: "object"
    properties:
     DepositSlipAdditionalInfoList:
        type: "array"
        items:
          $ref: "#/definitions/DepositSlipAdditionalFieldsDto"
  DepositSlipAdditionalFieldsDto:
    description: "DataSlips additional Field"
    type: "object"
    properties:
       id:
        description: "Id of the DepositSlip"
        type: "string"
       seqNo:
        description: "Seq No of the DepositSlip"
        type: "integer"
        format: "int64"
       referenceNum:
        description: "Reference Num of the DepositSlip"
        type: "string"
       depositSlipRefNo:
        description: "deposit Slip Ref No of the slip"
        type: "string"
       depositSlipNo:
        description: "no of the DepositSlipNo"
        type: "string"
       adfRowNo:
        description: " row no of this additional Field"
        type: "integer"
        format: "int64"
       udf1:
        description: "User Defined Field 1"
        type: "string" 
       udf2:
        description: "User Defined Field 2"
        type: "string" 
       udf3:
        description: "User Defined Field 3"
        type: "string" 
       udf4:
        description: "User Defined Field 4"
        type: "string" 
       udf5:
        description: "User Defined Field 5"
        type: "string" 
       udf6:
        description: "User Defined Field 6"
        type: "string" 
       udf7:
        description: "User Defined Field 7"
        type: "string" 
       udf8:
        description: "User Defined Field 8"
        type: "string" 
       udf9:
        description: "User Defined Field 9"
        type: "string" 
       udf10:
        description: "User Defined Field 10"
        type: "string" 
       udf11:
        description: "User Defined Field 11"
        type: "string" 
       udf12:
        description: "User Defined Field 12"
        type: "string" 
       udf13:
        description: "User Defined Field 13"
        type: "string" 
       udf14:
        description: "User Defined Field 14"
        type: "string" 
       udf15:
        description: "User Defined Field 15"
        type: "string" 
       udf16:
        description: "User Defined Field 16"
        type: "string" 
       udf17:
        description: "User Defined Field 17"
        type: "string" 
       udf18:
        description: "User Defined Field 18"
        type: "string" 
       udf19:
        description: "User Defined Field 19"
        type: "string" 
       udf20:
        description: "User Defined Field 20"
        type: "string" 
       udf21:
        description: "User Defined Field 21"
        type: "string" 
       udf22:
        description: "User Defined Field 22"
        type: "string" 
       udf23:
        description: "User Defined Field 23"
        type: "string" 
       udf24:
        description: "User Defined Field 24"
        type: "string" 
       udf25:
        description: "User Defined Field 25"
        type: "string" 
       udf26:
        description: "User Defined Field 26"
        type: "string" 
       udf27:
        description: "User Defined Field 27"
        type: "string" 
       udf28:
        description: "User Defined Field 28"
        type: "string" 
       udf29:
        description: "User Defined Field 29"
        type: "string" 
       udf30:
        description: "User Defined Field 30"
        type: "string"               
  InstrumentDetailAdditionalFieldsModel:
    description: "Collection of DepositSlips"
    type: "object"
    properties:
     InstrumentModelAdditionalInfoList:
        type: "array"
        items:
          $ref: "#/definitions/InstrumentDetailAdditionalFieldsDto"
  InstrumentDetailAdditionalFieldsDto:
    description: "DataSlips additional Field"
    type: "object"
    properties:
       id:
        description: "Id of the DepositSlip"
        type: "string"
       seqNo:
        description: "Seq No of the DepositSlip"
        type: "integer"
        format: "int64"
       referenceNum:
        description: "Reference Num of the DepositSlip"
        type: "string"
       depositSlipRefNo:
        description: "deposit Slip Ref No of the slip"
        type: "string"
       instrumentRefNo:
        description: "No of the instrumentRefNo"
        type: "string"
       instrumentNo:
        description: "No of the instrument"
        type: "string"
       adfRowNo:
        description: "Row no of this additional Field"
        type: "integer"
        format: "int64"
       udf1:
        description: "User Defined Field 1"
        type: "string" 
       udf2:
        description: "User Defined Field 2"
        type: "string" 
       udf3:
        description: "User Defined Field 3"
        type: "string" 
       udf4:
        description: "User Defined Field 4"
        type: "string" 
       udf5:
        description: "User Defined Field 5"
        type: "string" 
       udf6:
        description: "User Defined Field 6"
        type: "string" 
       udf7:
        description: "User Defined Field 7"
        type: "string" 
       udf8:
        description: "User Defined Field 8"
        type: "string" 
       udf9:
        description: "User Defined Field 9"
        type: "string" 
       udf10:
        description: "User Defined Field 10"
        type: "string" 
       udf11:
        description: "User Defined Field 11"
        type: "string" 
       udf12:
        description: "User Defined Field 12"
        type: "string" 
       udf13:
        description: "User Defined Field 13"
        type: "string" 
       udf14:
        description: "User Defined Field 14"
        type: "string" 
       udf15:
        description: "User Defined Field 15"
        type: "string" 
       udf16:
        description: "User Defined Field 16"
        type: "string" 
       udf17:
        description: "User Defined Field 17"
        type: "string" 
       udf18:
        description: "User Defined Field 18"
        type: "string" 
       udf19:
        description: "User Defined Field 19"
        type: "string" 
       udf20:
        description: "User Defined Field 20"
        type: "string" 
       udf21:
        description: "User Defined Field 21"
        type: "string" 
       udf22:
        description: "User Defined Field 22"
        type: "string" 
       udf23:
        description: "User Defined Field 23"
        type: "string" 
       udf24:
        description: "User Defined Field 24"
        type: "string" 
       udf25:
        description: "User Defined Field 25"
        type: "string" 
       udf26:
        description: "User Defined Field 26"
        type: "string" 
       udf27:
        description: "User Defined Field 27"
        type: "string" 
       udf28:
        description: "User Defined Field 28"
        type: "string" 
       udf29:
        description: "User Defined Field 29"
        type: "string" 
       udf30:
        description: "User Defined Field 30"
        type: "string"              
  ObcmTmCourierSetupMasterCollection: 
    description: "Collection of couriersetup."
    type: "object"
    properties:
      data:
        type: "array"
        description: "Data"
        items: 
          $ref: "#/definitions/ObcmTmCourierSetupMasterDTO"                      
         
  ObcmTmCourierSetupMasterDTO:
    type: object
    description: "Courier Setup Master"
    allOf:
    - $ref: '#/definitions/GenericDto'
    - type: object
      properties:
        addrLn1:
          type: string
          description: "Address Line 1"
        addrLn2:
          type: string
          description: "Address Line 2"
        addrLn3:
          type: string
          description: "Address Line 3"
        addrLn4:
          type: string
          description: "Address Line 4"
        contactPerson:
          type: string
          description: "Contact Person"
        contractEndDt:
          type: string
          description: "Contract End Date"
        contractStrtDt:
          type: string
          description: "Contract Start Date"
        countryCode:
          type: string
          description: "Country Code"
        countryName:
          type: string
          description: "Country Name"
        courierCode:
          type: string
          description: "Courier Code"
        courierDesc:
          type: string
          description: "Courier Description"
        designation:
          type: string
          description: "Designation"
        email:
          type: string
          description: "Email"
        fax:
          type: string
          description: "Fax"
        landLnNo:
          type: string
          description: "Land Line No"
        mobile:
          type: string
          description: "Mobile"
        zipCode:
          type: string
          description: "Zip Code"
        txnControllerRefNo:
          type: string
          description: "txnControllerRefNo"  
  GenericDto:
    description: "Generic Dto"
    allOf:
    - type: object
      discriminator: resource_type 
      
  CustomerModelDataDTO: 
    description: "Collection of Customer Data."
    type: "object"
    properties:
      data:
        type: "array"
        description: "Data"
        items: 
          $ref: "#/definitions/CustomerModelDTO" 
          
  CustomerModelDTO:
    description: "Customer Model data"
    type: "object"
    properties:
      customerNo:
        type: string
        description: "Customer Number"
      customerName1:
        type: string
        description: "Customer Name" 
        
  CoreAcctsModelDataDTO: 
    description: "Collection of Customer Account Data."
    type: "object"
    properties:
      data:
        type: "array"
        description: "Data"
        items: 
          $ref: "#/definitions/CoreAcctsModelDTO"
  CoreAcctsModelDTO:
    description: "Customer Model data"
    type: "object"
    properties:
      custAccountNo:
        type: string
        description: "Customer AccountNumber"
      customerNo:
        type: string
        description: "Customer Number"
      custAcCcy:
        type: string
        description: "Customer Account Cuurency"
      custAcName:
        type: string
        description: "Customer Account Name"  
  RoutingResponseModel: 
    description: "Collection of Routing Data."
    type: "object"
    properties:
      data:
        type: "array"
        description: "Data"
        items: 
          $ref: "#/definitions/RoutingModelDTO"
          
  RoutingModelDTO:
    description: "To get the routing data"
    type: object
    properties:
      routingCode:
        type: number
        description: "Routing Code"
      bankCode:
        type: string
        description: "Drawee Bank Code"
      bankName:
        type: string
        description: "Drawee Bank Name"
      branchName:
        type: string
        description: "Drawee Branch Name"
      branchCode:
        type: string
        description: "Branch Code"
      locationCode:
        type: string
        description: "Location Code"
      locationDescription:
        type: string
        description: "Location Description"
      locationClusterCode:
        type: string
        description: "Location Cluster Code"
      locationClusterDesc:
        type: string
        description: "Location Cluster Description"        
      
  CmTmNetworkMasterCollection: 
    description: "Collection of Network Master DTO"
    type: "object"
    properties:
      data:
        type: "array"
        description: "Data"
        items: 
          $ref: "#/definitions/CmTmNetworkMasterDTO"
          
  CmTmNetworkMasterDTO:
    description: "CmTmNetworkMaster DTO"
    type: object
    properties:
      id:
        type: string
        description: "ID"
      networkCode:
        type: string
        description: "Network Code"
      networkDescription:
        type: string
        description: "Network Description"
        
  ObcmTmVaultMasterCollection: 
    description: "Collection of vault."
    type: "object"
    properties:
      data:
        type: "array"
        items: 
          $ref: "#/definitions/ObcmTmVaultMasterDTO"
          
  ObcmTmVaultMasterDTO:
    type: object
    allOf:
    - $ref: '#/definitions/GenericDto'
    - type: object
      properties:
        vaultBoxNumber:
          type: string
          description: "Vault Box Number"          
        vaultBoxDescription:
          type: string
          description: "Vault Box Description"
        vaultBranch:
          type: string
          description: "Vault Box Branch"    
  ScfTmCustDivisionCodeCollection: 
    description: "Collection of Division."
    type: "object"
    properties:
      data:
        type: "array"
        items: 
          $ref: "#/definitions/ScfTmCustDivisionCodeDTO"
  
  ScfTmCustDivisionCodeDTO:
    description: "Collection of Division."
    type: "object"
    properties:
      authStatus:
        type: string
        description: "Auth Status"
      countryCode:
        type: string
        description: "Country Code"
      countryName:
        type: string
        description: "Country Name"
      custDivisionMasterId:
        type: string
        description: "Customet Division Master ID"
      divisionAddressLine1:
        type: string
        description: "Division Address Line 1"
      divisionAddressLine2:
        type: string
        description: "Division Address Line 2"
      divisionAddressLine3:
        type: string
        description: "Division Address Line 3"
      divisionAddressLine4:
        type: string
        description: "Division Address Line 4"             
      divisionCode:
        type: string
        description: "Division Code"
      divisionName:
        type: string
        description: "Division Name"
      email:
        type: string
        description: "Email Address"
      id:
        type: string
        description: "Division Id"
      partyId:
        type: string
        description: "Party Id"
      partyName:
        type: string
        description: "Party Name"
      telNo:
        type: string
        description: "Telphone Number"             
                
  ObcmTmCorpEnrchPckupDTOCollection: 
    description: "Collection of Corporate Enrichment pick up."
    type: "object"
    properties:
      data:
        type: "array"
        description: "List of Corporate Enrichment pick up data"
        items: 
          $ref: "#/definitions/ObcmTmCorpEnrchPckupDTO"
          
  ObcmTmCorpEnrchPckupDTO:
    type: object
    description: "Corporate Enrichment Pick up Data"
    properties:
      corporateId:
        type: string
        description: "Corporate id used for corporate enrichment pick up data"
      locationCode:
        type: string
        description: "Available location code used for corporate enrichment pick up data"
      pickupCode:
        type: string
        description: "Pickup code mapped to corporate or location code will be returned"
      pickupPt:
        type: string
        description: "Name of the pick up point"
      cntctPerson:
        type: string
        description: "Name of the contact person"
      pickupFor:
        type: string
        description: "Cheque or Cash"
      pickupType:
        type: string
        description: "Constant value Adhoc / on call"
      courierCode:
        type: string
        description: "List of existing courier codes can be fetched from back office"
      addln1:
        type: string
        description: "Address line 1"
      addln2:
        type: string
        description: "Address line 2"
      addln3:
        type: string
        description: "Address line 3"
      addln4:
        type: string
        description: "Address line 4"
      cntry:
        type: string
        description: Country of pickup point"
      cntryCode:
        type: string
        description: "Country Code of pickup point"
      cntryName:
        type: string
        description: "Country Name of pickup point"
      postalCode:
        type: number
        description: "Postal code of pickup point"
      prPhoneNo:
        type: number
        description: "Primary number of contact"
      prEmailId:
        type: string
        description: "Email of contact"
      authStatus:
        type: string
        description: "A or U"
      modNo:
        type: integer
        description: "Modification number of record"
      agrmntDate:
        type: string
        format: date
        description: "Arranegment data"
      courierCodeDesc:
        type: string
        description: "Courier Code Description"
      dayOfWeek:
        type: string
        description: "DayOfWeek used for corporate enrichment pick up data"
      fax:
        type: number
        description: "Fax number used for corporate enrichment pick up data"
      freq:
        type: string
        description: "Frequency used for corporate enrichment pick up data"
      id:
        type: string
        description: "Id value used for corporate enrichment pick up data"
      locationDesc:
        type: string
        description: "Location Description used for corporate enrichment pick up data"
      pckupMstrId:
        type: string
        description: "Pick Up master Id used for corporate enrichment pick up data"
      pickupOnHldys:
        type: string
        description: "pickupOnHldys used for corporate enrichment pick up data"
      pickupSlot:
        type: string
        description: "PickupSlot used for corporate enrichment pick up data"
      retrnDispatch:
        type: string
        description: "Return Dispatch used for corporate enrichment pick up data"
      scEmailId:
        type: string
        description: "Source EmailId used for corporate enrichment pick up data"
      scPhoneNo:
        type: number
        description: "Source PhoneNo used for corporate enrichment pick up data"
      chqRtnAddln1:
        type: string
        description: "Cheque Return Address line 1"
      chqRtnAddln2:
        type: string
        description: "Cheque Return Address line 2"
      chqRtnAddln3:
        type: string
        description: "Cheque Return Address line 3"
      chqRtnAddln4:
        type: string
        description: "Cheque Return Address line 4"
  ObcmTmCorpEnrchStupMstrWrapperDTO:
    type: object
    description: "Collection of Corporate Enrichment Setup master Data."
    properties: 
      data:
       type: "array"
       description: "List of Corporate Enrichment pick up data"
       items: 
          $ref: "#/definitions/ObcmTmCorpEnrchStupMstrDTO"
  ObcmTmCorpEnrchStupMstrDTO:
    type: object
    allOf:
    - $ref: '#/definitions/GenericDto'
    - type: object
      properties:
        corporateCode:
          type: string
          description: "Corporate code used for corporate enrichmentData"
        corporateName:
          type: string
          description: "Corporate name used for corporate enrichmentData"
        counterPartyInfoManTxn:
          type: string
          description: "Counter party information used for corporate enrichmentData"
        drawerInfoManTxn:
          type: string
          description: "Dwawer information used for corporate enrichmentData"
        courierSrvcType:
          type: string
          description: "Courier service type used for corporate enrichmentData" 
        enrichmentId:
          type: string
          description: "Enrichment id used for corporate enrichmentData"
        
  InstrumentCollectionDuplicateCheckResponseModel:
    description: "Instrument Collection Duplicate Check Model"
    type: "object"
    properties:
      responseStatus:
        type: "string"
        description: "Response Status"
      corporateId:
        type: "string"
        description: "Corporate Id"  
      depositSlipNo:
        type: "string"
        description: "DepositSlip Number"
      instrumentNo:
        type: "string"
        description: "Instrument Number"
      drawnOnBankCode:
        type: "string"
        description: "Drawn On Bank Code"      
      errors:
        type: "object"
        description: "List Of Errors "
        items:
          $ref: "#/definitions/Error" 
  
  AssociatedParties:
    description: "Response of Associated Parties Respose"
    type: object
    properties:
      data:
        type: array
        description: "Contains all associated buyer Counterparty details of party Id"
        items:
          $ref: "#/definitions/AssociatedPartyData"
      paging:
        $ref: "#/definitions/PagingDto"
  AssociatedPartyData:
    description: "Response of Associated Parties Response"
    type: object
    properties:
      customerId:
        type: string
        description: "Associated Counter/Corporate Id"
      customerName:
        type: string
        description: "Name of associated Counter/Corporate Id"
  ObcmTmCorpEnrchProdEnrchDetailsCollection: 
    description: "Collection of corpenrchprodenrchmstr."
    type: "object"
    properties:
     data:
      type: "array"
      items: 
       $ref: '#/definitions/ObcmTmCorpEnrchProdEnrchDtlsDTO'
  ObcmTmCorpEnrchProdEnrchDtlsDTO:
   type: object
   properties:
     dataType:
      type: string
      description: "DataType"
     enrchLabel:
      type: string
      description: "Enrichment Label"
     fieldLength:
      type: string
      description: "Field Length"
     id:
      type: string
      description: "ID"
     lvlOfEnrch:
      type: string
      description: "Level Of Enrichment"
     productCode:
      type: string
      description: "Product Code"
     productDesc:
      type: string
      description: "Product Description"
     productCategory:
      type: string
      description: "Product Category"
     prodEnrchMstrId:
      type: string
      description: "Product Enrichment Id"
     validations:
      type: string
      description: "Validation"
     minValue:
      type: integer
      description: "Minimum Value"
     orderingNo:
      type: integer
      description: "Product's ordering number"
  CmTmLocationClusterMasterDTO:
   type: object
   allOf:
   - $ref: '#/definitions/GenericDto'
   - type: object
     properties:
      id:
       type: string
       description: ""
      action:
       type: string
       description: ""
      autoAuth:
       type: string
       description: ""
      modificationStatus:
       type: string
       description: ""
      datasegmentCode:
       type: string
       description: ''
      checkerRemarks:
       type: string
       description: '' 
      makerRemarks:
       type: string
       description: ''
      clearingDays:
       type: number
       description: ""
      locationClusterCode:
       type: string
       description: ""
      locationClusterDescription:
       type: string
       description: ""
  CmTmLocationClusterMasterWrapperDTO:
   type: object
   properties:
    data:
     $ref: "#/definitions/CmTmLocationClusterMasterDTO"                                                                                                  