swagger: "2.0"
info:
  description: "This is a sample server Customer server.  You can find out more about Swagger at [swagger.io](http://swagger.io) and about data types at [Swagger Data Types](https://swagger.io/docs/specification/data-models/data-types/)"
  version: "1.0.0"
  title: "Instrument Collection Service"
host: "api-plato.us.oracle.com:8080"
basePath: "/api/1.0"
consumes:
  - "application/json"
  - "application/xml"
produces:
  - "application/json"
  - "application/xml"
tags:
  - name: "Instrument"
    description: "API for Instrument related Operations"
    
schemes:
- "https"

paths:
  /web/v1/instrument:
    post:
      tags:
        - "Instrument"
      summary: "Adds a new Instrument"
      description: "Adds a new Instrument with all  additional information "
      operationId: "addInstrument"
      parameters:
        - name: "Instrument"
          in: "body"
          description: "Request Body that contains data required for creating a new DepositSlip"
          required: true
          schema:
            $ref: "#/definitions/InstrumentModel"
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "branch code for SMS"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
        - name: "branchDate"
          in: "header"
          type: "string"
          format: "date-time"
          required: false
      responses:
        201:
          description: "Successfully created the loan details"
          schema:
             $ref: "#/definitions/ResponseModel"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
    get:
      tags:
        - "Instrument"
      summary: "Retrieves the list of existing Instrument"
      description:  "Retrieves the list of existing Instrument with additional information "
      operationId: "getAllInstruments"
      parameters:
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "branch code for SMS"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
        - name: "corporateId"
          in: "query"
          required: false
          description: "corporateId"
          type: "string"
        - name: "instrumentNumber"
          in: "query"
          description: "instrumentNumber"
          required: false
          type: "string"
        - name: "depositSlipNumber"
          in: "query"
          required: false
          description: "depositSlipNumber"
          type: "string"
        - name: "depositFromDate"
          in: "query"
          type: "string"
          required: false
          description: "depositFromDate"
        - name: "depositToDate"
          in: "query"
          type: "string"
          required: false
          description: "depositToDate"
        - name: "instrumentAmountFrom"
          in: "query"
          type: "number"
          required: false
          description: "instrumentAmountFrom"
        - name: "instrumentAmountTo"
          in: "query"
          type: "number"
          required: false
          description: "instrumentAmountTo"
        - name: "instrumentStatus"
          in: "query"
          type: "string"
          required: false
          description: "instrumentStatus"
        - name: "pickupCode"
          in: "query"
          required: false
          description: "pickupCode"
          type: "string"
        - name: "locationCode"
          in: "query"
          required: false
          description: "locationCode"
          type: "string"
        - name: "accountNumber"
          in: "query"
          required: false
          description: "accountNumber"
          type: "string"
        - name: "product"
          in: "query"
          required: false
          description: "product"
          type: "string"
        - name: "depositBranch"
          in: "query"
          required: false
          description: "depositBranch"
          type: "string"
        - name: "depositLocation"
          in: "query"
          required: false
          description: "depositLocation"
          type: "string"
        - name: "limit"
          in: "query"
          required: false
          description: "limit to be fetched"
          type: "integer"
        - name: "offset"
          in: "query"
          required: false
          description: "offset of the limit"
          type: "integer"
        - name: "scheduleOriginationBranch"
          in: "query"
          required: false
          description: "Receit branch"
          type: "string"
        - name: "scheduleDestinationBranch"
          in: "query"
          required: false
          description: "Returning branch"
          type: "string"
        - name: "scheduleDestinationBank"
          in: "query"
          required: false
          description: "Returning Bank"
          type: "string"
        - name: "scheduleRefNo"
          in: "query"
          required: false
          description: "Schedule Ref no"
          type: "string"
        - name: "courierCode"
          in: "query"
          required: false
          description: "courier"
          type: "string"
        - name: "scheduleDispatchDateFrom"
          in: "query"
          required: false
          description: "scheduleDispatchDateFrom"
          type: "string"
        - name: "scheduleDispatchDateTo"
          in: "query"
          required: false
          description: "scheduleDispatchDateTo"
          type: "string"
        - name: "txnRefNo"
          in: "query"
          required: false
          description: "Instrument Ref no"
          type: "string"
        - name: "instFromDate"
          in: "query"
          required: false
          description: "instFromDate"
          type: "string"
        - name: "instToDate"
          in: "query"
          required: false
          description: "instToDate"
          type: "string"
        - name: "referenceNum"
          in: "query"
          required: false
          description: "referenceNum"
          type: "string"
        - name: "drawnOnBankCode"
          in: "query"
          required: false
          description: "drawnOnBankCode"
          type: "string"
        - name: "drawerAcNo"
          in: "query"
          required: false
          description: "drawerAcNo"
          type: "string"
        - name: "corrBankCode"
          in: "query"
          required: false
          description: "corrBankCode"
          type: "string"
        - name: "instrumentAmt"
          in: "query"
          required: false
          description: "instrumentAmt"
          type: "number"
        - name: "divisionCode"
          in: "query"
          required: false
          description: "divisionCode"
          type: "string"
        - name: "routingNumber"
          in: "query"
          required: false
          description: "routingNumber"
          type: "number"
        - name: "instTxnStatus"
          in: "query"
          required: false
          description: "instTxnStatus"
          type: "string"   
        - name: "depositChannel"
          in: "query"
          required: false
          description: "depositChannel"
          type: "string"
        - name: "clearingLocation"
          in: "query"
          required: false
          description: "clearingLocation"
          type: "string"
        - name: "instrumentAmtCcy"
          in: "query"
          required: false
          description: "instrumentAmtCcy"
          type: "string"
        - name: "instMgmtCourierCode"
          in: "query"
          required: false
          description: "instMgmtCourierCode"
          type: "string"
        - name: "creditStatus"
          in: "query"
          required: false
          description: "creditStatus"
          type: "string"
        - name: "vaultBoxNumber"
          in: "query"
          required: false
          description: "vaultBoxNumber"
          type: "string"
        - name: "processingStatus"
          in: "query"
          required: false
          description: "processingStatus"
          type: "string"
        - name: "fromDate"
          in: "query"
          required: false
          description: "fromDate"
          type: "string"
        - name: "toDate"
          in: "query"
          required: false
          description: "toDate"
          type: "string"
        - name: "dateRefBasis"
          in: "query"
          required: false
          description: "dateRefBasis"
          type: "string"
        - name: "isPDCChecked"
          in: "query"
          required: false
          description: "isPDCChecked"
          type: "string"
        - name: "extRefNo"
          in: "query"
          required: false
          description: "extRefNo"
          type: "string"
        - name: "pickupFromDate"
          in: "query"
          required: false
          description: " Pick Up From Date"
          type: "string"
        - name: "pickupToDate"
          in: "query"
          required: false
          description: "Pick Up To Date"
          type: "string"  
                        
      responses:
        200:
          description: "Successful performs the operation"
          schema:
            $ref: "#/definitions/InstrumentEnquiryCollection"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"
  /web/v1/instrument/{id}:
    get:
      tags:
        - "Instrument"
      summary: "Retrieves the Instrument by ID."
      description:  "Retrieves the Instrument by ID. Add additional information here for the this endpoint."
      operationId: "getInstrumentById"
      parameters:
        - name: "id"
          in: "path"
          description: "Id of the Instrument that needs to be fetched"
          required: true
          type: "string"
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "branch code for SMS"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
        - name: "branchDate"
          in: "header"
          type: "string"
          format: "date-time"
          required: false
      responses:
        200:
          description: "Returns the Instrument based on given id."
          schema:
            $ref: "#/definitions/ResponseModel"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"
    put:
      tags:
        - "Instrument"
      summary: "Update an existing Instrument."
      description:  "Update an existing Instrument Add additional information here for the this endpoint."
      operationId: "updateInstrument"
      parameters:
        - name: "id"
          in: "path"
          description: "id of the DepositSlip that need to be updated"
          required: true
          type: "string"
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "branch code for SMS"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
        - name: "branchDate"
          in: "header"
          type: "string"
          format: "date-time"
          required: false      
        - name: "instrument"
          in: "body"
          description: "Request Body that contains data required for updating an existing DepositSlip"
          required: true
          schema:
            $ref: "#/definitions/InstrumentModel"
      responses:
        200:
          description: "Returns updated customer"
          schema:
            $ref: "#/definitions/ResponseModel"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"          
    delete:
      tags:
        - "Instrument"
      summary: "Deletes the Instrument identified by given ID."
      description:  "eletes the DepositSlip identified by given ID. Add additional information here for the this endpoint."
      operationId: "deleteInstrument"
      parameters:
        - name: "id"
          in: "path"
          description: "Id of the Instrument that needs to be deleted"
          required: true
          type: "string"
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "branch code for SMS"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
        - name: "branchDate"
          in: "header"
          type: "string"
          format: "date-time"
          required: false
      responses:
        200:
          description: "Successful operation."
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"
  /web/v1/instrument/referenceNum/{referenceNum}:
    get:
      tags:
        - "Instrument"
      summary: "Retrieves the Instrument by ID."
      description:  "Retrieves the Instrument by financeRefNo. Add additional information here for the this endpoint."
      operationId: "getInstrumentByRefNo"
      parameters:
        - name: "referenceNum"
          in: "path"
          description: "Id of the Instrument that needs to be fetched"
          required: true
          type: "string"
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "branch code for SMS"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
        - name: "branchDate"
          in: "header"
          type: "string"
          format: "date-time"
          required: false
      responses:
        200:
          description: "Returns the Instrument based on given id."
          schema:
            $ref: "#/definitions/ResponseModel"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"
  /web/v1/instrumentTxnNo:
    get:
      tags:
        - "Instrument"
      summary: "Retrieves the Instrument"
      description:  "Retrieves the Instrument by "
      operationId: "getInstrumentTxnNo"
      parameters:
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "instrumentRefNo"
          in: "query"
          description: "Id of the Instrument that needs to be fetched"
          required: false
          type: "string"
        - name: "instrumentNo"
          in: "query"
          type: "string"
          required: false
        - name: "depositSlipNo"
          in: "query"
          type: "string"
          required: false
        - name: "batchReferenceNum"
          in: "query"
          type: "string"
          required: false
        - name: "corporateId"
          in: "query"
          type: "string"
          required: false
          description: "corporate id of deposit slip"
        - name: "drawerId"
          in: "query"
          type: "string"
          required: false
        - name: "drawerName"
          in: "query"
          type: "string"
          required: false
        - name: "scheduleRefNo"
          in: "query"
          type: "string"
          required: false
        - name: "groupBy"
          in: "query"
          type: "string"
          required: false
        - name: "offset"
          in: "query"
          type: "integer"
          required: false
        - name: "limit"
          in: "query"
          type: "integer"
          required: false
        - name: "callFromLov"
          in: "query"
          required: false
          description: "Lov Filter"
          type: boolean
      responses:
        200:
          description: "Returns the Instrument based on given id."
          schema:
            $ref: "#/definitions/InstrumentTxnCollection"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error" 
  /web/v1/statusDetail:
    get:
      tags:
        - "Instrument"
      summary: "Retrieves all the status of Instrument"
      description:  "Retrieves the Instrument status "
      operationId: "getStatusDetail"
      parameters:
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "instrumentRefNo"
          in: "query"
          description: "Id of the Instrument that needs to be fetched"
          required: true
          type: "string"
        - name: "referenceNum"
          in: "query"
          type: "string"
          required: true
        - name: "depositSlipRefNo"
          in: "query"
          type: "string"
          required: true
      responses:
        200:
          description: "Returns the Instrument based on given id."
          schema:
            $ref: "#/definitions/InstStatusCollection"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"     
  /web/v1/miscDetail:
    get:
      tags:
        - "Instrument"
      summary: "Retrieves all the status of Instrument"
      description:  "Retrieves the Instrument status "
      operationId: "getMiscFields"
      parameters:
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "instrumentRefNo"
          in: "query"
          description: "Id of the Instrument that needs to be fetched"
          required: false
          type: "string"
        - name: "referenceNum"
          in: "query"
          type: "string"
          required: true
        - name: "depositSlipRefNo"
          in: "query"
          type: "string"
          required: true
      responses:
        200:
          description: "Returns the Instrument based on given id."
          schema:
            $ref: "#/definitions/MiscFieldCollection"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"
  /web/v1/instrument/stageUpdate:
    post:
      tags:
        - "Instrument"
      summary: "Updates human task in conductor server"
      description: "Updates human task in conductor server"
      operationId: "updateStage"
      parameters:
        - name: "appId"
          in: "header"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "branch code for SMS"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
        - name: "branchDate"
          in: "header"
          type: "string"
          format: "date-time"
          required: false
        - name: "transactionHeaderModel"
          in: "body"
          description: "Request Body that contains data required for creating a new Instrument"
          required: true
          schema:
            $ref: "#/definitions/TransactionHeaderModel"
      responses:
        201:
          description: "Returns the Id of the newly created Instrument details"
          headers:
            Location:
              description: "URL of newly created Instrument details"
              type: "string"
          schema:
              type: "object"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"     
definitions:
  TransactionHeaderModel:
    type: "object"
    properties:
      workflowInstanceId:
        type: "string"
      taskInstanceId:
        type: "string"
      action:
        type: "string"
      instrumentTxnStatus:
        type: "string"
      intrumentReqModel:
        $ref: "#/definitions/InstrumentReqModel"
      scheduleGenerationCollection:
        $ref: "#/definitions/ScheduleGenerationCollection"
      financeRefNo:
        type: string        
  InstStatusCollection:
    description: "Collection of Inst status"
    type: "object"
    properties:
      data:
        type: "array"
        items:
          $ref: "#/definitions/InstStatusModel"
      paging:
        type: object
  InstStatusModel:
    description: "Collection of Inst status"
    type: "object"
    properties:
      status:
        description: "Status of Instrument"
        type: "string"
      data:
        type: "object"
  MiscFieldCollection:
    description: "Collection of MiscField"
    type: "object"
    properties:
      Instrument:
          $ref: "#/definitions/MiscFieldModel"      
  MiscFieldModel:
    description: "InstrumentModel model"
    type: "object"
    properties:
      id:
        description: "Id of the Deposit/Instrument"
        type: "string"
      seqNo:
        description: "Seq No of the Deposit/Instrument"
        type: "integer"
        format: "int64"
      referenceNum:
        description: "Reference Num of the batch"
        type: "string"
      noOfMiscFields:
        description: ""
        type: "integer"
      misc1:
        description: ""
        type: "string" 
      misc2:
        description: ""
        type: "string" 
      misc3:
        description: ""
        type: "string" 
      misc4:
        description: ""
        type: "string" 
      misc5:
        description: ""
        type: "string" 
      misc6:
        description: ""
        type: "string" 
      misc7:
        description: ""
        type: "string" 
      misc8:
        description: ""
        type: "string" 
      misc9:
        description: ""
        type: "string" 
      misc10:
        description: ""
        type: "string" 
      misc11:
        description: ""
        type: "string" 
      misc12:
        description: ""
        type: "string" 
      misc13:
        description: ""
        type: "string" 
      misc14:
        description: ""
        type: "string" 
      misc15:
        description: ""
        type: "string" 
      misc16:
        description: ""
        type: "string" 
      misc17:
        description: ""
        type: "string" 
      misc18:
        description: ""
        type: "string" 
      misc19:
        description: ""
        type: "string" 
      misc20:
        description: ""
        type: "string" 
      misc21:
        description: ""
        type: "string" 
      misc22:
        description: ""
        type: "string" 
      misc23:
        description: ""
        type: "string" 
      misc24:
        description: ""
        type: "string" 
      misc25:
        description: ""
        type: "string" 
      misc26:
        description: ""
        type: "string" 
      misc27:
        description: ""
        type: "string" 
      misc28:
        description: ""
        type: "string" 
      misc29:
        description: ""
        type: "string" 
      misc30:
        description: ""
        type: "string"
      AdditionalFields:
        type: "array"
        items:
          $ref: "#/definitions/AdditionalInfoModel"
        
  AdditionalInfoModel:
    description: "DataSlips additional Field"
    type: "object"
    properties:
       id:
        description: "Id of the DepositSlip/Inst"
        type: "string"
       seqNo:
        description: "Seq No of the DepositSlip/Inst"
        type: "integer"
        format: "int64"
       referenceNum:
        description: "Reference Num of the DepositSlip/Inst"
        type: "string"
       adfRowNo:
        description: " row no of this additional Field"
        type: "integer"
        format: "int64"
       udf1:
        description: ""
        type: "string" 
       udf2:
        description: ""
        type: "string" 
       udf3:
        description: ""
        type: "string" 
       udf4:
        description: ""
        type: "string" 
       udf5:
        description: ""
        type: "string" 
       udf6:
        description: ""
        type: "string" 
       udf7:
        description: ""
        type: "string" 
       udf8:
        description: ""
        type: "string" 
       udf9:
        description: ""
        type: "string" 
       udf10:
        description: ""
        type: "string" 
       udf11:
        description: ""
        type: "string" 
       udf12:
        description: ""
        type: "string" 
       udf13:
        description: ""
        type: "string" 
       udf14:
        description: ""
        type: "string" 
       udf15:
        description: ""
        type: "string" 
       udf16:
        description: ""
        type: "string" 
       udf17:
        description: ""
        type: "string" 
       udf18:
        description: ""
        type: "string" 
       udf19:
        description: ""
        type: "string" 
       udf20:
        description: ""
        type: "string" 
       udf21:
        description: ""
        type: "string" 
       udf22:
        description: ""
        type: "string" 
       udf23:
        description: ""
        type: "string" 
       udf24:
        description: ""
        type: "string" 
       udf25:
        description: ""
        type: "string" 
       udf26:
        description: ""
        type: "string" 
       udf27:
        description: ""
        type: "string" 
       udf28:
        description: ""
        type: "string" 
       udf29:
        description: ""
        type: "string" 
       udf30:
        description: ""
        type: "string"
  InstrumentModel:
    description: "InstrumentModel model"
    type: "object"
    properties:
      id:
        description: "Id of the Instrument"
        type: "string"
      seqNo:
        description: "Seq No of the Instrument"
        type: "integer"
        format: "int64"
      referenceNum:
        description: "Reference Num of the batch"
        type: "string"
      depositSlipRefNo:
        description: "deposit Slip Ref No of the Instrument"
        type: "string"
      depositSlipNo:
        description: "no of the DepositSlipNo"
        type: "string"
      instrumentRefNo:
        description: "Instrument Ref No of the Instrument"
        type: "string"
      instrumentNo:
        description: "no of the Instrument"
        type: "string"
      instrumentDate:
        type: string
        format: date
        description: "Instrument Date"
      instrumentDateString:
        description: "Instrument Date String"
        type: string 
      instrumentType:
        description: "Instrument Type"
        type: "string"
      instrumentAmtCcy:
        description: "Instrument Amount ccy"
        type: "string"        
      instrumentAmt:
        description: "Instrument Amount"
        type: "number"
      routingNumber:
        description: "Routing number"
        type: number
      drawnOnBankCode:
        description: "Drawn on Bank Code"
        type: "string"
      drawnOnBankName:
        description: "Drawn on Bank Name"
        type: "string"
      drawnOnBranchCode:
        description: "Drawn on Branch Code"
        type: "string"
      drawnOnBranchName:
        description: "Drawn on Branch Name"
        type: "string"
      payableAtLocationCode:
        description: "Payable at Location Code"
        type: "string"
      payableAtLocationDesc:
        description: "Payable at Location Desc"
        type: "string"
      payableAtLocClusterCode:
        description: "Payable at Loc Cluster Code"
        type: "string"
      payableAtLocClusterDesc:
        description: "Payable at Loc Cluster Desc"
        type: "string"
      drawerId:
        description: "Drawer Id"
        type: string
      drawerName:
        description: "Drawer Name"
        type: "string"
      drawerAcNo:
        description: "Drawer Ac No"
        type: "string"
      drawerAcName:
        description: "Drawer Ac Name"
        type: "string"
      clearingNetworkCode:
        description: "Clearing Network Code"
        type: "string"
      clearingNetworkDesc:
        description: "Clearing Network Desc"
        type: "string"
      corporateRefNo:
        description: "Corporate Ref No"
        type: "string"
      creditAccountNo:
        description: "Credit Account No"
        type: "string"
      productCode:
        description: "Product Code"
        type: "string"
      productDesc:
        description: "Product Desc"
        type: "string"
      divisionCode:
        description: "Division Code"
        type: "string"
      divisionCodeDesc:
        description: "Division Code Desc"
        type: "string"
      instrumentStatus:
        description: "Instrument Status"
        type: "string"
      instrumentCount:
        description: "Instrument Count"
        type: "number"
      instrumentAmountValue:
        description: "Instrument Amount Value"
        type: "number"
      rejectReason:
        description: "Reject Reason"
        type: "string"
      realisationAmount:
        description: "Realisation Amount"
        type: "number"
      realisationDate:
        description: "Realisation Date"
        type: "string"
        format: date
      realisationDateString:
        description: "Realisation Date String"
        type: string 
      scheduleRefNo:
        description: "Schedule RefNo"
        type: "string"
      scheduleOriginationBranch:
        description: "scheduleOriginationBranch"
        type: "string"
      scheduleDestinationBank:
        description: "scheduleDestinationBank"
        type: "string"
      scheduleDestinationBranch:
        description: "scheduleDestinationBranch"
        type: "string"
      scheduleDestinationBankDescription:
        description: "scheduleDestinationBankDescription"
        type: "string"
      scheduleDestinationBranchDescription:
        description: "scheduleDestinationBranchDescription"
        type: "string"
      instTxnStatus:
        description: "instTxnStatus"
        type: "string"
      creditStatus:
        description: "creditStatus"
        type: "string"
      holdUntillDate:
        description: "holdUntillDate"
        type: "string"
        format: date
      holdUntillDateString:
        description: "HoldUntill Date String"
        type: string 
      scheduleOriginationBank:
        description: "scheduleOriginationBank"
        type: "string"
      scheduleGenerationDate:
        description: "scheduleGenerationDate"
        type: "string"
        format: date
      scheduleGenerationDateString:
        description: "Schedule Generation Date String"
        type: string 
      returningDate:
        description: "returningDate"
        type: "string"
        format: date
      returningDateString:
        description: "Returning Date String"
        type: string
      instrumentManagementBatchRefNo:
        description: "instrumentManagementBatchRefNo"
        type: "string"
      stage:
        description: "stage"
        type: "string"
      adhocCharges:
        description: "adhocCharges"
        type: "string"
      remarks:
        description: "remarks"
        type: "string"
      corrBankCode:
        description: "corrBankCode"
        type: "string"               
      arrangementCode:
        description: "arrangementCode"
        type: "string"
      arrangementDesc:
        description: "arrangementDesc"
        type: "string"
      arrangementRefBasis:
        description: "arrangementRefBasis"
        type: "string" 
      arrangementDays:
        description: "arrangementDays"
        type: "integer"
      corporateReleaseDays:
        description: "corporateReleaseDays"
        type: "integer"  
      lostExtensionDays:
        description: "lostExtensionDays"
        type: "integer"
      certificateExtensionDays:
        description: "certificateExtensionDays"
        type: "integer"
      returnExtensionDays:
        description: "returnExtensionDays"
        type: "integer"
      accountType:
        description: "accountType"
        type: "string"       
      actualCreditDate:
        description: "Actual Credit Date"
        type: string
        format: date
      actualCreditDateString:
        description: "ActualCredit Date String"
        type: string    
      scheduleReceiptDate:
        description: "Schedule Receipt Date"
        type: string
        format: date
      scheduleReceiptDateString:
        description: "ScheduleReceipt Date String"
        type: string
      instMgmtCourierCode:
        description: "instMgmtCourierCode"
        type: "string" 
      instMgmtCourierPodNumber:
        description: "instMgmtCourierPodNumber"
        type: "string" 
      coreBankBranchCode:
        description: "coreBankBranchCode"
        type: "string"
      isCentralizedSchedule:
        description: "isCentralizedSchedule"
        type: "string"  
      isCustomerCredited:
        description: "isCustomerCredited"
        type: "string" 
      makerId:
        type: "string"
        description: "makerId"
      makerDtStamp:
        type: "string"
        format: date
        description: "makerDtStamp"
      checkerId:
        type: "string"
        description: "checkerId"
      checkerDtStamp:
        type: "string"
        format: date
        description: "checkerDtStamp"                                       
      noOfMiscFields:
        description: "noOfMiscFields"
        type: "number"
      misc1:
        description: "misc1"
        type: "string" 
      misc2:
        description: "misc2"
        type: "string" 
      misc3:
        description: "misc3"
        type: "string" 
      misc4:
        description: "misc4"
        type: "string" 
      misc5:
        description: "misc5"
        type: "string" 
      misc6:
        description: "misc6"
        type: "string" 
      misc7:
        description: "misc7"
        type: "string" 
      misc8:
        description: "misc8"
        type: "string" 
      misc9:
        description: "misc9"
        type: "string" 
      misc10:
        description: "misc10"
        type: "string" 
      misc11:
        description: "misc11"
        type: "string" 
      misc12:
        description: "misc12"
        type: "string" 
      misc13:
        description: "misc13"
        type: "string" 
      misc14:
        description: "misc14"
        type: "string" 
      misc15:
        description: "misc15"
        type: "string" 
      misc16:
        description: "misc16"
        type: "string" 
      misc17:
        description: "misc17"
        type: "string" 
      misc18:
        description: "misc18"
        type: "string" 
      misc19:
        description: "misc19"
        type: "string" 
      misc20:
        description: "misc20"
        type: "string" 
      misc21:
        description: "misc21"
        type: "string" 
      misc22:
        description: "misc22"
        type: "string" 
      misc23:
        description: "misc23"
        type: "string" 
      misc24:
        description: "misc24"
        type: "string" 
      misc25:
        description: "misc25"
        type: "string" 
      misc26:
        description: "misc26"
        type: "string" 
      misc27:
        description: "misc27"
        type: "string" 
      misc28:
        description: "misc28"
        type: "string" 
      misc29:
        description: "misc29"
        type: "string" 
      misc30:
        description: "misc30"
        type: "string"
      arrangementCreditDate:
        description: "arrangementCreditDate"
        type: "string"
        format: date
      arrangementCreditDateString:
        description: "ArrangementCredit Date String"
        type: string
      presentationDate:
        description: "presentationDate"
        type: "string"
        format: date
      presentationDateString:
        description: "PresentationDate Date String"
        type: string
      vaultBoxNumber:
        description: "Vault Box Number"
        type: "string"
      isPDCChecked:
        description: "Is PDC Checked"
        type: "string"
      actualCreditReversalDate:
        description: "Actual Credit Reversal Date"
        type: string
        format: date
      actualCreditReversalDateString:
        description: "Actual Credit Reversal Date String"
        type: string            
      instrumentAdFields:
        $ref: "#/definitions/InstrumentModelAdditionalInfoCollection"
      accountingDetails:
        $ref: "#/definitions/AccountingTransactionCollection"
      creditACCY:
        description: "Credit Currency Amount"
        type: string         
      vaFlagYN:
        type: string
        description: "Virtual Account flag as Y or N"
      chgCalc:
        type: string
        description: "Charges Calculation flag as Y or N"        
      
  InstrumentAdditionalInfoModel:
    description: "DataSlips additional Field"
    type: "object"
    properties:
       id:
        description: "Id of the DepositSlip"
        type: "string"
       seqNo:
        description: "Seq No of the DepositSlip"
        type: "integer"
        format: "int64"
       referenceNum:
        description: "Reference Num of the DepositSlip"
        type: "string"
       depositSlipRefNo:
        description: "deposit Slip Ref No of the slip"
        type: "string"
       instrumentRefNo:
        description: "No of the instrumentRefNo"
        type: "string"
       instrumentNo:
        description: "No of the instrument"
        type: "string"
       adfRowNo:
        description: "Row no of this additional Field"
        type: "integer"
        format: "int64"
       udf1:
        description: "User Defined Field 1"
        type: "string" 
       udf2:
        description: "User Defined Field 2"
        type: "string" 
       udf3:
        description: "User Defined Field 3"
        type: "string" 
       udf4:
        description: "User Defined Field 4"
        type: "string" 
       udf5:
        description: "User Defined Field 5"
        type: "string" 
       udf6:
        description: "User Defined Field 6"
        type: "string" 
       udf7:
        description: "User Defined Field 7"
        type: "string" 
       udf8:
        description: "User Defined Field 8"
        type: "string" 
       udf9:
        description: "User Defined Field 9"
        type: "string" 
       udf10:
        description: "User Defined Field 10"
        type: "string" 
       udf11:
        description: "User Defined Field 11"
        type: "string" 
       udf12:
        description: "User Defined Field 12"
        type: "string" 
       udf13:
        description: "User Defined Field 13"
        type: "string" 
       udf14:
        description: "User Defined Field 14"
        type: "string" 
       udf15:
        description: "User Defined Field 15"
        type: "string" 
       udf16:
        description: "User Defined Field 16"
        type: "string" 
       udf17:
        description: "User Defined Field 17"
        type: "string" 
       udf18:
        description: "User Defined Field 18"
        type: "string" 
       udf19:
        description: "User Defined Field 19"
        type: "string" 
       udf20:
        description: "User Defined Field 20"
        type: "string" 
       udf21:
        description: "User Defined Field 21"
        type: "string" 
       udf22:
        description: "User Defined Field 22"
        type: "string" 
       udf23:
        description: "User Defined Field 23"
        type: "string" 
       udf24:
        description: "User Defined Field 24"
        type: "string" 
       udf25:
        description: "User Defined Field 25"
        type: "string" 
       udf26:
        description: "User Defined Field 26"
        type: "string" 
       udf27:
        description: "User Defined Field 27"
        type: "string" 
       udf28:
        description: "User Defined Field 28"
        type: "string" 
       udf29:
        description: "User Defined Field 29"
        type: "string" 
       udf30:
        description: "User Defined Field 30"
        type: "string"
  InstrumentTxnCollection:
    description: "recon reference deatails"
    type: object
    properties:
      data:
        type: array
        items:
          $ref: '#/definitions/InstrumentTxnDto'
      paging:
        type: object
  InstrumentCollection:
    description: "Collection of Instruments"
    type: "object"
    properties:
      InstrumentList:
        type: "array"
        items:
          $ref: "#/definitions/InstrumentModel"
  InstrumentModelAdditionalInfoCollection:
    description: "Collection of DepositSlips"
    type: "object"
    properties:
     InstrumentModelAdditionalInfoList:
        type: "array"
        items:
          $ref: "#/definitions/InstrumentAdditionalInfoModel"
  InstrumentTxnDto:
    description: "Instrument Ref Numbers and Instrument Numbers"
    type: "object"
    properties:
       instrumentRefNo:
        description: "Instrument Reference Number"
        type: "string"
       instrumentNo:
        description: "Instrument Number"
        type: "string"
       scheduleRefNo:
        description: "Schedule Ref Number"
        type: "string"