swagger: "2.0"
info:
  description: "This service is related to Purge and Reject of Instrument management related functions"
  version: "1.0.0"
  title: "Instrument Management Service APIs for Purge and Reject"
host: "api-plato.us.oracle.com:8080"
basePath: "/api/1.0"
consumes:
  - "application/json"
  - "application/xml"
produces:
  - "application/json"
  - "application/xml"
tags:
  - name: "InstrumentManagementService"
    description: "This service is related to Purge and Reject of Instrument management related functions"

paths:
  /service/v1/instrumentManagement/purge:
    post:
      tags:
        - "InstrumentManagementService"
      summary: "Purge instrument management transaction"
      description: "Purge instrument management transaction"
      operationId: "purgeInstrumentMgmtTransaction"
      parameters:
        - name: "purgeRequestModel"
          in: "body"
          description: "Request Body that contains data required for purging the transaction"
          required: true
          schema:
            $ref: "./batch.yaml#/definitions/ConductorWorkFlowModel"
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "User ID for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
          description: "Branch Code for SMS"
        - name: "appId"
          in: "header"
          type: "string"
          required: true
          description: "Application ID for SMS"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
          description: "Content of a file"
      responses:
        200:
          description: "Successful performs the operation"
          schema:
            $ref: "./batch.yaml#/definitions/ConductorWorkFlowModel"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"   
  /service/v1/instrumentManagement/reject:
    post:
      tags:
        - "InstrumentManagementService"
      summary: "Reject instrument management transaction"
      description: "Reject instrument management transaction"
      operationId: "rejectInstrumentMgmtTransaction"
      parameters:
        - name: "rejectRequestModel"
          in: "body"
          description: "Request Body that contains data required for purging the transaction"
          required: true
          schema:
            $ref: "./batch.yaml#/definitions/ConductorWorkFlowModel"
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "User ID for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
          description: "Unique Branch Code"
        - name: "appId"
          in: "header"
          type: "string"
          required: true
          description: "Application ID for SMS"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
          description: "Content of a file" 
      responses:
        200:
          description: "Successful performs the operation"
          schema:
            $ref: "./batch.yaml#/definitions/ConductorWorkFlowModel"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error" 
          