swagger: "2.0"
info:
  description: "Provides DTO's for pooling job related operations"
  version: "1.0.0"
  title: "Pooling Job DTO's"
host: "api-plato.us.oracle.com:8080"
basePath: "/api/1.0"
consumes:
  - "application/json"
  - "application/xml"
produces:
  - "application/json"
  - "application/xml"
tags:
  - name: "PoolingJobModels"
    description: "Provides DTO's for pooling job related operations"

paths: {}

definitions:
  DecisioningDaysDTO:
    description: "Decisioning Days Request model"
    type: "object"
    properties:
      corporateId:
        type: string
        description: "Corporate Id for which Arrangement days are required"
      correspondentBankId:
        type: string
        description: "Correspondent Bank Id for which Arrangement days are required"
      draweebankId:
        type: string
        description: "Drawee Bank Id for which Arrangement days are required"
      locationId:
        type: string
        description: "Location Id for which Arrangement days are required"
      arrangementParty:
        type: string
        description: "Arrangement Party for which Arrangement days are required"
      amount:
        type: number
        description: "Amount"
      ccy:
        type: string
        description: "Currency"
      productCode:
        type: string
        description: "Product Code"        
  DecisioningDaysResponseDTO:
    description: "Decisioning Days Response model"
    type: "object"
    properties:
      arrangementDays:
        description: "Required Arrangement Days"
        type: number
      certificateExtensionDays:
        description: "Required certificateExtensionDays"
        type: number
      corporateReleaseDays:
        description: "Required corporateReleaseDays"
        type: number
      lostExtensionDays:
        description: "Required lostExtensionDays"
        type: number
      returnExtensionDays:
        description: "Required returnExtensionDays"
        type: number
      arrangementCode:
        description: "Required arrangementCode"
        type: string
      arrangementDesc:
        description: "Required arrangementDesc"
        type: string
      arrangementRefBasis:
        description: "Required arrangementRefBasis"
        type: string
      cdtReversalDays:
        description: "Credit Reversal Days"
        type: number
      cdtReversalFrom:
        description: "Credit Rerversal From"
        type: string
      partialCdtReversal:
        description: "Partial Credit Reversal"
        type: string
      bankFltAgmt:
        description: "Bank Float Arrangement Flag"
        type: string
      rtnRecoveryFrom:
        description: "Return Recovery From"
        type: string
      partialRtnRecovery:
        description: "Partial Return Recovery"
        type: string
      fcdDbtFrRecovery:
        description: "Forced Debit For Recovery"
        type: string
      centralizedSchedule:
        description: "Centralized Forward Schedule"
        type: string
      inclusionOfHolidays:
        description: "Inclusion Of Holidays"
        type: string
      agreementRefNo:
        description: "Agreement Reference Number"
        type: string   
  ObcmTmCorpEnrchPoolStupMstrCollection: 
    description: "Collection of corpenrchpoolstupmstr."
    type: "object"
    properties:
     data:
      type: "array"
      items: 
       $ref: "#/definitions/ObcmTmCorpEnrchPoolStupMstrDTO"
     paging:
      $ref: "#/definitions/PagingDto"    
  ObcmTmCorpEnrchPoolStupMstrDTO:
    type: object
    allOf:
    - $ref: '#/definitions/GenericDto'
    - type: object
      properties:
       enrichmentId:
        type: string
        description: ""
       txnControllerRefNo:
        type: string
        description: ""
       ObcmTmCorpEnrchPoolStupDtlsDTO:
        type: array
        items:
         $ref: '#/definitions/ObcmTmCorpEnrchPoolStupDtlsDTO'
  ObcmTmCorpEnrchPoolStupDtlsDTO:
    type: object
    properties:
       prodCategory:
        type: string
        description: ""
       poolingLvl:
        type: string
        description: ""
       cdtConsolidationLvl:
        type: string
        description: ""
       percentagePooling:
        type: string
        description: ""
       divCode:
        type: string
        description: ""
       divDesc:
        type: string
        description: ""
       id:
        type: string
        description: ""
       locCode:
        type: string
        description: ""
       locDesc:
        type: string
        description: ""
       percentage:
        type: number
        description: ""
       poolStupMstrId:
        type: string
        description: ""
       pooAccDesc:
        type: string
        description: ""
       pooAccNo:
        type: string
        description: ""        