#-----------------------------------------------------------------------------------------------------
#  **
#  ** File Name  : ChargesInqService.yaml
#  **
#  ** Module     : VLC
#  ** 
#  ** This source is part of the Oracle FLEXCUBE  and is copyrighted by Oracle Financial Services Software Limited.  ** 
#  ** 
#  ** All rights reserved. No part of this work may be reproduced, stored in a retrieval system,
#  ** adopted or transmitted in any form or by any means, electronic, mechanical, photographic,
#  ** graphic, optic recording or otherwise, translated in any language or computer language,
#  ** without the prior written permission of Oracle Financial Services Software Limited.
#  ** 
#  ** Oracle Financial Services Software Limited.
#  ** 10-11, SDF I, SEEPZ, Andheri (East),
#  ** Mumbai - 400 096.
#  ** India
#  ** Copyright 2017-2018 Oracle Financial Services Software Limited. All rights reserved.
#  -------------------------------------------------------------------------------------------------------
#
#  CHANGE HISTORY
#
#  Created By         :  pranav.pandey@oracle.com
#
#  Bug Number         :  
#  Changed By         :  
#  Change Description :  
#  Change On          :  
#  Search String      :  
#  
#  -------------------------------------------------------------------------------------------------------
  

swagger: "2.0"
info:
 description: "customer charge Inquiry." 
 version: "1.0.0"
 title: "Charge Inquiry "
host: "api-plato.us.oracle.com:8080"
basePath: "/api/1.0"
consumes:
 - "application/json"
produces:
 - "application/json"
tags:
 - name: "ChargesInqWebApi"
   description: "API that facilitates enquiry of all charges associated to a customer within an application based on the selected filters "

schemes:
- "https"

paths:

# path to create a new record and fetch all valid records or by intent
#
#  supprorted http methods POST and GET
#
# path example ../web/v1/charges

 /chargeinquiry:
  get:
   tags:
    - "chargeinquiry"
   summary: "Charges Inquiry"
   description:  "Charges Inquiry"
   operationId: "getChargeDetails"
   parameters:
   - name: applicationCode
     in: query
     required: true
     type: string     
   - name: offset
     in: query
     description: offset is starting no of records to be fetched
     required: false
     type: integer
   - name: limit
     in: query
     description: limit is maximum no of records to be fetched
     required: false
     type: integer
   - in: query
     name: chargeCode
     required: false
     type: string
   - in: query
     name: collectionStatus
     required: false
     type: string
   - in: query
     name: fromDate
     required: true
     type: string
   - in: query
     name: toDate
     required: true
     type: string
   - in: query
     name: realCustomerNo
     required: true
     type: string   
   responses:
    200:
     description: "Returns the charge maintenance actions based on given id."
     schema:
      $ref: '#/definitions/ChargeInquiryDetailCollection'
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"