#-----------------------------------------------------------------------------------------------------
#  **
#  ** File Name  : PricingScheme.yaml
#  **
#  ** Module     : VLC
#  ** 
#  ** This source is part of the Oracle FLEXCUBE  and is copyrighted by Oracle Financial Services Software Limited.  ** 
#  ** 
#  ** All rights reserved. No part of this work may be reproduced, stored in a retrieval system,
#  ** adopted or transmitted in any form or by any means, electronic, mechanical, photographic,
#  ** graphic, optic recording or otherwise, translated in any language or computer language,
#  ** without the prior written permission of Oracle Financial Services Software Limited.
#  ** 
#  ** Oracle Financial Services Software Limited.
#  ** 10-11, SDF I, SEEPZ, Andheri (East),
#  ** Mumbai - 400 096.
#  ** India
#  ** Copyright 2017-2018 Oracle Financial Services Software Limited. All rights reserved.
#  -------------------------------------------------------------------------------------------------------
#
#  CHANGE HISTORY
#
#  Created By         :  System
#
#  Bug Number         :  
#  Changed By         :  
#  Change Description :  
#  Change On          :  
#  Search String      :  
#  
#  -------------------------------------------------------------------------------------------------------
  

swagger: "2.0"
info:
 description: "This is a sample server pricingschemes server." 
 version: "1.0.0"
 title: "pricingschemes Service"
host: "api-plato.us.oracle.com:8080"
basePath: "/api/1.0"
consumes:
 - "application/json"
produces:
 - "application/json"
tags:
 - name: "pricingschemes"
   description: "Pricing Scheme is used to define the available pricing schemes. Charge Decisioning can be configured basis the pricing scheme and customers can be associated with one of the pricing schemes during on-boarding"

schemes:
- "https"

paths:

# path to create a new record and fetch all valid records or by intent
#
#  supprorted http methods POST and GET
#
# path example ../pricingschemes

 /pricingschemes:
  post:
   tags:
    - "pricingschemes"
   summary: "Adds a new pricingschemes."
   description: "Adds a new pricingschemes. Add additional information here for this endpoint."
   operationId: "saveRecord"
   parameters:
    - name: "pricingschemes" 
      in: "body" 
      description: "Request Body that contains data required for creating a new pricingschemes" 
      required: true
      schema:
       $ref: "#/definitions/VlcTmPricingSchemeDTO"
   responses:
    201: 
     description: "Returns message of succes or failure " 
     headers:
      Location:
       description: "URL of newly created pricingschemes" 
       type: "string"
     schema:
       $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "pricingschemes"
   summary: "Get all valid pricingschemes."
   description:  "Get all valid pricingschemes. This endpoints will be used to Get all valid pricingschemes maintenance records."
   operationId: "getAll"
   parameters:
   - name: includecloseandunauth
     in: query
     description: includecloseandunauth need to be set to fetch summary record, defult value is false
     required: false
     type: boolean
   - name: offset
     in: query
     description: offset is starting no of records to be fetched
     required: false
     type: integer
   - name: limit
     in: query
     description: limit is maximum no of records to be fetched
     required: false
     type: integer
   - name: applicationCode
     in: query
     description: applicationCode of the charge similar to the Charge Maintenance records that need to be fetched. 
     required: true
     type: string
   - name: pricingScheme
     in: query
     description: Pricing Scheme Id to be fetched
     required: false
     type: string
   - name: pricingSchemeDesc
     in: query
     description: Pricing Scheme Description 
     required: false
     type: string
   - in: query
     name: recordStat
     required: false
     type: string
   - in: query
     name: authStat
     required: false
     type: string 
   - in: query
     name: loggedinBrn
     required: false
     type: string                   
   responses:
    201:
     description: "Returns message of succes or failure"
     headers: 
      Location:
       description: ""
       type: "string"
     schema:
       $ref: "#/definitions/VlcTmPricingSchemeCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"

# path to modify existing record, delete existing record and fetch valid records by id or by intent( includes latestRecord, version no)
#
#  supprorted http methods PUT, DELETE and GET
#
# path examples----
#   PUT       .../pricingschemes/xxx
#   DELETE    .../pricingschemes/xxx
#   GET       .../pricingschemes/xxx
#   GET       .../pricingschemes/xxx?version=latestrecord
#   GET       .../pricingschemes/xxx?version=1

 /pricingschemes/{id}:
  put:
   tags:
    - "pricingschemes"
   summary: "Update an existing pricingschemes."
   description:  "Update an existing pricingschemes."
   operationId: "modifyRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "key of the pricingschemes Maintenance"
      required: true
      type: "string"
    - name: "pricingschemes"
      in: "body"
      description: "Request Body that contains data required for updating an existing pricingschemes"
      required: true
      schema:
       $ref: "#/definitions/VlcTmPricingSchemeDTO"
   responses:
    200:
     description: "Returns updated pricingschemes"
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "pricingschemes"
   summary: "Retrieves the pricingschemes by ID."
   description:  "Retrieves the pricingschemes by ID."
   operationId: "getById"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
    - name: "version"
      in: "query"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the pricingschemes based on given id."
     schema:
      $ref: "#/definitions/VlcTmPricingSchemeWrapperDTO"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
  delete:
   tags:
    - "pricingschemes"
   summary: "Deletes the pricingschemes identified by given ID."
   description:  "Deletes the pricingschemes identified by given ID. Add additional information here for the this endpoint."
   operationId: "delete"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the pricingschemes maintenance"
      required: true
      type: "string"
    - name: "pricingschemes"
      in: "body"
      description: Request body contain pricingschemes and Modification no of pricingschemes maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to Authorize existing record.
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../pricingschemes/xxx/approve

 /pricingschemes/{id}/approve:
  patch:
   tags:
    - "pricingschemes"
   summary: "Authorize the pricingschemes by given ID."
   description:  "Authorize the pricingschemes identified by given ID."
   operationId: "authorize"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the pricingschemes maintenance"
      required: true
      type: "string"
    - name: "pricingschemes"
      in: "body"
      description: Request body contain pricingschemes and Modification no of pricingschemes maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to close existing record
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../pricingschemes/xxx/close
 /pricingschemes/{id}/close:
  patch:
   tags:
    - "pricingschemes"
   summary: "Close the pricingschemes by given ID."
   description:  "Close the pricingschemes identified by given ID."
   operationId: "closeRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the pricingschemes maintenance"
      required: true
      type: "string"
    - name: "pricingschemes"
      in: "body"
      description: Request body contain pricingschemes and Modification no of pricingschemes maintenance which need to be closed"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to reopen existing record
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../pricingschemes/xxx/reopen

 /pricingschemes/{id}/reopen:
  patch:
   tags:
    - "pricingschemes"
   summary: "reopen the pricingschemes by given ID."
   description:  "reopen the pricingschemes identified by given ID."
   operationId: "reopenRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the pricingschemes maintenance"
      required: true
      type: "string"
    - name: "pricingschemes"
      in: "body"
      description: Request body contain pricingschemes and Modification no of pricingschemes maintenance which need to be reopen"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to get all unauthorized records
#
#  supprorted http methods GET
#
# path examples----
#   GET       .../pricingschemes/xxx/unauthorized

 /pricingschemes/{id}/unauthorized:
  get:
   tags:
    - "pricingschemes"
   summary: "Retrives the pricingschemes by given ID."
   description:  "Retrives the pricingschemes identified by given ID."
   operationId: "authQuery"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the pricingschemes based on given id."
     schema:
       $ref: "#/definitions/VlcTmPricingSchemeCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to  history record for remitterid
#
#  supprorted http methods GETS
#
# path examples----
#   GET       .../pricingschemes/xxx/history

 /pricingschemes/{id}/history:
  get:
   tags:
    - "pricingschemes"
   summary: "Retrives the pricingschemes by given ID."
   description:  "Retrives the pricingschemes by ID."
   operationId: "getHistory"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the pricingschemes based on given id."
     schema:
       $ref: "#/definitions/VlcTmPricingSchemeCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
definitions:
 VlcTmPricingSchemeDTO:
  type: object
  allOf:
  - $ref: '#/definitions/GenericDto'
  - type: object
    properties:
     applicationCode:
      type: string
      description: ""    
     pricingScheme:
      type: string
      description: ""
     pricingSchemeDesc:
      type: string
      description: ""  
     loggedInBranch:
      type: string
      description: "Current logged in branch"    
 ModListKeyDto:
  type: object
  properties:
   modNos:
    type: array
    items:
     type: integer
   remarks:
    type: string
 KeyDto:
  type: object
  properties:
   modNo:
    type: integer
   remarks:
    type: string
 ResponseDto:
  type: object
  properties:
   id:
    type: string
   status:
    type: string
   codes:
    type: array
    items:
     $ref: "#/definitions/ResponseCode"
   requestId:
    type: string
 ResponseCode:
  type: object
  properties:
   Code:
    type: string
   Desc:
    type: string
   Type:
    type: string
   Language:
    type: string
   args:
    type: array
    items:
     type: object
   arg:
    type: string
 GenericDto:
  allOf:
   - type: object
     discriminator: resource_type
 VlcTmPricingSchemeCollection: 
  description: "Collection of pricingscheme."
  type: "object"
  properties:
   data:
    type: "array"
    items: 
     $ref: "#/definitions/VlcTmPricingSchemeDTO"
   paging:
    $ref: "#/definitions/PagingDto"
 PagingDto:
  type: object
  properties:
   totalResults:
    type: integer
 ResponseDtoWrapper:
  type: object
  properties:
   messages:
    $ref: "#/definitions/ResponseDto"
   data:
    $ref: "#/definitions/ResponseResourceSupport"
 ResponseResourceSupport:
  type: object
 VlcTmPricingSchemeWrapperDTO:
  type: object
  properties:
   data:
    $ref: "#/definitions/VlcTmPricingSchemeDTO"
