#  This source is part of the Oracle Banking Virtual Account Management Software Product. 
#  Copyright  2018 , 2021 , Oracle and/or its affiliates.  All rights reserved.
#  
#  No part of this work may be reproduced, stored in a retrieval system, adopted or transmitted in any form or by any means, electronic, mechanical, photographic, graphic, optic recording or otherwise, translated in any language or computer language, without the prior written permission of Oracle and/or its affiliates.
#  
#  Oracle Financial Services Software Limited.
#  Oracle Park, Off Western Express Highway,
#  Goregaon (East), 
#  Mumbai - 400 063, India. 
#  
#-----------------------------------------------------------------------------------------------------
#  **
#  ** File Name  : transaction.yaml
#  **
#  ** Module     : obvam
#  ** 

#  -------------------------------------------------------------------------------------------------------
#
#  CHANGE HISTORY
#
#  Created By         :  Santosh Varma Ch 
#
#  Bug Number         :  
#  Changed By         :  
#  Change Description :  
#  Change On          :  
#  Search String      :  
#  
#  -------------------------------------------------------------------------------------------------------
  

swagger: "2.0"
info:
 description: "This is a server for hosting Transaction services." 
 version: "1.0.0"
 title: "Transaction Service"
host: "api-plato.us.oracle.com:8080"
basePath: "/api/1.0"
consumes:
 - "application/json"
produces:
 - "application/json"
tags:
 - name: "txn"
   description: "API for Transaction Operations. Header request parameters."

schemes:
- "https"

paths:

# path to create a new record and fetch all valid records
#
#  supprorted http methods POST and GET
#
# path example ../txns

 /txns:
  post:
   tags:
    - "txns"
   summary: "Adds a new txn."
   description: "Adds a new txn. Add additional information here for this endpoint."
   operationId: "create"
   parameters:
    - name: "txn" 
      in: "body" 
      description: "Request Body that contains data required for creating a new txn" 
      required: true
      schema:
       $ref: "#/definitions/VatRequestMastDTO"
   responses:
    201: 
     description: "Returns message of succes or failure " 
     headers:
      Location:
       description: "URL of newly created txn" 
       type: "string"
     schema:
       $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "txns"
   summary: "Get all valid txn."
   description:  "Get all valid txn. This endpoints will be used to Get all valid txnmaintanence records."
   operationId: "getAll"
   parameters:
   - name: includecloseandunauth
     in: query
     description: includecloseandunauth need to be set to fetch summary record, defult value is false
     required: false
     type: boolean
   - name: offset
     in: query
     description: offset is starting no of records to be fetched
     required: false
     type: integer
   - name: limit
     in: query
     description: limit is maximum no of records to be fetched
     required: false
     type: integer
   - in: query
     name: txnRefNo
     required: false
     type: string
   - in: query
     name: sourceRefNo
     required: false
     type: string
   - in: query
     name: originalRefNo
     required: false
     type: string
   - in: query
     name: txnStatus
     required: false
     type: string
   - in: query
     name: authStatus
     required: false
     type: string
   - in: query
     name: sourceCode
     required: false
     type: string
     
   responses:
    201:
     description: "Returns message of succes or failure"
     headers: 
      Location:
       description: ""
       type: "string"
     schema:
       $ref: "#/definitions/TransactionCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
     
# path to  fetch valid records by id or by intent( includes latestRecord, version no) and delete existing record 
#
#  supprorted http methods GET and DELETE
#
# path examples----
#   get       .../txns/xxx
#   DELETE    .../txns/xxx


 /txns/{id}:
  get:
   tags:
    - "txns"
   summary: "Retrieves the txn by ID."
   description:  "Retrieves the txn by ID."
   operationId: "getById"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the txn based on given id."
     schema:
      $ref: "#/definitions/TransactionWrapperDTO"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
  delete:
   tags:
    - "txns"
   summary: "Deletes the txn identified by given ID."
   description:  "Deletes the txn identified by given ID. Add additional information here for the this endpoint."
   operationId: "delete"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the txn Maintenece"
      required: true
      type: "string"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to Reverse and Authorize an existing record.
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../txns/xxx/reverse
#   PATCH       .../txns/xxx/approve

 /txns/{id}/reverse:
  patch:
   tags:
    - "txns"
   summary: "Reverse the txn by given ID."
   description:  "Reverse the transaction identified by given ID."
   operationId: "reverse"
   parameters:
    - name: "id"
      in: "path"
      description: "Key ID of the transaction to be reversed."
      required: true
      type: "string"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
     
 /txns/{id}/approve:
  patch:
   tags:
    - "txns"
   summary: "Authorize the txn by given ID."
   description:  "Authorize the transaction identified by given ID."
   operationId: "authorize"
   parameters:
    - name: "id"
      in: "path"
      description: "Key ID of the transaction to be authorized"
      required: true
      type: "string"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
     
# path to do External Account Check.
#
#  supprorted http methods POST
#
# path examples----
#   POST       .../EAC
 /EAC:
  post:
   tags:
    - "txns"
   summary: "URL for accounts from external systems."
   description: "Validates the given list of accounts."
   operationId: "eacCheck"
   parameters:
    - name: "eacRequestMastDTO" 
      in: "body" 
      description: "Request Body contains data that is required to create a validate list of accounts." 
      required: true
      schema:
       $ref: "#/definitions/EACRequestMastDTO"
   responses:
    201: 
     description: "Returns message of success and data containing request body or failure with messages." 
     headers:
      Location:
       description: "URL of the External Account Check" 
       type: "string"
     schema:
      $ref: "#/definitions/EACResponseDTO"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have adequate credentials"
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
# path to Reverse/rollback an existing record.
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../txns/xxx/xxx

 /txns/{txnRefNo}/{action}:
  patch:
   tags:
    - "txns"
   summary: "Reverse/Rollback the txn by given txnRefNo."
   description:  "Reverse/rollback the transaction identified by given txnRefNo."
   operationId: "reverseTxn"
   parameters:
    - name: "txnRefNo"
      in: "path"
      description: "txnRefNo of the transaction to be reversed."
      required: true
      type: "string"
    - name: "action"
      in: "path"
      description: "action(reverse/rollback) to be performed on specified txnRefNo."
      required: true
      type: "string"      
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

 /txns/vacountpercustomerdatepair:
  post:
   tags:
    - "txns"
   summary: "Retrieves active VA count for the input real customer"
   description: "Retrieves active VA count for the input real customer"
   operationId: "getVACountperCustomer"
   parameters:
    - name: realCustomerNoList
      in: body
      description:  Real customer number for which virtual accounts applicable  needs to be fetched
      required: true
      schema:
         $ref: "#/definitions/RealCustomerDatePairList"
           
   responses:
     200:
      description: "Returns authorized count "
      schema:
       type: "array"
       items:
         $ref: "#/definitions/RealCustomerVirtualAccountCountDTO"
     400:
       description: "Malformed syntax."
     401:
       description: "Request does not have sufficient credentials."
     403:
       description: "Request is not authorized."
     500:
       description: "Internal error"

 /txns/checkvapercustomer:
  post:
   tags:
    - "txns"
   summary: "Check active VA count for the input real customer"
   description: "Check active VA count for the input real customer"
   operationId: "checkVAperCustomer"
   parameters:
    - name: customerNoDateVaPairDto
      in: body
      description:  Real customer number for which virtual accounts  needs to be fetched
      required: true
      schema:
         $ref: "#/definitions/CustomerNoDateVaPairDto"
           
   responses:
     200:
      description: "Returns the check value"
      schema:
       type: boolean
     400:
       description: "Malformed syntax."
     401:
       description: "Request does not have sufficient credentials."
     403:
       description: "Request is not authorized."
     500:
       description: "Internal error"
  

definitions:

 CustomerNoDateVaPairDto:
    type: object
    properties:
      realCustomerNo:
        type: string
      startDate:
        type: string
        pattern: "[0-9]{4}[-][0-9]{2}[-][0-9]{2}"
        description: "Start Date "
      endDate:
        type: string
        pattern: "[0-9]{4}[-][0-9]{2}[-][0-9]{2}"
        description: "End Date"
      virtualAccount:
        type: string

 RealCustomerDatePairList:
    type: object
    properties:
      RealCustomerNoDatePair:
       type: array
       items:
        $ref: "#/definitions/RealCustomerNoDatePairDto"
   

 RealCustomerNoDatePairDto:
    type: object
    properties:
      realCustomerNo:
        type: string
      startDate:
        type: string
        pattern: "[0-9]{4}[-][0-9]{2}[-][0-9]{2}"
        description: "Start Date "
      endDate:
        type: string
        pattern: "[0-9]{4}[-][0-9]{2}[-][0-9]{2}"
        description: "End Date"


 RealCustomerVirtualAccountCountDTO:
    type: "object"
    properties:
      realCustomerNo:
        type: "string"
        description: "Real Customer Number"
      count:
        type: "integer"
        description: "Count of virtual account for the real customer number"

 TransactionMasterDTO:
  type: object
  allOf:
  - $ref: '#/definitions/ResourceSupport'
  - type: object
    properties:
     keyId:
      type: string
     txnRefNo:
      type: string
     sourceCode:
      type: string
     sourceReferenceNo:
      type: string
     bookingDate:
      type: string
      pattern: "[0-9]{4}[-][0-9]{2}[-][0-9]{2}"
     initiationDate:
      type: string
      pattern: "[0-9]{4}[-][0-9]{2}[-][0-9]{2}"
     authStatus:
      type: string
     transactionStatus:
      type: string
     originalReferenceNo:
      type: string
     checkerDtStamp:
      type: string
      format: date
     checkerId:
      type: string
     makerDtStamp:
      type: string
      format: date
     makerId:
      type: string
     transactionDetailsDTOList:
      type: array
      items:
       $ref: '#/definitions/TransactionDetailsDTO'
 TransactionDetailsDTO:
  type: object
  properties:
     id:
      type: string
     txnMasterId:
      type: string
     txnRefNo:
      type: string
     entrySerialNo:
      type: number
     drCrInd:
      type: string
     txnAccount:
      type: string
     txnAccountBrn:
      type: string
     txnCcy:
      type: string
     txnAmount:
      type: number
     txnCode:
      type: string
     valueDate:
      type: string
      pattern: "[0-9]{4}[-][0-9]{2}[-][0-9]{2}"
     txnAccountCcy:
      type: string
     amtInTxnAccCcy:
      type: number
     amtInDdaLcy:
      type: number
     excRateDdaLcy:
      type: number
     exchRate:
      type: number
     realAccCcy:
      type: string
     amtInRealAccCcy:
      type: number
     realAccClass:
      type: string
     excRateTxccyRaccy:
      type: number
     reconRefNo:
      type: string
     addlText:
      type: string
      description: "Customer narrative information received from External System or User can also enter the addl text"
      minLength: 0
      maxLength: 4000
     reportingInfo:
      type: string
     accountType:
      type: string
     realAccountNo:
      type: string
     realAccountBrn:
      type: string
     ecaOrBlockRefNo:
      type: string
     ddaOffset:
      type: string
     forceDebit:
      type: string
     skipDDAEntries:
      type: string
     blkReleaseStatus:
      type: string
      maxLength: 1
      pattern: '[P,F]'
     realCustomerNo:
      type: string
 VatRequestMastDTO:
  type: object
  properties:
     sourceCode:
      type: string
     sourceReferenceNo:
      type: string
     vatRequestDetDTO:
      type: array
      items:
       $ref: '#/definitions/VatRequestDetDTO'
  required:
    - sourceCode
    - vatRequestDetDTO       
 VatRequestDetDTO:
  type: object
  properties:
     drCrInd:
      type: string
      maxLength: 1
      pattern: '[D,C]'
     txnAccount:
      type: string
     txnAccountBrn:
      type: string
      maxLength: 3
     txnCcy:
      type: string
      maxLength: 3
     txnAccountCcy:
      type: string
      maxLength: 3
     amtInTxnAccCcy:
      type: number
     amtInDdaLcy:
      type: number
     excRateDdaLcy:
      type: number
     txnAmount:
      type: number     
     txnCode:
      type: string
     valueDate:
      type: string
      pattern: "[0-9]{4}[-][0-9]{2}[-][0-9]{2}"
     exchRate:
      type: number
     reconRefNo:
      type: string
     addlText:
      type: string
      description: "Customer narrative information received from External System or User can also enter the addl text"
      minLength: 0
      maxLength: 4000
     ecaOrBlockRefNo:
      type: string
     ddaOffset:
      type: string
     forceDebit:
      type: string
      maxLength: 1
      pattern: '[Y,N]'
      default: 'N'
     skipDDAEntries:
      type: string
      maxLength: 1
      pattern: '[Y,N]'
     blkReleaseStatus:
      type: string
      maxLength: 1
      pattern: '[P,F]'
  required:
    - drCrInd
    - txnAccount
    - txnCcy
    - txnAmount
    - txnCode
 ECAEntriesDTO:
  type: object
  properties:
   externalReferenceNo:
    type: string
   ecaEntriesDetailsDTO:
    type: array
    items:
     $ref: "#/definitions/ECAEntriesDetailsDTO"
 ECAEntriesDetailsDTO:
  type: object
  properties:
   module:
    type: string
   transactionRefNo:
    type: string
   eventserialNo:
    type: string
   event:
    type: string
   accBranch:
    type: string
   accountNumber:
    type: string
   accCCY:
    type: string
    maxLength: 3
   drCrIndicator:
    type: string
    pattern: '[C,D]'
   amttag:
    type: string
   lcyAmt:
    type: number
   trnDate:
    type: string
    format: date
   valueDate:
    type: string
    format: date
   ecaRefernceNo:
    type: string
   blockReleaseStatus:
    type: string
    pattern: '[Y,N]'
   chequeMandatory:
    type: string
    pattern: '[Y,N]'
   availBalReqd:
    type: string
    pattern: '[Y,N]'
    default: N
   intraDayRelease:
    type: string
    pattern: '[Y,N]'
   availInfo:
    type: string
   salaryCredit:
    type: string
    pattern: '[Y,N]'
    default: N
   sweepRequried:
    type: string
    pattern: '[Y,N]'
    default: N
   escrow:
    type: string
    pattern: '[Y,N]'
    default: N    
   AMLMontoring:
    type: string
    pattern: '[Y,N]'
    default: N
   considerForAccActivity:
    type: string
    pattern: '[Y,N]'
    default: Y
   balUpdThruPC:
    type: string
    pattern: '[Y,N]'
    default: N
   txnNarrative:
    type: string
 EACResponseDTO:
  type: object
  properties:
    response:
      $ref: "#/definitions/ResponseDtoWrapper"
    eacdata:
      $ref: "#/definitions/EACRequestMastDTO"    
 EACRequestMastDTO:
  type: object
  properties:
     sourceReferenceNo:
      type: string
     eacRequestDetDTO:
      type: array
      items:
       $ref: '#/definitions/EACRequestDetDTO'
  required:
    - sourceReferenceNo
    - eacRequestDetDTO
 EACRequestDetDTO:
  type: object
  properties:
     drCrInd:
      type: string
      maxLength: 1
      pattern: '[D,C]'
     txnAccount:
      type: string
     txnAccountBrn:
      type: string
      maxLength: 3
     txnCcy:
      type: string
      maxLength: 3
     txnAmount:
      type: number
  required:
    - drCrInd
    - txnAccount
    - txnCcy
    - txnAmount
 TransactionWrapperDTO:
  type: object
  properties:
     data:
      $ref: '#/definitions/TransactionMasterDTO'
 ResponseDtoWrapper:
  type: object
  properties:
   messages:
    $ref: "#/definitions/ResponseDto"
   data:
    $ref: "#/definitions/ResponseResourceSupport"
 ResponseResourceSupport:
  type: object
 ResponseDto:
  type: object
  properties:
   id:
    type: string
   status:
    type: string
   codes:
    type: array
    items:
     $ref: "#/definitions/ResponseCode"
   requestId:
    type: string
 ResponseCode:
  type: object
  properties:
   Code:
    type: string
   Desc:
    type: string
   Type:
    type: string
   Language:
    type: string
   args:
    type: array
    items:
     type: object
   arg:
    type: string
 ResourceSupport:
  allOf:
   - type: object
     discriminator: resource_type  
 TransactionCollection:
  type: object
  properties:
   data:
    type: array
    items:
     $ref: "#/definitions/TransactionMasterDTO"
   paging:
    $ref: "#/definitions/PagingDto"
 PagingDto:
  type: object
  properties:
   totalResults:
    type: integer
