swagger: "2.0"
info:
  description: "  You can find out more about Swagger at [swagger.io](http://swagger.io) and about data types at [Swagger Data Types](https://swagger.io/docs/specification/data-models/data-types/)"
  version: "1.0.0"
  title: "PlatoTmEntity Service"
host: "api-plato.us.oracle.com:8080"
basePath: "/api/1.0"
consumes:
  - "application/json"
  - "application/xml"
produces:
  - "application/json"
  - "application/xml"
tags:
  - name: "PlatoTmEntityAPI"
    description: ""
    
schemes:
- "https"

paths:
  /createEntity:
    post:
      tags:
        - "EntityAPI"
      summary: "Create Entity"
      description: ""
      operationId: "createEntity"
      parameters:
        - name: "EntityDetails"
          in: "body"
          description: "Request Body that contains data required for creating a new entity"
          required: true
          schema:
            $ref: "#/definitions/PlatoTmEntityDetailsModel"
      responses:
        200:
          description: "Returns updated entity"
          schema:
            $ref: "#/definitions/PlatoTmEntityDetailsModel"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error" 
  /updateEntity:
    post:
      tags:
        - "UpdateEntityAPI"
      summary: "Update Entity"
      description: ""
      operationId: "updateEntity"
      parameters:
        - name: "EntityDetails"
          in: "body"
          description: "Request Body that contains data required for updating the entity"
          required: true
          schema:
            $ref: "#/definitions/PlatoTmEntityDetailsModel"
      responses:
        200:
          description: "Returns updated entity"
          schema:
            $ref: "#/definitions/PlatoTmEntityDetailsModel"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
  /getEntity/{entityId}:
    get:
      tags:
        - "GetEntityAPI"
      summary: "Retrieves the details of entity."
      description:  "Retrieves the details of entity. "
      operationId: "getEntityDetails"
      parameters:
        - name: "entityId"
          in: "path"
          description: "Id"
          required: true
          type: "string"     
      responses:
        200:
          description: "Successful performs the operation"
          schema:
            $ref: "#/definitions/PlatoTmEntityDetailsModel"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"     
  /entitiesList:          
    get:
      tags:
        - "EntityAPI"
      summary: "Retrieves the list of entities."
      description:  "Retrieves the list of entities. "
      operationId: "getEntity"
      responses:
        200:
          description: "Successful performs the operation"
          schema:
            $ref: "#/definitions/PlatoTmEntityCollection"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"
  /getHoBranchCode/{entityId}:
    get:
      tags:
        - "GetHoBranchApi"
      summary: "Retrieves the Ho Branch of entity."
      description:  "Retrieves the Ho Branch of entity. "
      operationId: "getHoBranch"
      parameters:
        - name: "entityId"
          in: "path"
          description: "Id"
          required: true
          type: "string"     
      responses:
        200:
          description: "Successful performs the operation"
          schema:
            $ref: "#/definitions/PlatoTmEntityHoBranchModel"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"     
  /createUser:
    post:
      tags:
        - "UserAPI"
      summary: "Create User"
      description: ""
      operationId: "createUser"
      parameters:
        - name: "UserDetails"
          in: "body"
          description: "Request Body that contains data required for creating a new user"
          required: true
          schema:
            $ref: "#/definitions/PlatoTmEntityDetailsModelUsers"
      responses:
        201:
          description: ""
          schema:
            $ref: "#/definitions/PlatoTmEntityDetailsModelUsers"
            # type: "object"
            # description: "Id of the newly created user"
            # properties:
            #     id:
            #       type: "string"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
  /getUsers:
    get:
      tags:
        - "UserAPI"
      summary: "Get User"
      description: ""
      operationId: "getUsers"
      parameters:
        - name: "entityId"
          in: "query"
          description: "Id"
          required: false
          type: "string"
        - name: "userId"
          in: "query"
          description: "Id"
          required: false
          type: "string"
      responses:
        200:
          description: "Successful performs the operation"
          schema:
            $ref: "#/definitions/PlatoTmEntityDetailsUsersCollection"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"      
  /getUsers/{userId}:
    get:
      tags:
        - "UserAPI"
      summary: "Get User"
      description: ""
      operationId: "getUserDetails"
      parameters:
        - name: "userId"
          in: "path"
          description: "Id"
          required: true
          type: "string"
      responses:
        200:
          description: "Successful performs the operation"
          schema:
            $ref: "#/definitions/PlatoTmEntityDetailsModelUsers"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
  /updateUser:
    post:
      tags:
        - "UpdateUserAPI"
      summary: "Update User"
      description: ""
      operationId: "updateUser"
      parameters:
        - name: "UserDetails"
          in: "body"
          description: "Request Body that contains data required for creating a new user"
          required: true
          schema:
            $ref: "#/definitions/PlatoTmEntityDetailsModelUsers"
      responses:
        201:
          description: ""
          schema:
            $ref: "#/definitions/PlatoTmEntityDetailsModelUsers"
            # type: "object"
            # description: "Id of the newly created user"
            # properties:
            #     id:
            #       type: "string"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"    
definitions:
  PlatoTmEntityModel:
    description: "PlatoTmEntity model"
    type: "object"
    properties:
      id:
        description: "Id of the PlatoTmEntity"
        type: "string"
      entityId:
        description: "Entity ID"
        type: "string"
      entityName:
        description: "Entity Name"
        type: "string"
  PlatoTmEntityCollection:
    description: "Collection of PlatoTmEntity."
    type: "object"
    properties:
      data:
        type: "array"
        items:
          $ref: "#/definitions/PlatoTmEntityModel"
  PlatoTmEntityDetailsModel:
    description: "Entity Details"
    type: "object"
    properties:
      id:
        type: string
      entityId:
        type: "string"
      entityName:
        type: "string"
      hoBrnCode:
        type: "string"
      srcBrnCode:
        type: "string"
      hoBrnName:
        type: "string"
      hostCode:
        type: "string"
      countryCode:
        type: "string"
      branchAddress:
        type: "string"
      today:
        type: "string"
      prevWorkingDay:
        type: "string"
      nextWorkingDay:
        type: "string"
      bankCode:
        type: "string"
      bankName:
        type: "string"
      currencyCode:
        type: "string"
      countryDesc:
        type: "string"
      apps:
        type: "array"
        items:
          type: "object"
          properties:
            appId:
              type: string 
            jndi:
              type: string
      errorCode:
        type: string
      errorMsg:
        type: string
  PlatoTmEntityDetailsModelUsers:
    description: "Users Entity Details"
    type: "object"
    properties:
      id:
        type: string
      userId: 
        type: string
      # homeEntity:
      #   type: string
      # entityAdmin:
      #   type: string
      # homeBranch:
      #   type: string
      userName:
        type: string
      locale:
        type: string
      startDate:
        type: string
        #format: date
      endDate:
        type: string
        #format: date
      emailId:
        type: string
      langCode:
        type: string
      entities:
        type: "array"
        items:
          type: "object"
          properties:
            entityId:
              type: string
            #entityName:
             # type: string
            homeEntity:
              type: string
            entityAdmin:
              type: string
      errorCode:
        type: string
      errorMsg:
        type: string              
      # user:
      #   type: "object"
      #   items:
      #     type: "object"
      #     properties:
      #       id:
      #         type: string
      #       userId: 
      #         type: string
      #       homeEntity:
      #         type: string
      #       entityAdmin:
      #         type: string
      #       homeBranch:
      #         type: string
      #       userName:
      #         type: string
      #       locale:
      #         type: string
      #       startDate:
      #         type: string
      #       endDate:
      #         type: string
  PlatoTmUsers:
    description: "Users  Details"
    type: "object"
    properties:
      id:
        type: string
      userId: 
        type: string
      # homeEntity:
      #   type: string
      # entityAdmin:
      #   type: string
      # homeBranch:
      #   type: string
      userName:
        type: string
      homeEntity:
        type: string    
  PlatoTmUserCollection:
    description: "Collection of PlatoTmEntityDetailsModelUsers."
    type: "object"
    properties:
      PlatoTmEntityList:
        type: "array"
        items:
          $ref: "#/definitions/PlatoTmEntityDetailsModelUsers"   
  PlatoTmEntityDetailsUsersCollection:
    description: ""
    type: "object"
    properties:
      data:
        type: "array"
        items:
          $ref: "#/definitions/PlatoTmUsers"    
  PlatoTmEntityHoBranchModel:
    description: "Ho Branch"
    type: "object"
    properties:
      HoBranchCode:
        type: string               
       
                
    