swagger: "2.0"
info:
  description: "This is a sample server Customer server.  You can find out more about Swagger at [swagger.io](http://swagger.io) and about data types at [Swagger Data Types](https://swagger.io/docs/specification/data-models/data-types/)"
  version: "1.0.0"
  title: "WorkflowInterface"
host: "api-plato.us.oracle.com:8080"
basePath: "/api/1.0"
consumes:
  - "application/json"
  - "application/xml"
produces:
  - "application/json"
  - "application/xml"
tags:
  - name: "WorkflowInterface"
    
schemes:
- "https"

paths: {}

definitions:
  ConductorWorkflowModel:
    description: "ConductorWorkflowModel"
    type: "object"
    properties:
      processCode:
        type: "string"
        description: "Process Code to identify workflow"
      processName:
        type: "string"
        description: "Process Name to identify workflow"
      userId:
        type: "string"
        description: "User Id"
      stageId:
        type: "string"
        description: "Stage Id"
      stageDescription:
        type: "string"
        description: "Stage description"
      branchCode:     
        type: "string"
        description: "Branch Code"
      errorCode:
        type: "string"
        description: "Error Code"
      errorDesc:
        type: "string"
        description: "Error description"
      transactionReferenceNo:
        type: "string"
        description: "Transaction Reference Number"
      processingDate:
        description: "Processing Date"
        type: "string"
      businessDate:
        description: "Business Date"
        type: "string"
      workflowInstanceId:
        description: "Workflow Instance Id"
        type: "string"
      taskInstanceId:
        description: "Task Instance Id"
        type: "string"
      uri:
        description: "EndPoint of Workflow Service"
        type: "string"
      appId:
        description: "appId of Workflow Service"
        type: "string"
      product:
        description: "Product type to identify service for instrument"
        type: "string"
      productCategory:
        description: "Product category to identify datasegment"
        type: "string"
      applicationNumber:
        description: "Reference number without sequence number"
        type: "string"
      customerNumber:
        description: "Customer Id"
        type: "string"
      amount:
        type: "number"
        description: "Instrument Amount"
      currencyCode:
        type: "string"
        description: "Instrument Currency"
      priority:
        description: "To decide the priority of the task"
        type: "string"
      applicationCode:
        description: "Application code"
        type: "string"
      instrumentModel:
        $ref: "#/definitions/InstrumentModel"
      discountOffer:
        $ref: "#/definitions/DiscountingModel"
      cashManagementModel:  
        $ref: "#/definitions/CashManagementModel"
      fileUploadModel:
        $ref: "#/definitions/FileUploadModel"
      manualReconModel:
        $ref: "#/definitions/ManualReconModel"
      financeModel:
        $ref: "#/definitions/FinanceModel"
      marginRefundModel:
        $ref: "#/definitions/MarginRefundModel"
      workflowType:
         description: "Workflow type"
         type: "string"    
      productCode:
         description: "Product Code"
         type: "string"    
      event:
         description: "Event"
         type: "string"
      isAutoAuth:
         description: "Is Auto Authorized"
         type: "string"
      isReworkAllowed:
         description: "Is Rework Allowed"
         type: "string"
      version:
         type: "integer"
         description: "Version"
      exceptionQueueName:
         type: "string"
         description: "Exception Queue Name"
      rollbackQueueName:
         type: "string"
         description: "Rollback Queue Name"
      eventCode:
         type: "string"
         description: "Event Code"
      server:
         type: "string"
         description: "Server"
      isInProgKafkaTaskReqd:
         type: "string"
         description: "isInProgKafkaTaskReqd"
      screenName:
         type: "string"
         description: "Screen Name"
      isFcubsIntegrationReqd:
        type: "string"
      
  MarginRefundModel:
    description: "MarginRefundModel"
    properties: 
      marginType:
        type: "string"
        description: "Margin Type"
      marginRefNo:
        type: "string"
        description: "Margin Reference Number"
      isExtPaymentSynchronous:
        type: "string"
        description: "External Payment Synchronous Flag"
      instrumentType:
        type: "string"
        description: "Instrument Type"
      supplier:
        type: "string"
        description: "Supplier Name"
      buyer:
        type: "string"
        description: "Buyer Name"
                
  InstrumentModel:
    description: "InstrumentModel"
    properties: 
      action:
        type: "string"
        description: "Action"
      isAutoAuth:
        type: "string"
        description: "IsAutoAuth"
      isFileUpload:
        type: "string"
        description: "isFileUpload"
      isFileAuthorized:
        type: "string"
        description: "isFileUpload"
      isPortalTxn:
        type: "string"
        description: "isPortalTxn"
      instrumentType:
        type: "string"
        description: "Instrument Type"
      isFromML:
        type: "string"
        description: "Check if txn is from ML"
      isMLHumanTaskReqd:
        type: "string"
        description: "Check if ml txn requires human task"
      isAutoProcessingReqInv:
        type: "string"
        description: "Check if auto processing required"
      isManualEnrichmentReqdInv:
        type: "string"
        description: "Check if manual processing required"  
      limitBlockReqdInv:
        type: "string"
        description: "Check if limits block required"  
      limitUtilRelReqdInv:
        type: "string"
        description: "Check if limits util or release required"
      isAccountingApplicable:
        type: "string"
        description: "Check if accounting applicable" 
      executionId:
        type: "string"
        description: "Execution Id"
      iwpBunchIdentifier:
        type: "string"
        description: "iwpBunchIdentifier"
      fipBunchIdentifier:
        type: "string"
        description: "fipBunchIdentifier"
      nfipBunchIdentifier:
        type: "string"
        description: "nfipBunchIdentifier"
      flowType:
        type: "string"
        description: "flowType"  
      isFciIntegrationReqd:
        type: "string"
        description: "Check if fci integration required"          
      additionalDetails:
       type: object
       additionalProperties:
        type: object
        
  CashManagementModel:
    description: "CashManagementModel"
    properties:
      productGroup:
        type: "string"
        description: "Product Group"
      channel:
        type: "string"
        description: "Channel"
      operation:
        type: "string"
        description: "Operation"
      referenceNo:
        type: "string"
        description: "Reference No"
      seqNo:  
        type: "string"
        description: "Seq No" 
      isAccEntryGenRequired:
        description: "Is Acc Entry Gen Reqd"
        type: "string"
      isOnlinePostingReqd:
        description: "Is Online Posting Reqd"
        type: "string"
      isClearingRequired:
        description: "Is Clearing Reqd"
        type: "string"
      isScheduleGenerationRequired:
        description: "Is Schedule Generation Reqd"
        type: "string"
      isPoolingRequired:
        description: "Is Pooling Reqd"
        type: "string"
      isManualEnrichmentReqd:
        description: "Is Manual Enrichment Reqd"
        type: "string"
      countOfDepositSlips:
        description: "Count of Deposit Slips"
        type: "integer"
        format: "int64"
      countOfInstruments:
        description: "Count of Instruments"
        type: "integer"
        format: "int64"
      isAutoAuth:
        type: "string"
        description: "IsAutoAuth"
      instrumentType:
        type: "string"
        description: "Instrument Type"
      isUpdateCheckReqd:
        type: "string"
        description: "isUpdateCheckReqd"
      isArrAndPoolingReqd:
        type: "string"
        description: "isArrAndPoolingReqd"
      additionalDetails:
       type: object
       additionalProperties:
        type: object  
  FileUploadModel:
    description: "FileUploadModel"
    properties:
      fileId:
        type: "string"
        description: "fileId"
      fileReference:
        type: "string"
        description: "fileReference"
      isRouteViaInstrumentWorkflow:
        type: "string"
        description: "isRouteViaInstrumentWorkflow"
      isAutoAuth:
        type: "string"
        description: "isAutoAuth"
      isResponseFileRequired: 
        type: "string"
        description: "isResponseFileRequired"
      isRouteViaUpdateInstrumentWorkflow:
        type: "string"
        description: "isRouteViaUpdateInstrumentWorkflow"
      filePath:
        type: "string"
        description: "File Path"
      fileName:
        type: "string"
        description: "File Name"
      additionalDetails:
       type: object
       additionalProperties:
        type: object
        
  ManualReconModel:
    description: "ManualReconModel"
    properties:
      isAutoAuth:
        description: "Is Auto Authorized"
        type: "string" 
      reconTxnRefNo:
        description: "Transaction Reference Number"
        type: "string"
      isVamIntegrationReqd:
        description: "Flag for Reference Number"
        type: "string"
      isFinanceIntegrationReqd:
        description: "Flag for finance settlement "
        type: "string"
      invAcquireTaskReqd:
        description: "Flag for to acquire invoice task"
        type: "string"
      limitBlockReqd:
        description: "Flag for Limit Block Applicable"
        type: "string"
      limitUtilRelReqd: 
        description: "Flag for Limit Utilization and Realization "
        type: "string"
      isAccountingApplicable:
        description: "Flag for Accounting Applicable"
        type: "string"
      financeRefNumber:
        description: "Finance Transaction Reference Number for FPR"
        type: "string"
      isPartialAuthReqd:
        description: "Partial Authorisation Check for FPR"
        type: "string"
      additionalDetails:
       type: object
       additionalProperties:
        type: object
  FinanceModel:
    description: "FinanceModel"
    properties:
      financeRefNo:
        type: "string"
        description: "Finance Reference Number"
      financeRefNoSeqNo:
        type: "string"
        description: "Finance Reference No Sequence No"
      financeSeqNo:
        type: "integer"
        format: "int64"
        description: "Finance Sequence Number"
      taskName:
        type: "string"
        description: "Task name"
      isAutoProcessing:
        type: "string"
        description: "isAutoProcessing flag"
      isLimitBlockReqd:
        type: "string"
        description: "isLimitBlockReqd flag"
      isAuthRequired:
        type: "string"
        description: "isAuthRequired flag"
      isAccEntriesPostRequired:
        type: "string"
        description: "isAccEntriesPostRequired flag"
      isLimitUtilReleaseRequired:
        type: "string"
        description: "isLimitUtilReleaseRequired flag"
      isExternalPaymentRequired:
        type: "string"
        description: "isExternalPaymentRequired flag"
      isUpdateFinanceMasterReqd:
        type: "string"
        description: "isUpdateFinanceMasterReqd flag"
      isInstrumentUpdateReqd:
        type: "string"
        description: "isInstrumentUpdateReqd flag"
      isObclTxnUpdateReqd:
        type: "string"
        description: "isObclTxnUpdateReqd flag"
      isAlertsAndNotificationReqd:
        type: "string"
        description: "isAlertsAndNotificationReqd flag"
      userAmount:
        type: "number"
      userCcy:
        type: "string"
      txnRefNo:
        type: "string"
        description: "Transaction Reference Number"  
      isFromRecon:
        type: "string"
        description: "isFromRecon flag"        
      additionalDetails:
       type: object
       additionalProperties:
        type: object
      executionId:
       type: "string"   
       description: "Execution id" 
      splitFinRefNo:
        type: "string"
        description: "Finance Reference Number for split finances to be used in adhoc limits"
      splitFinSeqNo:
        type: "integer"
        format: "int64"
        description: "Finance Sequence Number of Split Transaction"
      splitFinRefSeqNo:
        type: "string"
        description: "Finance Reference Sequence Number of Split Transaction"
      isAdhocTxnCreationReqd:
        type: "string"
        description: "Flag To State If Adhoc Transaction Needs To Be Created"
      isAdhocTxnInitiateReqd:
        type: "string"
        description: "Flag To State If Adhoc Transaction Needs To Be Initiated"
      blockLimitsProcessingReqd:
        type: "string"
        description: "Limits Processing Flag"
      isLimitApplicable:
        type: "string"
        description: "Limit Applicable Flag"
      isExtPaymentSynchronous:
        type: "string"
      isAccountingSynchronous:
        type: "string"
        
  DiscountingModel:
    description: "Discounting Model"
    properties:
      isAutoAuth:
        type: "string"
        description: "isAutoAuth"
      discountRuleId:
        type: "string"
        description: "Discount Rule Id"
      requestorParty:
        type: "string"
        description: "Requestor Party Id"
      requestorPartyName:
        type: "string"
        description: "Requestor Party Name"
      discountType:
        type: "string"
        description: "Discount Type"  
      additionalDetails:
       type: object
       additionalProperties:
        type: object      
