#-----------------------------------------------------------------------------------------------------
#  **
#  ** File Name  : common.yaml
#  **
#  ** Module     : obscfcmpaymenttermstm
#  ** 
#  ** This source is part of the Oracle FLEXCUBE  and is copyrighted by Oracle Financial Services Software Limited.  ** 
#  ** 
#  ** All rights reserved. No part of this work may be reproduced, stored in a retrieval system,
#  ** adopted or transmitted in any form or by any means, electronic, mechanical, photographic,
#  ** graphic, optic recording or otherwise, translated in any language or computer language,
#  ** without the prior written permission of Oracle Financial Services Software Limited.
#  ** 
#  ** Oracle Financial Services Software Limited.
#  ** 10-11, SDF I, SEEPZ, Andheri (East),
#  ** Mumbai - 400 096.
#  ** India
#  ** Copyright 2017-2018 Oracle Financial Services Software Limited. All rights reserved.
#  -------------------------------------------------------------------------------------------------------
#
#  CHANGE HISTORY
#
#  Created By         :  System
#
#  Bug Number         :  
#  Changed By         :  
#  Change Description :  
#  Change On          :  
#  Search String      :  
#  
#  -------------------------------------------------------------------------------------------------------
  

swagger: "2.0"
info:
 description: "This is a sample server obscfcmpaymenttermstm server." 
 version: "1.0.0"
 title: "obscfcmpaymenttermstm Service"
host: "api-plato.us.oracle.com:8080"
basePath: "/api/1.0"
consumes:
 - "application/json"
produces:
 - "application/json"
tags:
 - name: "obscfcmpaymenttermstm"
   description: "this service is to manage crud operations in master datasegment  .........................................................................................................................................."

schemes:
- "https"

paths:

# path to create a new record and fetch all valid records or by intent
#
#  supprorted http methods POST and GET
#
# path example ../obscfcmpaymenttermstm

 /obscfcmpaymenttermstm:
  post:
   tags:
    - "obscfcmpaymenttermstm"
   summary: "Adds a new obscfcmpaymenttermstm."
   description: "Adds a new obscfcmpaymenttermstm. Add additional information here for this endpoint."
   operationId: "saveRecord"
   parameters:
    - name: "obscfcmpaymenttermstm" 
      in: "body" 
      description: "Request Body that contains data required for creating a new obscfcmpaymenttermstm" 
      required: true
      schema:
       $ref: "#/definitions/ObscfcmPaymentTermsTmModel"
   responses:
    201: 
     description: "Returns message of succes or failure " 
     headers:
      Location:
       description: "URL of newly created obscfcmpaymenttermstm" 
       type: "string"
     schema:
       $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "obscfcmpaymenttermstm"
   summary: "Get all valid obscfcmpaymenttermstm."
   description:  "Get all valid obscfcmpaymenttermstm. This endpoints will be used to Get all valid obscfcmpaymenttermstm maintenance records."
   operationId: "getAll"
   parameters:
   - name: includecloseandunauth
     in: query
     description: includecloseandunauth need to be set to fetch summary record, defult value is false
     required: false
     type: boolean
   - name: offset
     in: query
     description: offset is starting no of records to be fetched
     required: false
     type: integer
   - name: limit
     in: query
     description: limit is maximum no of records to be fetched
     required: false
     type: integer
   responses:
    201:
     description: "Returns message of success or failure"
     headers: 
      Location:
       description: ""
       type: "string"
     schema:
       $ref: "#/definitions/ObscfcmPaymentTermsTmCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"

# path to modify existing record, delete existing record and fetch valid records by id or by intent( includes latestRecord, version no)
#
#  supprorted http methods PUT, DELETE and GET
#
# path examples----
#   PUT       .../obscfcmpaymenttermstm/xxx
#   DELETE    .../obscfcmpaymenttermstm/xxx
#   GET       .../obscfcmpaymenttermstm/xxx
#   GET       .../obscfcmpaymenttermstm/xxx?version=latestrecord
#   GET       .../obscfcmpaymenttermstm/xxx?version=1

 /obscfcmpaymenttermstm/{id}:
  put:
   tags:
    - "obscfcmpaymenttermstm"
   summary: "Update an existing obscfcmpaymenttermstm."
   description:  "Update an existing obscfcmpaymenttermstm."
   operationId: "modifyRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "key of the obscfcmpaymenttermstm Maintenance"
      required: true
      type: "string"
    - name: "obscfcmpaymenttermstm"
      in: "body"
      description: "Request Body that contains data required for updating an existing obscfcmpaymenttermstm"
      required: true
      schema:
       $ref: "#/definitions/ObscfcmPaymentTermsTmModel"
   responses:
    200:
     description: "Returns updated obscfcmpaymenttermstm"
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "obscfcmpaymenttermstm"
   summary: "Retrieves the obscfcmpaymenttermstm by ID."
   description:  "Retrieves the obscfcmpaymenttermstm by ID."
   operationId: "getById"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
    - name: "version"
      in: "query"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the obscfcmpaymenttermstm based on given id."
     schema:
      $ref: "#/definitions/ObscfcmPaymentTermsTmWrapperModel"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
  delete:
   tags:
    - "obscfcmpaymenttermstm"
   summary: "Deletes the obscfcmpaymenttermstm identified by given ID."
   description:  "Deletes the obscfcmpaymenttermstm identified by given ID. Add additional information here for the this endpoint."
   operationId: "delete"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the obscfcmpaymenttermstm maintenance"
      required: true
      type: "string"
    - name: "obscfcmpaymenttermstm"
      in: "body"
      description: Request body contain obscfcmpaymenttermstm and Modification no of obscfcmpaymenttermstm maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to Authorize existing record.
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../obscfcmpaymenttermstm/xxx/approve

 /obscfcmpaymenttermstm/{id}/approve:
  patch:
   tags:
    - "obscfcmpaymenttermstm"
   summary: "Authorize the obscfcmpaymenttermstm by given ID."
   description:  "Authorize the obscfcmpaymenttermstm identified by given ID."
   operationId: "authorize"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the obscfcmpaymenttermstm maintenance"
      required: true
      type: "string"
    - name: "obscfcmpaymenttermstm"
      in: "body"
      description: Request body contain obscfcmpaymenttermstm and Modification no of obscfcmpaymenttermstm maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to close existing record
#
#  supported http methods PATCH
#
# path examples----
#   PATCH       .../obscfcmpaymenttermstm/xxx/close
 /obscfcmpaymenttermstm/{id}/close:
  patch:
   tags:
    - "obscfcmpaymenttermstm"
   summary: "Close the obscfcmpaymenttermstm by given ID."
   description:  "Close the obscfcmpaymenttermstm identified by given ID."
   operationId: "closeRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the obscfcmpaymenttermstm maintenance"
      required: true
      type: "string"
    - name: "obscfcmpaymenttermstm"
      in: "body"
      description: Request body contain obscfcmpaymenttermstm and Modification no of obscfcmpaymenttermstm maintenance which need to be closed"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to reopen existing record
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../obscfcmpaymenttermstm/xxx/reopen

 /obscfcmpaymenttermstm/{id}/reopen:
  patch:
   tags:
    - "obscfcmpaymenttermstm"
   summary: "reopen the obscfcmpaymenttermstm by given ID."
   description:  "reopen the obscfcmpaymenttermstm identified by given ID."
   operationId: "reopenRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the obscfcmpaymenttermstm maintenance"
      required: true
      type: "string"
    - name: "obscfcmpaymenttermstm"
      in: "body"
      description: Request body contain obscfcmpaymenttermstm and Modification no of obscfcmpaymenttermstm maintenance which need to be reopen"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to get all unauthorized records
#
#  supprorted http methods GET
#
# path examples----
#   GET       .../obscfcmpaymenttermstm/xxx/unauthorized

 /obscfcmpaymenttermstm/{id}/unauthorized:
  get:
   tags:
    - "obscfcmpaymenttermstm"
   summary: "Retrives the obscfcmpaymenttermstm by given ID."
   description:  "Retrives the obscfcmpaymenttermstm identified by given ID."
   operationId: "authQuery"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the obscfcmpaymenttermstm based on given id."
     schema:
       $ref: "#/definitions/ObscfcmPaymentTermsTmCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to  history record for remitterid
#
#  supprorted http methods GETS
#
# path examples----
#   GET       .../obscfcmpaymenttermstm/xxx/history

 /obscfcmpaymenttermstm/{id}/history:
  get:
   tags:
    - "obscfcmpaymenttermstm"
   summary: "Retrives the obscfcmpaymenttermstm by given ID."
   description:  "Retrives the obscfcmpaymenttermstm by ID."
   operationId: "getHistory"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the obscfcmpaymenttermstm based on given id."
     schema:
       $ref: "#/definitions/ObscfcmPaymentTermsTmCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
 /obscfcmpaymenttermstm/{id}/isValid:
  get:
   tags:
    - "obscfcmpaymenttermstm"
   summary: "Validate the ObscfcmPaymentTermsTm by ResourceId"
   description:  "Validate the ObscfcmPaymentTermsTm by ResourceId"
   operationId: "validateObscfcmPaymentTermsTm"
   parameters:
    - name: "resourceId"
      in: "path"
      description: "resourceId of the user that needs to be validated"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the boolean based on validation of given resource id."
     schema:
       $ref: "#/definitions/boolean"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
definitions:
 ObscfcmPaymentTermsTmModel:
  type: object
  allOf:
  - $ref: '#/definitions/GenericDto'
  - type: object
    properties:
     id:
      type: string
      description: "id of payment terms"
     action:
      type: string
      description: "action to be performed"
     autoAuth:
      type: string
      description: "autho auth status"
     modificationStatus:
      type: string
      description: "modification Status"   
     datasegmentCode:
      type: string
      description: 'Datasegment code'
     checkerRemarks:
      type: string
      description: 'Checker Remarks' 
     makerRemarks:
      type: string
      description: 'Maker Remarks'                            
     applicationCode:
      type: string
      description: "ApplicationCode for Payment Terms"
     filterAttr1: 
      description: "FilterAttr1 for Payment Terms"
      type: string
     filterAttr1Name:
      type: string
      description: "FilterAttr1 Name for Payment Terms" 
     filterAttr1Label:
      type: string
      description: "Filter Attribute 1 Label"
     filterAttr1ColumnName:
      type: string
      description: "Filter Attribute 1 Column Name"
     filterAttr1Type:
      type: string
      description: "Filter Attribute 1 Type"
     filterAttr1EndpointValue:
      type: string
      description: "Filter Attribute 1 Endpoint Key"
     filterAttr1ReqParams:
      type: string
      description: "Filter Attribute 1 ReqParams"
     filterAttr1LovConfig:
      type: "array"
      description: "Filter Attribute 1 LOV Config Data"
      items:
       $ref: '#/definitions/Map'
     filterAttr2: 
      description: "filterAttr2 for Payment Terms"
      type: string
     filterAttr2Name:
      type: string
      description: "FilterAttr2 Name for Payment Terms" 
     filterAttr2Label:
      type: string
      description: "Filter Attribute 2 Label"
     filterAttr2ColumnName:
      type: string
      description: "Filter Attribute 2 Column Name"
     filterAttr2Type:
      type: string
      description: "Filter Attribute 2 Type"
     filterAttr2EndpointValue:
      type: string
      description: "Filter Attribute 2 Endpoint Key"
     filterAttr2ReqParams:
      type: string
      description: "Filter Attribute 2 ReqParams"
     filterAttr2LovConfig:
      type: "array"
      description: "Filter Attribute 2 LOV Config Data"
      items:
       $ref: '#/definitions/Map' 
     filterAttr3: 
      description: "filterAttr2 for Payment Terms"
      type: string
     filterAttr3Name:
      type: string
      description: "FilterAttr3 Name for Payment Terms" 
     filterAttr3Label:
      type: string
      description: "Filter Attribute 3 Label"
     filterAttr3ColumnName:
      type: string
      description: "Filter Attribute 3 Column Name"
     filterAttr3Type:
      type: string
      description: "Filter Attribute 3 Type"
     filterAttr3EndpointValue:
      type: string
      description: "Filter Attribute 3 Endpoint Key"
     filterAttr3ReqParams:
      type: string
      description: "Filter Attribute 3 ReqParams"
     filterAttr3LovConfig:
      type: "array"
      description: "Filter Attribute 2 LOV Config Data"
      items:
       $ref: '#/definitions/Map'
     filterAttr4: 
      description: "filterAttr3 for Payment Terms"
      type: string
     filterAttr4Name:
      type: string
      description: "FilterAttr4 Name for Payment Terms" 
     filterAttr4Label:
      type: string
      description: "Filter Attribute 4 Label"
     filterAttr4ColumnName:
      type: string
      description: "Filter Attribute 4 Column Name"
     filterAttr4Type:
      type: string
      description: "Filter Attribute 4 Type"
     filterAttr4EndpointValue:
      type: string
      description: "Filter Attribute 4 Endpoint Key"
     filterAttr4ReqParams:
      type: string
      description: "Filter Attribute 4 ReqParams"
     filterAttr4LovConfig:
      type: "array"
      description: "Filter Attribute 2 LOV Config Data"
      items:
       $ref: '#/definitions/Map' 
     filterAttr5: 
      description: "filterAttr5 for Payment Terms"
      type: string
     filterAttr5Name:
      type: string
      description: "FilterAttr5 Name for Payment Terms" 
     filterAttr5Label:
      type: string
      description: "Filter Attribute 5 Label"
     filterAttr5ColumnName:
      type: string
      description: "Filter Attribute 5 Column Name"
     filterAttr5Type:
      type: string
      description: "Filter Attribute 5 Type"
     filterAttr5EndpointValue:
      type: string
      description: "Filter Attribute 5 Endpoint Key"
     filterAttr5ReqParams:
      type: string
      description: "Filter Attribute 5 ReqParams"
     filterAttr5LovConfig:
      type: "array"
      description: "Filter Attribute 2 LOV Config Data"
      items:
       $ref: '#/definitions/Map'
     filterAttr6: 
      description: "FilterAttr6 for Payment Terms"
      type: string
     filterAttr6Name:
      type: string
      description: "FilterAttr6 Name for Payment Terms" 
     filterAttr6Label:
      type: string
      description: "Filter Attribute 6 Label"
     filterAttr6ColumnName:
      type: string
      description: "Filter Attribute 6 Column Name"
     filterAttr6Type:
      type: string
      description: "Filter Attribute 6 Type"
     filterAttr6EndpointValue:
      type: string
      description: "Filter Attribute 6 Endpoint Key"
     filterAttr6ReqParams:
      type: string
      description: "Filter Attribute 6 ReqParams"
     filterAttr6LovConfig:
      type: "array"
      description: "Filter Attribute 2 LOV Config Data"
      items:
       $ref: '#/definitions/Map'
     filterAttr7: 
      description: "FilterAttr7 for Payment Terms"
      type: string
     filterAttr7Name:
      type: string
      description: "FilterAttr7 Name for Payment Terms" 
     filterAttr7Label:
      type: string
      description: "Filter Attribute 7 Label"
     filterAttr7ColumnName:
      type: string
      description: "Filter Attribute 7 Column Name"
     filterAttr7Type:
      type: string
      description: "Filter Attribute 7 Type"
     filterAttr7EndpointValue:
      type: string
      description: "Filter Attribute 7 Endpoint Key"
     filterAttr7ReqParams:
      type: string
      description: "Filter Attribute 7 ReqParams"
     filterAttr7LovConfig:
      type: "array"
      description: "Filter Attribute 2 LOV Config Data"
      items:
       $ref: '#/definitions/Map'
     filterAttr8: 
      description: "FilterAttr8 for Payment Terms"
      type: string
     filterAttr8Name:
      type: string
      description: "FilterAttr8 Name for Payment Terms" 
     filterAttr8Label:
      type: string
      description: "Filter Attribute 8 Label"
     filterAttr8ColumnName:
      type: string
      description: "Filter Attribute 8 Column Name"
     filterAttr8Type:
      type: string
      description: "Filter Attribute 8 Type"
     filterAttr8EndpointValue:
      type: string
      description: "Filter Attribute 8 Endpoint Key"
     filterAttr8ReqParams:
      type: string
      description: "Filter Attribute 8 ReqParams"
     filterAttr8LovConfig:
      type: "array"
      description: "Filter Attribute 2 LOV Config Data"
      items:
       $ref: '#/definitions/Map'
     filterAttr9: 
      description: "FilterAttr9 for Payment Terms"
      type: string
     filterAttr9Name:
      type: string
      description: "FilterAttr9 Name for Payment Terms" 
     filterAttr9Label:
      type: string
      description: "Filter Attribute 9 Label"
     filterAttr9ColumnName:
      type: string
      description: "Filter Attribute 9 Column Name"
     filterAttr9Type:
      type: string
      description: "Filter Attribute 9 Type"
     filterAttr9EndpointValue:
      type: string
      description: "Filter Attribute 9 Endpoint Key"
     filterAttr9ReqParams:
      type: string
      description: "Filter Attribute 9 ReqParams"
     filterAttr9LovConfig:
      type: "array"
      description: "Filter Attribute 2 LOV Config Data"
      items:
       $ref: '#/definitions/Map'
     filterAttr10: 
      description: "FilterAttr10 for Payment Terms"
      type: string
     filterAttr10Name:
      type: string
      description: "FilterAttr10 Name for Payment Terms" 
     filterAttr10Label:
      type: string
      description: "Filter Attribute 10 Label"
     filterAttr10ColumnName:
      type: string
      description: "Filter Attribute 10 Column Name"
     filterAttr10Type:
      type: string
      description: "Filter Attribute 10 Type"
     filterAttr10EndpointValue:
      type: string
      description: "Filter Attribute 10 Endpoint Key"
     filterAttr10ReqParams:
      type: string
      description: "Filter Attribute 10 ReqParams"
     filterAttr10LovConfig:
      type: "array"
      description: "Filter Attribute 2 LOV Config Data"
      items:
       $ref: '#/definitions/Map'
     filterCriteria:
      type: string
      description: "Filter Criteria for Payment Terms"
     daysOfTheMonth:
      type: string
      description: "DaysOfTheMonth for Payment Terms"
     daysOfTheWeek:
      type: string
      description: "DaysOfTheWeek for Payment Terms"
     frequencyOfPayments:
      type: string
      description: "FrequencyOfPayments for Payment Terms"
     holidayTreatment:
      type: string
      description: "HolidayTreatment for Payment Terms"
     minimumCreditPeriod:
      type: number
      description: "MinimumCreditPeriod for Payment Terms"
     paymentDateCalculationBasis:
      type: string
      description: "PaymentDateCalculationBasis for payment Terms"
     ObscfcmPaymentCustomTermsTmModel:
      type: array
      items:
       $ref: '#/definitions/ObscfcmPaymentCustomTermsTmModel'
 ObscfcmPaymentCustomTermsTmModel:
  type: object
  properties:
     id:
      type: string
      description: "id"
     fromDay:
      type: string
      description: "From Date for Customer payment Terms"
     toDay:
      type: string
      description: "To Date for Custom Payment Terms"
     paymentDay:
      type: string
      description: "Payment Day for Custom Payment Terms"
     paymentTermsId:
      type: string
      description: "PaymentTerms Id for Custom Payment Terms"
 ModListKeyDto:
  type: object
  properties:
   modNos:
    type: array
    items:
     type: integer
   remarks:
    type: string
 KeyDto:
  type: object
  properties:
   modNo:
    type: integer
   remarks:
    type: string
 ResponseDto:
  type: object
  properties:
   id:
    type: string
   status:
    type: string
   codes:
    type: array
    items:
     $ref: "#/definitions/ResponseCode"
   requestId:
    type: string
 ResponseCode:
  type: object
  properties:
   Code:
    type: string
   Desc:
    type: string
   Type:
    type: string
   Language:
    type: string
   args:
    type: array
    items:
     type: object
   arg:
    type: string
 GenericDto:
  allOf:
   - type: object
     discriminator: resource_type
 ObscfcmPaymentTermsTmCollection: 
  description: "Collection of obscfcmpaymenttermstm."
  type: "object"
  properties:
   data:
    type: "array"
    items: 
     $ref: "#/definitions/ObscfcmPaymentTermsTmModel"
   paging:
    $ref: "#/definitions/PagingDto"
 PagingDto:
  type: object
  properties:
   totalResults:
    type: integer
 ResponseDtoWrapper:
  type: object
  properties:
   messages:
    $ref: "#/definitions/ResponseDto"
   data:
    $ref: "#/definitions/ResponseResourceSupport"
 ResponseResourceSupport:
  type: object
 ObscfcmPaymentTermsTmWrapperModel:
  type: object
  properties:
   data:
    $ref: "#/definitions/ObscfcmPaymentTermsTmModel"
 ScfTransOutputResponse:
    description: "Output response from transaction API"
    type: "object"
    properties:
      queryList:
        type: "array"
        items:
          $ref: "#/definitions/ScfFilterQueryModel"
         
 ScfFilterInput:
    description: "Represents the input request of the final filter service call from transaction services"
    type: "object"
    properties:
      category:
        description: "Represents the category of the filter"
        type: "string"
      applicationCode:
        description: "Represents the applicationCode of the filter"
        type: "string"
      filterRecords:
        type: "array"
        items:
          $ref: "#/definitions/ScfFilterRecords"        
 ScfFilterOutput:
    description: "Represents the best possible combination for the given category"
    type: "object"
    properties:
      attributeList:
        type: "array"
        items:
          $ref: "#/definitions/ScfAttribute"
 ScfAttribute:
    description: "Represents each attribute of the records filtered in calling service using filter query"
    type: "object"
    properties:
      attributeName:
        description: "Name of the attribute representing DB column name"
        type: "string"
      attributeValue:
        description: "Value of the corresponding column in DB"
        type: "string"
 ScfFilterRecords:
    description: "Represents the records filtered in calling service using filter query"
    type: "object"
    properties:
      attributeList:
        type: "array"
        items:
          $ref: "#/definitions/ScfAttribute" 
 ScfFilterQueryModel:
    description: "Query and attribute list model"
    type: "object"
    properties:
      queryId:
        description: ""
        type: number
      query:
        description: "Filter Query"
        type: "string"
      ScfTransCriteriaQueryAttributeModel:
        type: "array"
        items:
          $ref: "#/definitions/ScfTransCriteriaQueryAttributeModel"
 ScfTransCriteriaQueryAttributeModel:
    description: "Query for each type of given category"
    type: "object"
    properties:
      paramIndex:
        description: "input parameter index in the query"
        type: "integer"
      paramName:
        description: "input parameter name in the query"
        type: "string"
      columnName:
        description: "corresponding column of the input parameter index in the query"
        type: "string"
      mappedParam:
        description: "mapped column of the input parameter index in the query"
        type: "string" 
 StringStringMap:
    type: object
    additionalProperties:
      type: string
 InvoiceFilterModel:
    description: "Invoice model"
    type: "object"
    properties:
      id:
        type: "string"
      seqNo:
        type: "integer"
        format: "int64"
      invoiceId:
        description: "Id of the Invoice "
        type: "integer"
        format: "int64"
      buyerId:
        type: string
        description: "buyerId"
      buyerName:
        type: string
        description: "buyerName"
      invoiceDate:
        type: string
        description: "invoiceDate"
      invoiceDueDate:
        type: string
        description: "invoiceDueDate"
      invoiceNumber:
        type: string
        description: "invoiceNumber"
      invoiceRefNo:
        type: string
        description: "invoiceRefNo"
      programCode:
        type: string
        description: "programCode"
      programName:
        type: string
      reasonCode:
        type: string
        description: "reasonCode"
      supplierId:
        type: string
        description: "supplierId"
      supplierName:
        type: string
        description: "supplierName"
      supplierDivCode:
        type: string
        description: "supplierDivCode"
      supplierDivName:
        type: string
        description: "supplierDivName"
      paymentTerms:
        type: string
      shipmentDate:
        type: string
      divisionCode:
        type: string
      transactionRefNo:
        type: string
      relationCode:
        type: string
        description: "relationCode"
      supplierCode:
        type: string
      buyerCode:
        type: string
      paymentDate:
        type: string
      buyerDivCode:
        type: string
        description: "buyerDivCode"
      buyerDivName:
        type: string
 ScfTmProgramMasterCollection: 
   description: "Collection of program."
   type: "object"
   properties:
    data:
     type: "array"
     items: 
      $ref: "#/definitions/ScfTmProgramMasterDTO"
    paging:
     $ref: "#/definitions/PagingDto"
 ScfTmProductMasterDTO:
   type: object
   allOf:
   - $ref: '#/definitions/GenericDto'
   - type: object
     properties:
      appropriationSeqAftDueDate:
       type: string
       description: "appropriationSeqAftDueDate"
      appropriationSeqBefDueDate:
       type: string
       description: "appropriationSeqBefDueDate"
      appropriationSeqOnDueDate:
       type: string
       description: "appropriationSeqOnDueDate"
      autoDebitApplicable:
       type: string
       description: "autoDebitApplicable"
      autoFinanceApplicable:
       type: string
       description: "autoFinanceApplicable"
      autoSettlementApplicable:
       type: string
       description: "autoSettlementApplicable"
      branchCode:
       type: string
       description: "branchCode"
      creditLimitUtilization:
       type: string
       description: "creditLimitUtilization"
      debitAcctTypeAfterDueDate:
       type: string
       description: "debitAcctTypeAfterDueDate"
      debitAcctTypeOnDueDate:
       type: string
       description: "debitAcctTypeOnDueDate"
      debitPartyAfterDueDate:
       type: string
       description: "debitPartyAfterDueDate"
      debitPartyOnDueDate:
       type: string
       description: "debitPartyOnDueDate"
      debtor:
       type: string
       description: "debtor"
      effectiveFrom:
       type: string
       format: date
       description: "effectiveFrom"
      expiresOn:
       type: string
       format: date
       description: "expiresOn"
      holidayTreatment:
       type: string
       description: "holidayTreatment"
      maturityDateCalculation:
       type: string
       description: "maturityDateCalculation"
      maxFinancePercentage:
       type: number
       description: "maxFinancePercentage"
      maxTenorAllowed:
       type: number
       description: "maxTenorAllowed"
      minFinancePercentage:
       type: number
       description: "minFinancePercentage"
      minTenorAllowed:
       type: number
       description: "minTenorAllowed"
      minWaitingPeriod:
       type: number
       description: "minWaitingPeriod"
      multipleDisbursementAllowed:
       type: string
       description: "multipleDisbursementAllowed"
      npaAppropriationSeq:
       type: string
       description: "npaAppropriationSeq"
      partRepaymentAllowed:
       type: string
       description: "partRepaymentAllowed"
      preferredDisbursementMode:
       type: string
       description: "preferredDisbursementMode"
      preferredSettlementMode:
       type: string
       description: "preferredSettlementMode"
      prePaymentAllowed:
       type: string
       description: "prePaymentAllowed"
      productCategory:
       type: string
       description: "productCategory"
      productCode:
       type: string
       description: "productCode"
      productDescription:
       type: string
       description: "productDescription"
      productType:
       type: string
       description: "productType"
      stalePeriod:
       type: number
       description: "stalePeriod"
      withRecourse:
       type: string
       description: "withRecourse"
      graceDays:
       type: number
      interestRefundHandling:
       type: string
      interestRefundPaymentMode:
       type: string
      marginHandling:
       type: string
      marginPaymentMode:
       type: string
      isCreditLimitApplicable:
       type: string
       description: "isCreditLimitApplicable" 
      isAccountingApplicable:
       type: string
       description: "isAccountingApplicable" 
      isAssignmentApplicable:
       type: string
       description: "isAssignmentApplicable" 
      isAutoAssignment:
       type: string
       description: "isAutoAssignment"   
      isAcceptanceApplicable:
       type: string
       description: "isAcceptanceApplicable" 
      isAutoAcceptance:
       type: string
       description: "isAutoAcceptance"     
      isDisbursementAuthRequired:
       type: string
       description: "isDisbursementAuthRequired"
      isDisbursementAutoProcessing:
       type: string
       description: "isDisbursementAutoProcessing"
      isSettlementAuthRequired:
       type: string
       description: "isSettlementAuthRequired" 
      isSettlementAutoProcessing:
       type: string
       description: "isSettlementAutoProcessing" 
      autoAcceptanceDays:
       type: number
       description: "autoAcceptanceDays"
      reconciliationTowards:
       type: string
      ScfTmProdLimitDecnDTO:
       type: array
       items:
        $ref: '#/definitions/ScfTmProdLimitDecnDTO'           
 ScfTmProdLimitDecnDTO:
   type: object
   properties:
     eventCode:
      type: string
      description: "eventCode"
     id:
      type: string
      description: "id"
     limitType:
      type: string
      description: "limitType"
     productCode:
      type: string
      description: "productCode"
     productMasterId:
      type: string
      description: "productMasterId"
     recourse:
      type: string
      description: "recourse"
     rootLimitEntityType:
      type: string
      description: "rootLimitEntityType"
     subLevelsApplicable:
      type: string
      description: "subLevelsApplicable"
     limitEvent:
      type: string
      description: "limitEvent"
     ScfTmProdLimitExpHandlDTO:
      type: array
      items:
       $ref: '#/definitions/ScfTmProdLimitExpHandlDTO'
 ScfTmProdLimitExpHandlDTO:
   type: object
   required:
     - productCode
   properties:
     id:
      type: string
      description: "id"
     limitDecnMasterId:
      type: string
      description: "limitDecnMasterId"
     productCode:
      type: string
      description: "productCode"
     subLevelApplicable:
      type: string
      description: "subLevelApplicable"
     expiredLimitExceptionHandling:
      type: string
      description: "expiredLimitExceptionHandling"
     breachLimitExceptionHandling:
      type: string
      description: "breachLimitExceptionHandling"
     expiredAndBreachLimitExceptionHandling:
      type: string
      description: "expiredAndBreachLimitExceptionHandling"
 ScfTmProgramMasterDTO:
    type: object
    allOf:
    - $ref: '#/definitions/GenericDto'
    - type: object
      properties:
       anchorId:
        type: string
        description: "anchorId"
       anchorName:
        type: string
        description: "anchorName"
       authorizationRequired:
        type: string
        description: "authorizationRequired"
       autoAcceptanceApplicable:
        type: string
        description: "autoAcceptanceApplicable"
       autoAcceptanceDays:
        type: number
        description: "autoAcceptanceDays"
       autoFinanceApplicable:
        type: string
        description: "autoFinanceApplicable"
       autoSettlementApplicable:
        type: string
        description: "autoSettlementApplicable"
       disbursementCcy:
        type: string
        description: "disbursementCcy"
       effectiveFrom:
        type: string
        format: date
        description: "effectiveFrom"
       expiresOn:
        type: string
        format: date
        description: "expiresOn"
       maxFinancePercentage:
        type: number
        description: "maxFinancePercentage"
       maxTenorAllowed:
        type: number
        description: "maxTenorAllowed"
       minFinancePercentage:
        type: number
        description: "minFinancePercentage"
       minTenorAllowed:
        type: number
        description: "minTenorAllowed"
       preferredDisbursementMode:
        type: string
        description: "preferredDisbursementMode"
       preferredSettlementMode:
        type: string
        description: "preferredSettlementMode"
       productCode:
        type: string
        description: "productCode"
       productDescription:
        type: string
        description: "productDescription"
       programCode:
        type: string
        description: "programCode"
       programName:
        type: string
        description: "programName"
       withRecourse:
        type: string
        description: "withRecourse"
       graceDays:
        type: number
       interestBearingParty:
        type: string
        description: "interestBearingParty"
       relationshipCode:
        type: string
        description: "relationshipCode" 
       reconciliationTowards:
        type: string
       txnControllerRefNo:
        type: string
        description: "txnControllerRefNo" 
       twoFactorApp:
        type: string
        default: N
        description: "twoFactorApp"
       insuranceApp:
        type: string
        default: N
        description: "insuranceApp" 
       interestRefundHandling:
        type: string
        description: "interestRefundHandling"
       interestRefundPaymentMode:
        type: string
        description: "interestRefundPaymentMode"
       marginHandling:
        type: string
        description: "marginHandling"
       marginPaymentMode:
        type: string
        description: "marginPaymentMode"
       autoDebitApplicable:
        type: string
        description: "autoDebitApplicable"
       ScfTmProgramSpokeMasterDTO:
        type: array
        items:
          $ref: '#/definitions/ScfTmProgramSpokeMasterDTO'
 ScfTmProgramSpokeMasterDTO:
    type: object
    properties:
     authorizationRequired:
      type: string
      description: ""
     autoFinanceApplicable:
      type: string
      description: "autoFinanceApplicable"
     autoSettlementApplicable:
      type: string
      description: "autoSettlementApplicable"
     disbursementCcy:
      type: string
      description: "disbursementCcy"
     id:
      type: string
      description: "id"
     maxFinancePercentage:
      type: number
      description: "maxFinancePercentage"
     maxTenorAllowed:
      type: number
      description: "maxTenorAllowed"
     minFinancePercentage:
      type: number
      description: "minFinancePercentage"
     minTenorAllowed:
      type: number
      description: "minTenorAllowed"
     preferredDisbursementMode:
      type: string
      description: "preferredDisbursementMode"
     preferredSettlementMode:
      type: string
      description: "preferredSettlementMode"
     programCode:
      type: string
      description: "programCode"
     programMasterId:
      type: string
      description: "programMasterId"
     spokeId:
      type: string
      description: "spokeId"
     spokeName:
      type: string
      description: "spokeName"
     withRecourse:
      type: string
      description: "withRecourse"
     graceDays:
      type: number
     interestBearingParty:
      type: string
      description: "interestBearingParty"
     importFactorId:
      type: string
      description: "importFactorId"
     importFactorName:
      type: string
      description: "importFactorName"
     insuranceCoId:
      type: string
      description: "insuranceCoId"
     insuranceCoName:
      type: string
      description: "insuranceCoName"
     interestRefundHandling:
      type: string
      description: "interestRefundHandling"
     interestRefundPaymentMode:
      type: string
      description: "interestRefundPaymentMode"
     marginHandling:
      type: string
      description: "marginHandling"
     marginPaymentMode:
      type: string
      description: "marginPaymentMode"
     autoDebitApplicable:
      type: string
      description: "autoDebitApplicable"
     ScfTmProgramSpokeCodeMasterDTO:
      type: array
      items:
       $ref: '#/definitions/ScfTmProgramSpokeCodeMasterDTO' 
 ScfTmProgramSpokeCodeMasterDTO:
   type: object
   properties:
      id:
       type: string
       description: "id"
      spokeMasterId:
       type: string
       description: "spokeMasterId"
      programCode:
       type: string
       description: "programCode"
      spokeId:
       type: string
       description: "spokeId"
      spokeName:
       type: string
       description: "spokeName"
      spokeExternalCode:
       type: string
       description: "spokeExternalCode"
      spokeDivisionCode:
       type: string
       description: "spokeDivisionCode"
      spokeDivisionName:
       type: string
       description: "spokeDivisionName"
      anchorDivisionCode:
       type: string
       description: "anchorDivisionCode"
      anchorDivisionName:
       type: string
 ObPaymentTermsDTO:
  type: object
  allOf:
  - $ref: '#/definitions/GenericDto'
  - type: object
    properties:
     id:
      type: string
      description: "id"
     daysOfTheMonth:
      type: string
      description: "daysOfTheMonth"
     daysOfTheWeek:
      type: string
      description: "daysOfTheWeek"
     filterAttr1: 
      description: "filterAttr1"
      type: string
     filterAttr1Name:
      type: string
      description: "filterAttr1Name" 
     filterAttr2: 
      description: "filterAttr2"
      type: string
     filterAttr2Name:
      type: string
      description: "filterAttr2Name" 
     filterAttr3: 
      description: "filterAttr3"
      type: string
     filterAttr3Name:
      type: string
      description: "filterAttr3Name" 
     filterAttr4: 
      description: "filterAttr4"
      type: string
     filterAttr4Name:
      type: string
      description: "filterAttr4Name" 
     filterAttr5: 
      description: "filterAttr5"
      type: string
     filterAttr5Name:
      type: string
      description: "filterAttr5Name" 
     filterAttr6: 
      description: "filterAttr6"
      type: string
     filterAttr6Name:
      type: string
      description: "filterAttr6Name" 
     filterAttr7: 
      description: "filterAttr7"
      type: string
     filterAttr7Name:
      type: string
      description: "filterAttr7Name" 
     filterAttr8: 
      description: "filterAttr8"
      type: string
     filterAttr8Name:
      type: string
      description: "filterAttr8Name" 
     filterAttr9: 
      description: "filterAttr9"
      type: string
     filterAttr9Name:
      type: string
      description: "filterAttr9Name" 
     filterAttr10: 
      description: "filterAttr10"
      type: string
     filterAttr10Name:
      type: string
      description: "filterAttr10Name"     
     filterCriteria:
      type: string
      description: "filterCriteria"
     frequencyOfPayments:
      type: string
      description: "frequencyOfPayments"
     holidayTreatment:
      type: string
      description: "holidayTreatment"
     minimumCreditPeriod:
      type: number
      description: "minimumCreditPeriod"
     paymentDateCalculationBasis:
      type: string
      description: "paymentDateCalculationBasis"
     txnControllerRefNo:
      type: string
      description: "txnControllerRefNo" 
     applicationCode:
      type: string
      description: "applicationCode"   
     ObPaymentCustomTermsDTO:
      type: array
      items:
       $ref: '#/definitions/ObPaymentCustomTermsDTO'
 ObPaymentCustomTermsDTO:
  type: object
  properties:
     fromDay:
      type: string
      description: "FromDay for Custom payment Terms"
     id:
      type: string
      description: "Id for Custom payment Terms"
     paymentDay:
      type: string
      description: "PaymentDay for Custom payment Terms"
     paymentTermsId:
      type: string
      description: "PaymentTermsId for Custom payment Terms"
     toDay:
      type: string
      description: "ToDay for Custom payment Terms"
       
       