#-----------------------------------------------------------------------------------------------------
#  **
#  ** File Name  : common.yaml
#  **
#  ** Module     : obtmchgdec
#  ** 
#  ** This source is part of the Oracle FLEXCUBE  and is copyrighted by Oracle Financial Services Software Limited.  ** 
#  ** 
#  ** All rights reserved. No part of this work may be reproduced, stored in a retrieval system,
#  ** adopted or transmitted in any form or by any means, electronic, mechanical, photographic,
#  ** graphic, optic recording or otherwise, translated in any language or computer language,
#  ** without the prior written permission of Oracle Financial Services Software Limited.
#  ** 
#  ** Oracle Financial Services Software Limited.
#  ** 10-11, SDF I, SEEPZ, Andheri (East),
#  ** Mumbai - 400 096.
#  ** India
#  ** Copyright 2017-2018 Oracle Financial Services Software Limited. All rights reserved.
#  -------------------------------------------------------------------------------------------------------
#
#  CHANGE HISTORY
#
#  Created By         :  System
#
#  Bug Number         :  
#  Changed By         :  
#  Change Description :  
#  Change On          :  
#  Search String      :  
#  
#  -------------------------------------------------------------------------------------------------------
  

swagger: "2.0"
info:
 description: "This is a sample server obtmchgdec server." 
 version: "1.0.0"
 title: "obtmchgdec Service"
host: "api-plato.us.oracle.com:8080"
basePath: "/api/1.0"
consumes:
 - "application/json"
produces:
 - "application/json"
tags:
 - name: "obtmchgdec"
   description: "this service is to manage crud operations in master datasegment  .........................................................................................................................................."

schemes:
- "https"

paths:

# path to create a new record and fetch all valid records or by intent
#
#  supprorted http methods POST and GET
#
# path example ../obtmchgdec

 /obtmchgdec:
  post:
   tags:
    - "obtmchgdec"
   summary: "Adds a new obtmchgdec."
   description: "Adds a new obtmchgdec. Add additional information here for this endpoint."
   operationId: "saveRecord"
   parameters:
    - name: "obtmchgdec" 
      in: "body" 
      description: "Request Body that contains data required for creating a new obtmchgdec" 
      required: true
      schema:
       $ref: "#/definitions/ObTmChgDecDTO"
   responses:
    201: 
     description: "Returns message of succes or failure " 
     headers:
      Location:
       description: "URL of newly created obtmchgdec" 
       type: "string"
     schema:
       $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "obtmchgdec"
   summary: "Get all valid obtmchgdec."
   description:  "Get all valid obtmchgdec. This endpoints will be used to Get all valid obtmchgdec maintenance records."
   operationId: "getAll"
   parameters:
   - name: includecloseandunauth
     in: query
     description: includecloseandunauth need to be set to fetch summary record, defult value is false
     required: false
     type: boolean
   - name: offset
     in: query
     description: offset is starting no of records to be fetched
     required: false
     type: integer
   - name: limit
     in: query
     description: limit is maximum no of records to be fetched
     required: false
     type: integer
   responses:
    201:
     description: "Returns message of success or failure"
     headers: 
      Location:
       description: ""
       type: "string"
     schema:
       $ref: "#/definitions/ObTmChgDecCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"

# path to modify existing record, delete existing record and fetch valid records by id or by intent( includes latestRecord, version no)
#
#  supprorted http methods PUT, DELETE and GET
#
# path examples----
#   PUT       .../obtmchgdec/xxx
#   DELETE    .../obtmchgdec/xxx
#   GET       .../obtmchgdec/xxx
#   GET       .../obtmchgdec/xxx?version=latestrecord
#   GET       .../obtmchgdec/xxx?version=1

 /obtmchgdec/{id}:
  put:
   tags:
    - "obtmchgdec"
   summary: "Update an existing obtmchgdec."
   description:  "Update an existing obtmchgdec."
   operationId: "modifyRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "key of the obtmchgdec Maintenance"
      required: true
      type: "string"
    - name: "obtmchgdec"
      in: "body"
      description: "Request Body that contains data required for updating an existing obtmchgdec"
      required: true
      schema:
       $ref: "#/definitions/ObTmChgDecDTO"
   responses:
    200:
     description: "Returns updated obtmchgdec"
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "obtmchgdec"
   summary: "Retrieves the obtmchgdec by ID."
   description:  "Retrieves the obtmchgdec by ID."
   operationId: "getById"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
    - name: "version"
      in: "query"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the obtmchgdec based on given id."
     schema:
      $ref: "#/definitions/ObTmChgDecWrapperModel"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
  delete:
   tags:
    - "obtmchgdec"
   summary: "Deletes the obtmchgdec identified by given ID."
   description:  "Deletes the obtmchgdec identified by given ID. Add additional information here for the this endpoint."
   operationId: "delete"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the obtmchgdec maintenance"
      required: true
      type: "string"
    - name: "obtmchgdec"
      in: "body"
      description: Request body contain obtmchgdec and Modification no of obtmchgdec maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to Authorize existing record.
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../obtmchgdec/xxx/approve

 /obtmchgdec/{id}/approve:
  patch:
   tags:
    - "obtmchgdec"
   summary: "Authorize the obtmchgdec by given ID."
   description:  "Authorize the obtmchgdec identified by given ID."
   operationId: "authorize"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the obtmchgdec maintenance"
      required: true
      type: "string"
    - name: "obtmchgdec"
      in: "body"
      description: Request body contain obtmchgdec and Modification no of obtmchgdec maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to close existing record
#
#  supported http methods PATCH
#
# path examples----
#   PATCH       .../obtmchgdec/xxx/close
 /obtmchgdec/{id}/close:
  patch:
   tags:
    - "obtmchgdec"
   summary: "Close the obtmchgdec by given ID."
   description:  "Close the obtmchgdec identified by given ID."
   operationId: "closeRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the obtmchgdec maintenance"
      required: true
      type: "string"
    - name: "obtmchgdec"
      in: "body"
      description: Request body contain obtmchgdec and Modification no of obtmchgdec maintenance which need to be closed"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to reopen existing record
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../obtmchgdec/xxx/reopen

 /obtmchgdec/{id}/reopen:
  patch:
   tags:
    - "obtmchgdec"
   summary: "reopen the obtmchgdec by given ID."
   description:  "reopen the obtmchgdec identified by given ID."
   operationId: "reopenRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the obtmchgdec maintenance"
      required: true
      type: "string"
    - name: "obtmchgdec"
      in: "body"
      description: Request body contain obtmchgdec and Modification no of obtmchgdec maintenance which need to be reopen"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to get all unauthorized records
#
#  supprorted http methods GET
#
# path examples----
#   GET       .../obtmchgdec/xxx/unauthorized

 /obtmchgdec/{id}/unauthorized:
  get:
   tags:
    - "obtmchgdec"
   summary: "Retrives the obtmchgdec by given ID."
   description:  "Retrives the obtmchgdec identified by given ID."
   operationId: "authQuery"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the obtmchgdec based on given id."
     schema:
       $ref: "#/definitions/ObTmChgDecCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to  history record for remitterid
#
#  supprorted http methods GETS
#
# path examples----
#   GET       .../obtmchgdec/xxx/history

 /obtmchgdec/{id}/history:
  get:
   tags:
    - "obtmchgdec"
   summary: "Retrives the obtmchgdec by given ID."
   description:  "Retrives the obtmchgdec by ID."
   operationId: "getHistory"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the obtmchgdec based on given id."
     schema:
       $ref: "#/definitions/ObTmChgDecCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
 /obtmchgdec/{id}/isValid:
  get:
   tags:
    - "obtmchgdec"
   summary: "Validate the ObTmChgDec by ResourceId"
   description:  "Validate the ObTmChgDec by ResourceId"
   operationId: "validateObTmChgDec"
   parameters:
    - name: "resourceId"
      in: "path"
      description: "resourceId of the user that needs to be validated"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the boolean based on validation of given resource id."
     schema:
       $ref: "#/definitions/boolean"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
definitions:
 ObTmChgDecDTO:
  type: object
  allOf:
  - $ref: '#/definitions/GenericDto'
  - type: object
    properties:
     id:
      type: string
      description: "ID"
     action:
      type: string
      description: "Action"
     autoAuth:
      type: string
      description: "Auto Authorization"
     modificationStatus:
      type: string
      description: "Modification Status"
     datasegmentCode:
      type: string
      description: 'Datasegment Code'
     checkerRemarks:
      type: string
      description: 'Checker Remarks'
     makerRemarks:
      type: string
      description: 'Maker Remarks'
     applicationCode:
       type: string
       description: "Application Code"
     event:
       type: string
       description: "Event"
     filterAttr1:
       type: string
       description: "Filter Attribute 1"
       default: "N/A"
     filterAttr1Name:
       type: string
       description: "Filter Attribute 1 Name"
     filterAttr1Label:
       type: string
       description: "Filter Attribute 1 Label"
     filterAttr1ColumnName:
       type: string
       description: "Filter Attribute 1 Column Name"
     filterAttr1Type:
       type: string
       description: "Filter Attribute 1 Type"
     filterAttr1EndpointValue:
       type: string
       description: "Filter Attribute 1 Endpoint Key"
     filterAttr1ReqParams:
       type: string
       description: "Filter Attribute 1 ReqParams"
     filterAttr1LovConfig:
       type: "array"
       description: "Filter Attribute 1 LOV Config Data"
       items:
        $ref: '#/definitions/Map'
     filterAttr2:
       type: string
       description: "Filter Attribute 2"
       default: "N/A"
     filterAttr2Name:
       type: string
       description: "Filter Attribute 2 Name"
     filterAttr2Label:
       type: string
       description: "Filter Attribute 2 Label"
     filterAttr2ColumnName:
       type: string
       description: "Filter Attribute 2 Column Name"
     filterAttr2Type:
       type: string
       description: "Filter Attribute 2 Type"
     filterAttr2EndpointValue:
       type: string
       description: "Filter Attribute 2 Endpoint Key"
     filterAttr2ReqParams:
       type: string
       description: "Filter Attribute 2 ReqParams"
     filterAttr2LovConfig:
       type: "array"
       description: "Filter Attribute 2 LOV Config Data"
       items:
        $ref: '#/definitions/Map'
     filterAttr3:
       type: string
       description: "Filter Attribute 3"
       default: "N/A"
     filterAttr3Name:
       type: string
       description: "Filter Attribute 3 Name"
     filterAttr3Label:
       type: string
       description: "Filter Attribute 3 Label"
     filterAttr3ColumnName:
       type: string
       description: "Filter Attribute 3 Column Name"
     filterAttr3Type:
       type: string
       description: "Filter Attribute 3 Type"
     filterAttr3EndpointValue:
       type: string
       description: "Filter Attribute 3 Endpoint Key"
     filterAttr3ReqParams:
       type: string
       description: "Filter Attribute 3 ReqParams"
     filterAttr3LovConfig:
       type: "array"
       description: "Filter Attribute 3 LOV Config Data"
       items:
        $ref: '#/definitions/Map'
     filterAttr4:
       type: string
       description: "Filter Attribute 4"
       default: "N/A"
     filterAttr4Name:
       type: string
       description: "Filter Attribute 4 Name"
     filterAttr4Label:
       type: string
       description: "Filter Attribute 4 Label"
     filterAttr4ColumnName:
       type: string
       description: "Filter Attribute 4 Column Name"
     filterAttr4Type:
       type: string
       description: "Filter Attribute 4 Type"
     filterAttr4EndpointValue:
       type: string
       description: "Filter Attribute 4 Endpoint Key"
     filterAttr4ReqParams:
       type: string
       description: "Filter Attribute 4 ReqParams"
     filterAttr4LovConfig:
       type: "array"
       description: "Filter Attribute 4 LOV Config Data"
       items:
        $ref: '#/definitions/Map'
     filterAttr5:
       type: string
       description: "Filter Attribute 5"
       default: "N/A"
     filterAttr5Name:
       type: string
       description: "Filter Attribute 5 Name"
     filterAttr5Label:
       type: string
       description: "Filter Attribute 5 Label"
     filterAttr5ColumnName:
       type: string
       description: "Filter Attribute 5 Column Name"
     filterAttr5Type:
       type: string
       description: "Filter Attribute 5 Type"
     filterAttr5EndpointValue:
       type: string
       description: "Filter Attribute 5 Endpoint Key"
     filterAttr5ReqParams:
       type: string
       description: "Filter Attribute 5 ReqParams"
     filterAttr5LovConfig:
       type: "array"
       description: "Filter Attribute 5 LOV Config Data"
       items:
        $ref: '#/definitions/Map'
     filterAttr6:
       type: string
       description: "Filter Attribute 6"
       default: "N/A"
     filterAttr6Name:
       type: string
       description: "Filter Attribute 6 Name"
     filterAttr6Label:
       type: string
       description: "Filter Attribute 6 Label"
     filterAttr6ColumnName:
       type: string
       description: "Filter Attribute 6 Column Name"
     filterAttr6Type:
       type: string
       description: "Filter Attribute 6 Type"
     filterAttr6EndpointValue:
       type: string
       description: "Filter Attribute 6 Endpoint Key"
     filterAttr6ReqParams:
       type: string
       description: "Filter Attribute 6 ReqParams"
     filterAttr6LovConfig:
       type: "array"
       description: "Filter Attribute 6 LOV Config Data"
       items:
        $ref: '#/definitions/Map'
     filterAttr7:
       type: string
       description: "Filter Attribute 7"
       default: "N/A"
     filterAttr7Name:
       type: string
       description: "Filter Attribute 7 Name"
     filterAttr7Label:
       type: string
       description: "Filter Attribute 7 Label"
     filterAttr7ColumnName:
       type: string
       description: "Filter Attribute 7 Column Name"
     filterAttr7Type:
       type: string
       description: "Filter Attribute 7 Type"
     filterAttr7EndpointValue:
       type: string
       description: "Filter Attribute 7 Endpoint Key"
     filterAttr7ReqParams:
       type: string
       description: "Filter Attribute 7 ReqParams"
     filterAttr7LovConfig:
       type: "array"
       description: "Filter Attribute 7 LOV Config Data"
       items:
        $ref: '#/definitions/Map'
     filterAttr8:
       type: string
       description: "Filter Attribute 8"
       default: "N/A"
     filterAttr8Name:
       type: string
       description: "Filter Attribute 8 Name"
     filterAttr8Label:
       type: string
       description: "Filter Attribute 8 Label"
     filterAttr8ColumnName:
       type: string
       description: "Filter Attribute 8 Column Name"
     filterAttr8Type:
       type: string
       description: "Filter Attribute 8 Type"
     filterAttr8EndpointValue:
       type: string
       description: "Filter Attribute 8 Endpoint Key"
     filterAttr8ReqParams:
       type: string
       description: "Filter Attribute 8 ReqParams"
     filterAttr8LovConfig:
       type: "array"
       description: "Filter Attribute 8 LOV Config Data"
       items:
        $ref: '#/definitions/Map'
     filterAttr9:
       type: string
       description: "Filter Attribute 9"
       default: "N/A"
     filterAttr9Name:
       type: string
       description: "Filter Attribute 9 Name"
     filterAttr9Label:
       type: string
       description: "Filter Attribute 9 Label"
     filterAttr9ColumnName:
       type: string
       description: "Filter Attribute 9 Column Name"
     filterAttr9Type:
       type: string
       description: "Filter Attribute 9 Type"
     filterAttr9EndpointValue:
       type: string
       description: "Filter Attribute 9 Endpoint Key"
     filterAttr9ReqParams:
       type: string
       description: "Filter Attribute 9 ReqParams"
     filterAttr9LovConfig:
       type: "array"
       description: "Filter Attribute 9 LOV Config Data"
       items:
        $ref: '#/definitions/Map'
     filterAttr10:
       type: string
       description: "Filter Attribute 10"
       default: "N/A"
     filterAttr10Name:
       type: string
       description: "Filter Attribute 10 Name"
     filterAttr10Label:
       type: string
       description: "Filter Attribute 10 Label"
     filterAttr10ColumnName:
       type: string
       description: "Filter Attribute 10 Column Name"
     filterAttr10Type:
       type: string
       description: "Filter Attribute 10 Type"
     filterAttr10EndpointValue:
       type: string
       description: "Filter Attribute 10 Endpoint Key"
     filterAttr10ReqParams:
       type: string
       description: "Filter Attribute 10 ReqParams"
     filterAttr10LovConfig:
       type: "array"
       description: "Filter Attribute 10 LOV Config Data"
       items:
        $ref: '#/definitions/Map'
     filterCriteria:
       type: string
       description: "Filter Criteria"
     inheritCharges:
       type: string
       description: "Inherit Charges"
     chgDecId:
       type: string
       description: "Charge Dec Id"
     txnControllerRefNo:
       type: string
       description: "Transaction Controller Reference Number"
     ObTmAddChgDecDTO:
       type: array
       items:
         $ref: '#/definitions/ObTmAddChgDecDTO'
     ObTmDefChgDecDTO:
       type: array
       items:
         $ref: '#/definitions/ObTmDefChgDecDTO'
 ObTmAddChgDecDTO:
   type: object
   properties:
     id:
       type: string
       description: "ID"
     allowOverride:
       type: string
       description: "Allow Override"
     allowPrcModify:
       type: string
       description: "Allow Prc Modify"
     allowWaive:
       type: string
       description: "Allow Waive"
     autoWaive:
       type: string
       description: "Auto Waive"
     calcFreq:
       type: string
       description: "Calculate Frequency"
     calcRefPeriod:
       type: string
       description: "Calculate Reference Period"
     calcType:
       type: string
       description: "Calculate Type"
     calcUnits:
       type: number
       description: "Calculate Units"
     chgCode:
       type: string
       description: "Charge Code"
     chgCriteria:
       type: string
       description: "Charge Criteria"
     chgDecMasterId:
       type: string
       description: "Charge Dec Master Id"
     chgPrcTemplateId:
       type: string
       description: "Charge Prc Template Id"
     chgSharing:
       type: string
       description: "Charge Sharing"
     collectionType:
       type: string
       description: "Collection Type"
     collFreq:
       type: string
       description: "Collection Frequency"
     collRefPeriod:
       type: string
       description: "Collection Reference Period"
     collUnits:
       type: number
       description: "Collection Units"
     effectiveDate:
       type: string
       description: "Effective Date"
     expiryDate:
       type: string
       description: "Expiry Date"
     parentChgCode:
       type: string
       description: "Parent Charge Code"
     partyToChg:
       type: string
       description: "Party To Charge"
     refTenorEndDt:
       type: string
       description: "Reference Tenor End Date"
     refTenorStartDt:
       type: string
       description: "Reference Tenor Start Date"
     ObTmShrChgDecDTO:
       type: array
       items:
         $ref: '#/definitions/ObTmShrChgDecDTO'
 ObTmDefChgDecDTO:
  type: object
  properties:
     id:
      type: string
      description: "ID"
     chgApplied:
       type: string
       description: "Charge Applied"
     chgCode:
      type: string
      description: "Charge Code"
     chgDecMasterId:
      type: string
      description: "Charge Dec Master Id"
     partyToChg:
      type: string
      description: "Party To Charge"
     sharePct:
      type: integer
      description: "Share Percentage"
     chgSharing:
       type: string
       description: "Charge Sharing"
 ObTmDefChgDecModel:
  type: object
  properties:
     id:
      type: string
      description: "ID"
     chgApplied:
      type: string
      description: "Charge Applied"
     chgCode:
      type: string
      description: "Charge Code"
     chgDecMasterId:
      type: string
      description: "Charge Dec Master Id"
     chgSharing:
      type: string
      description: "Charge Sharing"
     partyToChg:
      type: string
      description: "Party to Charge"
 ModListKeyDto:
  type: object
  properties:
   modNos:
    type: array
    items:
     type: integer
   remarks:
    type: string
 KeyDto:
  type: object
  properties:
   modNo:
    type: integer
   remarks:
    type: string
 ResponseDto:
  type: object
  properties:
   id:
    type: string
   status:
    type: string
   codes:
    type: array
    items:
     $ref: "#/definitions/ResponseCode"
   requestId:
    type: string
 ResponseCode:
  type: object
  properties:
   Code:
    type: string
   Desc:
    type: string
   Type:
    type: string
   Language:
    type: string
   args:
    type: array
    items:
     type: object
   arg:
    type: string
 GenericDto:
  allOf:
   - type: object
     discriminator: resource_type
 ObTmChgDecCollection: 
  description: "Collection of obtmchgdec."
  type: "object"
  properties:
   data:
    type: "array"
    items: 
     $ref: "#/definitions/ObTmChgDecDTO"
   paging:
    $ref: "#/definitions/PagingDto"
 PagingDto:
  type: object
  properties:
   totalResults:
    type: integer
 ResponseDtoWrapper:
  type: object
  properties:
   messages:
    $ref: "#/definitions/ResponseDto"
   data:
    $ref: "#/definitions/ResponseResourceSupport"
 ResponseResourceSupport:
  type: object
 ObTmChgDecWrapperModel:
  type: object
  properties:
   data:
    $ref: "#/definitions/ObTmChgDecDTO"

 OrchestratorDTO:
   type: "object"
   properties:
     resourceId:
       type: string
       description: "Id of the Orchestrator Resource"
     modNos:
       type: array
       items:
         type: integer
     remarks:
       type: string
       description: "Remark on Orchestrator"
 ObTmShrChgDecDTO:
   type: object
   properties:
     chgCode:
       type: string
       description: "Charge Code"
     chgDecAddMasterId:
       type: string
       description: "Charge Dec Add Master Id"
     id:
       type: string
       description: "Id"
     partyToChg:
       type: string
       description: "Party To Charge"
     sharePct:
       type: number
       description: "Share Pct"

 StringStringMap:
   type: object
   additionalProperties:
     type: string

 ObTmAddChgDecCollection:
   description: "Collection of chgdec."
   type: "object"
   properties:
     data:
       type: "array"
       items:
         $ref: "#/definitions/ObTmAddChgDecDTO"
     paging:
       $ref: "#/definitions/PagingDto"