swagger: "2.0"
info:
  description: "Provides APIs to perform enquiry operations on finances"
  version: "1.0.0"
  title: "Finance Transaction Service APIs"
host: "api-plato.us.oracle.com:8080"
basePath: "/obscf-finance-services"
consumes:
  - "application/json"
  - "application/xml"
produces:
  - "application/json"
  - "application/xml"
tags:
  - name: "financeTxnService"
    description: "API for Finance Operations"

paths:
  /service/v2/financeEnquiryMain:
    get:
      tags:
        - "financeTxnService"
      summary: "Retrieves the list of existing Finances"
      description:  "Retrieves the list of existing Finances."
      operationId: "getFinanceEnquiryDetails"
      parameters:
        - name: "appId"
          in: "header"
          description: "Application Id"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          description: "Tenant Id"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "User id for SMS"
        - name: "branchCode"
          in: "header"
          description: "Branch Code"
          type: "string"
          required: true
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "Authorization Token"
        - name: "contentType"
          in: "header"
          description: "Content Type"
          type: "string"
          required: false
        - name: "branchDate"
          in: "header"
          description: "Branch Date"
          type: "string"
          format: "date-time"
          required: false
        - name: branchCode
          in: query
          description: "Branch Code"
          type: string
          required: false
        - name: financeRefNo 
          in: query
          description: "Finance Reference Number"
          required: false
          type: string
        - name: requestId 
          in: query
          description: "Request Id"
          required: false
          type: string
        - name: financeStatus 
          in: query
          description: "Finance Status"
          required: false
          type: string
        - name: productCode 
          in: query
          description: "Product Code"
          required: false
          type: string
        - name: supplierId 
          in: query
          description: "Supplier Id"
          required: false
          type: string
        - name: supplierName 
          in: query
          description: "Supplier Name"
          required: false
          type: string
        - name: buyerId 
          in: query
          description: "Buyer Id"
          required: false
          type: string
        - name: buyerName 
          in: query
          description: "Buyer Name"
          required: false
          type: string
        - name: debtor 
          in: query
          description: "Debtor"
          required: false
          type: string
        - name: debtorName
          in: query
          description: "Debtor Name"
          required: false
          type: string
        - name: processingDateFrom 
          in: query
          description: "Processing Date From"
          required: false
          type: string
        - name: processingDateTo
          in: query
          description: "Processing Date To"
          required: false
          type: string
        - name: programCode 
          in: query
          description: "Program Code"
          required: false
          type: string
        - name: programName 
          in: query
          description: "Program Name"
          required: false
          type: string
        - name: financeDateFrom 
          in: query
          description: "Finance Date From"
          required: false 
          type: string
        - name: financeDateTo
          in: query
          description: "Finance Date To"
          required: false
          type: string
        - name: maturityDateFrom 
          in: query
          description: "Maturity Date From"
          required: false
          type: string
        - name: maturityDateTo
          in: query
          description: "Maturity Date To"
          required: false
          type: string
        - name: txnStatus
          in: query
          description: "Transaction Status"
          required: false
          type: string
        - name: outstandingAmountRangeFrom 
          in: query
          description: "Outstanding Amount Range From"
          required: false
          type: number
        - name: outstandingAmountRangeTo
          in: query
          description: "Outstanding Amount Range To"
          required: false
          type: number 
        - name: amountRangeCcy
          in: query
          description: "Amount Range Currency"
          required: false
          type: string
        - name: financeAmountRangeFrom 
          in: query
          description: "Finance Amount Range From"
          required: false
          type: number
        - name: financeAmountRangeTo
          in: query
          description: "Finance Amount Range To"
          required: false
          type: number 
        - name: pastDueDateFrom 
          in: query
          description: "Past Due Date From"
          required: false
          type: string
        - name: pastDueDateTo
          in: query
          description: "Past Due Date To"
          required: false
          type: string
        - name: anchorId
          in: query
          description: "Anchor Id"
          required: false
          type: string
        - name: spokeId
          in: query
          description: "Spoke Id"
          required: false
          type: string
      responses:
        200:
          description: "Successful performs the operation"
          schema:
            $ref: "./financeTxnWebDef.yaml#/definitions/ResponseModel"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"
  