swagger: "2.0"
info:
  description: "This is a sample server ManualFinance server.  You can find out more about Swagger at [swagger.io](http://swagger.io) and about data types at [Swagger Data Types](https://swagger.io/docs/specification/data-models/data-types/)"
  version: "1.0.0"
  title: "Finance Transaction Web"
host: "api-plato.us.oracle.com:8080"
basePath: "/obscf-finance-services"
consumes:
  - "application/json"
  - "application/xml"
produces:
  - "application/json"
  - "application/xml"
tags:
  - name: "financeTxnWeb"
    description: "API for Finance Operations"
    
schemes:
- "https"

paths:

  /web/v1/accounting:
    get:
      tags:
        - "financeAccountingWeb"
      summary: "Retrieves accounting data for finance transaction"
      description:  "Retrieves accounting data for finance transaction"
      operationId: "getAccountDetails"
      parameters:
        - name: "appId"
          in: "header"
          description: "Application Id"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          description: "Tenant Id"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "User id for SMS"
        - name: "branchCode"
          in: "header"
          description: "Branch Code"
          type: "string"
          required: true
        - name: "contentType"
          in: "header"
          description: "Content Type"
          type: "string"
          required: false
        - name: financeRefNo 
          in: query
          description: "Finance Reference Number"
          required: true
          type: string
        - name: seqNo 
          in: query
          required: true
          type: "integer"
          format: "int64"
          description: "Sequence Number"
        - name: transactionRefNo 
          in: query
          description: "Transaction Reference Number"
          required: true
          type: string
      responses:
        200:
          description: "Successful performs the operation"
          schema:
            $ref: "./financeTxnWebDef.yaml#/definitions/AccountingTransactionCollection"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"
          
  /web/v1/financeTransaction:
    post:
      tags:
        - "financeTxnWeb"
      summary: "Adds a new Finance Transaction."
      description: "Adds a new Finance Transaction. Add additional information here for this endpoint."
      operationId: "createFinanceTransaction"
      parameters:
        - name: "financeTransaction"
          in: "body"
          description: "Request Body that contains data required for creating a new Finance Transaction"
          required: true
          schema:
            $ref: "./financeTxnWebDef.yaml#/definitions/FinanceTransactionModel"
        - name: "appId"
          in: "header"
          description: "Applcation Id"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          description: "Tenant Id"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          description: "Branch Code"
          type: "string"
          required: true
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "Authoriation Token"
        - name: "contentType"
          in: "header"
          description: "Content Type"
          type: "string"
          required: false
        - name: "branchDate"
          in: "header"
          description: "Branch Date"
          type: "string"
          format: "date-time"
          required: false
      responses:
        201:
          description: "Successfully created a new Finance Transaction"
          headers:
            Location:
              description: "URL of newly created Finance Transaction"
              type: "string"
          schema:
              $ref: "./financeTxnWebDef.yaml#/definitions/ResponseModel"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
    get:
      tags:
        - "financeTxnWeb"
      summary: "Retrieves the list of existing Finance Transactions."
      description:  "Retrieves the list of existing Finance Transactions. Add additional information here for the this endpoint."
      operationId: "getAllFinanceTransaction"
      parameters:
        - name: "appId"
          in: "header"
          description: "Application Id"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          description: "Tenant Id"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "financeRefNo"
          in: "query"
          description: "ReferenceNumber for which data needs to be fetched"
          required: false
          type: "string"
        - name: "branchCode"
          in: "header"
          description: "Branch Code"
          type: "string"
          required: true
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "Authorization Token"
        - name: "contentType"
          in: "header"
          description: "Content Type"
          type: "string"
          required: false
        - name: "branchDate"
          in: "header"
          description: "Branch Date"
          type: "string"
          format: "date-time"
          required: false
        - name: "limit"
          in: "query"
          required: false
          description: "limit to be fetched"
          type: "integer"
        - name: "offset"
          in: "query"
          required: false
          description: "offset of the limit"
          type: "integer"
      responses:
        200:
          description: "Successful performs the operation"
          schema:
            $ref: "./financeTxnWebDef.yaml#/definitions/ResponseModel"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"
  /web/v1/financeTransaction/invoicing/{financeRefNo}:
    get:
      tags:
        - "financeTxnWeb"
      summary: "Retrieves the Basic Info of Finance Transaction."
      description:  "Retrieves the Basic Info of Finance Transaction."
      operationId: "getBasicInfo"
      parameters:
        - name: "financeRefNo"
          in: "path"
          description: "ReferenceNumber for which data needs to be fetched"
          required: true
          type: "string"
        - name: "appId"
          in: "header"
          description: "Application Id"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          description: "Tenant Id"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          description: "Branch Code"
          type: "string"
          required: true
      responses:
        200:
          description: "Successful performs the operation"
          schema:
            $ref: "./financeTxnWebDef.yaml#/definitions/ResponseModel"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"
  /web/v1/financeTransaction/{financeRefNo}:
    get:
      tags:
        - "financeTxnWeb"
      summary: "Retrieves the Finance Transaction by ID."
      description:  "Retrieves the Finance Transaction by ID. Add additional information here for the this endpoint."
      operationId: "getFinanceTransactionByRefNo"
      parameters:
        - name: "financeRefNo"
          in: "path"
          description: "ReferenceNumber for which data needs to be fetched"
          required: true
          type: "string"
        - name: "appId"
          in: "header"
          description: "Application Id"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          description: "Tenant Id"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          description: "Branch Code"
          type: "string"
          required: true
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "Authorization Token"
        - name: "contentType"
          in: "header"
          description: "Content Type"
          type: "string"
          required: false
        - name: "branchDate"
          in: "header"
          description: "Branch Date"
          type: "string"
          format: "date-time"
          required: false
      responses:
        200:
          description: "Returns the Finance Transaction based on given ReferenceNumber."
          schema:
            $ref: "./financeTxnWebDef.yaml#/definitions/ResponseModel"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"
  /web/v1/financeTransaction/{id}:
    put:
      tags:
        - "financeTxnWeb"
      summary: "Update an existing Finance Transaction."
      description:  "Update an existing Finance Transaction. Add additional information here for the this endpoint."
      operationId: "updateFinanceTransaction"
      parameters:
        - name: "id"
          in: "path"
          description: "Id of the Field Investigation that need to be updated"
          required: true
          type: "string" 
        - name: "financeTransaction"
          in: "body"
          description: "Request Body that contains data required for updating an existing Field Investigation"
          required: true
          schema:
            $ref: "./financeTxnWebDef.yaml#/definitions/FinanceTransactionModel"
        - name: "appId"
          in: "header"
          description: "Application Id"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          description: "Tenant Id"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          description: "Branch Code"
          type: "string"
          required: true
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "Authorization Token"
        - name: "contentType"
          in: "header"
          description: "Content Type"
          type: "string"
          required: false
        - name: "branchDate"
          in: "header"
          description: "Branch Date"
          type: "string"
          format: "date-time"
          required: false
      responses:
        200:
          description: "Returns updated Finance Transaction"
          schema:
            $ref: "./financeTxnWebDef.yaml#/definitions/ResponseModel"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"          
    delete:
      tags:
        - "financeTxnWeb"
      summary: "Deletes the Finance Transaction identified by given ID"
      description:  "Deletes the Finance Transaction identified by given ID"
      operationId: "deleteFinanceTransaction"
      parameters:
        - name: "id"
          in: "path"
          description: "Id of the Finance Transaction that needs to be deleted"
          required: true
          type: "string"
        - name: "appId"
          in: "header"
          description: "Application Id"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          description: "Tenant Id"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          description: "Branch Code"
          type: "string"
          required: true
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "Authorization Token"
        - name: "contentType"
          in: "header"
          description: "Content Type"
          type: "string"
          required: false
        - name: "branchDate"
          in: "header"
          description: "Branch Date"
          type: "string"
          format: "date-time"
          required: false
      responses:
        200:
          description: "Successful operation."
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error" 
  /web/v1/financeTransactionMain/{financeRefNo}:
    get:
      tags:
        - "financeTxnWeb"
      summary: "Retrieves the list of existing Finance Transaction from Main."
      description:  "Retrieves the list of existing Finance Transaction. Add additional information here for the this endpoint."
      operationId: "getFinanceTransactionMain"
      parameters:
        - name: "financeRefNo"
          in: "path"
          description: "financeRefNo of the details that needs to be fetched"
          required: true
          type: "string"
        - name: "appId"
          in: "header"
          description: "Application Id"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          description: "Tenant Id"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          description: "Branch code"
          type: "string"
          required: true
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "Authorization Token"
        - name: "contentType"
          in: "header"
          description: "Content Type"
          type: "string"
          required: false
        - name: "branchDate"
          in: "header"
          description: "Branch Date"
          type: "string"
          format: "date-time"
          required: false
      responses:
        200:
          description: "Successful performs the operation"
          schema:
            $ref: "./financeTxnWebDef.yaml#/definitions/ResponseModel"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"
  /web/v1/financeTransaction/approve:
    post:
      tags:
        - "financeTxnWeb"
      summary: "Creates new FinanceTransaction details."
      description: "Creates new FinanceTransaction details."
      operationId: "approveFinanceTransaction"
      parameters:
        - name: "appId"
          in: "header"
          description: "Application Id"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          description: "Tenant Id"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          description: "Branch Code"
          type: "string"
          required: true
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "Authorization Token"
        - name: "contentType"
          in: "header"
          description: "Content Type"
          type: "string"
          required: false
        - name: "branchDate"
          in: "header"
          description: "Branch Date"
          type: "string"
          format: "date-time"
          required: false
        - name: "transactionHeaderModel"
          in: "body"
          description: "Request Body that contains data required for creating a new Finance Transaction"
          required: true
          schema:
            $ref: "./financeTxnWebDef.yaml#/definitions/TransactionHeaderModel"
      responses:
        201:
          description: "Returns the Id of the newly created FinanceTransaction details"
          headers:
            Location:
              description: "URL of newly created FinanceTransaction details"
              type: "string"
          schema:
              type: "object"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
  /web/v1/financeTransaction/stageUpdate:
    post:
      tags:
        - "financeTxnWeb"
      summary: "Creates new FinanceTransaction details."
      description: "Creates new FinanceTransaction details."
      operationId: "updateStage"
      parameters:
        - name: "appId"
          in: "header"
          description: "Application Code"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          description: "Tenant Id"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          description: "Branch Code"
          type: "string"
          required: true
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "Authorization Token"
        - name: "contentType"
          in: "header"
          description: "Content Type"
          type: "string"
          required: false
        - name: "branchDate"
          in: "header"
          description: "Branch Date"
          type: "string"
          format: "date-time"
          required: false
        - name: "transactionHeaderModel"
          in: "body"
          description: "Request Body that contains data required for creating a new Finance Transaction"
          required: true
          schema:
            $ref: "./financeTxnWebDef.yaml#/definitions/TransactionHeaderModel"
      responses:
        201:
          description: "Returns the Id of the newly created FinanceTransaction details"
          headers:
            Location:
              description: "URL of newly created FinanceTransaction details"
              type: "string"
          schema:
              type: "object"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
  /web/v1/financeEnquiry:
    get:
      tags:
        - "financeTxnWeb"
      summary: "Retrieves the list of existing Finances"
      description:  "Retrieves the list of existing Finances."
      operationId: "getFinanceEnquiryDetails"
      parameters:
        - name: "appId"
          in: "header"
          description: "Application Id"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          description: "Tenant Id"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          description: "Branch Code"
          type: "string"
          required: true
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "Authorization Token"
        - name: "contentType"
          in: "header"
          description: "Content Type"
          type: "string"
          required: false
        - name: "branchDate"
          in: "header"
          description: "Branch Date"
          type: "string"
          format: "date-time"
          required: false
        - name: branchCode
          in: query
          description: "Branch Code"
          type: string
          required: false
        - name: offset
          in: query
          description: "Offset"
          type: integer
          required: false
        - name: limit
          in: query
          description: "Limit"
          type: integer
          required: false
        - name: financeRefNo 
          in: query
          description: "Finance reference number"
          required: false
          type: string
        - name: requestId 
          in: query
          description: "Request ID"
          required: false
          type: string
        - name: financeStatus 
          in: query
          description: "Finance Status"
          required: false
          type: string
        - name: productCode 
          in: query
          description: "Product Code"
          required: false
          type: string
        - name: supplierId 
          in: query
          description: "Supplier Id"
          required: false
          type: string
        - name: supplierName 
          in: query
          description: "Supplier Name"
          required: false
          type: string
        - name: buyerId 
          in: query
          description: "Buyer Id"
          required: false
          type: string
        - name: buyerName 
          in: query
          description: "Buyer Name"
          required: false
          type: string
        - name: debtor 
          in: query
          description: "Debtor"
          required: false
          type: string
        - name: debtorName
          in: query
          description: "Debtor Name"
          required: false
          type: string
        - name: processingDateFrom 
          in: query
          description: "Processing Date From"
          required: false
          type: string
        - name: processingDateTo
          in: query
          description: "Processing Date To"
          required: false
          type: string
        - name: programCode 
          in: query
          description: "Program Code"
          required: false
          type: string
        - name: programName 
          in: query
          description: "Program Name"
          required: false
          type: string
        - name: financeDateFrom 
          in: query
          description: "Finance Date From"
          required: false
          type: string
        - name: financeDateTo
          in: query
          description: "Finance Date To"
          required: false
          type: string
        - name: maturityDateFrom 
          in: query
          description: "Mturity Date From"
          required: false
          type: string
        - name: maturityDateTo
          in: query
          description: "Maturity Date To"
          required: false
          type: string
        - name: txnStatus
          in: query
          description: "Transaction Status"
          required: false
          type: string
        - name: outstandingAmountRangeFrom 
          in: query
          description: "Outstanding Amount Range From"
          required: false
          type: number
        - name: outstandingAmountRangeTo
          in: query
          description: "Outstanding Amount Range To"
          required: false
          type: number 
        - name: amountRangeCcy
          in: query
          description: "Amount Range Currency"
          required: false
          type: string
        - name: financeAmountRangeFrom 
          in: query
          description: "Finance Amount Range From"
          required: false
          type: number
        - name: financeAmountRangeTo
          in: query
          description: "Finance Amount Range To"
          required: false
          type: number 
        - name: pastDueDateFrom 
          in: query
          description: "Past Due Date From"
          required: false
          type: string
        - name: pastDueDateTo
          in: query
          description: "Past Due Date To"
          required: false
          type: string
        - name: anchorId
          in: query
          description: "Anchor Id"
          required: false
          type: string
        - name: spokeId
          in: query
          description: "Spoke Id"
          required: false
          type: string
        - name: dateRefBasis
          in: query
          description: "Date Reference Basis"
          required: false
          type: string
        - name: toDate
          in: query
          description: "To Date"
          required: false
          type: string
        - name: fromDate
          in: query
          description: "From Date"
          required: false
          type: string
        - name: requestDateFrom
          in: query
          description: "requestDateFrom"
          required: false
          type: string
        - name: requestDateTo
          in: query
          description: "requestDateTo"
          required: false
          type: string
        - name: docRefNo
          in: query
          description: "docRefNo"
          required: false
          type: string
      responses:
        200:
          description: "Successful performs the operation"
          schema:
            $ref: "./financeTxnWebDef.yaml#/definitions/ResponseModel"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"
  /web/v1/financeSummary/{financeRefNo}:
    get:
      tags:
        - "financeTxnWeb"
      summary: "Retrieves the Summary Details from all data segments"
      description:  "Retrieves the Summary Details from all data segments"
      operationId: "financeSummary"
      parameters:
        - name: "appId"
          in: "header"
          description: "Application Id"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          description: "Tenant Id"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          description: "Branch Code"
          type: "string"
          required: true
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "Authorization Token"
        - name: "contentType"
          in: "header"
          description: "Content Type"
          type: "string"
          required: false
        - name: "branchDate"
          in: "header"
          description: "Branch Date"
          type: "string"
          format: "date-time"
          required: false
        - name: financeRefNo 
          in: path
          description: "Finance Reference Number"
          required: true
          type: string
      responses:
        200:
          description: "Successful performs the operation"
          schema:
            $ref: "./financeTxnWebDef.yaml#/definitions/ResponseModel"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"
          
  /web/v1/getLinkedInvoicesToFinance/{financeRefNo}:
    get:
      tags:
        - "financeTxnWeb"
      summary: "Retrieves the Invoices for a particular Finance Transaction."
      description:  "Retrieves the Invoices for a particular Finance Transaction."
      operationId: "getInvByFinanceRefNo"
      parameters:
        - name: "financeRefNo"
          in: "path"
          description: "ReferenceNumber for which data needs to be fetched"
          required: true
          type: "string"
        - name: "appId"
          in: "header"
          description: "Application Id"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          description: "Tenant Id"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          description: "Branch Code"
          type: "string"
          required: true
      responses:
        200:
          description: "Successful performs the operation"
          schema:
            $ref: "./financeTxnWebDef.yaml#/definitions/InvoiceCollection"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"
  /web/v1/financeRefDetails:
    get:
      tags:
        - "financeTxnWeb"
      summary: "Retrieves the Details of financeRefNo and SeqNo Combined"
      description:  "Retrieves the Details of financeRefNo and SeqNo Combined"
      operationId: "getFinanceRefDetails"
      parameters:
        - name: "appId"
          in: "header"
          description: "Application ID"
          type: "string"
          required: true
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          description: "Branch Code"
          type: "string"
          required: true
        - name: financeRefNo 
          in: "query"
          description: "Finance Reference Number"
          required: true
          type: string
      responses:
        200:
          description: "Successful performs the operation"
          schema:
            $ref: "./financeTxnWebDef.yaml#/definitions/FinanceResponseCollection"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"
  /web/v1/getFinanceTransactionIntgByRefNo/{financeRefNo}:
    get:
      tags:
        - "financeTxnWeb"
      summary: "Retrieves the list of existing Finance Transaction Intg."
      description:  "Retrieves the list of existing Finance Transaction Intg. Add additional information here for the this endpoint."
      operationId: "getFinanceTransactionIntgByRefNo"
      parameters:
        - name: "financeRefNo"
          in: "path"
          description: "ReferenceNumber for which data needs to be fetched"
          required: true
          type: "string"
        - name: "appId"
          in: "header"
          type: "string"
          required: true
          description: "Application Id"
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false
          description: "Tenant Id"
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
          description: "Branch Code"
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "Authorized Token"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
          description: "Content Type"
        - name: "branchDate"
          in: "header"
          type: "string"
          format: "date-time"
          required: false
          description: "Branch Date"
        - name: "authorizationStatus"
          in: "query"
          required: false
          description: "Authorization Status"
          type: "string"
      responses:
        200:
          description: "Successful performs the operation"
          schema:
            $ref: "./financeTxnWebDef.yaml#/definitions/ResponseModel"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"
  /web/v1/financeTransaction/limitFreezeCheck:
    get:
      tags:
        - "financeTxnWeb"
      summary: "Get Limit Freeze Flag."
      description: "Get Limit Freeze Flag."
      operationId: "getLimitFreezeFlag"
      parameters:
        - name: "appId"
          in: "header"
          description: "Application Code"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          description: "Tenant Id"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          description: "Branch Code"
          type: "string"
          required: true
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "Authorization Token"
        - name: "contentType"
          in: "header"
          description: "Content Type"
          type: "string"
          required: false
        - name: "branchDate"
          in: "header"
          description: "Branch Date"
          type: "string"
          format: "date-time"
          required: false
        - name: financeRefNo
          in: query
          description: "financeRefNo"
          required: true
          type: string
      responses:
        200:
          description: "Returns limit freeze flag"
          headers:
            Location:
              description: "URL to Return limit freeze flag"
              type: "string"
          schema:
           $ref: "./financeTxnWebDef.yaml#/definitions/LimitFreezeFlagModel"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
          