swagger: "2.0"
info:
  description: "This is a sample server ManualFinance server.  You can find out more about Swagger at [swagger.io](http://swagger.io) and about data types at [Swagger Data Types](https://swagger.io/docs/specification/data-models/data-types/)"
  version: "1.0.0"
  title: "Finance Settlement Api"
host: "api-plato.us.oracle.com:8080"
basePath: "/obscf-finance-services"
consumes:
  - "application/json"
  - "application/xml"
produces:
  - "application/json"
  - "application/xml"
tags:
  - name: "financeSettlWeb"
    description: "API for Finance Settlement Operations"
    
schemes:
- "https"

paths:
  /web/v1/financeSettlement:
    get:
      tags:
        - "financeSettlWeb"
      summary: "Retrieves the list of existing Finance Settlement."
      description:  "Retrieves the list of existing Finance Settlement. Add additional information here for the this endpoint."
      operationId: "getFinanceSettlement"
      parameters:
        - name: "appId"
          in: "header"
          description: "Application Id"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          description: "Tenant Id"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          description: "Branch Code"
          type: "string"
          required: true
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "Authorization Token"
        - name: "contentType"
          in: "header"
          description: "Content Type"
          type: "string"
          required: false
        - name: "branchDate"
          in: "header"
          description: "Branch Date"
          type: "string"
          format: "date-time"
          required: false
        - name: financeRefNo 
          in: query
          description: "Finance Reference Number"
          required: false
          type: string
        - name: programCode 
          in: query
          description: "Program Code"
          required: false
          type: string
        - name: buyerId 
          in: query
          description: "Buyer Id"
          required: false
          type: string
        - name: supplierId 
          in: query
          description: "Supplier Id"
          required: false
          type: string
        - name: settlementAmtAlloc 
          in: query
          description: "Settlement Amount Allocation"
          required: false
          type: string
        - name: manualAlloc 
          in: query
          description: "Manual Allocation"
          required: false
          type: boolean
        - name: totalSettlementAmt 
          in: query
          description: "Total Settlement Amount"
          required: false
          type: number
        - name: valueDate 
          in: query
          description: "Value Date"
          required: true
          type: string
        - name: debtor 
          in: query
          description: "Debtor"
          required: false
          type: string
        - name: settlementCcy 
          in: query
          description: "Settlement Currency"
          required: true
          type: string
        - name: isFromRecon 
          in: query
          description: "Is From Recon"
          required: false
          type: string
        - name: intRefundAmt 
          in: query
          description: "Interest Refund Amount"
          required: false
          type: number
        - name: pmtToPrincipleOS 
          in: query
          description: "Payment To Principle OS"
          required: false
          type: number
        - name: pmtToIntOS 
          in: query
          description: "Payment To Interest OS"
          required: false
          type: number
        - name: pmtToOverdueOS 
          in: query
          description: "Payment To Overdue OS"
          required: false
          type: number
        - name: pmtToPenaltyOS 
          in: query
          description: "Payment To Penalty OS"
          required: false
          type: number
        - name: jobExecutionId
          in: query
          description: "Batch Job Execution Id"
          required: false
          type: string
      responses:
        200:
          description: "Successful performs the operation"
          schema:
            $ref: "./financeTxnWebDef.yaml#/definitions/ResponseModel"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"
    post:
      tags:
        - "financeSettlWeb"
      summary: "Initiates Settlement for selected Finances."
      description: "Initiates Settlement for selected Finances. "
      operationId: "createSettlement"
      parameters:
        - name: "financeCollection"
          in: "body"
          description: "Request Body that contains data required for creating a new Settlement Tasks."
          required: true
          schema:
            $ref: "./financeTxnWebDef.yaml#/definitions/FinanceTransactionCollection"
        - name: "appId"
          in: "header"
          description: "Application Id"
          type: "string"
          required: true
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          description: "Branch Code"
          type: "string"
          required: true
      responses:
        201:
          description: "Returns the RequestId of the newly created Settlement tasks"
          schema:
              type: "object"
        400:
          description: "Bad Request"
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
  /web/v1/settlementRegistration:
    get:
      tags:
        - "financeSettlWeb"
      summary: "Retrieves the list of existing Finances"
      description:  "Retrieves the list of existing Finance Settlement. Add additional information here for the this endpoint."
      operationId: "getRegistrationDetails"
      parameters:
        - name: "appId"
          in: "header"
          description: "Application Id"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          description: "Tenant Id"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          description: "Branch Code"
          type: "string"
          required: true
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "Authorization Token"
        - name: "contentType"
          in: "header"
          description: "Content Type"
          type: "string"
          required: false
        - name: "branchDate"
          in: "header"
          description: "Branch Date"
          type: "string"
          format: "date-time"
          required: false
        - name: financeRefNo 
          in: query
          description: "Finance Reference Number"
          required: false
          type: string
        - name: programCode 
          in: query
          description: "Program Code"
          required: false
          type: string
        - name: buyerId 
          in: query
          description: "Buyer Id"
          required: false
          type: string
        - name: supplierId 
          in: query
          description: "Supplier Id"
          required: false
          type: string
        - name: debtor 
          in: query
          description: "Debtor"
          required: false
          type: string
        - name: creditAccount 
          in: query
          description: "Credit Account"
          required: false
          type: string
        - name: isFrom 
          in: query
          description: "Is From"
          required: false
          type: string
        - name: "callFromLov"
          in: "query"
          required: false
          description: "Lov Filter"
          type: boolean
        - name: "limit"
          in: "query"
          required: false
          description: "limit to be fetched"
          type: "integer"
        - name: "offset"
          in: "query"
          required: false
          description: "offset of the limit"
          type: "integer"
      responses:
        200:
          description: "Successful performs the operation"
          schema:
            $ref: "./financeTxnWebDef.yaml#/definitions/ResponseModel"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"