swagger: "2.0"
info:
  description: "Provides APIs for charges operations on finances"
  version: "1.0.0"
  title: "Finance Charges Service APIs"
host: "api-plato.us.oracle.com:8080"
basePath: "/obscf-finance-services"
consumes:
  - "application/json"
  - "application/xml"
produces:
  - "application/json"
  - "application/xml"
tags:
  - name: "FinanceChargesService"
    description: "APIs for Finance Charge Operations"

paths:

  /service/v1/processAutoDebit:
    get:
      tags:
        - "FinanceChargesService"
      summary: "Process auto debit transactions"
      description:  "Process auto debit transactions"
      operationId: "processAutoDebitTxn"
      parameters:
        - name: "appId"
          in: "header"
          type: "string"
          required: true
          description: "Application Id"
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "User id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
          description: "Branch Code"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
          description: "Content Type"
        - name: "branchDate" 
          in: "query" 
          type: "string"
          description: "Branch Date"
      responses:
        200:
          description: "Successful performs the operation"
          schema:
            $ref: "./financeTxnWebDef.yaml#/definitions/AutoDebitDtoWrapper"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"
          
  /service/v1/generateAccounting:
    post:
      tags:
        - "FinanceChargesService"
      summary: "Service API to generate accounting data"
      description:  "Service API to generate accounting data"
      operationId: "generateAccounting"
      parameters:
        - name: "appId"
          in: "header"
          type: "string"
          required: true
          description: "Application Id"
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "User id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
          description: "Branch Code"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
          description: "Content Type"
        - name: "branchDate" 
          in: "query" 
          type: "string"
          description: "Branch Date"
        - name: "conductorWorkFlowModel"
          in: "body"
          description: "Request Body that contains data required for a run Eod Job"
          required: true
          schema:
            $ref: "./financeTxnWebDef.yaml#/definitions/ConductorWorkflowModel"
      responses:
        200:
          description: "Successful performs the operation"
          schema:
            $ref: "./financeTxnWebDef.yaml#/definitions/ConductorWorkflowModel"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"
          
          
  /service/v1/createEca:
    post:
      tags:
        - "FinanceChargesService"
      summary: "Service API to create ECA"
      description:  "Service API to create ECA"
      operationId: "createEca"
      parameters:
        - name: "appId"
          in: "header"
          type: "string"
          required: true
          description: "Application Id"
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "User id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
          description: "Branch Code"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
          description: "Content Type"
        - name: "branchDate" 
          in: "query" 
          type: "string"
          description: "Branch Date"
        - name: "conductorWorkFlowModel"
          in: "body"
          description: "Request Body that contains data required for a run Eod Job"
          required: true
          schema:
            $ref: "./financeTxnWebDef.yaml#/definitions/ConductorWorkflowModel"
      responses:
        200:
          description: "Successful performs the operation"
          schema:
            $ref: "./financeTxnWebDef.yaml#/definitions/ConductorWorkflowModel"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"
          
          
  /service/v1/fcubsPosting:
    post:
      tags:
        - "FinanceChargesService"
      summary: "Service API for fcubs posting"
      description:  "Service API for fcubs posting"
      operationId: "fcubsPosting"
      parameters:
        - name: "appId"
          in: "header"
          type: "string"
          required: true
          description: "Application Id"
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "User id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
          description: "Branch Code"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
          description: "Content Type"
        - name: "branchDate" 
          in: "query" 
          type: "string"
          description: "Branch Date"
        - name: "conductorWorkFlowModel"
          in: "body"
          description: "Request Body that contains data required for a run Eod Job"
          required: true
          schema:
            $ref: "./financeTxnWebDef.yaml#/definitions/ConductorWorkflowModel"
      responses:
        200:
          description: "Successful performs the operation"
          schema:
            $ref: "./financeTxnWebDef.yaml#/definitions/ConductorWorkflowModel"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"
          
          
  /service/v1/approveAccounting:
    post:
      tags:
        - "FinanceChargesService"
      summary: "Service API for approve accounting"
      description:  "Service API for approve accounting"
      operationId: "approveAccounting"
      parameters:
        - name: "appId"
          in: "header"
          type: "string"
          required: true
          description: "Application Id"
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "User id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
          description: "Branch Code"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
          description: "Content Type"
        - name: "branchDate" 
          in: "query" 
          type: "string"
          description: "Branch Date"
        - name: "conductorWorkFlowModel"
          in: "body"
          description: "Request Body that contains data required for a run Eod Job"
          required: true
          schema:
            $ref: "./financeTxnWebDef.yaml#/definitions/ConductorWorkflowModel"
      responses:
        200:
          description: "Successful performs the operation"
          schema:
            $ref: "./financeTxnWebDef.yaml#/definitions/ConductorWorkflowModel"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"
          
          
  /service/v1/createSettlementTasks:
    post:
      tags:
        - "FinanceChargesService"
      summary: "Service API to create settlement Tasks"
      description:  "Service API to create settlement Tasks"
      operationId: "createSettlementTasks"
      parameters:
        - name: "appId"
          in: "header"
          type: "string"
          required: true
          description: "Application Id"
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "User id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
          description: "Branch Code"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
          description: "Content Type"
        - name: "branchDate" 
          in: "query" 
          type: "string"
          description: "Branch Date"
        - name: "conductorWorkFlowModel"
          in: "body"
          description: "Request Body that contains data required for a run Eod Job"
          required: true
          schema:
            $ref: "./financeTxnWebDef.yaml#/definitions/ConductorWorkflowModel"
      responses:
        200:
          description: "Successful performs the operation"
          schema:
            $ref: "./financeTxnWebDef.yaml#/definitions/ConductorWorkflowModel"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"
          
  /service/v1/updateAutoDebitMasterStatus:
    post:
      tags:
        - "FinanceChargesService"
      summary: "Service API to update auto debit master status"
      description:  "Service API to update auto debit master status"
      operationId: "updateAutoDebitMasterStatus"
      parameters:
        - name: "appId"
          in: "header"
          type: "string"
          required: true
          description: "Application Id"
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "User id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
          description: "Branch Code"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
          description: "Content Type"
        - name: "branchDate" 
          in: "query" 
          type: "string"
          description: "Branch Date"
        - name: "conductorWorkFlowModel"
          in: "body"
          description: "Request Body that contains data required for a run Eod Job"
          required: true
          schema:
            $ref: "./financeTxnWebDef.yaml#/definitions/ConductorWorkflowModel"
      responses:
        200:
          description: "Successful performs the operation"
          schema:
            $ref: "./financeTxnWebDef.yaml#/definitions/ConductorWorkflowModel"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"
          
          
  /service/v1/cancelEca:
    post:
      tags:
        - "FinanceChargesService"
      summary: "Service API to cancel ECA"
      description:  "Service API to cancel ECA"
      operationId: "cancelEca"
      parameters:
        - name: "appId"
          in: "header"
          type: "string"
          required: true
          description: "Application Id"
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "User id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
          description: "Branch Code"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
          description: "Content Type"
        - name: "branchDate" 
          in: "query" 
          type: "string"
          description: "Branch Date"
        - name: "conductorWorkFlowModel"
          in: "body"
          description: "Request Body that contains data required for a run Eod Job"
          required: true
          schema:
            $ref: "./financeTxnWebDef.yaml#/definitions/ConductorWorkflowModel"
      responses:
        200:
          description: "Successful performs the operation"
          schema:
            $ref: "./financeTxnWebDef.yaml#/definitions/ConductorWorkflowModel"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"
          
  /service/v1/financeCharges:
    get:
      tags:
        - "FinanceChargesService"
      summary: "Calculate the online charges for Finances"
      description:  "Calculate the online charges for Finances."
      operationId: "getFinanceChargeDetails"
      parameters:
        - name: "appId"
          in: "header"
          type: "string"
          required: true
          description: "Application Id"
        - name: "tenantId"
          in: "header"
          type: "string"
          description: "Tenant Id"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "User id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          description: "Branch Code"
          required: true
        - name: "applicationCode"
          in: "header"
          type: "string"
          required: true
          description: "Application Code"
        - name: "event"
          in: "header"
          type: "string"
          required: false
          description: "Event"
        - name: financeRefNo
          in: query
          type: string
          required: false
          description: "Finance Reference Number"
      responses:
        200:
          description: "Successful performs the operation"
          schema:
            $ref: "./financeTxnWebDef.yaml#/definitions/ObChargesTxnDTOCollection"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not auhorized."
        500:
          description: "Internal error"
          
  /service/v1/processfinanceCharges:
     get:
      tags:
        - "FinanceChargesService"
      summary: "Process the online charges for Finances"
      description:  "Process the online charges for Finances."
      operationId: "processfinanceCharges"
      parameters:
        - name: "appId"
          in: "header"
          type: "string"
          description: "Aplication Id"
          required: true
        - name: "tenantId"
          in: "header"
          type: "string"
          description: "Tenant Id"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "User id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          description: "Branch Code"
          required: true
        - name: branchCode
          in: query
          type: string
          description: "Branch Code"
          required: false
        - name: "applicationCode"
          in: "header"
          type: "string"
          required: true
          description: "Application Code"
      responses:
        200:
          description: "Successful performs the operation"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not auhorized."
        500:
          description: "Internal error"
          
  /service/v1/getAutoDebitTxns/{executionId}:
    get:
      tags:
        - "FinanceChargesService"
      summary: "Get auto debit transactions"
      description:  "Get auto debit transactions"
      operationId: "getAutoDebitTxns"
      parameters:
        - name: "executionId"
          in: "path"
          description: "Batch Job Execution Id"
          required: true
          type: "string"
        - name: "appId"
          in: "header"
          type: "string"
          required: true
          description: "Application Id"
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "User id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
          description: "Branch Code"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
          description: "Content Type"
      responses:
        200:
          description: "Successful performs the operation"
          schema:
            $ref: "./financeTxnWebDef.yaml#/definitions/AutoDebitTxnCollection"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"