swagger: "2.0"
info:
  description: "This is a sample server ManualFinance server.  You can find out more about Swagger at [swagger.io](http://swagger.io) and about data types at [Swagger Data Types](https://swagger.io/docs/specification/data-models/data-types/)"
  version: "1.0.0"
  title: "Finance Process Transaction Web"
host: "api-plato.us.oracle.com:8080"
basePath: "/obscf-finance-services"
consumes:
  - "application/json"
  - "application/xml"
produces:
  - "application/json"
  - "application/xml"
tags:
  - name: "financeProcessTxnWeb"
    description: "API for Finance Process Operations"
    
schemes:
- "https"

paths:
  /web/v1/financeProcess:
    post:
      tags:
        - "financeProcessTxnWeb"
      summary: "Adds a new accounting Transaction."
      description: "Adds a new accounting Transaction. Add additional information here for this endpoint."
      operationId: "financeProcess"
      parameters:
        - name: "conductorWorkflowModel"
          in: "body"
          description: "Request Body that contains data required for finance Process"
          required: true
          schema:
            $ref: "./financeTxnWebDef.yaml#/definitions/ConductorWorkflowModel"
        - name: "appId"
          in: "header"
          description: "Application Id"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          description: "Tenant Id"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          description: "Branch Code"
          type: "string"
          required: true
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "Authorization Token"
        - name: "contentType"
          in: "header"
          description: "Content Type"
          type: "string"
          required: false
        - name: "branchDate"
          in: "header"
          description: "Branch Date"
          type: "string"
          format: "date-time"
          required: false
      responses:
        201:
          description: "Successfully completed Auto Finance"
          schema:
              $ref: "./financeTxnWebDef.yaml#/definitions/ConductorWorkflowModel"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error" 
       