swagger: "2.0"
info:
  description: "This is a sample server ManualFinance server.  You can find out more about Swagger at [swagger.io](http://swagger.io) and about data types at [Swagger Data Types](https://swagger.io/docs/specification/data-models/data-types/)"
  version: "1.0.0"
  title: "Limits Transaction Web"
host: "api-plato.us.oracle.com:8080"
basePath: "/obscf-finance-services"
consumes:
  - "application/json"
  - "application/xml"
produces:
  - "application/json"
  - "application/xml"
tags:
  - name: "limitsTxnWeb"
    description: "API for Limits Transaction Operations"
    
schemes:
- "https"

paths:
  /web/v1/limitsTransaction:
    post:
      tags:
        - "limitsTxnWeb"
      summary: "Adds a new limits Transaction."
      description: "Adds a new limits Transaction. Add additional information here for this endpoint."
      operationId: "createLimitsTransaction"
      parameters:
        - name: "limitsTransactionCollection"
          in: "body"
          description: "Request Body that contains data required for creating a new limits Transaction"
          required: true
          schema:
            $ref: "./financeTxnWebDef.yaml#/definitions/LimitsTransactionCollection"
        - name: "appId"
          in: "header"
          description: "Application Id"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          description: "Tenant Id"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          description: "Branch Code"
          type: "string"
          required: true
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "Authorized Token"
        - name: "contentType"
          in: "header"
          description: "Content Type"
          type: "string"
          required: false
        - name: "branchDate"
          in: "header"
          description: "Branch Date"
          type: "string"
          format: "date-time"
          required: false
      responses:
        201:
          description: "Successfully created a new limits Transaction"
          headers:
            Location:
              description: "URL of newly created limits Transaction"
              type: "string"
          schema:
              $ref: "./financeTxnWebDef.yaml#/definitions/ResponseModel"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
    get:
      tags:
        - "limitsTxnWeb"
      summary: "Retrieves the list of existing limits Transactions."
      description:  "Retrieves the list of existing limits Transactions. Add additional information here for the this endpoint."
      operationId: "getAllLimitsTransaction"
      parameters:
        - name: "appId"
          in: "header"
          description: "Application Id"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          description: "Tenant Id"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          description: "Branch Code"
          type: "string"
          required: true
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "Authorized Token"
        - name: "contentType"
          in: "header"
          description: "Content Type"
          type: "string"
          required: false
        - name: "branchDate"
          in: "header"
          description: "Branch Date"
          type: "string"
          format: "date-time"
          required: false
        - name: "limit"
          in: "query"
          required: false
          description: "limit to be fetched"
          type: "integer"
        - name: "offset"
          in: "query"
          required: false
          description: "offset of the limit"
          type: "integer"
      responses:
        200:
          description: "Successful performs the operation"
          schema:
            $ref: "./financeTxnWebDef.yaml#/definitions/ResponseModel"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"
  /web/v1/limitsTransaction/maintenance/{financeRefNo}:
    get:
      tags:
        - "limitsTxnWeb"
      summary: "Retrieves the limits Transaction from Maintenance Service."
      description:  "Retrieves the limits Transaction from Maintenance Service."
      operationId: "getLimitsTransactionMaintenance"
      parameters:
        - name: "financeRefNo"
          in: "path"
          description: "ReferenceNumber for which data needs to be fetched"
          required: true
          type: "string"
        - name: "appId"
          in: "header"
          description: "Application Id"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          description: "Tenant Id"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          description: "Branch Code"
          type: "string"
          required: true
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "Authorized Token"
        - name: "contentType"
          in: "header"
          description: "Content Type"
          type: "string"
          required: false
        - name: "branchDate"
          in: "header"
          description: "Branch Date"
          type: "string"
          format: "date-time"
          required: false
      responses:
        200:
          description: "Returns the limits Transaction from Maintenance Service."
          schema:
            $ref: "./financeTxnWebDef.yaml#/definitions/ResponseModel"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"
  /web/v1/limitsTransaction/{financeRefNo}:
    get:
      tags:
        - "limitsTxnWeb"
      summary: "Retrieves the limits Transaction by ID."
      description:  "Retrieves the limits Transaction by ID. Add additional information here for the this endpoint."
      operationId: "getLimitsTransactionByRefNo"
      parameters:
        - name: "financeRefNo"
          in: "path"
          description: "ReferenceNumber for which data needs to be fetched"
          required: true
          type: "string"
        - name: "appId"
          in: "header"
          description: "Application Id"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          description: "Tenant Id"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          description: "Branch Code"
          type: "string"
          required: true
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "Authorized Token"
        - name: "contentType"
          in: "header"
          description: "Content Type"
          type: "string"
          required: false
        - name: "branchDate"
          in: "header"
          description: "Branch Date"
          type: "string"
          format: "date-time"
          required: false
      responses:
        200:
          description: "Returns the limits Transaction based on given ReferenceNumber."
          schema:
            $ref: "./financeTxnWebDef.yaml#/definitions/ResponseModel"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"
  /web/v1/limitsTransaction/{id}:         
    delete:
      tags:
        - "limitsTxnWeb"
      summary: "Deletes the limits Transaction identified by given ID"
      description:  "Deletes the limits Transaction identified by given ID"
      operationId: "deleteLimitsTransaction"
      parameters:
        - name: "id"
          in: "path"
          description: "Id of the limits Transaction that needs to be deleted"
          required: true
          type: "string"
        - name: "appId"
          in: "header"
          description: "Application Id"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          description: "Tenant Id"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          description: "Branch Code"
          type: "string"
          required: true
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "Authorized Token"
        - name: "contentType"
          in: "header"
          description: "Content Type"
          type: "string"
          required: false
        - name: "branchDate"
          in: "header"
          description: "Branch Date"
          type: "string"
          format: "date-time"
          required: false
      responses:
        200:
          description: "Successful operation."
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error" 
  /web/v1/limitsTransactionMain/{financeRefNo}:
    get:
      tags:
        - "limitsTxnWeb"
      summary: "Retrieves the list of existing limits Transaction from Main."
      description:  "Retrieves the list of existing limits Transaction. Add additional information here for the this endpoint."
      operationId: "getLimitsTransactionMain"
      parameters:
        - name: "financeRefNo"
          in: "path"
          description: "financeRefNo of the details that needs to be fetched"
          required: true
          type: "string"
        - name: "appId"
          in: "header"
          description: "Application Id"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          description: "Tenant Id"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          description: "Branch Code"
          type: "string"
          required: true
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "Authorized Token"
        - name: "contentType"
          in: "header"
          description: "Content Type"
          type: "string"
          required: false
        - name: "branchDate"
          in: "header"
          description: "Branch date"
          type: "string"
          format: "date-time"
          required: false
      responses:
        200:
          description: "Successful performs the operation"
          schema:
            $ref: "./financeTxnWebDef.yaml#/definitions/ResponseModel"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"


  /web/v1/limitsEnquiry:
    get:
     tags:
      - "limitsTxnWeb"
     summary: "Retrives the limits details for the given input request"
     description:  "Retrives the limits details for the given input request"
     operationId: "getLimits"
     parameters:
      - name: "userId"
        in: "header"
        description: "userId"
        required: true
        type: "string"
      - name: "appId"
        in: "header"
        description: "Application Id"
        type: "string"
        required: true
      - name: "debtorId" 
        in: "query" 
        description: "Debtor Id"
        type: "string"
      - name: "debtorName"
        in: "query"
        description: "Debtor Name"
        type: "string"
      - name: "lineId"
        in: "query"
        description: "Line Id"
        type: "string"
      - name: "financeRefNo"
        in: "query"
        description: "Finance Reference Number"
        type: "string"
      - name: "processingDate" 
        in: "query" 
        description: "Processing Date"
        type: "string"
      - name: "productCode"
        in: "query"
        description: "Product Code"
        type: "string"
      - name: "programCode"
        in: "query"
        description: "Program Code"
        type: "string"
     responses:
          200:
           description: "Returns the anchorlimits based on given id."
           schema:
             $ref: "./financeTxnWebDef.yaml#/definitions/LimitsDetailsResponse"
          400:
           description: "Malformed syntax."
          401:
           description: "Request does not have sufficient credentials."
          403:
           description: "Request is not authorized."
          500:
           description: "Internal error"
  /web/v1/limitsFactorEnquiry:
    get:
     tags:
      - "limitsTxnWeb"
     summary: "Retrives the limits details for the given input request"
     description:  "Retrives the limits details for the given input request"
     operationId: "getLimitsFactor"
     parameters:
      - name: "userId"
        in: "header"
        description: "userId"
        required: true
        type: "string"
      - name: "appId"
        in: "header"
        description: "Application Id"
        type: "string"
        required: true
      - name: "externalLineId"
        in: "query"
        description: "External Line Id"
        type: "string"
      - name: "txnRefNo"
        in: "query"
        description: "Transaction Reference Number"
        type: "string"
      - name: "limitType" 
        in: "query" 
        description: "Limit Type"
        type: "string"
      - name: "limitCcy" 
        in: "query" 
        description: "Limit Currency"
        type: "string"        
      - name: "transactionEvent" 
        in: "query" 
        description: "Transaction Event"
        type: "string"
      - name: "limitEvent" 
        in: "query" 
        description: "Limit Event"
        type: "string"
      - name: "toDate" 
        in: "query" 
        description: "To Date"
        type: "string"
      - name: "fromDate" 
        in: "query" 
        description: "From Date"
        type: "string"                                
      - name: "entityType"
        in: "query"
        description: "Entity Type"
        type: "string"
      - name: "entityId"
        in: "query"
        description: "Entity Id"
        type: "string"
      - name: offset
        in: query
        description: offset is starting no of records to be fetched
        required: false
        type: integer
      - name: limit
        in: query
        description: limit is maximum no of records to be fetched
        required: false
        type: integer
     responses:
          200:
           description: "Returns the anchorlimits based on given id."
           schema:
             $ref: "./limitsFactoringTxnWebApi.yaml#/definitions/LimitsFactorTransactionCollection"
          400:
           description: "Malformed syntax."
          401:
           description: "Request does not have sufficient credentials."
          403:
           description: "Request is not authorized."
          500:
           description: "Internal error"