swagger: "2.0"
info:
  description: "Provides APIs to perform enquiry operations on limits"
  version: "1.0.0"
  title: "Limits Transaction Service APIs"
host: "api-plato.us.oracle.com:8080"
basePath: "/obscf-finance-services"
consumes:
  - "application/json"
  - "application/xml"
produces:
  - "application/json"
  - "application/xml"
tags:
  - name: "limitsTxnService"
    description: "APIs for Limits Enquiry Operations"

paths:
  /service/v1/limitsEnquiryMain:
    get:
     tags:
      - "limitsTxnService"
     summary: "Retrives the limits details for the given input request"
     description:  "Retrives the limits details for the given input request"
     operationId: "getLimits"
     parameters:
      - name: "userId"
        in: "header"
        description: "UserId"
        required: true
        type: "string"
      - name: "appId"
        in: "header"
        description: "Application Id"
        type: "string"
        required: true
      - name: "debtorId" 
        in: "query" 
        description: "Debtor Id"
        type: "string"
      - name: "debtorName"
        in: "query"
        description: "Debtor Name"
        type: "string"
      - name: "lineId"
        in: "query"
        description: "Line Id"
        type: "string"
      - name: "financeRefNo"
        in: "query"
        description: "Finance Reference Number"
        type: "string"
      - name: "processingDate" 
        in: "query" 
        description: "Processing Date"
        type: "string"
      - name: "productCode"
        in: "query"
        description: "Product Code"
        type: "string"
      - name: "programCode"
        in: "query"
        description: "Program Code"
        type: "string"
      - name: offset
        in: query
        description: Offset is starting no of records to be fetched
        required: false
        type: integer
      - name: limit
        in: query
        description: Limit is maximum no of records to be fetched
        required: false
        type: integer
     responses:
          200:
           description: "Returns the anchorlimits based on given id."
           schema:
             $ref: "./financeTxnWebDef.yaml#/definitions/LimitsDetailsResponse"
          400:
           description: "Malformed syntax."
          401:
           description: "Request does not have sufficient credentials."
          403:
           description: "Request is not authorized."
          500:
           description: "Internal error"
  /service/v1/limitsFactorEnquiry:
    get:
     tags:
      - "limitsTxnService"
     summary: "Retrives the limits details for the given input request"
     description:  "Retrives the limits details for the given input request"
     operationId: "getLimitsFactor"
     parameters:
      - name: "userId"
        in: "header"
        description: "UserId"
        required: true
        type: "string"
      - name: "appId"
        in: "header"
        description: "Application Id"
        type: "string"
        required: true
      - name: "debtorId" 
        in: "query" 
        description: "Debtor Id"
        type: "string"
      - name: "debtorName"
        in: "query"
        description: "Debtor Name"
        type: "string"
      - name: "lineId"
        in: "query"
        description: "Line Id"
        type: "string"
      - name: "financeRefNo"
        in: "query"
        description: "Finance Reference Number"
        type: "string"
      - name: "processingDate" 
        in: "query" 
        description: "Processing Date"
        type: "string"
      - name: "productCode"
        in: "query"
        description: "Product Code"
        type: "string"
      - name: "programCode"
        in: "query"
        description: "Program Code"
        type: "string"
      - name: "limitType" 
        in: "query" 
        description: "Limit Type"
        type: "string"
      - name: "entityType"
        in: "query"
        description: "Entity Type"
        type: "string"
      - name: "entityDesc"
        in: "query"
        description: "Entity Description"
        type: "string"
      - name: "entityId"
        in: "query"
        description: "Entity Id"
        type: "string"
      - name: offset
        in: query
        description: Offset is starting no of records to be fetched
        required: false
        type: integer
      - name: limit
        in: query
        description: Limit is maximum no of records to be fetched
        required: false
        type: integer
     responses:
          200:
           description: "Successfully retrives the limits details for the given input request"
           schema:
             $ref: "./financeTxnWebDef.yaml#/definitions/LimitsFactorDetailsResponse"
          400:
           description: "Malformed syntax."
          401:
           description: "Request does not have sufficient credentials."
          403:
           description: "Request is not authorized."
          500:
           description: "Internal error"
