swagger: "2.0"
info:
  description: "Provides APIs for managing contracts created by finance"
  version: "1.0.0"
  title: "Loan and Payment Service APIs"
host: "api-plato.us.oracle.com:8080"
basePath: "/obscf-finance-services"
consumes:
  - "application/json"
  - "application/xml"
produces:
  - "application/json"
  - "application/xml"
tags:
  - name: "LoanAndPaymentService"
    description: "API for Loan and Payment Operations"

paths:
  /service/v1/financeLoanService:   
    post:
      tags:
       - "LoanAndPaymentService"
      summary: Get the loan interest from OBCL
      description: Get the loan interest from OBCL
      operationId: createLoanContract
      parameters:
      - name: "appId"
        in: "header"
        type: "string"
        required: true
        description: Application id        
      - name: "userId"
        in: "header"
        type: "string"
        required: true
        description: User id
      - name: "branchCode"
        in: "header"
        type: "string"
        required: true
        description: Branch Code       
      - name: "jsonObject"
        in: "body"
        description: "Request Body that contains data required for create  loan through a OBSCF services"
        required: true
        schema:
         type: "string"
      responses:
        201:   
          description: "Successfully created the loan details"
          schema:
            $ref: "./loanAndPaymentDef.yaml#/definitions/ResponseModel"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
  /service/v1/loanOutstandingAmt:
    post:
      tags:
        - "LoanAndPaymentService"
      summary: "Retrieves the list of existing Finance Settlement."
      description:  "Retrieves the list of existing loan outstanding amount from OBCL.Add additional information here for the this endpoint."
      operationId: "getLoanOutstandingAmt"
      parameters:
        - name: "appId"
          in: "header"
          type: "string"
          required: true  
          description: "Application Id"      
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "User id"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
          description: "Branch Code"
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false  
          description: "Tenant Id"
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "Authorized Token"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false  
          description: "Content Type"      
        - name: "financeTransaction"
          in: "body"
          description: "Request Body that contains data required for getting outstanding amount for OBSCF services"
          required: true
          schema:
            $ref: "./loanAndPaymentDef.yaml#/definitions/FinanceTransactionCollection"      
      responses:
        201:   
          description: "Successfully created the loan details"
          schema:
            $ref: "./loanAndPaymentDef.yaml#/definitions/ResponseModel"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"