swagger: "2.0"
info:
  description: "This is a sample server ManualFinance server.  You can find out more about Swagger at [swagger.io](http://swagger.io) and about data types at [Swagger Data Types](https://swagger.io/docs/specification/data-models/data-types/)"
  version: "1.0.0"
  title: "Party Transaction Web"
host: "api-plato.us.oracle.com:8080"
basePath: "/obscf-finance-services"
consumes:
  - "application/json"
  - "application/xml"
produces:
  - "application/json"
  - "application/xml"
tags:
  - name: "partyTxnWeb"
    description: "API for Party Transaction Operations"
    
schemes:
- "https"

paths:
  /web/v1/partyTransaction:
    post:
      tags:
        - "partyTxnWeb"
      summary: "Adds a new Party Transaction."
      description: "Adds a new Party Transaction. Add additional information here for this endpoint."
      operationId: "createPartyTransaction"
      parameters:
        - name: "partyTransaction"
          in: "body"
          description: "Request Body that contains data required for creating a new party Transaction"
          required: true
          schema:
            $ref: "./financeTxnWebDef.yaml#/definitions/PartyTransactionCollection"
        - name: "appId"
          in: "header"
          type: "string"
          required: true
          description: "Application Id"
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false
          description: "Tenant Id"
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
          description: "Branch Code"
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "Authorized Token"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
          description: "Content Type"
        - name: "branchDate"
          in: "header"
          type: "string"
          format: "date-time"
          required: false
          description: "Branch date"
      responses:
        201:
          description: "Successfully created a new party Transaction"
          headers:
            Location:
              description: "URL of newly created party Transaction"
              type: "string"
          schema:
              $ref: "./financeTxnWebDef.yaml#/definitions/ResponseModel"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
    get:
      tags:
        - "partyTxnWeb"
      summary: "Retrieves the list of existing party Transactions."
      description:  "Retrieves the list of existing party Transactions. Add additional information here for the this endpoint."
      operationId: "getAllPartyTransaction"
      parameters:
        - name: "appId"
          in: "header"
          type: "string"
          required: true
          description: "Application Id"
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false
          description: "Tenant Id"
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
          description: "Branch Code"
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "Authorized Token"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
          description: "Content Type"
        - name: "branchDate"
          in: "header"
          type: "string"
          format: "date-time"
          required: false
          description: "Branch Date"
        - name: "limit"
          in: "query"
          required: false
          description: "limit to be fetched"
          type: "integer"
        - name: "offset"
          in: "query"
          required: false
          description: "offset of the limit"
          type: "integer"
      responses:
        200:
          description: "Successful performs the operation"
          schema:
            $ref: "./financeTxnWebDef.yaml#/definitions/ResponseModel"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"
  /web/v1/partyTransaction/customerDetails/{financeRefNo}:
    get:
      tags:
        - "partyTxnWeb"
      summary: "Retrieves the party Transaction by ID."
      description:  "Retrieves the party Transaction by ID. Add additional information here for the this endpoint."
      operationId: "getPartyTransactionFromCustomer"
      parameters:
        - name: "financeRefNo"
          in: "path"
          description: "ReferenceNumber for which data needs to be fetched"
          required: true
          type: "string"
        - name: "appId"
          in: "header"
          type: "string"
          required: true
          description: "Application Id"
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false
          description: "Tenant Id"
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
          description: "Branch Code"
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "Authorized Token"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
          description: "Content Type"
        - name: "branchDate"
          in: "header"
          type: "string"
          format: "date-time"
          required: false
          description: "Branch Date"
      responses:
        200:
          description: "Returns the party Transaction based on given ReferenceNumber."
          schema:
            $ref: "./financeTxnWebDef.yaml#/definitions/ResponseModel"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"
  /web/v1/partyTransaction/{financeRefNo}:
    get:
      tags:
        - "partyTxnWeb"
      summary: "Retrieves the party Transaction by ID."
      description:  "Retrieves the party Transaction by ID. Add additional information here for the this endpoint."
      operationId: "getPartyTransactionByRefNo"
      parameters:
        - name: "financeRefNo"
          in: "path"
          description: "ReferenceNumber for which data needs to be fetched"
          required: true
          type: "string"
        - name: "appId"
          in: "header"
          type: "string"
          required: true
          description: "Application Id"
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false
          description: "Tenant Id"
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
          description: "Branch Code"
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "Authorized Token"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
          description: "Content Type"
        - name: "branchDate"
          in: "header"
          type: "string"
          format: "date-time"
          required: false
          description: "Branch Date"
        - name: "authorizationStatus"
          in: "query"
          required: false
          description: "Authorization Status"
          type: "string"
      responses:
        200:
          description: "Returns the party Transaction based on given ReferenceNumber."
          schema:
            $ref: "./financeTxnWebDef.yaml#/definitions/ResponseModel"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"
  /web/v1/partyTransaction/{id}:
    put:
      tags:
        - "partyTxnWeb"
      summary: "Update an existing party Transaction."
      description:  "Update an existing party Transaction. Add additional information here for the this endpoint."
      operationId: "updatePartyTransaction"
      parameters:
        - name: "id"
          in: "path"
          description: "Id of the Party Transaction that need to be updated"
          required: true
          type: "string" 
        - name: "partyTransaction"
          in: "body"
          description: "Request Body that contains data required for updating an existing Party Transaction"
          required: true
          schema:
            $ref: "./financeTxnWebDef.yaml#/definitions/PartyTransactionCollection"
        - name: "appId"
          in: "header"
          type: "string"
          required: true
          description: "Application Id"
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false
          description: "Tenant Id"
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
          description: "Branch code"
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "Authorized Token"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
          description: "Content Type"
        - name: "branchDate"
          in: "header"
          type: "string"
          format: "date-time"
          required: false
          description: "Branch Date"
      responses:
        200:
          description: "Returns updated party Transaction"
          schema:
            $ref: "./financeTxnWebDef.yaml#/definitions/ResponseModel"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"          
    delete:
      tags:
        - "partyTxnWeb"
      summary: "Deletes the party Transaction identified by given ID"
      description:  "Deletes the party Transaction identified by given ID"
      operationId: "deletePartyTransaction"
      parameters:
        - name: "id"
          in: "path"
          description: "Id of the party Transaction that needs to be deleted"
          required: true
          type: "string"
        - name: "appId"
          in: "header"
          type: "string"
          required: true
          description: "Application Id"
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false
          description: "Tenant Id"
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
          description: "Branch Code"
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "Authorized Token"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
          description: "Content Type"
        - name: "branchDate"
          in: "header"
          type: "string"
          format: "date-time"
          required: false
          description: "Branch date"
      responses:
        200:
          description: "Successful operation."
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error" 
  /web/v1/partyTransactionMain/{financeRefNo}:
    get:
      tags:
        - "partyTxnWeb"
      summary: "Retrieves the list of existing party Transaction from Main."
      description:  "Retrieves the list of existing party Transaction. Add additional information here for the this endpoint."
      operationId: "getPartyTransactionMain"
      parameters:
        - name: "financeRefNo"
          in: "path"
          description: "financeRefNo of the details that needs to be fetched"
          required: true
          type: "string"
        - name: "appId"
          in: "header"
          type: "string"
          required: true
          description: "Application Id"
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false
          description: "Tenant Id"
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "user id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
          description: "Branch Code"
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "Authorized Token"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
          description: "Content Type"
        - name: "branchDate"
          in: "header"
          type: "string"
          format: "date-time"
          required: false
          description: "Branch Date"
      responses:
        200:
          description: "Successful performs the operation"
          schema:
            $ref: "./financeTxnWebDef.yaml#/definitions/ResponseModel"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"
