# /*******************************************************************************
# * This source is part of the Oracle Banking Software Product.
# * Copyright (c) 2018,2021, Oracle and/or its affiliates. All rights reserved.
# *
# * No part of this work may be reproduced, stored in a retrieval system, adopted or tr
# *
# * Oracle Financial Services Software Limited.
# * Oracle Park, Off Western Express Highway,
# * Goregaon (East),
# * Mumbai - 400 063, India.
# ******************************************************************************/
swagger: '2.0'
info:
  description: This is a sample server job scheduler server.  You can find out more about Swagger at [swagger.io](http://swagger.io) and about data types at [Swagger Data Types](https://swagger.io/docs/specification/data-models/data-types/)
  version: 1.0.0
  title: Job Scheduler
host: api-plato.us.oracle.com:8080
basePath: /api/1.0
consumes:
- application/json
- application/xml
produces:
- application/json
- application/xml
tags:
- name: jobschedulerAPI
  description: API for jobscheduler Operations
schemes:
- https
paths:
  /jobscheduler:
    post:
      tags:
      - jobscheduler
      summary: Adds a new jobscheduler record.
      description: Adds a new jobscheduler record.
      operationId: saveRecord
      parameters:
      - name: jobscheduler
        in: body
        description: Request Body that contains data required for creating a new jobscheduler record
        required: true
        schema:
          $ref: '#/definitions/LmbTbJobSchedulerDTO'
      responses:
        201:
          description: 'Returns message of success or failure '
          headers:
            Location:
              description: URL of newly created jobscheduler record
              type: string
          schema:
            $ref: '#/definitions/ResponseDtoWrapper'
        400:
          description: Malformed syntax.
        401:
          description: Request does not have sufficient credentials.
        403:
          description: Request is not authorized.
        405:
          description: Invalid input
        500:
          description: Internal error
    get:
      tags:
      - jobscheduler
      summary: Get all valid jobscheduler.
      description: Get all valid jobscheduler. This endpoints will be used to Get all valid jobscheduler maintenance records.
      operationId: getAll
      parameters:
        - name: branchCode
          in: query 
          required: false
          type: string
        - name: execDate
          in: query 
          required: false
          type: string
        - name: jobName
          in: query 
          required: false
          type: string
        - name: status
          in: query 
          required: false
          type: string    
      responses:
        201:
          description: Returns message of succes or failure
          headers:
            Location:
              description: ''
              type: string
          schema:
            $ref: '#/definitions/LmbTbJobSchedulerCollection'
        400:
          description: Malformed syntax.
        401:
          description: Request does not have sufficient credentials.
        403:
          description: Request is not authorized.
        405:
          description: Invalid input
        500:
          description: Internal error
     
  /jobscheduler/initiateEod/{branchCodeId}:
    post:
      tags:
      - initiateEod
      summary: initiateEod.
      description: initiateEod
      operationId: initiateEod
      parameters:
        - name: branchCodeId
          in: path
          description: branchCodeId
          required: true
          type: string
      responses:
         201:
          description: Returns message of succes or failure
          headers:
            Location:
              description: URL of newly created sweepmaster data
              type: string
          schema:
            $ref: '#/definitions/ResponseDtoWrapper'
         400:
          description: Malformed syntax.
         401:
          description: Request does not have sufficient credentials.
         403:
          description: Request is not authorized.
         405:
          description: Invalid input
         500:
          description: Internal error
  /jobscheduler/initiateICEod/{branchCode}:
    post:
      tags:
      - initiateICEod
      summary: initiateICEod
      description: Initiate IC batch
      operationId: initiateICEod
      parameters:
      - name: branchCode
        in: path
        description: Initiate IC batch for branch code
        required: true
        type: string
      responses:
        201:
          description: 'Returns message of success or failure '
          headers:
            Location:
              description: URL of newly created jobscheduler record
              type: string
          schema:
            $ref: '#/definitions/ResponseDtoWrapper'
        400:
          description: Malformed syntax.
        401:
          description: Request does not have sufficient credentials.
        403:
          description: Request is not authorized.
        405:
          description: Invalid input
        500:
          description: Internal error           
  /jobscheduler/initiateEodPostIC/{branchCodeId}:
    post:
      tags:
      - initiateEodPostIC
      summary: initiateEodPostIC.
      description: initiateEodPostIC
      operationId: initiateEodPostIC
      parameters:
        - name: branchCodeId
          in: path
          description: branchCodeId
          required: true
          type: string
      responses:
         201:
          description: Returns message of succes or failure
          headers:
            Location:
              description: URL of newly created sweepmaster data
              type: string
          schema:
            $ref: '#/definitions/ResponseDtoWrapper'
         400:
          description: Malformed syntax.
         401:
          description: Request does not have sufficient credentials.
         403:
          description: Request is not authorized.
         405:
          description: Invalid input
         500:
          description: Internal error          
          
  /jobscheduler/initiateDateFlip/{branchCodeId}:
    post:
      tags:
      - initiateDateFlip
      summary: initiateDateFlip.
      description: initiateDateFlip
      operationId: initiateDateFlip
      parameters:
        - name: branchCodeId
          in: path
          description: branchCodeId
          required: true
          type: string
      responses:
         201:
          description: Returns message of succes or failure
          headers:
            Location:
              description: URL of newly created sweepmaster data
              type: string
          schema:
            $ref: '#/definitions/ResponseDtoWrapper'
         400:
          description: Malformed syntax.
         401:
          description: Request does not have sufficient credentials.
         403:
          description: Request is not authorized.
         405:
          description: Invalid input
         500:
          description: Internal error   
  /jobscheduler/initiateICDateFlip/{branchCodeId}:
    post:
      tags:
      - initiateICDateFlip
      summary: initiateICDateFlip.
      description: initiateICDateFlip
      operationId: initiateICDateFlip
      parameters:
        - name: branchCodeId
          in: path
          description: branchCodeId
          required: true
          type: string
      responses:
         201:
          description: Returns message of succes or failure
          headers:
            Location:
              description: URL of newly created sweepmaster data
              type: string
          schema:
            $ref: '#/definitions/ResponseDtoWrapper'
         400:
          description: Malformed syntax.
         401:
          description: Request does not have sufficient credentials.
         403:
          description: Request is not authorized.
         405:
          description: Invalid input
         500:
          description: Internal error             
  /jobscheduler/initiateBod/{branchCodeId}:
    post:
      tags:
      - initiateBod
      summary: initiateBod.
      description: initiateBod
      operationId: initiateBod
      parameters:
        - name: branchCodeId
          in: path
          description: branchCodeId
          required: true
          type: string
      responses:
         201:
          description: Returns message of succes or failure
          headers:
            Location:
              description: URL of newly created sweepmaster data
              type: string
          schema:
            $ref: '#/definitions/ResponseDtoWrapper'
         400:
          description: Malformed syntax.
         401:
          description: Request does not have sufficient credentials.
         403:
          description: Request is not authorized.
         405:
          description: Invalid input
         500:
          description: Internal error  
          
  /jobscheduler/updateEodStatus/{jobschedulerId}:
    post:
      tags:
      - updateEodStatus
      summary: updateEodStatus.
      description: updateEodStatus
      operationId: updateEodStatus
      parameters:
        - name: jobschedulerId
          in: path
          description: jobschedulerId
          required: true
          type: string
        - name: status
          in: query 
          required: false
          type: string          
      responses:
         201:
          description: Returns message of succes or failure
          headers:
            Location:
              description: URL of newly created sweepmaster data
              type: string
          schema:
            $ref: '#/definitions/ResponseDtoWrapper'
         400:
          description: Malformed syntax.
         401:
          description: Request does not have sufficient credentials.
         403:
          description: Request is not authorized.
         405:
          description: Invalid input
         500:
          description: Internal error   
          
  /jobscheduler/updateEodStatusFailure/{jobschedulerId}:
    post:
      tags:
      - updateEodStatusFailure
      summary: updateEodStatusFailure.
      description: updateEodStatusFailure
      operationId: updateEodStatusFailure
      parameters:
        - name: jobschedulerId
          in: path
          description: jobschedulerId
          required: true
          type: string
        - name: errorDto
          in: body
          description: "Error DTO"
          required: false
          schema:
            $ref: '#/definitions/SweepErrorDTO'
      responses:
         201:
          description: Returns message of succes or failure
          headers:
            Location:
              description: URL of newly created sweepmaster data
              type: string
          schema:
            $ref: '#/definitions/ResponseDtoWrapper'
         400:
          description: Malformed syntax.
         401:
          description: Request does not have sufficient credentials.
         403:
          description: Request is not authorized.
         405:
          description: Invalid input
         500:
          description: Internal error
       
  /jobscheduler/preEODCheck/{branchCodeId}:
    get:
      tags:
      - "preEODCheck"
      summary: "To get Unauthorised records."
      description: "To get Unauthorised maintenance,structure and sweep pending records."
      operationId: "preEODCheck"
      parameters:
      - name: branchCodeId
        in: path
        description: branchCodeId
        required: true
        type: string
      responses:
        201:
          description: "Returns message of succes or failure "
          headers:
            Location:
              description: "URL of newly created fileupload"
              type: "string"
          schema:
            $ref: "#/definitions/LmbTbPreEODCheckResponseCollection"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"     
  /jobscheduler/markEodCutOff/{branchCodeId}:
    get:
      tags:
      - "markEodCutOff"
      summary: "To validate pre-eod checklist"
      description: "To get Unauthorised maintenance,structure and sweep pending records."
      operationId: "markEodCutOff"
      parameters:
      - name: branchCodeId
        in: path
        description: branchCodeId
        required: true
        type: string
      responses:
        201:
          description: "Returns message of succes or failure "
          headers:
            Location:
              description: "URL of newly created fileupload"
              type: "string"
          schema:
            $ref: "#/definitions/ResponseDtoWrapper"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"    
  /jobscheduler/markBodCutOff/{branchCodeId}:
    get:
      tags:
      - "markBodCutOff"
      summary: "Pre-validation checklist to initiate BOD batch"
      description: "To get Unauthorised maintenance,structure and sweep pending records."
      operationId: "markBodCutOff"
      parameters:
      - name: branchCodeId
        in: path
        description: branchCodeId
        required: true
        type: string
      responses:
        201:
          description: "Returns message of succes or failure "
          headers:
            Location:
              description: "URL of newly created fileupload"
              type: "string"
          schema:
            $ref: "#/definitions/ResponseDtoWrapper"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"                    
  /jobscheduler/preEODCheck/getCount:
    get:
      tags:
      - jobscheduler
      summary: Get all valid count of preEODCheck records.
      description: Get all valid count of UnAuthorised records. This endpoints will be used to Get all valid jobscheduler maintenance records.
      operationId: getCount
      parameters:
        - name: branchCode
          in: query 
          required: false
          type: string
      responses:
        201:
          description: Returns message of succes or failure
          headers:
            Location:
              description: ''
              type: string
          schema:
            $ref: '#/definitions/LmbTbPreEODCheckRespCountDTO'
        400:
          description: Malformed syntax.
        401:
          description: Request does not have sufficient credentials.
        403:
          description: Request is not authorized.
        405:
          description: Invalid input
        500:
          description: Internal error             

  /jobscheduler/brancheod/initiateBvtSweepBatch/{branchCode}:
    post:
      tags:
      - jobscheduler
      summary: Initiate BvtSweepBatch.
      description: Initiate BvtSweepBatch.
      operationId: initiateBvtSweepBatch
      parameters:
        - name: branchCode
          in: path 
          required: true
          type: string
      responses:
        201:
          description: Returns status
        400:
          description: Malformed syntax.
        401:
          description: Request does not have sufficient credentials.
        403:
          description: Request is not authorized.
        405:
          description: Invalid input
        500:
          description: Internal error

  /jobscheduler/brancheod/initiateBvtPoolBatch/{branchCode}:
    post:
      tags:
      - jobscheduler
      summary: Initiate BvtPoolBatch.
      description: Initiate BvtPoolBatch.
      operationId: initiateBvtPoolBatch
      parameters:
        - name: branchCode
          in: path 
          required: true
          type: string
      responses:
        201:
          description: Returns status
        400:
          description: Malformed syntax.
        401:
          description: Request does not have sufficient credentials.
        403:
          description: Request is not authorized.
        405:
          description: Invalid input
        500:
          description: Internal error

  /jobscheduler/brancheod/initiateEodSweepBatch/{branchCode}:
    post:
      tags:
      - jobscheduler
      summary: Initiate EodSweepAccBatch.
      description: Initiate EodSweepAccBatch.
      operationId: initiateEodSweepBatch
      parameters:
        - name: branchCode
          in: path 
          required: true
          type: string
      responses:
         201:
          description: Returns message of succes or failure
          headers:
            Location:
              description: URL of newly created sweepmaster data
              type: string
          schema:
            $ref: '#/definitions/ResponseDtoWrapper'
         400:
          description: Malformed syntax.
         401:
          description: Request does not have sufficient credentials.
         403:
          description: Request is not authorized.
         405:
          description: Invalid input
         500:
          description: Internal error

  /jobscheduler/brancheod/initiateEodSweepStrBatch/{branchCode}:
    post:
      tags:
      - jobscheduler
      summary: Initiate EodSweepStrBatch.
      description: Initiate EodSweepStrBatch.
      operationId: initiateEodSweepStrBatch
      parameters:
        - name: branchCode
          in: path 
          required: true
          type: string
      responses:
        201:
          description: Returns status
        400:
          description: Malformed syntax.
        401:
          description: Request does not have sufficient credentials.
        403:
          description: Request is not authorized.
        405:
          description: Invalid input
        500:
          description: Internal error

  /jobscheduler/brancheod/initiateBalanceUpdate/{branchCode}:
    post:
      tags:
      - jobscheduler
      summary: Initiate BalanceUpdate.
      description: Initiate BalanceUpdate.
      operationId: initiateBalanceUpdate
      parameters:
        - name: branchCode
          in: path 
          required: true
          type: string
      responses:
         201:
          description: Returns message of succes or failure
          headers:
            Location:
              description: URL of newly created sweepmaster data
              type: string
          schema:
            $ref: '#/definitions/ResponseDtoWrapper'
         400:
          description: Malformed syntax.
         401:
          description: Request does not have sufficient credentials.
         403:
          description: Request is not authorized.
         405:
          description: Invalid input
         500:
          description: Internal error

  /jobscheduler/brancheod/initiateEodPoolBatch/{branchCode}:
    post:
      tags:
      - jobscheduler
      summary: Initiate EodPoolBatch.
      description: Initiate EodPoolBatch.
      operationId: initiateEodPoolBatch
      parameters:
        - name: branchCode
          in: path 
          required: true
          type: string
      responses:
         201:
          description: Returns message of succes or failure
          headers:
            Location:
              description: URL of newly created sweepmaster data
              type: string
          schema:
            $ref: '#/definitions/ResponseDtoWrapper'
         400:
          description: Malformed syntax.
         401:
          description: Request does not have sufficient credentials.
         403:
          description: Request is not authorized.
         405:
          description: Invalid input
         500:
          description: Internal error
  /jobscheduler/batch/initiateReallocationBatch/{branchCode}:
    post:
      tags:
      - jobscheduler
      summary: Initiate Reallocation batch.
      description: Initiate Reallocation batch.
      operationId: initiateReallocationBatch
      parameters:
        - name: branchCode
          in: path 
          required: true
          type: string
      responses:
         201:
          description: Returns message of succes or failure
          headers:
            Location:
              description: URL of newly created sweepmaster data
              type: string
          schema:
            $ref: '#/definitions/ResponseDtoWrapper'
         400:
          description: Malformed syntax.
         401:
          description: Request does not have sufficient credentials.
         403:
          description: Request is not authorized.
         405:
          description: Invalid input
         500:
          description: Internal error
  /jobscheduler/batch/initiateSweepReverseBatch/{branchCode}:
    post:
      tags:
      - jobscheduler
      summary: Initiate Sweep Reverssal batch.
      description: Initiate Sweep Reverssal batch.
      operationId: initiateSweepReverseBatch
      parameters:
        - name: branchCode
          in: path 
          required: true
          type: string
      responses:
         201:
          description: Returns message of succes or failure
          headers:
            Location:
              description: URL of newly created sweepmaster data
              type: string
          schema:
            $ref: '#/definitions/ResponseDtoWrapper'
         400:
          description: Malformed syntax.
         401:
          description: Request does not have sufficient credentials.
         403:
          description: Request is not authorized.
         405:
          description: Invalid input
         500:
          description: Internal error     
  /jobscheduler/batch/initiateBodSweepBatch/{branchCode}:
    post:
      tags:
      - jobscheduler
      summary: Initiate Bod Sweep batch.
      description: Initiate Bod Sweep batch.
      operationId: initiateBodSweepBatch
      parameters:
        - name: branchCode
          in: path 
          required: true
          type: string
      responses:
         201:
          description: Returns message of succes or failure
          headers:
            Location:
              description: URL of newly created sweepmaster data
              type: string
          schema:
            $ref: '#/definitions/ResponseDtoWrapper'
         400:
          description: Malformed syntax.
         401:
          description: Request does not have sufficient credentials.
         403:
          description: Request is not authorized.
         405:
          description: Invalid input
         500:
          description: Internal error                   
  /jobscheduler/brancheod/initiateMarkcutoff/{branchCode}:
    post:
      tags:
      - jobscheduler
      summary: Initiate Markcutoff.
      description: Initiate Markcutoff.
      operationId: initiateMarkcutoff
      parameters:
        - name: branchCode
          in: path 
          required: true
          type: string
      responses:
        201:
          description: Returns status
        400:
          description: Malformed syntax.
        401:
          description: Request does not have sufficient credentials.
        403:
          description: Request is not authorized.
        405:
          description: Invalid input
        500:
          description: Internal error

  /jobscheduler/brancheod/initiateEodIC/{branchCode}:
    post:
      tags:
      - jobscheduler
      summary: Initiate Eod IC.
      description: Initiate Eod IC.
      operationId: initiateEodIC
      parameters:
        - name: branchCode
          in: path 
          required: true
          type: string
      responses:
         201:
          description: Returns message of succes or failure
          headers:
            Location:
              description: URL of newly created sweepmaster data
              type: string
          schema:
            $ref: '#/definitions/ResponseDtoWrapper'
         400:
          description: Malformed syntax.
         401:
          description: Request does not have sufficient credentials.
         403:
          description: Request is not authorized.
         405:
          description: Invalid input
         500:
          description: Internal error

  /jobscheduler/brancheod/initiateAccrualHandOff/{branchCode}:
    post:
      tags:
      - jobscheduler
      summary: Initiate AccrualHandOff.
      description: Initiate AccrualHandOff.
      operationId: initiateAccrualHandOff
      parameters:
        - name: branchCode
          in: path 
          required: true
          type: string
      responses:
        201:
          description: Returns status
        400:
          description: Malformed syntax.
        401:
          description: Request does not have sufficient credentials.
        403:
          description: Request is not authorized.
        405:
          description: Invalid input
        500:
          description: Internal error

  /jobscheduler/brancheod/initiateEodPostIC/{branchCode}:
    post:
      tags:
      - jobscheduler
      summary: Initiate Eod Post IC.
      description: Initiate Eod Post IC.
      operationId: initiateBranchEodPostIC
      parameters:
        - name: branchCode
          in: path 
          required: true
          type: string
      responses:
        201:
          description: Returns status
        400:
          description: Malformed syntax.
        401:
          description: Request does not have sufficient credentials.
        403:
          description: Request is not authorized.
        405:
          description: Invalid input
        500:
          description: Internal error

  /jobscheduler/brancheod/initiateEodDateFlip/{branchCode}:
    post:
      tags:
      - jobscheduler
      summary: Initiate Eod Date Flip.
      description: Initiate Eod Date Flip.
      operationId: initiateEodDateFlip
      parameters:
        - name: branchCode
          in: path 
          required: true
          type: string
      responses:
        201:
          description: Returns status
        400:
          description: Malformed syntax.
        401:
          description: Request does not have sufficient credentials.
        403:
          description: Request is not authorized.
        405:
          description: Invalid input
        500:
          description: Internal error

  /jobscheduler/brancheod/initiateReleasecutoff/{branchCode}:
    post:
      tags:
      - jobscheduler
      summary: Initiate Release Cutoff.
      description: Initiate Release Cutoff.
      operationId: initiateReleasecutoff
      parameters:
        - name: branchCode
          in: path 
          required: true
          type: string
      responses:
        201:
          description: Returns status
        400:
          description: Malformed syntax.
        401:
          description: Request does not have sufficient credentials.
        403:
          description: Request is not authorized.
        405:
          description: Invalid input
        500:
          description: Internal error

  /jobscheduler/brancheod/initiateBodSweep/{branchCode}:
    post:
      tags:
      - jobscheduler
      summary: Initiate Bod Sweep.
      description: Initiate Bod Sweep.
      operationId: initiateBodSweep
      parameters:
        - name: branchCode
          in: path 
          required: true
          type: string
      responses:
        201:
          description: Returns status
        400:
          description: Malformed syntax.
        401:
          description: Request does not have sufficient credentials.
        403:
          description: Request is not authorized.
        405:
          description: Invalid input
        500:
          description: Internal error
definitions:
  LmbTbJobSchedulerDTO:
    type: object
    allOf:
    - $ref: '#/definitions/GenericDto'
    - type: object
      properties:
       branchcode:
        type: string
        description: ""
       endtime:
        type: string
        description: ""
       executiondate:
        type: string
        description: ""
       jobName:
        type: string
        description: ""
       recordsprocessed:
        type: string
        description: ""
       recordstoprocess:
        type: string
        description: ""
       starttime:
        type: string
        description: ""
       status:
        type: string
        description: ""
       errorCode:
        type: string
        description: ""
       errorMessage:
        type: string
        description: ""
  LmbTbSweepLogDTO:
    type: object
    allOf:
    - $ref: '#/definitions/GenericDto'
    - type: object
      properties:
       amount:
         type: number
         description: ''
       balanceTimestamp:
         type: string
         description: ''
       customerId:
         type: string
         description: ''
       executionId:
         type: string
         description: ''
       extTransactionNo:
         type: string
         description: ''
       fromAccountBalance:
         type: number
         description: ''
       fromAccountNumber:
         type: string
         description: ''
       fromAccPostBal:
         type: number
         description: ''
       fromAmount:
         type: number
         description: ''
       fromBicCode:
         type: string
         description: ''
       fromBranchCode:
         type: string
         description: ''
       fromCurrencyCode:
         type: string
         description: ''
       fxRate:
         type: number
         description: ''
       instructionId:
         type: string
         description: ''
       isTwoway:
         type: string
         description: ''
       logTime:
         type: string
         description: ''
       status:
         type: string
         description: ''
       statusMessage:
         type: string
         description: ''
       structureId:
         type: string
         description: ''
       sweepMode:
         type: string
         description: ''
       sweepProduct:
         type: string
         description: ''
       toAccountBalance:
         type: number
         description: ''
       toAccountNumber:
         type: string
         description: ''
       toAccPostBal:
         type: number
         description: ''
       toAmount:
         type: number
         description: ''
       toBicCode:
         type: string
         description: ''
       toBranchCode:
         type: string
         description: ''
       toCurrencyCode:
         type: string
         description: ''
       valueDate:
         type: string
         description: ''
  GenericDto:
    allOf:
    - type: object
      discriminator: resource_type
  ResponseDto:
    type: object
    properties:
      id:
        type: string
      status:
        type: string
      codes:
        type: array
        items:
          $ref: '#/definitions/ResponseCode'
      requestId:
        type: string
  ResponseCode:
    type: object
    properties:
      Code:
        type: string
      Desc:
        type: string
      Type:
        type: string
      Language:
        type: string
      args:
        type: array
        items:
          type: object
      arg:
        type: string
  LmbTbJobSchedulerCollection:
    description: Collection of jobsheduler.
    type: object
    properties:
      data:
        type: array
        items:
          $ref: '#/definitions/LmbTbJobSchedulerDTO'
      paging:
        $ref: '#/definitions/PagingDto'
  LmbTbSweepLogCollection:
    description: Collection of sweeplog.
    type: object
    properties:
      data:
        type: array
        items:
          $ref: '#/definitions/LmbTbSweepLogDTO'
      paging:
        $ref: '#/definitions/PagingDto'
  LmsTbAdhocStrSweepCollection:
    description: Collection of structures.
    type: object
    properties:
      data:
        type: array
        items:
          $ref: '#/definitions/LmsTbAdhocStrSweepDTO'
      paging:
        $ref: '#/definitions/PagingDto'
  LmsTbAdhocStrSweepDTO:
    type: object
    allOf:
    - $ref: '#/definitions/GenericDto'    
    - type: object
      properties:
        structureId:
          type: string
          description: ''
        structureDescription:
          type: string
          description: ''
        structureMasterId:
          type: string
          description: ''
        versionNo:
          type: integer
          description: ''
        effectiveDate:
          type: string
          description: ''
        overRidePendingSweep:
          type: string
          description: ''
        includeExternalAccount:
          type: string
          description: ''          
        customerId:
          type: string
          description: ''
        customerName:
          type: string
          description: ''
        executionType:
          type: string
          description: ''
        status:
          type: string
          description: ''
        sweepStatus:
          type: string
          description: ''
        sweepId:
          type: string
          description: ''
        headerBranchCode:
          type: string
          description: ''
        LmsTbAdhocAccpairSweepDTO:
          type: array
          items:
            $ref: '#/definitions/LmsTbAdhocAccpairSweepDTO'
  LmsTbAdhocAccpairSweepDTO:
    type: object
    properties:
      id:
        type: string
        description: ''
      adhocSweepStrMasterId:
        type: string
        description: ''        
      accountNumber:
        type: string
        description: ''
      instructionId:
        type: string
        description: ''
      instructionPriority:
        type: string
        description: ''        
      branchCode:
        type: string
        description: ''
      currencyCode:
        type: string
        description: ''
      parentAccountNumber:
        type: string
        description: ''
      parentAccountBranch:
        type: string
        description: ''
      parentAccountCurrency:
        type: string
        description: ''
  PagingDto:
    type: object
    properties:
      totalResults:
        type: integer
  ResponseDtoWrapper:
    type: object
    properties:
      messages:
        $ref: '#/definitions/ResponseDto'
      data:
        $ref: '#/definitions/ResponseResourceSupport'
  ResponseResourceSupport:
    type: object

  LmsSweepStructuresDTO:
    type: object
    allOf:
    - type: object
      properties:
        customerId:
          type: string
          description: ''
        mode:
          type: string
          description: ''
        overRidePending:
          type: string
          description: ''
        branchCode:
          type: string
          description: ''
        jobschedulerId:
          type: string
          description: ''
        allowMBCCAccPair:
          type: string
          description: ''
        checkAccPairSweep:
          type: string
          description: ''         
        structureList:
          type: array
          items:
            $ref: '#/definitions/StructureListDTO' 

  StructureListDTO:
    type: object
    properties:
      structureId:
        type: string
      versionNo:
        type: integer
      lastSuccessfulSweepDate:
        type: string
        format: date
        description: ""
      accountList:
          type: array
          items:
            $ref: '#/definitions/LmsSweepAccountDTO'   
  LmsSweepAccountDTO:
    type: object
    properties:
      id:
        type: string
        description: ''
      structureMasterId:
        type: string
        description: ''
      accountNumber:
        type: string
        description: ''
      branchCode:
        type: string
        description: ''
      accountCurrency:
        type: string
        description: ''
      batchDataId:
        type: string
        description: ''
      instructionId:
        type: string
        description: ''
      instructionPriority:
        type: integer
        description: ''
      frequencyId:
        type: string
        description: ''
      fromDate:
        type: string
        description: ''
      toDate:
        type: string
        description: ''                
      extTransactionNo:
        description: "Sweep Log ID"
        type: string
      lastSuccessfulSweepDate:
        type: string
        format: date
        description: ''
  LmbTbStructureDTO:
    type: object
    properties:
      structureId:
        type: string
        description: ""
      structureDesc:
        type: string
        description: ""
  LmmTmUnAuthRecordsDTO:
    type: object
    properties:
      maintenance:
        type: string
        description: ""
      data:
        type: string
        description: ""      
  LmbTbPreEODCheckResponseDTO:
    type: object
    properties:
      cmcMaintenance:
        type: array
        items:
          $ref: '#/definitions/MaintenanceRecordDTO'
      smsMaintenance:
        type: array
        items:
          $ref: '#/definitions/MaintenanceRecordDTO'
      oblmMaintenance:
        type: array
        items:
          $ref: '#/definitions/MaintenanceRecordDTO'
      structure:
        type: array
        items:
          $ref: '#/definitions/LmbTbStructureDTO'
      sweep:
        type: array
        items:
          $ref: '#/definitions/LmbSweepListDTO'
      adhoc:
        type: array
        items:
          $ref: '#/definitions/LmbAdhocSweepListDTO'      
  MaintenanceRecordDTO:
    type: object
    properties:
       maintenance:
        type: string
        description: ""
       data: 
        type: string
        description: ""
  LmbSweepListDTO:
    type: object
    properties:
      structureId:
        type: string
        description: ""
      structureDesc:
        type: string
        description: ""
      status:
        type: string
        description: ""
  LmbAdhocSweepListDTO:
    type: object
    properties:
      structureId:
        type: string
        description: ""
      structureDesc:
        type: string
        description: ""
      status:
        type: string
        description: ""
      executionType:
        type: string
        description: ""
  LmbTbPreEODCheckRespCountDTO:
    type: object
    properties:
      UnAuthRecordsCount:
        type: integer
        description: ""      

  LmmTmStructureCollection:
    description: Collection of structures.
    type: object
    properties:
      data:
        type: array
        items:
          $ref: '#/definitions/LmmTmStructureDTO'   
      paging:
        $ref: '#/definitions/PagingDto'
  LmbTbPreEODCheckResponseCollection:
    description: Collection of unauthorised structures, pending sweeps.
    type: object
    properties:
      data:
        type: array
        items:
          $ref: '#/definitions/LmbTbPreEODCheckResponseDTO'
      paging:
        $ref: '#/definitions/PagingDto'
  LmmTmUnAuthorizedRecordCollection:
    description: Collection of records.
    type: object
    properties:
      data:
        type: array
        items:
          $ref: '#/definitions/LmmTmUnAuthRecordsDTO'    
      paging:
        $ref: '#/definitions/PagingDto'
  LmmTmStructureWrapperDTO:
    type: object
    properties:
      data:
        $ref: '#/definitions/LmmTmStructureDTO'
  LmmTmStructureDetailsWrapperDTO:
    type: object
    properties:
      data:
        type: array
        items:
          $ref: '#/definitions/LmmTmStructureDetailsDTO' 
  CmcTmSystemDatesCollection:
    description: "Collection of systemdates."
    type: "object"
    properties:
      data:
        type: "array"
        items:
          $ref: "#/definitions/CmcTmSystemDatesDto"
      paging:
        $ref: "#/definitions/PagingDto"
  CmcTmSystemDatesDto:
    type: object
    allOf:
      - $ref: '#/definitions/GenericDto'
      - type: object
        properties:
          branchCode:
            type: string
            minLength: 0
            maxLength: 3
          today:
            type: string
          prevWorkingDay:
            type: string
          nextWorkingDay:
            type: string
          modNo:
            type: integer
        required:
          - branchCode
                          
  IcDateFlipRequest:
    type: object
    allOf:
      - type: object
        properties:
          branchCode:
            type: string
            description: ''
          today:
            type: string
            description: ''
          pcStartDate:
            type: string
            description: ''
          pcEndDate:
            type: string
            description: ''
          previousWorkingDay:
            type: string
            description: ''
          nextWorkingDay:  
            type: string
            description: '' 
        required:
          - branchCode
          - today   
          - nextWorkingDay   
  ICResponseDTO:
    description: IC response DTO object
    allOf:
    - type: object
      properties:
        warnings:
          type: array
          items:
            $ref: '#/definitions/ICWarningDTO'
        errors:
          type: array
          items:
            $ref: '#/definitions/ICErrorDTO'
  ICWarningDTO:
    description: IC response Warning DTO
    allOf:
    - type: object
      properties:
        warningCode:
          type: string
          description: Warning Code
        warningDesc:
          type: string
          description: Warning Description
  ICErrorDTO:
    description: IC response Error DTO
    allOf:
    - type: object
      properties:
        errorCode:
          type: string
          description: Error Code
        errorDesc:
          type: string
          description: Error Description
  SweepErrorDTO:
    description: "DTO containing sweep failure error code and message"
    type: "object"
    properties:
      errorCode:
        type: string
        description: "Error Code"
      errorMessage:
        type: string
        description: "Error Message"
  VDBalanceRequestDTO:
    type: object
    properties:
      customerId:
        type: string
        description: ''
      source:
        type: string
        description: ''
      interfaceMasterId:
        type: string
        description: ''
      externalSystemId:
        type: string
        description: ''
      methodName:
        type: string
        description: ''
      txnId:
        type: string
        description: ''
      structureId:
        type: string
        description: ''
      headerBrancRef:
        type: string
        description: ''
      accountRequestDetails:
        type: array
        items:
          $ref: '#/definitions/VDBalanceRequestDetailsDTO'
  VDBalanceRequestDetailsDTO:
    type: object
    properties:
      accountNumber:
        type: string
        description: ''
      branchCode:
        type: string
        description: ''
      currencyCode:
        type: string
        description: ''
      valueDate:
        type: string
        description: From date for which value dated balance is being fetched
      balanceType:
        type: string
        description: ''
      external:
        type: boolean
        description: ""
    required:
    - accountNumber
    - branchCode
    - currencyCode
    - valueDate
  VDBalanceDTO:
    type: object
    properties:
      valueDatedBalanceDetails:
        type: array
        items:
          $ref: '#/definitions/VDBalanceDetailsDTO'
  VDBalanceDetailsDTO:
    type: object
    properties:
      accountNumber:
        type: string
        description: account number for which balance has to be fetched
      currencyCode:
        type: string
        maxLength: 3
        description: Currency of the account number
      branchCode:
        type: string
        description: ''
      valueDate:
        type: string
        description: Value date for which value dated balance is being fetched
      valueDatedBalance:
        type: number
        description: Value dated balance for the date speficied
      availableBalance:
        type: number
        description: Value dated balance for the date speficied 
  VDBalanceWrapperDTO:
    type: object
    properties:
      messages:
        $ref: '#/definitions/ResponseDto'
      data:
        $ref: '#/definitions/VDBalanceDTO'
  UpdateTaskDTO:
    type: object
    properties:
      taskName:
        type: string
      branchCode:
        type: string
      status:
        type: string
      errCode:
        type: string
      errDesc:
        type: string
    required:
    - taskName
    - branchCode
    - status