#-----------------------------------------------------------------------------------------------------
#  **
#  ** File Name  : common.yaml
#  **
#  ** Module     : cmtmlocationlink
#  ** 
#  ** This source is part of the Oracle FLEXCUBE  and is copyrighted by Oracle Financial Services Software Limited.  ** 
#  ** 
#  ** All rights reserved. No part of this work may be reproduced, stored in a retrieval system,
#  ** adopted or transmitted in any form or by any means, electronic, mechanical, photographic,
#  ** graphic, optic recording or otherwise, translated in any language or computer language,
#  ** without the prior written permission of Oracle Financial Services Software Limited.
#  ** 
#  ** Oracle Financial Services Software Limited.
#  ** 10-11, SDF I, SEEPZ, Andheri (East),
#  ** Mumbai - 400 096.
#  ** India
#  ** Copyright 2017-2018 Oracle Financial Services Software Limited. All rights reserved.
#  -------------------------------------------------------------------------------------------------------
#
#  CHANGE HISTORY
#
#  Created By         :  System
#
#  Bug Number         :  
#  Changed By         :  
#  Change Description :  
#  Change On          :  
#  Search String      :  
#  
#  -------------------------------------------------------------------------------------------------------
  

swagger: "2.0"
info:
 description: "This is a sample server cmtmlocationlink server." 
 version: "1.0.0"
 title: "cmtmlocationlink Service"
host: "api-plato.us.oracle.com:8080"
basePath: "/api/1.0"
consumes:
 - "application/json"
produces:
 - "application/json"
tags:
 - name: "cmtmlocationlink"
   description: "this service is to manage crud operations in master datasegment  .........................................................................................................................................."

schemes:
- "https"

paths:

# path to create a new record and fetch all valid records or by intent
#
#  supprorted http methods POST and GET
#
# path example ../cmtmlocationlink

 /cmtmlocationlink:
  post:
   tags:
    - "cmtmlocationlink"
   summary: "Adds a new cmtmlocationlink."
   description: "Adds a new cmtmlocationlink. Add additional information here for this endpoint."
   operationId: "saveRecord"
   parameters:
    - name: "cmtmlocationlink" 
      in: "body" 
      description: "Request Body that contains data required for creating a new cmtmlocationlink" 
      required: true
      schema:
       $ref: "#/definitions/CmTmLocationLinkDTO"
   responses:
    201: 
     description: "Returns message of succes or failure " 
     headers:
      Location:
       description: "URL of newly created cmtmlocationlink" 
       type: "string"
     schema:
       $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "cmtmlocationlink"
   summary: "Get all valid cmtmlocationlink."
   description:  "Get all valid cmtmlocationlink. This endpoints will be used to Get all valid cmtmlocationlink maintenance records."
   operationId: "getAll"
   parameters:
   - name: includecloseandunauth
     in: query
     description: includecloseandunauth need to be set to fetch summary record, defult value is false
     required: false
     type: boolean
   - name: offset
     in: query
     description: offset is starting no of records to be fetched
     required: false
     type: integer
   - name: limit
     in: query
     description: limit is maximum no of records to be fetched
     required: false
     type: integer
   responses:
    201:
     description: "Returns message of success or failure"
     headers: 
      Location:
       description: ""
       type: "string"
     schema:
       $ref: "#/definitions/CmTmLocationLinkCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"

# path to modify existing record, delete existing record and fetch valid records by id or by intent( includes latestRecord, version no)
#
#  supprorted http methods PUT, DELETE and GET
#
# path examples----
#   PUT       .../cmtmlocationlink/xxx
#   DELETE    .../cmtmlocationlink/xxx
#   GET       .../cmtmlocationlink/xxx
#   GET       .../cmtmlocationlink/xxx?version=latestrecord
#   GET       .../cmtmlocationlink/xxx?version=1

 /cmtmlocationlink/{id}:
  put:
   tags:
    - "cmtmlocationlink"
   summary: "Update an existing cmtmlocationlink."
   description:  "Update an existing cmtmlocationlink."
   operationId: "modifyRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "key of the cmtmlocationlink Maintenance"
      required: true
      type: "string"
    - name: "cmtmlocationlink"
      in: "body"
      description: "Request Body that contains data required for updating an existing cmtmlocationlink"
      required: true
      schema:
       $ref: "#/definitions/CmTmLocationLinkDTO"
   responses:
    200:
     description: "Returns updated cmtmlocationlink"
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "cmtmlocationlink"
   summary: "Retrieves the cmtmlocationlink by ID."
   description:  "Retrieves the cmtmlocationlink by ID."
   operationId: "getById"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
    - name: "version"
      in: "query"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the cmtmlocationlink based on given id."
     schema:
      $ref: "#/definitions/CmTmLocationLinkWrapperDTO"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
  delete:
   tags:
    - "cmtmlocationlink"
   summary: "Deletes the cmtmlocationlink identified by given ID."
   description:  "Deletes the cmtmlocationlink identified by given ID. Add additional information here for the this endpoint."
   operationId: "delete"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the cmtmlocationlink maintenance"
      required: true
      type: "string"
    - name: "cmtmlocationlink"
      in: "body"
      description: Request body contain cmtmlocationlink and Modification no of cmtmlocationlink maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to Authorize existing record.
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../cmtmlocationlink/xxx/approve

 /cmtmlocationlink/{id}/approve:
  patch:
   tags:
    - "cmtmlocationlink"
   summary: "Authorize the cmtmlocationlink by given ID."
   description:  "Authorize the cmtmlocationlink identified by given ID."
   operationId: "authorize"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the cmtmlocationlink maintenance"
      required: true
      type: "string"
    - name: "cmtmlocationlink"
      in: "body"
      description: Request body contain cmtmlocationlink and Modification no of cmtmlocationlink maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to close existing record
#
#  supported http methods PATCH
#
# path examples----
#   PATCH       .../cmtmlocationlink/xxx/close
 /cmtmlocationlink/{id}/close:
  patch:
   tags:
    - "cmtmlocationlink"
   summary: "Close the cmtmlocationlink by given ID."
   description:  "Close the cmtmlocationlink identified by given ID."
   operationId: "closeRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the cmtmlocationlink maintenance"
      required: true
      type: "string"
    - name: "cmtmlocationlink"
      in: "body"
      description: Request body contain cmtmlocationlink and Modification no of cmtmlocationlink maintenance which need to be closed"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to reopen existing record
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../cmtmlocationlink/xxx/reopen

 /cmtmlocationlink/{id}/reopen:
  patch:
   tags:
    - "cmtmlocationlink"
   summary: "reopen the cmtmlocationlink by given ID."
   description:  "reopen the cmtmlocationlink identified by given ID."
   operationId: "reopenRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the cmtmlocationlink maintenance"
      required: true
      type: "string"
    - name: "cmtmlocationlink"
      in: "body"
      description: Request body contain cmtmlocationlink and Modification no of cmtmlocationlink maintenance which need to be reopen"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to get all unauthorized records
#
#  supprorted http methods GET
#
# path examples----
#   GET       .../cmtmlocationlink/xxx/unauthorized

 /cmtmlocationlink/{id}/unauthorized:
  get:
   tags:
    - "cmtmlocationlink"
   summary: "Retrives the cmtmlocationlink by given ID."
   description:  "Retrives the cmtmlocationlink identified by given ID."
   operationId: "authQuery"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the cmtmlocationlink based on given id."
     schema:
       $ref: "#/definitions/CmTmLocationLinkCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to  history record for remitterid
#
#  supprorted http methods GETS
#
# path examples----
#   GET       .../cmtmlocationlink/xxx/history

 /cmtmlocationlink/{id}/history:
  get:
   tags:
    - "cmtmlocationlink"
   summary: "Retrives the cmtmlocationlink by given ID."
   description:  "Retrives the cmtmlocationlink by ID."
   operationId: "getHistory"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the cmtmlocationlink based on given id."
     schema:
       $ref: "#/definitions/CmTmLocationLinkCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
 /cmtmlocationlink/{id}/isValid:
  get:
   tags:
    - "cmtmlocationlink"
   summary: "Validate the CmTmLocationLink by ResourceId"
   description:  "Validate the CmTmLocationLink by ResourceId"
   operationId: "validateCmTmLocationLink"
   parameters:
    - name: "resourceId"
      in: "path"
      description: "resourceId of the user that needs to be validated"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the boolean based on validation of given resource id."
     schema:
       $ref: "#/definitions/boolean"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
definitions:
 CmTmLocationLinkDTO:
  type: object
  allOf:
  - $ref: '#/definitions/GenericDto'
  - type: object
    properties:
     id:
      type: string
      description: "id"
     action:
      type: string
      description: "action"
     autoAuth:
      type: string
      description: "auto auth flag"
     modificationStatus:
      type: string
      description: "modification status"   
     datasegmentCode:
      type: string
      description: 'datasegment code'
     checkerRemarks:
      type: string
      description: 'checker remarks' 
     makerRemarks:
      type: string
      description: 'maker remarks'                            
     calendarCode:
      type: string
      description: "calender code"
     clearingNetwork:
      type: string
      description: "clearing network"
     highValueCutoffAmt:
      type: number
      description: "high value cut off amount"
     highValueCutoffAmtCcy:
      type: string
      description: "high value cut off amount currency"
     locationClusterCode:
      type: string
      description: "location cluster code"
     locationClusterDescription:
      type: string
      description: "location cluster description"
     locationCode:
      type: string
      description: "location code"
     locationDescription:
      type: string
      description: "location description"
     locationNetworkType:
      type: string
      description: "location network type"
     CmTmLocCorrBankDTO:
      type: array
      items:
       $ref: '#/definitions/CmTmLocCorrBankDTO'
     CmTmLocOsNwBankDTO:
      type: array
      items:
       $ref: '#/definitions/CmTmLocOsNwBankDTO'
     CmTmLocOwnBranchDTO:
      type: array
      description: "CmTmLocOwnBranch DTO"
      items:
       $ref: '#/definitions/CmTmLocOwnBranchDTO'      
 CmTmLocCorrBankDTO:
  type: object
  properties:
     id:
      type: string
      description: "id"
     authStat:
      type: string
      description: "auth status flag"
     bankCode:
      type: string
      description: "bank code"
     bankDescription:
      type: string
      description: "bank description"
     branchCode:
      type: string
      description: "branch code"
     branchDescription:
      type: string
      description: "branch description"
     checkerDtStamp:
      type: string
      description: "checker date stamp"
     checkerId:
      type: string
      description: "checker id"
     locationCode:
      type: string
      description: "location code"
     locationMasterId:
      type: string
      description: "location master id"
     makerDtStamp:
      type: string
      description: "maker date stamp"
     makerId:
      type: string
      description: "maker id"
     onceAuth:
      type: string
      description: "once auth flag"
     priority:
      type: number
      description: "priority"
     recordStat:
      type: string
      description: "record status flag"
 CmTmLocOsNwBankDTO:
  type: object
  properties:
     id:
      type: string
      description: "id"
     authStat:
      type: string
      description: "auth status flag"
     bankCode:
      type: string
      description: "bank code"
     bankDescription:
      type: string
      description: "bank description"
     branchCode:
      type: string
      description: "branch code"
     branchDescription:
      type: string
      description: "branch description"
     checkerDtStamp:
      type: string
      description: "checker date stamp"
     checkerId:
      type: string
      description: "checker id"
     locationCode:
      type: string
      description: "location code"
     locationMasterId:
      type: string
      description: "location master id"
     makerDtStamp:
      type: string
      description: "maker date stamp"
     makerId:
      type: string
      description: "maker id"
     onceAuth:
      type: string
      description: "once auth flag"
     priority:
      type: number
      description: "priority"
     recordStat:
      type: string
      description: "record status flag"
 CmTmLocOwnBranchDTO:
  description: "CmTmLocOwnBranch DTO"
  type: object
  properties:
     authStat:
      type: string
      description: "auth status flag"
     checkerDtStamp:
      type: string
      description: "checker date stamp"
     checkerId:
      type: string
      description: "checker id"
     makerDtStamp:
      type: string
      description: "maker date stamp"
     makerId:
      type: string
      description: "maker id"
     onceAuth:
      type: string
      description: "once auth flag"
     recordStat:
      type: string
      description: "record status flag"  
     branchCode:
      type: string
      description: "Branch Code"
     branchDescription:
      type: string
      description: "Branch Description"
     priority:
      type: number
      description: "Priority"
     id:
      type: string
      description: "ID"
     locationCode:
      type: string
      description: "Location Code"
     locationMasterId:
      type: string
      description: "Location Master ID"      
 ModListKeyDto:
  type: object
  properties:
   modNos:
    type: array
    items:
     type: integer
   remarks:
    type: string
 KeyDto:
  type: object
  properties:
   modNo:
    type: integer
   remarks:
    type: string
 ResponseDto:
  type: object
  properties:
   id:
    type: string
   status:
    type: string
   codes:
    type: array
    items:
     $ref: "#/definitions/ResponseCode"
   requestId:
    type: string
 ResponseCode:
  type: object
  properties:
   Code:
    type: string
   Desc:
    type: string
   Type:
    type: string
   Language:
    type: string
   args:
    type: array
    items:
     type: object
   arg:
    type: string
 GenericDto:
  allOf:
   - type: object
     discriminator: resource_type
 CmTmLocationLinkCollection: 
  description: "Collection of cmtmlocationlink."
  type: "object"
  properties:
   data:
    type: "array"
    items: 
     $ref: "#/definitions/CmTmLocationLinkDTO"
   paging:
    $ref: "#/definitions/PagingDto"
 PagingDto:
  type: object
  properties:
   totalResults:
    type: integer
 ResponseDtoWrapper:
  type: object
  properties:
   messages:
    $ref: "#/definitions/ResponseDto"
   data:
    $ref: "#/definitions/ResponseResourceSupport"
 ResponseResourceSupport:
  type: object
 CmTmLocationLinkWrapperDTO:
  type: object
  properties:
   data:
    $ref: "#/definitions/CmTmLocationLinkDTO"
 CmTmLocationMasterDTO:
  type: object
  properties:
     id:
      type: string
      description: "ID"
     locationCode:
      type: string
      description: "Location Code"
     locationDescription:
      type: string
      description: "Location Description"
     countryCode:
      type: string
      description: "Country Code"
     stateCode:
      type: string
      description: "State Code"
     locationType:
      type: string
      description: "Location Type"   
 CmTmLocCorrBankCollection: 
  description: "Collection of CmTmLocCorrBank DTO."
  type: "object"
  properties:
   data:
    type: "array"
    items: 
     $ref: "#/definitions/CmTmLocCorrBankDTO"
   paging:
    $ref: "#/definitions/PagingDto"
 CmTmLocCorrBankDTO:
  description: "CmTmLocCorrBank DTO"
  type: object
  properties:
     bankCode:
      type: string
      description: "Bank Code"
     bankDescription:
      type: string
      description: "Bank Description"
     branchCode:
      type: string
      description: "Branch Code"
     branchDescription:
      type: string
      description: "Branch Description"
     id:
      type: string
      description: "ID"
     locationCode:
      type: string
      description: "Location Code"
     locationMasterId:
      type: string
      description: "Location Master ID"
     priority:
      type: number
      description: "Priority"
 CmTmLocOsNwCollection: 
  description: "Collection of CmTmLocOsNwBank DTO."
  type: "object"
  properties:
   data:
    type: "array"
    items: 
     $ref: "#/definitions/CmTmLocOsNwBankDTO"
   paging:
    $ref: "#/definitions/PagingDto"
 CmTmLocOsNwBankDTO:
  description: "CmTmLocOsNwBank DTO"
  type: object
  properties:
     bankCode:
      type: string
      description: "Bank Code"
     bankDescription:
      type: string
      description: "Bank Description"
     branchCode:
      type: string
      description: "Branch Code"
     branchDescription:
      type: string
      description: "Branch Description"
     id:
      type: string
      description: "ID"
     locationCode:
      type: string
      description: "Location Code"
     locationMasterId:
      type: string
      description: "Location Master ID"
     priority:
      type: number
      description: "Priority"      
 CmTmLocationMasterCollection: 
  description: "Collection of Location Master."
  type: "object"
  properties:
   data:
    type: "array"
    items: 
     $ref: "#/definitions/CmTmLocationMasterDTO"
   paging:
    $ref: "#/definitions/PagingDto"
 CmTmLocationMasterDTO:
  type: object
  properties:
     id:
      type: string
      description: "ID"
     locationCode:
      type: string
      description: "Location Code"
     locationDescription:
      type: string
      description: "Location Description"
     countryCode:
      type: string
      description: "Country Code"
     stateCode:
      type: string
      description: "State Code"
     locationType:
      type: string
      description: "Location Type"                 
       