#-----------------------------------------------------------------------------------------------------
#  **
#  ** File Name  : ScreenClass.yaml
#  **
#  ** Module     : Common
#  ** 
#  ** This source is part of the Oracle FLEXCUBE  and is copyrighted by Oracle Financial Services Software Limited.  ** 
#  ** 
#  ** All rights reserved. No part of this work may be reproduced, stored in a retrieval system,
#  ** adopted or transmitted in any form or by any means, electronic, mechanical, photographic,
#  ** graphic, optic recording or otherwise, translated in any language or computer language,
#  ** without the prior written permission of Oracle Financial Services Software Limited.
#  ** 
#  ** Oracle Financial Services Software Limited.
#  ** 10-11, SDF I, SEEPZ, Andheri (East),
#  ** Mumbai - 400 096.
#  ** India
#  ** Copyright 2017-2018 Oracle Financial Services Software Limited. All rights reserved.
#  -------------------------------------------------------------------------------------------------------
#
#  CHANGE HISTORY
#
#  Created By         :  System
#
#  Bug Number         :  
#  Changed By         :  
#  Change Description :  
#  Change On          :  
#  Search String      :  
#  
#  -------------------------------------------------------------------------------------------------------
  

swagger: "2.0"
info:
 description: "This is a sample server screenclassmaintenance server." 
 version: "1.0.0"
 title: "ScreenClass Maintenance Service"
host: "api-plato.us.oracle.com:8080"
basePath: "/api/1.0"
consumes:
 - "application/json"
produces:
 - "application/json"
tags:
 - name: "screenclassmaintenance"
   description: "this is a new maintenance service for data segment mapping which contains the details related to the screens to be loaded for each stage corresponding to the each stage. screen class which maintains the cca's for each of the stage id. stage mapped for the particular domain, process and stage class."

schemes:
- "https"

paths:

# path to create a new record and fetch all valid records or by intent
#
#  supprorted http methods POST and GET
#
# path example ../screenclassmaintenance

 /screenclassmaintenance:
  post:
   tags:
    - "screenclassmaintenance"
   summary: "Adds a new screenclassmaintenance."
   description: "Adds a new screenclassmaintenance. Add additional information here for this endpoint."
   operationId: "saveRecord"
   parameters:
    - name: "screenclassmaintenance" 
      in: "body" 
      description: "Request Body that contains data required for creating a new screenclassmaintenance" 
      required: true
      schema:
       $ref: "#/definitions/CmcTmScreenClassDTO"
   responses:
    201: 
     description: "Returns message of succes or failure " 
     headers:
      Location:
       description: "URL of newly created screenclassmaintenance" 
       type: "string"
     schema:
       $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "screenclassmaintenance"
   summary: "Get all valid screenclassmaintenance."
   description:  "Get all valid screenclassmaintenance. This endpoints will be used to Get all valid screenclassmaintenance maintenance records."
   operationId: "getAll"
   parameters:
   - name: includecloseandunauth
     in: query
     description: includecloseandunauth need to be set to fetch summary record, defult value is false
     required: false
     type: boolean
   - name: offset
     in: query
     description: offset is starting no of records to be fetched
     required: false
     type: integer
   - name: limit
     in: query
     description: limit is maximum no of records to be fetched
     required: false
     type: integer
   responses:
    201:
     description: "Returns message of succes or failure"
     headers: 
      Location:
       description: ""
       type: "string"
     schema:
       $ref: "#/definitions/CmcTmScreenClassCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
 /screenclassmaintenance/screenClassCode/{screenClassCode}:
  get:
   tags:
    - "screenclassmaintenance"
   summary: "Get all valid screenclassmaintenance by screenClassCode."
   description:  "Get all valid screenclassmaintenance. This endpoints will be used to Get all valid screenclassmaintenance maintenance records by screenClassCode."
   operationId: "getDsListByClassCode"
   parameters:
    - name: "screenClassCode"
      in: "path"
      description: "screenClassCode of the screenclassmaintenance that needs to be fetched"
      required: true
      type: "string"
    - name: "version"
      in: "query"
      description: "Id of the screenclassmaintenance that needs to be fetched"
      required: false
      type: "string"
   responses:
    201:
     description: "Returns message of succes or failure"
     headers: 
      Location:
       description: ""
       type: "string"
     schema:
       $ref: "#/definitions/CmcTmScreenClassWrapperDTO"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
 /screenclassmaintenance/domain/{domain}:
  get:
   tags:
    - "screenclassmaintenance"
   summary: "Get all valid screenclassmaintenance by domain."
   description:  "Get all valid screenclassmaintenance. This endpoints will be used to Get all valid screenclassmaintenance maintenance records by domain."
   operationId: "getDSListByScreenClassDomain"
   parameters:
    - name: "domain"
      in: "path"
      description: "domain of the screenclassmaintenance that needs to be fetched"
      required: true
      type: "string"
    - name: "version"
      in: "query"
      description: "Id of the screenclassmaintenance that needs to be fetched"
      required: false
      type: "string"
   responses:
    201:
     description: "Returns message of succes or failure"
     headers: 
      Location:
       description: ""
       type: "string"
     schema:
       $ref: "#/definitions/CmcTmScreenClassCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"

# path to modify existing record, delete existing record and fetch valid records by id or by intent( includes latestRecord, version no)
#
#  supprorted http methods PUT, DELETE and GET
#
# path examples----
#   PUT       .../screenclassmaintenance/xxx
#   DELETE    .../screenclassmaintenance/xxx
#   GET       .../screenclassmaintenance/xxx
#   GET       .../screenclassmaintenance/xxx?version=latestrecord
#   GET       .../screenclassmaintenance/xxx?version=1

 /screenclassmaintenance/{id}:
  put:
   tags:
    - "screenclassmaintenance"
   summary: "Update an existing screenclassmaintenance."
   description:  "Update an existing screenclassmaintenance."
   operationId: "modifyRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "key of the screenclassmaintenance Maintenance"
      required: true
      type: "string"
    - name: "screenclassmaintenance"
      in: "body"
      description: "Request Body that contains data required for updating an existing screenclassmaintenance"
      required: true
      schema:
       $ref: "#/definitions/CmcTmScreenClassDTO"
   responses:
    200:
     description: "Returns updated screenclassmaintenance"
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "screenclassmaintenance"
   summary: "Retrieves the screenclassmaintenance by ID."
   description:  "Retrieves the screenclassmaintenance by ID."
   operationId: "getById"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
    - name: "version"
      in: "query"
      description: "Id of the user that needs to be fetched"
      required: false
      type: "string"
   responses:
    200:
     description: "Returns the screenclassmaintenance based on given id."
     schema:
      $ref: "#/definitions/CmcTmScreenClassWrapperDTO"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
  delete:
   tags:
    - "screenclassmaintenance"
   summary: "Deletes the screenclassmaintenance identified by given ID."
   description:  "Deletes the screenclassmaintenance identified by given ID. Add additional information here for the this endpoint."
   operationId: "delete"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the screenclassmaintenance maintenance"
      required: true
      type: "string"
    - name: "screenclassmaintenance"
      in: "body"
      description: Request body contain screenclassmaintenance and Modification no of screenclassmaintenance maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to Authorize existing record.
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../screenclassmaintenance/xxx/approve

 /screenclassmaintenance/{id}/approve:
  patch:
   tags:
    - "screenclassmaintenance"
   summary: "Authorize the screenclassmaintenance by given ID."
   description:  "Authorize the screenclassmaintenance identified by given ID."
   operationId: "authorize"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the screenclassmaintenance maintenance"
      required: true
      type: "string"
    - name: "screenclassmaintenance"
      in: "body"
      description: Request body contain screenclassmaintenance and Modification no of screenclassmaintenance maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to close existing record
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../screenclassmaintenance/xxx/close
 /screenclassmaintenance/{id}/close:
  patch:
   tags:
    - "screenclassmaintenance"
   summary: "Close the screenclassmaintenance by given ID."
   description:  "Close the screenclassmaintenance identified by given ID."
   operationId: "closeRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the screenclassmaintenance maintenance"
      required: true
      type: "string"
    - name: "screenclassmaintenance"
      in: "body"
      description: Request body contain screenclassmaintenance and Modification no of screenclassmaintenance maintenance which need to be closed"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to reopen existing record
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../screenclassmaintenance/xxx/reopen

 /screenclassmaintenance/{id}/reopen:
  patch:
   tags:
    - "screenclassmaintenance"
   summary: "reopen the screenclassmaintenance by given ID."
   description:  "reopen the screenclassmaintenance identified by given ID."
   operationId: "reopenRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the screenclassmaintenance maintenance"
      required: true
      type: "string"
    - name: "screenclassmaintenance"
      in: "body"
      description: Request body contain screenclassmaintenance and Modification no of screenclassmaintenance maintenance which need to be reopen"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to get all unauthorized records
#
#  supprorted http methods GET
#
# path examples----
#   GET       .../screenclassmaintenance/xxx/unauthorized

 /screenclassmaintenance/{id}/unauthorized:
  get:
   tags:
    - "screenclassmaintenance"
   summary: "Retrives the screenclassmaintenance by given ID."
   description:  "Retrives the screenclassmaintenance identified by given ID."
   operationId: "authQuery"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the screenclassmaintenance based on given id."
     schema:
       $ref: "#/definitions/CmcTmScreenClassCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to  history record for remitterid
#
#  supprorted http methods GETS
#
# path examples----
#   GET       .../screenclassmaintenance/xxx/history

 /screenclassmaintenance/{id}/history:
  get:
   tags:
    - "screenclassmaintenance"
   summary: "Retrives the screenclassmaintenance by given ID."
   description:  "Retrives the screenclassmaintenance by ID."
   operationId: "getHistory"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the screenclassmaintenance based on given id."
     schema:
       $ref: "#/definitions/CmcTmScreenClassCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
definitions:
 CmcTmScreenClassDTO:
  type: object
  allOf:
  - $ref: '#/definitions/GenericDto'
  - type: object
    properties:
     bundleTags:
      type: string
      description: "Bundle Tags"
     domain:
      type: string
      description: "Domain"
     screenClassCode:
      type: string
      description: "Screen Class Code"
     screenClassDesc:
      type: string
      description: "Screen Class Description"
     trainOrientation:
      type: string
      description: "Train Orientation"
     rsoFlag:
      type: boolean
      description: "Rso Flag"
     resourceFlag:
      type: boolean
      description: "Resource Flag"
     resourceClassCode:
      type: string
      description: "Resource Class Code"
     CmcTmScreenDsMappingDTO:
      type: array
      items:
       $ref: '#/definitions/CmcTmScreenDsMappingDTO'
     CmcTmScreenCompareLabelsDTO:
      type: array
      items:
       $ref: '#/definitions/CmcTmScreenCompareLabelsDTO'
 CmcTmScreenDsMappingDTO:
  type: object
  properties:
     dsCode:
      type: string
      description: "Ds Code"
     dsDescription:
      type: string
      description: "Ds Description"
     editFlag:
      type: boolean
      description: "Edit Flag"
     id:
      type: string
      description: "Id"
     mandatory:
      type: boolean
      description: "Mandatory"
     screenClassId:
      type: string
      description: "Screen Class Id"
     sequence:
      type: number
      description: "Sequence"
     endpoint:
      type: string
      description: "End Point"
     subdomain:
      type: string
      description: "Subdomain"
     groupName:
      type: string
      description: "Group Name"
     groupDescription:
      type: string
      description: "Group Description"
     groupViewType:
      type: string
      description: "Group View Type"
     groupSequence:
      type: number
      description: "Group Sequence"
 CmcTmScreenCompareLabelsDTO:
  type: object
  properties:
     bundleAttribute:
      type: string
      description: "Bundle Attribute"
     id:
      type: string
      description: "Id"
     jsonAttribute  :
      type: string
      description: "Json Attribute"
     screenClassId:
      type: string
      description: "Screen class Id"
 ModListKeyDto:
  type: object
  properties:
   modNos:
    type: array
    items:
     type: integer
   remarks:
    type: string
 KeyDto:
  type: object
  properties:
   modNo:
    type: integer
   remarks:
    type: string
 ResponseDto:
  type: object
  properties:
   id:
    type: string
   status:
    type: string
   codes:
    type: array
    items:
     $ref: "#/definitions/ResponseCode"
   requestId:
    type: string
 ResponseCode:
  type: object
  properties:
   Code:
    type: string
   Desc:
    type: string
   Type:
    type: string
   Language:
    type: string
   args:
    type: array
    items:
     type: object
   arg:
    type: string
 GenericDto:
  allOf:
   - type: object
     discriminator: resource_type
 CmcTmScreenClassCollection: 
  description: "Collection of screenclass."
  type: "object"
  properties:
   data:
    type: "array"
    items: 
     $ref: "#/definitions/CmcTmScreenClassDTO"
   paging:
    $ref: "#/definitions/PagingDto"
 PagingDto:
  type: object
  properties:
   totalResults:
    type: integer
 ResponseDtoWrapper:
  type: object
  properties:
   messages:
    $ref: "#/definitions/ResponseDto"
   data:
    $ref: "#/definitions/ResponseResourceSupport"
 ResponseResourceSupport:
  type: object
 CmcTmScreenClassWrapperDTO:
  type: object
  properties:
   data:
    $ref: "#/definitions/CmcTmScreenClassDTO"
