#-----------------------------------------------------------------------------------------------------
#  **
#  ** File Name  : common.yaml
#  **
#  ** Module     : obcmtmarrangementmaster
#  ** 
#  ** This source is part of the Oracle FLEXCUBE  and is copyrighted by Oracle Financial Services Software Limited.  ** 
#  ** 
#  ** All rights reserved. No part of this work may be reproduced, stored in a retrieval system,
#  ** adopted or transmitted in any form or by any means, electronic, mechanical, photographic,
#  ** graphic, optic recording or otherwise, translated in any language or computer language,
#  ** without the prior written permission of Oracle Financial Services Software Limited.
#  ** 
#  ** Oracle Financial Services Software Limited.
#  ** 10-11, SDF I, SEEPZ, Andheri (East),
#  ** Mumbai - 400 096.
#  ** India
#  ** Copyright 2017-2018 Oracle Financial Services Software Limited. All rights reserved.
#  -------------------------------------------------------------------------------------------------------
#
#  CHANGE HISTORY
#
#  Created By         :  System
#
#  Bug Number         :  
#  Changed By         :  
#  Change Description :  
#  Change On          :  
#  Search String      :  
#  
#  -------------------------------------------------------------------------------------------------------
  

swagger: "2.0"
info:
 description: "This is a sample server obcmtmarrangementmaster server." 
 version: "1.0.0"
 title: "obcmtmarrangementmaster Service"
host: "api-plato.us.oracle.com:8080"
basePath: "/api/1.0"
consumes:
 - "application/json"
produces:
 - "application/json"
tags:
 - name: "obcmtmarrangementmaster"
   description: "this service is to manage crud operations in master datasegment  .........................................................................................................................................."

schemes:
- "https"

paths:

# path to create a new record and fetch all valid records or by intent
#
#  supprorted http methods POST and GET
#
# path example ../obcmtmarrangementmaster

 /obcmtmarrangementmaster:
  post:
   tags:
    - "obcmtmarrangementmaster"
   summary: "Adds a new obcmtmarrangementmaster."
   description: "Adds a new obcmtmarrangementmaster. Add additional information here for this endpoint."
   operationId: "saveRecord"
   parameters:
    - name: "obcmtmarrangementmaster" 
      in: "body" 
      description: "Request Body that contains data required for creating a new obcmtmarrangementmaster" 
      required: true
      schema:
       $ref: "#/definitions/ObcmTmArrangementMasterDTO"
   responses:
    201: 
     description: "Returns message of succes or failure " 
     headers:
      Location:
       description: "URL of newly created obcmtmarrangementmaster" 
       type: "string"
     schema:
       $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "obcmtmarrangementmaster"
   summary: "Get all valid obcmtmarrangementmaster."
   description:  "Get all valid obcmtmarrangementmaster. This endpoints will be used to Get all valid obcmtmarrangementmaster maintenance records."
   operationId: "getAll"
   parameters:
   - name: includecloseandunauth
     in: query
     description: includecloseandunauth need to be set to fetch summary record, defult value is false
     required: false
     type: boolean
   - name: offset
     in: query
     description: offset is starting no of records to be fetched
     required: false
     type: integer
   - name: limit
     in: query
     description: limit is maximum no of records to be fetched
     required: false
     type: integer
   responses:
    201:
     description: "Returns message of success or failure"
     headers: 
      Location:
       description: ""
       type: "string"
     schema:
       $ref: "#/definitions/ObcmTmArrangementMasterCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"

# path to modify existing record, delete existing record and fetch valid records by id or by intent( includes latestRecord, version no)
#
#  supprorted http methods PUT, DELETE and GET
#
# path examples----
#   PUT       .../obcmtmarrangementmaster/xxx
#   DELETE    .../obcmtmarrangementmaster/xxx
#   GET       .../obcmtmarrangementmaster/xxx
#   GET       .../obcmtmarrangementmaster/xxx?version=latestrecord
#   GET       .../obcmtmarrangementmaster/xxx?version=1

 /obcmtmarrangementmaster/{id}:
  put:
   tags:
    - "obcmtmarrangementmaster"
   summary: "Update an existing obcmtmarrangementmaster."
   description:  "Update an existing obcmtmarrangementmaster."
   operationId: "modifyRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "key of the obcmtmarrangementmaster Maintenance"
      required: true
      type: "string"
    - name: "obcmtmarrangementmaster"
      in: "body"
      description: "Request Body that contains data required for updating an existing obcmtmarrangementmaster"
      required: true
      schema:
       $ref: "#/definitions/ObcmTmArrangementMasterDTO"
   responses:
    200:
     description: "Returns updated obcmtmarrangementmaster"
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "obcmtmarrangementmaster"
   summary: "Retrieves the obcmtmarrangementmaster by ID."
   description:  "Retrieves the obcmtmarrangementmaster by ID."
   operationId: "getById"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
    - name: "version"
      in: "query"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the obcmtmarrangementmaster based on given id."
     schema:
      $ref: "#/definitions/ObcmTmArrangementMasterWrapperModel"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
  delete:
   tags:
    - "obcmtmarrangementmaster"
   summary: "Deletes the obcmtmarrangementmaster identified by given ID."
   description:  "Deletes the obcmtmarrangementmaster identified by given ID. Add additional information here for the this endpoint."
   operationId: "delete"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the obcmtmarrangementmaster maintenance"
      required: true
      type: "string"
    - name: "obcmtmarrangementmaster"
      in: "body"
      description: Request body contain obcmtmarrangementmaster and Modification no of obcmtmarrangementmaster maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to Authorize existing record.
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../obcmtmarrangementmaster/xxx/approve

 /obcmtmarrangementmaster/{id}/approve:
  patch:
   tags:
    - "obcmtmarrangementmaster"
   summary: "Authorize the obcmtmarrangementmaster by given ID."
   description:  "Authorize the obcmtmarrangementmaster identified by given ID."
   operationId: "authorize"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the obcmtmarrangementmaster maintenance"
      required: true
      type: "string"
    - name: "obcmtmarrangementmaster"
      in: "body"
      description: Request body contain obcmtmarrangementmaster and Modification no of obcmtmarrangementmaster maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to close existing record
#
#  supported http methods PATCH
#
# path examples----
#   PATCH       .../obcmtmarrangementmaster/xxx/close
 /obcmtmarrangementmaster/{id}/close:
  patch:
   tags:
    - "obcmtmarrangementmaster"
   summary: "Close the obcmtmarrangementmaster by given ID."
   description:  "Close the obcmtmarrangementmaster identified by given ID."
   operationId: "closeRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the obcmtmarrangementmaster maintenance"
      required: true
      type: "string"
    - name: "obcmtmarrangementmaster"
      in: "body"
      description: Request body contain obcmtmarrangementmaster and Modification no of obcmtmarrangementmaster maintenance which need to be closed"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to reopen existing record
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../obcmtmarrangementmaster/xxx/reopen

 /obcmtmarrangementmaster/{id}/reopen:
  patch:
   tags:
    - "obcmtmarrangementmaster"
   summary: "reopen the obcmtmarrangementmaster by given ID."
   description:  "reopen the obcmtmarrangementmaster identified by given ID."
   operationId: "reopenRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the obcmtmarrangementmaster maintenance"
      required: true
      type: "string"
    - name: "obcmtmarrangementmaster"
      in: "body"
      description: Request body contain obcmtmarrangementmaster and Modification no of obcmtmarrangementmaster maintenance which need to be reopen"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to get all unauthorized records
#
#  supprorted http methods GET
#
# path examples----
#   GET       .../obcmtmarrangementmaster/xxx/unauthorized

 /obcmtmarrangementmaster/{id}/unauthorized:
  get:
   tags:
    - "obcmtmarrangementmaster"
   summary: "Retrives the obcmtmarrangementmaster by given ID."
   description:  "Retrives the obcmtmarrangementmaster identified by given ID."
   operationId: "authQuery"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the obcmtmarrangementmaster based on given id."
     schema:
       $ref: "#/definitions/ObcmTmArrangementMasterCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to  history record for remitterid
#
#  supprorted http methods GETS
#
# path examples----
#   GET       .../obcmtmarrangementmaster/xxx/history

 /obcmtmarrangementmaster/{id}/history:
  get:
   tags:
    - "obcmtmarrangementmaster"
   summary: "Retrives the obcmtmarrangementmaster by given ID."
   description:  "Retrives the obcmtmarrangementmaster by ID."
   operationId: "getHistory"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the obcmtmarrangementmaster based on given id."
     schema:
       $ref: "#/definitions/ObcmTmArrangementMasterCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
 /obcmtmarrangementmaster/{id}/isValid:
  get:
   tags:
    - "obcmtmarrangementmaster"
   summary: "Validate the ObcmTmArrangementMaster by ResourceId"
   description:  "Validate the ObcmTmArrangementMaster by ResourceId"
   operationId: "validateObcmTmArrangementMaster"
   parameters:
    - name: "resourceId"
      in: "path"
      description: "resourceId of the user that needs to be validated"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the boolean based on validation of given resource id."
     schema:
       $ref: "#/definitions/boolean"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
definitions:
 ObcmTmArrangementMasterDTO:
  type: object
  allOf:
  - $ref: '#/definitions/GenericDto'
  - type: object
    properties:
     id:
      type: string
      description: ""
     action:
      type: string
      description: ""
     autoAuth:
      type: string
      description: ""
     modificationStatus:
      type: string
      description: ""   
     datasegmentCode:
      type: string
      description: ''
     checkerRemarks:
      type: string
      description: '' 
     makerRemarks:
      type: string
      description: ''                            
     arrangementCode:
      type: string
      description: ""
     arrangementDays:
      type: number
      description: ""
     arrangementDesc:
      type: string
      description: ""
     arrangementRefBasis:
      type: string
      description: ""
     certificateExtensionDays:
      type: number
      description: ""
     corporateReleaseDays:
      type: number
      description: ""
     lostExtensionDays:
      type: number
      description: ""
     returnExtensionDays:
      type: number
      description: ""
     creditReversalDays:
      type: number
      description: ""
     creditReversalFrom:
      type: string
      description: ""
     partialCreditReversal:
      type: string
      description: ""
     bankFloatArrangement:
      type: string
      description: ""
     returnRecoveryFrom:
      type: string
      description: ""
     partialReturnRecovery:
      type: string
      description: ""
     forcedDebitForRecovery:
      type: string
      description: ""
 ModListKeyDto:
  type: object
  properties:
   modNos:
    type: array
    items:
     type: integer
   remarks:
    type: string
 KeyDto:
  type: object
  properties:
   modNo:
    type: integer
   remarks:
    type: string
 ResponseDto:
  type: object
  properties:
   id:
    type: string
   status:
    type: string
   codes:
    type: array
    items:
     $ref: "#/definitions/ResponseCode"
   requestId:
    type: string
 ResponseCode:
  type: object
  properties:
   Code:
    type: string
   Desc:
    type: string
   Type:
    type: string
   Language:
    type: string
   args:
    type: array
    items:
     type: object
   arg:
    type: string
 GenericDto:
  allOf:
   - type: object
     discriminator: resource_type
 ObcmTmArrangementMasterCollection: 
  description: "Collection of obcmtmarrangementmaster."
  type: "object"
  properties:
   data:
    type: "array"
    items: 
     $ref: "#/definitions/ObcmTmArrangementMasterDTO"
   paging:
    $ref: "#/definitions/PagingDto"
 PagingDto:
  type: object
  properties:
   totalResults:
    type: integer
 ResponseDtoWrapper:
  type: object
  properties:
   messages:
    $ref: "#/definitions/ResponseDto"
   data:
    $ref: "#/definitions/ResponseResourceSupport"
 ResponseResourceSupport:
  type: object
 ObcmTmArrangementMasterWrapperModel:
  type: object
  properties:
   data:
    $ref: "#/definitions/ObcmTmArrangementMasterDTO"
