#-----------------------------------------------------------------------------------------------------
#  **
#  ** File Name  : common.yaml
#  **
#  ** Module     : obcbs
#  ** 
#  ** This source is part of the Oracle FLEXCUBE  and is copyrighted by Oracle Financial Services Software Limited.  ** 
#  ** 
#  ** All rights reserved. No part of this work may be reproduced, stored in a retrieval system,
#  ** adopted or transmitted in any form or by any means, electronic, mechanical, photographic,
#  ** graphic, optic recording or otherwise, translated in any language or computer language,
#  ** without the prior written permission of Oracle Financial Services Software Limited.
#  ** 
#  ** Oracle Financial Services Software Limited.
#  ** 10-11, SDF I, SEEPZ, Andheri (East),
#  ** Mumbai - 400 096.
#  ** India
#  ** Copyright 2019-2020 Oracle Financial Services Software Limited. All rights reserved.
#  -------------------------------------------------------------------------------------------------------
#
#  CHANGE HISTORY
#
#  Created By         :  System
#
#  Bug Number         :  
#  Changed By         :  
#  Change Description :  
#  Change On          :  
#  Search String      :  
#  
#  -------------------------------------------------------------------------------------------------------
 
 
swagger: "2.0"
info:
 description: "This is a sample server criteria server." 
 version: "1.0.0"
 title: "criteria Service"
host: "api-plato.us.oracle.com:8080"
basePath: "/api/1.0"
consumes:
 - "application/json"
produces:
 - "application/json"
tags:
 - name: "criteria"
   description: "criteria"
 
schemes:
- "https"
 
paths:
 
# path to create a new record and fetch all valid records or by intent
#
#  supprorted http methods POST and GET
#
# path example ../criteria
 
 /criteria:
  post:
   tags:
    - "criteria"
   summary: "Adds a new criteria."
   description: "Adds a new criteria. Add additional information here for this endpoint."
   operationId: "saveRecord"
   parameters:
    - name: "criteria" 
      in: "body" 
      description: "Request Body that contains data required for creating a new criteria" 
      required: true
      schema:
       $ref: "#/definitions/CbsTmCriteriaDTO"
   responses:
    201: 
     description: "Returns message of succes or failure " 
     headers:
      Location:
       description: "URL of newly created criteria" 
       type: "string"
     schema:
       $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "criteria"
   summary: "Get all valid criteria."
   description:  "Get all valid criteria. This endpoints will be used to Get all valid criteria maintenance records."
   operationId: "getAll"
   parameters:
   - name: includecloseandunauth
     in: query
     description: includecloseandunauth need to be set to fetch summary record, defult value is false
     required: false
     type: boolean
   - name: offset
     in: query
     description: offset is starting no of records to be fetched
     required: false
     type: integer
   - name: limit
     in: query
     description: limit is maximum no of records to be fetched
     required: false
     type: integer
   - name: criteriaCode
     in: query
     description: Criteria code
     required: false
     type: string
   - name: criteriaDescription
     in: query
     description: Description of the Criteria
     required: false
     type: string
   - name: ppCode
     in: query
     description: Product Processor of the Criteria
     required: false
     type: string
   - name: recordStatus
     in: query
     description: record status of the Criteria
     required: false
     type: string
   - name: authStatus
     in: query
     description: Authorization status of the Criteria
     required: false
     type: string
   responses:
    201:
     description: "Returns message of succes or failure"
     headers: 
      Location:
       description: ""
       type: "string"
     schema:
       $ref: "#/definitions/CbsTmCriteriaCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
 
# path to modify existing record, delete existing record and fetch valid records by id or by intent( includes latestRecord, version no)
#
#  supprorted http methods PUT, DELETE and GET
#
# path examples----
#   PUT       .../criteria/xxx
#   DELETE    .../criteria/xxx
#   GET       .../criteria/xxx
#   GET       .../criteria/xxx?version=latestrecord
#   GET       .../criteria/xxx?version=1
 
 /criteria/{id}:
  put:
   tags:
    - "criteria"
   summary: "Update an existing criteria."
   description:  "Update an existing criteria."
   operationId: "modifyRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "key of the criteria Maintenance"
      required: true
      type: "string"
    - name: "criteria"
      in: "body"
      description: "Request Body that contains data required for updating an existing criteria"
      required: true
      schema:
       $ref: "#/definitions/CbsTmCriteriaDTO"
   responses:
    200:
     description: "Returns updated criteria"
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "criteria"
   summary: "Retrieves the criteria by ID."
   description:  "Retrieves the criteria by ID."
   operationId: "getById"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
    - name: "version"
      in: "query"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the criteria based on given id."
     schema:
      $ref: "#/definitions/CbsTmCriteriaWrapperDTO"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
  delete:
   tags:
    - "criteria"
   summary: "Deletes the criteria identified by given ID."
   description:  "Deletes the criteria identified by given ID. Add additional information here for the this endpoint."
   operationId: "delete"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the criteria maintenance"
      required: true
      type: "string"
    - name: "criteria"
      in: "body"
      description: Request body contain criteria and Modification no of criteria maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
 
# path to Authorize existing record.
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../criteria/xxx/approve
 
 /criteria/{id}/approve:
  patch:
   tags:
    - "criteria"
   summary: "Authorize the criteria by given ID."
   description:  "Authorize the criteria identified by given ID."
   operationId: "authorize"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the criteria maintenance"
      required: true
      type: "string"
    - name: "criteria"
      in: "body"
      description: Request body contain criteria and Modification no of criteria maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
 
# path to close existing record
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../criteria/xxx/close
 /criteria/{id}/close:
  patch:
   tags:
    - "criteria"
   summary: "Close the criteria by given ID."
   description:  "Close the criteria identified by given ID."
   operationId: "closeRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the criteria maintenance"
      required: true
      type: "string"
    - name: "criteria"
      in: "body"
      description: Request body contain criteria and Modification no of criteria maintenance which need to be closed"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
 
# path to reopen existing record
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../criteria/xxx/reopen
 
 /criteria/{id}/reopen:
  patch:
   tags:
    - "criteria"
   summary: "reopen the criteria by given ID."
   description:  "reopen the criteria identified by given ID."
   operationId: "reopenRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the criteria maintenance"
      required: true
      type: "string"
    - name: "criteria"
      in: "body"
      description: Request body contain criteria and Modification no of criteria maintenance which need to be reopen"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
 
# path to get all unauthorized records
#
#  supprorted http methods GET
#
# path examples----
#   GET       .../criteria/xxx/unauthorized
 
 /criteria/{id}/unauthorized:
  get:
   tags:
    - "criteria"
   summary: "Retrives the criteria by given ID."
   description:  "Retrives the criteria identified by given ID."
   operationId: "authQuery"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the criteria based on given id."
     schema:
       $ref: "#/definitions/CbsTmCriteriaCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
 
# path to  history record for remitterid
#
#  supprorted http methods GETS
#
# path examples----
#   GET       .../criteria/xxx/history
 
 /criteria/{id}/history:
  get:
   tags:
    - "criteria"
   summary: "Retrives the criteria by given ID."
   description:  "Retrives the criteria by ID."
   operationId: "getHistory"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the criteria based on given id."
     schema:
       $ref: "#/definitions/CbsTmCriteriaCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
 /criteria/{id}/reject:
  patch:
   tags:
    - "criteria"
   summary: "Reject the criteria by given ID."
   description:  "Reject the criteria identified by given ID."
   operationId: "reject"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the maintenance"
      required: true
      type: "string"
    - name: "criteria"
      in: "body"
      description: Request body contain Modification no of maintenance which need to be rejected"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
definitions:
 CbsTmCriteriaDTO:
  type: object
  allOf:
  - $ref: '#/definitions/GenericDto'
  - type: object
    properties:
     criteriaCode:
      description: ""
      type: string
     criteriaDescription:
      description: ""
      type: string
     ppCode:
      description: ""
      type: string
     CbsTmCriteriaDefinitionDTO:
      type: array
      items:
       $ref: '#/definitions/CbsTmCriteriaDefinitionDTO'
 CbsTmCriteriaDefinitionDTO:
  type: object
  properties:
     ruleId:
      description: ""
      type: string
     description:
      description: ""
      type: string
     priority:
      description: ""
      type: integer
     parentRuleId:
      description: ""
      type: string
     callAllBureau:
      description: ""
      type: string
     enable:
      description: ""
      type: string
     id:
      type: string
      description: ""
     criteriaMasterId:
      type: string
      description: ""
 ModListKeyDto:
  type: object
  properties:
   modNos:
    type: array
    items:
     type: integer
   remarks:
    type: string
 KeyDto:
  type: object
  properties:
   modNo:
    type: integer
   remarks:
    type: string
 ResponseDto:
  type: object
  properties:
   id:
    type: string
   status:
    type: string
   codes:
    type: array
    items:
     $ref: "#/definitions/ResponseCode"
   requestId:
    type: string
 ResponseCode:
  type: object
  properties:
   Code:
    type: string
   Desc:
    type: string
   Type:
    type: string
   Language:
    type: string
   args:
    type: array
    items:
     type: object
   arg:
    type: string
 BindingResult:
  type: object
 GenericDto:
  allOf:
   - type: object
     discriminator: resource_type
 CbsTmCriteriaCollection: 
  description: "Collection of criteria."
  type: "object"
  properties:
   data:
    type: "array"
    items: 
     $ref: "#/definitions/CbsTmCriteriaDTO"
   paging:
    $ref: "#/definitions/PagingDto"
 PagingDto:
  type: object
  properties:
   totalResults:
    type: integer
 ResponseDtoWrapper:
  type: object
  properties:
   messages:
    $ref: "#/definitions/ResponseDto"
   data:
    $ref: "#/definitions/ResponseResourceSupport"
 ResponseResourceSupport:
  type: object
 CbsTmCriteriaWrapperDTO:
  type: object
  properties:
   data:
    $ref: "#/definitions/CbsTmCriteriaDTO"