#-----------------------------------------------------------------------------------------------------
#  **
#  ** File Name  : common.yaml
#  **
#  ** Module     : SystemParameters
#  ** 
#  ** This source is part of the Oracle FLEXCUBE  and is copyrighted by Oracle Financial Services Software Limited.  ** 
#  ** 
#  ** All rights reserved. No part of this work may be reproduced, stored in a retrieval system,
#  ** adopted or transmitted in any form or by any means, electronic, mechanical, photographic,
#  ** graphic, optic recording or otherwise, translated in any language or computer language,
#  ** without the prior written permission of Oracle Financial Services Software Limited.
#  ** 
#  ** Oracle Financial Services Software Limited.
#  ** 10-11, SDF I, SEEPZ, Andheri (East),
#  ** Mumbai - 400 096.
#  ** India
#  ** Copyright 2017-2018 Oracle Financial Services Software Limited. All rights reserved.
#  -------------------------------------------------------------------------------------------------------
#
#  CHANGE HISTORY
#
#  Created By         :  System
#
#  Bug Number         :  
#  Changed By         :  
#  Change Description :  
#  Change On          :  
#  Search String      :  
#  
#  -------------------------------------------------------------------------------------------------------
  

swagger: "2.0"
info:
 description: "This is a sample server system-parameters server." 
 version: "1.0.0"
 title: "system-parameters Service"
host: "api-plato.us.oracle.com:8080"
basePath: "/api/1.0"
consumes:
 - "application/json"
produces:
 - "application/json"
tags:
 - name: "system-parameters"
   description: "system-parameterssystem-parameterssystem-parameterssystem-parameterssystem-parameterssystem-parameterssystem-parameterssystem-parameterssystem-parameterssystem-parameterssystem-parameterssystem-parameterssystem-parameterssystem-parameterssystem-parameters"

schemes:
- "https"

paths:

# path to create a new record and fetch all valid records or by intent
#
#  supprorted http methods POST and GET
#
# path example ../system-parameters

 /system-parameters:
  post:
   tags:
    - "system-parameters"
   summary: "Adds a new system-parameters."
   description: "Adds a new system-parameters. Add additional information here for this endpoint."
   operationId: "saveRecord"
   parameters:
    - name: "system-parameters" 
      in: "body" 
      description: "Request Body that contains data required for creating a new system-parameters" 
      required: true
      schema:
       $ref: "#/definitions/CbsTmParametersDTO"
   responses:
    201: 
     description: "Returns message of succes or failure " 
     headers:
      Location:
       description: "URL of newly created system-parameters" 
       type: "string"
     schema:
       $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "system-parameters"
   summary: "Get all valid system-parameters."
   description:  "Get all valid system-parameters. This endpoints will be used to Get all valid system-parameters maintenance records."
   operationId: "getAll"
   parameters:
   - name: includecloseandunauth
     in: query
     description: includecloseandunauth need to be set to fetch summary record, defult value is false
     required: false
     type: boolean
   - name: offset
     in: query
     description: offset is starting no of records to be fetched
     required: false
     type: integer
   - name: limit
     in: query
     description: limit is maximum no of records to be fetched
     required: false
     type: integer
   - name: parameterCode
     in: query
     description: parameterCode type  to be fetched
     required: false
     type: "string"
   - name: authStatus
     in: query
     description: Authorization Status
     required: false
     type: string
   - name: recordStatus
     in: query
     description: Record Status
     required: false
     type: string
   responses:
    201:
     description: "Returns message of succes or failure"
     headers: 
      Location:
       description: ""
       type: "string"
     schema:
       $ref: "#/definitions/CbsTmParametersCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"

# path to modify existing record, delete existing record and fetch valid records by id or by intent( includes latestRecord, version no)
#
#  supprorted http methods PUT, DELETE and GET
#
# path examples----
#   PUT       .../system-parameters/xxx
#   DELETE    .../system-parameters/xxx
#   GET       .../system-parameters/xxx
#   GET       .../system-parameters/xxx?version=latestrecord
#   GET       .../system-parameters/xxx?version=1

 /system-parameters/{id}:
  put:
   tags:
    - "system-parameters"
   summary: "Update an existing system-parameters."
   description:  "Update an existing system-parameters."
   operationId: "modifyRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "key of the system-parameters Maintenance"
      required: true
      type: "string"
    - name: "system-parameters"
      in: "body"
      description: "Request Body that contains data required for updating an existing system-parameters"
      required: true
      schema:
       $ref: "#/definitions/CbsTmParametersDTO"
   responses:
    200:
     description: "Returns updated system-parameters"
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "system-parameters"
   summary: "Retrieves the system-parameters by ID."
   description:  "Retrieves the system-parameters by ID."
   operationId: "getById"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
    - name: "version"
      in: "query"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the system-parameters based on given id."
     schema:
      $ref: "#/definitions/CbsTmParametersWrapperDTO"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
  delete:
   tags:
    - "system-parameters"
   summary: "Deletes the system-parameters identified by given ID."
   description:  "Deletes the system-parameters identified by given ID. Add additional information here for the this endpoint."
   operationId: "delete"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the system-parameters maintenance"
      required: true
      type: "string"
    - name: "system-parameters"
      in: "body"
      description: Request body contain system-parameters and Modification no of system-parameters maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to Authorize existing record.
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../system-parameters/xxx/approve

 /system-parameters/{id}/approve:
  patch:
   tags:
    - "system-parameters"
   summary: "Authorize the system-parameters by given ID."
   description:  "Authorize the system-parameters identified by given ID."
   operationId: "authorize"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the system-parameters maintenance"
      required: true
      type: "string"
    - name: "system-parameters"
      in: "body"
      description: Request body contain system-parameters and Modification no of system-parameters maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to close existing record
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../system-parameters/xxx/close
 /system-parameters/{id}/close:
  patch:
   tags:
    - "system-parameters"
   summary: "Close the system-parameters by given ID."
   description:  "Close the system-parameters identified by given ID."
   operationId: "closeRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the system-parameters maintenance"
      required: true
      type: "string"
    - name: "system-parameters"
      in: "body"
      description: Request body contain system-parameters and Modification no of system-parameters maintenance which need to be closed"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to reopen existing record
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../system-parameters/xxx/reopen

 /system-parameters/{id}/reopen:
  patch:
   tags:
    - "system-parameters"
   summary: "reopen the system-parameters by given ID."
   description:  "reopen the system-parameters identified by given ID."
   operationId: "reopenRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the system-parameters maintenance"
      required: true
      type: "string"
    - name: "system-parameters"
      in: "body"
      description: Request body contain system-parameters and Modification no of system-parameters maintenance which need to be reopen"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to get all unauthorized records
#
#  supprorted http methods GET
#
# path examples----
#   GET       .../system-parameters/xxx/unauthorized

 /system-parameters/{id}/unauthorized:
  get:
   tags:
    - "system-parameters"
   summary: "Retrives the system-parameters by given ID."
   description:  "Retrives the system-parameters identified by given ID."
   operationId: "authQuery"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the system-parameters based on given id."
     schema:
       $ref: "#/definitions/CbsTmParametersCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to  history record for remitterid
#
#  supprorted http methods GETS
#
# path examples----
#   GET       .../system-parameters/xxx/history

 /system-parameters/{id}/history:
  get:
   tags:
    - "system-parameters"
   summary: "Retrives the system-parameters by given ID."
   description:  "Retrives the system-parameters by ID."
   operationId: "getHistory"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the system-parameters based on given id."
     schema:
       $ref: "#/definitions/CbsTmParametersCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
 /system-parameters/{id}/reject:
  patch:
   tags:
    - "system-parameters"
   summary: "Reject the system-parameters by given ID."
   description:  "Reject the system-parameters identified by given ID."
   operationId: "reject"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the maintenance"
      required: true
      type: "string"
    - name: "system-parameters"
      in: "body"
      description: Request body contain Modification no of maintenance which need to be rejected"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
definitions:
 CbsTmParametersDTO:
  type: object
  allOf:
  - $ref: '#/definitions/GenericDto'
  - type: object
    properties:
     parameterCode:
      type: string
      description: ""
     parameterDesc:
      type: string
      description: ""
     parameterValue:
      type: number
      description: ""
     productProcessor:
      type: string
      description: ""
 ModListKeyDto:
  type: object
  properties:
   modNos:
    type: array
    items:
     type: integer
   remarks:
    type: string
 KeyDto:
  type: object
  properties:
   modNo:
    type: integer
   remarks:
    type: string
 ResponseDto:
  type: object
  properties:
   id:
    type: string
   status:
    type: string
   codes:
    type: array
    items:
     $ref: "#/definitions/ResponseCode"
   requestId:
    type: string
 ResponseCode:
  type: object
  properties:
   Code:
    type: string
   Desc:
    type: string
   Type:
    type: string
   Language:
    type: string
   args:
    type: array
    items:
     type: object
   arg:
    type: string
 GenericDto:
  allOf:
   - type: object
     discriminator: resource_type
 CbsTmParametersCollection: 
  description: "Collection of parameters."
  type: "object"
  properties:
   data:
    type: "array"
    items: 
     $ref: "#/definitions/CbsTmParametersDTO"
   paging:
    $ref: "#/definitions/PagingDto"
 PagingDto:
  type: object
  properties:
   totalResults:
    type: integer
 ResponseDtoWrapper:
  type: object
  properties:
   messages:
    $ref: "#/definitions/ResponseDto"
   data:
    $ref: "#/definitions/ResponseResourceSupport"
 ResponseResourceSupport:
  type: object
 CbsTmParametersWrapperDTO:
  type: object
  properties:
   data:
    $ref: "#/definitions/CbsTmParametersDTO"
