swagger: "2.0"
info:
  description: "This is a service which provides APIs for Event Data Management"
  version: "1.0.0"
  title: "Event Service APIs"
host: "api-plato.us.oracle.com:8080"
basePath: "/obscf-report-services"
consumes:
  - "application/json"
  - "application/xml"
produces:
  - "application/json"
  - "application/xml"
tags:
  - name: "EventService"
    description: "Service APIs for Event Data Management"

paths:
  /service/v1/saveProductData:   
    post:
      tags:
      - "EventService"
      summary: Save product data received through events
      description: Save product data received through events
      operationId: saveProductData
      parameters:
      - name: "appId"
        in: "header"
        type: "string"
        required: true
        description: Application id        
      - name: "userId"
        in: "header"
        type: "string"
        required: true
        description: user id
      - name: "branchCode"
        in: "header"
        type: "string"
        required: true
        description: Branch Code
      - name: "productsDto"
        in: "body"
        required: true
        schema:
          $ref: "./reportsWebTransactionDef.yaml#/definitions/ProductMaintDto"      
      responses:
        201:   
          description: "Successfully saved the product data received through events"
          schema:
            type: boolean
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
          
  /service/v1/saveProgramData:   
    post:
      tags:
      - "EventService"
      summary: Save program data received through events
      description: Save program data received through events
      operationId: saveProgramData
      parameters:
      - name: "appId"
        in: "header"
        type: "string"
        required: true
        description: Application id        
      - name: "userId"
        in: "header"
        type: "string"
        required: true
        description: user id
      - name: "branchCode"
        in: "header"
        type: "string"
        required: true
        description: Branch Code
      - name: "programsDto"
        in: "body"
        required: true
        schema:
          $ref: "./reportsWebTransactionDef.yaml#/definitions/ProgramMaintDto"      
      responses:
        201:   
          description: "Successfully saved the program data received through events"
          schema:
            type: boolean
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
          
  /service/v1/saveLimitsData:   
    post:
      tags:
      - "EventService"
      summary: Save limits data received through events
      description: Save limits data received through events
      operationId: saveLimitsData
      parameters:
      - name: "appId"
        in: "header"
        type: "string"
        required: true
        description: Application id        
      - name: "userId"
        in: "header"
        type: "string"
        required: true
        description: user id
      - name: "branchCode"
        in: "header"
        type: "string"
        required: true
        description: Branch Code
      - name: "limitsDto"
        in: "body"
        required: true
        schema:
          $ref: "./reportsWebTransactionDef.yaml#/definitions/LimitsMaintDto"      
      responses:
        201:   
          description: "Successfully saved the limits data received through events"
          schema:
            type: boolean
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
          
  /service/v1/saveFinanceMainData:   
    post:
      tags:
      - "EventService"
      summary: Save finance main data received through events
      description: Save finance main data received through events
      operationId: saveFinanceMainData
      parameters:
      - name: "appId"
        in: "header"
        type: "string"
        required: true
        description: Application id        
      - name: "userId"
        in: "header"
        type: "string"
        required: true
        description: user id
      - name: "branchCode"
        in: "header"
        type: "string"
        required: true
        description: Branch Code
      - name: "financeMainDto"
        in: "body"
        required: true
        schema:
          $ref: "./reportsWebTransactionDef.yaml#/definitions/FinanceMaintDto"      
      responses:
        201:   
          description: "Successfully saved the finance main data received through events"
          schema:
            type: boolean
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
          
  /service/v1/saveFinanceIntCompData:   
    post:
      tags:
      - "EventService"
      summary: Save finance int comp data received through events
      description: Save finance int comp data received through events
      operationId: saveFinanceIntCompData
      parameters:
      - name: "appId"
        in: "header"
        type: "string"
        required: true
        description: Application id        
      - name: "userId"
        in: "header"
        type: "string"
        required: true
        description: user id
      - name: "branchCode"
        in: "header"
        type: "string"
        required: true
        description: Branch Code
      - name: "financeMainDto"
        in: "body"
        required: true
        schema:
          $ref: "./reportsWebTransactionDef.yaml#/definitions/ScfIntCompCalcModelList"      
      responses:
        201:   
          description: "Successfully saved the finance main data received through events"
          schema:
            type: boolean
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"          

  /service/v1/saveLimitsStructure:   
    post:
      tags:
      - "EventService"
      summary: Save Limits Structure received through events
      description: Save Limits Structure received through events
      operationId: saveLimitsStructure
      parameters:
      - name: "appId"
        in: "header"
        type: "string"
        required: true
        description: Application id        
      - name: "userId"
        in: "header"
        type: "string"
        required: true
        description: user id
      - name: "branchCode"
        in: "header"
        type: "string"
        required: true
        description: Branch Code
      - name: "ScfTmLimitsModel"
        in: "body"
        required: true
        schema:
          $ref: "./reportsWebTransactionDef.yaml#/definitions/ScfTmLimitsModel"      
      responses:
        201:   
          description: "Successfully received Limits Structure details"
          schema:
            type: boolean
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
  /service/v1/saveLimitsAmount:   
    post:
      tags:
      - "EventService"
      summary: Save Limits Amount received through events
      description: Save Limits Amount received through events
      operationId: saveLimitsAmount
      parameters:
      - name: "appId"
        in: "header"
        type: "string"
        required: true
        description: Application id        
      - name: "userId"
        in: "header"
        type: "string"
        required: true
        description: user id
      - name: "branchCode"
        in: "header"
        type: "string"
        required: true
        description: Branch Code
      - name: "LimitsLineIdsDTO"
        in: "body"
        required: true
        schema:
          $ref: "./reportsWebTransactionDef.yaml#/definitions/LimitsLineIdsDTO"      
      responses:
        201:   
          description: "Successfully received Limits Structure details"
          schema:
            type: boolean
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
  /service/v1/saveIntDecisioningData:   
    post:
      tags:
      - "EventService"
      summary: Save interest decisioning data received through events
      description: Save interest decisioning data received through events
      operationId: saveIntDecisioningData
      parameters:
      - name: "appId"
        in: "header"
        type: "string"
        required: true
        description: Application id        
      - name: "userId"
        in: "header"
        type: "string"
        required: true
        description: user id
      - name: "branchCode"
        in: "header"
        type: "string"
        required: true
        description: Branch Code
      - name: "intDecisioningMaintDto"
        in: "body"
        required: true
        schema:
          $ref: "./reportsWebTransactionDef.yaml#/definitions/IntDecisioningMaintDto"      
      responses:
        201:   
          description: "Successfully saved Int Decisioning data"
          schema:
            type: boolean
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"

  /service/v1/saveIntDecisioningWorkData:   
    post:
      tags:
      - "EventService"
      summary: Save interest decisioning work data received through events
      description: Save interest decisioning work data received through events
      operationId: saveIntDecisioningWorkData
      parameters:
      - name: "appId"
        in: "header"
        type: "string"
        required: true
        description: Application id        
      - name: "userId"
        in: "header"
        type: "string"
        required: true
        description: user id
      - name: "branchCode"
        in: "header"
        type: "string"
        required: true
        description: Branch Code
      - name: "intDecisioningWorkDto"
        in: "body"
        required: true
        schema:
          $ref: "./reportsWebTransactionDef.yaml#/definitions/IntDecisioningWorkDto"      
      responses:
        201:   
          description: "Successfully saved Int Decisioning Work data"
          schema:
            type: boolean
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
  /service/v1/saveLimitsTWStructure:   
    post:
      tags:
      - "EventService"
      summary: Save Limits TW Structure received through events
      description: Save Limits TW Structure received through events
      operationId: saveLimitsTwStructure
      parameters:
      - name: "appId"
        in: "header"
        type: "string"
        required: true
        description: Application id        
      - name: "userId"
        in: "header"
        type: "string"
        required: true
        description: user id
      - name: "branchCode"
        in: "header"
        type: "string"
        required: true
        description: Branch Code
      - name: "ScfTwLimitsModel"
        in: "body"
        required: true
        schema:
          $ref: "./eventServiceDef.yaml#/definitions/ScfTwLimitsModel"      
      responses:
        201:   
          description: "Successfully received Limits TW Structure details"
          schema:
            type: boolean
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"

  /service/v1/saveIntPricingData:   
    post:
      tags:
      - "EventService"
      summary: Save interest pricing data received through events
      description: Save interest pricing data received through events
      operationId: saveIntPricingData
      parameters:
      - name: "appId"
        in: "header"
        type: "string"
        required: true
        description: Application id        
      - name: "userId"
        in: "header"
        type: "string"
        required: true
        description: user id
      - name: "branchCode"
        in: "header"
        type: "string"
        required: true
        description: Branch Code
      - name: "intPricingMaintDto"
        in: "body"
        required: true
        schema:
          $ref: "./reportsWebTransactionDef.yaml#/definitions/IntPricingMaintDto"      
      responses:
        201:   
          description: "Successfully saved Int Pricing data"
          schema:
            type: boolean
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"

  /service/v1/saveIntPricingWorkData:   
    post:
      tags:
      - "EventService"
      summary: Save interest pricing work data received through events
      description: Save interest pricing work data received through events
      operationId: saveIntPricingWorkData
      parameters:
      - name: "appId"
        in: "header"
        type: "string"
        required: true
        description: Application id        
      - name: "userId"
        in: "header"
        type: "string"
        required: true
        description: user id
      - name: "branchCode"
        in: "header"
        type: "string"
        required: true
        description: Branch Code
      - name: "intPricingWorkDto"
        in: "body"
        required: true
        schema:
          $ref: "./reportsWebTransactionDef.yaml#/definitions/IntPricingWorkDto"      
      responses:
        201:   
          description: "Successfully saved Int Pricing Work data"
          schema:
            type: boolean
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"

  /service/v1/saveInsuranceData:   
    post:
      tags:
      - "EventService"
      summary: Save insurance data received through events
      description: Save insurance data received through events
      operationId: saveInsuranceData
      parameters:
      - name: "appId"
        in: "header"
        type: "string"
        required: true
        description: Application id        
      - name: "userId"
        in: "header"
        type: "string"
        required: true
        description: user id
      - name: "branchCode"
        in: "header"
        type: "string"
        required: true
        description: Branch Code
      - name: "insuranceMaintDto"
        in: "body"
        required: true
        schema:
          $ref: "./reportsWebTransactionDef.yaml#/definitions/InsuranceMaintDto"      
      responses:
        201:   
          description: "Successfully saved Insurance data"
          schema:
            type: boolean
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"

  /service/v1/saveInsuranceWorkData:   
    post:
      tags:
      - "EventService"
      summary: Save insurance work data received through events
      description: Save insurance work data received through events
      operationId: saveInsuranceWorkData
      parameters:
      - name: "appId"
        in: "header"
        type: "string"
        required: true
        description: Application id        
      - name: "userId"
        in: "header"
        type: "string"
        required: true
        description: user id
      - name: "branchCode"
        in: "header"
        type: "string"
        required: true
        description: Branch Code
      - name: "insuranceWorkDto"
        in: "body"
        required: true
        schema:
          $ref: "./reportsWebTransactionDef.yaml#/definitions/InsuranceWorkDto"      
      responses:
        201:   
          description: "Successfully saved Insurance Work data"
          schema:
            type: boolean
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"

  /service/v1/saveProductWorkData:   
    post:
      tags:
      - "EventService"
      summary: Save product work data received through events
      description: Save product work data received through events
      operationId: saveProductWorkData
      parameters:
      - name: "appId"
        in: "header"
        type: "string"
        required: true
        description: Application id        
      - name: "userId"
        in: "header"
        type: "string"
        required: true
        description: user id
      - name: "branchCode"
        in: "header"
        type: "string"
        required: true
        description: Branch Code
      - name: "productsWorkDto"
        in: "body"
        required: true
        schema:
          $ref: "./reportsWebTransactionDef.yaml#/definitions/ProductWorkDto"      
      responses:
        201:   
          description: "Successfully saved product work data"
          schema:
            type: boolean
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
          
  /service/v1/saveProgramWorkData:   
    post:
      tags:
      - "EventService"
      summary: Save program work data received through events
      description: Save program work data received through events
      operationId: saveProgramWorkData
      parameters:
      - name: "appId"
        in: "header"
        type: "string"
        required: true
        description: Application id        
      - name: "userId"
        in: "header"
        type: "string"
        required: true
        description: user id
      - name: "branchCode"
        in: "header"
        type: "string"
        required: true
        description: Branch Code
      - name: "programsWorkDto"
        in: "body"
        required: true
        schema:
          $ref: "./reportsWebTransactionDef.yaml#/definitions/ProgramWorkDto"      
      responses:
        201:   
          description: "Successfully saved program work data"
          schema:
            type: boolean
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"