swagger: "2.0"
info:
  description: "This is a sample server Report Service server.  You can find out more about Swagger at [swagger.io](http://swagger.io) and about data types at [Swagger Data Types](https://swagger.io/docs/specification/data-models/data-types/)"
  version: "1.0.0"
  title: "Report Service"
host: "api-plato.us.oracle.com:8080"
basePath: "/obscf-report-services"
consumes:
  - "application/json"
  - "application/xml"
produces:
  - "application/json"
  - "application/xml"
tags:
  - name: "ReportServicesAPI"
    description: "APIs for Dashboards"
    
schemes:
- "https"
paths:
  /:
    get:
      responses:
        201:
          description: ""
                 
definitions:
  ScfTwLimitsModel:
    type: object
    allOf:
    - $ref: '#/definitions/GenericDto'
    - type: object
    properties:
      id:
       type: string
       description: ""
      action:
       type: string
       description: ""
      autoAuth:
       type: string
       description: ""
      modificationStatus:
       type: string
       description: ""   
      datasegmentCode:
       type: string
       description: ''
      checkerRemarks:
       type: string
       description: '' 
      makerRemarks:
       type: string
       description: ''
      entityDesc:
       type: string
       description: ""
      entityId:
       type: string
       description: ""
      entityType:
       type: string
       description: ""
      limitId:
       type: string
       description: ""
      limitType:
       type: string
       description: ""
      nodeIdentifier:
       type: string
       description: ""
      structureDescription:
       type: string
       description: ""
      structureId:
       type: string
       description: ""
      ScfTwLimitsNodeModel:
       type: array
       items:
        $ref: '#/definitions/ScfTwLimitsNodeModel'
  ScfTwLimitsNodeModel:
   type: object
   properties:
     id:
      type: string
      description: ""
     adhocBlockedLimitAmt:
      type: number
      description: ""
     adhocLimitEffectDate:
      type: string
      description: ""
     adhocLimitExpiryDate:
      type: string
      description: ""
     adhocSanctionedLimitAmt:
      type: number
      description: ""
     authstat:
      type: string
      description: ""
     availableAdhocLimitAmt:
      type: number
      description: ""
     availableLimitAmt:
      type: number
      description: ""
     blockedLimitAmt:
      type: number
      description: ""
     checkerDtStamp:
      type: string
      description: ""
     checkerId:
      type: string
      description: ""
     depth:
      type: number
      description: ""
     effectiveFrom:
      type: string
      description: ""
     entityDesc:
      type: string
      description: ""
     entityId:
      type: string
      description: ""
     entityType:
      type: string
      description: ""
     exchangeRate:
      type: number
      description: ""
     expiresOn:
      type: string
      description: ""
     externalLineId:
      type: string
      description: ""
     interChangeabilityAllowed:
      type: string
      description: ""
     isPolicyAdded:
      type: string
      description: ""
     isRootEntity:
      type: string
      description: ""
     isStructureLinked:
      type: string
      description: ""
     limitsId:
      type: string
      description: ""
     limitCurrency:
      type: string
      description: ""
     limitType:
      type: string
      description: ""
     lineId:
      type: string
      description: ""
     makerDtStamp:
      type: string
      description: ""
     makerId:
      type: string
      description: ""
     modNo:
      type: number
      description: ""
     nodeIdentifier:
      type: string
      description: ""
     onceAuth:
      type: string
      description: ""
     parentCcy:
      type: string
      description: ""
     parentNodeIdentifier:
      type: string
      description: ""
     parentSanctionedAdhocLimit:
      type: number
      description: ""
     parentSanctionedAmt:
      type: number
      description: ""
     pctAllocation:
      type: number
      description: ""
     recordStat:
      type: string
      description: ""
     sanctionedLimitAmt:
      type: number
      description: ""
     structureDescription:
      type: string
      description: ""
     structureHierarchy:
      type: string
      description: ""
     structureId:
      type: string
      description: ""
     totalAvailableLimitAmt:
      type: number
      description: ""
     totalBlockedLimitAmt:
      type: number
      description: ""
     totalSanctionedLimitAmt:
      type: number
      description: ""
     totalUtilizedLimitAmt:
      type: number
      description: ""
     utilizedAdhocLimitAmt:
      type: number
      description: ""
     utilizedLimitAmt:
      type: number
      description: ""
     ScfTwLimitsInsPoliciesModel:
      type: array
      items:
       $ref: '#/definitions/ScfTwLimitsInsPoliciesModel'
     ScfTwLimitsLinkedStructModel:
      type: array
      items:
       $ref: '#/definitions/ScfTwLimitsLinkedStructModel'      
  ScfTwLimitsInsPoliciesModel:
   type: object
   properties:
     id:
      type: string
      description: ""
     limitsMasterId:
      type: string
      description: ""
     limitsMasterLineId:
      type: string
      description: ""
     limitsNodeId:
      type: string
      description: ""
     modNo:
      type: number
      description: ""
     policyAllocationAmount:
      type: number
      description: ""
     policyCcy:
      type: string
      description: ""
     policyNo:
      type: string
      description: ""
  ScfTwLimitsLinkedStructModel:
   type: object
   properties:
     id:
      type: string
      description: ""
     limitsMasterId:
      type: string
      description: ""
     limitsMasterLineId:
      type: string
      description: ""
     limitsNodeId:
      type: string
      description: ""
     linkedStructureLineId:
      type: string
      description: ""
     modNo:
      type: number
      description: ""
     pctAllocation:
      type: number
      description: ""
     rootEntityType:
      type: string
      description: ""
  ScfTwLimitsCollection: 
   description: "Collection of scftmlimits."
   type: "object"
   properties:
    data:
     type: "array"
     items: 
      $ref: "#/definitions/ScfTwLimitsModel"
    paging:
     $ref: "#/definitions/PagingDto"
  PagingDto:
   type: object
   properties:
    totalResults:
     type: number
  ScfTwLimitsWrapperModel:
   type: object
   properties:
    data:
     $ref: "#/definitions/ScfTwLimitsModel"
  ScfTwLimitsNodeCollection: 
   description: "Collection of scftmlimits."
   type: "object"
   properties:
    data:
     type: "array"
     items: 
      $ref: "#/definitions/ScfTwLimitsNodeModel"
    paging:
     $ref: "#/definitions/PagingDto"
  GenericDto:
    allOf:
     - type: object
       discriminator: resource_type