swagger: "2.0"
info:
  description: "This is a sample server Report Service server.  You can find out more about Swagger at [swagger.io](http://swagger.io) and about data types at [Swagger Data Types](https://swagger.io/docs/specification/data-models/data-types/)"
  version: "1.0.0"
  title: "Finance Enquiry Web"
host: "api-plato.us.oracle.com:8080"
basePath: "/obscf-report-services"
consumes:
  - "application/json"
  - "application/xml"
produces:
  - "application/json"
  - "application/xml"
tags:
  - name: "financeEnqWebTxn"
    description: "APIs for Finance Enquiry Operations"
    
schemes:
- "https"

paths: 
   /web/v1/financeEnquiry:
    get:
      tags:
        - "financeEnqWebTxn"
      summary: "Retrieves the list of existing Finances"
      description:  "Retrieves the list of existing Finances."
      operationId: "getFinanceEnquiryDetails"
      parameters:
        - name: "appId"
          in: "header"
          description: "Application Id"
          type: "string"
          required: true
        - name: "tenantId"
          in: "header"
          description: "Tenant Id"
          type: "string"
          required: false
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "User Id for SMS"
        - name: "branchCode"
          in: "header"
          description: "Branch Code"
          type: "string"
          required: true
        - name: "authToken"
          in: "header"
          type: "string"
          required: false
          description: "Authorization Token"
        - name: "contentType"
          in: "header"
          description: "Content Type"
          type: "string"
          required: false
        - name: "branchDate"
          in: "header"
          description: "Branch Date"
          type: "string"
          format: "date-time"
          required: false
        - name: offset
          in: query
          description: "Offset"
          type: integer
          required: false
        - name: limit
          in: query
          description: "Limit"
          type: integer
          required: false
        - name: financeStatus 
          in: query
          description: "Finance Status"
          required: false
          type: string
        - name: productCode 
          in: query
          description: "Product Code"
          required: false
          type: string
        - name: debtor 
          in: query
          description: "Debtor"
          required: false
          type: string
        - name: debtorName
          in: query
          description: "Debtor Name"
          required: false
          type: string
        - name: processingDateFrom 
          in: query
          description: "Processing Date From"
          required: false
          type: string
        - name: processingDateTo
          in: query
          description: "Processing Date To"
          required: false
          type: string
        - name: programCode 
          in: query
          description: "Program Code"
          required: false
          type: string
        - name: programName 
          in: query
          description: "Program Name"
          required: false
          type: string
        - name: maturityDateFrom 
          in: query
          description: "Mturity Date From"
          required: false
          type: string
        - name: maturityDateTo
          in: query
          description: "Maturity Date To"
          required: false
          type: string
        - name: txnStatus
          in: query
          description: "Transaction Status"
          required: false
          type: string
        - name: pastDueDateFrom 
          in: query
          description: "Past Due Date From"
          required: false
          type: string
        - name: pastDueDateTo
          in: query
          description: "Past Due Date To"
          required: false
          type: string
        - name: toDate
          in: query
          description: "To Date"
          required: false
          type: string
        - name: fromDate
          in: query
          description: "From Date"
          required: false
          type: string
      responses:
        200:
          description: "Successful performs the operation"
          schema:
            $ref: "#/definitions/ResponseModel"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"
                   
definitions:
  ResponseModel:
    description: "Response Model"
    type: "object"
    properties:
      data:
        type: "object"
      errors:
        type: "object"
      paging:
        type: "object"
        
  FinanceEnquiryDetailsModel:
    description: "Finance inquiry Details Model"
    type: "object"
    properties:
      financeRefNo:
        type: "string"
        description: "Finance Reference Number"
      requestId:
        type: "string"
        description: "Request Id"
      branchCode:
        type: "string"
        description: "Branch Code"
      financeStatus:
        type: "string"
        description: "Finance Status"
      productCode:
        type: "string"
        description: "Product Code"
      productDescription:
        type: "string"
        description: "Product Description"
      buyerId:
        type: "string"
        description: "Buyer Id"
      buyerName:
        type: "string"
        description: "Buyer Name"
      supplierId:
        type: "string"
        description: "Supplier Id"
      supplierName:
        type: "string"
        description: "Supplier Name"
      debtor:
        type: "string"
        description: "Debtor"
      debtorName:
        type: "string"  
        description: "Debtor Name" 
      programCode:
        type: "string"
        description: "Program Code"
      programName:
        type: "string"
        description: "Program Name"
      processingDate:
        type: "string"
        description: "Processing Date"
      maturityDate:
        type: "string"
        description: "Maturity Date"
      startDate:
        type: "string"
        description: "Start Date"
      txnStatus:
        type: "string"
        description: "Transaction Status"
      financeAmtCcy:
        type: "string"
        description: "Finance Amount Currency"
      financeAmt:
        type: "number"
        description: "Finance Amount"
      pastDueDate:
        type: "string"  
        description: "Past Due Date"
      principalOSAmount:
        type: "number"
        description: "Principal OS Amount"
      interestOSAmount:
        type: "number"
        description: "Interest OS Amount"
      overdueIntOSAmt:
        type: "number"
        description: "Overdue Interest OS Amount"
      totalOSAmount:
        type: "number"
        description: "Total OS Amount"
      pmtToPrncplOS:
        type: "number"
        description: "Payment To Principle OS"
      pmtToIntOS:
        type: "number"
        description: "Payment To Interest OS"
      pmtToOverdueIntOS:
        type: "number"
        description: "Payment To Overdue Interest OS"
      paymentAmt:
        type: "number"
        description: "Payment Amount"
      stage:
        type: "string" 
        description: "Stage"
      preferredDisbursementMode:
        type: "string"
        description: "Preferred Disbursement Mode"
      settlementMethod:
        type: "string"
        description: "Settlement Method"
      interestType:
        type: "string"
        description: "Interest Type"
      interestRateType:
        type: "string"
        description: "Interest Rate Type"
      interestRate:
        type: "number"
        description: "Interest Rate"
      spread:
        type: "number"
        description: "Spread"
      seqNo:
        type: "number"
        description: "Sequence Number"
      appropriationSeq:
        type: "string"
        description: "Appropriation Sequence"
      settlementProcessingDate:
        type: "string"
        description: "Settlement Processing Date"
      settlementRefNo:
        type: "string"
        description: "Settlement Reference Number"
      creditAccount:
        type: "string"
        description: "Credit Account"
      accountType:
        type: "string"
        description: "Account Type"
      exchangeRate:
        type: "number"
        description: "Exchange Rate"
      penIntOsAmt:
        type: "number"
        description: "Pen Interest Os Amount"
      pmtTowrdsPenOnIntOs:
        type: "number"
        description: "Payment Towards Pen On Interest Os"
      settlementAmountAllocated:
        type: "number"
        description: "Settlement Amount Allocated"
      settleFinExcRate:
        type: "number"
        description: "Settlement Finance Exchange Rate"
      totalInstrumentAmt:
        type: "number"
        description: "Total Instrument Amount"
      totalInstrumentAmtCcy:
        type: "string"
        description: "Total Instrument Amount Currency"
      totalOsAmount:
        type: "number"
        description: "Total Os Amount"
      totalOsAmountSettlementCcy:
        type: "number"
        description: "Total Os Amount Settlement Currency"
      totalSettlementAmount:
        type: "number"
        description: "Total Settlement Amount"
      valueDate:
        type: "string"
        description: "Value Date"
      valueDtdIntOsAmount:
        type: "number"
        description: "Value Dated Interest Os Amount"
      valueDtdOvrdueIntOsAmount:
        type: "number"
        description: "Value Dated Overdue Interest Os Amount"
      valueDtdPenIntOsAmt:
        type: "number"
        description: "Value Dated Pen Interest Os Amount"
      operationCode:
        type: "string"
        description: "Operation Code"
      settlementAmtCcy:
        type: "string"
        description: "Settlement Amount Currency"
      productType:
        type: "string"
        description: "Product Type"