swagger: "2.0"
info:
  description: "This is a sample server Report Service server.  You can find out more about Swagger at [swagger.io](http://swagger.io) and about data types at [Swagger Data Types](https://swagger.io/docs/specification/data-models/data-types/)"
  version: "1.0.0"
  title: "Limit Dashboard Web"
host: "api-plato.us.oracle.com:8080"
basePath: "/obscf-report-services"
consumes:
  - "application/json"
  - "application/xml"
produces:
  - "application/json"
  - "application/xml"
tags:
  - name: "LimitDashboardAPI"
    description: "APIs for Limit Dashboards"

schemes:
  - "https"

paths:
  /web/v1/getLimitTypeUtilization:
    get:
      tags:
        - "limitDashboardService"
      summary: Get LimitType Utilization
      description: Get LimitType Utilization
      operationId: getLimitTypeUtilization
      parameters:
      - name: "appId"
        in: "header"
        type: "string"
        required: true
        description: Application id
      - name: "userId"
        in: "header"
        type: "string"
        required: true
        description: user id
      - name: "branchCode"
        in: "header"
        type: "string"
        required: true
        description: Branch Code
      - name: "fromDate"
        in: "query"
        type: "string"
        required: false
        description: Start Date of period
      - name: "toDate"
        in: "query"
        type: "string"
        required: false
        description: End Date of period
      - name: "corporateId"
        in: "query"
        type: "string"
        required: false
        description: Corporate ID
      - name: "limitType"
        in: "query"
        type: "string"
        required: false
        description: Limit Type
      responses:
        201:
          description: "Successfully received the limit type utilization"
          schema:
            $ref: "#/definitions/LimitTypeResponseDto"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
  /web/v1/getLimitTypeExpiration:
    get:
      tags:
        - "limitDashboardService"
      summary: Get LimitType Expiration
      description: Get LimitType Expiration
      operationId: getLimitTypeExpiration
      parameters:
      - name: "appId"
        in: "header"
        type: "string"
        required: true
        description: Application id
      - name: "userId"
        in: "header"
        type: "string"
        required: true
        description: user id
      - name: "branchCode"
        in: "header"
        type: "string"
        required: true
        description: Branch Code
      - name: "fromDate"
        in: "query"
        type: "string"
        required: false
        description: Start Date of period
      - name: "toDate"
        in: "query"
        type: "string"
        required: false
        description: End Date of period
      - name: "corporateId"
        in: "query"
        type: "string"
        required: false
        description: Corporate ID
      - name: "limitType"
        in: "query"
        type: "string"
        required: false
        description: Limit Type
      responses:
        201:
          description: "Successfully received the limit type expiration"
          schema:
            $ref: "#/definitions/LimitTypeResponseDto"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
  /web/v1/getUtilizationTrendForCustomer:
    get:
      tags:
        - "limitDashboardService"
      summary: Get Utilization Trend For Customer
      description: Get Utilization Trend For Customer
      operationId: getUtilizationTrendForCustomer
      parameters:
      - name: "appId"
        in: "header"
        type: "string"
        required: true
        description: Application id
      - name: "userId"
        in: "header"
        type: "string"
        required: true
        description: user id
      - name: "branchCode"
        in: "header"
        type: "string"
        required: true
        description: Branch Code
      - name: "fromDate"
        in: "query"
        type: "string"
        required: false
        description: Start Date of period
      - name: "toDate"
        in: "query"
        type: "string"
        required: false
        description: End Date of period
      - name: "entityType"
        in: "query"
        type: "string"
        required: false
        description: Entity Type
      - name: "queryType"
        in: "query"
        type: "string"
        required: false
        description: Query Type
      - name: "limitType"
        in: "query"
        type: "string"
        required: false
        description: Limit Type
      - name: "corporateId"
        in: "query"
        type: "string"
        required: false
        description: Corporate ID
      responses:
        201:
          description: "Successfully received Credit Cover Utilization"
          schema:
            $ref: "#/definitions/UtilizationTrendResponseDto"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
  /web/v1/getEntityDetails:
    get:
      tags:
        - "limitDashboardService"
      summary: Get EntityDetails
      description: Get EntityDetails
      operationId: getEntityDetails
      parameters:
      - name: "appId"
        in: "header"
        type: "string"
        required: true
        description: Application id
      - name: "userId"
        in: "header"
        type: "string"
        required: true
        description: user id
      - name: "branchCode"
        in: "header"
        type: "string"
        required: true
        description: Branch Code
      - name: offset
        in: query
        description: offset is starting no of records to be fetched
        required: false
        type: integer
      - name: limit
        in: query
        description: limit is maximum no of records to be fetched
        required: false
        type: integer
      - name: "fromDate"
        in: "query"
        type: "string"
        required: false
        description: Start Date of period
      - name: "toDate"
        in: "query"
        type: "string"
        required: false
        description: End Date of period
      - name: "corporateId"
        in: "query"
        type: "string"
        required: false
        description: Corporate ID
      - name: "entityId"
        in: "query"
        type: "string"
        required: false
        description: Entity Id
      - name: "currency"
        in: "query"
        type: "string"
        required: false
        description: Limit Currency
      - name: "limitType"
        in: "query"
        type: "string"
        required: false
        description: Limit Type
      - name: "entityType"
        in: "query"
        type: "string"
        required: false
        description: Entity Type
      - name: "utilizationType"
        in: "query"
        type: "string"
        required: false
        description: Utilization Type
      - name: "facilityType"
        in: "query"
        type: "string"
        required: false
        description: Facility Type
      responses:
        201:
          description: "Successfully received"
          schema:
            $ref: "#/definitions/EntityDetailsResponseDto"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
definitions:
  LimitTypeResponseDto:
    type: object
    properties:
      limitTypeDetailsList:
        type: array
        items:
          $ref: "#/definitions/LimitTypeDetails"
  LimitTypeDetails:
    type: object
    properties:
      id:
        type: "string"
        description: "Id"
      limitTypeName:
        type: "string"
        description: "Limit Type Name"
      limitFacilityDetailsList:
        type: array
        items:
          $ref: "#/definitions/LimitFacilityDto"
  LimitFacilityDto:
    description: This will store the Limit Utilization or Expiration for different entities.
    type: object
    properties:
      id:
        type: "string"
        description: "Id"
      series:
        type: "string"
        description: "Series"
      group:
        type: "string"
        description: "Group"
      entity:
        type: array
        items:
          $ref: "#/definitions/LimitEntityDto"
  LimitEntityDto:
    description: This will store the limit entities count.
    type: object
    properties:
      entityName:
        type: "string"
        description: "Entity Name"
      count:
        type: "number"
        description: "Count"
  UtilizationTrendResponseDto:
    type: object
    properties:
      data:
        type: array
        items:
          $ref: "#/definitions/UtilizationTrendDto"
  UtilizationTrendDto:
    description: This will store the Limit Utilization trend for different customers.
    type: object
    properties:
      id:
        type: "string"
        description: "Id"
      series:
        type: "string"
        description: "Series"
      month:
        type: "string"
        description: "Month"
      year:
        type: "string"
        description: "Year"
      date:
        type: "string"
        description: "Date"
      amount:
        type: "number"
        description: "Amount"
  EntityDetailsResponseDto:
    type: object
    properties:
      data:
        type: array
        items:
          $ref: "#/definitions/EntityDetailsDto"
      paging:
        $ref: "#/definitions/PagingDto"
  EntityDetailsDto:
    description: This will store the Limit entity details.
    type: object
    properties:
      entityId:
        type: "string"
        description: "Entity Id"
      entityName:
        type: "string"
        description: "Entity Name"
      limitCcy:
        type: "string"
        description: "Limit Currency"
      sanctionedLimit:
        type: "number"
        description: "Sanctioned Limit"
      availableLimit:
        type: "number"
        description: "Available Limit"
      limitExpiryDate:
        type: string
        description: "Limit Expiry Date"
      utilizationPercentage:
        type: "number"
        description: "Utilization Percentage"
  FacilityCountDto:
    description: This will store the Facility Count details.
    type: object
    properties:
      entityType:
        type: "string"
        description: "Entity Type"
      limitType:
        type: "string"
        description: "Limit Type"
      limitCount:
        type: "number"
        description: "Limit Count"
      utilizationType:
        type: "string"
        description: "Utilization Type"
  PagingDto:
   type: object
   properties:
    totalResults:
     type: integer