swagger: "2.0"
info:
  description: "This is a sample server Report Service server.  You can find out more about Swagger at [swagger.io](http://swagger.io) and about data types at [Swagger Data Types](https://swagger.io/docs/specification/data-models/data-types/)"
  version: "1.0.0"
  title: "Report Web Transaction"
host: "api-plato.us.oracle.com:8080"
basePath: "/obscf-report-services"
consumes:
  - "application/json"
  - "application/xml"
produces:
  - "application/json"
  - "application/xml"
tags:
  - name: "reportCreationService"
    description: "APIs for Report Creation Operations"
 
schemes:
- "https"
 
paths: 
   /web/v1/getTopBorrowerDetails:   
    get:
      tags:
       - "reportCreationService"
      summary: Get the top borrower from SCF
      description: Get the top borrower from SCF
      operationId: getTopBorrowerDetails
      parameters:
      - name: "appId"
        in: "header"
        type: "string"
        required: true
        description: Application id        
      - name: "userId"
        in: "header"
        type: "string"
        required: true
        description: user id
      - name: "branchCode"
        in: "header"
        type: "string"
        required: true
        description: Branch Code       
      responses:
        201:   
          description: "Successfully received borrower details"
          schema:
            $ref: "./reportsWebTransactionDef.yaml#/definitions/TopBorrowerList"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
 
   /web/v1/getTopDefaulterDetails:   
    get:
      tags:
       - "reportCreationService"
      summary: Get the top borrower from SCF
      description: Get the top borrower from SCF
      operationId: getTopDefaulterDetails
      parameters:
      - name: "appId"
        in: "header"
        type: "string"
        required: true
        description: Application id        
      - name: "userId"
        in: "header"
        type: "string"
        required: true
        description: user id
      - name: "branchCode"
        in: "header"
        type: "string"
        required: true
        description: Branch Code
      - name: "prevMonth"
        in: "query"
        type: "boolean"
        description: Previous Month Indicator       
      responses:
        201:   
          description: "Successfully received the top defaulter details"
          schema:
            $ref: "./reportsWebTransactionDef.yaml#/definitions/TopDefaulterList"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"
 
   /web/v1/financeMaturity:   
     get:
       tags:
        - "reportCreationService"
       summary: Get finance maturity information in the given period
       description: Get finance maturity information in the given period
       operationId: getFinMaturityDetails
       parameters:
       - name: "appId"
         in: "header"
         type: "string"
         required: true
         description: Application id        
       - name: "userId"
         in: "header"
         type: "string"
         required: true
         description: user id
       - name: "fromDate"
         in: "query"
         description: from Date
         type: "string"
       - name: "toDate"
         in: "query"
         description: To Date
         type: "string"
       - name: "branchCode"
         in: "query"
         description: Branch Code
         type: "string"
       - name: "filterRecords"
         in: "query"
         description: Filter Records
         type: "string"
       - name: "borrowerId"
         in: "query"
         description: Borrower Id
         type: "string"
         required: false
       responses:
         201:   
           description: "Successfully received finance maturity information"
           schema:
             $ref: "./reportsWebTransactionDef.yaml#/definitions/FinMaturityResponse"
         400:
           description: "Malformed syntax."
         401:
           description: "Request does not have sufficient credentials."
         403:
           description: "Request is not authorized."
         405:
           description: "Invalid input"
         500:
           description: "Internal error"
 
   /web/v1/txnStatusDetails:   
     get:
       tags:
        - "reportCreationService"
       summary: Get productwise number of in progress txn for the given status
       description: Get productwise number of in progress txn for the given status
       operationId: getTxnStatusDetails
       parameters:
       - name: "appId"
         in: "header"
         type: "string"
         required: true
         description: Application id        
       - name: "userId"
         in: "header"
         type: "string"
         required: true
         description: user id 
       - name: "fromDate"
         in: "query"
         description: From Date
         type: "string"
       - name: "toDate"
         in: "query"
         description: To Date
         type: "string"   
       responses:
         201:
           description: "Successfully received txn status details"
           schema:
             $ref: "./reportsWebTransactionDef.yaml#/definitions/TransactionStatusList"
         400:
           description: "Malformed syntax."
         401:
           description: "Request does not have sufficient credentials."
         403:
           description: "Request is not authorized."
         405:
           description: "Invalid input"
         500:
           description: "Internal error"
 
   /web/v1/limitExpiryDetails:   
    get:
      tags:
       - "reportCreationService"
      summary: Get the top borrower from SCF
      description: Get the top borrower from SCF
      operationId: getLimitExpiryDetails
      parameters:
      - name: "appId"
        in: "header"
        type: "string"
        required: true
        description: Application id        
      - name: "userId"
        in: "header"
        type: "string"
        required: true
        description: user id
      - name: "branchCode"
        in: "header"
        type: "string"
        required: true
        description: Branch Code
      - name: "fromDate"
        in: "query"
        type: "string"
        required: true
        description: From Date 
      - name: "toDate"
        in: "query"
        type: "string"
        required: true
        description: To Date
      - name: "limitType"
        in: "query"
        type: "string"
        required: true
        description: limit type
 
      responses:
        201:   
          description: "Successfully received limit expiry details"
          schema:
            $ref: "./reportsWebTransactionDef.yaml#/definitions/LimitDetailsResponse"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"                
 
   /web/v1/limitExpiry:   
    get:
      tags:
       - "reportCreationService"
      summary: Get the top borrower from SCF
      description: Get the top borrower from SCF
      operationId: getLimitExpiry
      parameters:
      - name: "appId"
        in: "header"
        type: "string"
        required: true
        description: Application id        
      - name: "userId"
        in: "header"
        type: "string"
        required: true
        description: user id
      - name: "branchCode"
        in: "header"
        type: "string"
        required: true
        description: Branch Code       
      - name: "fromDate"
        in: "query"
        type: "string"
        required: true
        description: From Date 
      - name: "toDate"
        in: "query"
        type: "string"
        required: true
        description: To Date 
 
      responses:
        201:   
          description: "Successfully received limit expiry"
          schema:
            $ref: "./reportsWebTransactionDef.yaml#/definitions/LimitExpiryResponse"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        405:
          description: "Invalid input"
        500:
          description: "Internal error"