swagger: "2.0"
info:
  description: "API for Collections Data.  You can find out more about Swagger at [swagger.io](http://swagger.io) and about data types at [Swagger Data Types](https://swagger.io/docs/specification/data-models/data-types/)"
  version: "1.0.0"
  title: "ReportCollectionsService"
host: "api-plato.us.oracle.com:8080"
basePath: "/api/1.0"
consumes:
  - "application/json"
  - "application/xml"
produces:
  - "application/json"
  - "application/xml"
tags:
  - name: "ReportCollectionsService"
    description: "Service API for Report related Operations"

paths:         
  /service/v1/collectionChartData:
   get:
      tags:
        - "ReportCollectionsService"
      summary: "Provides chart data for cash deposit ans cash withdrawal"
      description:  "Retrieves the chart data for cash deposit and cash withdrawal "
      operationId: "getCollectionChartData"
      parameters:
        - name: "appId"
          in: "header"
          type: "string"
          required: true
          description: "Application ID for SMS"
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false
          description: "Tenant ID for SMS" 
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "User id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
          description: "Unique Branch Code"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
          description: "Content of a file"
        - name: "fromDate"
          in: "query"
          required: false
          description: "from date"
          type: "string"
        - name: "toDate"
          in: "query"
          required: false
          description: "To Date"
          type: "string"
        - name: "frequency"
          in: "query"
          required: false
          description: "frequency as M or D"
          type: "string"
        - name: "corporateId"
          in: "query"
          type: "string"
          required: false
          description: "Corporate Id for which data is required"
        - name: "collectionType"
          in: "query"
          type: "string"
          required: false
          description: "Collection Type as CD or CW"
      responses:
        200:
          description: "Successful performs the operation"
          schema:
            $ref: "./cashDashboardReport.yaml#/definitions/ReportDataCollection"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"
          
  /service/v1/collectionChequeData:
   get:
      tags:
        - "ReportCollectionsService"
      summary: "Provides chart data for cheque"
      description:  "Retrieves the chart data for cheque "
      operationId: "getCollectionChequeData"
      parameters:
        - name: "appId"
          in: "header"
          type: "string"
          required: true
          description: "Application ID for SMS"
        - name: "tenantId"
          in: "header"
          type: "string"
          required: false
          description: "Tenant ID for SMS" 
        - name: "userId"
          in: "header"
          type: "string"
          required: true
          description: "User id for SMS"
        - name: "branchCode"
          in: "header"
          type: "string"
          required: true
          description: "Unique Branch Code"
        - name: "contentType"
          in: "header"
          type: "string"
          required: false
          description: "Content of a file"
        - name: "fromDate"
          in: "query"
          required: false
          description: "from date"
          type: "string"
        - name: "toDate"
          in: "query"
          required: false
          description: "To Date"
          type: "string"
        - name: "frequency"
          in: "query"
          required: false
          description: "frequency as M or D"
          type: "string"
        - name: "corporateId"
          in: "query"
          type: "string"
          required: false
          description: "Corporate Id for which data is required"        
      responses:
        200:
          description: "Successful performs the operation"
          schema:
            $ref: "./cashDashboardReport.yaml#/definitions/ReportDataCollection"
        400:
          description: "Malformed syntax."
        401:
          description: "Request does not have sufficient credentials."
        403:
          description: "Request is not authorized."
        500:
          description: "Internal error"