#-----------------------------------------------------------------------------------------------------
#  **
#  ** File Name  : common.yaml
#  **
#  ** Module     : oblm
#  ** 
# /*******************************************************************************
# * This source is part of the Oracle Banking Software Product.
# * Copyright (c) 2018,2021, Oracle and/or its affiliates. All rights reserved.
# *
# * No part of this work may be reproduced, stored in a retrieval system, adopted or tr
# *
# * Oracle Financial Services Software Limited.
# * Oracle Park, Off Western Express Highway,
# * Goregaon (East),
# * Mumbai - 400 063, India.
# ******************************************************************************/
#
#  CHANGE HISTORY
#
#  Created By         :  System
#
#  Bug Number         :  
#  Changed By         :  
#  Change Description :  
#  Change On          :  
#  Search String      :  
#  
#  -------------------------------------------------------------------------------------------------------
  

swagger: "2.0"
info:
 description: "This is a sample server currency server." 
 version: "1.0.0"
 title: "currency Service"
host: "api-plato.us.oracle.com:8080"
basePath: "/api/1.0"
consumes:
 - "application/json"
produces:
 - "application/json"
tags:
 - name: "currency"
   description: " "

schemes:
- "https"

paths:

# path to create a new record and fetch all valid records or by intent
#
#  supprorted http methods POST and GET
#
# path example ../currency

 /currency:
  post:
   tags:
    - "currency"
   summary: "Adds a new currency."
   description: "Adds a new currency. Add additional information here for this endpoint."
   operationId: "saveRecord"
   parameters:
    - name: "currency" 
      in: "body" 
      description: "Request Body that contains data required for creating a new currency" 
      required: true
      schema:
       $ref: "#/definitions/LmmTmCurrencyParametersDTO"
   responses:
    201: 
     description: "Returns message of succes or failure " 
     headers:
      Location:
       description: "URL of newly created currency" 
       type: "string"
     schema:
       $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "currency"
   summary: "Get all valid currency."
   description:  "Get all valid currency. This endpoints will be used to Get all valid currency maintenance records."
   operationId: "getAll"
   parameters:
   - name: includecloseandunauth
     in: query
     description: includecloseandunauth need to be set to fetch summary record, defult value is false
     required: false
     type: boolean
   - name: offset
     in: query
     description: offset is starting no of records to be fetched
     required: false
     type: integer
   - name: limit
     in: query
     description: limit is maximum no of records to be fetched
     required: false
     type: integer
   - in: query
     name: currencyCode
     required: false
     type: string
   - in: query
     name: recordStat
     required: false
     type: string
   - in: query
     name: authStat
     required: false
     type: string
   - in: query   
     name: currencyName
     required: false
     type: string
   - in: query
     name: ieParticipation
     required: false
     type: string
   - in: query
     name: ieBenefit
     required: false
     type: string
   responses:
    201:
     description: "Returns message of succes or failure"
     headers: 
      Location:
       description: ""
       type: "string"
     schema:
       $ref: "#/definitions/LmmTmCurrencyParametersCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"

# path to modify existing record, delete existing record and fetch valid records by id or by intent( includes latestRecord, version no)
#
#  supprorted http methods PUT, DELETE and GET
#
# path examples----
#   PUT       .../currency/xxx
#   DELETE    .../currency/xxx
#   GET       .../currency/xxx
#   GET       .../currency/xxx?version=latestrecord
#   GET       .../currency/xxx?version=1

 /currency/{id}:
  put:
   tags:
    - "currency"
   summary: "Update an existing currency."
   description:  "Update an existing currency."
   operationId: "modifyRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "key of the currency Maintenance"
      required: true
      type: "string"
    - name: "currency"
      in: "body"
      description: "Request Body that contains data required for updating an existing currency"
      required: true
      schema:
       $ref: "#/definitions/LmmTmCurrencyParametersDTO"
   responses:
    200:
     description: "Returns updated currency"
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "currency"
   summary: "Retrieves the currency by ID."
   description:  "Retrieves the currency by ID."
   operationId: "getById"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
    - name: "version"
      in: "query"
      description: "Id of the user that needs to be fetched"
      required: false
      type: "string"
   responses:
    200:
     description: "Returns the currency based on given id."
     schema:
      $ref: "#/definitions/LmmTmCurrencyParametersWrapperDTO"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
  delete:
   tags:
    - "currency"
   summary: "Deletes the currency identified by given ID."
   description:  "Deletes the currency identified by given ID. Add additional information here for the this endpoint."
   operationId: "delete"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the currency maintenance"
      required: true
      type: "string"
    - name: "currency"
      in: "body"
      description: Request body contain currency and Modification no of currency maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to Authorize existing record.
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../currency/xxx/approve

 /currency/{id}/approve:
  patch:
   tags:
    - "currency"
   summary: "Authorize the currency by given ID."
   description:  "Authorize the currency identified by given ID."
   operationId: "authorize"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the currency maintenance"
      required: true
      type: "string"
    - name: "currency"
      in: "body"
      description: Request body contain currency and Modification no of currency maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to close existing record
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../currency/xxx/close
 /currency/{id}/close:
  patch:
   tags:
    - "currency"
   summary: "Close the currency by given ID."
   description:  "Close the currency identified by given ID."
   operationId: "closeRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the currency maintenance"
      required: true
      type: "string"
    - name: "currency"
      in: "body"
      description: Request body contain currency and Modification no of currency maintenance which need to be closed"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to reopen existing record
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../currency/xxx/reopen

 /currency/{id}/reopen:
  patch:
   tags:
    - "currency"
   summary: "reopen the currency by given ID."
   description:  "reopen the currency identified by given ID."
   operationId: "reopenRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the currency maintenance"
      required: true
      type: "string"
    - name: "currency"
      in: "body"
      description: Request body contain currency and Modification no of currency maintenance which need to be reopen"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to get all unauthorized records
#
#  supprorted http methods GET
#
# path examples----
#   GET       .../currency/xxx/unauthorized

 /currency/{id}/unauthorized:
  get:
   tags:
    - "currency"
   summary: "Retrives the currency by given ID."
   description:  "Retrives the currency identified by given ID."
   operationId: "authQuery"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the currency based on given id."
     schema:
       $ref: "#/definitions/LmmTmCurrencyParametersCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to  history record for remitterid
#
#  supprorted http methods GETS
#
# path examples----
#   GET       .../currency/xxx/history

 /currency/{id}/history:
  get:
   tags:
    - "currency"
   summary: "Retrives the currency by given ID."
   description:  "Retrives the currency by ID."
   operationId: "getHistory"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the currency based on given id."
     schema:
       $ref: "#/definitions/LmmTmCurrencyParametersCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
definitions:
 LmmTmCurrencyParametersDTO:
  type: object
  allOf:
  - $ref: '#/definitions/GenericDto'
  - type: object
    properties:
     currencyCode:
      type: string
      description: ""
     currencyName:
      type: string
      description: ""
     ieBenefit:
      type: string
      description: ""
     ieParticipation:
      type: string
      description: ""
    required:
     - currencyCode
     - currencyName
 ModListKeyDto:
  type: object
  properties:
   modNos:
    type: array
    items:
     type: integer
   remarks:
    type: string
 KeyDto:
  type: object
  properties:
   modNo:
    type: integer
   remarks:
    type: string
 ResponseDto:
  type: object
  properties:
   id:
    type: string
   status:
    type: string
   codes:
    type: array
    items:
     $ref: "#/definitions/ResponseCode"
   requestId:
    type: string
 ResponseCode:
  type: object
  properties:
   Code:
    type: string
   Desc:
    type: string
   Type:
    type: string
   Language:
    type: string
   args:
    type: array
    items:
     type: object
   arg:
    type: string
 GenericDto:
  allOf:
   - type: object
     discriminator: resource_type
 LmmTmCurrencyParametersCollection: 
  description: "Collection of currencyparameters."
  type: "object"
  properties:
   data:
    type: "array"
    items: 
     $ref: "#/definitions/LmmTmCurrencyParametersDTO"
   paging:
    $ref: "#/definitions/PagingDto"
 PagingDto:
  type: object
  properties:
   totalResults:
    type: integer
 ResponseDtoWrapper:
  type: object
  properties:
   messages:
    $ref: "#/definitions/ResponseDto"
   data:
    $ref: "#/definitions/ResponseResourceSupport"
 ResponseResourceSupport:
  type: object
 LmmTmCurrencyParametersWrapperDTO:
  type: object
  properties:
   data:
    $ref: "#/definitions/LmmTmCurrencyParametersDTO"
