#-----------------------------------------------------------------------------------------------------
#  **
#  ** File Name  : common.yaml
#  **
#  ** Module     : oblm
#  ** 
# /*******************************************************************************
# * This source is part of the Oracle Banking Software Product.
# * Copyright (c) 2018,2021, Oracle and/or its affiliates. All rights reserved.
# *
# * No part of this work may be reproduced, stored in a retrieval system, adopted or tr
# *
# * Oracle Financial Services Software Limited.
# * Oracle Park, Off Western Express Highway,
# * Goregaon (East),
# * Mumbai - 400 063, India.
# ******************************************************************************/
#
#  CHANGE HISTORY
#
#  Created By         :  System
#
#  Bug Number         :  
#  Changed By         :  
#  Change Description :  
#  Change On          :  
#  Search String      :  
#  
#  -------------------------------------------------------------------------------------------------------
  

swagger: "2.0"
info:
 description: "This is a sample server defaultPaymentInstruction server." 
 version: "1.0.0"
 title: "defaultPaymentInstruction Service"
host: "api-plato.us.oracle.com:8080"
basePath: "/api/1.0"
consumes:
 - "application/json"
produces:
 - "application/json"
tags:
 - name: "defaultPaymentInstruction"
   description: "Adds a new payment instruction. Add additional information here for this endpoint."

schemes:
- "https"

paths:

# path to create a new record and fetch all valid records or by intent
#
#  supprorted http methods POST and GET
#
# path example ../defaultPaymentInstruction

 /defaultPaymentInstruction:
  post:
   tags:
    - "defaultPaymentInstruction"
   summary: "Adds a new defaultPaymentInstruction."
   description: "Adds a new defaultPaymentInstruction. Add additional information here for this endpoint."
   operationId: "saveRecord"
   parameters:
    - name: "defaultPaymentInstruction" 
      in: "body" 
      description: "Request Body that contains data required for creating a new defaultPaymentInstruction" 
      required: true
      schema:
       $ref: "#/definitions/LmmTmDefaultPaymentInstructionDTO"
   responses:
    201: 
     description: "Returns message of succes or failure " 
     headers:
      Location:
       description: "URL of newly created defaultPaymentInstruction" 
       type: "string"
     schema:
       $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "defaultPaymentInstruction"
   summary: "Get all valid defaultPaymentInstruction."
   description:  "Get all valid defaultPaymentInstruction. This endpoints will be used to Get all valid defaultPaymentInstruction maintenance records."
   operationId: "getAll"
   parameters:
   - name: includecloseandunauth
     in: query
     description: includecloseandunauth need to be set to fetch summary record, defult value is false
     required: false
     type: boolean
   - name: offset
     in: query
     description: offset is starting no of records to be fetched
     required: false
     type: integer
   - name: limit
     in: query
     description: limit is maximum no of records to be fetched
     required: false
     type: integer
   - name: hostCode
     in: query
     description: exact hostCode records to be fetched
     required: false
     type: string
   - name: description
     in: query
     description: exact description records to be fetched
     required: false
     type: string
   - name: recordStat
     required: false
     type: string
     in: query
   - name: authStat
     required: false
     type: string
     in: query     
   responses:
    201:
     description: "Returns message of succes or failure"
     headers: 
      Location:
       description: ""
       type: "string"
     schema:
       $ref: "#/definitions/LmmTmDefaultPaymentInstructionCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"

# path to modify existing record, delete existing record and fetch valid records by id or by intent( includes latestRecord, version no)
#
#  supprorted http methods PUT, DELETE and GET
#
# path examples----
#   PUT       .../defaultPaymentInstruction/xxx
#   DELETE    .../defaultPaymentInstruction/xxx
#   GET       .../defaultPaymentInstruction/xxx
#   GET       .../defaultPaymentInstruction/xxx?version=latestrecord
#   GET       .../defaultPaymentInstruction/xxx?version=1

 /defaultPaymentInstruction/{id}:
  put:
   tags:
    - "defaultPaymentInstruction"
   summary: "Update an existing defaultPaymentInstruction."
   description:  "Update an existing defaultPaymentInstruction."
   operationId: "modifyRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "key of the defaultPaymentInstruction Maintenance"
      required: true
      type: "string"
    - name: "defaultPaymentInstruction"
      in: "body"
      description: "Request Body that contains data required for updating an existing defaultPaymentInstruction"
      required: true
      schema:
       $ref: "#/definitions/LmmTmDefaultPaymentInstructionDTO"
   responses:
    200:
     description: "Returns updated defaultPaymentInstruction"
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "defaultPaymentInstruction"
   summary: "Retrieves the defaultPaymentInstruction by ID."
   description:  "Retrieves the defaultPaymentInstruction by ID."
   operationId: "getById"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
    - name: "version"
      in: "query"
      description: "Id of the user that needs to be fetched"
      required: false
      type: "string"
   responses:
    200:
     description: "Returns the defaultPaymentInstruction based on given id."
     schema:
      $ref: "#/definitions/LmmTmDefaultPaymentInstructionWrapperDTO"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
  delete:
   tags:
    - "defaultPaymentInstruction"
   summary: "Deletes the defaultPaymentInstruction identified by given ID."
   description:  "Deletes the defaultPaymentInstruction identified by given ID. Add additional information here for the this endpoint."
   operationId: "delete"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the defaultPaymentInstruction maintenance"
      required: true
      type: "string"
    - name: "defaultPaymentInstruction"
      in: "body"
      description: Request body contain defaultPaymentInstruction and Modification no of defaultPaymentInstruction maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to Authorize existing record.
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../defaultPaymentInstruction/xxx/approve

 /defaultPaymentInstruction/{id}/approve:
  patch:
   tags:
    - "defaultPaymentInstruction"
   summary: "Authorize the defaultPaymentInstruction by given ID."
   description:  "Authorize the defaultPaymentInstruction identified by given ID."
   operationId: "authorize"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the defaultPaymentInstruction maintenance"
      required: true
      type: "string"
    - name: "defaultPaymentInstruction"
      in: "body"
      description: Request body contain defaultPaymentInstruction and Modification no of defaultPaymentInstruction maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to close existing record
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../defaultPaymentInstruction/xxx/close
 /defaultPaymentInstruction/{id}/close:
  patch:
   tags:
    - "defaultPaymentInstruction"
   summary: "Close the defaultPaymentInstruction by given ID."
   description:  "Close the defaultPaymentInstruction identified by given ID."
   operationId: "closeRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the defaultPaymentInstruction maintenance"
      required: true
      type: "string"
    - name: "defaultPaymentInstruction"
      in: "body"
      description: Request body contain defaultPaymentInstruction and Modification no of defaultPaymentInstruction maintenance which need to be closed"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to reopen existing record
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../defaultPaymentInstruction/xxx/reopen

 /defaultPaymentInstruction/{id}/reopen:
  patch:
   tags:
    - "defaultPaymentInstruction"
   summary: "reopen the defaultPaymentInstruction by given ID."
   description:  "reopen the defaultPaymentInstruction identified by given ID."
   operationId: "reopenRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the defaultPaymentInstruction maintenance"
      required: true
      type: "string"
    - name: "defaultPaymentInstruction"
      in: "body"
      description: Request body contain defaultPaymentInstruction and Modification no of defaultPaymentInstruction maintenance which need to be reopen"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to get all unauthorized records
#
#  supprorted http methods GET
#
# path examples----
#   GET       .../defaultPaymentInstruction/xxx/unauthorized

 /defaultPaymentInstruction/{id}/unauthorized:
  get:
   tags:
    - "defaultPaymentInstruction"
   summary: "Retrives the defaultPaymentInstruction by given ID."
   description:  "Retrives the defaultPaymentInstruction identified by given ID."
   operationId: "authQuery"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the defaultPaymentInstruction based on given id."
     schema:
       $ref: "#/definitions/LmmTmDefaultPaymentInstructionCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to  history record for remitterid
#
#  supprorted http methods GETS
#
# path examples----
#   GET       .../defaultPaymentInstruction/xxx/history

 /defaultPaymentInstruction/{id}/history:
  get:
   tags:
    - "defaultPaymentInstruction"
   summary: "Retrives the defaultPaymentInstruction by given ID."
   description:  "Retrives the defaultPaymentInstruction by ID."
   operationId: "getHistory"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the defaultPaymentInstruction based on given id."
     schema:
       $ref: "#/definitions/LmmTmDefaultPaymentInstructionCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

 /defaultPaymentInstruction/templates:
  post:
   tags:
    - "defaultPaymentInstruction"
   summary: "get a list of defaultPaymentInstruction templates."
   description: "get a list of defaultPaymentInstruction templates"
   operationId: "getDefaultPaymentInstructionTemplates"
   parameters:
    - name: "sweepAccountPairCollection" 
      in: "body" 
      description: "Request Body that contains list of acc paris" 
      required: true
      schema:
       $ref: "#/definitions/LmmTmSweepAccountPairCollection"
   responses:
    201:
     description: "Returns message of succes or failure"
     headers: 
      Location:
       description: ""
       type: "string"
     schema:
       $ref: "#/definitions/LmmTmSweepAccountPairCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"


definitions:
 LmmTmDefaultPaymentInstructionDTO:
  type: object
  allOf:
  - $ref: '#/definitions/GenericDto'
  - type: object
    properties:
     hostCode:
      type: string
      description: ""
     description:
      type: string
      description: ""
     customerId:
      type: string
      description: ""      
     customerName:
      type: string
      description: ""                  
     LmmTmDefaultPaymentInstructionTemplateDTO:
      type: array
      items:
       $ref: '#/definitions/LmmTmDefaultPaymentInstructionTemplateDTO'
 LmmTmDefaultPaymentInstructionTemplateDTO:
  type: object
  properties:
     id:
      type: string
      description: ""
      maxLength: 36
     defaultPaymentInstructionId:
      type: string
      description: ""
      maxLength: 36  
     ddaFromToAccount:
      type: string
      description: ""
      maxLength: 36      
     ddaEntity:
      type: string
      description: ""
      maxLength: 36      
     transferType:
      type: string
      description: ""
      maxLength: 36      
     templateName:
      type: string
      description: ""
      maxLength: 36            
 ModListKeyDto:
  type: object
  properties:
   modNos:
    type: array
    items:
     type: integer
   remarks:
    type: string
 KeyDto:
  type: object
  properties:
   modNo:
    type: integer
   remarks:
    type: string
 ResponseDto:
  type: object
  properties:
   id:
    type: string
   status:
    type: string
   codes:
    type: array
    items:
     $ref: "#/definitions/ResponseCode"
   requestId:
    type: string
 ResponseCode:
  type: object
  properties:
   Code:
    type: string
   Desc:
    type: string
   Type:
    type: string
   Language:
    type: string
   args:
    type: array
    items:
     type: object
   arg:
    type: string
 GenericDto:
  allOf:
   - type: object
     discriminator: resource_type
 LmmTmDefaultPaymentInstructionCollection: 
  description: "Collection of payment instructions."
  type: "object"
  properties:
   data:
    type: "array"
    items: 
     $ref: "#/definitions/LmmTmDefaultPaymentInstructionDTO"
   paging:
    $ref: "#/definitions/PagingDto"
 PagingDto:
  type: object
  properties:
   totalResults:
    type: integer
 ResponseDtoWrapper:
  type: object
  properties:
   messages:
    $ref: "#/definitions/ResponseDto"
   data:
    $ref: "#/definitions/ResponseResourceSupport"
 ResponseResourceSupport:
  type: object
 LmmTmDefaultPaymentInstructionWrapperDTO:
  type: object
  properties:
   data:
    $ref: "#/definitions/LmmTmDefaultPaymentInstructionDTO"
 LmmTmSweepAccountPairCollection:
   type: object
   properties:
     customerId:
       type: string
       description: ''
     data:
       type: array
       items:
         $ref: '#/definitions/LmmTmSweepAccountPairDTO'
 LmmTmSweepAccountPairDTO:
   type: object
   properties:
     accountNumber:
       type: string
       description: ''
     branchCode:
       type: string
       description: ''
     parentAccountNumber:
       type: string
       description: ''
     parentAccountBranch:
       type: string
       description: ''
     isTwoWay:
       type: string
       description: ''
     oneWaytemplateName:
      type: string
      description: ""
     twoWaytemplateName:
      type: string
      description: "" 
     isExternal:
      type: string
      description: "" 
     countryId:
      type: string
      description: "" 
     isparentAccountExternal:
      type: string
      description: "" 
     parentAccountCountryId:
      type: string
      description: "" 