#-----------------------------------------------------------------------------------------------------
#  **
#  ** File Name  : common.yaml
#  **
#  ** Module     : oblm
#  ** 
# /*******************************************************************************
# * This source is part of the Oracle Banking Software Product.
# * Copyright (c) 2018,2021, Oracle and/or its affiliates. All rights reserved.
# *
# * No part of this work may be reproduced, stored in a retrieval system, adopted or tr
# *
# * Oracle Financial Services Software Limited.
# * Oracle Park, Off Western Express Highway,
# * Goregaon (East),
# * Mumbai - 400 063, India.
# ******************************************************************************/
#
#  CHANGE HISTORY
#
#  Created By         :  System
#
#  Bug Number         :  
#  Changed By         :  
#  Change Description :  
#  Change On          :  
#  Search String      :  
#  
#  -------------------------------------------------------------------------------------------------------
  

swagger: "2.0"
info:
 description: "This is a sample server interestaccountgroup server." 
 version: "1.0.0"
 title: "interestaccountgroup Service"
host: "api-plato.us.oracle.com:8080"
basePath: "/api/1.0"
consumes:
 - "application/json"
produces:
 - "application/json"
tags:
 - name: "interestaccountgroup"
   description: "Adds a new account. Add additional information here for this endpoint."

schemes:
- "https"

paths:

# path to create a new record and fetch all valid records or by intent
#
#  supprorted http methods POST and GET
#
# path example ../interestaccountgroup

 /interestaccountgroup:
  post:
   tags:
    - "interestaccountgroup"
   summary: "Adds a new interestaccountgroup."
   description: "Adds a new interestaccountgroup. Add additional information here for this endpoint."
   operationId: "saveRecord"
   parameters:
    - name: "interestaccountgroup" 
      in: "body" 
      description: "Request Body that contains data required for creating a new interestaccountgroup" 
      required: true
      schema:
       $ref: "#/definitions/LmmTmIntAccountGroupDTO"
   responses:
    201: 
     description: "Returns message of succes or failure " 
     headers:
      Location:
       description: "URL of newly created interestaccountgroup" 
       type: "string"
     schema:
       $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "interestaccountgroup"
   summary: "Get all valid interestaccountgroup."
   description:  "Get all valid interestaccountgroup. This endpoints will be used to Get all valid interestaccountgroup maintenance records."
   operationId: "getAll"
   parameters:
   - name: includecloseandunauth
     in: query
     description: includecloseandunauth need to be set to fetch summary record, defult value is false
     required: false
     type: boolean
   - name: offset
     in: query
     description: offset is starting no of records to be fetched
     required: false
     type: integer
   - name: limit
     in: query
     description: limit is maximum no of records to be fetched
     required: false
     type: integer
   - name: groupCode
     in: query
     description: exact groupCode records to be fetched
     required: false
     type: string
   - name: groupDescription
     in: query
     description: exact groupDescription records to be fetched
     required: false
     type: string     
   responses:
    201:
     description: "Returns message of succes or failure"
     headers: 
      Location:
       description: ""
       type: "string"
     schema:
       $ref: "#/definitions/LmmTmIntAccountGroupCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"

# path to modify existing record, delete existing record and fetch valid records by id or by intent( includes latestRecord, version no)
#
#  supprorted http methods PUT, DELETE and GET
#
# path examples----
#   PUT       .../interestaccountgroup/xxx
#   DELETE    .../interestaccountgroup/xxx
#   GET       .../interestaccountgroup/xxx
#   GET       .../interestaccountgroup/xxx?version=latestrecord
#   GET       .../interestaccountgroup/xxx?version=1

 /interestaccountgroup/{id}:
  put:
   tags:
    - "interestaccountgroup"
   summary: "Update an existing interestaccountgroup."
   description:  "Update an existing interestaccountgroup."
   operationId: "modifyRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "key of the interestaccountgroup Maintenance"
      required: true
      type: "string"
    - name: "interestaccountgroup"
      in: "body"
      description: "Request Body that contains data required for updating an existing interestaccountgroup"
      required: true
      schema:
       $ref: "#/definitions/LmmTmIntAccountGroupDTO"
   responses:
    200:
     description: "Returns updated interestaccountgroup"
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    405:
     description: "Invalid input"
    500:
     description: "Internal error"
  get:
   tags:
    - "interestaccountgroup"
   summary: "Retrieves the interestaccountgroup by ID."
   description:  "Retrieves the interestaccountgroup by ID."
   operationId: "getById"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
    - name: "version"
      in: "query"
      description: "Id of the user that needs to be fetched"
      required: false
      type: "string"
   responses:
    200:
     description: "Returns the interestaccountgroup based on given id."
     schema:
      $ref: "#/definitions/LmmTmIntAccountGroupWrapperDTO"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
  delete:
   tags:
    - "interestaccountgroup"
   summary: "Deletes the interestaccountgroup identified by given ID."
   description:  "Deletes the interestaccountgroup identified by given ID. Add additional information here for the this endpoint."
   operationId: "delete"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the interestaccountgroup maintenance"
      required: true
      type: "string"
    - name: "interestaccountgroup"
      in: "body"
      description: Request body contain interestaccountgroup and Modification no of interestaccountgroup maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to Authorize existing record.
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../interestaccountgroup/xxx/approve

 /interestaccountgroup/{id}/approve:
  patch:
   tags:
    - "interestaccountgroup"
   summary: "Authorize the interestaccountgroup by given ID."
   description:  "Authorize the interestaccountgroup identified by given ID."
   operationId: "authorize"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the interestaccountgroup maintenance"
      required: true
      type: "string"
    - name: "interestaccountgroup"
      in: "body"
      description: Request body contain interestaccountgroup and Modification no of interestaccountgroup maintenance which need to be deleted"
      required: true
      schema:
       $ref: "#/definitions/ModListKeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to close existing record
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../interestaccountgroup/xxx/close
 /interestaccountgroup/{id}/close:
  patch:
   tags:
    - "interestaccountgroup"
   summary: "Close the interestaccountgroup by given ID."
   description:  "Close the interestaccountgroup identified by given ID."
   operationId: "closeRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the interestaccountgroup maintenance"
      required: true
      type: "string"
    - name: "interestaccountgroup"
      in: "body"
      description: Request body contain interestaccountgroup and Modification no of interestaccountgroup maintenance which need to be closed"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to reopen existing record
#
#  supprorted http methods PATCH
#
# path examples----
#   PATCH       .../interestaccountgroup/xxx/reopen

 /interestaccountgroup/{id}/reopen:
  patch:
   tags:
    - "interestaccountgroup"
   summary: "reopen the interestaccountgroup by given ID."
   description:  "reopen the interestaccountgroup identified by given ID."
   operationId: "reopenRecord"
   parameters:
    - name: "id"
      in: "path"
      description: "Key of the interestaccountgroup maintenance"
      required: true
      type: "string"
    - name: "interestaccountgroup"
      in: "body"
      description: Request body contain interestaccountgroup and Modification no of interestaccountgroup maintenance which need to be reopen"
      required: true
      schema:
       $ref: "#/definitions/KeyDto"
   responses:
    200:
     description: "Successful operation."
     schema:
      $ref: "#/definitions/ResponseDtoWrapper"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to get all unauthorized records
#
#  supprorted http methods GET
#
# path examples----
#   GET       .../interestaccountgroup/xxx/unauthorized

 /interestaccountgroup/{id}/unauthorized:
  get:
   tags:
    - "interestaccountgroup"
   summary: "Retrives the interestaccountgroup by given ID."
   description:  "Retrives the interestaccountgroup identified by given ID."
   operationId: "authQuery"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the interestaccountgroup based on given id."
     schema:
       $ref: "#/definitions/LmmTmIntAccountGroupCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"

# path to  history record for remitterid
#
#  supprorted http methods GETS
#
# path examples----
#   GET       .../interestaccountgroup/xxx/history

 /interestaccountgroup/{id}/history:
  get:
   tags:
    - "interestaccountgroup"
   summary: "Retrives the interestaccountgroup by given ID."
   description:  "Retrives the interestaccountgroup by ID."
   operationId: "getHistory"
   parameters:
    - name: "id"
      in: "path"
      description: "Id of the user that needs to be fetched"
      required: true
      type: "string"
   responses:
    200:
     description: "Returns the interestaccountgroup based on given id."
     schema:
       $ref: "#/definitions/LmmTmIntAccountGroupCollection"
    400:
     description: "Malformed syntax."
    401:
     description: "Request does not have sufficient credentials."
    403:
     description: "Request is not authorized."
    500:
     description: "Internal error"
definitions:
 LmmTmIntAccountGroupDTO:
  type: object
  allOf:
  - $ref: '#/definitions/GenericDto'
  - type: object
    properties:
     groupCode:
      type: string
      description: ""
     groupDescription:
      type: string
      description: ""
 ModListKeyDto:
  type: object
  properties:
   modNos:
    type: array
    items:
     type: integer
   remarks:
    type: string
 KeyDto:
  type: object
  properties:
   modNo:
    type: integer
   remarks:
    type: string
 ResponseDto:
  type: object
  properties:
   id:
    type: string
   status:
    type: string
   codes:
    type: array
    items:
     $ref: "#/definitions/ResponseCode"
   requestId:
    type: string
 ResponseCode:
  type: object
  properties:
   Code:
    type: string
   Desc:
    type: string
   Type:
    type: string
   Language:
    type: string
   args:
    type: array
    items:
     type: object
   arg:
    type: string
 GenericDto:
  allOf:
   - type: object
     discriminator: resource_type
 LmmTmIntAccountGroupCollection: 
  description: "Collection of intaccountgroup."
  type: "object"
  properties:
   data:
    type: "array"
    items: 
     $ref: "#/definitions/LmmTmIntAccountGroupDTO"
   paging:
    $ref: "#/definitions/PagingDto"
 PagingDto:
  type: object
  properties:
   totalResults:
    type: integer
 ResponseDtoWrapper:
  type: object
  properties:
   messages:
    $ref: "#/definitions/ResponseDto"
   data:
    $ref: "#/definitions/ResponseResourceSupport"
 ResponseResourceSupport:
  type: object
 LmmTmIntAccountGroupWrapperDTO:
  type: object
  properties:
   data:
    $ref: "#/definitions/LmmTmIntAccountGroupDTO"
